about-us {
	contact-item {
		h2 {
			font-family: @ff-bold;
			font-size: 16px
		}
		p{
			&:before {
				color: #9f936b
			}
		}
		a {
			color: #9f936b
		}
	}
}

about-detail {
  //- Image
  img{
    border: 0;
    margin-bottom: @baseline
  }
}