booking-widget {
	button-submit{
		height: 35px;
    	line-height: 35px;
	}
}

booking-widget-search form-element:before,
booking-widget-add-room form-element:before {
	color: #bbb
}

booking-widget-search h3:after {
	color: #fff
}