/////////////////////
//// BREADCRUMBS ////
/////////////////////

breadcrumbs{
  margin-bottom: 0;
}
.breadcrumbs {
  .crumbs {

    li {
      a {
        color: @c-navbar-content;

        &:hover {
          color: darken(@c-navbar-content, 10%);
        }
      }
  	}
  }

}