///////////////////////
//// CONTACTS PAGE ////
///////////////////////

contacts-page {
	hr {
		background: none;
		&:after,
		&:before {
			border: 0
		}
	}
	label{
    padding-bottom: 40px;
    padding-top: 0;
	}
	[for=message]{
    padding-bottom: 30px;
    padding-top: 0;
	}
  contact-list {
    contact-item {
      p:before{
        color: #a49335
      }
    }
  }
 //- Form
  form {


    // Inputs adjustment
    form-element {
    	.chosen-container,
      input[type=text],
      input[type=email] {
        height: 54px;
        line-height: 54px;
      }
      .chosen-container,
      input[type=text],
      input[type=email],
      textarea,
      textarea:required {
      	box-shadow: 0px 2px 2px 1px, inset 0 1px 3px rgba(55, 53, 53, 0.2);
      	&:focus{
	      	box-shadow: 0px 2px 2px 1px, inset 0 1px 3px rgba(55, 53, 53, 0.2);
      	}
      }
      textarea {
      	// MOBILE SPECIFIC STYLES
    		@media only screen and @large-mobile-max {
	        height: 94px;
	      }
      }
  	}
  }

}
