////////////////
//// FOOTER ////
////////////////

footer {
	padding-top: @baseline*2;

 	p {
 		color: #bbb;
 	}

	a {
		color: #bbb;
	}
	social-links {
		.viewport-mobile & {
	      display: none;
	    }
	}
}

