////////////////
//// FOOTER ////
////////////////

footer {
	padding-top: @baseline*2;

	&.special-footer{
		background: none;
    border-top: 0;
    margin:0
	}

 	p {
 		color: #bbb;
 	}

	a {
		color: #bbb;
	}
	social-links {
		.viewport-mobile & {
	      display: none;
	    }
	    a {
	    	&:focus,
	    	&:hover {
	    		background: #9f936b;
	    	}
	    }
	}
}