////////////////
//// FOOTER ////
////////////////

footer {
	padding-top: @baseline*2;

	&.special-footer{
		background: none;
        border-top: 0;
	}

 	p {
 		color: #bbb;
 	}

	a {
		color: #bbb;
	}
	social-links {
		.viewport-mobile & {
      display: none;
    }
    li {
    	margin: 0 5.5px;
    }
    a {
    	font-size: 20px;
    	height: @baseline - 2;
    	line-height: @baseline + 1;
    	width: @baseline - 2;
    	&:focus,
    	&:hover {
    		background: #9f936b;
    	}

    	&.pinterest:before {
				content: @fa-var-pinterest-p;
			}
    }
	}
}