///////////////////////
//// HOTELS DETAIL ////
///////////////////////

hotel-detail {
	> header {
    margin-bottom: @baseline;
  }
	// Page Heading
  h1{
  	margin-bottom: 0
  }

  hr {
  	background: #d9d9d9;
  	height: 1px
  }
  .back-to-top {
    .viewport-mobile & {
      bottom: 110px;
    }
  }
  .hotel-detail__rooms {
  	hr {
  		margin-bottom: 62px
  	}
  	.search-details {
  		margin: 0;
  		.room-counter {
  			font-style: inherit;
        .viewport-mobile & {
          display: none
        }
  		}
  	}
  	.section-header {
      h2 {
        color: @c-grey;
      }
  		order-switch {
  			.chosen-container{
  				width: 220px !important;
  			}
  		}
  	}
  	.rooms-list {
  		pricing-switch {
  	  		margin: -20px 0 0;
  	  	}
  	  list-item {
        .item-header h3,
        h3 {
          font-family: @ff-bold;
          margin-bottom: 10px;
          margin-top: 10px;
          a {
            color: @c-grey;

            &:after {
              display: none;
            }
          }
        }
      }
  	}
  	list-items {
  		list-item {
        .viewport-mobile & {
          border-width: 1px;
          margin-bottom: @baseline;
        }

        .item-header.mobile{
          margin-bottom: 0;
          .viewport-mobile &{
            border: 0;
          }
          h3 {
            a {
              .viewport-mobile & {
                margin: 0;
              }
              &:after{
                display: none !important
              }
            }
          }
        }
        .item-header.desktop{
          h3 {
            a {
              &:after{
                display: none !important
              }
            }
          }
        }

  			.list-item-container{
          room-details {
            .viewport-mobile & {
              padding: 0;
            }
          }
  				> div {
  					&.list-item-info{
  						padding-top: 1px;

  						ul.amenities {
  						    padding-left: 25px;
							    padding-top: 20px;
  						}
  					}
  				}
	  			room-details {
	  				.description{
	  					font-size: @size--2;
	  					width: 65%;
	  				}
	  				> .pricing-info {
	  					button{
	  						font-size: @size--0;
	  						height: 35px;
	  						line-height: 35px;
	  						min-width: 100px;
	  					}
	  				}
	  			}
  			}
  		}
      .display-all-rooms,
      .display-more-rooms {
        color: #fff;
        font-family: @ff-bold;
        background: @c-dark-brown;
      }
  	}
  }
}