//////////////////////
//// OFFER DETAIL ////
//////////////////////

offer-detail {
  //- Book Now Button
  button-submit {
    .viewport-mobile &{
    	height: @baseline;
    	line-height: @baseline;
    	padding: 0 @baseline/2;
    	min-width: 0
    }
  }
}