///////////////////////////////
//// PROFILE/REGISTER PAGE ////
///////////////////////////////

profile-page,
register-page {

  //- Page Heading
  header{
    h1 {
    	color: #585858;
    	font-size: 16px;
    	font-weight: 700;
    }
  }
  form {
  	fieldset {
  		form-element {
	  		label {
	  			color: #747272;
	  			line-height: 26px;
	  			margin-bottom: 0;
	  		}
 				input[type="text"],
        input[type="email"],
        input[type="password"],
        input[type="tel"],
        select,
        textarea {
        	border-color: #979797
        }
  		}
  	}
  }
}