
reservation-widget {
	form {
		background: #f9f9f9;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    padding: 10px 25px;
    box-sizing: border-box;
    margin: 15px 0;
	}
	reservation-billing {
		form {
			background: transparent;
			border: 0;
			padding: 0;
    	box-sizing: inherit;
		}
	}
	.room-data {
		.desc,
		.price {
			color: #747272
		}
	}


	input[type="text"],
  input[type="email"],
  select,
  .chosen-container,
  .chosen-container .chosen-single,
  textarea {
  	border-color: #E9E9E9;
  }

 	button {
 		&.back,
 		&.next{
	    .viewport-mobile &{
	    	height: @baseline;
	    	line-height: @baseline;

	    	&:after {
					height: @baseline;
					line-height: @baseline;
	    	}
	    }
	  }
 	}
}