room-products {
	> ul {
		> li {
			.rate-description {
				border-right: 0;
				h4{
					> span{
						text-transform: uppercase;
						color: @c-dark-brown;
					}
					a{
						color: @c-dark-brown;
						&.info:after{
							display: none !important
						}
					}
				}
				> p {
					font-size: 12px
				}
			}
			pricing-details {
				.action-buttons,
				.price-details{
					float: none;
					width: auto;
					text-align: right;
				}
				.price-details {
					.price-form{
						font-style: normal;
						font-size: 16px;
						font-family: @ff-bold;

						.value {
							color: #747272
						}
					}
				}
				.action-buttons {
					padding: 0
				}
			}
		}
	}
}