/////////////////////
//// ROOM DETAIL ////
/////////////////////

hotel-room {
	section.room-description {
		margin-top: @baseline;
	}
	.room-gallery {
		li{
			figure{
				left: inherit;
				top: inherit;
			}
		}
	}
	hr {
		height: 1px
	}
}

.products-not-available,
.reservations-not-available {
	.viewport-mobile & {
		padding: 25px;
	}
}