/////////////////////
//// ROOM DETAIL ////
/////////////////////

hotel-room {
	section.room-description {
		margin-top: @baseline;
	}
	.room-gallery {
		li{
			figure{
				.viewport-mobile {
					left: inherit;
					top: inherit;
				}
			}
		}
	}
	hr {
		height: 1px
	}
}