
///////////////////////////////
// Styles for 404 error page //
///////////////////////////////
.page-not-found {
  padding-bottom: 120px;
  color: #373535;
  background: url('@{img-prefix}/v4/404.png') no-repeat center 20%;
  text-align: center;

  img {
    margin: @baseline 0;
  }

  h1, p {
    font-weight: 300;
    line-height: 1.25;
    margin: 0.25em 0;
  }

  h1 {
    font-size: 72px;
  }

  p {
    font-size: @size-4;
  }

  a {
    text-decoration: underline;
  }
}
