///////////////////////
//// ABOUT US PAGE ////
///////////////////////

about-us {
  display: block;

  //- Page Heading
  h1 {
    .h1;
    font-weight: 300;
  }

  p {
    color: @c-gray;
  }

  //- Contacts List
  contacts-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: @baseline;
  }

  contact-item {
    flex: 0 0 250px;

    h2 {
      font-weight: bold;
      line-height: @baseline * 2;
    }
  }

}


about-detail {
  &:extend(about-us);

  //- Page Heading
  h1 {
    .h1;
  }

  h2 {
    .h2;
    margin-top: 0;
  }

  //- Image
  img {
    display: block;
    margin-bottom: @baseline;
  }

  //- Content of article
  > div {
    margin-bottom: @baseline;
  }
}
