///////////////////////
//// ABOUT US PAGE ////
///////////////////////

about-us {

  //- Page Heading
  h1 {
    .h1;
  }

  //- Contacts List
  contacts-list {
    display: flex;
    justify-content: space-between;
  }

  contact-item {
    flex: 0 0 250px;

    h2 {
      font-weight: bold;
      line-height: @baseline * 2;
    }
  }

}
