////////////////////////
//// BOOKING WIDGET ////
////////////////////////

booking-widget {
  display: block;
  max-width: 960px;
  margin: 0 auto;
  max-height: 0px;
  .clearfix;
  //transition: max-height 1s ease-out;
  .transition(max-height, 1s, ease-in-out);
  //Fix for chrome leaving line trace artifact after animation
  -webkit-transform: translate3d(0,0,0);
  overflow: hidden;

  &.is-open {
    max-height: 80px;
    &.multiroom-mode{
      max-height: 300px;
    }
    &.transEnd{
      overflow: visible;
    }
  }

  .viewport-mobile &{
    max-height: auto;
    transition: none;
    overflow: visible;
  }

  // Chosen dropdown - open up not down
  .chosen-container .chosen-drop {
    bottom: 100%;
    top: auto;

    border: 1px solid #ccc;
    border-bottom: 0;
  }

  .viewport-mobile & {
    form-element.hotel{
      // Chosen dropdown - open down not up for hotels only
      .chosen-container .chosen-drop {
        bottom: auto;
        top: 100%;

        border: 1px solid #ccc;
        border-bottom: 0;
      }
    }
  }

  //- Search button
  button-submit {
    width: 10%;
    float: right;
    align-self: center;
    flex: 0 0 auto;
    margin-top: 22px;
    height: 32px;
    line-height: 32px;
  }

  &.multiroom-mode{
    button-submit {
      margin-bottom: 20px;
      margin-right: 16px;
    }
  }

  .viewport-mobile &{
    padding: 0 20px;
    button-submit {
      display: block;
      width: 100%;
      margin: 20px 0 20px;
    }
  }
}


//- Form elements
booking-widget-search form-element,
booking-widget-add-room form-element {
  align-items: center;
  display: flex;
  flex: 2;
  padding-right: @baseline/2;

  .viewport-mobile &{
    padding-right: 0;
    margin-bottom: 20px;
    input,
    .chosen-container,
    .chosen-single{
      height: 40px;
      line-height: 40px;
    }
  }

  &.code.code-input {
    .viewport-mobile & {
      display:block;
      .clearfix;
    }
    select {
      .viewport-mobile & {
        width:50%;
        float:left;
      }
    }
    input.booking-widget-promo-code {
      .viewport-mobile & {
        width:50%;
      }
    }
  }

  &.persons {
    flex: 2;
  }

  &.children {
    flex: 2;
  }

  // icons
  .chosen-single:before,
  &:before {
    .fa;
    content: none;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 10;
    width: @baseline * 1.5;
    color: darken(@c-booking-widget, 25%);
    font-size: @size-2;
    text-align: center;
    transform: translateY(-50%);
    -webkit-transform:translateY(-50%);
    vertical-align:top;
    text-indent: 0;
  }

  &.hotel .chosen-single:before   { content: @fa-var-map-marker; }
  &.hotel:before   { content: @fa-var-map-marker; }
  &.persons .chosen-single:before { content: @fa-var-user; }
  &.children .chosen-single:before { content: @fa-var-child; }
  &.dates:before   { content: @fa-var-calendar-o; }
  &.rate .chosen-single:before    { content: @fa-var-signal; }
  &.code .chosen-single:before    { content: @fa-var-tag; }

  .viewport-mobile &{
    &.hotel .chosen-single:before   { content: none; }
    &.persons .chosen-single:before { content: none; }
    &.children .chosen-single:before { content: none; }
    &.rate .chosen-single:before    { content: none; }
    &.code .chosen-single:before    { content: none; }

    &.hotel:before   { content: @fa-var-map-marker; }
    &.persons:before { content: @fa-var-user; }
    &.children:before { content: @fa-var-child; }
    &.rate:before    { content: @fa-var-suitcase; }
    &.code:before    { content: @fa-var-tag; }
  }

  &.disabled-hotel:before {
    color: #999;
  }

  // animated label
  form-label {
    top: 50%;

    align-items: center;
    display: flex;
    min-height: @baseline;
    padding: @baseline/4 0;

    transform: translateY(-50%);
    -webkit-transform:translateY(-50%);
    vertical-align:top;
  }

  input[type=text],
  select,
  .chosen-container-single .chosen-single {
    padding-left: @baseline * 1.5;
    font-size: 11px;
    .viewport-mobile &{
      padding-left: 0;
      text-indent: @baseline * 1.5;
      line-height: 40px;
      height: 40px;
    }
  }
  .viewport-mobile &{
    select{
      text-indent: @baseline * 1.2;
    }
  }

  input:focus ~ form-label,
  select:focus ~ form-label,
  .chosen-with-drop ~ form-label {
    opacity: 1;

    transform: translateY(40%);
    vertical-align:top;
  }

  // fake displaying of date picker
  input-value {
    font-size: 11px;
    position: absolute;
    left: @baseline * 1.5;
    top: 50%;
    z-index: 10;

    border-radius: 4px;
    height: 24px;
    overflow: hidden;
    width: ~"calc(100% - 50px)";

    background: #fff;
    color: #999;

    line-height: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;

    transform: translateY(-50%);
    -webkit-transform:translateY(-50%);
    vertical-align:top;

    pointer-events: none;
  }

  @keyframes input-prefilled {
    0%   { box-shadow: 0px 0px 0px 2px #eca29b }
    50%   { box-shadow: 0px 0px 100px 10px #eca29b; }
    100% { box-shadow: 0px 0px 0px 100px 20px transparent; }
  }
}

.multiroom-mode {
  booking-widget-search {
    width: 40%;
  }

  booking-widget-add-room {
    margin-top: @baseline;
    width: 45%;
    float: left;
    margin-left: 20px;
    padding-bottom: 0;

    button-text {
      margin: 0;
      font-size: 11px;
      .viewport-mobile &{
        margin: 0;
        float: right;
        clear: both;
        margin: 20px 0;
      }
    }
  }

  button-submit {
    width: 10%;
    float: right;
    margin-top: 0;
  }

  form-element ~ button-text {
    margin-right: -100px;
    .viewport-mobile &{
      margin: 0;
      margin-top: -15px;
    }
  }
}

//- Search
booking-widget-search {
  display: flex;
  padding: @baseline 0;
  float: left;
  width: 85%;

  .viewport-mobile &{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
  }

  // region/hotel styling in dropdown
  .chosen-results {
    li.region {
      font-weight: bold;
    }
    li.location {
      font-weight: bold;
      padding-left: 1em;
    }
    li.property {
      //padding-left: 2em;
    }
  }

  //- Make your booking
  h3 {
    position: relative;
    flex: 0 0 auto;
    padding-right: @baseline * 2;
    text-transform: uppercase;

    strong {
      display: block;
    }

    .mobile-close{
      display: none;
    }

    .viewport-mobile &{
      padding: 0;
      text-align: center;
      margin-bottom: 30px;
      display: none;
      br{
        display: none;
      }
      strong{
        display: inline;
      }
      &:after{
        content: none;
      }
    }

    &:after {
      .fa;
      position: absolute;
      right: @baseline / 2;
      top: 50%;
      color: #ddd;
      font-size: 21px;
      transform: translateY(-50%);
      -webkit-transform:translateY(-50%);
      vertical-align:top;
      content: @fa-var-chevron-right;
    }
  }
}

booking-widget-search {
  remove-text {
    opacity: 0;
    .transition;

    display: inline-block;
    position: absolute;
    margin: 2px 4px;
    right: 0px;
    top: 3px;
    color: @c-gray;
    z-index: 9;
    cursor: pointer;

    &:before {
      .fa;
      content: @fa-var-times;
    }
  }
  form-element.code {
    input {
      width: 0px;
      padding-right: 20px;
      opacity: 0;
      .transition(all, .3s, ease-in-out);
      padding-left: 10px;

      &.prefilled {
        animation-name: input-prefilled;
        animation-duration: .5s;
      }
    }

    .chosen-container {
      opacity: 1;
      .transition(all, .3s, ease-in-out);
      .chosen-single {
        b {
          left: 0px;
        }
      }
    }

    &.code-input {

      &:before {
        display: none;
      }

      remove-text {
        opacity: 1;
        right: 13px;
      }
      .chosen-container {
        width: 0px !important;
        opacity: 0;
      }

      .chosen-container-active {
        &.chosen-with-drop {
          width: 75% !important;
        }

        .chosen-drop {
          width: 165px;
        }
      }

      .chosen-single {
        padding-left: 15px;
        &:before {
          display: none;
        }
      }

      input {
        width: 100%;
        opacity: 1;
      }
    }
  }
}

//- Add Room
booking-widget-add-room {
  display: block;
  padding-bottom: @baseline;

  //- Number of a room
  h3 {
    font-weight: bold;
  }

  .viewport-mobile &{
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
  }

  form-element {
    display: inline-block;
    margin-right: @baseline/1.5;
    width: 150px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

  booking-widget-room {
    display: block;
    margin: 0 0 @baseline 0;
    .viewport-mobile &{
      margin: 0;
    }

    h3 {
      float: left;
      width: 20%;
      margin-top: 5px;
    }

    form-element {
      width: 35%;
      box-sizing: border-box;
      .viewport-mobile &{
        width: 100%;
      }
      button-text{
        margin: 0;
        font-size: 11px;
      }
    }
  }


//- My Account
my-account {
  display: block;
  background: @c-booking-widget-my-account;
  max-height: 0px;
  //transition: max-height .6s ease-out;
  .transition(max-height, 1s, ease-in-out);
  overflow: hidden;

  &.is-open {
    max-height: 110px;
  }

  // Wrapper to center content
  > div {
    display: flex;
    margin: 0 auto;
    width: 960px;
    padding: @baseline;
  }


  //- Sign Up
  .sign-up {
    p {
      margin: 0 auto;
      padding: @baseline/2 @baseline @baseline/2 @baseline*4;
      width: 260px;

      background: url('@{img-prefix}/v4/logo-sp-white.png') center left no-repeat;
    }

    a {
      color: #fff;

      text-decoration: underline;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }


  //- Cards - rewards, badges
  article {
    flex: 1;
    margin-right: @baseline;
    padding-right: @baseline;

    border-right: 1px dashed #ccc;

    &:last-of-type {
      margin-right: 0;
      padding-right: 0;

      border: 0;
    }

    // behave as link
    &[ng-click] {
      cursor: pointer;
    }

    // image
    img {
      border-radius: 100%;
      box-sizing: border-box;
      float: left;
      height: 60px;
      margin-right: @baseline;
      width: 60px;

      border: 3px solid lighten(@c-booking-widget-my-account, 15%);
    }

    // heading
    h4 {
      font-size: @size--1;
      text-transform: uppercase;
    }

    // middle line
    p {
      line-height: @baseline + 5px;
    }

    // last line
    p + p {
      font-size: @size--2;
      line-height: @baseline - 5px;
    }
  }
}

//- My Account
campaign-bar {
  display: block;
  background: @c-booking-widget-my-account;
  max-height: 0px;
  text-align:center;
  //Fix for chrome leaving line trace artifact after animation
  -webkit-transform: translate3d(0,0,0);
  //transition: max-height .6s ease-out;
  .transition(max-height, 1s, ease-in-out);
  overflow: hidden;

  &.is-open {
    max-height: 110px;
  }

  // Wrapper to center content
  .campaign-bar {
    display: inline-block;
    padding:15px 0;
    margin: 0 auto;
  }
}
