////////////////////////
//// BOOKING WIDGET ////
////////////////////////

booking-widget {
  display: block;
  max-width: 960px;
  margin: 0 auto;

  // Chosen dropdown - open up not down
  .chosen-container .chosen-drop {
    bottom: 100%;
    top: auto;

    border: 1px solid #ccc;
    border-bottom: 0;
  }

  //- Search button
  button-submit {
    width: 10%;
    float: right;
    align-self: center;
    flex: 0 0 auto;
    margin-top: 30px;
    .viewport-mobile &{
      display: block;
    }
  }
}


//- Form elements
booking-widget-search form-element,
booking-widget-add-room form-element {
  align-items: center;
  display: flex;
  flex: 2;
  padding-right: @baseline/2;

  .viewport-mobile &{
    padding-right: 0;
    margin-bottom: 20px;
    input,
    .chosen-container,
    .chosen-single{
      height: 40px;
      line-height: 40px;
    }
  }

  &.persons {
    flex: 1;
  }

    &.children {
    flex: 1;
  }

  // icons
  &:before {
    .fa;

    position: absolute;
    top: 50%;
    z-index: 1009;

    width: @baseline * 1.5;

    color: darken(@c-brown, 25%);

    font-size: @size-2;
    text-align: center;

    transform: translateY(-50%);
  }

    &.hotel:before   { content: @fa-var-map-marker; }
    &.persons:before { content: @fa-var-user; }
    &.children:before { content: @fa-var-child; }
    &.dates:before   { content: @fa-var-calendar-o; }
    &.code:before    { content: @fa-var-tag; }
    &.rate:before    { content: @fa-var-suitcase; }

  // animated label
  form-label {
    top: 50%;

    align-items: center;
    display: flex;
    min-height: @baseline;
    padding: @baseline/4 0;

    transform: translateY(-50%);
  }

  input[type=text],
  select,
  .chosen-container-single .chosen-single {
    padding-left: @baseline * 1.5;

    font-size: 13px;
  }

  input:focus ~ form-label,
  select:focus ~ form-label,
  .chosen-with-drop ~ form-label {
    opacity: 1;

    transform: translateY(40%);
  }

  // fake displaying of date picker
  input-value {
    font-size: 13px;
    position: absolute;
    left: @baseline * 1.5;
    top: 50%;
    z-index: 10;

    border-radius: 4px;
    height: 24px;
    overflow: hidden;
    width: ~"calc(100% - 40px)";

    background: #fff;
    color: #999;

    line-height: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;

    transform: translateY(-50%);

    pointer-events: none;
  }

  #booking-widget-promo-code {
    transition: box-shadow 0.3s;

    &.prefilled {
      animation-name: input-prefilled;
      animation-duration: .5s;
    }
  }

  @keyframes input-prefilled {
    0%   { box-shadow: 0px 0px 0px 2px #eca29b }
    50%   { box-shadow: 0px 0px 100px 10px #eca29b; }
    100% { box-shadow: 0px 0px 0px 100px 20px transparent; }
  }
}

.multiroom-mode {
  booking-widget-search {
    width: 40%;
  }

  booking-widget-add-room {
    margin-top: 25px;
    width: 40%;
    float: left;
  }

  button-submit {
    width: 20%;
    float: right;
    margin-top: @baseline;
  }

  form-element ~ button-text {
    margin-right: -100px;
  }
}

//- Search
booking-widget-search {
  display: flex;
  padding: @baseline 0;
  float: left;
  width: 85%;

  .viewport-mobile &{
    display: inline-block;
    width: 100%;
    padding: 0 20px 20px;
    box-sizing: border-box;
  }

  // region/hotel styling in dropdown
  .chosen-results {
    li.region {
      font-weight: bold;
    }
    li.location {
      font-weight: bold;
      padding-left: 1em;
    }
    li.property {
      padding-left: 2em;
    }
  }

  //- Make your booking
  h3 {

    position: relative;
    flex: 0 0 auto;
    padding-right: @baseline * 2;
    text-transform: uppercase;

    strong {
      display: block;
    }

    .mobile-close{
      display: none;
    }

    .viewport-mobile &{
      padding: 0;
      text-align: center;
      margin-bottom: 30px;
      display: none;
      br{
        display: none;
      }
      strong{
        display: inline;
      }
      &:after{
        content: none;
      }
    }

    &:after {
      .fa;
      position: absolute;
      right: @baseline / 2;
      top: 50%;
      color: #ddd;
      font-size: 21px;
      transform: translateY(-50%);
      content: @fa-var-chevron-right;
    }
  }
}

//- Add Room
booking-widget-add-room {
  display: block;
  padding-bottom: @baseline;

  //- Number of a room
  h3 {
    font-weight: bold;
  }

  form-element {
    display: inline-block;
    margin-right: @baseline;
    width: 150px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

  booking-widget-room {
    display: block;
    margin: 0 0 @baseline 0;

    h3 {
      float: left;
      width: 20%;
    }

    form-element {
      width: 35%;
      box-sizing: border-box;
    }
  }


//- My Account
my-account {
  display: block;
  padding: @baseline;

  background: #ebaa3d;

  // Wrapper to center content
  > div {
    display: flex;
    margin: 0 auto;
    width: 960px;
  }


  //- Sign Up
  .sign-up {
    p {
      margin: 0 auto;
      padding: @baseline/2 @baseline @baseline/2 @baseline*4;
      width: 260px;

      background: url(../images/v4/logo-sp-white.png) center left no-repeat;
    }

    a {
      color: #fff;

      text-decoration: underline;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }


  //- Cards - rewards, badges
  article {
    flex: 1;
    margin-right: @baseline;
    padding-right: @baseline;

    border-right: 1px dashed #ccc;

    &:last-of-type {
      margin-right: 0;
      padding-right: 0;

      border: 0;
    }

    // behave as link
    &[ng-click] {
      cursor: pointer;
    }

    // image
    img {
      border-radius: 100%;
      box-sizing: border-box;
      float: left;
      height: 60px;
      margin-right: @baseline;
      width: 60px;

      border: 3px solid lighten(@c-booking-widget-my-account, 15%);
    }

    // heading
    h4 {
      font-size: @size--1;
      text-transform: uppercase;
    }

    // middle line
    p {
      line-height: @baseline + 5px;
    }

    // last line
    p + p {
      font-size: @size--2;
      line-height: @baseline - 5px;
    }
  }
}
