/////////////////////
//// BREADCRUMBS ////
/////////////////////

@c-navbar-content: #eee;

breadcrumbs{
  float: left;
  width: 100%;
  margin-bottom: 40px;

  // MOBILE SPECIFIC STYLES
  @media only screen and @large-mobile-max {
    display: none;
  }
  
}

.breadcrumbs {
  background: @c-navbar-background;
  padding: (3/4) * @baseline 0;
  font-size: @size--1;
  color: @c-navbar-content;
  .clearfix;
  line-height: .75*@baseline;

  .crumbs {
    float: left;

    li {
      display: block;
      float: left;
      text-transform: capitalize;

      span, a {
        display: inline-block;
        margin-right: @baseline/4;
      }

      span:after, a:after {
        display: inline-block;
        content: "\00BB";
        margin-left: @baseline/4;
        color: @c-navbar-content;
      }

      &:last-child {
        span:after, a:after {
          display: none;
        }
      }

    }
  }

  .alt-nav {
    float: right;

    li {
      display: inline-block;
      margin-left: @baseline/2;
      padding-left: @baseline/2;
      border-left: 1px solid @c-navbar-content;
    }

    li:first-child {
      border-left: 0;
    }
  }
}
