.breadcrumbs {
  background: @c-navbar-background;
  padding: (3/4) * @baseline 0;
  font-size: @size--1;
  color: @c-white;

  p {
    position: relative;
    left: -@baseline/2;
  }

  a, span {
    padding: 0 @baseline/2;
  }
}
