//////////////////////
//// FLOATING BAR ////
//////////////////////

@c-booking-widget: @c-brown;
@c-booking-widget-my-account: #ebaa3d;

floating-bar {
  position: relative;

  display: block;
  width: 100%;

  background: @c-booking-widget;
  color: #fff;

  &.my-account {
    background: #ebaa3d;
    .sign-up{
      p{
        color: #fff;
      }
    }
  }

  my-account {
    .sign-up,
    article{
      p{
        color: #fff;
      }
    }
  }

  @media only screen and @tablet-portrait-min {
    position: fixed;
    bottom: 0px;
    left: 0;
    z-index: 1001;
  }

  //- Tabs
  > ul {
    position: absolute;
    left: 50%;
    top: -30px;

    max-width: 960px;
    width: 100%;

    transform: translate(-50%, 0);

    li {
      position: relative;

      display: block;
      float: left;
      padding: 0 @baseline/2 0 @baseline*1.5;

      background: lighten(@c-booking-widget, 10%);
      color: #fff;

      line-height: @baseline * 1.5;
      text-transform: uppercase;

      a {
        position: relative;
        z-index: 1;

        display: block;

        color: #fff;

        text-decoration: none;

        &:focus,
        &:hover {
          color: #fff;
        }
      }

      //- Filling
      &:first-of-type:before{
        position: absolute;
        right: @baseline * 1.5;

        height: @baseline * 1.5;
        width: 1000px;

        background: lighten(@c-booking-widget, 10%);;

        content: '';
      }

      &.is-active:first-of-type:before {
        background: @c-booking-widget;
      }

      &:last-of-type:before {
        position: absolute;
        left: @baseline * 1.5;

        height: @baseline * 1.5;
        width: 1000px;

        background: @c-booking-widget-my-account;

        content: '';
      }

      //- Skew effect
      &:after {
        position: absolute;
        top: 0;
        right: -@baseline;

        display: block;
        height: 0;
        width: 0;

        border-bottom: @baseline*1.5 solid lighten(@c-booking-widget, 10%);
        border-right: @baseline solid transparent;

        content: "";
      }

      //- If tab is selected
      &.is-active {
        background: @c-booking-widget;

        &:after {
          border-bottom: @baseline*1.5 solid @c-booking-widget;
        }
      }

      &.floating-bar--tab-booking {
        z-index: 1;
        padding-left: 0;

        &.is-active {
          z-index: 2;
        }
      }

      &.floating-bar--tab-advanced-booking {
        z-index: 0;

        &.is-active {
          z-index: 2;
        }
      }

      &.floating-bar--tab-my-accounts {
        float: right;
        padding: 0 0 0 @baseline/2;

        background: #ebaa3d;

        &:after {
          position: absolute;
          left: -@baseline;
          right: auto;
          top: 0;

          border-right: 0;
          border-left: @baseline solid transparent;
          border-bottom: @baseline*1.5 solid @c-booking-widget-my-account;
        }
      }
    }
  }
}
