////////////////
//// FOOTER ////
////////////////

.floating-bar-active footer {
  margin-bottom: 130px;
  .viewport-mobile &,
  &.no-booking-bar {
    margin-bottom: 0;
  }
}

/*
.floating-bar-active footer {
  margin-bottom: 170px;
  .viewport-mobile & {
    margin-bottom: 0;
  }
}
*/

footer {
  padding-top: @baseline;
  color: #999;
  font-size: @size--1;
  line-height: @baseline * 2;
  .viewport-mobile & {
    display: inline-block;
  }

  @media print {
   display: none;
  }

  //- Wrapper
  .wrapper {
    display: flex;
    margin-bottom: 50px;
    padding-left: 5px;
    .viewport-mobile & {
      display: block;
      padding-left: 10px;
    }
    > div{
      display: flex;
      flex: 1;
      .viewport-mobile & {
        display: block;
      }
    }
  }

  //- Copyright
  p {
    flex: 2 0;
    .viewport-mobile & {
      width: 100%;
      margin-bottom: 10px;
      box-sizing: border-box;
    }
  }

  //- Navigation
  nav {
    flex: 2 0;

    text-align: right;

    li {
      display: inline-block;
      padding: 0 @baseline/2;

      &:first-of-type {
        padding-left: 0;
      }

      &:last-of-type {
        padding-right: 0;
      }
    }
  }

  // MOBILE SPECIFIC STYLES
  @media only screen and @large-mobile-max {

    //- Navigation
    nav{
      display: none;
    }

    //- Copyright
    p {
      line-height: 16px;
      padding-right: 16px;
    }

  }

  &.special-footer {
    background-color: #efefef;
    border-top: 1px solid #ccc;
    //margin: 10px 0 0 0;
    height: 70px;
    width: 100%;
    .viewport-mobile &{
      height: auto;
    }
  }
}

//- Social Links
social-links {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;

  .viewport-mobile & {
    display: inline;
    margin-right: 10px;
    text-align: right;
  }

  ul {
    display: flex;
    justify-content: center;
    .viewport-mobile & {
      display: inline-block;
    }
  }

  li {
    margin: 0 @baseline/4;
    .viewport-mobile & {
      float: left;
      margin-left: 2px;
      &:first-child{
        margin-left: 0;
      }
    }
  }

  a {
    border-radius: 100%;
    display: block;
    height: @baseline * 1.5;
    width: @baseline * 1.5;

    background: #d3d3d3;
    color: #fff;

    font-size: @size-3;
    line-height: @baseline * 1.5;
    text-align: center;

    &:focus,
    &:hover {
      background: @c-link;
      color: #fff;
    }

    &:before {
      .fa;
    }

    &.twitter:before {
      content: @fa-var-twitter;
    }

    &.facebook:before {
      content: @fa-var-facebook;
    }

    &.youtube:before {
      content: @fa-var-youtube;
    }

    &.flickr:before {
      content: @fa-var-flickr;
    }

    &.pinterest:before {
      content: @fa-var-pinterest;
    }

    &.instagram:before {
      content: @fa-var-instagram;
    }

    &.yelp:before {
      content: @fa-var-yelp;
    }

    &.google:before {
      content: @fa-var-google-plus;
    }

    &.linkedin:before {
      content: @fa-var-linkedin;
    }

    &.xing:before {
      content: @fa-var-xing;
    }
  }
}
