#main-header {
  .app-menu {
    li {

      .profile {
        line-height: @baseline;
        margin-top: @baseline;

        color: @c-white;

        .user {
          overflow: auto;

          img {
            float: left;
            width: @baseline * 1.75;
            height: @baseline * 1.75;

            margin-right: @baseline/2;

            border-radius: @baseline * 1.75;
            border: 2px solid @c-link;
          }

          span {
            display: block;
            font-weight: bold;
            line-height: @baseline;
            font-size: @size--1;

            // Surname
            &:last-of-type {
              display: inline-block;
            }
          }

          &:after {
            content: '';
            display: inline-block;
            width: 7px;
            height: 13px;
            margin-left: 10px;
            background: url('../images/v4/icon-arrow.png') no-repeat center center;
          }
        }

        .points {
          clear: left;
          margin-top: @baseline/4;
          span {
            font-size: @size--1;
          }
        }
      }
    }
  }
}
