#main-header {
  &:extend(.clearfix);
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1000;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85) 0%,  rgba(0, 0, 0, 0.95) 100%);

  a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }

  @media print {
   display: none;
  }
}

#main-header-inner {
  .login-dialog-overlay {
    .viewport-mobile & {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1050;
      overflow: hidden;
      -webkit-overflow-scrolling: touch;
      outline: 0;
      background-color: rgba(0,0,0,0.5);
    }
  }
}

// GENERIC STYLES
.main-nav {
  height: @mobileHeaderHeight;

  .menu-opener {
    float: left;
    display: block;
    width: 36px;
    height: 100%;
    margin: 0 10px;
    color: @white;
    text-decoration: none;
    background: url("@{img-prefix}/menu-opener.png") no-repeat center center;
    background-size: 36px 36px;

    @media  only screen and (min--moz-device-pixel-ratio: 1.5),
            only screen and (-o-min-device-pixel-ratio: 1.5),
            only screen and (-webkit-min-device-pixel-ratio: 1.5),
            only screen and (min-device-pixel-ratio: 1.5) {
      background-image: url("@{img-prefix}/menu-opener@2x.png");
    }

    @media  only screen and (min--moz-device-pixel-ratio: 2.5),
            only screen and (-o-min-device-pixel-ratio: 2.5),
            only screen and (-webkit-min-device-pixel-ratio: 2.5),
            only screen and (min-device-pixel-ratio: 2.5) {
      background-image: url("@{img-prefix}/menu-opener@3x.png");
    }
  }



  ul {
    .noSpaces;

    li {
      padding: 0px floor(@paddingHeaderDefault / 2);
      line-height: @mobileHeaderHeight;

      background-color: @c-base;
      background-color: fadeout(@c-base, 15%);

      &:extend(.open-sans-light);
      &:extend(.font-size-18);
      text-align: center;

      &.mobile-header,
      &.mobile-logout{
        display: none;
        &.is-desktop{
          display: inline-block;
          float: right;
          padding-left: 0;
          .viewport-mobile &{
            float: none;
            padding-left: 20px;
          }
        }
      }

      a {
        display: block;
        color: @colorMenuTextDefault;
        text-decoration: none;
        outline: none;
      }

      &.mobile-profile,
      &.mobile-rewards{
        display: none;
      }

      @media only screen and @large-mobile-max {
        &.mobile-profile,
        &.mobile-rewards{
          display: block;
          text-align: left;
        }
        &.desktop-profile{
          display: none;
        }
      }

      &.mobile-profile{
        //display: none;

        .dropdown {

          > a{
            position: relative;

            &:after {
              content: '›';
              position: absolute;
              right: 21px;
              top: 16px;
              margin-top: -2px;
              transition: transform 0.25s ease-out;
              font-weight: 700;
            }
          }

          &.open {
            > a{
              &:after {
                transform: rotate(90deg);
              }
            }
          }

        }



        .profile {
          line-height: @baseline;
          margin-top: @baseline;
          min-width: 150px;
          color: @c-white;
          display: inline-block;

          img {
            float: left;
            width: @baseline * 1.75;
            height: @baseline * 1.75;
            margin-right: @baseline/2;
            border-radius: @baseline * 1.75;
            border: 2px solid @c-link;
          }

          .user {

            display: block;
            font-weight: 700;
            line-height: @baseline;
            font-size: @size--1;
            float: left;

            .points {
              clear: left;
              margin-top: @baseline/10;
              font-weight: 300;
              span {
                font-size: @size--1;
              }
            }
          }

        }
      }

      &.desktop-profile{
        .profile {
          line-height: @baseline;
          margin-top: @baseline;
          //min-width: 150px;
          color: @c-white;

          .message{
            position: relative;
            top: 4px;
            font-size: @size--3;
            line-height: @size--3;
          }

          .user {
            //overflow: auto;
            position: relative;

            img {
              float: left;
              width: @baseline * 1.75;
              height: @baseline * 1.75;

              margin-right: @baseline/2;

              border-radius: @baseline * 1.75;
              border: 2px solid @c-link;
            }

            .user-details{
              float: left;
              .points{
                font-weight: 300;
              }
            }

            span {
              display: block;
              font-weight: bold;
              line-height: @baseline;
              font-size: @size--1;

              // Surname
              &:last-of-type {
                display: inline-block;
              }
            }



            &:after {
              position: absolute;
              top: 15px;
              right: -10px;
              content: '';
              display: inline-block;
              width: 7px;
              height: 13px;
              margin-left: 10px;
              background: url('@{img-prefix}/v4/icon-arrow.png') no-repeat center center;
            }
          }

          .points {
            clear: left;
            margin-top: @baseline/10;
            span {
              font-size: @size--1;
            }
          }

        }
      }


    }

    li[currency-list],
    li[language-list] {
      padding-right: 0;

      > div > a:after {
        content: '';
        display: inline-block;
        position: relative;
        width: 4px;
        height: 4px;
        margin-left: 2px;
        top: -1px;
        background: url('@{img-prefix}/v4/icon-arrow.png') no-repeat center center;
      }


      a {
        &:hover,
        &:focus,
        &:active,
        &.is-active {
          box-shadow: none;
        }
      }

      .change-currency {
        display:none;
      }

      & .dropdown-menu.submenu li{
        padding: 15px;
        //line-height: 58px;
      }
    }

    li[profile] {
      padding-right: 0
    }
  }

  .mobile-brand {
    position: absolute;
    left: 50%;
    top: 33%;

    .center-logo {
      position: relative;
      left: -50%;
    }
  }

  .brand {
    display: block;
    float: right;
    position: relative;

    &.corp-logo {
      left: 70%;
      width: initial !important;
    }
    .mobile-logo{
      display: none;
    }
    .viewport-mobile &{
      top: 6px;
      float: none;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      .mobile-logo{
        display: block;
      }
      .desktop-logo{
        display: none;
      }
      img{
        height: 45px;
      }
    }
  }

  .button-login {
    height: 39px;
    padding: 10px 30px;
    line-height: 39px;
    border-radius: @radius;

    &:hover {
      box-shadow: none;
    }
  }
}

// MOBILE SPECIFIC STYLES
@media only screen and @large-mobile-max {

  #main-header {
    background-color: @c-base;
    background-color: fadeout(@c-base, 5%);
  }

  .main-nav {


    > .app-menu {
      position: fixed;
      top: 0;
      //bottom: 0px;
      left: 0px;
      //right: 0px;
      overflow-y: auto;
      overflow-x: hidden;
      height: 100%;
      width: 100%;
      background-color: @c-base;
      background-color: fadeout(@c-base, 5%);

      transform: translateX(-100%);
      transition: transform 0.4s ease-out,
                  opacity 0.2s linear 0.2s;
      opacity: 0;

      .open& {
        transform: translateX(0);
        opacity: 1;
      }

      > ul{
        .viewport-mobile &{
          padding-bottom: 73px;
        }
      }

      ul {
        width: 100%;

        > li {
          border-top: 1px @borderColorSubmenu solid;
          text-transform: uppercase;
          text-align: left;
          padding-left: 20px;


          &.mobile-header{
            display: block;
            height: 50px;
            padding-top: 7px;
            a{
              display: inline-block;
            }
            img{
              height: 40px;
            }
            .close{
              cursor: pointer;
              &:after {
                .fa;
                position: absolute;
                right: @baseline;
                top: 29px;
                color: #fff;
                font-size: 21px;
                transform: translateY(-50%);
                content: @fa-var-close;
              }
            }
          }

          &.mobile-logout{
            display: block;
            a{
              font-weight: 300;
              &:active,
              &:focus,
              &:hover,
              &.is-active {
                background: none;
              }
            }
          }

          a.is-active {
            font-weight: 700;
            text-shadow: 0 2px 0 fade(@c-base, 50%);
          }

          li {
            background-color: transparent;
          }
        }

        li[currency-list],
        li[language-list] {

          > div > a:after {
            background: none;
          }

          .dropdown {

            > a:after {
              content: '›';
              float: right;
              margin-right: 22px;
              transition: transform 0.25s ease-out;
              font-weight: 700;
            }
            .change-currency {
              display:inline;
            }
            .current-currency {
              display:none;
            }
          }
        }

        li[currency-list] {
          border: none;
        }
      }
    }

    &.open {
      .button-login {
        height: 58px;
        line-height: 58px;
        padding: 0;
        background: none!important;
        box-shadow: none!important;
        border: none!important;
        text-align: left;
        font-weight: 300;
        &:active,
        &:focus,
        &:hover,
        &.is-active {
          background: none;
        }
      }
    }

    .mobile-brand {
      width: 100%;
      .center-logo {
        left: -28%;
      }
    }
  }
}

// DESKTOP STYLES
@media only screen and @tablet-portrait-min {

  .main-nav {
    height: @headerHeight;

    .menu-opener {
      display: none;
    }

    ul {
      float: right;

      &.left{
        float: left;
      }

      li {
        display: inline-block;
        float: left;
        padding: 0px @paddingHeaderDefault;
        line-height: @headerHeight;
        background-color: transparent;
        text-align: left;

        a {
          display: inline;
          color: @colorMenuTextDefault;
          .transition(box-shadow, 0.2s, linear);
          box-shadow: 0 2px 0 0 fadeout(@colorMenuTextDefault, 100%);

          &:hover,
          &:focus,
          &:active,
          &.is-active {
            box-shadow: 0 2px 0 0 @colorMenuTextDefault;
          }
        }

        .open > a {
            box-shadow: 0 2px 0 0 @colorMenuTextDefault;
        }

        .open.has-icons > a {
            box-shadow: none;
        }
      }
    }

    .brand {
      display: block;
      float: left;
      margin: @baseline/2 0;
    }

    .button-login {
      top: @headerHeight + @headerBorderBottom;
    }
  }
}

// Tablet styles
@media only screen and @large-mobile-min and @tablet-portrait-max {

  .main-nav {
    ul {
      li {
        padding: 0px @paddingHeaderDefault / 2;
      }
    }

    .mobile-brand {
      .center-logo {
        left: -16%;
      }
    }
  }
}

@media only screen and @tablet-landscape-min {

  .main-nav {

    .button-login {
      right: 0;
    }

    .brand {
      max-width: 50%;
    }
  }
}

/*
Sub-nav
*/
#main-header{

  .sub-nav {
    background: @c-primary;
    height: 35px;
    line-height: 35px;
    > nav{
      text-align: center;
      > ul{
        display: inline-block;
        li{
          display: inline;
          float: left;
          a{
            color: #fff;
            font-size: 15px;
            text-transform: uppercase;
            padding: 0 15px;
          }
          ul{
            li{
              display: block;
              float: none;
              text-align: left;
              a{
                padding: 0;
              }
            }
          }
        }
      }
    }

  }

}
