///////////////////////
//// HOTELS DETAIL ////
///////////////////////

hotel-detail {
  > header {
    margin-bottom: 2*@baseline;
  }
  // Page Heading
  h1 {
    .h1;
    font-weight: 300;
    margin-bottom: 0.25*@baseline;
    line-height: 30px;
  }

  h2 {
    .h2;
  }
  //- Read more text button
  a.read-more {
    text-decoration: underline;
  }

  a.read-more-rooms {
    text-decoration: underline;
    @media only screen and @large-mobile-max {
      margin-left: 0;
      margin-right: 14px;
      float: right;
    }
  }
  //- Transportation
  transportation-list {
    display: flex;
    font-size: @size--1;
  }

  transportation-item {
    position: relative;
    flex: 1;
    padding: 0 @baseline @baseline @baseline*2.5;
    // Name
    h4 {
      color: @c-link;
      font-weight: 600;
    }
    // Icon
    img {
      position: absolute;
      left: @baseline;
      top: 9;
    }
  }
  ta-teaser + .hotel-detail__rooms {
    margin-top:40px;
  }
  .hotel-detail__rooms {
    > .preloader {
      position: relative;
    }

    .section-header {
      margin-bottom: 30px;

      .viewport-mobile & {
        margin-bottom: 20px;
      }

      h2,
      p {
        display: inline;
      }

      .products-not-available {
        margin-bottom: 30px;
      }

      order-switch {
        float: right;

        .chosen-container {
          width: 150px !important;
        }

        .viewport-mobile & {
          width: 100%;
          margin: 10px 0;

          .chosen-container {
            width: 100% !important;
          }
        }
      }
    }

    .search-details {
      margin: @baseline/2 0;

      .room-counter {
        color: @c-grey;
        font-style: italic;
      }
    }

    list-items {
      .display-all-rooms,
      .display-more-rooms {
        float: right;
        width: 60%;
        text-align: center;
        padding: 15px;
        background: @c-link;
        border-radius: 2px;
        color: #fff;
      }

      .display-all-rooms {
        display: inline-block;

        .viewport-mobile & {
          display: none;
        }
      }

      .display-more-rooms {
        display: none;

        .viewport-mobile & {
          display: inline-block;
          width: 100%;
          padding: 15px 0;
        }
      }

      list-item {
        display: inline-block;
        width: 100%;
        padding: 0;
        min-height: 0;
        border: none;
        margin-bottom: 40px;

        .viewport-mobile & {
          border-bottom: 20px solid @c-light-grey;
          margin-bottom: 10px;
        }

        &:last-of-type {
          margin-bottom: 10px;
          border: none;
        }

        .item-header {
          margin-bottom: 5px;

          h3 {
            a {
              color: @c-black;

              &:after {
                .fa;
                display: inline-block;
                content: @fa-var-info-circle;
                color: @c-link;
                padding: 0 5px;
              }

              &.hide-info-icon {
                &:after {
                  display: none;
                }
              }
              &.view-more {
                display:none;
              }
            }

            .sub-title {
              font-size: 12px;
              font-style: italic;
              display: block;
              color: @c-black;
            }

            .viewport-mobile & {
              width: 100%;

              a {
                &:after {
                  color: @c-grey;
                  content: @fa-var-chevron-right;
                  float: right;
                  margin-top: 2px;
                }
              }
            }
          }

          pricing-switch {
            float: right;

            .viewport-mobile & {
              display: none;
            }
          }

          .noPointsAwarded,
          earned-points {
            position: relative;
            float: right;

            .viewport-mobile & {
              display: none !important;
            }
          }

          &.desktop {
            .viewport-mobile & {
              display: none;
            }
          }

          &.mobile {
            display: none;

            .viewport-mobile & {
              display: block;
              float: left;
              width: 100%;
              border-bottom: 1px solid @c-light-grey;

              h3 {
                margin-bottom: @baseline/2;

                a {
                  margin: 0 @baseline/2;
                }
              }
            }
          }
        }

        .list-item-container {
          display: inline-block;
          width: 100%;
          border-top: 2px solid @c-light-grey;
          //padding-bottom: 50px;
          .viewport-mobile & {
            border-top-width: 1px;
            border-bottom: 2px solid @c-light-grey;
            padding-top: 16px;

            &:fist-of-type {
              border-top: none;
              padding-top: 0;
            }
          }

          > div {
            display: inline;
            float: left;

            &.list-item-info {
              box-sizing: border-box;
              width: 37%;
              padding: 13px 13px 0 0;
              position: relative;

              > .pricing-info {
                display: none;
                float: right;

                .price-form {
                  float: right;
                  color: @c-gray;
                  font-style: italic;
                  font-size: @size--1;

                  .value {
                    font-style: normal;
                    font-weight: bold;
                    color: @c-black;
                    font-size: @size-1;
                    padding-left: 5px;
                  }
                }

                .not-available {
                  text-align: center;
                  padding-left: 20px;

                  button-submit {
                    padding: 0 14px;
                  }
                }

                button {
                  float: right;
                }
              }

              .viewport-mobile & {
                width: 100%;
                padding: 0;

                > .pricing-info {
                  display: block;
                }
              }

              .room-image {
                cursor: pointer;
                width: 150px;
                max-width: 40%;
                float: left;

                &.mobile {
                  display: none;
                }

                .viewport-mobile & {
                  width: 100%;
                  max-width: 100%;
                  margin-bottom: 16px;
                  display: block;

                  &.desktop {
                    display: none;
                  }
                }
              }

              ul.amenities {
                float: left;
                max-width: 60%;
                padding-left: 16px;
                box-sizing: border-box;
                margin-bottom: 30px;

                .viewport-mobile & {
                  display: none;
                }

                li {
                  font-size: 13px;
                  margin-bottom: 5px;

                  span {
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                    min-width: 25px;

                    &.amenity-caption {
                      padding-top: 2px;
                      text-align: left;
                      font-weight: 200;
                    }
                    // Icon
                    img {
                      display: inline-block;
                      margin-right: @baseline / 2;
                      vertical-align: middle;
                      max-height: 15px;
                    }
                  }
                }
              }

              .room-see-more {
                position: absolute;
                left: 0;
                bottom: -15px;

                .viewport-mobile & {
                  display: none;
                }
              }

              .viewport-mobile & {}
            }
          }

          room-details {
            float: left;
            width: 63%;
            padding: 15px;
            border: 1px solid @c-light-grey;
            box-sizing: border-box;
            border-top: none;

            .description {
              float: left;
              width: 70%;

              div {
                p {
                  display: none;

                  &:nth-child(-n+3) {
                    display: block;
                  }
                }
              }
            }

            > .pricing-info {
              float: right;
              width: 30%;

              .price-form {
                float: right;
                color: @c-gray;
                font-style: italic;
                font-size: @size--1;
                padding-bottom: @baseline/2;

                .value {
                  font-style: normal;
                  font-weight: bold;
                  color: @c-black;
                  font-size: @size-1;
                  padding-left: 5px;
                }
              }

              .not-available {
                text-align: center;
                padding-left: 20px;

                button-submit {
                  padding: 0 14px;
                }
              }

              button {
                float: right;
              }
            }

            .our-rates {
              display: none;
              float: left;
              width: 100%;
              font-weight: bold;
              margin-top: 15px;
              text-align: center;
              color: @c-link;

              .viewport-mobile & {
                display: block;
              }
            }

            .viewport-mobile & {
              width: 100%;
              border: none;
              border-bottom: 1px solid @c-light-grey;

              .description {
                width: 100%;
              }

              > .pricing-info {
                display: none;
              }
            }

            + .not-available {
              display: none;

              .viewport-mobile & {
                display: block;
                margin: 20px 0 10px;
                width: 100%;

                p {
                  text-align: center;
                }
              }
            }
          }

          .viewport-mobile & {
            border-top: none;
            padding-top: 0;
            border-bottom: none;
          }
        }
      }
    }
  }

  .hotel-detail__offers {
    .more-btn {
      margin-top: -@baseline;
      text-align: right;
      text-decoration: underline;
      font-size: @size--1;

      &:focus,
      &:hover {
        text-decoration: none;
      }

      a {
        cursor: pointer;
      }
    }
  }

  .hotel-detail__rooms-compare {
    .preloader {
      position: relative;
      padding-bottom: 45px;
    }

    .section-header {
      h2 {
        margin: 0;
      }

      .search-details {
        font-style: italic;
        margin-bottom: 20px;
      }

      .flexible-dates-bar {
        background: rgba(62, 177, 194, 0.2);
        padding: 20px;
        margin-bottom: 40px;
        text-align: center;

        .viewport-mobile & {
          padding: 20px;
          text-align:left;
        }
        .clearfix;

        > * {
          display: inline-block;
          width: auto;
          padding: 0 2%;
          box-sizing: border-box;
          position: relative;
          line-height: 36px;
          .viewport-mobile &{
            padding:0;
          }
        }

        .filter-label {
          display: inline-block;
          font-size: 14px;
          color: @c-primary;
          padding-right: 10px;
        }

        .dates-dropdown-container {
          padding-left: 53px;
          .viewport-mobile & {
            padding-left: 53px;
            margin-top:13px;
            display:block;
          }
          .filter-label {
            position: absolute;
            left: 0;
          }

          .dates-switch {
            min-width: 210px;
            text-align: left;
            .viewport-mobile & {
              min-width:auto;
            }
          }
        }

        .overview-container {
          .overview {
            display: inline-block;
            line-height: 20px;
            text-align: left;
            font-size: 14px;
            -webkit-transform: translateY(25%);
            -ms-transform: translateY(25%);
            transform: translateY(25%);
            .viewport-mobile & {
              -webkit-transform: translateY(0);
              -ms-transform: translateY(0);
              transform: translateY(0);
              display:block;
            }

            div {
              &:first-child {
                font-weight: bold;
                color: @c-secondary;
              }
            }
          }
        }

        .change-dates-container {
          .viewport-mobile & {
            margin-top:13px;
            display:block;
          }
          button-submit {
            font-weight: normal;
            font-size: 14px;
            border-radius: 2px;
          }
        }
      }

      .filter-bar {
        background: #F9F9F9;
        padding: 20px 55px;
        margin-bottom: 10px;
        text-align: center;

        .viewport-mobile & {
          padding: 20px;
        }
        .clearfix;

        > * {
          display: inline-block;
          width: auto;
          padding: 0 2%;
          box-sizing: border-box;
          position: relative;
          line-height: 36px;

          .viewport-mobile & {
            float: none;
            width: 100%;
            padding: 0;
            margin-top: 10px;

            &:first-child {
              margin-top: 0;
            }
          }
        }

        .order-switch-container {
          padding-left: 63px;

          .filter-label {
            position: absolute;
            left: 0;
          }
        }

        .pricing-switch-container {
          text-align: left;
        }

        .reset-container {
          a {
            color: @c-secondary;
          }
        }

        pricing-switch {
          display: inline-block;
          margin: 0;
          font-size: 13px;
        }

        .view-switch {
          font-size: 14px;

          .viewport-mobile & {
            display: none;
          }

          ul {
            display: inline-block;

            li {
              display: inline-block;
              color: @c-light-grey;
              cursor: pointer;
              position: relative;
              padding-left: 40px;

              &.compare-view {
                padding-left: 35px;
              }

              &:first-child {
                margin-right: 10px;
              }

              i {
                position: absolute;
                top: 5px;
                left: 0;
              }

              &.is-active {
                color: @c-primary;

                i {
                  color: @c-secondary;
                }
              }
            }
          }
        }

        .filter-label {
          display: inline-block;
          font-size: 14px;
          color: @c-primary;
          padding-right: 10px;
        }
      }
    }

    ta-teaser + .preloader + .room-list-compare-container {
      margin-top:40px;
    }

    .room-list-compare-container {
      position: relative;

      .compare-no-rooms {
        text-align: center;

        a {
          color: @c-secondary;
        }
      }

      .compare-direction-btn {
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -10px;
        width: 20px;
        height: 20px;
        padding: 0;
        text-indent: -9999px;
        background: transparent url('@{img-prefix}/prev-arrow@2x.png') no-repeat center;
        background-size: cover;

        &:disabled {
          opacity: 0.2;
        }
      }

      .compare-direction-btn + .compare-direction-btn {
        left: auto;
        right: 0;
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter:  "FlipH";
      }

      room-products {
        display: none;
      }

      .rooms-list {
        padding: 0 20px;
        .clearfix;

        .viewport-mobile & {
          padding: 0;
        }

        list-item {
          width: 33%;
          padding: 0 20px;
          margin: 0;
          border-left: 1px solid #F9F9F9;
          box-sizing: border-box;
          float: left;
          border-top: 0 none;

          &:first-child {
            border-left: 0 none;
          }

          .viewport-mobile & {
            width: 100%;
            padding: 0 35px;
            float: none;
          }

          .list-item-container {
            position: relative;

            .room-hide-btn {
              position: absolute;
              top: -20px;
              right: -15px;
              width: 29px;
              height: 29px;
              padding: 0;
              text-indent: -9999px;
              background: transparent url('@{img-prefix}/close-icon@2x.png') no-repeat center;
              background-size: cover;
            }
          }

          hero-slider {
            height: 225px;
            margin: 0;

            .slider-content {
              height: 175px;

              .hero-slide {
                height: 175px;
              }
            }

            .thumbnail-nav {
              width: 105%;
              margin-top: 10px;

              li {
                width: 23%;
                margin: 0 2% 10px 0;

                .viewport-mobile & {
                  width: auto;
                }

                img {
                  transform: none;
                }
              }
            }

            .slider-controls {
              position: relative;
              height: auto;

              > div {
                background: none;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: -175px;
              }

              .pages {
                display: none;
              }

              .slide-button {
                width: 25px;
                height: 25px;
                margin-top: -12px;
                padding: 0;
                background-size: cover;
              }

              .slide-right {
                right: 5px;
              }

              .slide-left {
                left: 5px;
              }
            }
          }

          .pricing-info {
            margin-top: 20px;

            .not-available,
            .price-form {
              text-align: center;
            }

            a.button,
            button-submit {
              background: @c-button;
              border-radius: 2px;
              width: 100%;
              max-width: 200px;

              &:hover {
                background: darken(@c-button, 10%);
              }
            }
          }

          .list-item-info {
            .item-header {
              h3 {
                display: block;
                width: 100%;
                margin: 0 0 10px;
                text-transform: uppercase;
                font-weight: normal;
                min-height: 50px;

                .viewport-mobile & {
                  min-height: auto;
                }

                a {
                  color: #606060;
                }
              }
            }

            .room-content {
              position: relative;
              display: block;
              max-height: 225px;
              overflow: hidden;
              padding: 10px 0 17px;

              &:after {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                display: block;
                height: 24px;
                background: url('@{img-prefix}/v4/text-overlay.png');
                background-size: 100% 30px;
                content: '';
              }

              .viewport-mobile & {
                height: auto !important;

                &:after {
                  display: none;
                }
              }
            }

            .description {
              overflow: hidden;
              text-overflow: ellipsis;

              .viewport-mobile & {
                height: auto;
              }

              p {
                font-size: 14px;
                line-height: 20px;
              }
            }

            .read-more {
              color: @c-secondary;
              text-decoration: none;
              display: block;
              font-size: 11px;

              &:hover {
                text-decoration: underline;
              }
            }

            .amenities {
              background: #f9f9f9;
              padding: 20px 25px;
              margin: 20px 0 0;

              li {
                margin-top: 20px;
                display: table;
                color: #606060;
                font-weight: 300;

                &:first-child {
                  margin-top: 0;
                }

                > span {
                  display: table-cell;
                  vertical-align: middle;

                  &.amenity-caption {
                    padding-left: 20px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
