///////////////////////
//// HOTELS DETAIL ////
///////////////////////

hotel-detail {

  .back-to-top{
    position: fixed;
    bottom: 150px;
    right: 20px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 4px;
    background: rgba(176, 143, 94, 0.5);
    transition: 0.2s all;
    opacity: 0;
    height: 0;
    overflow: hidden;
    span{
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      font-size: 10px;
      text-align: center;
      width: 100%;
      color: #fff;
    }
    &:after {
      .fa;
      content: @fa-var-arrow-up;
      background: transparent;
      color: #fff;
      font-size: 30px;
      line-height: 27px;
      position: absolute;
      width: 30px;
      height: 30px;
      left: 50%;
      top: 50%;
      margin-left: -15px;
      margin-top: -17px;
      transition: 0.2s all;
      transform: translateY(0px);

    }
    &:hover:after{
      transform: translateY(-2px);
    }
    &.visible{
      height: 60px;
      overflow: visible;
      opacity: 1;
    }
  }

  > header {
    margin-bottom: 2*@baseline;
  }

  // Page Heading
  h1{
    .h1;

    font-weight: 300;
    margin-bottom: 0.25*@baseline;
    line-height: 30px;
  }

  h2 {
    .h1;

    font-weight: 300;
    margin-bottom: 0.25*@baseline;
    margin-top: 0.5*@baseline;
  }

  h3 {
    margin-bottom: @baseline;

    font-weight: 600;
  }

  p {
    margin-bottom: @baseline;
  }

  //- Read more text button
  a.read-more {
    text-decoration: underline;
  }
   a.read-more-rooms {
    text-decoration: underline;
    margin-left: 19%;
  }

  //- Location of hotel in map
  map {
    margin-bottom: @baseline;
  }

  //- Transportation
  transportation-list {
    display: flex;

    font-size: @size--1;
  }

    transportation-item {
      position: relative;

      flex: 1;
      padding: 0 @baseline @baseline @baseline*2.5;

      // Name
      h4 {
        color: @c-link;

        font-weight: 600;
      }

      // Icon
      img {
        position: absolute;
        left: @baseline;
        top: 9
      }
    }

  .hotel-detail__offers {
    h2{
      margin-top: 0;
    }
    .more-btn{
      text-align: right;
    }
  }
}
