///////////////////
//// NEWS PAGE ////
///////////////////

//- List of Articles
news-list,
news-detail {

  //- Page Heading
  h1 {
    .h1;
  }

  h2 {
    .h2;
  }

  button-back {
    margin-top: @baseline;
  }

  //- Articles
  article {
    cursor: pointer;

    //- Image
    img {
      display: block;
      float: left;
      width: 50%;
      box-sizing: border-box;
      margin: 0 @baseline @baseline 0;
    }

    div {
      display: inline;
    }

    //- Content of article
    > div {
      margin-bottom: @baseline;
    }
  }
}
