///////////////////
//// NEWS PAGE ////
///////////////////

//- List of Articles
news-list,
news-detail {

  //- Page Heading
  h1 {
    .h1;
    font-weight: 300;
    color: @c-black;
  }

  h2 {
    .h2;
  }

  h2 {
    .h2;
  }

  button-back {
    margin-top: @baseline;
  }

  //- Articles
  article {
    cursor: pointer;

    //- Image
    img {
      display: block;
      float: left;
      width: 110px;
      box-sizing: border-box;
      margin: 0 @baseline @baseline 0;
    }

    div {
      display: inline;
      color: @c-grey;
      font-weight: 300;
    }

    //- Content of article
    > div {
      margin-bottom: @baseline;
    }
  }
}

news-detail{
  img{
    float: left;
    margin: 0 20px 10px 0;
    border: 1px solid @c-light-grey;
    max-width: 100%;
  }
}
