/////////////////////
//// ROOM DETAIL ////
/////////////////////

hotel-room {

  //- Page Heading
  h1 {
    .h1;
  }

  h2 {
    .h2;
    margin-top: 0;
  }

  h1 + p {
    color: #999;
  }

  section.header {
    margin-bottom: 2*@baseline;
  }

  .room-gallery {

    p {
      color: @c-hr;
    }

    ul {
      margin: @baseline -@baseline/2;
      .clearfix;

      li {
        float: left;
        display: block;
        margin: @baseline/2 @baseline/2 0 @baseline/2;
        padding: 0;
        width: 150px;
      }

      figure {
        position: static;
        width: 100%;
        height: @list-item-min-height;
        overflow: hidden;
        margin-bottom: @baseline/2;

        img {
          width: 100%;
          display: block;
        }
      }
    }
  }


  //- If there are no available products
  .products-not-available {
    padding: @baseline * 2;

    background: #f6f3ee;

    text-align: center;

    h3 {
      margin-bottom: @baseline;

      color: #555;

      font-size: @size-3;
    }

    p {
      color: #999;
    }


  }
}
