room-products, room-ota-products {
  position: relative;
  width: 63%;
  float: right;
  display: block;
  //border: 1px solid @c-light-grey;
  border-top: none;
  box-sizing: border-box;

  .preloader {
    position: relative;
    top: 0px;
    padding: @baseline*2 0px;
    &:after {
      display:none;
    }
    > span {
      text-transform: initial;
    }
  }

  > ul {
    > li {
      //overflow: auto;
      border: 1px solid @c-light-grey;
      border-top: none;
      float: left;
      width: 100%;
      box-sizing: border-box;
      padding: 0px 10px;

      .viewport-mobile & {
        border-bottom: 1px dotted @c-light-grey !important;

        &:last-of-type {
          border-bottom: none !important;
        }
      }

      &.slashthrough {
        //background: @c-highlight-bg;
        pricing-details{
          .price-form:not(.points){
            display: inline-block;
            width: 100%;
            .original-price{
              display: inline-block;
              color: @c-red;
              position: relative;
              float: right;
              font-style: normal;
              &:after{
                border-top: 1px solid @c-red;
                position: absolute;
                content: "";
                right: 0;
                top:50%;
                left: 0;
              }
            }
            .value{
              float: right;
              clear: both;
            }
          }
        }
      }

      .action-buttons{
        .label{
          text-transform: uppercase;
          font-size: 12px;
        }
      }

      &.is-highlighted {
        background: @c-highlight-bg;
        border-top: 0;
        pricing-info {
          border-left: 1px solid #d0cfcc;
        }
      }

      &.is-member-only {
        background: @c-highlight-bg;
        background: #f7f4f4;
        padding-top: 10px;
        &.is-member-only-disabled{
          background: #f7f4f4;
          .list-item-highlight-label{
            color: #898989;
          }
          button-submit,
          .button{
            background-color: #ccc;
            box-shadow: 0 1px 0 0 #898989;
            min-width: 91px;
          }
        }
      }

      &.is-highlighted,
      &.is-member-only{
        padding-top: 0;
        .list-item-highlight-label{
          text-transform: uppercase;
          font-weight: 700;
          color: @c-dark-brown;
          border-right: 1px solid @c-light-grey;
          width: 60%;
          box-sizing: border-box;
          padding-top: 5px;
          .viewport-mobile &{
            border: none;
          }
        }
        pricing-details{
          top: -20px;
          padding-top: 0px;
        }
      }

      .rate-description {
        padding: 10px 10px 10px 0px;
        width: 60%;
        float: left;
        border-right: 1px solid @c-light-grey;
        box-sizing: border-box;

        h4 {
          a.info {
            &:after {
              .fa;
              display: inline-block;
              content: @fa-var-info-circle;
              color: @c-link;
              padding: 0 5px;
            }

            .viewport-mobile & {
              display: none;
            }
          }

          > span {
            font-size: @size-0;
            font-weight: 400;
          }

          earned-points,
          .noPointsAwarded {
            &:before {
              display: none;
            }

            position: relative;
            float: right;
            max-width: 40%;
            text-align: right;
          }
        }

        .tagline{
          font-size: 13px;
          font-style: italic;
          color: #9b9b9b;
          margin-top: 0px;
        }

        .full-description {
          .viewport-mobile & {
            display: none;
          }
        }

        .tag-line {
          display: none;

          .viewport-mobile & {
            display: block;
          }
        }
        .description-wrapper{
          > p {
            max-height: 20px;
            overflow: hidden;
            margin-top: 10px;

            > p {
              width: 95%;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }


        .info.mobile {
          display: none;

          .viewport-mobile & {
            display: block;
            margin: 10px 0px;
            text-decoration: underline;
          }
        }

        .viewport-mobile & {
          border: none;
        }

        .product-inclusions {
          margin:10px 0;
          padding-left:25px;
          .viewport-mobile & {
            padding-left:0;
          }
        }
      }

      pricing-details {
        display: block !important;
        position: relative;
        width: 40%;
        float: right;
        border: none;
        right: 0;
        bottom: 0;
        top: 0;
        padding-top: 10px;

        .price-details {
          float: left;
          width: 50%;
          padding-top: 3px;
          text-align: center;

          .price-form {
            font-style: italic;
            color: @c-gray;
            font-size: @size--0;
            margin: 0px;

            .value {
              font-size: @size-1;
              color: @c-black;
              font-weight: bold;
              font-style: normal;
            }
          }

          .viewport-mobile & {
            width: 100%;
            text-align: right;
          }
        }

        .action-buttons {
          width: 50%;
          float: left;
          padding: 0px 5px;
          box-sizing: border-box;
          text-align: right;

          .button {
            min-width: 0;
            padding: 0px 10px;
            margin: 5px 0px;
          }

          .viewport-mobile & {
            width: 100%;
            padding: 0px;
          }
        }

        .viewport-mobile & {
          display: none;
        }
      }

      .no-products {
        text-align: center;
        padding: @baseline;
        span{
          display: block;
        }
        button-submit{
          margin-top: 10px;
          .viewport-mobile &{
            width: 100%;
          }
        }
      }

      &:last-of-type {
        border-radius: 0px 0px 4px 4px;
      }

      .viewport-mobile & {
        border: none;
      }
    }
  }

  .loading-failed {
    text-align: center;
    border: 1px solid @c-light-grey;
    border-top: none;

    > * {
      margin: @baseline;
    }

    h3 {
      color: @c-black;
    }

    p {
      color: @c-grey;
    }
  }

  .view-more-rates{
    a{
      font-size: 12px;
      text-decoration: underline;
    }
  }

  .viewport-mobile & {
    width: 100%;
    border: none;

    h4 {
      a {
        &:after {
          display: none;
        }
      }
    }

    earned-points,
    .noPointsAwarded {
      display: none !important;
    }
  }
}
