.site-map {

  margin-top: 2*@baseline;
  padding: @baseline 0 @baseline 0;

  // grid
  background: #f1f1f1;
  border-top: 1px solid @c-light-grey;
  box-sizing: border-box;

  a {
    text-decoration: none;
  }

  h3 {
    font-size: @size-0;
    margin-bottom: .5*@baseline;
  }

  ul {

    li {
      width: 100%;
      padding-bottom: .25*@baseline;
      font-size: @size--1;
    }
  }
}
