.site-map {

  .generate-grid(@grid-width, @grid-gap, 5);

  margin-top: 2*@baseline;
  padding: @baseline 0 @baseline 0;
  background: #f1f1f1;
  border-top: 1px solid @c-light-grey;
  box-sizing: border-box;
  .clearfix;

  article {

  }

  a {
    text-decoration: none;
  }

  h3 {
    font-size: @size-0;
    margin-bottom: @baseline/2;
  }

  ul {
    margin-bottom: @baseline/2;

    li {
      width: 100%;
      padding-bottom: .25*@baseline;
      font-size: @size--1;
    }
  }
}
