<main class="grid-wrapper About">
  <booking-bar class="roombar" size="full-width" stickable="main-header"></booking-bar>

  <breadcrumbs stickable="main-header"></breadcrumbs>
  <hr />

  <div class="About__content">

      <div class="About__text">
          <h1>_about_signup_title_</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet quam in magna egestas finibus. Suspendisse est urna, porttitor sit amet gravida eget, porttitor vitae ipsum. Nulla vitae malesuada orci. Praesent orci libero, sodales sed turpis vitae, lacinia ultricies enim. Vestibulum quis lectus eget leo posuere finibus ac vel dui. Donec in quam at tellus interdum mattis vel nec neque. Nulla elementum quis nunc et consectetur. Donec scelerisque diam nec dolor rhoncus, vitae feugiat ante tincidunt. Fusce dignissim neque quis condimentum convallis. Integer bibendum placerat sapien. Aenean pulvinar lacus purus, id molestie nisi convallis et. Vivamus sollicitudin iaculis tellus, et luctus odio consectetur vulputate. Cras volutpat sapien quis metus volutpat fermentum sit amet ac magna. Nulla facilisi. Donec non porttitor odio, in varius ipsum.</p>
          <p>
            Pellentesque elementum nulla vitae elit pharetra mollis. Quisque ultrices facilisis diam id fringilla. Integer aliquet eget nisi non viverra. Aenean rhoncus purus in mi ullamcorper porttitor a non ex. Fusce mi augue, condimentum ac commodo et, suscipit non metus. Mauris fringilla sit amet augue sed pharetra. Donec sodales justo a est mollis suscipit. Mauris mollis sit amet eros sed fermentum. Ut nec tellus ac augue posuere venenatis eu eu turpis. Vivamus convallis rutrum faucibus. Phasellus varius, enim ut facilisis venenatis, mauris turpis scelerisque tortor, non ultrices metus quam sed ligula. Ut sed enim sed turpis vulputate iaculis. In sed diam est. Vestibulum fringilla nisl quis nunc tincidunt pretium.
          </p>
      </div>
      <div class="About__picture">
          <img src="/static/images/signature-placeholder-large.jpg" alt="hero_small" class="hero_small"></img>
      </div>

  </div>

</main>
