<main class="grid-wrapper About">
  <booking-bar class="roombar" ng-if="!isMobile" size="full-width" stickable="main-header"></booking-bar>

  <button ng-click="openBookingBar()"
          ng-if="isMobile"
          class="HotelDetails__search button">
    _search_
  </button>

  <breadcrumbs stickable="main-header"></breadcrumbs>
  <hr />

  <div class="About__content">

      <div class="About__text">
          <h1>About This Offer</h1>

          <p>Looking to visit Lethbridge?</p>

          <p>Book your stay now with GoLethbridge.com and we'll give you a prepaid AMEX Gift Card of $75 to reward your booking AND an additional $50 AMEX Gift Card for every subsequent night you stay.</p>

          <p>It's that simple ... book a stay and we'll give you $75 in AMEX Gift Cards, book additional nights and we'll add an extra $50 AMEX Gift Card per night.</p>

          <p>Gift Cards can be used any way you'd like … to cover hotel costs, on-site restaurants, room service, spas, amenities … or at surrounding restaurants and shops. The choice is yours.</p>

          <p>Choose dates above and press 'GO' to view available rooms!</p>

          <p>
            Check-in must be on or before February 28, 2018. <br />
            Blackout dates may apply. <br />
            Bookings can be made using VISA, MasterCard, or American Express. <br />
            This promotion is non-cancellable and non-transferrable <br />
            All bookings will be made in CAD and any other currency displayed is a representative value. <br />
            Guests will receive a $75 AMEX Prepaid Gift Card per first night of booking upon check in. <br />
            Guests will receive an additional $50 AMEX Prepaid Gift Card for every additional night after the 1st night. <br />
            Separate consecutive bookings at the same hotel will not result in the guest receiving more than one $75 AMEX Prepaid Gift Card. <br />
            Your booking must be paid in full at check in.  Acceptable methods of payment are a valid credit card, cash and/or the Amex Gift Cards. <br />
            A maximum of three (3) bookings per person is enforced - all subsequent bookings will be converted into normal Best Available. Rate bookings (the corresponding Terms and Conditions will apply) and the guest will not receive an AMEX Prepaid Gift Card. <br />
          </p>

      </div>
      <div class="About__picture">
          <img src="/static/images/Lethbridge_downtown.jpg" alt="Lethbridge downtown" class="hero_small"></img>
      </div>

  </div>

</main>
