<main class="grid-wrapper About">
  <booking-bar class="roombar" ng-if="!isMobile" size="full-width" stickable="main-header"></booking-bar>

  <button ng-click="openBookingBar()"
          ng-if="isMobile"
          class="HotelDetails__search button">
    _search_
  </button>

  <breadcrumbs></breadcrumbs>
  <hr />

  <div class="About__content">

      <div class="About__text">
          <h1>Looking to visit Lethbridge?</h1>

          <p>Book your stay now with GoLethbridge.com and we'll give you a prepaid AMEX Gift Card of $75 to reward your booking AND an additional $50 AMEX Gift Card for every subsequent night you stay.</p>

          <p>It's that simple ... book a stay and we'll give you $75 in AMEX Gift Cards, book additional nights and we'll add an extra $50 AMEX Gift Card per night.</p>

          <p>Gift Cards can be used any way you'd like … to cover hotel costs, on-site restaurants, room service, spas, amenities … or at surrounding restaurants and shops. The choice is yours.</p>

          <span>Choose dates above and press <strong>'GO'</strong> to view available rooms!</span>

          <ul>
            <li>Check-in must be on or before February 28, 2018.</li>
            <li>Blackout dates may apply.</li>
            <li>Bookings can be made using VISA, MasterCard, or American Express.</li>
            <li>This promotion is non-cancellable and non-transferrable.</li>
            <li>All bookings will be made in CAD and any other currency displayed is a representative value.</li>
            <li>Guests will receive a $75 AMEX Prepaid Gift Card per first night of booking upon check in.</li>
            <li>Guests will receive an additional $50 AMEX Prepaid Gift Card for every additional night after the 1st night.</li>
            <li>Separate consecutive bookings at the same hotel will not result in the guest receiving more than one $75 AMEX Prepaid Gift Card.</li>
            <li>Your booking must be paid in full at check in.  Acceptable methods of payment are a valid credit card, cash and/or the Amex Gift Cards.</li>
            <li>A maximum of three (3) bookings per person is enforced - all subsequent bookings will be converted into normal Best Available. Rate bookings (the corresponding Terms and Conditions will apply) and the guest will not receive an AMEX Prepaid Gift Card.</li>
          </ul>

      </div>
      <div class="About__picture">
          <img src="/static/images/Lethbridge_downtown.jpg" alt="Lethbridge downtown" class="hero_small"></img>
      </div>

  </div>

</main>
