aside {
  .clearfix;
  @media only screen and @moreThenMobile and @lessThenDesktop {
    [grid="3"] {
      width: 100%;
      margin: 0;
      float: none;
    }
    hr {
      display: none;
    }
  }

}

search {
  &:extend(.block);
  .margin-bottom;
  .clearfix;

  input[type="text"],
  input[type="search"] {
    box-sizing: border-box;
    height: 2 * @baseline;
    width: 100%;
    padding: 10px;
    line-height: 2 * @baseline - 2 * 10px;
    border: 1px #d6d4d4 solid;
    border-radius: 3px;
    box-shadow: 0 1px 0px 0 #fafafa;
    background-image: data-uri('image/svg+xml;charset=UTF-8', '../images/search.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 25px 25px;
    background-origin: content-box;

    &:focus {
      outline: none;
      box-shadow: 0 1px 0px 0 #fafafa,
                  inset 0 1px 3px 0 rgba(0, 0, 0, 0.15);
    }
  }
}

contact {
  &:extend(.block);

  dl {
    margin: 0;
    .margin-bottom();
  }
  dt, dd {
    .fs-14;
    .line-height(14, 2);
  }
  dt {
    float: right;
    span {
      display: none;
    }
    i {
      float: right;
      .font-size(28, false, 14);
      .line-height(28, 2);
      color: #b4b3b3;
      &:before {
        font-size: 1em;
      }
    }
  }
  dd {
    margin: 0;
  }

  @media only screen and @lessThenTablet {
    dl {
      margin: 0 10px;
    }
    dd,
    dt i {
      color: @white;
    }
    dd {
      .margin-bottom;
      padding-left: 10px;
      background: @colorButtonBlue;
      border-radius: 3px;
      box-shadow: 0 1px 0 0 darken(@colorButtonBlue, 15%);
      font-weight: 600;
    }
  }

  @media only screen and @moreThenMobile {
    dd {
      span {
        display: block;
        border-bottom: 1px #cdcdcd solid;
        margin-top: -1px;
      }
    }
  }
}

advert {
  &:extend(.block);

  @media only screen and @lessThenDesktop {
    display: none;
  }
}

// TABLET STYLES
@media only screen and @moreThenMobile and @lessThenDesktop {
  search,
  contact {
    .grid-fluid-element(8);
  }
}

// DESKTOP STYLES
@media only screen and @moreThenTablet {
  search,
  contact {
    h3 {
      .fs-16(false);
      .line-height(16, 2);
      margin-bottom: 0;
    }
  }
  contact {
    h3 {
      .line-height(16, 1);
    }
  }
}


