/*  ==========================================
    FLOATING BAR styles
    ========================================== */

.floating-bar {
  position: fixed;
  bottom: 0px;
  z-index: 999;

  .active {
    color: #f00;
  }
}
