<hotel-room grid="12">

  <section class="header">
    <h1>{{roomDetails.name}}</h1>
  </section>

  <section ng-if="products">
    <hr />
    <list-items ng-if="products.length">
      <pricing-switch>
        <a href ng-class="{'is-active': pricePer === PP_NIGHT}" ng-click="setPricePer(PP_NIGHT)">Per Night</a>
        |
        <a href ng-class="{'is-active': pricePer === PP_STAY}" ng-click="days && setPricePer(PP_STAY)">Per Stay</a>
      </pricing-switch>
      <list-item
        ng-repeat="product in products | orderBy : setRoomsSorting()"
        ng-class="{'is-highlighted': product.highlighted, 'is-disabled': product.memberOnly && !isUserLoggedIn()}"
        class="without-image">
        <h2>{{product.name}}</h2>

        <earned-points ng-if="isUserLoggedIn() && product.price.pointsEarned">Earn <ng-pluralize count="product.price.pointsEarned" when="{'1': '{} point', 'other': '{} points'}"> </ng-pluralize>
          </earned-points>

        <pricing-info>
          <highlight-item ng-show="product.memberOnly && !isUserLoggedIn()">Members Only Rate</highlight-item>
          <highlight-item ng-show="product.highlighted">Most Booked Package</highlight-item>

          <p>
            <span class="value">{{(product.price.totalBase * (pricePer === PP_STAY ? days : 1)) | i18nCurrency: currencyCode}}</span>
            <span ng-if="pricePer === 'night'">per night</span><span ng-if="pricePer === PP_STAY">per stay</span>
            <span ng-if="isUserLoggedIn() && product.price.pointsRequired">
              <br />or <span class="value">{{(product.price.pointsRequired * (pricePer === PP_STAY ? days : 1))}}</span> points
            </span>
          </p>

          <button-submit
            role="button" tabindex="0"
            ng-click="selectProduct(product)"
            ng-hide="product.memberOnly && !isUserLoggedIn()">
            Book
          </button-submit>
          <a href class="button" ng-show="product.memberOnly && !isUserLoggedIn()" ng-click="sso.login()">Login</a>
        </pricing-info>

        <description-info>
          <div ng-if="product._expanded">
            <div ng-bind-html="sanitize(product.description)"></div>

            <nav>
              <a href ng-click="product._expanded = false">View less</a>
              <a href ng-click="openPriceBreakdownInfo(product)" ng-if="product.price.breakdowns.length">View Price Breakdown</a> &nbsp;&nbsp; | &nbsp;&nbsp;
              <a href ng-click="openPoliciesInfo(product)" ng-if="product.policies">View Policies</a>
            </nav>
          </div>

          <div ng-if="!product._expanded">
            <p>{{product.descriptionShort}}</p>

            <nav>
              <a href ng-click="product._expanded = true">View more</a>
            </nav>
          </div>

          <p>{{product.tagline}}</p>

        </description-info>

      </list-item>
    </list-items>

    <div ng-if="!products.length" class="products-not-available">
      <div ng-if="$stateParams.dates">
        <h3>Sorry, this room is not available for the dates<br> you have selected</h3>
        <p>Try selecting new dates or choosing a new room.</p>
      </div>
      <div ng-if="!$stateParams.dates">
        <h3>Please select your stay dates to see available rates!</h3>
        <p>Enter your dates on the bar below and hit search<br> to see all the rates you can book</p>
      </div>
    </div>

    <hr />
  </section>


  <div grid-row>
    <div grid="12">
      <h2>Room <strong>Description</strong></h2>
      <p ng-bind-html="sanitize(roomDetails.description)"></p>
    </div>
  </div>

  <section ng-if="roomDetails.images.length" class="room-gallery">
    <ul ng-if="roomDetails.images.length" class="room-gallery">
      <li ng-repeat="image in roomDetails.images" ng-click="openGallery()">
        <figure>
          <img ng-src="{{image.uri}}" alt="{{image.alt}}" err-source="http://lorempixel.com/150/100" />
        </figure>
      </li>
    </ul>
    <hr />
  </section>

  <section ng-if="roomDetails.amenities.length">
    <h2>Room <strong>Amenities</strong></h2>

    <amenities-list>
      <amenity-item ng-repeat="amenity in roomDetails.amenities">
        <slug-img slug="amenity.slug" type="room" width="15" height="15"></slug-img>
        <span>{{amenity.name}}</span>
      </amenity-item>
    </amenities-list>
    <hr/>
  </section>

  <section ng-show="otherRooms.length > 1">
    <h2>Other <strong>Rooms</strong> at {{property.nameLong}}</h2>

    <list-items class="grid-view">
      <list-item
        ng-repeat="otherRoom in otherRooms"
        ng-click="onClickOnAssociatedRoom(otherRoom)"
        class="with-special-hover">
        <figure ng-show="otherRoom.images[0]">
          <img ng-src="{{otherRoom.images[0].uri}}" alt="{{otherRoom.name}}" err-source="http://lorempixel.com/150/100/">
        </figure>

        <h2>{{otherRoom.name}}</h2>

        <pricing-info>
          <p> from <span class="value">{{otherRoom.priceFrom | i18nCurrency: currencyCode}}</span></p>
        </pricing-info>
      </list-item>
    </list-items>

  </section>
</hotel-room>
