<section widget="room" grid>
  <header>
    <h1>{{details.name}}</h1>
    <p ng-bind-html="sanitize(details.description)"></p>
    <hr>
  </header>

  <div class="room-prices" ng-if="products.length">
    <accordion close-others="oneAtATime">
      <accordion-group heading="{{product.name}}" is-open="isOpen[$index]" ng-class="{'is-open': isOpen}" ng-repeat="product in products">
        <accordion-heading >
          <i class="icon icon-{{product.icon || 'star-1'}}"/>
          <header>
            <h3 class="title">{{$index}} {{isOpen[$index]}} {{product.name}}</h3>
            <p class="desc">{{product.tagline}}</p>
          </header>
          <p class="price">{{product.price.totalBase | i18nCurrency: $root.currencyCode}}</p>
          <small>per night</small>
        </accordion-heading>
        <p ng-bind-html="sanitize(product.description)"></p>
      </accordion-group>
    </accordion>
  </div>

  <div class="room-continue">
    <a class="button" ui-sref="reservation.details">_continue_</a>
  </div>

  <div class="room-desc">
    <h3 class="section-title">Room <strong>Description</strong></h3>
    <p ng-bind-html="sanitize(details.description)"></p>
  </div>
  <div class="room-amenities">
    <h3 class="section-title">Room <strong>Amenities</strong></h3>
    <ul>
      <li ng-repeat="amenity in details.amenities">
        <i class="icon-{{amenity.icon || 'globe'}}"/>
        <span>{{amenity.name}}</span>
      </li>
    </ul>
  </div>
</section>
