<section widget="room" grid>
  <header>
    <h1>{{room.name}}</h1>
    <p>{{room.perex}}</p>
    <hr>
  </header>
  <div class="room__prices">
    <accordion close-others="oneAtATime">
      <accordion-group heading="Best available Rate" is-open="open" ng-class="{'is-open': open}" ng-repeat="rate in rates">
        <accordion-heading>
          <i class="icon icon-{{rate.icon}}"/>
          <header>
            <h3 class="title">{{rate.type}}</h3>
            <p class="desc">{{rate.subtitle}}</p>
          </header>
          <p class="price" currency="{{rate.currency}}">{{rate.price}}</p>
          <small>per night</small>
        </accordion-heading>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu convallis odio. Aliquam blandit neque felis, a viverra purus varius quis. Vestibulum augue ante, mattis ac neque non, ultricies rutrum felis. Integer in mattis lorem. Nulla purus diam, rutrum id purus in, iaculis aliquet orci. Nunc vehicula, lectus eu dictum.</p>
      </accordion-group>
    </accordion>
  </div>
  <div class="room__description">
    <h3 class="section-title">Room <strong>Description</strong></h3>
    <p>{{room.description}}</p>
  </div>
  <div class="room__amenities">
    <h3 class="section-title">Room <strong>Amenities</strong></h3>
    <ul>
      <li ng-repeat="item in amenities">
        <i class="icon-{{item.icon}}"/>
        <span>{{item.name}}</span>
      </li>
    </ul>
  </div>
</section>
