///////////////////
//// AMENITIES ////
///////////////////

//- List of Amenities
amenities-list {
  .clearfix;
  display: flex;
  justify-content: space-around;
  margin: 2 * @baseline 0;
}

.amenities-list {
  .clearfix;
  margin: 2 * @baseline 0;
}


//- Amenity
amenity-item {
  padding: @baseline/2;
}

amenity-item,
.amenity {
  color: @c-gray;

  // Icon
  img {
    position: relative;
    display: inline-block;
    top: -2px;
    margin-right: @baseline / 2;

    vertical-align: middle;
  }
}
