///////////////////
//// AMENITIES ////
///////////////////

//- List of Amenities
amenities-list {
  display: flex;
  justify-content: space-around;
}


//- Amenity
amenity-item {
  padding: @baseline/2;

  // Icon
  img {
    display: inline-block;
    margin-right: @baseline / 2;

    vertical-align: middle;
  }
}
