///////////////////
//// AMENITIES ////
///////////////////

//- List of Amenities
amenities-list,
.amenities-list {
  .clearfix;
  margin: 2 * @baseline 0;
  display: block;
}

//- Amenity
amenity-item,
.amenity-item {
  padding: @baseline/2 @baseline * 2;
  display: block;
  width: 33.3333%;
  float: left;
  box-sizing: border-box;
  min-height: 65px;
}

amenity-item,
.amenity-item {
  color: @c-gray;

  // Icon
  img {
    position: absolute;
    display: inline-block;
    margin-top: 2px;
    margin-right: @baseline / 2;
    vertical-align: middle;
  }

  span{
    display: block;
    padding-left: 25px;
  }
}
