#rails-handler {
  display:none;
}
.campaign-rails-active {
  background:url('/static/images/rails.jpg') top center no-repeat;
  background-attachment: fixed;
  #main-container {
    max-width:1045px;
    margin:0px auto;
    background:white;
    position:relative;
  }
  #rails-handler {
    display:block;
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    cursor:pointer;
  }
}
