//- DATEPICKER -//

//- Config
@c-datepicker: @c-brown;

.ui-datepicker {
  z-index: 1050 !important;
  display: none;

  background: #fff;
  box-shadow: 0 0 1px @c-link;
  margin-top: -45px;
  margin-left: -145px;

  &:after {
    .fa;

    content: @fa-var-sort-desc;
    position: absolute;
    font-size: 36px;
    bottom: -14px;
    color: @c-link;
    // NOTE: Panels are not equal
    left: 48%;
  }
}

//- Header
.ui-datepicker-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 4px;

  background: @c-datepicker;
  color: #fff;

  font-size: @size-3;
  font-weight: 600;
  line-height: @baseline * 2;
}

// Month title
.ui-datepicker-title {
  order: 2;
  font-size: @size-1;
}

// Next & prev button
.ui-datepicker-prev,
.ui-datepicker-next {
  order: 1;
  width: @baseline * 2;

  color: #fff;

  cursor: pointer;
  text-align: center;
  font-size: @size--1;

  &:hover,
  &:focus {
    background: darken(@c-datepicker, 10%);
    color: #fff;
  }

  &:before {
    .fa;

    content: @fa-var-chevron-left;
  }

  span {
    display: none;
  }
}

.ui-datepicker-next {
  order: 3;

  &:before {
    content: @fa-var-chevron-right;
  }
}


//- Calendar Table
.ui-datepicker-calendar {
  margin: @baseline;

  tbody {
    tr {
      border: 8px solid @c-white;
    }

    td, th {
      width: @baseline*3;
      color: lighten(@c-text, 50%); // Past days
      font-size: @size-2;
      line-height: @baseline*2;
      text-align: center;
    }

    td {

      a {
        display: block;
        color: @c-text; // Today and Future days
        text-decoration: none;
      }

      // Highlighting today's day
      &.ui-datepicker-today a {
        color: @c-text;
      }

      // Days from other month
      &.ui-datepicker-other-month a {
        color: lighten(@c-text, 50%);
      }

      // Selected start and end day
      &.date-range-start,
      &.date-range-end {
        background: @c-datepicker;
        color: #fff;
      }

      // Selected dates
      &.date-range-selected a {
        background: lighten(@c-datepicker, 5%);
        color: #fff;
      }

      // Day is not available
      &.date-not-available {
        background-color: #ed1c24;

        a {
          color: #fff;
        }

        &.date-range-start,
        &.date-range-end {
          background-color: darken(#ed1c24, 2%);
        }

        &.date-range-selected a {
          background-color: lighten(#ed1c24, 2%);
        }
      }

    }

  }
}

//- Bottom Control Panel
.ui-datepicker-buttonpane {
  position: relative;

  display: flex;
  justify-content: space-between;
  padding: @baseline/2 @baseline;
  color: @c-white;

  background-color: @c-link;
  height: 35px;
  line-height: 35px;

  //- How many days was selected
  &:before {
    display: inline-block;
    content: attr(data-counter);
    position: absolute;
    left: 20px;
    top: 17px;
  }

  // Currently selected rate
  &:after {
    display: inline-block;
    content: attr(data-title);
    position: absolute;
    left: @baseline;
    font-weight: bold;
    top: 0px;
    font-size: @size-1;
    max-width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30px;
    white-space: nowrap;
  }

  .ui-datepicker-close {
    &:extend(.button);
    position: absolute;
    right: @baseline;
    height: @baseline * 1.5;
  }

  // Hide today button
  .ui-datepicker-current {
    display: none;
  }
}


// MONTH PICKER
.month-picker {
  .ui-datepicker-header {
    min-width: 250px;

    .ui-datepicker-title {
      margin-top: 7px;
      min-width: 160px;
    }

    .ui-datepicker-prev,
    .ui-datepicker-next {
      height: 44px;
    }

    select {
      width: 50%;
      float: left;
    }
  }

  table.ui-datepicker-calendar {
    display: none;
  }

  .ui-datepicker-buttonpane {
    padding: 10px;
    height: 35px;

    .ui-datepicker-close {
      &:extend(.button);
      width: 100%;
    }
  }
}