//- FORMS -//

//- Text Input Field
input[type=text],
input[type=number],
input[type=date],
input[type=email],
input[type=password] {
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  height: @baseline * 1.5;
  padding: 0 @baseline/2;
  width: 100%;

  background: #fff;
  border: 1px solid #ccc;
  color: #555;
  outline: none;

  font-family: @ff-default;
  font-size: @size-0;
  line-height: @baseline * 1.5;

  transition: 0.2s all;

  &:focus {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
  }
}


//- Textarea
textarea {
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  height: @baseline * 1.5;
  padding: @baseline/2;
  width: 100%;

  background: #fff;
  border: 1px solid #ccc;
  color: #555;
  outline: none;

  font-family: @ff-default;
  font-size: @size-0;
  line-height: @baseline;

  transition: 0.2s all;

  &:focus {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
  }
}


//- Select Dropdown
select {
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  height: @baseline * 1.5;
  padding: 0 @baseline/2;
  width: 100%;

  background: #fff;
  border: 1px solid #ccc;
  color: #555;
  outline: none;

  line-height: @baseline * 1.5;
}


//- Form Element - Animated Label
form-element {
  position: relative;

  display: block;

  input,
  select,
  textarea,
  .chosen-container {
    position: relative;
    z-index: 1;
  }


  form-label {
    position: absolute;
    left: 0;
    top: 0;

    opacity: 0;

    font-size: @size--2;
    line-height: 14px;

    transition: 0.2s all;
    transform: translate(0, 0);
    will-change: transform;
  }

  input:focus ~ form-label,
  select:focus ~ form-label,
  textarea:focus ~ form-label,
  .chosen-with-drop ~ form-label {
    opacity: 1;

    transform: translate(0, -100%);
  }
}


//- OLD STYLES -//
//- This needs to be refactor

input[type="text"][datepicker-popup] {
  background: transparent url('../images/calendar.svg') no-repeat scroll right center;
  background-size: 25px 25px;
  padding-right: 25px;
}

.form-group {
  position: relative;

  input[type="text"]:focus,
  .chosen-with-drop {
    & ~ .info {
      display: block;
      .formInfoAnimation;
    }
  }

  // Short info text above input/select elements
  .info {
    .animated;
    display: none;
    position: absolute;
    margin-top: -55px;
    .fs-12;
    color: @colorLightGray;
  }
}



label {
  .clearfix;
  position: relative;
  display: block;
  clear: both;
  box-sizing: border-box;
  padding-bottom: 8px;
  .fs-14();
  .line-height(14, 2);
  font-weight: 700;

  &.is-oneline {
    padding-bottom: 0;
  }

  .help {
    float: right;
    color: #53a3da;
    cursor: help;

    &:after {
      content: '?';
    }
  }
}

.form-errors {
  color: red;
  font-weight: 400;
}
