/////////////////////////
//// HORIZONTAL LINE ////
/////////////////////////

hr {
  position: relative;

  clear: both;
  height: 35px;
  margin: @baseline auto;
  width: 80%;
  display: inline-block;
  left: 10%;

  border: 0;
  background: url(../images/general/logo-sp.png) center center no-repeat;

  //- Dashed lines on right and left
  &:after ,
  &:before {
    position: absolute;
    left: 0;
    top: 50%;

    height: 1px;
    width: 45%;

    border-top: 1px dashed rgba(0, 0, 0, 0.15);

    content: '';
  }

  &:before {
    left: auto;
    right: 0;
  }

  &.news-initial-divider {
    left: -3.4%;
  }
}


.dividerWithoutImage {

    background: none;

    &:after ,
    &:before {
      width: 50%;
    }

}
