.hotel-rooms-mobile {
  background: @c-primary;
  color: @c-secondary;
  margin: 0 -20px;
  padding: 30px 10px;
  p {
    color: @c-secondary;
  }
  .rooms-list {
    list-item {
      padding: 0 0 0 110px;
      margin-top: 35px;
      position: relative;
      min-height: 85px;
      border: 0px none;
      &:first-child {
        margin-top: 0;
      }
      >header {
        display: none;
      }
      .list-item-info {
        header {
          h3 {
            display: block;
            width: 100%;
            font-size: @heading-3-size-mobile;
            padding: 10px 0 20px 0;
            a {
              display: block;
              color: @c-grey;
            }
          }
        }
      }
      hero-slider {
        width: 90px;
        height: 85px;
        position: absolute;
        left: 0;
        .slider-controls {
          display: none;
        }
        .thumbnail-nav {
          display: none;
        }
      }
      .pricing-info {
        .price-form {
          font-size:17px;
        }
      }
      .amenities {
        display: none;
      }
      room-products {
        display: none;
      }
      .room-see-more {
        display: none;
      }
      room-details {
        display: none;
      }
    }
  }
}