hotel-location {

  > p,
  h3 {
    margin: @baseline 0;
  }

  contact-list,
  transportation-list {
    display: flex;
    flex-flow: wrap;

    strong {
      color: @c-brown;
    }
  }

  i {
    position: absolute;
    top: 3px;
    left: 30px;
    color: #781818;
  }

  img {
    position: absolute;
    top: 0;
    left: 40px;
  }

  h3,
  h4 {
    font-size: @size-0;
    font-weight: bold;
  }

  h4 {
    color: @c-brown;
  }

  transportation-item,
  contact-item {
    position: relative;

    box-sizing: border-box;
    flex: 1 0 33%;

    display: block;
    width: 33%;

    div {
      position: relative;

      padding-left: 50px;
    }
  }

}
