hotel-location {

  header{
    margin-bottom: 10px;

    //- View Full Screen
    p {
      margin: -1.75*@baseline 0 0 0;
      display: inline;
      float: right;
      a {
        text-decoration: underline;
        font-size: @size--1;

        &:focus,
        &:hover {
          text-decoration: none;
        }
      }
    }
  }


  contact-list {
    margin-bottom: @baseline;

    // Email
    contact-item:nth-of-type(1) div {
      padding-left: 0 !important;
      text-align: left !important;
    }

    // Address
    contact-item:nth-of-type(3) div {
      padding-left: 0 !important;
      text-align: right !important;
    }
  }

  contact-list,
  transportation-list {
    display: flex;
    flex-flow: wrap;
    text-align: center;

    strong {
      color: @c-brown;
    }
  }

  i {
    top: 3px;
    left: 0;
    color: #781818;
  }

  img {
    position: absolute;
    top: 0;
    left: 40px;
  }

  h3,
  h4 {
    font-size: @size-0;
    font-weight: bold;
  }

  h4 {
    color: @c-brown;
  }

  transportation-item,
  contact-item {
    position: relative;

    box-sizing: border-box;
    flex: 1 0 33%;

    display: block;
    width: 33%;

    div {
      position: relative;
      padding-left: 20px;
    }
  }

  // Address
  address {
    display: inline-block;
    vertical-align: top;
  }

}
