////////////////////
//// LIST ITEMS ////
////////////////////

@c-link-alt: darken(@c-link, 12%);
@c-highlight-bg: #e6dcce;
@c-disabled-bg: #ededed;
@list-item-min-height: 100px;

list-items {
  display: block;
  position: relative;
  margin-left: -@baseline/2;
  margin-right: -@baseline/2;

  &.rooms-list{
    margin-left: 0;
    margin-right: 0;
  }
}

pricing-switch {
  text-align: right;
  color: @c-link;
  font-size: @size--1;
  display: block;
  margin-bottom: @baseline/2;
  margin-right: @baseline/2;
  text-decoration: none;

  a {
    color: #ccc;

    &.is-active {
      font-weight: bold;
      color: @c-base;
    }

    &.is-disabled {
      color: #999;

      cursor: default;
    }
  }

  .viewport-mobile & {
    display: none;
  }
}

list-item {
  position: relative;
  display: block;
  min-height: @list-item-min-height;
  padding: @baseline/2 185px @baseline/2 19%;
  border-top: 1px dashed #ccc;

  .hotel-detail__rooms &{
    //padding: @baseline 185px @baseline 19%;
  }

  .list-item-header {
    //height: 30px;

    pricing-info {
      display: none;
    }

    earned-points,
    .noPointsAwarded {
      margin-top: 0;
      width: 12%;
      display: inline;
      vertical-align: middle;
    }
  }

  .wide-button {
    display: none;

    @media only screen and @large-mobile-max {
      display: block;
      margin-top: 20px;
      text-align: center;
    }
  }

  .viewport-mobile &{
    padding-right: 0;
    padding-bottom: 90px;
    padding-left: 120px;

    .list-item-header {
      height: auto;

      pricing-info {
        position: relative;
        display: inline-block;
        margin-top: 30px;
        margin-left: 15px;

        p {
          display: block;
          margin-bottom: 0;
        }
      }
    }
  }

  @media only screen and @small-mobile-max {
    .hotel-detail__rooms &{
      //padding-left: 0;
      //padding-bottom: 20px;
    }

    .wide-button-room-details {
      margin-left: -10px;
    }

    .wide-button {
      margin-top: 45px;
      display: block;

      a, button-submit {
        width: 100%;
      }
    }

    &.without-image {
      padding-bottom: @baseline;
    }
  }

  &.without-image {
    padding-left: @baseline;
  }

  &.slashthrough {
    pricing-info{
      p{
        display: inline-block;
        span:not(.points){
          float: right;
          clear: both;
        }
        .original-price{
          display: inline-block;
          color: @c-red;
          position: relative;
          float: right;
          font-style: normal;
          &:after{
            border-top: 1px solid @c-red;
            position: absolute;
            content: "";
            right: 0;
            top:50%;
            left: 0;
          }
        }
        .value:not(.points){
          float: right;
          clear: both;
        }
      }
    }
    .action-buttons{
      .label{
        text-transform: uppercase;
        font-size: 12px;
      }
    }

  }

  &.is-highlighted {
    background: @c-highlight-bg;
    border-top: 0;
    .list-item-highlight-label{
      text-transform: uppercase;
      font-weight: 700;
      color: @c-dark-brown;
    }
    pricing-info {
      border-left: 1px solid #d0cfcc;
    }
  }

  &.is-member-only {
    background: #f7f4f4;
    .list-item-highlight-label{
      text-transform: uppercase;
      font-weight: 700;
      color: @c-dark-brown;
    }
    &.is-member-only-disabled{
      .list-item-highlight-label{
        color: #898989;
      }
      button-submit,
      .button{
        background-color: #ccc;
        box-shadow: 0 2px 0 0 #898989;
        line-height: 38.5px;
        height: 38.5px;
      }
    }
  }

  &.is-disabled {
    background: @c-disabled-bg;
    border-top: 0;

    pricing-info {
      border-left: 1px solid #d3d3d3;
      color: @c-grey;

      p .value {
        color: @c-grey;
      }
    }

    highlight-item {
      color: @c-grey;
    }
  }

  &.is-highlighted + &, &.is-disabled + & {
    border-top: 0;
  }

  &:first-of-type {
    border: 0;
  }

  // behave like link
  &[ng-click] {
    .viewport-mobile & {
      cursor: pointer;
    }
  }

  //- Image
  figure {
    position: absolute;
    left: @baseline/2;
    top: @baseline/2;
    width: 15.6%;
    max-height: @list-item-min-height;
    overflow: hidden;
    display: block;
    border: 1px solid #ccc;

    .hotel-detail__rooms &{
      //left: 0;
      //top: @baseline;
    }

    .viewport-mobile &{
      width: 100px;
    }
    @media only screen and @small-mobile-max {
      .hotel-detail__rooms &{
        //width: 100%;
        //box-sizing: border-box;
        //position: relative;
        //left: auto;
        //top: auto;
        //overflow: visible;
        //max-height: none;
        //border: none;
        //margin-bottom: 14px;
      }
    }

    img {
      width: 100%;
      display: block;
    }
  }

  //- Appear eye icon on hover
  &.with-special-hover {
    figure:after {
      position: absolute;
      left: 0;
      top: 0;

      height: 100%;
      width: 100%;

      background: rgba(0, 0, 0, 0.7) url('@{img-prefix}/v4/eye.svg') center center no-repeat;
      background-size: 50px;
      opacity: 0;

      transition: 0.2s all;

      content: '';
    }

    &:hover figure:after {
      opacity: 1;
    }

    pricing-info{
      width: auto;
      right: auto;
    }
  }

  //- Heading
  h2, h3 {
    color: @c-link;
    font-weight: 300;
    font-size: @size-2;
    display: inline-block;
    width: 80%;
  }

  //- Earned points
  earned-points,
  .noPointsAwarded {
    position: absolute;
    font-style: italic;
    font-size: @size--1;
    line-height: 16px;
    color: #999;

    &:before {
      width: 16px;
      height: 16px;
      background: url('@{img-prefix}/v4-mobius/star-earnings.png') 0 0 no-repeat;
      display: block;
      content: "";
      position: absolute;
      top: 1px;
      left: -1.25 * @baseline;
    }

    .viewport-mobile &{
      position: relative;
      right: auto;
      top: auto;
      padding-left: 20px;
      display: inline-block;
      width: 100%;
      bottom: 10px;
      &:before {
        left: 0;
      }
    }

  }

  pricing-info {
    display: block;
    position: absolute;
    right: @baseline/2;
    top: 0;
    bottom: @baseline/2;
    border-left: 1px solid #ddd;
    width: 170px;

    p.error {
      .not-available();
    }

    .viewport-mobile &{
        right: 15px;
        top: auto;
        bottom: 20px;
        border: none;
        width: auto;
        text-align: left;
        p{
          text-align: left;
          display: none;
        }
    }

    @media only screen and @small-mobile-max {
      display: none;
    }
  }

  //- Description
  description-info {
    display: block;
    font-size: @size--1;
    position: relative;

    color: @c-black;
    font-weight: 300;

    &.overflow {
      max-height: 150px;
      margin-bottom: 10px;
      overflow: hidden;


      &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        display: block;
        height: 24px;

        background: url('@{img-prefix}/v4/text-overlay.png');
        background-size: 100% 30px;

        content: '';
      }
    }

    p:not(p.action-links) {
      margin-bottom: @baseline/2;
      color: @c-black;
      font-weight: 300;

      span{
        font-family: @ff-default !important;
        font-size: 14px !important;
        line-height: 20px !important;
        color: @c-black !important;
      }

    }

    .action-links {
      margin-top: @baseline/2;
    }

    nav {
      display: flex;
    }

    nav a {
      display: inline-block;
      text-decoration: underline;
      color: @c-link-alt;

      &:first-of-type {
        flex: 1;
      }

    }
    .viewport-mobile &{
      width: 80%;
    }
  }
}

//- List Items - Grid
//  it overrides styles ^^
list-items.grid-view {

  &.other-rooms{
    list-item {
      @media only screen and @small-mobile-max {
        float: none;
        display: inline-block;
        box-sizing: border-box;
        width: 50%;
        padding: 10px;
        border: none;
        margin: 0;
      }
    }
  }

  list-item {
    float: left;
    margin: @baseline/2 @baseline/2 0 @baseline/2;
    padding: 0;
    width: 150px;
    border: 0;

    //- Image
    figure {
      position: relative;
      left: auto;
      top: auto;

      width: 100%;
      max-height: @list-item-min-height;
      overflow: hidden;
      margin-bottom: @baseline/2;

      img {
        width: 100%;
        display: block;
      }
    }

    //- Heading
    h2 {
      margin: 0;

      color: #000;

      font-size: @size-0;
      font-weight: 600;
    }

    pricing-info {
      position: static;

      border: 0;

      text-align: left;
    }
  }
}
