////////////////////
//// LIST ITEMS ////
////////////////////

@c-link-alt: darken(@c-link, 12%);
@c-highlight-bg: #e6dcce;
@c-disabled-bg: #ededed;
@list-item-min-height: 100px;

list-items {
  display: block;
  position: relative;
  margin-left: -@baseline/2;
  margin-right: -@baseline/2;
}

pricing-switch {
  text-align: right;
  color: @c-link;
  font-size: @size--1;
  display: block;
  margin-bottom: @baseline/2;
  margin-right: @baseline/2;
  text-decoration: none;

  .is-active {
    color: @c-base;
  }
}

list-item {
  position: relative;

  display: block;
  min-height: @list-item-min-height;
  padding: @baseline/2 320px @baseline/2 18%;

  border-top: 1px dashed #ccc;

  &.is-highlighted {
    background: @c-highlight-bg;
    border-top: 0;

    pricing-info {
      border-left: 1px solid #d0cfcc;
    }
  }

  &.is-disabled {
    background: @c-disabled-bg;
    border-top: 0;

    pricing-info {
      border-left: 1px solid #d3d3d3;
      color: @c-grey;

      p .value {
        color: @c-grey;
      }
    }

    highlight-item {
      color: @c-grey;
    }
  }

  &.is-highlighted + &, &.is-disabled + & {
    border-top: 0;
  }

  &:first-of-type {
    border: 0;
  }

  // behave like link
  &[ng-click] {
    cursor: pointer;
  }

  //- Image
  figure {
    position: absolute;
    left: @baseline/2;
    top: @baseline/2;

    width: 15.6%;
    height: @list-item-min-height;
    overflow: hidden;

    display: block;

    img {
      width: 100%;
      display: block;
    }
  }

  //- Heading
  h2, h3 {
    color: @c-link;
    font-weight: 300;
    font-size: @size-2;
    margin-bottom: @baseline/2;
  }

  //- Earned points
  earned-points {
    position: absolute;
    right: 200px;

    font-style: italic;
    font-size: @size--1;

    top: @baseline;

    color: #999;

    &:before {
      width: 16px;
      height: 16px;
      background: url(../images/v4-mobius/star-earnings.png) 0 0 no-repeat;

      display: block;
      content: "";
      position: absolute;
      top: 1px;
      left: -1.25 * @baseline;
    }
  }

  pricing-info {
    position: absolute;
    right: @baseline/2;
    top: @baseline/2;
    bottom: @baseline/2;

    border-left: 1px solid #ddd;

    width: 170px;

    .button, button-submit {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  //- Description
  description-info {
    display: block;

    color: @c-gray;

    p {
      margin-bottom: @baseline/2;
    }

    nav {
      display: flex;
    }

    nav a {
      display: inline-block;
      text-decoration: underline;
      color: @c-link-alt;

      &:first-of-type {
        flex: 1;
      }

    }
  }
}

//- List Items - Grid
//  it overrides styles ^^
list-items.grid-view {

  list-item {
    float: left;
    margin: @baseline/2 @baseline/2 0 @baseline/2;
    padding: 0;
    width: 150px;

    border: 0;

    //- Image
    figure {
      position: static;
      width: 100%;
      height: @list-item-min-height;
      overflow: hidden;
      margin-bottom: @baseline/2;

      img {
        width: 100%;
        display: block;
      }
    }

    //- Heading
    h2 {
      margin: 0;

      color: #000;

      font-size: @size-0;
      font-weight: 600;
    }

    pricing-info {
      position: static;

      border: 0;

      text-align: left;
    }
  }
}
