//////////////////////
//// MODAL DIALOG ////
//////////////////////

// MODAL BACKDROP STYLES
.modal-backdrop {
  position: fixed;
  z-index: 1030;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: @black;
  opacity: .8;

  // Show/Hide effects
  &.in, &.fade.in {
    opacity: .8;
  }

  &.fade {
    opacity: 0;
  }
}

// MODAL CONTENT STYLES
dialog {
  position: fixed;
  left: 50%;
  top: 50%;
  max-width: @grid-width - @grid-gap;
  border-radius: 5px;
  background: #fff;
  border: 2px solid #ddd;
  transform: translate(-50%, -50%);
  appearance: none;

  .viewport-mobile &{
    width: 90%;
    max-width: 90%;
    max-height: 90%;
    left: 5%;
    transform: translate(0, -50%);
    overflow-y: auto;
  }

  &:focus {
    outline: 0;
  }

  // MODAL CONTAINER STYLES
  .ui-dialog, .ui-info {
    position: relative;
    border-radius: 3px;
    background: @white;

    .has-white-bg & {
      background: @white;
    }
  }

  .ui-info {
    background: @white;
  }

  header {
    padding: @baseline;
    border-bottom: 2px solid #ddd;
    min-height: @baseline;

    .viewport-mobile &{
      padding: 14px;
    }

    button-close {
      position: absolute;
      top: @baseline/2;
      right: @baseline/4;
      border: none;
      line-height: 38px;
      border-radius: 4px;
      font-size: 18px;
      color: #666;
    }

    h1 {
      &:extend(.open-sans-light);
      font-size: 18px;
      padding-right: 3*@baseline;
    }
  }

  main {
    margin: 0;
    padding: 0 @baseline @baseline @baseline;
    box-sizing: border-box;
    .viewport-mobile &{
      width: 100%;
      padding: 14px;
    }
  }

  footer {
    padding: @baseline;
    text-align: right;
    box-sizing: border-box;
    margin-bottom:0 !important;
    .viewport-mobile &{
      padding: 14px;
    }
  }
}

.password-dialog {
  width:90%;
  max-width:600px;
}
