/////////////////////
//// MESSAGE BOX ////
/////////////////////

.msg-box {
  background: lighten(@c-brown, 27%);
  color: #894500;
  border-radius: 2px;
  font-weight: 600;
  width: 100%;
  padding: @baseline/2;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: @baseline;

  a {
    text-decoration: underline;
    color: #894500;
    &:hover {
      color: @c-link;
    }
  }
}
