notification-bar {
  position: absolute;
  width: 100%;
  bottom: 0px;
  display: block;
  overflow: hidden;

  div {
    position: relative;
    margin-top: -100px;
    .transition;

    .close {
      position: absolute;
      right: 20px;
      color: @c-white;
      top: 30px;
      cursor: pointer;
    }

    p {
      color: @c-white;
      display: inline-block;
      width: 100%;
      text-align: center;
      padding: @baseline * 1.5;
      box-sizing: border-box;
    }

    &.active {
      margin-top: 0px;
    }
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
     background: @c-blue;
    opacity: .6;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
  }
}