notification-bar {
  position: absolute;
  width: 100%;
  bottom: 0px;
  display: block;

  div {
    position: relative;

    span {
      color: @c-white;
      display: inline-block;
      width: 100%;
      text-align: center;
      padding: @baseline * 1.5;
    }
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
     background: @c-blue;
    opacity: .6;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
  }
}