////////////////////////
//// LIST OF OFFERS AND REWARDS////
////////////////////////

offers-list,
rewards-list {
  clear: both;
  display: flex;
  flex-flow: wrap;
  justify-content: left;
  margin: 0 @baseline/4 @baseline 0;

  .viewport-mobile &{
    display: block;
  }

  .products-not-available {
    width: 100%;
    p {
      margin: 15px;
    }
  }

  .viewport-mobile &{
    margin-right: 0;
  }

  h1{
    .h1;

  }

  @media only screen and @tablet-landscape-min {
    .offers-heading {
      margin-left:10px;
      margin-right:10px;
    }
  }

  offer-item,
  reward-item {
    display:block;
    border-radius: @radius*2;
    box-sizing: border-box;
    flex: 0 0 ~"calc(33% - 20px)";
    height: 360px;
    overflow: hidden;
    margin: 0 @baseline/2 @baseline @baseline/2;
    width: ~"calc(33% - 20px)";
    position: relative;
    font-weight: 300;

    border: 1px solid @c-light-grey;
    box-shadow: 0 1px 2px @c-light-grey;
    background: #fff;

    text-align: center;

    z-index: 1;

    > a {
      display:block;
      width:100%;
      height:100%;
    }

    // if it's clickable
    &[ng-click] {
      cursor: pointer;

      &:hover img { opacity: .8; }
    }

    .banner{
      position: absolute;
      left: 0;
      top: 4px;
      width: 100%;
      line-height: 18px;
      text-align: center;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: 700;
      letter-spacing: 0px;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
      background: #cc0c39;
      z-index: 9;
      box-sizing: border-box;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
      padding: 2px 5px;
    }

    img {
      display: block;
      margin-bottom: @baseline;
      max-height: 160px;
      min-height: 160px;
      width: 100%;
      object-fit: cover;
      opacity: 1;
    }

    //- Image
    figure{
      position: relative;
      figcaption{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: @c-brown;
        padding: 10px;
        text-align: center;
        width: 100%;
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        display: none;
      }
    }

    &.redeemed{
      figure{
        figcaption{
          display: block;
        }
      }
    }


    //- Content - Title + Description
    section {
      position: relative;
      max-height: 150px;
      overflow: hidden;
      float: left;
      width: 100%;

      &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        display: block;
        height: 24px;

        background: url('@{img-prefix}/v4/text-overlay.png');
        background-size: 100% 30px;

        content: '';
      }
    }

    .offer-property-name{
      font-size: 14px;
      line-height: 14px;
      font-weight: 300;
      text-transform: uppercase;
      color: @c-secondary;
      position: relative;
      top: 4px;
      display: inherit;
      margin-bottom: 4px;
    }

    //- Title
    h2, h3 {
      margin-bottom: @baseline;
      padding: 0 @baseline;

      color: @c-base;

      font-size: @size-2;
      font-weight: 600 !important;
      text-transform: uppercase;
    }

    //- Description
    div {
      color: @c-black;
      margin-bottom: @baseline;
      padding: 0 @baseline;
    }

    //- Read More
    .read-more {
      display: block;
      color: @c-link;
      font-weight: 600;
      position: absolute;
      bottom: 16px;
      left: 0px;
      right: 0px;
    }

    //- Advert Offer
    &.advert {
      height: 358px;
      position: relative;

      img {
        display: block;
        position: absolute;
        top: -1px;
        min-width: 100%;
        min-height: 100%;
        max-width: 100%;
        max-height: none;
        margin-bottom: 0;
      }
    }

    .viewport-mobile &{
      display: block;
      flex: 100%;
      width: 100%;
      padding-bottom: 16px;
      margin: 0 0 @baseline;

      &.advert {
        height: auto;
        position: relative;
        border: none;

        img {
          display: block;
          position: relative;
          top: -1px;
          min-width: 0;
          min-height: 0;
          max-height: none;
          width: 100%;
          height: auto;
        }
      }

    }
    .single-offer-mobile & {
      .viewport-mobile & {
        display:none;
        &:first-child {
          display:block;
        }
      }
    }

  }
}
