////////////////////////
//// LIST OF OFFERS AND REWARDS////
////////////////////////

offers-list,
rewards-list {
  clear: both;
  display: flex;
  flex-flow: wrap;
  justify-content: left;
  margin: 0 @baseline/4 @baseline 0;

  .viewport-mobile &{
    margin-right: 0;
  }

  offer-item,
  reward-item {
    border-radius: @radius*2;
    box-sizing: border-box;
    flex: 0 0 ~"calc(33% - 20px)";
    height: 360px;
    overflow: hidden;
    margin: 0 @baseline/2 @baseline @baseline/2;
    width: ~"calc(33% - 20px)";
    position: relative;
    font-weight: 300;

    border: 1px solid @c-light-grey;
    box-shadow: 0 1px 2px @c-light-grey;
    background: #fff;

    text-align: center;

    // if it's clickable
    &[ng-click] {
      cursor: pointer;

      &:hover img { opacity: .8; }
    }

    //- Image
    img {
      display: block;
      margin-bottom: @baseline;
      max-height: 160px;
      width: 100%;

      object-fit: cover;
      opacity: 1;
    }

    //- Content - Title + Description
    section {
      position: relative;
      max-height: 150px;
      overflow: hidden;
      float: left;
      width: 100%;

      &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        display: block;
        height: 24px;

        background: url('../images/v4/text-overlay.png');
        background-size: 100% 30px;

        content: '';
      }
    }

    //- Title
    h2, h3 {
      margin-bottom: @baseline;
      padding: 0 @baseline;

      color: @c-base;

      font-size: @size-2;
      font-weight: 600 !important;
      text-transform: uppercase;
    }

    //- Description
    div {
      color: @c-grey;
      margin-bottom: @baseline;
      padding: 0 @baseline;
    }

    //- Read More
    span {
      display: block;
      color: @c-link;
      font-weight: 600;
      position: absolute;
      bottom: 16px;
      left: 0px;
      right: 0px;
    }

    //- Advert Offer
    &.advert {
      height: 358px;
      position: relative;

      img {
        display: block;
        position: absolute;
        top: -1px;
        min-width: 100%;
        min-height: 100%;
        max-height: none;
        margin-bottom: 0;
      }
    }

    .viewport-mobile &{

      flex: 100%;
      width: 100%;
      padding-bottom: 16px;
      margin: 0 0 @baseline;

    }

  }
}
