.ota-products {
  border: 1px solid @c-border-grey;
  h4 {
    padding:10px;
    color: @c-primary;
    .viewport-mobile & {
      padding-bottom:0;
      font-size:16px;
      text-align:center;
      color:#606060;
      border:none;
    }
  }
  > li {
    padding: 10px;
    border:0px none;
    border-top: 1px solid @c-border-grey;
    float: none;
    position: relative;
    .viewport-mobile & {
      background:transparent;
      padding:10px 0;
    }
    .ota-rate-text {
      display: table;
      width:100%;
      .viewport-mobile & {
        background: #d9d9d9;
        padding: 15px;
        box-sizing: border-box;
      }

      .rate-logo {
        display: table-cell;
        max-width: 65px;
        .viewport-mobile & {
          max-width:115px;
        }
      }

      span {
        display: table-cell;
        vertical-align: middle;
        padding-left: 10px;
        color: @c-primary;
        font-weight: bold;
        line-height: 13px;
        .viewport-mobile & {
          color:#606060;
          text-align:right;
          font-size:16px;
        }
      }
    }
    a.ota-rate-text {
      span {
        text-decoration:underline;
      }
    }
  }
  .ota-preloader {
    background: #eee;
    padding: 20px;
    box-sizing: border-box;
    display:block;
    .ota-loader {
      display: block;
      width: 20px;
      height: 20px;
      background: url('@{img-prefix}/ota-preloader.gif') no-repeat center center;
      background-size:cover;
      margin:0px auto;
    }
    .ota-loader-text {
      text-align: center;
      display: block;
      margin-top: 10px;
      font-size:10px;
      font-weight:300;
      color: @c-primary;
    }
  }
}
