.preloader {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 15px;
  text-align: center;
  height: 42px;
  z-index: 990;

  &.relative{
    position: relative;
    height: 62px;
  }

  &:before {
    content: '';
    display: block;
    height: 32px;
    background: url('@{img-prefix}/v4/preloader.gif') no-repeat center center;
  }

  &:after {
    display: block;
    height: 10px;
    content: 'loading';
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    color: @c-brown;
  }
}
