.preloader {
  position: absolute;
  left: 0px;
  right: 0px;
  top: -1.5 * @baseline;
  text-align: center;
  height: 2 * @baseline;
  z-index: 998;

  &:before {
    content: '';
    display: block;
    height: 30px;
    background: url('../images/v4/preloader.gif') no-repeat center center;
  }

  &:after {
    display: block;
    height: 10px;
    content: 'loading';
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    color: @c-brown;
  }
}
