//////////////////////
//// PRICING INFO ////
//////////////////////

pricing-info {

  text-align: right;

  // members only or most book package
  highlight-item {
    display: block;

    color: @c-link-alt;

    font-size: @size--2;
    text-transform: uppercase;
  }

  p {
    font-style: normal;
    font-size: @size--1;
    margin-bottom: @baseline/2;
    display: block;
    color: @c-grey;
    text-align: left;

    &.unavailable{
      text-align: center;
      max-width: 70%;
      float: right;
    }

    .value {
      font-style: normal;
      font-size: @size-2;
      font-weight: 600;
      color: @c-link;
    }
  }

  p.price-form {
    text-align: right;
  }
}
