////////////////////
//// PRICE INFO ////
////////////////////

.price {
  font-style: italic;
  font-size: @size--1;
  margin-bottom: @baseline/2;
  display: block;

  span {
    font-weight: 600;
  }

  .value {
    font-style: normal;
    font-size: @size-2;
    color: @c-link;
  }
}
