/////////////////////////
//// LIST OF REWARDS ////
/////////////////////////

//NOTE : SEE LIST OF OFFERS

rewards-list {
  nav{
    width: 100%;
    margin-bottom: @baseline*2;

    ul{
      text-align: center;

      li {
        display: inline-block;

        a{
          color: @c-mid-grey;
          padding-bottom: 4px;
          &:hover{
            color: @c-brown;
          }

        }

        &.active {
          a {
            color: @c-brown;
            cursor: default;
            border-bottom: 2px solid @c-brown;
            font-weight: 600;
          }
        }
      }

      .vr {
        border-left: 1px solid @c-light-grey;
        margin: 0px 5px;
      }
    }
  }

  .products-not-available  {
    width: 100%;
    border-radius: 2px;
  }
}