/////////////////////////
//// LIST OF REWARDS ////
/////////////////////////

//NOTE : SEE LIST OF OFFERS

rewards-list {
  nav{
    width: 100%;
    margin-bottom: @baseline*2;

    ul{
      text-align: center;

      li {
        display: inline-block;

        &.active {
          a {
            color: @c-grey;
          }
        }
      }

      .vr {
        border-left: 1px solid @c-light-grey;
        margin: 0px 5px;
      }
    }
  }
}