slidedown-notifications {
  display:block;
  .campaign-items {
    cursor:pointer;
    text-align:center;
    display:block;
    max-height:0;
    overflow:hidden;
    &.active {
      -webkit-transition: max-height 1.5s;
      -moz-transition: max-height 1.5s;
      transition: max-height 1.5s;
      -webkit-transition-delay: 1s; /* Safari */
      transition-delay: 1s;
      max-height:300px;
    }
    .campaign-bar {
      display:inline-block;
    }
  }
}
