//////////////////////////
//// VIEW MORE IMAGES ////
//////////////////////////

//- About Us, Hotel Detail, Hotels (location)

view-more-images {
  display: block;

  //- Link to gallery
  div {
    text-align: right;
  }

    a {
      text-decoration: underline;

      &:focus,
      &:hover {
        text-decoration: none;
      }
    }


  //- Image
  img {
    width: 100%;
  }
}
