//////////////////////////
//// VIEW MORE IMAGES ////
//////////////////////////

//- About Us, Hotel Detail, Hotels (location)

view-more-images {
  display: block;
  margin: 0px !important;
  position: relative;
  top: -28px;
  text-align: right;
  overflow: hidden;

  hero-slider {
    overflow: visible;
    margin: 0 20px;
    width: auto;

    height: 300px;

    .slider-content {
      overflow: hidden;
      //width: 300px;
      height: 200px;
      position: relative;

      .hero-slide {
        overflow: visible;
        height: 275px;

        .content-inner {
          top: 230px;

          h1 {
            font-size: @size--1;
            color: @c-grey;
            background: none;
            line-height: initial;
            text-align: center;
            text-transform: none;
            width: 100%;
            padding: 0px;

            &:before {
              display: none;
            }

          }

          h2 {
            display: none;
          }
        }
      }
    }

    .slider-controls {
      position: initial;

      .pages {
        top: 205px;

        counter {
          display: inline-block;
          color: @c-grey;
          font-size: @size--2;
        }
      }

      .slide-button {
        background: none;
        width: 12px;
        height: 12px;
        top: 90px;
        color: @c-grey;
        width: auto;
        height: auto;

        color: @c-grey;
        font-size: @size-0;

        &:before {
          .fa;
        }

        &.slide-left {
          &:before {
            content: @fa-var-chevron-left;
          }

          left: -27px;
        }


        &.slide-right {
          &:before {
            content: @fa-var-chevron-right;
          }

          right: -32px;
        }
      }
    }
  }

  // MOBILE SPECIFIC STYLES
  @media only screen and @large-mobile-max {
    top: 20px;
  }

  &.has-no-link {
    top: 2px;

    img {
      margin-top: 0;
    }
  }

  a {
    text-decoration: none;
    font-size: @size--1;

    padding-right: @baseline;

    &:focus,
    &:hover {
      text-decoration: none;
    }
  }

  //- Image
  img {
    width: 100%;
    display: block;
    margin: @baseline/2 0;
  }

  //- if there is button
  button {
    width: 100%;
  }

  read-more{
    position: relative;
    text-align: left;

    p{
      color: @c-black;
      margin-bottom: 5px;
    }
    ul{
      li{
        margin-bottom: 10px;
        a{
          cursor: pointer;
          font-size: 14px;
        }
      }
    }
  }
}
