//////////////////////////
//// VIEW MORE IMAGES ////
//////////////////////////

//- About Us, Hotel Detail, Hotels (location)

view-more-images {
  display: block;
  text-align: right;

    a {
      text-decoration: underline;
      font-size: @size--1;

      &:focus,
      &:hover {
        text-decoration: none;
      }
    }


  //- Image
  img {
    width: 100%;
    display: block;
    margin: @baseline/2 0;
  }
}
