//- CHOSEN -//

/*  ==========================================
    SELECT INPUT ELEMENTS
    ========================================== */

/* @group Base */
.chosen-container {
	height: 26px;
  line-height: 26px;
}

.chosen-container-single .chosen-single {
	height: 26px;
  line-height: 26px;
}