<hero-slider content="heroContent" class="decoration-image"></hero-slider>

<breadcrumbs></breadcrumbs>

<main typo-grid class="grid-wrapper">

  <contacts-page grid-row>
    <h1 grid="12">Contacts <strong>and Feedback</strong></h1>

    <form name="form" ng-submit="form.$valid" grid="8">
      <div>
        <p>How was your stay with us? Did we meet all your expectations? We want your stays at hotels to be the best you have experienced anywhere. You talk, we listen.</p>
        <hr>
      </div>

      <fieldset>
        <form-element>
          <label for="name" class="input-left">
            <input type="text" id="name" required
              placeholder="Enter Your Name"
              ng-model="formData.fields.name" />
            <span>Name</span>
          </label>
        </form-element>

        <form-element>
          <label for="email" class="input-left">
            <input type="email" id="email" required
              placeholder="Enter Your Email"
              ng-model="formData.fields.email" email-check/>
            <span>Email</span>
          </label>
        </form-element>

        <form-element>
          <label for="subject" class="input-left">
            <input type="text" id="subject" required
              placeholder="Enter Subject"
              ng-model="formData.fields.subject"/>
            <span>Subject</span>
          </label>
        </form-element>
      </fieldset>

      <fieldset>
        <form-element>
          <label for="message" class="input-left">
            <textarea id="message" ng-model="formData.fields.message" name="text" placeholder="Text" required></textarea>
            <span>Enter Text</span>
          </label>
        </form-element>
      </fieldset>

      <div>
        <label class="form-errors" ng-if="form.$invalid">
          Please fill out all the fields indicated
        </label>
      </div>

      <div>
        <button-submit role="button" tabindex="0" ng-click="sendForm()" ng-disabled="form.$invalid">Continue</button-submit>
      </div>
      <div ng-show="showErrorMsg">Sending of message failed</div>
    </form>

    <contact-list grid="4">
      <contact-item ng-repeat="contact in chain.contacts">
        <h2>{{contact.name}}</h2>
        <p>{{contact.tel}}</p>
        <p><a href="mailto:{{contact.email}}">{{contact.email}}</a></p>
      </contact-item>
    </contact-list>
  </contacts-page>

</main>
