dialog {
  position: fixed;
  left: 50%;
  top: 50%;

  border-radius: 5px;


  background: #fff;
  border: 2px solid #ddd;

  transform: translate(-50%, -50%);

  appearance: none;

  &:focus {
    outline: 0;
  }
}

.dialog-badges {
  width: 700px;

  //- Header
  header {
    position: relative;

    height: @baseline * 2;
    padding: 0 @baseline;

    border-bottom: 1px solid #ddd;

    line-height: @baseline * 2;

    //- Title
    h1 {
      font-size: @size-3;

    }

    //- Close button
    button-close {
      position: absolute;
      right: 0;
      top: 0;
    }
  }


  //- Main Content

  main {
    display: flex;
    padding: @baseline 0;
  }

  //- List of Badges
  badges-list {
    flex: 1;
    flex-flow: wrap;
    display: flex;
    justify-content: space-between;
    padding: 0 @baseline/2;

    border-right: 1px dashed #ddd;

    img {display: none;} // Temp
  }
    //- Badge icon
    badge-icon {
      border-radius: 100%;
      flex: 0 0 71px;
      height: 71px;
      margin: @baseline / 2;
      width: 71px;

      background: #ffc50a; // Temp
    }

  //- Selected Badge
  badge-selected {
    flex: 1;
    padding: 0 @baseline;

    text-align: center;

    //- Name
    h2 {
      color: @c-brown;

      font-size: @size-3;
      line-height: @baseline * 2;
    }

    //- Image
    img {
      display: block;
      height: 140px;
      margin: 0 auto @baseline auto;
      width: 140px;
    }

    //- Description
    p {
      color: #999;
    }

  }
}
