/////////////////////////
//// HORIZONTAL LINE ////
/////////////////////////

hr {
	position: relative;
	clear: both;
	height: 1px;
	margin: @baseline*2 auto;
	width: 100%;
	display: block;
	border: 0;
  background: @c-light-grey;
}