// Block w/ share buttons
div.share {
  position: relative;
  float: left;
  line-height: 25px;
  vertical-align: middle;
  .viewport-mobile &{
    margin-bottom: 10px;
  }

  a {
    display: inline-block;
    height: 25px;
    width: 25px;
    margin-left: 5px;
    border-radius: 0px;
    position: relative;
    top: 6px;

    &:before {

    }

    &.icon-fb { background: transparent url('@{img-prefix}/facebook-icon.png') no-repeat center;}
    &.icon-fb:before {      content: none; }

    &.icon-twitter { background: transparent url('@{img-prefix}/twitter-icon.png') no-repeat center;}
    &.icon-twitter:before { content: none; }

  }
}