<hero-slider content="heroContent"></hero-slider>

<breadcrumbs></breadcrumbs>

<main class="grid-wrapper">

  <about-us ng-if="!showDetail">

    <div class="preloader" ng-show="preloader.visible"></div>

    <h1 grid="10" ng-bind-html="chain.nameLong | mainHeaderStyle"></h1>

    <section grid-row>
      <p grid="8" ng-bind-html="sanitize(chain.description)"></p>

      <view-more-images grid="4">
        <div><a ng-if="chain.images.length" href="" ng-click="openGallery()">View more images</a></div>
        <img ng-src="{{chain.images[0].uri | cloudinaryImage : 293}}" alt="{{chain.images[0].alt}}"/>
      </view-more-images>
    </section>

    <hr>

    <contacts-list grid="12">
      <contact-item ng-repeat="contact in chain.contacts">
        <h2>{{contact.name}}</h2>
        <p>{{contact.address}}</p>
        <p>{{contact.city}}, {{contact.country}} {{contact.zip}}</p>
        <p class="tel"><a href="tel:{{contact.tel}}">{{contact.tel}}</a></p>
        <p class="mail"><a href="mailto:{{contact.email}}">{{contact.email}}</a></p>
      </contact-item>
    </contacts-list>

    <hr>

    <offers-list>
      <offer-item ng-repeat="about in aboutList track by $index" ng-click="goToDetail(about.code)">
        <img ng-src="{{about.image.uri | cloudinaryImage : 310 : 160 : 'fill'}}" alt="{{about.image.alt}}">

        <section>
          <h2>{{about.title}}</h2>
          <div ng-bind-html="about.subtitle"></div>
        </section>

        <span>Read More</span>
      </offer-item>
    </offers-list>


  </about-us>

  <about-detail ng-if="showDetail" grid="12">
    <h1 ng-bind-html="selectedAbout.title | mainHeaderStyle"></h1>
    <img ng-src="{{selectedAbout.image.uri | cloudinaryImage : 482 : 280 : 'fill'}}" alt="{{selectedAbout.image.alt}}"/>
    <div ng-bind-html="selectedAbout.text | mainHeaderStyle"></div>
    <button-back role="button" tabindex="0" ng-click="goToAboutList()" class="pull-left">Back</button-back>

    <hr>

    <h2 ng-if="aboutList.length > 1">You may also be interested in:</h2>

    <offers-list ng-if="aboutList.length > 1">
      <offer-item ng-repeat="about in aboutList | filter:getRelevant track by $index" ng-click="goToDetail(about.code)">
        <img ng-src="{{about.image.uri | cloudinaryImage : 310 : 160 : 'fill'}}" alt="{{about.image.alt}}">

        <section>
          <h2>{{about.title}} </h2>
          <div ng-bind-html="about.subtitle"></div>
        </section>

        <span>Read More</span>
      </offer-item>
    </offers-list>

  </about-detail>

</main>
<div ng-include="'layouts/siteMap.html'" class="site-map"></div>
