<about-us>

  <h1 grid="12">About <strong>{{chain.nameLong}}</strong></h1>

  <section grid-row>
    <p grid="8">{{chain.description}}</p>

    <view-more-images grid="4">
      <div><a ng-if="chain.images.length" href="" ng-click="openGallery()">View more images</a></div>
      <img ng-src="chain.images[0].uri" alt="{{chain.images[0].alt}}" err-source="http://lorempixel.com/390/110/"/>
    </view-more-images>
  </section>

  <hr>

  <contacts-list grid="12">
    <contact-item ng-repeat="contact in chain.contacts">
      <h2>{{contact.name}}</h2>
      <p>{{contact.address}}</p>
      <p>{{contact.city}}, {{contact.country}} {{contact.zip}}</p>
      <p>{{contact.tel}}</p>
      <p><a href="mailto:{{contact.email}}">{{contact.email}}</a></p>
    </contact-item>
  </contacts-list>

  <hr>

</about-us>
