@import "./mobile";

.Home__hero--info {
  display: none;
  position: absolute;
  &.show-desktop {
    display: block;
    left: calc(~'(100vw - 1212px) / 2');
    top: 290px;
    width: 62%;
    .Home__hero--button {
      display: none;
    }
  }
}

.Home__hero--button {
  margin-top: 20px;
  background-color: @c-secondary;
  border-radius: 0;
  width: 322px;
  height: 39.9px;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 39.9px;
  font-family: @ff-primary;
}

.Home__booking-bar {
  .booking-bar {
    .fullscreen &.booking-bar__size-full-width-bottom {
      position: absolute;
      left: 0;
      top: initial;
      bottom: 0;
      min-height: 112px;
      z-index: 1;
    }
  }
}

.LoggedInFooter {
  background: @c-primary;
  position: fixed;
  z-index: 9999;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding-top: 0;
  .Footer__nav {
    margin-top: 5px;
  }
}

.drop-up .chosen-container {
  &.chosen-with-drop {
    border-radius: 0 0 4px 4px;
    border-color: #ccb08c;
  }
  .chosen-drop {
    top: initial;
    bottom: 54px;
    border-radius: 4px 4px 0 0;
    border-color: #ccb08c;
  }
}
