
.viewport-mobile {

  .Home__hero--info,
  .Home__hero--info.show-desktop {
    display: initial;
    left: 13px;
    top: calc(~'100vh - 300px');
    width: 100%;
    .Home__hero--button {
      display: initial;
    }
  }

  .members-only-banner {
    margin-top: @mobile-header-height;
    height: 100px;
    &.logged-in {
      height: 150px;
    }

    .members-only-banner__label {
      font-size: 22px;
      line-height: 25px;
      font-weight: normal;
    }

    .members-only-banner__not-member {
      font-size: 12px;
    }

    .over-title {
      font-size: 15px;
    }
  }

}

