
.viewport-mobile {

  .Home__hero--info,
  .Home__hero--info.show-desktop {
    display: initial;
    left: 13px;
    top: calc(~'100vh - 300px');
    width: 100%;
    .Home__hero--button {
      display: initial;
    }
  }

  .members-only-banner {
    margin-top: @mobile-header-height;
    height: 100px;
    &.logged-in {
      height: 150px;
    }

    .members-only-banner__label {
      font-size: 22px;
      line-height: 25px;
      font-weight: normal;
    }

    .members-only-banner__not-member {
      font-size: 12px;
    }

    .over-title {
      font-size: 15px;
    }
  }

  .Home__testimonial {
    padding-top: 50px;
    padding-bottom: 0px;
  }

  .hotel-description-container-content {
    .hotel-info-amenities {
      width: 89%;
      float: none;

      .amenity-item span {
        width: 30px;

        &.amenity-caption {
          width: 100%;
        }
        img {
          height: auto !important;
        }
      }
    }
  }

  .About__hero {
    padding-top: 50px;

    .hotel-description-container main {
      padding-top: 320px;
    }

    .register_space {
      min-height: 185px;

      hero-slider {
        height: 185px;
        .slider-controls .pages span{
          &:nth-child(1) {
            margin-left: 35%;
          }
        }
      }

      .promotion-text-container {
        left: 0;
        top: 40px;
        width: 100%;

        .promotion-text-container-title {
          font-size: 28px;
          line-height: 37px;
          width: 100%;
          text-align: center;
          margin-bottom: 0;
        }

        .promotion-text-container-text {
          font-size: 18px;
          line-height: 24px;
          font-weight: 300;
          box-sizing: border-box;
          text-align: center;
          max-width: 260px;
          margin: 0 auto;
          display: block;
          float: none;
        }
      }
    }
  }

  floating-bar {
    top: 240px;
    &.home-bar {
      top: 235px;
      button-submit {
        background: #87C34A;
      }
    }
  }

}

