
.viewport-mobile {

  .Home__hero--info,
  .Home__hero--info.show-desktop {
    display: initial;
    left: 13px;
    top: calc(~'100vh - 300px');
    width: 100%;
    .Home__hero--button {
      display: initial;
    }
  }

}

