<div class="dropdown">
  <a ng-href="{{getStateHref()}}" ng-click="goToState(itemToState, itemParams); bookingBarBroadcast(null)" ng-class="{'is-active': isActive()}">{{title}}</a>

  <ul class="dropdown-menu submenu" ng-show="content.length">
    <!--hide it when the all of ng-repeat items above has filtered flag set with true-->
    <li class="submenu-header" ng-if="hasFilteredItems(content) && city">
      <span>{{city}} {{settings.listState}}</span>
      <div class="divider"/>
    </li>

    <!--<li ng-show="hasFilteredItems(content)" class="divider"></li>
    -->
    <!-- visible when filtered flag for item is set with true -->
    <li ng-repeat="item in content | filteredContent | limitTo: (settings.maxItemsCount ? settings.maxItemsCount : content.length)">
      <a ng-href="{{getStateHref(item)}}" ng-click="goToState(itemToState, itemParams); bookingBarBroadcast(item.code)">
        {{item.title}}
        <span>{{item.subtitle}}</span>
      </a>
    </li>

    <!--hide it when the all of ng-repeat items above has filtered flag set with true-->
    <li has-dropdown="hover" class="dropdown-submenu" ng-show="hasFilteredItems(content) && hasSecondLevelDropdown" >
      <div class="divider"/>
      <div class="dropdown">
        <span class="fa fa-angle-right"></span>
        <a ng-href class="submenu-link">_see_all_ {{settings.listState}}</a>
        <ul class="dropdown-menu submenu">
          <li ng-repeat="item in content | limitTo: (settings.maxItemsCount ? settings.maxItemsCount : content.length)">
            <a ng-href="{{getStateHref(item)}}" ng-click="goToState(itemToState, itemParams); bookingBarBroadcast(item.code)">
              {{item.title}}
              <span>{{item.subtitle}}</span></a>
          </li>
        </ul>
      </div>
    </li>

    <li has-dropdown="hover" class="dropdown-submenu" ng-show="hasFilteredItems(content) && !hasSecondLevelDropdown || settings.maxItemsCount && settings.maxItemsCount < content.length">
      <div class="divider"/>
      <div class="dropdown">
        <a ng-href="{{getStateHref(null)}}" ng-click="goToState(itemToState, itemParams); bookingBarBroadcast(null)" class="submenu-link">_see_all_ {{title}}</a>
      </div>
    </li>
  </ul>
</div>
