/////////////////////
//// BASE STYLES ////
/////////////////////
body,
html{
  position: relative;
}

html.form-element-focused body {
  -webkit-overflow-scrolling : touch !important;
  overflow: auto !important;
  overflow-x: hidden !important;
  height: 100% !important;
}

body {
  overflow-x: hidden;
  background: @c-background-body;
  color: @c-text;

  // Fix for Google fonts in Safari
  -webkit-font-smoothing: subpixel-antialiased;

  &.modal-open,
  &.mobile-menu-active{
    overflow: hidden;
  }
  &.floating-bar-active{
    .viewport-mobile &{
      overflow: hidden;
    }
  }
}

main {
  margin-top: 2*@baseline;
  position: relative;
  &.no-hero{
    margin: 140px auto 40px;
  }
  &.reservations-no-hero {
    padding-top:80px;
    margin: 123px auto 40px;
  }
  .viewport-mobile & {
    margin-top: @baseline!important;
    &.no-hero {
      margin: 80px auto 40px!important;
    }
    &.reservations-no-hero {
      padding-top:30px;
    }
  }
}

a {
  color: @c-link;
  text-decoration: none;
  transition: 0.2s all;

  &:hover,
  &:focus {
    color: lighten(@c-link, 10%);

    text-decoration: none;
  }
}

p{
  color: @c-black;
  font-weight: 300;
}

//- TODO: I don't know, what this is - do we need that
//- this is a way to hide something without using display none so it can be animated ;-)
[collapse] {
  height: 0px;
  overflow: hidden;
  opacity: 0;
  .transition;

  &.in {
    overflow: visible;
    opacity: 1;
    height: auto;
  }
}

//Page transition animations
#main-container[ui-view] {  
  /* start 'enter' transition */
  &.ng-enter {
      /* transition on enter for .5s */
      transition: .75s;

      /* start with opacity 0 (invisible) */
      opacity: 0.25;
  }

  /* end 'enter' transition */
  &.ng-enter-active {
      /* end with opacity 1 (fade in) */
      opacity: 1;
  }
}