/////////////////////
//// BASE STYLES ////
/////////////////////
body,
html{
  position: relative;
}

body {
  padding-bottom: 60px;
  overflow-x: hidden;

  background: @c-background-body;
  color: @c-base;
  &.modal-open,
  &.floating-bar-active{
    .viewport-mobile &{
      overflow: hidden;
    }
  }
}

main {
  margin-top: 2*@baseline;
  position: relative;
  .viewport-mobile & {
    margin-top: @baseline!important;
  }
}

a {
  color: @c-link;
  text-decoration: none;

  &:hover,
  &:focus {
    color: lighten(@c-link, 10%);

    text-decoration: none;
  }
}

p{
  color: @c-grey;
  font-weight: 300;
}

//- TODO: I don't know, what this is - do we need that
[collapse] {
  height: 0px;
  overflow: hidden;
  opacity: 0;
  .transition;

  &.in {
    overflow: visible;
    opacity: 1;
    height: auto;
  }
}

