/////////////////
//// HELPERS ////
/////////////////

// will only be displayed on desktop
@media only screen and @tablet-portrait-max {
  [rwd="desktop"] {
    display: none !important;
  }
}

// will only be displayed on tablets and bigger
@media only screen and @large-mobile-max {
  [rwd="tablet"] {
    display: none !important;
  }
}

// will only be displayed on large mobiles and bigger
@media only screen and @small-mobile-max {
  [rwd="mobile-large"] {
    display: none !important;
  }
}


/*  ==========================================
    Fade fx
    ========================================== */

.fade.in {
  opacity: 1;
}

.fade {
  opacity: 0;
  .transition(opacity, .15s, linear);
}

.clear{
  clear: both;
}

//Styling for read more / reveal sections
.reveal-state {
  display: none;
}

.reveal-section {
  .viewport-mobile & {
    max-height: 100px;
    overflow: hidden;
    .transition(all, .5s, ease-in-out);
  }
}

.reveal-trigger {
  display: none;
  color: @c-secondary;
  cursor: pointer;
  margin-top: 10px;
  .viewport-mobile & {
    display: block;
  }
}

.reveal-state:checked~.reveal-section {
  .viewport-mobile & {
    max-height: 2000px;
  }
}

.reveal-state:checked~.reveal-section~.reveal-trigger {
  .viewport-mobile & {
    display: none;
  }
}
