////////////////////
//// TYPOGRAPHY ////
////////////////////


/*  ==========================================
    Font Families
    ========================================== */

.open-sans {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.open-sans-light {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.open-sans-semi-bold {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 600;
}

.open-sans-bold {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.open-sans-condensed {
  font-family: 'Open Sans Condensed', sans-serif;;
  font-weight: 700;
}

// typography defaults
body {
  font-family: @ff-default;
  font-size: @size-0;
  line-height: @baseline;
  font-weight: 400;
}

// TODO: we agreed with Honza not to style headings directly
// but instead create a couple types of headings as mixins
// which we would be able to use in various components as needed
// we should probably call it differently than just h2() for example

// margins and paddings
.h1, .h2 {
  margin-bottom: @baseline;
}

.h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
}

// font sizes and weights
.h1, strong, th {
  font-weight: 700;
}

.h2 {
  font-weight: 300;
}

.h1, .h2 {
  font-size: @size-3;
}

.h3, .h4 {
  font-size: @size-2;
  font-weight: 700;
}

main {
  div {
    > p + p,
    > p + ul,
    > p + ol,
    > ol + p,
    > ul + p,
    > h1 + p,
    > h2 + p,
    > h3 + p,
    > h4 + p,
    > h5 + p {
      margin-top: 1em;
    }
  }
}

em{
  font-style: italic;
}

small{
  font-size: 12px;
  line-height: 14px;
}

sup{
  vertical-align: super;
  font-size: 10px;
}

.offer-content,
about-detail,
hotel-info{
  ul,
  ol{
    position: relative;
    left: 20px;
    margin-bottom: 20px;
  }
  ul{
    list-style: disc;
  }
  ol{
    list-style: decimal;
  }
  blockquote {
    background: rgba(175, 143, 98, 0.05);
    border-left: 3px solid #af8f62;
    margin: 25px;
    padding: 15px 25px;
    quotes: "\201C""\201D""\2018""\2019";
    position: relative;

    &:before,
    &:after {
      font-family: "Times New Roman", Times, serif;
      color: rgba(176, 144, 95, 0.1);
      content: open-quote;
      font-size: 120px;
      line-height: 0px;
      position: absolute;
      top: 55px;
      left: 10px;
      z-index: 0;
    }

    &:after {
      content: close-quote;
      top: auto;
      left: auto;
      right: 10px;
      bottom: 0px;
    }

    p {
      position: relative;
      display: inline;
      z-index: 1;
    }

    //nested blockquotes
    blockquote {
      padding: 0 10px;
      background: none;
      margin: 20px;
      margin-bottom: 5px;
      &:before,
      &:after {
        content: none;
      }
    }
  }

}
