////////////////////
//// TYPOGRAPHY ////
////////////////////

// typography defaults
body {
  font-family: @ff-default;
  font-size: @size-0;
  line-height: @baseline;
  font-weight: 400;
}

// TODO: we agreed with Honza not to style headings directly
// but instead create a couple types of headings as mixins
// which we would be able to use in various components as needed
// we should probably call it differently than just h2() for example

// margins and paddings
.h1, .h2 {
  margin-bottom: @baseline;
}

.h2, .h3, .h4, .h5, .h6 {
  margin-top: @baseline;
}

// font sizes and weights
.h1, strong, th {
  font-weight: 700;
}

.h2 {
  font-weight: 300;
}

.h1, .h2 {
  font-size: @size-3;
}

.h3, .h4 {
  font-size: @size-2;
  font-weight: 700;
}

main {
  div {
    > p + p,
    > p + ul,
    > ul + p,
    > h1 + p,
    > h2 + p,
    > h3 + p,
    > h4 + p,
    > h5 + p {
      margin-top: 1em;
    }
  }
}
