@import "./mobile";

main.hotel-detail {
  margin-top: 0;
}

.HotelDetails {
  margin-top: @header-height;
  background-color: #FCFCFC;
  // Hide all the dividers
  hr {
    display: none;
  }

  .section-header {
    h2 {
      display: none;
      &.offer-title {
        font-family: @ff-primary;
        display: block;
        text-align: center;
        font-size: 31px;
        font-weight: bold;
        line-height: 36px;
        &:after {
          content: url('@{img-prefix}/lbe/divider-orange.png');
          display: block;
        }
      }
    }
    .search-details {
      display: none;
    }
  }

  .hotel-overview {
    // Trick to burst out of parent bounds for the background colour to work as designed
    margin-left: calc(~'50% - 50vw');
    width: 100vw;
    padding: 50px calc(~'(100vw - 1212px - 40px) / 2') 40px;
    box-sizing: border-box;
    background-color: #fff;

    view-more-images {
      margin-left: 0 !important;
    }

    .hotel-info-details {
      float: left;
      width: 100%;
    }
    view-more-images {
      width: 50% !important;
      margin: 20px 0 !important;
      hero-slider {
        height: 300px;

        .slider-content {
          height: 300px;
          .hero-slide {
            height: 300px;
            border-radius: 10px;
          }
        }
        counter {
          display: none !important;
        }
      }
    }

    hero-slider {
      height: 497px;
      padding-bottom: 70px;

      .slider-content .hero-slide{
        height: 497px;
      }

      .slider-controls {
        .slide-left {
          position: absolute;
          height: 30px;
          width: 30px;
          background-size: 30px 30px;
          opacity: 1;
          padding: 0;
          left: 0;
          top: 540px;
          .viewport-mobile & {
            top: 230px;
          }
        }
        .slide-right {
          position: absolute;
          left: 40px;
          height: 30px;
          width: 30px;
          background-size: 30px 30px;
          opacity: 1;
          padding: 0;
          top: 540px;
          .viewport-mobile & {
            top: 230px;
          }
        }

        .pages {
          bottom: -85px;
          text-align: right;

          .viewport-mobile & {
            bottom: -50px;
          }

          span {
            height: 17px;
            width: 17px;
            border-radius: 50%;
            border: 2px solid black;
            background-color: white;
            &:hover {
              background-color: rgba(255, 255, 255, 0.5);
              .chain-sign & {
                background: @c-secondary-sign;
              }
            }
            &.active {
              background-color: black;
            }
          }
        }
      }
      .viewport-mobile & {
        height: 200px;
        padding-bottom: 50px;
        .slider-content .hero-slide .promotion-text-container.mobile {
          display: none;
        }
        .slider-content .hero-slide {
          height: 200px;
        }
        .slider-controls .slide-button {
          display: block;
        }
      }
    }
  }

  view-more-images {
    read-more {
      display: none;
    }
  }

  .hotel-info-amenities {
    margin-top: 25px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    background-color: #fff;
    padding: 15px;

    h2 {
      color: @c-primary;
      font-family: @ff-serif;
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 1px;
      line-height: 31px;
      margin-bottom: 22px;
    }
  }

  .hotel-detail__offers {

    margin-top: 123px;
    margin-bottom: 0;

    offers-list {
      offer-item {
        border: none;
        height: 400px;
        h2, div {
          font-family: @ff-secondary;
        }
        h2 {
          text-align: left;
          padding: 0;
        }
        section {
          div {
            padding: 0;
            text-align: left;
          }
        }
        .read-more {
          border-radius: 0 !important;
          width: 246px !important;
          font-weight: 300 !important;
          font-size: 16px !important;
          height: 40px !important;
          line-height: 40px !important;
          font-family: @ff-primary !important;
          box-shadow: none !important;
        }
      }
    }

    .offers-title {
      display: block;
      font-size: 31px;
      line-height: 36px;
      font-family: @ff-primary;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
      &:after {
        content: url('@{img-prefix}/lbe/divider-orange.png');
        display: block;
      }
    }

    .more-btn {
      display: none;
    }

  }

  .hotel-detail__rooms {

    .display-all-rooms {
      float: initial !important;
      width: 192px !important;
      text-transform: uppercase !important;
      box-sizing: border-box;
      background: #000 !important;
      margin-left: calc(~'50% - 96px');
      margin-top: 60px;
      border-radius: 50px;
    }

    list-item {

      .list-item-container {
        border-top: none;
        display: flex;
        flex-flow: column;
      }

      .list-item-info {
        width: 280px;
        hero-slider {
          width: 100%;
          ul.thumbnail-nav {
            display: none;
          }
        }
      }

      room-products {

        .button {
          background-color: #000;
          min-width: 170px;

          .viewport-mobile & {
            width: auto;
          }
        }

        .view-more-rates {
          display: none !important;
        }

        a.info {
          display: none;
        }

        a.tagline, .full-description {
          padding-left: 0;
          text-decoration: underline;
        }

      }

      room-details {
        border: none !important;
        width: calc(~'100% - 280px') !important;
        .description {
          width: 100% !important;
          color: #848484;
          font-family: @ff-primary;
          font-size: 16px;
          font-style: italic;
          line-height: 26px;
          text-align: center;
        }
        .price-form {
          display: none;
        }
      }

      .amenities {
        display: none;
      }

      h3 {
        a {
          background: #fff;
          padding: 0 15px;
        }
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        font-size: 31px;
        line-height: 36px;
        font-family: @ff-primary;
        font-weight: bold;
        letter-spacing: 0;

        position: relative;
        z-index: 1;
      }
    }
  }

  .amenities-list {
    margin: 20px 0 0 0;
  }

  .amenity-item {
    margin-bottom: 0;
    span {
      img {
        max-height: none;
        max-width: none;
        height: 28px;
        width: auto;
      }
    }
    .amenity-caption {
      color: @c-alt-grey;
      font-family: @ff-serif;
      font-size: 20px;
      line-height: 22px;
      .viewport-mobile & {
        height: 17px;
        color: @c-alt-grey;
        font-family: @ff-serif;
        font-size: 15px;
        line-height: 17px;
      }
    }
    &:nth-child(n + 7) {
      display: none;
    }
  }

  hotel-location {
    h2 {
      display: none;
    }
    .map-wrapper {
      width: 100vw;
      margin-left: calc(~'-50vw + 50%');
      height: 462px;
      ng-map {
        height: 462px;
      }
    }
  }
}

.HotelBreadcrumbs {
  .breadcrumbs {
    background: #fff;
    width: 1212px;
    margin-left: auto;
    margin-right: auto;
    .alt-nav {
      display: none;
    }
    h1 {
      display: none;
    }
    .wrapper {
      width: initial;
      margin-top: 10px;
    }
  }
}

.HotelDescription {
  margin-bottom: 25px;
  font-size: 17px;
  line-height: 27px;
  color: #6f6f6f;
  font-family: @ff-secondary;
}

.HotelDetails__search {
  background: @lbe-c-primary ;
  border-radius: 0;
  width: 100%;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  font-family: @ff-primary;
  margin: 20px 0;
}

.hotel-description div p {
  font-family: @ff-secondary;
  font-size: 14px;
  line-height: 25px;
  color: @c-tertiary;
}

.HotelContactInfo {
  margin-top: 50px;
}
.hotel-location-container {
  margin-left: calc(~'-50vw + 50%');
  width: 100vw;
}
.hotel-detail__services {
  margin-top: 70px;
  padding: 50px 0;
  width: 100vw;
  box-sizing: border-box;
  margin-left: calc(~'50% - 50vw');
  background-color: #fff;

  .viewport-mobile & {
    margin-top: 20px;
  }
}
