
.viewport-mobile {

  .About__hero {
    background-position: center;

    &.fullscreen {
      position: relative;
    }

    .rating-trip-advisor {

      display: block !important;
      text-align: center;
      padding-bottom: 60px !important;

      .trip-advisor-ratings {
        margin-left: auto;
        margin-right: auto;
        width: 260px;
      }

      .logo {
        clear: both;
        display: block;
        margin-left: auto;
        margin-right: auto !important;
      }

      span {
        display: block;
        width: 100%;
        text-align: center;
        clear: both;
        margin: 20px 0;

        &.number-of-reviews {
          float: left;
          width: auto;
          clear: none;
          margin: 0;
        }
      }

      a {
        display: block !important;
        align-items: center;
        margin-right: 13px;
        width: 145px;
        float: left;
        img {
          width: 145px;
          margin-left: auto;
          margin-right: auto;
          display: block;
        }
      }

      .number-of-reviews {
        font-size: 16px;
      }
    }
  }

  .About__hero--info {
    padding: 450px 0 0 10px;
  }

  .About__hero--tagline {
    font-size: 15px;
    letter-spacing: 0.6px;
    line-height: 18px;
    margin-bottom: 22px;
  }

  .About__hero--title {
    font-size: 45px;
    line-height: 53px;
  }

  .About__logo {
    width: initial;
    img {
      width: 100%;
    }
  }

  .About__benefits {
    height: 770px;
  }

  .About__benefits--overview {
    width: 100%;
    padding-top: 0;
  }

  .About__benefit {
    padding-left: 15px;
    margin-bottom: 40px;
    width: 100%;
  }

  .About__benefits--offer {
    display: none;
  }

  .About__signup {
    h1 {
      font-size: 32px;
    }
    p {
      font-size: 18px;
      line-height: 30px;
      padding: 0 30px;
      width: initial;
    }
  }

  .About__testimonial {
    display: none;
  }

}
