
.viewport-mobile {

  .About__hero {
    background-position: center;

    &.fullscreen {
      position: relative;
    }

    .register_space hero-slider .slider-controls .pages {
      height: 45px;
    }

    .main-content-container .rating-trip-advisor {
      flex-flow: column nowrap;
      justify-content: center;
      padding: 20px;

      .trip-advisor-ratings {
        width: auto;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
      }

      .logo {
        width: 160px;
        margin: 0;
      }

      span {
        margin: 20px 0;
        text-align: center;
        font-weight: 300;
        &.rating-description {
          font-size: 14px;
          line-height: 19px;
        }
        &.number-of-reviews {
          margin: 0;
          font-size: 14px;
        }
      }

      a {
        margin-right: 13px;
        img {
          width: 110px;
        }
      }

      .number-of-reviews {
        font-size: 16px;
      }
    }
  }

  .About__hero--info {
    padding: 450px 0 0 10px;
  }

  .About__hero--tagline {
    font-size: 15px;
    letter-spacing: 0.6px;
    line-height: 18px;
    margin-bottom: 22px;
  }

  .About__hero--title {
    font-size: 45px;
    line-height: 53px;
  }

  .About__logo {
    width: initial;
    img {
      width: 100%;
    }
  }

  .About__benefits {
    height: 770px;
  }

  .About__benefits--overview {
    width: 100%;
    padding-top: 0;
  }

  .About__benefit {
    padding-left: 15px;
    margin-bottom: 40px;
    width: 100%;
  }

  .About__benefits--offer {
    display: none;
  }

  .About__signup {
    h1 {
      font-size: 32px;
    }
    p {
      font-size: 18px;
      line-height: 30px;
      padding: 0 30px;
      width: initial;
    }
  }

  .About__testimonial {
    display: none;
  }

}
