<!-- #global-wrapper -->
<header>
    <nav class="main">
        <ul>
            <li>
                <a class="brand">
                    <img src="" alt=>
                </a>
            </li>
            <li>
                <a href>
                    Hotels
                </a>
            </li>

            <li>
                <a href>
                    Offers & Deals
                </a>
            </li>

            <li>
                <a href>
                    About Us
                </a>
            </li>

            <li>
                <a href>
                    News
                </a>
            </li>

            <li>
                <a href>
                    Contact
                </a>
            </li>

            <li class="dropdown">
                <a href class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon"></i>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href>USD</a>
                    </li>
                </ul>
            </li>

            <li class="dropdown">
                <a href class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon"></i>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href>EN</a>
                    </li>
                </ul>
            </li>
        </ul>

        <a class="button">Log In / Register</a>
    </nav>
</header>

<main ui-view>
</main>

<footer>
    <p>&copy; 2014 Mobius Hotels. All Rights Reserved.</p>
    <nav>
        <!-- SOCIAL LINKS -->
        <ul>
            <li>
                <a>Twitter</a>
            </li>
            <li>
                <a>Facebook</a>
            </li>
        </ul>

        <ul>
            <li>
                <a>Home</a>
            </li>

            <li>
                <a>Hotels</a>
            </li>

            <li>
                <a>About Us</a>
            </li>

            <li>
                <a>Contact</a>
            </li>
        </ul>
    </nav>
</footer>
