<main class="grid-wrapper no-hero">

  <div class="grid-wrapper">
    <div grid="12" class="error-page">
      <div class="error-wrapper">
        <img src="static/images/v4/logo-dark.png">
        <header>
          <h1 ng-bind-html="'_error_page_title_' | mainHeaderStyle"></h1>
          <p>_error_page_subtitle_</p>
        </header>
        <p>_error_page_copy_one_</p>
        <p>_error_page_copy_two_</p>
      </div>
    </div>
  </div>

</main>
<div ng-include="'layouts/siteMap.html'" class="site-map" ng-if="footerConfig.displaySitemap"></div>
