<div class="wrapper">
  <p>&copy; 2015 The Sutton Place Hotel Company. All Rights Reserved.</p>

  <social-links>
    <ul>
      <li>
        <a class="twitter" href="https://twitter.com/SuttonPlaceHtl" target="_blank" title="Twitter"></a>
      </li>
      <li>
        <a class="facebook" href="https://www.facebook.com/thesuttonplacehotels" target="_blank" title="Facebook"></a>
      </li>
      <li>
        <a class="instagram" href="https://instagram.com/suttonplacehotels/" target="_blank" title="Instagram"></a>
      </li>
    </ul>
  </social-links>

  <nav>
    <ul>
      <li><a href="" ui-sref="home">Home</a></li>
      <li><a href="" ui-sref="hotels">Hotels</a></li>
      <li><a href="" ui-sref="aboutUs">About Us</a></li>
      <li><a href="" ui-sref="contacts">Contact</a></li>
    </ul>
  </nav>
</div>
