<div class="wrapper">
  <p>&copy; 2015 Mobius Hotels. All Rights Reserved.</p>

  <social-links>
    <ul>
      <li>
        <a class="twitter" href="//twitter.com" target="_blank" title="Twitter"></a>
      </li>
      <li>
        <a class="facebook" href="//facebook.com" target="_blank" title="Facebook"></a>
      </li>
      <li>
        <a class="youtube" href="//youtube.com" target="_blank" title="YouTube"></a>
      </li>
      <li>
        <a class="flickr" href="//flickr.com" target="_blank" title="Flickr"></a>
      </li>
      <li>
        <a class="pinterest" href="//pinterest.com" target="_blank" title="Pinterest"></a>
      </li>
    </ul>
  </social-links>

  <nav>
    <ul>
      <li><a href="" ui-sref="home">Home</a></li>
      <li><a href="" ui-sref="hotels">Hotels</a></li>
      <li><a href="" ui-sref="aboutUs">About Us</a></li>
      <li><a href="" ui-sref="contacts">Contact</a></li>
    </ul>
  </nav>
</div>
