<nav class="main-nav wrapper" dropdown>
  <a class="brand" ui-sref="home">
    <img src="/static/images/v4/logo.png" alt="Mobius logo">
  </a>

  <a href class="menu-opener dropdown-toggle" dropdown-toggle data-toggle="dropdown"></a>

  <div class="app-menu">
    <ul dropdown-group>
      <li ng-hide="config.menu.singleProperty">
          <a ui-sref="hotels">_hotels_</a>
      </li>

      <li has-dropdown="hover" menu-content="offers" data-title="_offers_deals_" ng-show="config.menu.showOffers">
      </li>

      <li ng-show="config.menu.showAbout">
        <a ui-sref="aboutUs">_about_us_</a>
      </li>

      <li has-dropdown="hover" menu-content="news" data-title="_news_" ng-show="config.menu.showNews">
      </li>

      <li ng-show="config.menu.showContact">
          <a ui-sref="contacts">_contact_</a>
      </li>

      <li has-dropdown="click" currency-list>
      </li>

      <li has-dropdown="click" language-list>
      </li>

      <!-- NOTE: INFINITI SSO LOGIN/REGISTER BUTTONS - WAITING FOR UX -->
      <!--
      <a class="infiniti-update-profile-mobile infiniti-button" style="display:none"></a>
      <a class="infiniti-login-mobile infiniti-button" style="display:none"></a>
      <a class="infiniti-register-mobile infiniti-button button" style="display:none"></a>
      -->
      <li ng-show="!isUserLoggedIn()" profile>
        <a id="loginButton" class="infiniti-login-mobile infiniti-button button button-login">Login</a> <!-- ID used to JS click on button -->
      </li>

      <li has-dropdown="click" ng-show="isUserLoggedIn()" profile>
        <div class="dropdown">
          <a href>
            <div class="profile">
              <div class="user">
                <img err-source="/static/images/v4/img-profile.png" ng-src="{{user.getUser().loyalties.avatar}}">
                <span>{{user.getUser().firstName}}</span>
                <span>{{user.getUser().lastName}}</span>
              </div>

              <div class="points">
                <span>{{user.getUser().loyalties.amount}} _points_</span>
                <span class="vr"/>
                <span>{{user.getUser().loyalties.tier}} _tier_</span>
              </div>
            </div>
          </a>

          <ul class="dropdown-menu submenu">
            <li>
              <a class="infiniti-update-profile-mobile infiniti-button" style="display:none"></a>
            </li>
            <li>
              <a class="infiniti-login-mobile infiniti-button" style="display:none">Login</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>
