<header id="main-header" ng-include="'layouts/header.html'">
</header>

<div class="preloader" ng-show="preloader.visible">loading</div>

<!-- HERO SLIDER AREA -->
<hero-slider content="heroContent">
</hero-slider>

<!-- MAIN CONTENT AREA -->
<main typo-grid>
  <div class="grid-wrapper">
    <div ui-view></div>
  </div>
</main>

<div ng-include="'layouts/siteMap.html'" class="site-map"></div>


<!-- BOOKING WIDGET AREA-->
<floating-bar class="floating-bar" ng-hide="$state.includes('reservation')"/>

<footer id="main-footer" ng-include="'layouts/footer.html'"/>
