<section class="grid-wrapper">
  <article grid="2">
    <h3><a ui-sref="home">Home</a></h3>
  </article>

  <article grid="2" ng-hide="config.menu.singleProperty" site-map-content="hotels" data-title="_hotels_"></article>

  <article grid="2" ng-show="config.menu.showOffers" site-map-content="offers" data-title="_offers_deals_"></article>

  <article grid="2" ng-show="config.menu.showAbout" site-map-content="about" data-title="_about_us_"></article>

  <article grid="2" ng-show="config.menu.showNews" site-map-content="news" data-title="_news_"></article>

  <article grid="2">
    <h3><a ui-sref="contacts">Contact</a></h3>
  </article>
</section>