<section grid-row class="site-map">
  <article grid="1">
    <ul>
      <li><a href>Home</a></li>
    </ul>
    </article>

  <article grid="1">
    <ul>
      <li><a href>Hotels</a></li>
      <li><a href>Regions</a></li>
      <li><a href>Locations</a></li>
      <li><a href>Lorem ipsum</a></li>
      <li><a href>Dolor</a></li>
      <li><a href>Sit Amet</a></li>
    </ul>
    </article>

  <article grid="1">
    <ul>
      <li><a href>Offers and Deals</a></li>
      <li><a href>Offer overview</a></li>
      <li><a href>Sit Amet</a></li>
      <li><a href>Lorem ipsum</a></li>
      <li><a href>Dolor sit</a></li>
    </ul>
    </article>

  <article grid="1">
    <ul>
      <li><a href>About Us</a></li>
      <li><a href>About</a></li>
      <li><a href>Lorem ipsum</a></li>
      <li><a href>Dolor sit</a></li>
      <li><a href>Amet</a></li>
    </ul>
    </article>

  <article grid="1">
    <ul>
      <li><a href>News</a></li>
      <li><a href>Lorem ipsum</a></li>
      <li><a href>Dolor sit</a></li>
      <li><a href>Amet</a></li>
    </ul>
    </article>

  <article grid="1">
    <ul>
      <li><a href>Contact</a></li>
      <li><a href>Lorem ipsum</a></li>
      <li><a href>Dolor sit</a></li>
      <li><a href>Amet</a></li>
    </ul>
    </article>

  <article grid="1">
    <ul>
      <li><a href>Profile</a></li>
      <li><a href>Lorem ipsum</a></li>
      <li><a href>Dolor sit</a></li>
      <li><a href>Amet</a></li>
    </ul>
    </article>
</section>