////////////////////////
//// BOOKING WIDGET ////
////////////////////////

booking-widget {
	button-submit {
    box-shadow: 0 1px 3px 1px rgba(0,0,0,0.45);
		border: 1px solid #b9b9b9;
		border-radius: @radius;
		height: 26px;
	  line-height: 26px;
	}
}

booking-widget-search,
booking-widget-add-room {
	h3:after{
		content: '';
	}
	form-element{
	  // icons
	  .chosen-single:before,
	  &:before {
	  	color: @c-booking-widget
	  }
	}
}