////////////////
//// FOOTER ////
////////////////

footer {

	social-links {
		li {
			margin:  0 3.5px
		}

		a {
			background: url(../../../images/sprite-social.png) no-repeat;
			border-radius: 0;
			height: 30px;
			line-height: 30px;
			width: 29px;

			&:hover {
				background: url(../../../images/sprite-social.png) no-repeat;
			}

			&.facebook:hover,
			&.facebook {
				background-position: 0 0
			}
			&.twitter:hover,
			&.twitter{
				background-position: -29px 0
			}
			&.instagram:hover,
			&.instagram{
				background-position: -58px 0
			}
			&.xing:hover,
			&.xing{
				background-position: -87px 0
			}
			&.linkedin:hover,
			&.linkedin{
				background-position: -116px 0
			}
			&.google:hover,
			&.google{
				background-position: -145px 0
			}
			&:before {
				display: none
			}
		}
	}
}