#main-header {
  background: @colorHeaderBackground
}

.main-nav {
  height: 95px;
  .menu-opener {
    width: 21px;
    background-size: 21px auto;
    background-position: center 33px;
  }
  ul {
    li {
      a {
        color: #000;
        font-size: @size--1;
        &.button {
          color: #fff
        }
      }
    }
  }
  .brand {
    margin-top: 26px
  }

  .viewport-mobile & {
    height: 75px;

    .brand {
      margin-top: 16px;
      img{
        height: 39px
      }
    }
  }
}
