#main-header {
  background: @colorHeaderBackground
}

.main-nav {
  height: 95px;

  .menu-opener {
    width: 21px;
    background-size: 21px auto;
    background-position: center 33px;
  }
  ul {
    li {
      a {
        color: #585858;
        font-size: @size--1;
        &.button {
          color: #fff;
          .viewport-mobile & {
            color: #585858;
          }
        }
      }
    }
  }
  .brand {
    margin-top: 26px
  }

  .viewport-mobile & {
    height: 75px;

    .brand {
      margin-top: 16px;
      img{
        height: 39px
      }
    }
  }
}

@media only screen and @large-mobile-max {
  .main-nav {
    .app-menu {
      background-color: #fff;
      ul {
        li {
          background-color: #fff;
          border-color: #e9e9e9
        }
      }
      li[menu-content] .dropdown > a:after, li[currency-list] .dropdown > a:after, li[language-list] .dropdown > a:after {
        content: '>';
      }
    }
  }
}
