#main-header {
  background: @colorHeaderBackground
}

.main-nav {
  height: 95px;

  .menu-opener {
    width: 21px;
    background-size: 21px auto;
    background-position: center 33px;
  }
  ul {
    li {
      a {
        color: #585858;
        font-size: @size--1;
        &.button {
          color: #fff;
          .viewport-mobile & {
            color: #585858;
          }
        }
      }
    }
    li[currency-list],
    li[language-list] {
       > div > a:after{
        background: none;
        content: '▼';
        font-size: 5px
      }
    }
    li{
      &.desktop-profile {
        .profile {
          margin-top: 29px;
          .message {
            span {
              font-size: @size--3;
              text-transform: none;
            }
          }
          .user {
            margin-top: -5px;
            position: relative;
            &:after{
              content: '▼';
              color: #fff;
              background: none;
              font-size: 5px;
              margin: 0;
              position: absolute;
              right: 25px;
              top: -4px;
            }
            span{
              display: inline;
              font-family: @ff-default;
              font-size: @size--2;
              text-transform: none;
            }
          }
        }
      }
    }
  }
  .brand {
    margin-top: 26px
  }

  .viewport-mobile & {
    height: 75px;

    .brand {
      margin-top: 16px;
      img{
        height: 39px
      }
    }
  }
}

@media only screen and @large-mobile-max {
  .main-nav {
    > .app-menu {
      background-color: #fff;
      ul {
        li {
          background-color: #fff;
          border-color: #e9e9e9
        }
      }
      li[language-list],
      li[menu-content],
      li[currency-list],
      li[language-list] {
        .dropdown {
          > a:after {
            content: '>' !important;
          }
        }
      }
    }
  }
}
