///////////////////////////////
//// PROFILE/REGISTER PAGE ////
///////////////////////////////

profile-page,
register-page {

  //- Page Heading
  header{
    h1 {
    	/*color: #585858;
    	font-size: 16px;
    	font-weight: 700;*/
    }
  }
  form {
  	fieldset {
  		form-element {
	  		label {
	  			line-height: 36px;
	  			margin-bottom: 0;
	  		}
	  		.chosen-container,
 				input[type="text"],
        input[type="email"],
        input[type="password"],
        input[type="tel"],
        select,
        textarea {
        	height: 36px;
          line-height: 36px;
        }
  		}
  	}
    button-submit{
      height: 35px;
      line-height: 35px;
      min-width: 156px
    }
  }
}