@import "./mobile";

.mobile-search-button-wrapper {
  display: none;
}

.HeroBenefits {
  background: rgba(160, 110, 46, 0.8);
  position: relative;
  .fullscreen & {
    top: calc(~'50% - 283px');
  }
  &.bottom {
    top: 408px;
  }
  width: 100%;
}

.HeroBenefits__subtitle {
  height: 105px;
  color: #FFFFFF;
  font-family: @ff-primary;
  font-size: 28px;
  font-weight: 300;
  line-height: 38px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 30px 0;
  h1 {
   margin: 0 auto;
   font-size: 36px;
   line-height: 50px;
   width: 900px;
   text-align: center;
  }
  .emphasis {
    font-weight: 600;
  }
}

.HeroBenefits__benefits {
  width: 1212px;
  height: 340px;

  margin: 0 auto;

  border: 1px solid #464646;
  border-radius: 12px;
  background: linear-gradient(0deg, #4A4A4A 0%, #676767 100%);
  box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.15);

  color: #FFFFFF;
  font-family: @ff-primary;
  font-size: 28px;
  font-weight: 300;
  line-height: 38px;
  text-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  align-content: stretch;
}

.HeroBenefits__signup {
  width: 600px;
  margin: 0 auto;
  padding: 50px 0;
  .HeroBenefits__button {
    max-width: 300px;
    min-width: 250px;
    margin: 0 10px;
    height: 60px;
    color: #fff;
    border: 1px solid #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    text-align: center;
    text-shadow: 0 1px 0 0 rgba(0,0,0,0.1);
    text-transform: uppercase;
    background: transparent;
    letter-spacing: 2px;

    &:hover {
      color: #A97437;
      background-color: #fff;
    }

  }
}

.HeroBenefit__background {
  flex: 1 1 0px;
  display: flex;
  // background: linear-gradient(135.58deg, rgb(160, 110, 46) 0%, #B98747 100%);
  &.get-rewarded {
    border-left: 1px solid #464646;
    border-right: 1px solid #464646;
  }
}

.HeroBenefits__icon-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  flex: 1 1 0px;
}

.HeroBenefits__icon-positionner {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 110px;
}

.HeroBenefits__text-wrapper {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  flex: 0 0 190px;
}

.HeroBenefits__benefit {
  flex: 1 1 0px;
  align-self: stretch;
  display: flex;
  flex-flow: column nowrap;
  h1, h2, p {
    font-family: @ff-primary;
    color: #fff;
    letter-spacing: -0px;
    padding: 0 20px;
  }
  h2 {
    font-size: 30px;
    margin-top: 30px;
    font-weight: 600;
    line-height: 33px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  }
  p {
    font-size: 20px;
    margin-top: 10px;
    color: #E4E4E4;
    font-weight: 300;
    line-height: 26px;
  }
  &.lowest-rates {
    background: url('@{img-prefix}/lbe/lowest-rates-bg.svg') no-repeat;
    background-position-x: -43px;
    background-position-y: 16px;
    .HeroBenefits__icon {
      width: 75px;
    }
  }
  &.get-rewarded {
    background: url('@{img-prefix}/lbe/get-rewarded-bg.svg') no-repeat;
    background-position-x: -33px;
    background-position-y: 16px;
    .HeroBenefits__icon {
      width: 80px;
    }
  }
  &.pay-with-points {
    background: url('@{img-prefix}/lbe/pay-with-points-bg.svg') no-repeat;
    background-position-x: -50px;
    background-position-y: 90px;
    .HeroBenefits__icon {
      width: 91px;
    }
  }
}
