
.viewport-mobile {

  .Home__booking-bar {
    display: none;
  }

  .HotelDetails__search {
    position: absolute;
    bottom: 0;
  }

  .fullscreen .HeroBenefits {
    position: relative;
    padding: 31px 12px 0 12px;
    margin-top: @mobile-header-height;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  .HeroBenefits__subtitle {
    width: 100%;
    font-size: 18px;
  }

  .HeroBenefits__benefits {
    display: none;
  }

  .HeroBenefits__signup {
    right: initial;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }

  .HeroBenefits__benefit {
    margin-bottom: 32px;
    h2, p {
      color: #000;
    }
  }

  .HeroBenefits__button {
    border: solid 2.4px @c-secondary;
    width: calc(~'50% - 14px');
    display: inline-block;
    &:first-of-type {
      margin-right: 24px;
    }
    &.login {
      background: @c-secondary;
    }
  }

}
