.viewport-mobile {

  .HeroBenefits {
    padding-bottom: 15px;
  }

  .HeroBenefits__benefits {
    display: none;
  }

  .HeroBenefits__subtitle {
    font-size: 18px;
    line-height: 24px;
    padding: 15px 0;
    height: auto;
    h1 {
     font-size: 18px;
     line-height: 24px;
     width: 280px;
    }
  }

  .HeroBenefits__signup {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    .HeroBenefits__button {
      width: 280px;
      margin-bottom: 10px;
    }
  }
}
