floating-bar {
  .viewport-mobile &{
    &.active{
      height:100%;
      max-height:570px;
    }
  }
  &.bar-top-right:not(.active) {
    .viewport-mobile:not(.mobile-menu-active) & {
      font-size:12px;
    }
  }
}