hotel-room {
  p {
    .viewport-mobile & {
      margin-top:0;
    }
  }
  list-items list-item>.product-link {
    display:none;
  }
  .controls {
    order-switch, pricing-switch {
      .viewport-mobile & {
        display:block;
      }
    }
  }
}
