room-products {
	width:63%;
	> ul {
		> li {
				&.is-highlighted,
				&.is-member-only{
					pricing-details{
						top: 0px;
						padding-top: 45px;
						.viewport-mobile & {
							padding-bottom: 5px;
						}						
					}
				}
				&.is-member-only {
					&.is-member-only-disabled{
						button-submit,
						.button{
							background-color:@c-button;
							box-shadow:0 1px 0 0 darken(@c-button, 15%),
              inset 0px 0px 10px 30px @c-button;
						}
					}
				}
				.rate-description {
					.viewport-mobile & {
						width:50%;
					}
				}
				.highlight-ribbon, .member-ribbon {
					width: 155px !important;
					position: absolute;
					top: 5px;
					right: -6px;
					padding: 10px 15px 12px 22px !important;
					line-height: 14px;
					border-right: 0px none !important;
					text-align: right;
					color: white !important;
					text-transform: uppercase !important;
					font-weight: 400 !important;
					text-shadow: 1px 1px 1px rgba(55, 53, 53, 0.65);
					font-size: 11px;
					.viewport-mobile & {
						box-sizing: border-box;
						width: 160px !important;
						max-width: initial;
						padding-left: 27px;
					}
				}
				.highlight-ribbon {
					background: url("@{img-prefix}/brown-ribbon.svg") no-repeat center right;
					background-size:100% 100%;
				}
				.member-ribbon {
					background: url("@{img-prefix}/yellow-ribbon.svg") no-repeat center right;
					background-size:100% 100%;
					width: 150px !important;
					padding: 10px 15px 12px 20px !important;
				}
			}
	}
	&.has-ota-products {
		width:100%;
    .viewport-mobile & {
      margin-top:0;
    }
		> ul {
			width:63%;
			float:left;
			.viewport-mobile & {
				width:100%;
				float:none;
			}
		}
		.view-more-rates{ 
			a {
				font-size: 15px;
				line-height: 22px;
				font-weight: 600;
				padding-top: 5px;
				text-decoration: none;
				float: right;
				.viewport-mobile & {
					font-size:13px;
				}
			}
		}
	}
}

room-products + room-ota-products {
	width:100%;
}

.preloader + room-ota-products {
	background:#EEE;
	width:36%;
	margin-right:1%;
	float:left;
	margin-top:13px;
	.viewport-mobile & {
		display:none;
		margin-top:0;
	}
}

ul + room-ota-products {
	display:none;
	.viewport-mobile & {
		display:block;
	}
}
