booking-widget {
  button-submit {
    min-width: 0;
    height: 36px;
    line-height: 36px;
  }
  .chosen-container,
  input[type="text"],
  .chosen-container-single .chosen-single {
    height: 36px;
    line-height: 36px;
  }
}

//- Search
booking-widget-search {
  width: 90%;
  padding: 23px 0;
  //- Make your booking
  h3 {
    display: none
  }
}