contacts-page {
  h1 {
    font-size: @heading-1-size;
  }
  contact-list contact-item {
    font-size:17px;
  }
  contact-list contact-item p:before {
    color: @c-primary;
  }
  contact-list contact-item .email-item:before {
    color:@c-link;
  }
}