.double-optin {
  background-color: #fff;
  color: #000;
  padding-bottom: 70px;
  text-align: center;

  p {
    color: #000;
    &.success {
      color: #6cb365;
    }
    &.error {
      color: #e10f2e;
    }
  }
}
