.double-optin {
  background-color: #fff;
  color: #000;
  padding-bottom: 70px;
  text-align: center;

  p {
    color: #000;
    font-family: @ff-heading;
    font-size: @heading-1-size;
    line-height: initial;
    &.success {
      color: @c-black;
    }
    &.error {
      color: @c-red;
    }
  }
}
