//////////////////////
//// FLOATING BAR ////
//////////////////////
floating-bar {
  background: @c-booking-widget;
  border-top: solid 2px #000;
  button-submit {
    padding: 0;
    &:before {
      .fa;
      content: @fa-var-chevron-right;
      position: absolute;
      right: 90px;
      top: 50%;
      color: #fff;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      font-size: 13px;
    }
  }
  .viewport-mobile & {
    background: @c-booking-widget-active;
  }
  &.multi-room {
    background: @c-booking-widget-active;
  }
  &.active {
    .viewport-mobile & {
      height: 100%;
    }
  }
  >div {
    margin: 0px auto;
    max-width: @grid-width;
  }
  //- Tabs
  >ul {
    top: -@baseline;
    max-width: @grid-width;
    padding-left:60px;
    li {
      &.floating-bar--tab-booking {
        border-top: solid 2px black;
        &::before {
          margin-top: -2px;
          border-top: solid 2px black;
        }
        a {
          color: @c-black;
        }
      }
      &.floating-bar--tab-booking,
      &.floating-bar--tab-advanced-booking{
        .viewport-mobile & {
          a {
            color: @c-black;
          }
          &.is-active {
            a {
              color: @c-white;
            }
          }
        }
      }
      .mobile {
        color: @c-black;
        font-size: 20px;
        .mobile-close {
          &:after {
            color: @c-black !important;
          }
        }
      }
      a {
        font-size: 0.9em;
        line-height: 27px;
        font-family: Arial;
        font-weight: normal !important;
        padding:4px 0 0;
        .viewport-mobile & {
          font-size:0.8em;
        }
        strong {
          font-weight: normal;
        }
      }
      &:first-of-type:before {
        height: @baseline;
      }
      &.floating-bar--tab-booking,
      &.floating-bar--tab-booking.is-active,
      &.floating-bar--tab-booking:before {
        background: @c-booking-widget;
        color: @c-black;
      }
      &.floating-bar--tab-booking:after {
        border-bottom: @baseline solid @c-booking-widget!important;
      }
      &.floating-bar--tab-advanced-booking,
      &.floating-bar--tab-advanced-booking.is-active,
      &.floating-bar--tab-advanced-booking:before {
        background: @c-booking-widget-active;
      }
      &.floating-bar--tab-advanced-booking:after {
        border-bottom: @baseline solid @c-booking-widget-active;
      }
      &.floating-bar--tab-booking.is-active,
      &.floating-bar--tab-advanced-booking.is-active {
        .viewport-mobile & {
          background: @c-booking-widget-active !important;
        }
      }
      &.floating-bar--tab-advanced-booking {
        &.is-active {
          padding-bottom: 2px;
        }
        .viewport-mobile & {
          background: @c-booking-widget;
        }
      }
      //- Skew effect
      &:after {
        // border-bottom: @baseline*1.5 solid @c-booking-widget-active;
      }
      &.floating-bar--tab-booking {
        .viewport-mobile &.main-mobile-toggle {
          &.mobile-is-open a {
            background: @c-booking-widget;
          }
          a {
            background:@c-booking-widget;
            .mobile {}
          }
        }
      }
    }
  }
}
