profile-page, register-page {
  header h1 {
    font-size:@heading-1-size;
    .viewport-mobile & {
      font-size:@heading-1-size-mobile;
    }
  }
  .profile-address2 {
    display: none;
  }
  .mandatory-field {
    &::after {
      content: '*';
      display: inline;
    }
  }
  .white-border {
    cursor: pointer;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
    .fa {
      float: right;
      margin-right: 20px;
    }
  }
  div {
    &.white-border {
      margin-bottom: 20px;
    }
  }
  .expanded {
    border-bottom: 0 none;
  }
  form {
    fieldset {
      form-element {
        .error {
          color: #fff;
          font-style: italic;
        }
      }
    }
  }
  .error {
    color: #fff;
    font-style: italic;
  }
}

register-page {
  form {
    button-submit {
      background: #fff;
      color: #000;
    }
  }
}
