hotel-room {
  h1,
  h2 {
    line-height: 1;
    strong {
      font-weight: normal;
    }
  }
  h1 {
    font-size: @heading-1-size;
    .viewport-mobile & {
      font-size: @heading-1-size-mobile;
    }
  }
  h2,
  h3 {
    font-size: @heading-2-size;
  }
  h2 {
    .viewport-mobile & {
      font-size: @heading-2-size-mobile;
    }
  }
  p {
    color: @c-primary;
  }
  hr {
    display:none;
  }
}