.room-detail {
  padding-top:0 !important;
}
hotel-room {
  h1 {
    display:none;
  }
  h2 {
    line-height: 1;
    .viewport-mobile & {
      font-size: @heading-2-size-mobile;
    }
    strong {
      font-weight: normal;
    }
  }
  h2,
  h3 {
    font-size: @heading-2-size;
  }
  p {
    color: @c-primary;
  }
  hr {
    display:none;
  }
  .products-section {
    background:@c-primary;
  }
  section.header{
    display:none;
  }
  list-items {
    list-item {
      border-bottom:0px none;
      border-top:2px solid @c-secondary;
      &:first-of-type {
        border-top:0px none;
      }
      h2 {
        padding-top:0;
        font-size:@heading-2-size;
        line-height:1em;
      }
      pricing-info {
        border:0px none;
      }
      description-info {
        font-size:@size-0;
        line-height:2em;
      }
    }
  }
}

.products-not-available, .reservations-not-available {
  background:@c-primary;
}