<header grid-row>
  <div grid="12">
    <h1>About <strong>Mobius Hotels</strong></h1>
    <p>3Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</p>
    <a href>Read more</a>
    <!-- test verca-->
    abc
    <div ng-repeat="n in [42, 42, 43, 43] track by $index">
      {{n}} aa
    </div>
    <accordion close-others="oneAtATime">
      <accordion-group heading="Best available Rate" ng-repeat="rate in [0, 1]">
        <accordion-heading>
          <i class="icon icon-{{rate.icon}}"/>
          <header>
            <h3 class="title">{{rate.type}}</h3>
            <p class="desc">{{rate.subtitle}}</p>
          </header>
          <p class="price" currency="{{rate.currency}}">{{rate.price}}</p>
          <small>per night</small>
        </accordion-heading>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu convallis odio. Aliquam blandit neque felis, a viverra purus varius quis. Vestibulum augue ante, mattis ac neque non, ultricies rutrum felis. Integer in mattis lorem. Nulla purus diam, rutrum id purus in, iaculis aliquet orci. Nunc vehicula, lectus eu dictum.</p>
      </accordion-group>
    </accordion>
    ijk
    <accordion >
      <accordion-group heading="Static Header, initially expanded" is-open="true">
        This content is straight in the template.
      </accordion-group>
    </accordion>
    def
    <!-- test verca-->
  </div>
</header>

<section grid-row class="benefits">
  <div class="section-highlighted"><stars/></div>

  <article grid="4">
    <a href="#">
      <img class="grid-img" src="/static/images/v4/icon-offers.png" alt="Great offers">

      <header>
        <h2><strong>Great offers</strong></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
      </header>
    </a>
  </article>
  <article grid="4">
    <a href="#">
      <img class="grid-img" src="/static/images/v4/icon-discounts.png" alt="Discounts">

      <header>
        <h2><strong>Discounts</strong></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
      </header>
    </a>
  </article>

  <article grid="4">
    <a href="#">
      <img class="grid-img" src="/static/images/v4/icon-news.png" alt="Exciting news">

      <header>
        <h2><strong>Exciting news</strong></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
      </header>
    </a>
  </article>

  <div class="section-highlighted"><stars/></div>
</section>

<div grid-row>
  <div grid="12">
    <h1>Our <strong>Offers</strong></h1>
  </div>
</div>

<section grid-row class="offers">
  <article grid="4">
    <a href="#">
      <img class="grid-img" src="/static/images/v4/about-offer-1.png" alt="Free room upgrade">

      <header>
        <h2>Free room <strong>upgrade</strong></h2>
        <p>Lorem ipsum dolor sit amet, vim omnes indoctum voluptatibus ea. Dicta choro quaeque duo eu, sed ne tamquam invidunt concludaturque. Prima dicunt voluptatum vel cu</p>

        <a href>Read More</a>
      </header>
    </a>
  </article>

  <article grid="4">
    <a href="#">
      <img class="grid-img" src="/static/images/v4/about-offer-2.png" alt="Free room upgrade">

      <header>
        <h2>Champagne <strong>breakfast</strong></h2>
        <p>Lorem ipsum dolor sit amet, vim omnes indoctum voluptatibus ea. Dicta choro quaeque duo eu, sed ne tamquam invidunt concludaturque. Prima dicunt voluptatum vel cu</p>

        <a href>Read More</a>
      </header>
    </a>
  </article>


  <article grid="4" class="add">
    <a href="#">
      <img class="grid-img" src="/static/images/v4/about-offer-3.png" alt="Free room upgrade">
      <h2>Download our mobile app for great rates!</h2>
    </a>
  </article>
</section>