<header grid-row>
  <div grid="12">
    <h1>About <strong>Mobius Hotels</strong></h1>
    <p>3Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</p>
    <a href ng-show="isCollapsed" ng-click="isCollapsed = false">Read more</a>

    <div collapse="isCollapsed">
      <div>
        <p>
          <h2>Lorem <strong>Ipsum</strong></h2>
          1. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        </p>

        <hr>

        <h2>Ipsum</h2>
        <p>
          2. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        </p>
        <a href ng-click="isCollapsed = true">Read less</a>
      </div>
    </div>

  </div>
</header>

<section grid-row class="benefits">
  <div class="section-highlighted"><stars/></div>

  <article grid="4">
    <a ng-click="openLoginDialog()" href>
      <img class="grid-img" src="/static/images/v4/icon-offers.png" alt="Great offers">

      <header>
        <h2><strong>Great offers</strong></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
      </header>
    </a>
  </article>
  <article grid="4">
    <a ng-click="openLoginDialog()" href>
      <img class="grid-img" src="/static/images/v4/icon-discounts.png" alt="Discounts">

      <header>
        <h2><strong>Discounts</strong></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
      </header>
    </a>
  </article>

  <article grid="4">
    <a ng-click="openLoginDialog()" href>
      <img class="grid-img" src="/static/images/v4/icon-news.png" alt="Exciting news">

      <header>
        <h2><strong>Exciting news</strong></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
      </header>
    </a>
  </article>

  <div class="section-highlighted"><stars/></div>
</section>

<div grid-row>
  <div grid="12">
    <h1>Our <strong>Offers</strong></h1>
  </div>
</div>

<section grid-row class="offers">
  <article grid="4">
    <a href="#">
      <img class="grid-img" src="/static/images/v4/about-offer-1.png" alt="Free room upgrade">

      <header>
        <h2>Free room <strong>upgrade</strong></h2>
        <p>Lorem ipsum dolor sit amet, vim omnes indoctum voluptatibus ea. Dicta choro quaeque duo eu, sed ne tamquam invidunt concludaturque. Prima dicunt voluptatum vel cu</p>

        <a href>Read More</a>
      </header>
    </a>
  </article>

  <article grid="4">
    <a href="#">
      <img class="grid-img" src="/static/images/v4/about-offer-2.png" alt="Free room upgrade">

      <header>
        <h2>Champagne <strong>breakfast</strong></h2>
        <p>Lorem ipsum dolor sit amet, vim omnes indoctum voluptatibus ea. Dicta choro quaeque duo eu, sed ne tamquam invidunt concludaturque. Prima dicunt voluptatum vel cu</p>

        <a href>Read More</a>
      </header>
    </a>
  </article>


  <article grid="4" class="add">
    <a href="#">
      <img class="grid-img" src="/static/images/v4/about-offer-3.png" alt="Free room upgrade">
      <h2>Download our mobile app for great rates!</h2>
    </a>
  </article>
</section>