//- BUTTONS -//
@c-button: @c-secondary;


//- Button Submit
.typeform-share.button,
.button,
input[type="submit"],
button-submit {
  height: 48px;
  line-height: 48px;
  width: 100%;
  border-radius: 50px;
  background-color: #1DB53A;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  border-bottom: 0;
  &:hover {
    background-color: #1DB53A;
  }
  &:focus {
    background-color: #1DB53A;
    outline: none;
  }
  box-shadow: none;
}

button-submit[disabled="disabled"] {
  background: darken(@c-button, 20%);
  border: none;
  box-shadow: none;
}

button.back {
  &:hover {
    color: #fff;
    &:before {
      border-color: #fff;
    }
  }
}
