select,
input[type=text],
input[type=number],
input[type=date],
input[type=email],
input[type=password],
input[type=tel],
input:not([type=radio]):not([type=checkbox]),
.chosen-container {
  height: 48px;
  border: 1px solid #9B9BA0;
  border-radius: 50px;
  background-color: #FFFFFF;
  padding: 0 20px;
  text-align: initial;
  &.with-icon {
    padding-left: 50px;
  }
}

select.with-icon + .chosen-container {
  padding: 0 0 0 45px;
}

input {
  .placeholder({
    color: #B0B0B4;
    font-family: @ff-primary;
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
  });
}

.chosen-search > input {
  padding-left: 15px;
  .placeholder({
    color: lighten(@c-alt-grey, 50%);
    font-family: @ff-primary;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
  });
}

// Drop-down styling
.chosen-container {
  font-family: @ff-primary;
  font-size: 16px;
  font-weight: 300;
  &.chosen-with-drop {
    border: 1px solid #A7A7A7;
  }
}
.chosen-container-single .chosen-single div b {
  background: none;
  top: 5px;
  right: -10px;
  width: 27px;
  height: 27px;
  &::before {
    font-family: FontAwesome;
    content: "\f107";
    color: rgba(101, 101, 101, 0.27);
    font-size: 27px;
    line-height: 27px;
  }
}
select.with-icon + .chosen-container-single .chosen-single div b {
  right: 10px;
}
.chosen-container ul.chosen-results {
  padding: 0;
  border: none;
  margin: -5px 0 0 0;
  font-family: @ff-primary;
  & li {
    height: 38px;
    line-height: 38px;
    padding: 0 20px;
    color: #89898F;
    &.highlighted {
      background: #EEEDEA none;
      color: black;
    }
  }
}
.chosen-container .chosen-drop {
  border: 1px solid #A7A7A7;
  margin-left: -1px;
  width: calc(~'100% + 2px');
  overflow: hidden;
}
.chosen-container-active.chosen-with-drop .chosen-single {
  box-shadow: none;
}
.chosen-container-single .chosen-single span {
  color: lighten(@c-alt-grey, 10%);
}

.chosen-container-single .chosen-single,
.chosen-single, .chosen-single.chosen-default {
  height: 46px;
  line-height: 46px;
  padding: 0;
}
.chosen-container-single .chosen-search input[type="text"] {
  margin: 5px;
  box-shadow: none;
  width: calc(~'100% - 10px');
}
