

// MODAL CONTENT STYLES

dialog.reservation-modification {
  border: none;

  // MODAL CONTAINER STYLES

  header {
    button-close {
      top: @baseline - 2;
      right: @baseline + 5;
    }
   }
}

