

// MODAL CONTENT STYLES

dialog.reservation-modification, dialog.confirm-terms-dialog {
  border: none;

  // MODAL CONTAINER STYLES

  header {
    button-close {
      top: @baseline - 2;
      right: @baseline + 3;
    }
   }
}

