//////////////////////////////////////
//// Reservation steps navigation ////
//////////////////////////////////////

@arrow-size-desktop: 30px;
@arrow-size-mobile: 20px;

.reservation-steps {
  display: inline-block;
  margin: 0;
  text-align: center;

  .label {
    display: none;
  }

  ul {
    position: relative;
    float: none;
    display: inline-block;
    box-sizing: border-box;

    .viewport-mobile & {
      padding: 20px 0;
      width: 100%;
    }


    li {
      display: inline;
      box-sizing: border-box;
      margin: 0;
      width: 25%;

      .viewport-mobile & {
        width: 25%;
        margin-left: 0;
      }

      .step-number {
        display: none;
      }

      .button {
        height: 60px;
        line-height: 60px;
        border: 0 none;
        color: #fff;
        background-color: #826837;
        font-size: 15px;
        font-weight: bold;
        padding-left: @arrow-size-desktop !important;

        .viewport-mobile & {
          line-height: 35px;
          height: 40px;
          padding-left: @arrow-size-mobile !important;
          padding-right: 0 !important;
        }

        &:before {
          content: '';
          position: absolute;
          // Make :before element to be above parent element
          z-index: 1;
          right: -31px;
          top: 0;
          width: 0;
          height: 0;
          transform: none;
          border-top: @arrow-size-desktop solid transparent;
          border-bottom: @arrow-size-desktop solid transparent;
          border-left: @arrow-size-desktop solid #fff;

          .viewport-mobile & {
            right: -21px;
            border-top: @arrow-size-mobile solid transparent;
            border-bottom: @arrow-size-mobile solid transparent;
            border-left: @arrow-size-mobile solid #fff;
          }
        }

        &:after {
          content: '';
          position: absolute;
          // Overwrite global style and display :after element
          display: block !important;
          // Make :after element to be above parent and before element
          z-index: 2;
          right: -30px;
          top: 1px;
          width: 0;
          height: 0;
          transform: none;
          border-top: @arrow-size-desktop solid transparent;
          border-bottom: @arrow-size-desktop solid transparent;
          border-left: @arrow-size-desktop solid #826837;

          .viewport-mobile & {
            right: -20px;
            border-top: @arrow-size-mobile solid transparent;
            border-bottom: @arrow-size-mobile solid transparent;
            border-left: @arrow-size-mobile solid #826837;
          }
        }

        .dot {
          display: none;
        }

        &[disabled="disabled"]{
          text-shadow: none;
          padding: 0;
          background: #fff;
          color: #000000;

          &:after {
            border-left: @arrow-size-desktop solid #fff;

            .viewport-mobile & {
              border-left: @arrow-size-mobile solid #fff;
            }
          }

          &:before {
            border-left: @arrow-size-desktop solid #EEEDEA;

            .viewport-mobile & {
              border-left: @arrow-size-mobile solid #EEEDEA;
            }
          }
        }

        .text {
          text-transform: uppercase;
          .viewport-mobile & {
            display: inline;
            font-size: 8px;
            text-transform: none;
          }
        }
      }

      &.current{
        .button{
          cursor: default;
          padding: 0;
          color: #fff;
          background: #000;

          &:before {
            border-left: @arrow-size-desktop solid #fff;

            .viewport-mobile & {
              border-left: @arrow-size-mobile solid #fff;
            }
          }

          &:after {
            border-left: @arrow-size-desktop solid #000;

            .viewport-mobile & {
              border-left: @arrow-size-mobile solid #000;
            }
          }
        }

      }

      &:first-child {
        .button {
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
        }
      }

      &:last-child {
        .button {
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;

          &:before,
          &:after {
            border: 0 none;
          }
        }
      }
    }
  }
}
