/////////////////////////////////////////////////
// USER MESSAGES                               //
// - shown as list in stripe under page header //
/////////////////////////////////////////////////

user-messages {
  top: 70px;
  background: @c-primary;
  position: absolute;

  &.reservation-confirmation {
    width: 100%;
    margin-top: 100px;
    position:relative;
    top: 0;
    // Since user-messages are not using position: absolute in this case, remove margin which is being added for <main>
    // element
    margin-bottom: -100px;
    box-shadow: none;
    .viewport-mobile & {
      margin-top: 50px;
      margin-bottom: 0;
    }

    h1 {
      font-family: @ff-serif;
      text-transform: uppercase;
      font-size: 28px;
    }
    h3 {
      font-size: 16px;
      color: #FEDAAB;
    }
    ul li > div .message-content span.desc {
      color: #FEE4C1;
      font-size: 18px;
      text-transform: none;
    }
  }

  .viewport-mobile & {
    top: 0;
  }

  ul {
    li {
      .viewport-mobile & {
        padding: 11px 0;
      }
      > div {
        padding:10px 0;
        .message-content {
          font-family: @ff-secondary;
          font-size:18px;
          span.desc {
            font-weight:bold;
            padding-top:20px;
            text-transform: uppercase;
          }

          .viewport-mobile & {
            font-size: 16px;
            span.desc {
              padding-top: 10px;
            }
          }
        }
      }
    }
  }

  .message-close {
    font-weight:bold;
    font-size:18px;
  }

}
