<section class="grid-wrapper">
  <article grid="1" ng-hide="config.generics.singleProperty" site-map-content="hotels" data-title="_hotels_"></article>

  <article grid="1" ng-show="uiConfig.menu.showOffers" site-map-content="offers" data-title="_offers_deals_" limit="5"></article>

  <article grid="1" ng-show="uiConfig.menu.showAbout" site-map-content="about" data-title="_about_us_" limit="5"></article>

  <article grid="1" ng-show="uiConfig.menu.showNews" site-map-content="news" data-title="_news_" limit="3"></article>

  <article grid="1" ng-if="auth && !auth.isLoggedIn()">
    <h3><a ui-sref="contacts">_contact_</a></h3>
    <h3 class="login"><a href ng-click="auth.login()">_login_</a></h3>
    <h3><a ui-sref="lookup">_lookup_booking_</a></h3>
  </article>

  <article grid="1" ng-if="auth && auth.isLoggedIn()">
    <h3><a href ng-click="auth.profile()">_profile_</a></h3>
    <ul>
      <li>
        <a ui-sref="reservations">_reservations_</a>
      </li>
      <li ng-if="loyaltyProgramEnabled">
        <a ui-sref="rewards">_rewards_</a>
      </li>
      <li>
        <a href ng-click="auth.logout()">_logout_</a>
      </li>
    </ul>
    <h3><a ui-sref="contacts">_contact_</a></h3>
  </article>
</section>
