<list-items class="rooms-list" ng-if="(ratesLoaded || !isFromSearch) && !preloader.visible">
  <list-item ng-repeat="room in rooms | orderBy : currentOrder.sort | filter: roomsDisplayFilter | limitTo: numberOfRoomsDisplayed"
    data-hover-trigger="displayRoomRates(room)" ng-click="roomClick(room)" data-trigger-delay="hoverTriggerDelay">
    <header class="item-header desktop">
      <h3>
        <a ng-href="{{getRoomUrl(details.meta.slug, room.meta.slug)}}" ng-bind-html="room.name | mainHeaderStyle" ng-class="{'hide-info-icon' : roomsConfig.hideShowInfoIcon}"></a>
        <span class="sub-title" ng-if="roomsConfig.displayRoomSubtitle && room.subTitle">{{room.subTitle}}</span>
      </h3>
    </header>

    <div class="list-item-container">
      <!-- Room info -->
      <div class="list-item-info">

        <hero-slider data-has-notification-bar="false" data-auto-play="false" on-room-click="openRoomGallery" data-room="{{room}}"
          data-counter-type="none" content="room.images" ng-if="roomsConfig.includeSlider && room.images && room.images.length > 0"
          data-has-thumbnails="{{roomsConfig.sliderHasThumbnails}}" slide-width="400" slide-height="400"></hero-slider>

        <div class="room-image-placeholder" ng-if="room.images.length == 0"></div>

        <img class="room-image desktop" ng-click="goToRoom(details.meta.slug, room.meta.slug)" ng-src="{{room.images[0].uri | cloudinaryImage : roomsConfig.roomDetailThumbnailSize.width : roomsConfig.roomDetailThumbnailSize.height : 'fill'}}"
          alt="{{room.name}}" ng-if="!roomsConfig.includeSlider">
        <img class="room-image mobile" ng-click="goToRoom(details.meta.slug, room.meta.slug)" ng-src="{{room.images[0].uri | cloudinaryImage : 768 : 384 : 'fill'}}"
          alt="{{room.name}}" ng-if="!roomsConfig.includeSlider">

        <a class="room-see-more" ng-href="{{getRoomUrl(details.meta.slug, room.meta.slug)}}" ng-if="roomsConfig.hideShowInfoIcon">_see_more_information_</a>

        <header class="item-header mobile">
          <h3>
            <a ng-href="{{getRoomUrl(details.meta.slug, room.meta.slug)}}" ng-bind-html="room.name | mainHeaderStyle"></a>
            <span class="sub-title" ng-if="roomsConfig.displayRoomSubtitle && room.subTitle">{{room.subTitle}}</span>
          </h3>
        </header>

        <div class="pricing-info" ng-include="'layouts/components/pricing-info.html'"></div>

        <ul class="amenities" ng-if="roomsConfig.displayAmenities && details && room.amenities.length > 0">
          <li class="amenity" ng-repeat="amenity in room.amenities | limitTo:numberOfAmenities" ng-init="amenity.chainCode = details.chainCode">
            <slug-img slug="amenity" type="room" width="15"></slug-img>
            <span class="amenity-caption">{{amenity.name}}</span>
          </li>
        </ul>
        <!--<a href ng-click="goToRoom(details.meta.slug, room.meta.slug)">Read More About this Room</a>-->
      </div>

      <room-details ng-if="roomsConfig.displayRoomDetails" ng-class="{'rates-displayed': room._displayRates}">

        <div class="description" ng-bind-html="sanitize(roomsConfig.showRoomHighlight ? (room.roomHighlight && room.roomHighlight !== '' ? room.roomHighlight : room.description) : room.description)"></div>

        <div class="pricing-info" ng-include="'layouts/components/pricing-info.html'"></div>

        <p class="our-rates" ng-if="details && room._displayRates">_our_rates_</p>
      </room-details>
      <room-products ng-if="details && room._displayRates" ng-class="{'has-ota-products':roomsConfig.rates.displayOtaRates && otaProducts && otaProducts.length > 0}"
        id="{{'rates'+$index}}"></room-products>
    </div>
    <i class="fa fa-angle-right" ng-if="config.rooms.roomsAsLinks" />
    <!-- //list-item-container -->
  </list-item>

  <a href class="display-all-rooms" ng-if="numberOfRoomsDisplayed && numberOfRoomsDisplayed < (rooms|filter:roomsDisplayFilter).length"
    ng-click="displayAllRooms()">_view_all_rooms_</a>

  <a href class="display-more-rooms" ng-if="numberOfRoomsDisplayed && numberOfRoomsDisplayed < (rooms|filter:roomsDisplayFilter).length"
    ng-click="displayMoreRooms()">_view_more_rooms_</a>

</list-items>
<h2 ng-if="!rooms.length">_no_room_found_</h2>