<nav>
  <h2 ng-if="uiConfig.menu.customLinks.location"><a ng-href="{{uiConfig.menu.customLinks.location}}">_location_</a></h2>
  <h2 ng-if="uiConfig.menu.customLinks.lounge"><a ng-href="{{uiConfig.menu.customLinks.lounge}}">_lounge_</a></h2>
  <h2 ng-if="uiConfig.menu.customLinks.rooms"><a ng-href="{{uiConfig.menu.customLinks.rooms}}">_rooms_</a></h2>
  <h2 ng-if="uiConfig.menu.customLinks.fitness"><a ng-href="{{uiConfig.menu.customLinks.fitness}}">_fitness_</a></h2>
  <h2 ng-if="uiConfig.menu.customLinks.blog"><a ng-href="{{uiConfig.menu.customLinks.blog}}">_blog_</a></h2>
  <h2 ng-if="uiConfig.menu.customLinks.faq"><a ng-href="{{uiConfig.menu.customLinks.faq}}">_faq_</a></h2>
  <h2 ng-show="isUserLoggedIn()"><a ui-sref="reservations">_reservations_</a></h2>
  <h2 ng-show="isUserLoggedIn()">
    <a ng-if="auth.isInfiniti()" href ng-click="auth.profile();">_profile_</a>
    <a ng-if="!auth.isInfiniti()" ui-sref="profile">_profile_</a>
  </h2>
  <h2 ng-show="isUserLoggedIn()"><a ng-click="auth.logout();">_logout_</a></h2>
  <h2 ng-show="!isUserLoggedIn()"><a ng-click="auth.login()">_login_</a></h2>
  <social-links></social-links>
</nav>
