<section class="detail-links">
  <span ng-if="!bookingConfig.priceBreakdownExtended"><a href ng-click="openPriceBreakdownInfo()">_view_price_breakdown_</a> | </span>
  <a ng-if="!bookingConfig.policiesLinkBottom" ng-href="{{bookingConfig.termsAndConditionsLink}}" ng-click="readPolicies()" target="_blank">_policies_</a>
</section>

<section class="room-data">
  <h4>{{property.nameLong}}</h4>

  <div class="room-data-details">
    <span class="chain-logo"></span>
    <p class="desc" ng-bind-html="allRooms[0]._selectedProduct.name"></p>
    <p class="price"><strong>{{getProductPricePerNight(getTotal('totalBaseAfterPricingRules')) | i18nCurrency: currencyCode}}</strong> <em>_per_night_</em></p>
  </div>

  <h3>{{allRooms[0].name}} <a href ng-click="openOtherRoomsDialog()" ng-if="allRooms.length > 1">+ {{allRooms.length - 1}} _more_ <ng-pluralize count="allRooms.length" when="{'2': '_room_', 'other': '_rooms_'}"> </ng-pluralize></a></h3>

  <div class="image-wrapper" ng-if="allRooms[0].images[0].uri">
    <img ng-src="{{allRooms[0].images[0].uri | cloudinaryImage : 380 : 120 : 'fill'}}" alt="{{allRooms[0].name}}">
  </div>
  <div ng-if="!allRooms[0].images[0].uri" class="room-image-placeholder">
  </div>
</section>

<section class="reservation-data">
  <div ng-if="!bookingConfig.dataOverviewSingleLine" class="data">
    <table>
      <tbody>
        <tr>
          <th>_check_in_:</th>
          <td>{{bookingDetails.from | dateTime}}</td>
          <th>_adults_:</th>
          <td>{{getGuestsCount('adults') || 0}}</td>
        </tr>
        <tr>
          <th>_check_out_:</th>
          <td>{{bookingDetails.to | dateTime}}</td>
          <th>_children_:</th>
          <td>{{getGuestsCount('children') || 0}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div ng-if="bookingConfig.dataOverviewSingleLine" class="data">
    <table>
      <tbody>
        <tr>
          <th>_check_in_:</th>
          <td>{{bookingDetails.from | dateTime}}</td>
        </tr>
        <tr>
          <th>_check_out_:</th>
          <td>{{bookingDetails.to | dateTime}}</td>
        </tr>
        <tr>
          <th>_adults_:</th>
          <td>{{getGuestsCount('adults') || 0}}</td>
        </tr>
        <tr>
          <th>_children_:</th>
          <td>{{getGuestsCount('children') || 0}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="charges" ng-class="{'extended': breakdownExtended}" ng-init="breakdownExtended = false">
    <table>
      <thead ng-switch="billingDetails.paymentMethod">
        <tr class="main">
          <th>_room_charges_:</th>
          <td ng-show="allRooms.length">{{getBreakdownTotalBaseAfterPricingRules() | i18nCurrency: currencyCode}}</td>
        </tr>

        <tr class="breakdown" ng-repeat="breakdown in allRooms[0]._selectedProduct.price.breakdowns | orderBy:'date'" ng-class="{'last': $last}">
          <th>{{formatDate(breakdown.date, 'DD MMM YYYY')}}:</th>
          <td>{{getBreakdownTotalDate(breakdown.date) | i18nCurrency: $root.currencyCode}}</td>
        </tr>

        <!-- Only display if value is bigger than 0 -->
        <tr class="main" ng-if="getBreakdownTotalTaxes(false) > 0">
          <th>_taxes_:</th>
          <!-- old tax number
                  <td>{{getBreakdown('totalTax') | i18nCurrency: $root.currencyCode}}</td>
                  -->
          <td ng-show="allRooms.length">{{getBreakdownTotalTaxes(false) | i18nCurrency: $root.currencyCode}}</td>
        </tr>

        <tr class="breakdown" ng-repeat="taxItem in allRooms[0]._selectedProduct.price.taxDetails.policyTaxItemDetails" ng-class="{'last': $last}"
          ng-if="!taxItem.policyTaxItemIsFee">
          <th>{{taxItem.policyTaxItem.policyTaxItemCode}}<span class="info" ng-if="taxItem.policyTaxItem.policyTaxItemDescription && taxItem.policyTaxItem.policyTaxItemDescription !== ''"
              tooltips tooltip-side="top" tooltip-template="{{taxItem.policyTaxItem.policyTaxItemDescription}}">?</span></th>
          <td>{{getBreakdownTotalTax(taxItem.policyTaxItem.policyTaxItemCode) | i18nCurrency: $root.currencyCode}}</td>
        </tr>

        <!-- Only display if value is bigger than 0 -->
        <tr class="main" ng-if="getBreakdownTotalTaxes(true) > 0">
          <th>_applicable_fees_:<span class="info" ng-if="bookingConfig.displayStaticFeesTooltip" tooltips tooltip-side="top"
              tooltip-template="{{'_fees_tooltip_'}}">&nbsp;?</span></th>
          <td ng-show="allRooms.length">{{getBreakdownTotalTaxes(true) | i18nCurrency: $root.currencyCode}}</td>
        </tr>

        <tr class="breakdown" ng-repeat="taxItem in allRooms[0]._selectedProduct.price.feeDetails.policyTaxItemDetails" ng-class="{'last': $last}">
          <th>{{taxItem.policyTaxItem.policyTaxItemCode}}<span class="info" ng-if="taxItem.policyTaxItem.policyTaxItemDescription && taxItem.policyTaxItem.policyTaxItemDescription !== ''"
              tooltips tooltip-side="top" tooltip-template="{{taxItem.policyTaxItem.policyTaxItemDescription}}">?</span></th>
          <td>{{getBreakdownTotalFee(taxItem.policyTaxItem.policyTaxItemCode) | i18nCurrency: $root.currencyCode}}</td>
        </tr>

        <tr ng-if="getTotal('totalDiscount')">
          <th>_discount_:</th>
          <td>{{getTotal('totalDiscount') | i18nCurrency: $root.currencyCode}}</td>
        </tr>

        <tr class="main">
          <th>_total_:</th>
          <td ng-switch-when="cc">{{getTotal('totalAfterTaxAfterPricingRules') | i18nCurrency: $root.currencyCode}}</td>
          <td ng-switch-when="point" ng-if="loyaltyProgramEnabled">{{getTotal('pointsRequired')}} _points_</td>
          <td ng-switch-default>{{getTotal('totalAfterTaxAfterPricingRules') | i18nCurrency: $root.currencyCode}}<span ng-if="loyaltyProgramEnabled && canPayWithPoints"> _or_ {{getTotal('pointsRequired')}} _points_</span></td>
        </tr>
        <tr class="breakdown-toggle" ng-show="bookingConfig.priceBreakdownExtended">
          <th><button ng-if="bookingConfig.backButtonInForm" class="back" ng-click="goBack()">_back_</button></th>
          <td>
            <a ng-if="bookingConfig.policiesLinkBottom" ng-href="{{bookingConfig.termsAndConditionsLink}}" ng-click="readPolicies()" target="_blank">_policies_</a>
            <span ng-hide="noBreakdown">             |
              <a href ng-click="breakdownExtended = !breakdownExtended">
                <span ng-if="!breakdownExtended">_view_price_breakdown_</span>
                <span ng-if="breakdownExtended">_hide_price_breakdown_</span>
              </a>
            </span>
          </td>
        </tr>
      </thead>
      <tbody>
        <!-- Additional taxes
                <tr ng-if="getTotal('totalAdditionalTaxes')">
                  <th>_taxes_:</th>
                  <td>{{getTotal('totalAfterTax') - getTotal('totalBaseAfterPricingRules') | i18nCurrency: $root.currencyCode}}</td>
                </tr>
                -->

        <!-- Additional fees
                <tr ng-if="getTotal('totalAdditionalFees')">
                  <th>_fees_:</th>
                  <td>{{getTotal('totalAdditionalFees') | i18nCurrency: $root.currencyCode}}</td>
                </tr>
                -->

      </tbody>
    </table>
  </div>

  <div ng-if="!bookingConfig.detailsBeforeForm && state.includes('reservation.confirmation')">
    <label for="agreement1" class="input-checkbox">
      <input type="checkbox" id="agreement1" ng-model="additionalInfo.agree"/>
      _i_agree_to_ <a ng-href="{{bookingConfig.termsAndConditionsLink}}" ng-click="readPolicies()" target="_blank">_terms_conditions_</a>
    </label>
    <label for="agreement2" class="input-checkbox">
      <input type="checkbox" id="agreement2" ng-model="additionalInfo.optedIn"/>
      _receive_offer_label_
    </label>
  </div>

  <div ng-if="bookingConfig.vouchers.enable && allRooms.length && !$stateParams.reservation" class="voucher-entry">
    <h4>_redeem_voucher_message_</h4>
    <label for="voucher" class=" medium">
              <input type="text" id="voucher"
                placeholder="_enter_voucher_label_"
                ng-model="voucher.code"
                ng-disabled="voucher.valid || voucher.verifying"
                ng-keypress="($event.which === 13)?redeemVoucher():0"
                name="voucher"
                ng-pattern="$root.generalValidationPattern"/>
              <img src="/static/images/preloader.gif" ng-hide="!voucher.verifying" />
              <button class="button" ng-click="redeemVoucher()" ng-disabled="!voucher.code || voucher.valid || voucher.verifying">_voucher_button_text_</button>
            </label>
    <div class="voucher-valid" ng-if="voucher.valid && voucher.submitted">
      <i class="fa fa-check" /><span> _voucher_code_valid_</span>
    </div>
    <div class="voucher-invalid" ng-if="!voucher.valid && voucher.submitted">
      <i class="fa fa-close" /><span> _voucher_code_invalid_</span>
    </div>
  </div>
</section>
