<list-items
  class="rooms-list"
  ng-if="(ratesLoaded || !isFromSearch) && !preloader.visible">
  <list-item
    ng-repeat="room in rooms | orderBy : currentOrder.sort | filter: roomsDisplayFilter | limitTo: numberOfRoomsDisplayed"
    ng-init="room.showPriceDetails = false">

    <div class="room-container">
      <hero-slider
        data-has-notification-bar="false"
        data-auto-play="false"
        on-room-click="openRoomGallery"
        data-room="{{room}}"
        data-counter-type="none"
        content="room.images"
        ng-if="roomsConfig.includeSlider && room.images && room.images.length > 0"
        data-has-thumbnails="{{roomsConfig.sliderHasThumbnails}}"
        slide-width="400"
        slide-height="400">
      </hero-slider>

      <div class="item-description">
        <div class="item-header">
          <h4 class="header">{{ room.name }}</h4>
          <div
            class="description"
            ng-bind-html="sanitize(roomsConfig.showRoomHighlight ? (room.roomHighlight && room.roomHighlight !== '' ? room.roomHighlight : room.description) : room.description)"></div>
        </div>

        <div class="item-pricing">
          <room-ota-products
            ng-if="roomsConfig.rates.displayOtaRates && room.otaProducts && room.otaProducts.length > 0">
          </room-ota-products>

          <button
            type="button"
            class="button"
            ng-click="room.showPriceDetails = !room.showPriceDetails">
            <i class="simple-list"></i>
            <span ng-if="!room.showPriceDetails">_book_now_from_ {{ room.priceFrom | i18nCurrency: currencyCode }}</span>
             <span ng-if="room.showPriceDetails">_close_rates_</span>
          </button>
        </div>
      </div>
    </div>

    <room-products
      ng-if="details && room._displayRates"
      id="{{'rates'+$index}}"
      ng-show="room.showPriceDetails">
    </room-products>
  </list-item>

  <a
    href
    class="display-all-rooms"
    ng-if="numberOfRoomsDisplayed && numberOfRoomsDisplayed < (rooms|filter:roomsDisplayFilter).length"
    ng-click="displayAllRooms()">
    _view_all_rooms_
  </a>

  <a
    href
    class="display-more-rooms"
    ng-if="numberOfRoomsDisplayed && numberOfRoomsDisplayed < (rooms|filter:roomsDisplayFilter).length"
    ng-click="displayMoreRooms()">
    _view_more_rooms_
  </a>
</list-items>

<h2 ng-if="!rooms.length">_no_room_found_</h2>
