@import "variables";

.viewport-mobile {

  .highlight {

    padding: @highlight-mobile-padding;

    img {
      top: @highlight-mobile-image-offset-px;
      left: -5px;
      height: @highlight-mobile-image-size-px;
      width: 50px;
      display: none; // @todo work out how to position this to always work regardless of external elements
    }

    h1 {
      padding: @highlight-mobile-title-padding;
    }

  }

}
