<header>
  <h1 ng-bind-html="'_badges_modal_title_' | mainHeaderStyle"></h1>
  <button-close role="button" aria-label="Close" ng-click="cancel()"></button-close>
</header>

<main>
  <div class="preloader" ng-show="preloader.visible"></div>

  <badges-list>
    <badge-icon ng-repeat="badge in badges" ng-click="showBadgeDetail(badge)">
      <img ng-if="badge.icon" ng-src="{{badge.icon}}" alt="{{badge.name}}"/>
    </badge-icon>
  </badges-list>

  <badge-selected>
    <h2>{{selectedBadge.name}}</h2>
    <img ng-if="selectedBadge.icon" ng-src="{{selectedBadge.icon}}" alt="{{selectedBadge.name}}"/>
    <p>{{selectedBadge.description}}</p>
  </badge-selected>
</main>
