<div ng-class="{'dropdown': currencies.length > 1}" ng-show="currencies.length > 1">
  <a href title="Currency">
    <span class="current-currency">{{currentCurrency.code}}</span>
    <span class="change-currency">_change_currency_ ({{currentCurrency.code}})</span>
  </a>

  <ul class="dropdown-menu submenu" ng-show="currencies.length > 1">
      <li ng-repeat="currency in currencies">
          <a class="currency" href title="{{currency.name}}" ng-click="changeCurrency(currency)">
            {{getFormattedLabel(currency.code)}}
            <!--<img ng-src="/static/images/flag-{{currency.code}}.jpg" class="icon" alt="{{currency.code}}">-->
          </a>
      </li>
  </ul>
</div>
