////////////////////
//// TYPOGRAPHY ////
////////////////////


/*  ==========================================
    Font Families
    ========================================== */

.questrial {
  font-family: 'Questrial', Helvetica, Arial, sans-serif;
  font-weight: normal;
}

// typography defaults
body {
  font-family: @ff-default;
  font-size: @size-0;
  line-height: @baseline;
  font-weight: normal;
}

h1,
h2{
	color: @c-primary;
	text-transform: uppercase;
  &:extend(.open-sans-semi-bold);
  font-weight: 600 !important;
  strong{
    font-weight: normal;
  }
}
