//- DATEPICKER -//

.ui-datepicker {
  width: 750px !important;
  box-shadow: none;
  .ui-datepicker-group{
    float: left;
    width: 375px;
    .ui-datepicker-title {
      width: 100%;
      text-align: center;
      padding-left: 35px;
    }
    &:first-child{
      .ui-datepicker-title {
        padding-left: 0;
        padding-right: 35px;
      }
    }
  }
  &:after {
    color: @c-datepicker;
    left: 130px;
  }

  .viewport-mobile &{
    width: 100% !important;
  }
}

//- Header
.ui-datepicker-header {

}

// Month title
.ui-datepicker-title {

}

// Next & prev button
.ui-datepicker-prev,
.ui-datepicker-next {

}

.ui-datepicker-next {

}


//- Calendar Table
.ui-datepicker-calendar {
  margin: @baseline/2 0 0;
  width: 100%;
  height: 275px;

  .viewport-mobile &{
    width: auto;
    margin: @baseline/2 auto @baseline;
  }

  tbody {
    tr {
      border: 20px solid #fefefe;
      border-left: none;
      border-right: none;
    }

    td, th {
      width: 40px;
      height: 30px;
      line-height: 30px;
      color: lighten(@c-text, 50%); // Past days
      font-size: @size-2;
      text-align: center;
    }

    td {

      a {
        display: block;
        color: @c-text; // Today and Future days
        text-decoration: none;
      }

      // Highlighting today's day
      &.ui-datepicker-today a {
        color: @c-text;
      }

      // Days from other month
      &.ui-datepicker-other-month a {
        color: lighten(@c-text, 50%);
      }

      // Selected start and end day
      &.date-range-start,
      &.date-range-end {
        position: relative;
        color: @c-grey;
        background: none;

        a, span {
          position: relative;
          display: block;
          color: @c-grey !important;
          background: @c-secondary-transparent;
        }

        &.date-range-start a:after,
        &.date-range-start span:after{
          content: '';
          position: absolute;
          left: 0;
          top: 0;

          width: 0;
          height: 0;
          border-style: solid;
          border-width: 15px 0 15px 26px;
          border-color: transparent transparent transparent @c-secondary-transparent-dark;
        }

        &.date-range-end a:after,
        &.date-range-end span:after{
          content: '';
          position: absolute;
          right: 0;
          top: 0;
          
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 15px 26px 15px 0;
          border-color: transparent @c-secondary-transparent-dark transparent transparent;
        }

      }

      &.date-range-edit {
        background-color: @c-brown;
      }

      // Selected dates
      &.date-range-selected a {
        background: @c-secondary-transparent;
        color: @c-grey;
      }

      // Day is not available
      &.date-not-available {
        background-color: #ed1c24;
        pointer-events: none;

        a {
          color: lighten(@c-text, 50%);
          cursor: text;
          pointer-events: none;
        }

        &.date-range-start,
        &.date-range-end {
          background-color: darken(#ed1c24, 2%);
        }

        &.date-range-selected a {
          background-color: lighten(#ed1c24, 2%);
        }
      }

    }

  }
}

//- Bottom Control Panel
.ui-datepicker-buttonpane {
  background-color: @c-datepicker;
  height: 35px;
  line-height: 35px;
  clear: left;

  //- How many days was selected
  &:before {
    display: inline-block;
    content: attr(data-counter);
    position: relative;
    left: 0px;
    top: 50%;
    max-width: 100%;
    line-height: 35px;
    transform: translateY(-50%);
    font-weight: 700;
  }

  // Currently selected rate
  &:after {
    display: inline-block;
    content: attr(data-title);
    position: absolute;
    left: @baseline;
    font-weight: bold;
    top: 0px;
    font-size: @size-1;
    max-width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30px;
    white-space: nowrap;
  }

  .ui-datepicker-close {
    display: none !important;
    background: @c-green !important;
    font-size: 14px !important;
    color: #fff !important;
    text-transform: uppercase !important;
    height: 35px !important;
    line-height: 30px !important;
    border-radius: 2px !important;
    min-width: 0px !important;
    .viewport-mobile &{
      display: inline-block !important;
    }
  }

  // Hide today button
  .ui-datepicker-current {
    display: none;
  }
}
