@media only screen and @tablet-portrait-min {
  .dropdown-menu {
  	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
    top: 35px;
    .desktop-profile &{
      top: 120px;
    }
    &.submenu {
      background-color: @c-primary;
      .chain-sign &{
        background: @c-primary-sign;
      }
      min-width: 150px;
      margin-left: 0;
      a{
        color: #fff;
      }
    }
  }
}
