@media only screen and @tablet-portrait-min {
  .dropdown-menu {
  	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
    top: 35px;

    li[currency-list] &,
    li[currency-list] &{
      top: 80px;
    }

    .desktop-profile &{
      top: 80px;
    }
    &.submenu {
      background-color: @c-primary;
      .chain-sign &{
        background: @c-primary-sign;
      }
      .chain-sand &{
        background: @c-primary-sand;
      }
      min-width: 150px;
      margin-left: 0;
      a{
        color: #fff;
      }
    }
  }

}
