/////////////////////////
//// HORIZONTAL LINE ////
/////////////////////////

hr {
	//position: relative;
	//clear: both;
	height: 20px;
	//margin: 30px auto;
	//width: 100%;
	//display: block;
	//border: 0;
  //background: @c-grey url('@{img-prefix}/hr.jpg') center center no-repeat;
  &,
  &.dividerWithoutImage{
    background: url('@{img-prefix}/hr.jpg') center center no-repeat;
  }

  &.small{
    //width: 70%;
  }

  &:after ,
  &:before {
    border-top: 1px solid #eaeaea;
    z-index: -1;
  }

}