hotel-location {
  h2{
    font-size: 18px;
    color: @c-grey;
    text-transform: uppercase;
  }
  i{
    color: @c-secondary;
  }
  contact-list,
  transportation-list {
    strong {
      color: @c-dark-grey;
    }
  }

}
