////////////////////
//// LIST ITEMS ////
////////////////////
@list-item-min-height: 187px;

list-items {
  margin-left:0;
  margin-right:0;
}

pricing-switch {
  color: @c-light-grey;
  margin-right: 0;
  a {
    color: @c-light-grey;

    &.is-active {
      font-weight: normal;
      color: @c-secondary;
      .chain-sign &{
        font-weight: 700;
        color: @c-menu-active-sign;
      }
    }
  }
}

list-item {

  h2{
    font-size: 18px !important;
    font-weight: 600 !important;
    color: @c-grey !important;
    .chain-sign &{
      font-weight: 400 !important;
      font-family: @ff-heading-sign !important;
    }
  }

  .list-item-header {
    //height: 30px;

    pricing-info {
      display: none;
      .viewport-mobile & {
        margin-top:10px;
      }
    }

    earned-points,
    .noPointsAwarded {
      font-style: normal;
      font-weight: 700;
      color: @c-secondary;
      .chain-sign &{
        color: @c-secondary-sign;
      }
      &:before{
        content: none;
      }
    }
  }
  pricing-info{
    p{
      display: inline-block;
      span:not(.points){
        float: right;
        clear: both;
      }
    }
    button-submit{
      text-transform: uppercase;
      font-size: 14px;
      background: @c-green;
      border-radius: 2px;
      .chain-sign &{
        background: @c-green;
      }
    }
  }

  description-info{
    .action-links{
      a{
        color: @c-secondary;
        font-size: 14px;
        .chain-sign &{
          color: @c-secondary-sign;
        }
      }
    }
  }

  &.slashthrough {
    pricing-info{
      p{
        .original-price{
          font-weight: 700;
          .viewport-mobile & {
            float:none;
            margin-right:5px;
          }
        }
        .value{
          color: @c-grey;
          .viewport-mobile & {
            color:@c-secondary;
          }
          .chain-sign &{
            color: @c-menu-active-sign;
          }
        }
        .pricing-filter-label{
          color: @c-grey;
          font-weight: 300;
          font-style: italic;
        }
      }
    }
  }

  &.is-member-only {
    &.is-member-only-disabled{
      button-submit,
      .button{
        background:@c-button;
        border-radius: 2px;
        box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.5);
        text-transform:uppercase;
        .viewport-mobile & {
          background:@c-secondary;
          border-radius:8px;
          text-transform:initial;
        }
      }
    }
  }
}


//- List Items - Grid
list-items.grid-view {

  list-item {

  	&:last-of-type{
  		border: none;
  	}

  	//- Image
    figure {
      margin-bottom: 0;
    }

    //- Heading
    h2 {
      color: @c-primary;
      font-size: @size-1;
      font-weight: normal;
    }

  }
}
