////////////////////
//// LIST ITEMS ////
////////////////////

pricing-switch {
  color: @c-light-grey;
  margin-right: 0;
  a {
    color: @c-light-grey;

    &.is-active {
      font-weight: normal;
      color: @c-secondary;
      .chain-sign &{
        font-weight: 700;
        color: @c-menu-active-sign;
      }
    }
  }
}


//- List Items - Grid
list-items.grid-view {

  list-item {

  	&:last-of-type{
  		border: none;
  	}

  	//- Image
    figure {
      margin-bottom: 0;
    }

    //- Heading
    h2 {
      color: @c-primary;
      font-size: @size-1;
      font-weight: normal;
    }

  }
}


