////////////////////////
//// LIST OF OFFERS AND REWARDS////
////////////////////////

offers-list,
rewards-list {

  offer-item,
  reward-item {
    border-radius: 0;
    height: 426px;
    border: 1px solid @c-light-grey;
    box-shadow: none;

    // if it's clickable
    &[ng-click] {
      cursor: pointer;
      &:hover img { opacity: .8; }
    }

    //- Image
    img {
      height: 200px;
      max-height: 200px;
      min-height: 0px;
      margin-bottom: 10px;
    }

    //- Content - Title + Description
    section {
      max-height: 150px;
      h2{
        margin-bottom: 10px;
      }
      div{
        font-size: 12px;
      }
    }

    //- Title
    h2, h3 {
      color: @c-dark-grey;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 700 !important;
      .chain-sand &{
        color: @c-dark-grey;
      }
    }

    h2{
      span{
        font-size: 14px;
        font-weight: 300;
        color: @c-secondary;
        display: block;
        line-height: 12px;
        .chain-sign & {
          font-size:18px;
          line-height:20px;
          color: @c-menu-active-sign;
          font-family: @ff-heading-it-sign;
          text-transform:initial;
        }
      }
    }

    //- Description
    div {
      color: @c-grey;
      line-height: 17px;
    }

    //- Read More
    .read-more {
      background: @c-secondary;
      border-radius: 8px;
      color: #fff;
      font-weight: 700;
      font-size: 14px;
      text-transform: uppercase;
      line-height: 38px;
      height: 38px;
      text-shadow: none;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
      bottom: 23px;
      width: 145px;
      left: 50%;
      transform: translate(-50%, 0);
      .chain-sign &{
        background: @c-secondary-sign;
        font-family: @ff-heading-bold-sign;
      }
    }

    //- Advert Offer
    &.advert {
      height: 426px;
      position: relative;
    }
  }
}
