/////////////////////////////////////////////////
// USER MESSAGES                               //
// - shown as list in stripe under page header //
/////////////////////////////////////////////////

user-messages {
  top: 123px;
  background: @c-secondary;
  .viewport-mobile & {
    top:82px;
  }
}
