/////////////////////////////////////////////////
// USER MESSAGES                               //
// - shown as list in stripe under page header //
/////////////////////////////////////////////////

user-messages {
  top: 123px;
  background: @c-secondary;
  .viewport-mobile & {
    top:82px;
  }
  ul {
    li {
      > div {
        padding:10px 0;
        .message-content {
          font-size:18px;
          span.desc {
            font-weight:bold;
            padding-top:20px;
          }
        }
      }
    }
  }
}
