<div widget="best-hotels">
  <div class="block--center">
    <h2>Our Best <strong>Hotels</strong></h2>
  </div>

  <section grid-row>
    <article grid="6">
      <a ui-sref="hotel({propertyCode: 123})">
        <div class="img-wrap">
          <img class="grid-img" src="//lorempixel.com/460/280/city/7" alt="Cool hotel">
        </div>
        <h3>Hotel Mobius Tunis</h3>
        <p>Tunisia</p>
      </a>
    </article>
    <article grid="6">
      <a ui-sref="hotel({propertyCode: 123})">
        <div class="img-wrap">
          <img class="grid-img" src="//lorempixel.com/460/280/city/8" alt="Cool hotel">
        </div>
        <h3>The Fullerton Hotel</h3>
        <p>Singapore</p>
      </a>
    </article>
  </section>
</div>
