@import "./mobile";

@slide-animation-duration: 222ms;
@appear-animation-duration: 150ms;

.Menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #826837;
  z-index: 1002; // Ensure the menu is above the booking bar
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  opacity: 0;
  display: flex;
  transition: transform @slide-animation-duration ease-in, opacity @appear-animation-duration linear;
  transform: translate3d(0, -100%, 0);

  .main-menu-active & {
    display: flex;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: transform @slide-animation-duration ease-out, opacity @appear-animation-duration linear;
  }
  & > .Menu__items {
    transition: transform @slide-animation-duration ease-out, opacity @appear-animation-duration linear;
    transition-delay: @slide-animation-duration;
    transform: translate3d(-50%, 0, 0);
    opacity: 0;
    .main-menu-active & {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
}

.Menu__close-icon-positionner {
  z-index: 1;
  width: 100%;
  height: @header-height;
  padding: 0 20px;
  box-sizing: border-box;
  transition: opacity @appear-animation-duration linear;
  transition-delay: @slide-animation-duration;
  opacity: 0;
  .main-menu-active & {
    opacity: 1;
  }
}

.Menu__close-icon-inner-positionner {
  width: 100%;
  height: 100%;
  max-width: 1212px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.Menu__close-icon {
  cursor: pointer;
  width: 25px;
  height: 25px;
  transition: opacity @appear-animation-duration linear;
}

.Menu__items {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex: 1;
  position: relative;
  width: 95%;
  max-width: 1250px;
}

.Menu__items--item,
.Menu__items--highlight {
  text-align: center;
  letter-spacing: 2px;
  font-family: @ff-secondary;
  line-height: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

.Menu__items--item {
  cursor: pointer;
  position: relative;
  font-size: 24px;
  color: #fff;
  padding-right: 23px;
  padding-top: 20px;
  height: 40px;

  &:hover {
    color: white;
  }
  a {
    color: @c-secondary;
  }
  .current-currency {
    display: none;
  }
  @underline-overspill: 3px;
  &::after {
    transition: width @appear-animation-duration linear;
    content: '';
    position: absolute;
    width: 0;
    left: -@underline-overspill;
    bottom: 5px;
    height: 2px;
    background-color: @c-primary;
    border-radius: 1px;
  }
}

.Menu__items--divider {
  height: 70px;
  border-right: 2px solid rgba(255,255,255,0.2);
  margin-bottom: 10px;
  margin-right: 25px;
  margin-left: 279px;
  flex-grow: 1;
}

.Menu__items--highlight {
  font-size: 24px;
  font-weight: bold;
  color: @c-primary;
}

.Menu__sublinks-wrapper {
  display: flex;
  flex-wrap: wrap;flex-wrap: wrap;
  height: 45px;

  .equal-split-box {
    display: flex;
    flex-wrap: wrap;
  }

  .Menu__items--subitem {
    font-size: 15px;
    color: #E4CC9C;
    font-family: @ff-primary;
    text-align: center;
    text-transform: uppercase;
    line-height: 18px;
    cursor: pointer;
    margin-right: 18px;
    height: 18px;
    padding-top: 27px;
  }
}



