
.viewport-mobile {

  .Menu {
    background-color: #232121;
  }

  .Menu__close-icon-positionner {
    height: @mobile-header-height;
  }

  .Menu__items {
    width: calc(~'100% - 30px');
    top: -@mobile-header-height;
    display: flex;
    flex-wrap: wrap;
    flex: 0;
    margin-top: 88px;
  }

  .Menu__items--item {
    font-size: 18px;
    line-height: 39px;
    width: 100%;
    font-size: 26px;
    text-transform: uppercase;
    padding: 0;
  }

  .Menu__items--divider {
    width: 200px;
    height: 1px;
    border-right: 0;
    border-bottom: 1px solid #383838;
    margin: 15px 0 0 0;
  }

  .Menu__items--highlight {
    font-size: 14px;
    line-height: 50px;
  }

  .Menu__sublinks-wrapper {
    width: 100%;
    .equal-split-box {
      flex-flow: column nowrap;
      width: 100%;
    }
    .Menu__items--subitem {
      line-height: 50px;
      font-size: 17px;
      color: #6e6e6e;
      height: 50px;
      padding-top: 0;
      margin: 0;

      &[currency-list] {
        width: 100%;
        height: 35px;
        border-bottom: 1px solid #6e6e6e;
        padding-top: 15px;

        i {
          color: #6E562A;
          font-size: 26px;
        }

        .CurrencyList__current {
          color: #FFFFFF;
          font-size: 20px;
        }

        .CurrencyList__list {
          background-color: #fff;
          min-width: 150px;
          margin: 10px 0;
          box-shadow: 0 0 2px 2px rgba(0,0,0,0.15);

          li {
            &:hover {
              background-color: #F0F0F0
            }

            i {
              color: #6E562A;
              font-size: 20px;
            }
            a {
              color: #9B9B9B;
              font-size: 15px;
            }
          }
        }
      }

      &.register {
        width: 103%;
        border-radius: 100px;
        background-color: #1db53a;
        color: white;
        font-size: 14px;
        height: 48px;
        line-height: 48px;
        padding-top: 0;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
      }

      &.login {
        width: 103%;
        border-radius: 100px;
        background-color: white;
        color: #000;
        font-size: 14px;
        height: 48px;
        line-height: 48px;
        padding-top: 0;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
      }

      &:hover {
        background-color: transparent;
      }
    }
    .CurrencyList {
      flex-flow: row wrap;
      justify-content: center;

      &:after {
        color: #826837;
      }
    }
    .change-currency {
      display: none;
    }
  }

}
