<div grid-container="9">
  <section widget="hotels">
    <header class="hotels__header" grid="9">
      <h1>Our <strong>Hotels</strong></h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at nibh varius odio sollicitudin blandit nec eu elit. Suspendisse ac risus nunc, quis elementum lorem. Pellentesque vehicula egestas eros nec commodo. Phasellus adipiscing pretium sem, id congue erat fermentum at. Fusce dapibus felis non ante gravida convallis. Nullam vulputate convallis lectus in ultrices.</p>
      <hr/>
    </header>
    <div class="hotels__controls" grid="9">
      <div class="order-switch">
        <select name="" id="">
          <option value="">Price Low to High</option>
          <option value="">Price High to Low</option>
          <option value="">Star Rating Low to High</option>
          <option value="">Star Rating High to Low</option>
          <option value="">A - Z</option>
          <option value="">Z - A</option>
        </select>
      </div>
      <div class="view-switch">
        <i class="icon icon-th-list" title="Show as list"></i>
        <i class="icon icon-th-thumb is-active" title="Show as tiles"></i>
      </div>
    </div>
    <div class="hotels__list--tiles">
      <ul>
        <li class="item">
          <img src="static/images/hotel.jpg" alt="">
          <!-- <img src="//lorempixel.com/210/150/city/1" alt=""> -->
          <div>
            <h3 class="title">Hotel Mobius <strong>Madrid</strong></h3>
            <span class="price">
              from <span class="value" currency="pound">69</span> <small>per night</small>
            </span>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
            <span class="rating">
              <i class="star icon-star"></i>
              <i class="star icon-star"></i>
              <i class="star icon-star"></i>
              <i class="star icon-star-empty"></i>
              <i class="star icon-star-empty"></i>
            </span>
          </div>
        </li>
        <li class="item">
          <img src="static/images/hotel.jpg" alt="">
          <!-- <img src="//lorempixel.com/210/150/city/2" alt=""> -->
          <div>
            <h3 class="title">Hotel Mobius <strong>Ibiza</strong></h3>
            <span class="price">
              from <span class="value" currency="pound">79</span> <small>per night</small>
            </span>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
            <span class="rating">
              <i class="star icon-star"></i>
              <i class="star icon-star"></i>
              <i class="star icon-star-empty"></i>
              <i class="star icon-star-empty"></i>
              <i class="star icon-star-empty"></i>
            </span>
          </div>
        </li>
        <li class="item">
          <img src="static/images/hotel.jpg" alt="">
          <!-- <img src="//lorempixel.com/210/150/city/3" alt=""> -->
          <div>
            <h3 class="title">Hotel Mobius <strong>Cordoba</strong></h3>
            <span class="price">
              from <span class="value" currency="pound">64</span> <small>per night</small>
            </span>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
            <span class="rating">
              <i class="star icon-star"></i>
              <i class="star icon-star"></i>
              <i class="star icon-star"></i>
              <i class="star icon-star"></i>
              <i class="star icon-star-empty"></i>
            </span>
          </div>
        </li>
        <li class="item">
          <img src="static/images/hotel.jpg" alt="">
          <!-- <img src="//lorempixel.com/210/150/city/4" alt=""> -->
          <div>
            <h3 class="title">Hotel Mobius <strong>Lisbon</strong></h3>
            <span class="price">
              from <span class="value" currency="pound">89</span> <small>per night</small>
            </span>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
            <span class="rating">
              <i class="star icon-star"></i>
              <i class="star icon-star"></i>
              <i class="star icon-star"></i>
              <i class="star icon-star-empty"></i>
              <i class="star icon-star-empty"></i>
            </span>
          </div>
        </li>
        <li class="item">
          <img src="static/images/hotel.jpg" alt="">
          <!-- <img src="//lorempixel.com/210/150/city/5" alt=""> -->
          <div>
            <h3 class="title">Hotel Mobius <strong>Valencia</strong></h3>
            <span class="price">
              from <span class="value" currency="pound">69</span> <small>per night</small>
            </span>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
            <span class="rating">
              <i class="star icon-star"></i>
              <i class="star icon-star"></i>
              <i class="star icon-star"></i>
              <i class="star icon-star"></i>
              <i class="star icon-star"></i>
            </span>
          </div>
        </li>
        <li class="item">
          <img src="static/images/hotel.jpg" alt="">
          <!-- <img src="//lorempixel.com/210/150/city/6" alt=""> -->
          <div>
            <h3 class="title">Hotel Mobius <strong>Barcelona</strong></h3>
            <span class="price">
              from <span class="value" currency="pound">69</span> <small>per night</small>
            </span>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
            <span class="rating">
              <i class="star icon-star"></i>
              <i class="star icon-star"></i>
              <i class="star icon-star"></i>
              <i class="star icon-star"></i>
              <i class="star icon-star"></i>
            </span>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section widget="hotels">
    <div class="hotels__controls" grid="9">
      <div class="order-switch">
        <select name="" id="">
          <option value="">Price Low to High</option>
          <option value="">Price High to Low</option>
          <option value="">Star Rating Low to High</option>
          <option value="">Star Rating High to Low</option>
          <option value="">A - Z</option>
          <option value="">Z - A</option>
        </select>
      </div>
      <div class="view-switch">
        <i class="icon icon-th-list is-active" title="Show as list"></i>
        <i class="icon icon-th-thumb" title="Show as tiles"></i>
      </div>
    </div>
    <div class="hotels__list--list">
      <ul>
        <li class="item">
          <img src="static/images/hotel.jpg" alt="">
          <!-- <img src="//lorempixel.com/210/150/city/1" alt=""> -->
          <div>
            <h3 class="title">Hotel Mobius <strong>Madrid</strong></h3>
            <span class="price">
              from <span class="value" currency="pound">69</span> <small>per night</small>
            </span>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
            <span class="rating">
              <i class="star icon-star"></i>
              <i class="star icon-star"></i>
              <i class="star icon-star"></i>
              <i class="star icon-star-empty"></i>
              <i class="star icon-star-empty"></i>
            </span>
          </div>
        </li>
        <li class="item">
          <img src="static/images/hotel.jpg" alt="">
          <!-- <img src="//lorempixel.com/210/150/city/2" alt=""> -->
          <div>
            <h3 class="title">Hotel Mobius <strong>Ibiza</strong></h3>
            <span class="price">
              from <span class="value" currency="pound">79</span> <small>per night</small>
            </span>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
            <span class="rating">
              <i class="star icon-star"></i>
              <i class="star icon-star"></i>
              <i class="star icon-star-empty"></i>
              <i class="star icon-star-empty"></i>
              <i class="star icon-star-empty"></i>
            </span>
          </div>
        </li>
        <li class="item">
          <img src="static/images/hotel.jpg" alt="">
          <!-- <img src="//lorempixel.com/210/150/city/3" alt=""> -->
          <div>
            <h3 class="title">Hotel Mobius <strong>Cordoba</strong></h3>
            <span class="price">
              from <span class="value" currency="pound">64</span> <small>per night</small>
            </span>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
            <span class="rating">
              <i class="star icon-star"></i>
              <i class="star icon-star"></i>
              <i class="star icon-star"></i>
              <i class="star icon-star"></i>
              <i class="star icon-star-empty"></i>
            </span>
          </div>
        </li>
        <li class="item">
          <img src="static/images/hotel.jpg" alt="">
          <!-- <img src="//lorempixel.com/210/150/city/4" alt=""> -->
          <div>
            <h3 class="title">Hotel Mobius <strong>Lisbon</strong></h3>
            <span class="price">
              from <span class="value" currency="pound">89</span> <small>per night</small>
            </span>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
            <span class="rating">
              <i class="star icon-star"></i>
              <i class="star icon-star"></i>
              <i class="star icon-star"></i>
              <i class="star icon-star-empty"></i>
              <i class="star icon-star-empty"></i>
            </span>
          </div>
        </li>
        <li class="item">
          <img src="static/images/hotel.jpg" alt="">
          <!-- <img src="//lorempixel.com/210/150/city/5" alt=""> -->
          <div>
            <h3 class="title">Hotel Mobius <strong>Valencia</strong></h3>
            <span class="price">
              from <span class="value" currency="pound">69</span> <small>per night</small>
            </span>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
            <span class="rating">
              <i class="star icon-star"></i>
              <i class="star icon-star"></i>
              <i class="star icon-star"></i>
              <i class="star icon-star"></i>
              <i class="star icon-star"></i>
            </span>
          </div>
        </li>
        <li class="item">
          <img src="static/images/hotel.jpg" alt="">
          <!-- <img src="//lorempixel.com/210/150/city/6" alt=""> -->
          <div>
            <h3 class="title">Hotel Mobius <strong>Barcelona</strong></h3>
            <span class="price">
              from <span class="value" currency="pound">69</span> <small>per night</small>
            </span>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
            <span class="rating">
              <i class="star icon-star"></i>
              <i class="star icon-star"></i>
              <i class="star icon-star"></i>
              <i class="star icon-star"></i>
              <i class="star icon-star"></i>
            </span>
          </div>
        </li>
      </ul>
    </div>
  </section>
</div>

<aside grid-container="3">
  <div grid="3">
    <search>
      <h4>Search</h4>
      <input type="search" placeholder="Search...">
    </search>
    <hr>
    <contact>
      <h4>Contact us</h4>
      <dl>
        <dt><span>Phone</span><i class="icon-mobile"></i></dt>
        <dd>555&nbsp;333&nbsp;22</dd>
        <dt><span>Email</span><i class="icon-mail"></i></dt>
        <dd>info@mobiustunis.com</dd>
      </dl>
    </contact>
    <advert>
      <img src="//placehold.it/208x395" alt="Advertising Banner">
    </advert>
  </div>
</aside>
