<section widget="hotels" grid-container="8">
  <header class="hotels__header" grid="8">
    <h1>Our <strong>Hotels</strong></h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at nibh varius odio sollicitudin blandit nec eu elit. Suspendisse ac risus nunc, quis elementum lorem. Pellentesque vehicula egestas eros nec commodo. Phasellus adipiscing pretium sem, id congue erat fermentum at. Fusce dapibus felis non ante gravida convallis. Nullam vulputate convallis lectus in ultrices.</p>
    <hr/>
  </header>
    <div class="hotels__controls" grid="8">
      <div class="select-wrap">
        <select name="" id="">
          <option value="">Price Low to High</option>
          <option value="">Price High to Low</option>
          <option value="">Star Rating Low to High</option>
          <option value="">Star Rating High to Low</option>
          <option value="">A - Z</option>
          <option value="">Z - A</option>
        </select>
      </div>
      <div class="view-switch-wrap">
        <i class="icon-list-view" title="Show as list"></i>
        <i class="icon-tile-view" title="Show as tiles"></i>
      </div>
    </div>
  <div class="hotels__list--tiles">
    <ul>
      <li class="item">
        <img src="//lorempixel.com/110/80/city/1" alt="">
        <h3 class="title">Hotel Mobius <strong>Madrid</strong></h3>
        <span class="rating">
          <i class="star star-1"></i>
          <i class="star star-2"></i>
          <i class="star star-3"></i>
          <i class="star star-4"></i>
          <i class="star star-5"></i>
        </span>
        <span class="price">
          from <span class="price__value" currency="pound">69</span> <small>per night</small>
        </span>
      </li>
      <li class="item">
        <img src="//lorempixel.com/110/80/city/2" alt="">
        <h3 class="title">Hotel Mobius <strong>Ibiza</strong></h3>
        <span class="rating">
          <i class="star star-1"></i>
          <i class="star star-2"></i>
          <i class="star star-3"></i>
          <i class="star star-4"></i>
          <i class="star star-5"></i>
        </span>
        <span class="price">
          from <span class="price__value" currency="pound">79</span> <small>per night</small>
        </span>
      </li>
      <li class="item">
        <img src="//lorempixel.com/110/80/city/3" alt="">
        <h3 class="title">Hotel Mobius <strong>Cordoba</strong></h3>
        <span class="rating">
          <i class="star star-1"></i>
          <i class="star star-2"></i>
          <i class="star star-3"></i>
          <i class="star star-4"></i>
          <i class="star star-5"></i>
        </span>
        <span class="price">
          from <span class="price__value" currency="pound">64</span> <small>per night</small>
        </span>
      </li>
      <li class="item">
        <img src="//lorempixel.com/110/80/city/4" alt="">
        <h3 class="title">Hotel Mobius <strong>Lisbon</strong></h3>
        <span class="rating">
          <i class="star star-1"></i>
          <i class="star star-2"></i>
          <i class="star star-3"></i>
          <i class="star star-4"></i>
          <i class="star star-5"></i>
        </span>
        <span class="price">
          from <span class="price__value" currency="pound">89</span> <small>per night</small>
        </span>
      </li>
      <li class="item">
        <img src="//lorempixel.com/110/80/city/5" alt="">
        <h3 class="title">Hotel Mobius <strong>Valencia</strong></h3>
        <span class="rating">
          <i class="star star-1"></i>
          <i class="star star-2"></i>
          <i class="star star-3"></i>
          <i class="star star-4"></i>
          <i class="star star-5"></i>
        </span>
        <span class="price">
          from <span class="price__value" currency="pound">69</span> <small>per night</small>
        </span>
      </li>
      <li class="item">
        <img src="//lorempixel.com/110/80/city/6" alt="">
        <h3 class="title">Hotel Mobius <strong>Barcelona</strong></h3>
        <span class="rating">
          <i class="star star-1"></i>
          <i class="star star-2"></i>
          <i class="star star-3"></i>
          <i class="star star-4"></i>
          <i class="star star-5"></i>
        </span>
        <span class="price">
          from <span class="price__value" currency="pound">69</span> <small>per night</small>
        </span>
      </li>
    </ul>
  </div>
</section>
