<hero-slider content="heroContent"></hero-slider>

<breadcrumbs></breadcrumbs>

<main typo-grid class="grid-wrapper">

  <div class="preloader" ng-show="preloader.visible"></div>

  <hotel-detail>
    <header grid-row id="jsAbout">
      <h1 grid="6">{{details.nameShort}}</h1>
      <local-info local-info="details.localInfo" grid="6"></local-info>
    </header>

    <section grid-row>
      <div grid="8">
        <p ng-if="!isExpanded" ng-bind-html="sanitize(details.descriptionShort)"></p>
        <p ng-if="isExpanded" ng-bind-html="sanitize(details.description)"></p>
        <button ng-click="scrollToRooms()" class="button">Choose your room</button>
        <a href ng-hide="isExpanded" ng-click="isExpanded = true" class="read-more">Read more</a>
        <a href ng-show="isExpanded" ng-click="isExpanded = false" class="read-more">Read less</a>
      </div>

      <view-more-images grid="4">
        <a ng-if="details.images.length" href="" ng-click="openGallery()">View more images</a>
        <img ng-src="details.images[0].uri" alt="{{details.images[0].alt}}" err-source="http://lorempixel.com/390/110/"/>
      </view-more-images>
    </section>

    <section grid-row id="jsLocation" ng-if="details">
      <hr />
      <div grid="12">
        <hotel-location hotel-details="details"></hotel-location>
      </div>
    </section>

    <!-- this should be filled with actual data from API
         it should be presented in the following structure -->
    <section class="hotel-detail__offers" grid-row id="jsOffers" ng-if="offersList.length">
      <hr />
      <h2 class="section-title" grid="12">Offers and <strong>Promotions</strong></h2>

      <offers-list grid-row>
        <article grid="4" ng-repeat="offer in offersList track by $index" ng-click="advertClick({'type': 'offer', 'code': offer.code})">
          <img class="grid-img" ng-src="{{offer.image.uri}}"  alt="{{offer.image.alt}}" err-source="http://lorempixel.com/300/160/">

          <h2>{{offer.title}}</h2>
          <p ng-bind-html="offer.subtitle"></p>

          <span>Read more</span>
        </article>
      </offers-list>
    </section>

    <section class="hotel-detail__rooms" ng-if="rooms.length" grid-row id="jsRooms">
      <hr />
      <div grid="12">
        <h2>Our <strong>Rooms</strong></h2>
        <list-items class="rooms-list" ng-if="rooms.length">
          <p ng-if="availableRooms && availableRooms.length === 0">No room available, please change your search criteria</p>
          <pricing-switch>
            <a href ng-class="{'is-active': pricePer === 'night'}" ng-click="pricePer = 'night'">Per Night</a>
            |
            <a href ng-class="{'is-active': pricePer === 'stay'}" ng-click="days && (pricePer = 'stay')">Per Stay</a>
          </pricing-switch>
          <list-item ng-repeat="room in rooms">
            <a ui-sref="room({propertyCode: details.code, roomID: room.code})">
              <figure>
                <img ng-src="{{room.images[0].uri}}" err-source="http://lorempixel.com/150/100/" alt="{{room.name}}">
              </figure>
            </a>

            <h3><a ui-sref="room({propertyCode: details.code, roomID: room.code})">{{room.name}}</a></h3>

            <earned-points ng-if="isUserLoggedIn() && room.minPointsEarned">Earn at least <ng-pluralize count="room.minPointsEarned" when="{'1': '{} point', 'other': '{} points'}"> </ng-pluralize>
              </earned-points>

            <pricing-info>
              <div ng-if="!availableRooms || availableRooms.indexOf(room.code) > -1">
                <p>
                  from <span class="value">{{(room.priceFrom * (pricePer === 'stay' ? days : 1)) | i18nCurrency: currencyCode}}</span>
                  <span ng-if="pricePer === 'night'">per night</span><span ng-if="pricePer === 'stay'">per stay</span>
                  <span ng-if="isUserLoggedIn()">
                    <br />or <span class="value">{{(room.minPointsRequired * (pricePer === 'stay' ? days : 1))}}</span> points
                  </span>
                </p>

                <a ui-sref="room({propertyCode: details.code, roomID: room.code})" class="button">_view_more_</a>
              </div>
              <p ng-if="availableRooms && availableRooms.indexOf(room.code) < 0">Not Available on Selected Dates</p>
            </pricing-info>

            <description-info>
              <p ng-bind-html="sanitize(room.description)"></p>
            </description-info>
          </list-item>
        </list-items>
        <h2 ng-if="!rooms.length">_no_room_found_</h2>
      </div>
    </section>

    <!-- This section is not styled yet since it's hard to test it now. -->
    <section class="hotel-detail__services" ng-if="details.amenities.length">
      <hr />
      <h2>Hotel <strong>Amenities</strong></h2>
      <ul>
        <li ng-repeat="amenity in details.amenities" grid="4">
          <slug-img slug="amenity.slug" width="15" height="15" />
          <span>{{amenity.name}}</span>
        </li>
        <!--
        icon-wheelchair, icon-signal, icon-globe, icon-lock, icon-dollar
        -->
      </ul>
    </section>

    <!-- this is a leftover from Mobius v2 - didn't deleted it yet
         in case it's needed. There is no such section in v4 designs
    <aside grid-container="3">
      <div grid="3">
        <search>
          <h4>Search</h4>
          <input type="search" placeholder="Search...">
        </search>
        <hr>
        <contact>
          <h4>Contact us</h4>
          <dl>
            <dt ng-if="details.tel1"><span>Phone</span><i class="icon-mobile"></i></dt>
            <dd ng-if="details.tel1"><i rwd="mobile">Call hotel on </i><span>{{details.tel1}}</span></dd>
            <dt ng-if="details.email"><span>Email</span><i class="icon-mail"></i></dt>
            <dd ng-if="details.email"><i rwd="mobile">Email on </i>{{details.email}}</dd>
          </dl>
        </contact>
        <advert>
          <img src="//placehold.it/208x395" alt="Advertising Banner">
        </advert>
      </div>
    </aside>
    -->
  </hotel-detail>
</main>
