<hero-slider content="heroContent" slide-width="uiConfig.heroSlider.slideWidth" slide-height="uiConfig.heroSlider.slideHeight"></hero-slider>

<breadcrumbs stickable="main-header" id="breadcrumbs"></breadcrumbs>

<main class="grid-wrapper">

  <div class="preloader" ng-show="preloader.visible && !isFromSearch"></div>

  <hotel-detail itemscope itemtype="http://schema.org/Hotel">

    <!-- schema.org -->
    <meta itemprop="description" content="{{details.meta.microdata.schemaOrg.description}}" />
    <meta itemprop="parentOrganization" content="{{details.meta.microdata.schemaOrg.parentOrganization}}" />
    <meta itemprop="email" content="{{details.meta.microdata.schemaOrg.email}}" />
    <meta itemprop="image" content="{{details.meta.microdata.schemaOrg.image}}" />
    <meta itemprop="url" content="{{getAbsUrl()}}" />
    <div itemscope itemtype="http://schema.org/PostalAddress">
      <meta itemprop="address" content="{{details.meta.microdata.schemaOrg.address}}" />
      <meta itemprop="telephone" content="{{details.meta.microdata.schemaOrg.telephone}}" />
    </div>
    <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
     <meta itemprop="latitude" content="{{details.meta.microdata.schemaOrg.geo.latitude}}" />
     <meta itemprop="longitude" content="{{details.meta.microdata.schemaOrg.geo.longitude}}" />
    </div>
    <!-- //schema.org -->

    <header grid-row ng-show="hasTitle">
      <h1 grid="6" ng-bind-html="details.nameLong | mainHeaderStyle" itemprop="name"></h1>
      <local-info ng-if="showLocalInfo && localInfo && localInfo.time" local-info="localInfo" grid="6"></local-info>
    </header>

    <div ng-repeat-start="partial in partials" ng-include="partial" include-replace ng-repeat-end></div>

    <scroll-to-top class="back-to-top" ng-click="scrollToTop()" scroll-position="scroll" ng-class="{visible: scroll > scrollTopTrigger}"><span>_back_to_top_</span></scroll-to-top>

    <!-- Growl notifications -->
    <growl-alerts class="growl-alerts-dir" booking-message="'_statistics_booking_message_'" views-message="'_statistics_views_message_'" searches-message="'_statistics_searches_message_'" languages-message="'_languages_message_'" retention-message="'_statistics_booking_message_'" hour="'_hour_'" hours="'_hours_'" day="'_day_'" days="'_days_'" week="'_week_'" weeks="'_weeks_'" position-reference="config.bookingStatistics.positionReference" display-time="config.bookingStatistics.displayTime" display-delay="config.bookingStatistics.displayDelay"></growl-alerts>
  </hotel-detail>
</main>
