<hotels></hotels>

<aside grid-container="3">
  <div grid="3">
    <search>
      <h3>Search</h3>
      <input type="search" placeholder="Search...">
    </search>
    <hr>
    <contact>
      <h3>Contact us</h3>
      <dl>
        <dt><span>Phone</span><i class="icon-mobile"></i></dt>
        <dd><span>555&nbsp;333&nbsp;22</span></dd>
        <dt><span>Email</span><i class="icon-mail"></i></dt>
        <dd>info@mobiustunis.com</dd>
      </dl>
    </contact>
    <advert>
      <img src="//placehold.it/208x395" alt="Advertising Banner">
    </advert>
  </div>
</aside>


<!--
<div dynamic-layout><div>
 -->
