<hero-slider ng-if="!viewSettings.hideHeroSlider"
             content="heroContent"
             slide-width="uiConfig.heroSlider.slideWidth"
             slide-height="uiConfig.heroSlider.slideHeight">
</hero-slider>

<section-image ng-if="config.sectionImages && config.sectionImages[0] && property"
               id="room-header-image"
               section="config.sectionImages[0]"
               when="'enter'"
               from="1"
               to="1.5"
               show-logo="true"
               room-overview="roomDetails"
               property="property"
               hide-header-logo="true">
</section-image>

<notification-bar ng-if="config.sectionImages && config.sectionImages[0] && property"
                  sticky-header="true"
                  currently-editing="_you_are_currently_editing_">
</notification-bar>

<booking-bar size="full-width"
             ng-if="config.displayBookingBar && !isMobile">
</booking-bar>

<div class="Home__hero--info show-desktop">
  <h1 class="About__hero--title">{{ roomDetails.name }}</h1>
  <h1 class="About__hero--title">_about_title_one_</h1>
  <h2 class="About__hero--tagline">_about_tagline_</h2>
</div>

<breadcrumbs ng-if="!viewSettings.hideBreadcrumbs" stickable="main-header"></breadcrumbs>

<main class="room-detail"
      ng-class="{'grid-wrapper':!viewSettings.fullWidthSections}">

  <div class="preloader"
       ng-show="preloader.visible && !isFromSearch">
  </div>

  <ta-teaser ng-show="!ratesLoaded && isFromSearch && config.includeTripAdvisorPreloader"></ta-teaser>

  <room></room>

  <scroll-to-top class="back-to-top"
                 ng-click="scrollToTop()"
                 scroll-position="scroll"
                 ng-class="{visible: scroll > scrollTopTrigger}">
    <span>_back_to_top_</span>
  </scroll-to-top>

  <!-- Growl notifications -->
  <growl-alerts class="growl-alerts-dir"
                booking-message="'_statistics_booking_message_'"
                views-message="'_statistics_views_message_'"
                searches-message="'_statistics_searches_message_'"
                languages-message="'_languages_message_'"
                retention-message="'_retention_message_'"
                hour="'_hour_'"
                hours="'_hours_'"
                day="'_day_'"
                days="'_days_'"
                week="'_week_'"
                weeks="'_weeks_'"
                position-reference="config.bookingStatistics.positionReference"
                display-time="config.bookingStatistics.displayTime"
                display-delay="config.bookingStatistics.displayDelay"
                alt-products-message="'_alt_products_message_'">
  </growl-alerts>

</main>
