#main-header {
  background: #fff;
  height: auto;
  .viewport-mobile &{
    height: auto;
  }
}

// GENERIC STYLES
.main-nav {
  height: 98px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  .viewport-mobile &{
    height: 60px;
    padding: 0;
    margin: 0;
  }

  .menu-opener{
    background-size: 21px 16px;
  }
}

// MOBILE SPECIFIC STYLES
@media only screen and @large-mobile-max {
  #main-header {
    background-color: @c-white;
  }

  .main-nav {

    .brand {
      .viewport-mobile &{
        top: 22px;
        max-width:195px;
        img{
          width:100%;
          height: auto;
        }
      }
      .chain-sign &{
        width: 135px;
        height: 40px;
        background: url('@{img-prefix}/signature-logo.png') no-repeat center center;
        top: 12px;
        background-size: 125px;
        background-position: 0;
        img{
          display: none !important;
        }
      }
      .chain-sand & {
        overflow:hidden;
      }
      .property-zkam & {
        top:10px;
        background: url('@{img-prefix}/SIG_Kamloops.png') no-repeat center center;
        background-size: 125px;
      }
      .property-zeds & {
        top:10px;
        background: url('@{img-prefix}/SIG_Edmonton_South.png') no-repeat center center;
        background-size: auto 55px;
      }
      .property-zlan & {
        top:10px;
        background: url('@{img-prefix}/SIG_Langley.png') no-repeat center center;
        background-size: auto 55px;
      }
      .property-zprg & {
        top:10px;
        background: url('@{img-prefix}/SIG_Prince_George.png') no-repeat center center;
        background-size: auto 55px;
      }
      .property-zyvr & {
        top:10px;
        background: url('@{img-prefix}/SIG_Vancouver_Airport.png') no-repeat center center;
        background-size: auto 55px;
      }
      .property-zmis & {
        top:10px;
        background: url('@{img-prefix}/SIG_Mississauga.png') no-repeat center center;
        background-size: auto 55px;
      }
      .property-zyyz & {
        top:10px;
        background: url('@{img-prefix}/SIG_Toronto_Airport.png') no-repeat center center;
        background-size: auto 55px;
      }
    }

    > .app-menu {
      background-color: @c-dark-grey-transparent;

      ul {
        width: 100%;

        > li {
          border-top: 1px @c-primary solid;
          background-color: @c-dark-grey-transparent;

          &.mobile-header{
            img{
              height: auto;
            }
            a{
              width: 221px;
              height: 20px;
              background: url('@{img-prefix}/sandman-logo-light.png') no-repeat center center;
              img{
                display: none !important;
              }
            }
            .chain-sign &{
              a{
                width: 30px;
                height: 20px;
                background: url('@{img-prefix}/signature-logo-light.png') no-repeat center center;
                img{
                  display: none !important;
                }
              }
            }
            .chain-sand & {
              a {
                width:200px;
                background-position:center left;
              }
            }
            .close{
              &:after {
                .fa;
                color: #fff;
                content: @fa-var-close;
                top: 22px;
              }
            }
          }

          a{
            color: @c-secondary;
            font-size: 16px;
            font-weight: 700 !important;
          }

          a.is-active {
            font-weight: 700;
            text-shadow: none;
          }

          &.mobile-header{
            border-top: 0;
          }

          &.mobile-profile{
            height: auto;
            line-height: 50px;
            text-transform: none;
            border-top: 0;
            a{
              text-transform: none;
            }
            .profile {
              margin-top: 0;
              height: 50px;
              .message{
                font-size: @size--1;
                color: @c-primary;
              }

              .user {
                color: @c-primary;
                font-size: @size-0;
                line-height: @size-0;

                span {
                  display: inline;
                  font-weight: normal;

                  // Surname
                  &:last-of-type {
                    display: inline;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and @smallest-mobile-max {
  .main-nav {
    .brand {
      .viewport-mobile &{
        left:52px;
        max-width:150px;
        -webkit-transform:none;
        -ms-transform:none;
        transform:none;
      }
    }
  }
}

// Tablet styles
@media only screen and @tablet-portrait-max and @large-mobile-min {

}

@media only screen and @large-mobile-max {
  .main-nav {
    ul {
      li[currency-list] {
        > div > a:after {
          width:auto;
          height:auto;
        }
      }
    }
  }
}

// DESKTOP STYLES
@media only screen and @tablet-portrait-min {
  #main-header .sub-nav > nav.wrapper > ul li a {
    font-size: .8em;
  }

  .main-nav {

    ul {
      padding-right:20px;

      li {

        position: relative;
        line-height: 98px;

        a {
          color: @c-dark-grey;
          box-shadow: none;
          text-transform: uppercase;
          transition: all 0.3s ease-out;

          &:hover,
          &:focus,
          &:active,
          &.is-active {
            box-shadow: none;
          }

          &.button-login{
            color: #fff;
            border-radius: 8px;
            text-shadow: none;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
            font-family: @ff-default;
            .chain-sign &,
            .chain-sand &{
              font-family: @ff-default;
            }
          }
        }

        .open > a {
            box-shadow: none;
        }

        .open.has-icons > a {
            box-shadow: none;
        }

        &.desktop-profile{
          //height: 120px;
          //line-height: 120px;
          text-transform: none;
          a{
            text-transform: none;
          }
          .profile {
            margin-top: 2px;
            min-width: 0;
            color: @c-dark-grey;
            line-height:17px;
            .message{
              color: @c-primary;
              font-weight: 400;
              font-size: @size--0;
              line-height: @size--0;
              padding-right: 13px;
              text-align: right;
            }

            .user {
              color: @c-dark-grey;
              font-size: @size--0;

              img {
                width: 40px;
                height: 40px;
                border: 2px solid @c-light-grey;
                margin-top: 25px;
              }

              .user-details{
                position: relative;
                top: 30px;
                &.has-points{
                  top: 13px;
                }
              }

              span {
                font-weight: 700;
                line-height: 17px;

                // Surname
                &:last-of-type {
                  font-weight: 700;
                }
              }

              &:after {
                height: 9px;
                margin-left: 0;
                top: 35px;
                background: none;
                width: 0;
                height: 0;
                right:-20px;
                border-style: solid;
                border-width: 9px 4.5px 0 4.5px;
                border-color: @c-light-grey transparent transparent;
              }
            }
          }
          .points{

          }
        }
      }

      li[currency-list],
      li[language-list] {
        line-height: 98px;
        padding: 0 10px;
        a{
          color: @c-dark-grey;
          font-size: 10px;
          &:hover,
          &:after{
            color: @c-dark-grey;
          }
        }
        ul{
          li{
            padding: 0 10px;
            a{
              color: #fff;
              font-size: 14px;
              &:hover,
              &:after{
                color: #fff;
              }
            }
          }
        }
      }
      li[language-list] {
        ul li {
          a{
            color: @c-primary;
            &:after{
              color: @c-primary;
            }
            &:hover {
              color: @c-primary;
              text-decoration:underline;
            }
          }
        }
      }
    }

    .brand {
      display: block;
      float: left;
      margin: 0;
      margin-top: 0px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      .chain-sign &{
        width: 145px;
        height: 66px;
        background: url('@{img-prefix}/signature-logo.png') no-repeat center center;
        background-size: auto 66px;
        img{
          display: none;
        }
      }
      .chain-sand &{
        width:400px;
        overflow:hidden;
      }
      .property-zkam & {
        background: url('@{img-prefix}/SIG_Kamloops.png') no-repeat center center;
        background-size: auto 66px;
      }
      .property-zeds & {
        background: url('@{img-prefix}/SIG_Edmonton_South.png') no-repeat center center;
        background-size: auto 66px;
      }
      .property-zlan & {
        background: url('@{img-prefix}/SIG_Langley.png') no-repeat center center;
        background-size: auto 66px;
      }
      .property-zprg & {
        background: url('@{img-prefix}/SIG_Prince_George.png') no-repeat center center;
        background-size: auto 66px;
      }
      .property-zyvr & {
        background: url('@{img-prefix}/SIG_Vancouver_Airport.png') no-repeat center center;
        background-size: auto 66px;
      }
      .property-zmis & {
        background: url('@{img-prefix}/SIG_Mississauga.png') no-repeat center center;
        background-size: auto 66px;
      }
      .property-zyyz & {
        background: url('@{img-prefix}/SIG_Toronto_Airport.png') no-repeat center center;
        background-size: auto 66px;
      }
      .desktop-logo {
        width: 100%;
      }
      .viewport-tablet &{
        max-width: 50%;
        img{
          max-width: 100%;
        }
      }
      img {
        display:block;
      }
    }
  }
}

@media only screen and @tablet-landscape-min {
  #main-header .sub-nav > nav.wrapper > ul li a {
    font-size: 13px;
  }

  .main-nav {

    .button-login {
      right: 0;
    }
  }
}

/*
Sub-nav
*/
#main-header{

  .sub-nav {
    background: @c-primary;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    .sticky-bread & {
      box-shadow:none;
    }
    .chain-sign &{
      background: @c-primary-sign;
    }
    .chain-sand &{
      background: @c-primary-sand;
    }
    height: 30px;
    line-height: 30px;
    > nav{
      text-align: center;
      > ul{
        display: inline-block;
        text-align:center;
        width:100%;
        li[mega-menu]{
          &:hover > a{
            color: @c-menu-active;
            .chain-sign &{
              color: @c-menu-active-sign;
            }
            .chain-sand &{
              color: @c-dark-grey;
            }
          }
        }
        li{
          display: inline-block;
          float: none;
          a{
            color: #fff;
            font-size: 13px;
            text-transform: uppercase;
            padding: 0 15px;
            &.is-active,
            &:hover {
              color: @c-menu-active;
              .chain-sign &{
                color: @c-menu-active-sign;
              }
              .chain-sand &{
                color: @c-dark-grey;
              }
            }
          }
          ul{
            li{
              display: block;
              float: none;
              text-align: left;
              -webkit-column-break-inside: avoid;
              page-break-inside: avoid;
              break-inside: avoid;
              a{
                padding: 0;
              }
            }
          }
        }
      }
    }

  }

}
