//////////////////////
//// OFFER DETAIL ////
//////////////////////

offer-detail {
  display: inline-block;

  //- Page Heading
  h1 {
    .h1;
    font-weight: 600;
    font-size: 18px;
  }


  //- Book Now Button
  button-submit {
    float: left;
    background: @c-green;
    border-radius: 2px;
    font-size: 14px;
    text-transform: uppercase;
  }

}
