/////////////////////
// Local Variables //
/////////////////////

@c-gray-reservation:  #d7d7d7;
@c-form-text:         #373535;
@c-brown-light:       #d7c6ae;
@spacing:             20px;


////////////////////////////////////////////////////
// Global namespace for whole reservation process //
////////////////////////////////////////////////////
reservation-widget {

  margin-bottom: 70px;
  width: 100%;
  .chain-sign &{
    background:white;
  }
  .chain-sign.viewport-mobile & {
    background:transparent;
  }
  &.reservation-assurance-active {
    margin-bottom:40px;
    .viewport-mobile & {
      margin-bottom:0;
    }
  }
  form {
    margin-top:10px !important;
  }
  reservation-details-form{
    form{
      padding: 20px 25px;
      border: 1px solid #b98748;
      border-radius: 3px;
      background-color: #f2ece5;
      margin-top: 25px;
      box-sizing: border-box;
    }
  }

  .FlowTypeSelector {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 10px;
    label {
      font-weight: normal;
      font-size: 18px;
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  // CreateUser is the from on reservation details to enter a password and create a user via a booking
  .CreateUser {
    margin-top: 23px !important;
  }

  .MemberLogin {
    display: flex;
    flex-flow: column nowrap;
  }

  .MemberLogin__panel {
    display: flex;
    flex-flow: row nowrap;
    .viewport-mobile & {
      flex-flow: column nowrap;
    }
  }

  .MemberLogin__fields {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
  }

  .MemberLogin__login {
    flex: none;
    align-self: center;
    margin-left: 20px;
    opacity: 1;
    transition: opacity 200ms linear;
    .viewport-mobile & {
      margin-left: 0;
      margin-bottom: 10px;
    }
  }

  button[disabled='disabled'].MemberLogin__login {
    box-shadow: none;
    outline: none;
    background: #ccc;
    border: 1px solid #ccc;
    color: white;
    opacity: 0;
  }

  .MemberLogin__error {
    color: @c-red;
    font-weight: bold;
  }

  .MemberLogin__title {
    margin-top: 20px;
    line-height: 19px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0px;
    color: #b98748;
    text-transform: uppercase;
  }

  .CreateUser__explanation {
    font-weight: normal;
    .emphasize {
      font-weight: bold;
    }
    .login-link:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .MemberLogin__subtitle {
    margin-bottom: 10px;
    font-weight: bold;
  }

  .MemberLogin__logo {
    flex: 0 0 auto;
    margin: 0 16px 5px 0;
    width: 72px;
    height: 72px;

    @media @tablet-portrait-max {
      display: none;
    }
  }

  input.MemberLogin__password {
    line-height: 45px;
    height: 45px;
    border: solid 1px #d9d9d9;
    border-radius: 0;
    margin: 5px 0 0 0;
  }

  .MemberLogin__forgot-password {
    width: 100%;
    float: left;
    text-align: end;
    cursor: pointer;
    font-weight: bold;
    color: @c-secondary;
    &:hover {
      text-decoration: underline;
    }
  }

  .CreateUser__password-container {
    float: left;
  }

  input.CreateUser__password,
  input.CreateUser__password-confirmation {
    line-height: 45px;
    height: 45px;
    border: solid 1px #d9d9d9;
    border-radius: 0;
  }

  label.CreateUser__password-confirmation {
    padding-top: 0;
  }

  .CreateUser__error {
    font-size: 13px;
    letter-spacing: -0px;
    color: @c-red;
    line-height: 18px;

    .reset-password-link {
      font-weight: bold;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  h3{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    .viewport-mobile & {
      margin-top:20px;
    }
    strong{
      font-weight: normal;
    }
  }

  label {
    color: @c-form-border-grey;
    a{
      color: @c-form-border-grey;
      text-decoration: underline;
      &:hover{
        text-decoration: none;
      }
    }
  }

  input[type="text"],
  input[type="email"],
  select,
  .chosen-container,
  .chosen-container .chosen-single,
  textarea {
    height: 45px;
    line-height: 45px;
    padding: 0 15px;
    border-radius: 0;
    border-color: @c-gray-reservation;
    color: @c-form-text;
    font-size: @size-0;
    font-weight: normal;
    transition: border-color 0.15s linear;

    &:focus {
      box-shadow: inset 0 1px 3px fade(@c-form-text, 20%);
    }
  }

  .chosen-container {
    padding: 0 7px 0 15px;

    .chosen-drop {
      border: 1px solid @c-gray-reservation;
    }

    .chosen-results {
      padding: 2px 0;
    }

    .chosen-single, .chosen-single span {
      padding: 0;
    }

  }

  textarea {
    min-height: 3 * 45px;
  }

  .input-checkbox {
    font-weight: normal;
  }

  .detail-links,
  .detail-links a {
    font-size: 12px;
    .chain-sand &{
      color: @c-menu-active-sand;
    }
    .chain-sign &{
      color: @c-menu-active-sign;
    }
  }

  aside {
    section + section {
      margin: @spacing 0;
    }
    &:before {
      .grid-width(7);
      position: absolute;
      content: '';
      display: block;
      width: 0;
      left: @width;
      top: 45px;
      bottom: 20px;
      border-left: 1px dashed @c-gray-reservation;
      @media only screen and @tablet-portrait-max {
        content: none;
      }
    }

  }

  .room-data {

    h3, h4, p {
      line-height: 1.6em;
    }

    h3 {
      color: @c-dark-grey;
      font-weight: 400;
      font-size: 13px;
      text-transform:initial;
    }

    h4{
      font-size: 10px;
      color: #585858;
      text-transform: uppercase;
      font-weight: 700;
    }

    .room-data-details{
      display: block;
      width: 100%;
      position: relative;
      .clearfix;
    }

    .desc {
      color:@c-primary;
      font-size:13px;
    }

    .desc,
    .price{
      display: inline;
      float: left;
      max-width: 75%;
      &.price{
        clear: left;
        margin-top: 0;
      }
    }

    .price{
      .chain-sand &{
        color: @c-primary-sand;
      }
      .chain-sign &{
        color: @c-primary-sign;
      }
    }

    .chain-logo{
      display: block;
      top: 3px;
      max-width: 25%;

      .chain-sand &{
        width: 98px;
        height: 17px;
        background: url('@{img-prefix}/sandman-logo-medium.png') no-repeat;
        background-size: 100%;
        top: 13px;
      }
      .chain-sign &{
        width: 40px;
        height: 26px;
        background: url('@{img-prefix}/signature-logo-medium.png') no-repeat;
        background-size: 100%;
      }
    }

    .image-wrapper {
      overflow: hidden;

      img {
        border-radius: 0;
        margin: @baseline/2 0;
        max-height: 117px;
        width: 100%;
        border: 2px solid @c-light-grey;
        .viewport-mobile & {
          max-height:initial;
        }
      }
    }
    .room-image-placeholder {
      width: 100%;
      height:210px;
      margin-bottom: 14px;
      border-radius: 0;
      margin: 11px 0;
      max-height: 117px;
      width: 100%;
      border: 2px solid #dedede;
      .chain-sand & {
        background:url('@{img-prefix}/sandman-placeholder-large.jpg') no-repeat;
        background-size: cover;
        background-position: center;
      }
      .chain-sign & {
        background:url('@{img-prefix}/signature-placeholder-large.jpg') no-repeat;
        background-size: cover;
        background-position: center;
      }
    }
  }

  .reservation-data {
    color: #242424;

    table {
      width: 100%;
    }

    th {
      font-weight: normal;
      text-align: left;
      padding: 0 5px;
    }

    td {
      font-weight: 700;
      padding: 0 5px;
    }

    .data {
      margin: @spacing 0;
    }

    .charges {
      padding: 10px;
      border: 1px solid @c-gray-reservation;
      border-radius: 6px;
      th {
        font-weight: 400;
      }
      td {
        font-weight: 700;
      }
      .breakdown-toggle{
        td {
          padding-top:10px;
        }
        a{
          .chain-sand &{
            color: @c-menu-active-sand;
          }
          .chain-sign &{
            color: @c-menu-active-sign;
          }
        }
      }
    }

  }

  label[for="agreement2"] {
    display: none;
  }

  label[for="agreement3"] {
    margin: @spacing 0 0 0;
    padding: 0px;
    line-height: 20px;
    text-align: left;
    display: block !important;
    .viewport-mobile &{
      margin-left: 0;
    }
  }

  .reservation-controls {
    text-align: center;

    .viewport-mobile &{
      width: 100%;
      registration-call {
        margin-top: 20px;
        clear: both;
        float: left;
        width: 100%;
        display: inline-block;
        margin-top: 20px;
      }
    }

    h4 {
      font-size: @size-4;
      color: @c-link;
      margin-bottom: @baseline/4;
      font-weight: 100;
    }

    .next {
      float: right;
      margin: 0 @spacing;
      .viewport-mobile &{
        margin: 0 0 0 @spacing/2;
      }
    }

    .back {
      float: left;
      margin: 0 @spacing 0 0;
      text-shadow: none;
      .viewport-mobile &{
        padding: 0;
        margin: 0 @spacing/2 0 0;
      }
    }
  }


  @media screen and @large-mobile-min and @large-mobile-max {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  @media screen and @tablet-portrait-min {
    margin-left: auto;
    margin-right: auto;
  }
}



@media only screen and @large-mobile-min {

}

// DESKTOPS and TABLETS in LANDSCAPE orientation
@media only screen and @tablet-portrait-min {

  reservation-widget {

    .input-left,
    .input-right {
      box-sizing: border-box;
      clear: none;
      width: 50%;

      &.wide {    width: 75%; }
      &.narrow {  width: 25%; }
    }

    .input-left {
      float: left;
      padding-right: 10px;
    }

    .input-right {
      float: right;
      padding-left: 10px;
    }
  }

  reservation-buttons {

    .button {
      &.back,
      &.next {
        .grid-width(2);
        width: @width;
      }
    }
  }
}

////////////////////////////////////////////////
// Billing details form and payment w/ points //
////////////////////////////////////////////////
reservation-billing {

  // Wrapper
  > div {
    margin: 10px 0 20px 0;
    padding: 30px 40px;
    border: 1px solid #b98748;
    border-radius: 0;
    background-color: #f2ece5;
    .viewport-mobile &{
      padding: 20px;
    }
    &.voucher-entry {
      padding: 11px 20px;
      button {
        display: none;
      }
    }
  }

  .payment-methods {
    cursor: pointer;

    li {
      display: inline-block;
      vertical-align: middle;
      &.points{
        float: right;
      }
    }

    li + li {
      margin-left: 10px;
    }

    .divider {
      display: none;
    }

    i {
      display: block;
      opacity: 1;
      width: 32px;
      height: 30px;
      background-repeat: no-repeat;
      background-position: center center;
      opacity: 0.5;

      &.selected {
        opacity: 1;
      }

      &.visa {
        background-image: url('@{img-prefix}/card-icons/visa.png');
      }

      &.master {
        background-image: url('@{img-prefix}/card-icons/mastercard.png');
      }

      &.amex {
        background-image: url('@{img-prefix}/card-icons/amex.png');
      }

      &.discover {
        background-image: url('@{img-prefix}/card-icons/discover.png');
      }

      &.points {
        width: 80px;
        background-image: url('@{img-prefix}/card-icons/points.png');
      }
    }
  }

  // Payment with users points
  .payment-points {
    margin-top: @spacing;

    th, td {
      padding: 10px 0;
      font-size: @size-1;
    }

    th {
      width: 75%;
      text-align: left;
      font-weight: normal;
    }

    td {
      color: @c-brown;
      font-weight: bold;
      font-size: @size-2;
      text-align: right;
    }

    .earned {
      color: @c-green;
    }

    .balance {

      th, td {
        font-size: @size-3;
      }
    }

    // Negative value
    .not-enough {
      color: @c-red;
    }

    // "Not enough points..."
    .error {
      margin-top: @spacing;
      color: @c-red;
    }

    registration-call {
      display: none;
    }
  }

  .chosen-container {
    line-height: 45px;
    height: 45px;
    border-radius: 0;
    border-color: #d7d7d7;

    a {
      font-size: 14px;
      font-weight: normal;
      padding-left: 10px;
    }
  }

  .payment-card {
    form {
      width: 100%;

      .card-details {
        .expiry-title {
          width: 70%;
          position: relative;
          text-align: center;
          .viewport-mobile &{
            width: 100%;
          }

          label {
            padding: 5px;
            line-height: 20px;
            font-weight: normal;
            display: inline-block;
            background-color: #f2ece5;
          }

          &:before {
            content: '';
            display: block;
            border-left: 1px solid @c-light-grey;
            border-right: 1px solid @c-light-grey;
            border-top: 1px solid @c-light-grey;
            height: 10px;
            position: absolute;
            left: 0px;
            right: 10px;
            top: 15px;
          }
        }

        .card-expiry {
          float: left;
          width: 70%;

          .viewport-mobile &{
            width: 100%;
          }

          > label {
            padding-top: 5px;
          }
        }

        .card-cvv {
          float: left;
          width: 30%;
          position: relative;

          .viewport-mobile &{
            width: 100%;
          }

          > label {
            padding-top: 5px;

            span {
              top: -10px;
            }
          }

          .help {
            cursor: pointer;
            position: absolute;
            border-radius: 30px;
            border: 1px solid @c-light-grey;
            right: -28px;
            top: 18px;
            width: 20px;
            height: 20px;
            text-align: center;
            .viewport-mobile &{
              right: 5px;
            }
          }
        }

        &.invalid {
          .expiry-title {
            label {
              color: @c-red;
            }

            &:before {
              border-color: @c-red;
            }
          }

          .chosen-container {
            border-color: @c-red;
          }
        }
      }
    }
  }
}

//////////////////////////////////////////////
// Confirmation step of reservation process //
//////////////////////////////////////////////
reservation-confirmation {

  > div {
    .viewport-mobile &{
      margin-top: 20px;
    }
  }

  // Tab headers (links)
  .nav-tabs {
    a:hover {
      .chain-sign &{
        color: @c-menu-active-sign;
      }
      .chain-sand &{
        color: @c-menu-active-sand;
      }
    }
    .active a {
      color: @c-primary;
      font-weight: normal;
      &:hover {
        color: @c-primary;
      }
    }

    li{
      .viewport-mobile &{
        min-height: 90px;
      }
    }
  }

  table{
    color: #242424;;
    tr{
      th {
        font-weight: 700;
      }

      td {
        font-weight: 400;
      }
    }
  }
}


////////////////////////////////
// Reservation Finished page  //
//  - after succesful payment //
////////////////////////////////
reservation-finished {

  margin-top: 120px;

  .viewport-mobile &{
    margin-top: 0px;
  }


  // This part is specific for RESERVATION DETAIL page only
  .reservation-summary {

    // Block w/ PRINT and ADD TO PASSBOOK and SHARE buttons
    .actions {
      position: relative;
      display: inline-block;
      width: 100%;
      margin-bottom: 20px;

      @media print {
       display: none;
      }

      .passbook{
        float: right;
        a {
          display: block;
          margin-left: @spacing / 2;
        }
        .button-passbook {
          background: url('@{img-prefix}/v4/btn-passbook.png');
          width: 108px;
          height: 36px;
          float: right;
        }

        .button-print {
          background: url('@{img-prefix}/v4/btn-print.png');
          width: 37px;
          height: 36px;
          float: right;
        }

        .viewport-mobile &{
          clear: both;
          float: left;
          .button-print {
            margin-left: 0;
            margin-right: @spacing / 2;
          }
          .button-passbook {
            margin-left: 0;
            margin-right: @spacing / 2;
          }
        }
      }

      span {
        visibility: hidden;
      }
    }


    footer {
      text-align: right;
      float: right;
      padding: 0;
      line-height: 20px;
      a{
        font-size: 12px;
        color: @c-secondary;
        &:hover{
          color: @c-secondary;
        }
      }
    }
  }

  // List of possible enhancements for users reservation
  .reservation-enhance {
    ul {
      .clearfix;
      margin: @spacing 0;
      padding: @spacing @spacing / 2;
      border: 2px solid rgba(214, 185, 185, 0.4);
      border-radius: 4px;
      background-color: rgba(215, 198, 174, 0.2);
    }

    li {
      display: inline-block;
      box-sizing: border-box;
      padding: 0 @spacing / 2;

      &.half {
        width: 50%;
        .viewport-mobile &{
          width: 100%;
        }
      }
      &.third {
        width: 33.3333%;
        .viewport-mobile &{
          width: 100%;
        }
      }

      > div {
        cursor: pointer;
        padding-bottom: 5px;
        border-radius: 4px;
        background: #fff;
        box-shadow: 0 2px 1px 0 fade(@c-black, 50%);
        text-align: center;
        overflow: hidden;

        a.eye-icon{
          position : relative;
          display: block;

          img{
            display: block;
          }

          &:before {
            content: '';
            display: block;
            background: @c-black;
            opacity: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            .transition(opacity, .3s, ease-in-out);
          }

          &:after {
            .fa;
            content: @fa-var-eye;
            background: transparent;
            color: #fff;
            font-size: 48px;
            line-height: 27px;
            position: absolute;
            width: 48px;
            height: 30px;
            left: 50%;
            top: 50%;
            margin-left: -24px;
            margin-top: -18px;
            opacity: 0;
            .transition(opacity, .3s, ease-in-out);
          }

          &:hover {
            &:after{
              opacity: 1;
            }
            &:before{
              opacity: .3;
            }
          }

          &.disabled{
            cursor: default;
            pointer-events: none;
          }
        }

        h4 {
          color: @c-primary;
        }
      }
    }

    h4, p, i {
      padding: 0 @spacing / 2;
    }

    img {
      width: 100%;
    }

    h4 {
      margin: @baseline 0;
      font-size: @size-2;
      text-transform: uppercase;
      font-weight: normal;
      span{
        font-weight: normal;
      }
    }

    i {
      display: block;
      color: @c-primary;
      font-size: @size--1;
      line-height: @baseline;
      text-align: left;
      font-weight: 700;
      padding: 0 14px;
    }

    p {
      margin: @baseline 0;

      a {
        font-weight: 600;
      }
    }

    .button {
      margin: @spacing / 2 0;
      padding: 0 @spacing / 2;
      width: 45%;

      small {
        font-size: 0.75em;
        font-style: italic;
        font-weight: normal;
        opacity: 0.75;
      }
    }

    .button + .button {
      margin-left: @spacing / 2;
    }
  }

  .newsletter-cta{
    a{
      display: block;
      img{
        width: 100%;
        max-width: 100%;
        height: auto;
        display: inline-block;
      }
    }
  }

  .reservation-enhancements {

    margin-bottom: 2*@baseline;

    .total {
      font-size: @size-2;
      font-weight: 600;
      text-align: right;
      color: @c-link;
    }

    list-item {
      border-top: 0;
    }
  }

  .button.disabled {
    .button-colors(gray, @colorButtonGray, @colorButtonGrayHover);
  }

  @media print {
    margin-top:0;
  }
}


///////////////////////////////////////////////
// Common code for:                          //
//  - RESERVATIONS page                      //
//  - RESERVATION DETAIL page                //
//                                           //
//  Code specific only for RESERVATIONS page //
//  is placed in file                        //
//  `src/styles/views/reservations.less`     //
///////////////////////////////////////////////
///
reservation-finished,
reservation-hotel-details {

  .reservation-summary {

    padding-top: 0;

    header {
      .clearfix;
      margin: 0 0 2 * @spacing 0;
      float: left;
      width: 100%;

      h1,
      div > div {
        float: left;
        width: 33.3333%;
        .viewport-mobile & {
          width: 100%;
          float: none;
        }
      }
    }

    h1 {
      color: @c-grey;
      font-size: 18px;
      line-height:26px;
      font-weight: 600;
      text-transform: uppercase;
    }

    .reference {
      font-size: 18px;
      padding-left:100px;
      text-align:left;
      p{
        color: @c-grey;
        font-weight: 700;
        line-height:26px;
        margin-top:0;
      }

      p + p{
        color: @c-grey;
        font-weight: 300;
      }

      strong {
        font-size: 18px;
        font-weight: 400;
      }

      &.reference-visible {
        visibility: visible;
      }

      .viewport-mobile & {
        text-align: left;
        padding: 0;
        p{
          display: inline;
        }
      }
    }

    .booked {
      color: @c-grey;
      font-size: 18px;
      line-height:26px;
      font-weight: 600;
    }
  }

  // Reservation data in tables
  .tables {

    figure {
      width: 33.3333%;
      float: left;

      .viewport-mobile & {
        width: 100%;
        margin-bottom: 20px;
      }

      img {
        width: 100%;
        margin-bottom: 14px;
      }

      .room-image-placeholder {
        width: 100%;
        height:210px;
        margin-bottom: 14px;

        .chain-sand & {
          background:url('@{img-prefix}/sandman-placeholder-large.jpg') no-repeat;
          background-size: cover;
          background-position: center;
        }
        .chain-sign & {
          background:url('@{img-prefix}/signature-placeholder-large.jpg') no-repeat;
          background-size: cover;
          background-position: center;
        }
      }

      button,
      button.disabled {
        height: 39px;
        line-height: 39px;
        width: 48%;
        font-size: 14px;
        text-transform: uppercase;

        @media print {
         display: none;
        }
      }

      button.disabled {
        background: @c-grey;
        &:active,
        &:focus,
        &:hover {
          background: @c-grey;
        }
      }

      button:first-of-type{
        border-radius: 3px;
        background: @c-green;
        &:active,
        &:focus,
        &:hover {
          background: @c-green;
        }
      }

      button + button {
        float: right;
      }
    }

    > div {
      padding-left: 100px;
    }

    .chain-logo{
      display: block;
      max-width: 25%;

      &.sand{
        width: 98px;
        height: 17px;
        background: url('@{img-prefix}/sandman-logo-medium.png') no-repeat;
        background-size: 100%;
      }
      &.sign{
        width: 40px;
        height: 26px;
        background: url('@{img-prefix}/signature-logo-medium.png') no-repeat;
        background-size: 100%;
      }
    }

    h3 {
      max-width: 75%;
      font-family: @ff-default;
      font-size: 18px;
      line-height: 24px;
      color: @c-grey;
      text-transform: uppercase;
    }

    h4 {
      max-width: 75%;
      font-size: 14px;
      color: @c-secondary;
      text-transform: none;
      font-weight: 300;
      line-height: 20px;
    }

    table {
      margin-top: @baseline;
      width: 100%;
      color: @c-grey;
      font-size: 14px;
    }

    th, td {
      width: 25%;

      &[rowspan] {
        vertical-align: bottom;
      }
    }

    th {
      font-weight: 300;
      text-align: left;
    }

    td {
      font-weight: 700;
      text-align: right;
    }

    th:not(:first-child) {
      padding-left: 2 * @spacing;
    }

    .total {
      font-weight: 300;
    }

    .total-value {
      font-size: 18px;
      font-weight: 700;
    }

    .extended-charges{
      table{
        .breakdown-toggle{
          a{
            .chain-sand &{
              color: @c-menu-active-sand;
            }
            .chain-sign &{
              color: @c-menu-active-sign;
            }
          }
        }
      }
      .past-booking-message {
        display: none;
      }

      .extended-total{
        position: absolute;
        bottom: 0;
        right: 0;
        a{
          font-size: 12px;
          line-height: 14px;
          color: @c-secondary;
          &:hover{
            color: @c-secondary;
          }
        }
      }
    }
  }
}

.reservation-summary {
  &[ng-click] {
    cursor: pointer;
  }
}

registration-call {
  display: none;
}
