<hero-slider content="heroContent" class="decoration-image"></hero-slider>

<breadcrumbs></breadcrumbs>

<main typo-grid class="grid-wrapper">

  <div ng-if="!showDetail">
    <div ng-repeat="offer in offersList track by $index" >
      <img ng-src="{{offer.image.uri}}"  alt="{{offer.image.alt}}"/>
      <h2>{{offer.title}}</h2>
      <div ng-bind-html="offer.subtitle"></div>
      <a ng-click="selectOffer(offer.code)">Read more</a>
    </div>
  </div>

  <div ng-if="showDetail">
    <h1>{{selectedOffer.title}}</h1>
    <img ng-src="{{selectedOffer.image.uri}}" alt="{{selectedOffer.image.uri}}"/>
    <div ng-bind-html="selectedOffer.text"></div>
    <a ui-sref="hotels({promoCode: selectedOffer.promoCode})">book now</a>
    <hr>

    <h2 ng-if="offersList.length > 1">You may also be interested in:</h2>

    <article ng-repeat="offer in offersList | filter:getRelevant track by $index">
      <img ng-src="{{offer.image.uri}}"  alt="{{offer.image.uri}}"/>
      <h2>{{offer.title}} </h2>
      <div ng-bind-html="offer.subtitle"></div>
      <a ng-click="selectOffer(offer.code)">Read more</a>
    </article>

  </div>
</main>
