<hero-slider content="heroContent" hero-slider></hero-slider>

<breadcrumbs stickable="main-header"></breadcrumbs>

<main class="grid-wrapper">
  <div class="preloader" ng-show="preloader.visible"></div>

  <offers-list grid-row ng-if="!showDetail">

    <offer-item ng-repeat="offer in offersList track by $index" ng-if="offersList.length > 0" ng-click="goToDetail(offer.meta.slug)">
      <img ng-src="{{offer.image.uri | cloudinaryImage : 310 : 160 : 'fill'}}" alt="{{offer.image.alt}}"/>

      <section>
        <h2>{{offer.title}}</h2>
        <div ng-bind-html="offer.subtitle"></div>
      </section>

      <span>_read_more_</span>
    </offer-item>

    <div ng-if="offersList.length === 0" class="products-not-available">
      <h3>_offers_page_no_offers_title_</h3>
      <p>_offers_page_no_offers_desc_</p>
      <a class="button" ui-sref="hotels({property: null})">_view_hotels_</a>
    </div>
  </offers-list>

  <offer-detail id="offer-detail" grid-row ng-if="showDetail" ng-switch="!!selectDates">
    <div grid="12">
      <h1 ng-bind-html="selectedOffer.title | mainHeaderStyle"></h1>
      <img ng-src="{{selectedOffer.image.uri | cloudinaryImage : 482 : 280 : 'fill'}}" alt="{{selectedOffer.image.uri}}"/>
      <div class="offer-content" ng-bind-html="selectedOffer.text" markdown-text-parser></div>

      <!-- DATES ARE SELECTED -->
      <button-submit ng-switch-when="false" ng-click="goToHotels(selectedOffer)">_book_now_</button-submit>

      <!-- USER SPECIFIES DATES -->
      <button-submit ng-switch-when="true" ng-click="selectDates()">_select_dates_</button-submit>

      <button-back role="button" tabindex="0" ng-click="goToOffersList()" class="pull-left">_back_</button-back>
    </div>
    <div grid="12">
      <hr>

      <h2 ng-if="offersList.length > 1" ng-bind-html="'_more_offers_title_' | mainHeaderStyle"></h2>
      <offers-list ng-if="offersList.length > 1">
        <offer-item ng-repeat="offer in offersList | filter:getRelevant track by $index"  ng-click="goToDetail(offer.meta.slug)">
          <img ng-src="{{offer.image.uri | cloudinaryImage : 310 : 160 : 'fill'}}" alt="{{offer.image.uri}}"/>

          <section>
            <h2>{{offer.title}} </h2>
            <div ng-bind-html="offer.subtitle"></div>
          </section>

          <span>_read_more_</span>
        </offer-item>
      </offers-list>
    </div>

  </offer-detail>
</main>
<div ng-include="'layouts/siteMap.html'" class="site-map"></div>
