//- BUTTONS -//
@c-button: @c-secondary;


//- Button Submit
.typeform-share.button,
.button,
input[type="submit"],
button-submit {
  width: 100%;
  text-transform: uppercase;
  height: @c-button-height !important;
  border: 0 none;
  border-radius: @c-button-border-radius !important;
  font-family: @ff-primary;
  background-color: @c-green;
  color: @c-white;
  font-size: 18px;
  font-weight: bold;
  line-height: 56px !important;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  transition: background-color 200ms;
  box-shadow: none;
  &:hover {
    background-color: #79AF41;
  }
  &:focus {
    background-color: #79AF41;
    outline: none;
  }
  &.mid-button {
    width: 250px;
  }
  &.thin {
    width: auto !important;
  }
}
button-submit[disabled="disabled"] {
  background: darken(@c-button, 20%);
  border: none;
  box-shadow: none;
}

button.back {
  &:hover {
    color: @c-white;
    &:before {
      border-color: @c-white;
    }
  }
}
