
.viewport-mobile {

  .Menu__items {
    width: 100%;
    margin-top: 10px;
  }

  .Menu__items--item {
    font-size: 18px;
    line-height: 45px;
  }

  .Menu__items--highlight {
    font-size: 14px;
    line-height: 50px;
  }

}
