<hero-slider content="heroContent" class="decoration-image"></hero-slider>

<breadcrumbs></breadcrumbs>

<main typo-grid class="grid-wrapper">

  <news-list ng-if="!showDetail">
    <h1>Our <strong>News</strong></h1>

    <p>An on-line reference for news, press releases, promotions and current events. Please click on articles for details.</p>

    <hr>

    <article ng-repeat-start="news in newsList track by $index" ng-click="selectNews(news.code)">
      <h2>{{news.title}}</h2>
      <div ng-bind-html="news.subtitle"></div>
    </article>

    <hr ng-repeat-end />

  </news-list>

  <news-detail ng-if="showDetail">
    <h1>{{selectedNews.title}}</h1>
    <img ng-src="{{selectedNews.image.uri}}" alt="{{selectedNews.image.alt}}"/>
    <div ng-bind-html="selectedNews.text"></div>

    <hr>

    <h2 ng-if="newsList.length > 1">You may also be interested in:</h2>

    <article ng-repeat="news in newsList | filter:getRelevant track by $index" ng-click="selectNews(news.code)">
      <h2>{{news.title}} </h2>
      <div ng-bind-html="news.subtitle"></div>
    </article>

  </news-detail>
</main>
