<div class="ui-dialog">
  <div class="modal-header">
    <h1 class="modal-title">Modifying - <strong>{{data.reservationCode}}</strong></h1>
    <button class="button-close" ng-click="cancel()"><i class="fa fa-times"></i></button>
  </div>

  <div class="modal-body">
    <p>Your changes will not be saved if you navigate away from this page in order to update your booking you need to finish the reservation process</p>
  </div>

  <div class="modal-footer">
    <button class="button" ng-click="ok()">Continue</button>
  </div>
</div>
