<div class="ui-dialog">
  <div class="modal-header">
    <h1 class="modal-title">Modifying - <strong>{{data.reservationCode}}</strong></h1>
    <button class="button-close" ng-click="cancel()"><i class="fa fa-times"></i></button>
  </div>

  <div class="modal-body">
    <p>You can now modify your booking</p>

    <p>Update your dates and number of occupants on the booking bar to search again</p>
  </div>

  <div class="modal-footer">
    <button class="button" ng-click="ok()">Continue</button>
  </div>
</div>
