<div class="ui-info">
  <header>
    <h1>Rooms for your booking</h1>
    <button-close role="button" aria-label="Close" ng-click="cancel()"></button-close>
  </header>

  <main>
    <ul>
      <li ng-repeat="room in data.rooms">
        <img ng-src="{{room.images[0].uri | cloudinaryImage : 180 : 110: 'fill'}}" alt="{{room.name}}"/>
        <div class="details">
          <p class="desc"><strong>{{room._selectedProduct.name}}</strong></p>
          <p class="price"><strong>{{room._selectedProduct.price.totalBase | i18nCurrency: currencyCode}}</strong> <em>per
            night</em></p>

          <h3>{{room.name}}</h3>

          <span class="guests">
            <ng-pluralize count="room._adults" when="{'0': '{} adults', '1': '{} adult', 'other': '{} adults'}"></ng-pluralize>, {{room._children}} children</span>
        </div>
      </li>
    </ul>
  </main>
</div>
