
.viewport-mobile {

  .members-rates {

    &.members-rates__size-large {
      height: 169px;
    }

    .members-rate {
      width: 100%;
      margin-bottom: 15px;
      .members-rate__title {
        font-size: 20px;
        margin-bottom: 6.4px;
      }
      .members-rate__tagline {
        font-size: 16px;
      }
      .members-rate__rates {
        margin-top: 16px;
      }
      .members-rate__rate {
        font-size: 13px;
        height: 34px;
        line-height: 34px;
        padding: 0 7px;
      }
    }

  }

}
