<main class="grid-wrapper">

  <div class="preloader" ng-show="preloader.visible"></div>

  <reservation-finished>
    <section grid-row class="reservation-summary">

      <div class="actions">
        <div class="share">
          _share_via_:
          <a href="" title="Share on Facebook" target="_blank" class="icon-fb" fb-like="facebookShare.url"></a>
          <a href="" ng-href="https://twitter.com/intent/tweet?source={{shareURL}}&text={{shareURL}}&via=SuttonPlaceHtl" title="Tweet" target="_blank" class="icon-twitter"></a>
          <a href="" ng-href="https://plus.google.com/share?url={{shareURL}}" title="Share on Google+" target="_blank" class="icon-gplus"></a>
          <a href="" ng-href="mailto:?body={{shareURL}}" title="Email" target="_blank" class="icon-email"></a>
        </div>
        <div class="passbook">
          <a href="" class="button-print" ng-click="printPage()"><span>_print_</span></a>
          <a href ng-click="sendToPassbook()"class="button-passbook"><span>_add_to_passbook_</span></a>
        </div>
      </div>

      <header>
        <h1>{{property.nameLong}}</h1>

        <div class="reference" ng-class="{'reference-visible': displayConfirmationNumber}">
          <p>_booking_reference_:</p>
          <p><strong>{{reservationCode}}</strong></p>
        </div>

        <div class="booked">
          _booked_: {{reservation.bookingDate | dateTime: 'D MMM YYYY'}}
        </div>
      </header>

      <div class="tables">
        <figure ng-switch="isEditable">
          <img ng-src="{{roomDetails.images[0].uri}}" alt="{{roomDetails.name}}">
          <!-- TODO: Add actions to buttons -->
          <button ng-switch-when="true" class="button" ng-click="reservation.pointValue ? modifyCancelPointsReservation() : modifyCurrentReservation()" ng-class="{disabled: reservation.canModify === false && !reservation.pointValue}" ng-if="!reservation.isInThePast">_modify_</button>
          <button ng-switch-when="true" class="button-gray" ng-click="reservation.pointValue ? modifyCancelPointsReservation() : openCancelReservationDialog()" ng-class="{disabled: reservation.canCancel === false && !reservation.pointValue}" ng-if="!reservation.isInThePast">_cancel_</button>
        </figure>

        <div>
          <div>
            <h3>{{roomDetails.name}} <a href ng-click="openOtherRoomsDialog()" ng-if="reservation.rooms.length > 1">+ {{reservation.rooms.length - 1}} other <ng-pluralize count="reservation.rooms.length" when="{'2': 'room', 'other': 'rooms'}"> </ng-pluralize></a></h3>
            <h4 ng-bind-html="reservation.rooms[0].productName"></h4>
          </div>

          <table class="data">
            <tbody>
              <tr>
                <th>_check_in_:</th>
                <td>{{reservation.arrivalDate | dateTime}}</td>
                <th>_adults_:</th>
                <td>{{getCount('adults')}}</td>
              </tr>
              <tr>
                <th>_check_out_:</th>
                <td>{{reservation.departureDate | dateTime}}</td>
                <th>_children_:</th>
                <td>{{getCount('children')}}</td>
              </tr>
            </tbody>
          </table>

          <table class="charges" ng-switch="!!reservation.pointValue">
            <tbody ng-switch-when="false">
              <tr>
                <th>_room_charges_: {{billingDetails.paymentMethod}}</th>
                <td>{{getCount('price') | i18nCurrency: currencyCode}}</td>
                <th rowspan="3" class="total">Total:</th>
                <td rowspan="3" class="total-value">
                    <!--<a href ng-click="openPriceBreakdownInfo()">{{reservation.rooms[0].priceAfterTax | i18nCurrency: $root.currencyCode}}</a>-->
                    {{getCount('priceAfterTax') | i18nCurrency: $root.currencyCode}}
                </td>
              </tr>

              <!-- Additional taxes -->
              <tr ng-if="reservation.rooms[0].tax">
                <th>_taxes_and_fees_:</th>
                <td>{{getCount('tax') | i18nCurrency: $root.currencyCode}}</td>
              </tr>

              <!-- Discount -->
              <tr ng-if="reservation.rooms[0].priceBreakdown.discount">
                <th>_discount_:</th>
                <td>{{reservation.rooms[0].priceBreakdown.discount | i18nCurrency: $root.currencyCode}}</td>
              </tr>
            </tbody>

            <tbody ng-switch-when="true">
              <tr>
                <th rowspan="3" class="total">_total_:</th>
                <td rowspan="3" class="total-value">
                  <ng-pluralize count="reservation.pointValue" when="{'1': '{} point', 'other': '{} points'}"> </ng-pluralize>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <footer>
          <a href ng-click="openPoliciesInfo()">_view_policies_</a>
        </footer>
      </div>
    </section>

    <hr>

    <!-- AVAILABLE ADDONS -->
    <section grid-row class="reservation-enhance" ng-if="availableAddons.length">
      <h3 ng-bind-html="'_reservation_enhance_title_' | mainHeaderStyle"></h3>
      <ul>
        <li class="{{ availableAddons < 3 ? 'half' : 'third' }}"
            ng-repeat="addon in availableAddons"
            ng-if="reservation.packages.indexOf(addon.code) === -1"
            ng-click="openAddonDetailDialog(null, addon)">
          <div ng-class="{'disabled': !addon.description || addon.description == ''}">
            <a class="eye-icon">
              <img ng-src="{{addon.images[0].uri}}" err-source="http://lorempixel.com/390/110/" />
            </a>

            <h4 ng-bind-html="addon.name | wrapWordHtml : 'span' : 0"></h4>

            <p>
              {{ addon._expanded ? addon.description : addon.descriptionShort }}
              <a
                ng-init="addon._expanded = false"
                ng-if="addon.description && addon.description != '' && addon.description !== addon.descriptionShort"
                ng-click="toggleAddonDescription($event, addon)">
                  {{ addon._expanded ? '[-]' : '[+]'}}
              </a>
            </p>

            <i>_add_reservation_enhance_to_booking_desc_:</i>

            <a class="button" ng-click="openAddonDetailDialog($event, addon, false)">{{addon.price | i18nCurrency: currencyCode}}</a>
            <a class="button"ng-if="addon.pointsRequired && loyaltyProgramEnabled && addon.allowPointsBooking" ng-click="openAddonDetailDialog($event, addon, true)">{{addon.pointsRequired}} <small>_points_</small></a>
          </div>
        </li>
      </ul>

      <hr />
    </section>

    <section grid-row="">
      <hotel-location hotel-details="property"></hotel-location>
    </section>

    <hr ng-if="reservationAddons.length">

    <!-- RESERVATION ADDONS -->
    <section grid-row class="reservation-enhancements" ng-if="reservationAddons.length">
      <h3>_reservation_enhance_summary_title_</h3>
      <list-items>
        <list-item ng-repeat="addon in reservationAddons">
        
          <figure>
            <img ng-src="{{addon.images[0].uri}}" err-source="http://lorempixel.com/390/110/" />
          </figure>

          <h2>{{addon.name}}</h2>

          <pricing-info>
            <p>
              <!-- When paid with cash -->
              <span class="value" ng-if="addon.price">
                {{addon.price | i18nCurrency: currencyCode}}
              </span>

              <!-- Paid with points -->
              <span class="value" ng-if="addon.points && loyaltyProgramEnabled">
                <ng-pluralize count="addon.points" when="{'1': '{} _point_', 'other': '{} _points_'}"> </ng-pluralize>
              </span>
            </p>
          </pricing-info>

          <description-info>
            <p>{{ addon._expanded ? addon.description : addon.descriptionShort }}</p>
            <p>
              <a href
                ng-if="addon.hasViewMore"
                ng-click="addons[addonCode]._expanded = !addons[addonCode]._expanded">
                  {{ addon._expanded ? '_show_less_' : '_show_more_' }}
              </a>
            </p>
          </description-info>

        </list-item>
      </list-items>
      <!-- PAID WITH CARD -->
      <p class="total" ng-if="getAddonsTotalPrice()">_total_: {{getAddonsTotalPrice() | i18nCurrency: currencyCode}}</p>
      <!-- PAID WITH POINTS -->
      <p class="total" ng-if="getAddonsTotalPoints() && loyaltyProgramEnabled">{{getAddonsTotalPrice()?'':'_total_: '}}<ng-pluralize count="getAddonsTotalPoints()" when="{'1': '{} _point_', 'other': '{} _points_'}"> </ng-pluralize></p>
    </section>
  </reservation-finished>

  <scroll-to-top class="back-to-top" ng-click="scrollToTop()" scroll-position="scroll" ng-class="{visible: scroll > scrollTopTrigger}"><span>_back_to_top_</span></scroll-to-top>
</main>
