
.viewport-mobile {

  .Home__booking-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    .booking-bar {
      &.booking-bar__size-small {
        display: block;
        .booking-bar__form {
          width: 100%;
          .booking-bar__form--guests {
            width: 45%;
          }
        }
      }
    }
  }

  .mobile-search-button-wrapper {
    display: block;
    border: 1px solid #E6D4BD;
    background-color: @c-bookingbar-bg;
  }

  .HotelDetails__search {
    position: relative;
    width: calc(~'100% - 40px');
    bottom: initial;
    left: 20px;

    height: 56px;
    border-radius: 28px;
    background-color: @c-green;

    color: @c-white;
    font-family: @ff-primary;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2);

    &.position-bottom {
      position: absolute;
      bottom: 0;
    }
  }

  .fullscreen .HeroBenefits {
    position: relative;
    padding: 31px 12px 0 12px;
    margin-top: @mobile-header-height;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  .HeroBenefits__subtitle {
    width: 100%;
    font-size: 18px;
    border-radius: 0;
  }

  .HeroBenefits__benefits {
    width: 100%;
    height: 200px;
    top: 125px;
    hero-slider {
      width: 100% !important;
      height: 200px !important;
    }
  }

  .HeroBenefits__signup {
    top: 325px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .HeroBenefits__benefit {
    margin-bottom: 32px;
    h2, p {
      color: #000;
    }
  }

  .HeroBenefits__button {
    border: solid 2.4px @c-secondary;
    width: calc(~'50% - 14px');
    display: inline-block;
    &:first-of-type {
      margin-right: 24px;
    }
    &.login {
      background: @c-secondary;
    }
  }

}
