<div class="page-404">
  <hero-slider content="heroContent" slide-width="uiConfig.heroSlider.slideWidth" slide-height="uiConfig.heroSlider.slideHeight"></hero-slider>

  <breadcrumbs stickable="main-header"></breadcrumbs>

  <main class="grid-wrapper">

    <div class="grid-wrapper">
      <div grid="12" class="page-not-found">
        <img src="static/images/v4/logo-dark.png">
        <h1>_page_not_found_title_</h1>
        <p>_page_not_found_desc_</p>
        <p>_page_not_found_cta_</p>
      </div>
    </div>

  </main>
  <div ng-include="'layouts/siteMap.html'" class="site-map" ng-if="footerConfig.displaySitemap"></div>
</div>
