<section widget="room-aside" grid ng-switch="!!selectedProduct.price">
  <div ng-switch-when="true">
    <table>
      <tbody>
        <tr>
          <th>_room_charges_:</th>
          <td>{{selectedProduct.price.totalBaseAfterPricingRules | i18nCurrency: $root.currencyCode }}</span></td>
        </tr>
        <!-- Tax -->
        <tr>
          <th>_tax_:</th>
          <td>{{selectedProduct.price.totalAfterTaxAfterPricingRules - selectedProduct.price.totalBaseAfterPricingRules | i18nCurrency: $root.currencyCode}}</span></td>
        </tr>
        <!-- Additional Taxes -->
        <tr ng-if="selectedProduct.price.totalAdditionalTaxes">
          <th>_additional_taxes_:</th>
          <td>{{selectedProduct.price.totalAdditionalTaxes | i18nCurrency: $root.currencyCode}}</span></td>
        </tr>
        <!-- Additional Fees -->
        <tr ng-if="selectedProduct.price.totalAdditionalFees">
          <th>_additional_fees_:</th>
          <td>{{selectedProduct.price.totalAdditionalFees | i18nCurrency: $root.currencyCode}}</span></td>
        </tr>
        <!-- Discount -->
        <tr ng-if="selectedProduct.price.totalDiscount">
          <th>_discount_:</th>
          <td>{{selectedProduct.price.totalDiscount | i18nCurrency: $root.currencyCode}}</span></td>
        </tr>
        <tr>
          <th>_total_:</th>
          <td>{{selectedProduct.price.totalAfterTaxAfterPricingRules | i18nCurrency: $root.currencyCode}}</span></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="more-info" ng-switch-when="true">
    <a href ng-click="openPriceBreakdownInfo()" ng-if="selectedProduct.price.breakdowns.length">_view_price_breakdown_</a>
    <a href ng-click="openPoliciesInfo()" ng-if="selectedProduct.policies">_view_policies_</a>
  </div>
  <advert>
    <img ng-src="{{ad}}" alt="Advertising Banner">
  </advert>

</section>
