@import "./mobile";

footer {
  background: #000;
}

.Footer__inner {
  max-width: 1212px;
  height: 232px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.Footer__after {
  background-color: #fff;
  .copyright {
    max-width: 1212px;
    margin: 0 auto;
    height: 80px;
    color: #000;
    font-family: @ff-primary;
    font-size: 13px;
    font-weight: bold;
    line-height: 80px;
    text-transform: uppercase;
  }
}

.Footer__list {
  &.contact {
    margin-left: 150px;
  }
  li, a {
    color: #FFFFFF;
    font-family: @ff-primary;
    font-size: 11px;
    font-weight: bold;
    line-height: 22px;
    &.title {
      font-size: 13px;
      font-weight: 800;
      line-height: 16px;
      margin-bottom: 30px;
    }
  }
  a {
    text-decoration: underline;
  }
}


.Footer__social--icons {
  li:not(:first-child) {
    display: inline;
  }
  span {
    margin-right: 40px;
  }
  span:before {
    .fa;
    position: absolute;
    color: #fff;
    font-size: 15px;
  }
  .facebook:before {
    content: @fa-var-facebook-square;
  }
  .twitter:before {
    content: @fa-var-twitter;
  }
  .instagram:before {
    content: @fa-var-instagram;
  }
  .linkedin:before {
    content: @fa-var-linkedin-square;
  }
  .youtube:before {
    content: @fa-var-youtube;
  }
}
