
.viewport-mobile {

  footer.main {
    width: 100%;

    .Footer__list {
      margin-top: 15px;
      padding: 0 20px 10px 20px;

      .title {
        margin-bottom: 15px;
        display: block;
      }

      li {
        display: inline-block;
        padding-right: 10px;
      }

      &.contact,
      &.Footer__social--icons {
        display: none;
      }

      &:after {
        clear: both;
      }
    }

    .Footer__inner {
      display: block;
      height: auto;

      .Footer__logo {
        display: block;
        margin: 0 auto;
        padding: 0 20px;
      }
    }

    .copyright {
      text-align: center;
    }
  }

  .Home__contacts .Home__contacts-box .Home__contacts-buttons .contacts-button {
    width: 300px;
  }

  .Footer__nav {
    margin: 0;
  }

  .Footer__social {
    margin-top: 10px;
  }

  .Footer__nav--item {
    a {
      font-size: 18px;
    }
  }

}
