///////////////////////
//// TARGET CONFIG ////
///////////////////////

// Override defaults vars with target specific

//// COLORS ////
////////////////

// color values used mapped to color names
@c-grey:       #747272;
@c-gray:       @c-grey;
@c-dark-brown: #a49335;

// color names mapped to meanings
// these should be used in the app
@c-text:       #585858;
@c-navbar-background: rgba(255,255,255,0.85);
@c-navbar-content: #9f936b;

@ff-default: 'DINPro-Regular', Helvetica, Arial, sans-serif;
@ff-bold: 'DINPro-Bold', Helvetica, Arial, sans-serif;

//// LAYOUT ////
////////////////

@baseline: 35px;
@lineHeight: 20px;

//// DIMENSIONS ////
////////////////////

@headerHeight:    95px;
@mobileHeaderHeight: floor(@headerHeight / 1.5);


//// FONTS ////
///////////////
@din-font-path: '../font/dinpro';


///// Components /////
//////////////////////
@c-booking-widget: #586e9a;
@c-booking-widget-my-account: #ebaa3d;

@c-datepicker: #586e9a;