///////////////////////
//// TARGET CONFIG ////
///////////////////////

// Override defaults vars with target specific

//// COLORS ////
////////////////

// color values used mapped to color names
@c-grey:       #747272;
@c-gray:       @c-grey;

// color names mapped to meanings
// these should be used in the app
@c-text:       @c-grey;
@c-navbar-background: rgba(255,255,255,0.85);
@c-navbar-content: #9f936b;

//// DIMENSIONS ////
////////////////////

@headerHeight:    95px;
@mobileHeaderHeight: floor(@headerHeight / 1.5);


//// IMG PREFIX ////
////////////////////
@img-prefix:  '../../../images';


///// Components /////
//////////////////////
@c-booking-widget: #586e9a;
@c-booking-widget-my-account: #ebaa3d;

@c-datepicker: #586e9a;