///////////////////////
//// TARGET CONFIG ////
///////////////////////

// Override defaults vars with target specific 

//// COLORS ////
////////////////

// color values used mapped to color names
@c-grey:       #747272;
@c-gray:       @c-grey;

// color names mapped to meanings
// these should be used in the app
@c-text:       @c-grey;
