<hero-slider content="heroContent"
             slide-width="uiConfig.heroSlider.slideWidth"
             slide-height="uiConfig.heroSlider.slideHeight">
</hero-slider>

<main class="grid-wrapper">
  <div class="preloader" ng-show="preloader.visible"></div>
  <section dynamic-layout></section>
</main>

<scroll-to-top class="back-to-top"
               ng-click="scrollToTop()"
               scroll-position="scroll"
               ng-class="{visible: scroll > scrollTopTrigger}">
  <span>_back_to_top_</span>
</scroll-to-top>

<!-- Growl notifications -->
<growl-alerts class="growl-alerts-dir"
              languages-message="'_languages_message_'"
              retention-message="'_retention_message_'"
              room-upgrade-success="'_room_upgrade_success_'"
              room-upgrade-failure="'_room_upgrade_failure_'"
              room-upgrade-increase="'_room_upgrade_increase_'"
              room-upgrade-decrease="'_room_upgrade_decrease_'">
</growl-alerts>
