dialog.details {
  .confirm-terms-dialog {
    text-align: center;

    header h1 {
      font-size: 30px;
    }
    button {
      width: 200px;
      margin-top: 20px;
    }
  }

  .ui-info {
    display: flex;
    flex-flow: column nowrap;
  }

  header {
    flex: none;
    padding: 5px 5px 5px 22px;
    h1 {
      font-family: @ff-secondary;
      font-size: 30px;
      color: #826837;
      line-height: 30px;
    }

    button-close {
      border: 1px solid #826837;
      border-radius: 100px;
      color: #826837;
      height: 35px;
      width: 35px;
      line-height: 33px;
    }
  }

  main {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
    p {
      color: black;
      padding: 5px 0 5px 22px;
      .viewport-mobile & {
        padding: 0;
      }
    }
    .viewport-mobile & {
      flex-flow: column nowrap;
    }

    image-carousel {
      width: 251px;

      .image-wrapper {
        border-radius: 0;
        overflow: hidden;
        border: none;
        margin-top: 0px;

        img {
          width: 251px;
        }
      }
      ul li {
        img {
          border-radius: 6px;
          overflow: hidden;
        }
        border: none;
      }
    }
    .details {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      margin-bottom: 0;
      .description {
        font-family: @ff-primary;
        font-size: 16px;
        height: auto;
        color: black;
        padding-left: 30px;

        h2 {
          font-size: 20px;
          color: #000000;
          font-weight: 800;
          margin-top: 35px;
        }

        p.curency {
          font-family: @ff-secondary;
          color: #6E562A;
          font-size: 30px;
          margin-top: 10px;
          margin-bottom: 10px;
        }

        p.charge-description {
          font-size: 16px;
          color: black;
        }
      }
      .extra {
        margin: 0 !important;
      }
    }
    .extra .button {
      box-shadow: none;
      &:hover {
        box-shadow: none;
      }
      &:not(:last-of-type) {
        margin-bottom: 10px;
      }
    }
  }

  .extra {
    display: flex;
    margin-top: 20px;
    .button {
      width: 190px;
      margin: 0 10px;
    }

    .add-extra {
      flex-grow: 1;
    }
  }
}
