
.login-dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 26, 26, 0.8);
  z-index: 998;
}

.close-modal-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  i {
    font-size: 34px;
    color: #826837;
  }
}

.login-dialog {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  box-sizing: border-box;

  .viewport-mobile & {
    transform: none;
    max-width: 100%;
  }

  .help-link {
    text-align: center;
    font-size: 14px;
    a {
      color: #0FAC26;
    }
    &.help-link-margin-top {
      margin-top: 150px;

      .viewport-mobile & {
        margin-top: 10px;
      }
    }
  }

  .login-wrapper {
    position: relative;
    width: 500px;
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
    float: left;

    .viewport-mobile & {
      float: none;
      width: 100%;
    }

    .modal-logo {
      margin: 100px 0;

      .viewport-mobile & {
        margin: 0;
        height: 68px;
      }
    }

    .informational-text {
      color: #89898F;
      font-size: 18px;
      margin-bottom: 20px;
    }
  }

  .modal-image {
    width: auto;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    padding: 50px;

    &.login-modal-image {
      background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('@{img-prefix}/low-rate.jpg') no-repeat center center;
      background-size: cover;
    }

    &.register-modal-image {
      background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('@{img-prefix}/location.jpg') no-repeat center center;
      background-size: cover;
    }

    .viewport-mobile & {
      height: auto;
    }

    .white-border {
      border: 1px solid #fff;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      text-align: center;
      display: table;

      .viewport-mobile & {
        border: none;
      }

      span {
        display: table-cell;
        vertical-align: middle;
      }

      .white-header {
        color: #FFFFFF;
        font-size: 66px;
        line-height: 70px;
        font-family: @ff-secondary;

        .viewport-mobile & {
          font-size: 35px;
          line-height: normal;
        }
      }

      .white-text {
        margin: 50px 0;
        color: #FFFFFF;
        font-size: 35px;
        line-height: 56px;
        font-family: @ff-secondary;

        .viewport-mobile & {
          font-size: 20px;
          line-height: normal;
          margin: 25px 0;
        }
      }

      .white-button {
        background-color: #fff;
        height: 48px;
        border: 1px solid #fff;
        border-radius: 50px;
        text-shadow: none;
      }
    }
  }

  .form-wrapper {
    // Register form
    .register-form {
      display: block;
    }
    form {
      fieldset {
        padding: 0;
        margin: 0;
        form-element {
          select,
          input[type=text],
          input[type=number],
          input[type=date],
          input[type=email],
          input[type=password],
          input[type=tel],
          input:not([type=radio]):not([type=checkbox]),
          .chosen-container {
            color: black;
            height: 48px;
            border: 1px solid #9B9BA0;
            border-radius: 50px;
            box-shadow: none;
            padding: 0 20px;
            &.with-icon {
              padding-left: 50px;
            }
          }
          .input-icon-wrapper {
            height: 48px;
            width: 50px;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgba(101,101,101,0.27);
            font-size: 20px;
          }
          .country-icon {
            position: absolute;
            top: 14px;
            left: 16px;
            z-index: 1;
            color: rgba(101,101,101,0.27);
            font-size: 22px;
          }
          .chosen-container-active + .country-icon {
            z-index: 994;
          }
          select.with-icon + .chosen-container {
            padding: 0 0 0 45px;
          }
          .chosen-container {
            .chosen-single {
              height: inherit;
              line-height: 48px;
            }
            &.chosen-with-drop {
              border: 1px solid #A7A7A7;
            }
          }
          input.ng-touched.ng-dirty.ng-invalid + .input-icon-wrapper {
            color: @c-red;
          }
          input.ng-touched.ng-dirty.ng-valid + .input-icon-wrapper {
            color: @c-green;
          }
          select.ng-touched.ng-dirty.ng-invalid + .chosen-container {
            border: 1px solid @c-red;
          }
        }
      }
      button-submit {
        border-radius: 50px;
        border: 1px solid #79AF41;
      }
    }
  }

  .agreements-container {
    text-align: left;

    label {
      font-size: 15px;
      font-weight: normal;
      line-height: normal;

      .underline {
        text-decoration: underline;
        color: #89898F;
      }
    }
  }
}
