search {
  &:extend(.block);
  .margin-bottom;
  .clearfix;

  h4 {
    .fs-16(false);
    .line-height(16, 2);
    margin-bottom: 0;
  }

  input[type="text"],
  input[type="search"] {
    box-sizing: border-box;
    height: 2 * @baseline;
    width: 100%;
    padding: 10px;
    line-height: 2 * @baseline - 2 * 10px;
    border: 1px #d6d4d4 solid;
    border-radius: 3px;
    box-shadow: 0 1px 0px 0 #fafafa;
    background-image: data-uri('image/svg+xml;charset=UTF-8', '../images/search.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 25px 25px;
    background-origin: content-box;

    &:focus {
      outline: none;
      box-shadow: 0 1px 0px 0 #fafafa,
                  inset 0 1px 3px 0 rgba(0, 0, 0, 0.15);
    }
  }
}

contact {
  &:extend(.block);

  h3 {
    &:extend(search h4);
    margin: 0;
  }
  dl {
    margin: 0;
    .margin-bottom();
  }
  dt, dd {
    .fs-14;
    .line-height(14, 2);
  }
  dt {
    float: right;
    span {
      display: none;
    }
    i {
      float: right;
      .font-size(28, false, 14);
      .line-height(28, 2);
      color: #b4b3b3;
      &:before {
        font-size: 1em;
      }
    }
  }
  dd {
    margin: 0;
    span {
      display: block;
      border-bottom: 1px #cdcdcd solid;
      margin-top: -1px;
    }
  }
}

advert {
  &:extend(.block);
}

@media @lessThenTablet {
  advert {
    display: none;
  }
}
