///////////////////////
//// HOTELS WIDGET ////
///////////////////////

hotels {

  h1, h2 {
    font-size: @size-3;
    margin-bottom: .75*@baseline;
  }

  p {
    color: @c-grey;
    margin-bottom: .75*@baseline;
  }

  .hotels__controls {
    .order-switch {
      float: right;
      display: inline-block;
    }
  }

}
