///////////////////////
//// HOTELS DETAIL ////
///////////////////////

.hotel-detail {

  h1, h2 {
    font-size: @size-3;
    margin-bottom: @baseline;
  }

  p {
    margin-bottom: @baseline;
  }

  local-info {
    text-align: right;
  }

  .hotel-detail__description {

    .more {
      display: block;
      float: right;
    }

    img {
      display: block;
      width: 100%;
      border: 1px solid @c-light-grey;
    }
  }

  .hotel-detail__location {

    map {
      margin-bottom: @baseline;
    }
  }
}
