///////////////////////
//// HOTELS DETAIL ////
///////////////////////

.hotel-detail {

  h1, h2 {
    font-size: @size-3;
    margin-bottom: @baseline;
  }

  p {
    margin-bottom: @baseline;
  }

  //- Information About Time & Weather
  local-info {
    display: block;

    font-size: @size-1;
    line-height: @baseline * 1.5;
    text-align: right;

    img {
      vertical-align: bottom;
    }
  }

  .hotel-detail__description {

    .description-text {
      a {
        display: block;
        float: right;
      }
    }

    .description-image {
      text-align: right;
      font-size: @size--1;
    }

    img {
      display: block;
      width: 100%;
      border: 1px solid @c-light-grey;
      margin-top: @baseline/2;
    }
  }

  .hotel-detail__location {

    map {
      margin-bottom: @baseline;
    }
  }
}
