///////////////////////
//// HOTELS DETAIL ////
///////////////////////

.hotel-detail {

  h1, h2 {
    font-size: @size-3;
    margin-bottom: @baseline;
  }

  p {
    margin-bottom: @baseline;
  }

  local-info {
    text-align: right;
  }

  .hotel-detail__description {

    .description-text {
      a {
        display: block;
        float: right;
      }
    }

    .description-image {
      text-align: right;
      font-size: @size--1;
    }

    img {
      display: block;
      width: 100%;
      border: 1px solid @c-light-grey;
      margin-top: @baseline/2;
    }
  }

  .hotel-detail__location {

    map {
      margin-bottom: @baseline;
    }
  }
}
