////////////////////////
//// LIST OF OFFERS ////
////////////////////////

.offers-list {
  margin-bottom: @baseline;

  article {

    max-height: 370px;
    display: block;
    overflow: hidden;
    text-align: center;
    border-radius: @radius*2;
    border: 1px solid @c-light-grey;
    box-shadow: 0 1px 2px @c-light-grey;
    background: #fff;
    box-sizing: border-box;

    > a {
      display: block;
      text-decoration: none;
      position: relative;

      h2 {
        font-size: @size-2;
        color: @c-base;
        padding: 0 @baseline;
        text-transform: uppercase;
      }

      p {
        color: @c-grey;
        margin-bottom: .75*@baseline;
        padding: 0 @baseline;
      }

      img {
        opacity: 1;
        margin-bottom: .75*@baseline;
      }

      span {
        display: block;
        color: @c-link;
        margin-bottom: 2*@baseline;
        font-weight: 600;
      }

      &:hover {
        img {
          opacity: .8;
        }
      }
    }

    &.add {

      p {
        background: rgba(0,0,0, .6);
        color: @white;
        position: absolute;
        text-align: left;
        padding: @baseline/3 @baseline/2;
        bottom: 120px;
        line-height: normal;
        right: @baseline;
        border-radius: 0 @radius*2 @radius*2 0;
        text-transform: uppercase;
      }
    }
  }
}
