///////////////////////
//// LIST OF ROOMS ////
///////////////////////

.rooms-list {

  .pricing-switch {
    text-align: right;
    color: @c-link;
    font-size: @size--1;
    display: block;
    margin-bottom: @baseline;
    text-decoration: none;

    .is-active {
      color: @c-base;
    }
  }

  .item {
    position: relative;
    min-height: 3 * @baseline;
    border-bottom: 1px dashed @c-light-grey;
    margin-bottom: @baseline/2;
    .clearfix;

    .description {
      margin-left: 18%;
      width: 50%;

      h3 {
        font-weight: 300;
        margin-bottom: @baseline/2;
        font-size: @size-2;
        color: @c-link;
      }

      p {
        color: @c-hr;
        margin-bottom: @baseline/2;
      }

      a {
        margin-bottom: @baseline/2;
        font-size: @size--1;
        display: block;
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 16%;
    }

    .details {
      position: absolute;
      right: 0;
      top: 0;

      .price {
        width: 100%;
        text-align: right;
      }

      .more {
        .button;
        float: right;
      }
    }
  }
}
