.site-map {

  margin-top: 2*@baseline;

  // grid
  @media only screen and @tablet-portrait-min {
    padding-bottom: 4*@baseline;
  }

  background: #f1f1f1;
  border-top: 1px solid @c-light-grey;
  padding: @baseline 0px 2.5*@baseline 0;
  box-sizing: border-box;

  a {
    text-decoration: none;
  }

  h3 {
    font-size: @size-0;
    margin-bottom: .5*@baseline;
  }

  ul {

    li {
      width: 100%;
      padding-bottom: .25*@baseline;
      font-size: @size--1;
    }
  }
}
