.site-map {
  // grid
  @media only screen and @tablet-portrait-min and @tablet-portrait-max {
    .generate-fluid-grid(6);
  }
  @media only screen and @tablet-landscape-min {
    // Calling the grid mixin
    .generate-grid(@grid-width, @grid-gap, 6);
  }

  background: #f1f1f1;
  border-top: 1px solid @c-light-grey;
  padding: @baseline 0px;
  padding-bottom: 6*@baseline;

  a {
    text-decoration: none;
  }

  h3 {
    font-size: @size-0;
    margin-bottom: .5*@baseline;
  }

  ul {

    li {
      width: 100%;
      padding-bottom: .25*@baseline;
      font-size: @size--1;
    }
  }
}
