<!-- New layout - Delete old layout below when this is complete -->
<section class="hotel-detail__rooms" ng-if="rooms.length" grid-row>
  <hr />
  <div grid="12" id="jsRooms">
    <header class="section-header">
      <h2>
        Our <strong>Rooms</strong>
      </h2>

      <p ng-if="availableRooms && availableRooms.length === 0">No room available, please change your search criteria</p>

      <order-switch>
        <select name="sorting" ng-model="currentOrder" disable-search="true"
 chosen ng-options="option.name for option in sortingOptions" data-placeholder="Sorting">
          <option></option> <!-- workaround for a bug in angular-chosen -->
        </select>
      </order-switch>

      <!-- search details -->
      <div class="search-details">
        <ng-pluralize class="room-counter" count="rooms.length" when="{'1': '1 Room Found', 'other': '{} Rooms Found'}"></ng-pluralize>
      </div>
    </header>

    <list-items class="rooms-list">
      <list-item ng-repeat="room in rooms | orderBy : currentOrder.sort | limitTo: numberOfRoomsDisplayed" data-hover-trigger="displayRoomRates(room)" data-trigger-delay="hoverTriggerDelay">
        <header class="item-header desktop">
          <h3>
            <a href ng-click="goToRoom(details.meta.slug, room.meta.slug)" ng-bind-html="room.name | mainHeaderStyle"></a>
          </h3>
          <pricing-switch ng-if="$first">
            <a href ng-class="{'is-active': pricePer === PP_NIGHT}" ng-click="setPricePer(PP_NIGHT)">Per Night</a>
            |
            <a href
               ng-class="{'is-active': pricePer === PP_STAY, 'is-disabled': !days}"
               ng-click="days && setPricePer(PP_STAY)"
               title="{{ days ? '': 'Please select dates to enable per stay pricing'}}">
              Per Stay
            </a>
          </pricing-switch>
        </header>

        <div class="list-item-container">
          <!-- Room info -->
          <div class="list-item-info">
            <img class="room-image desktop" ng-click="goToRoom(details.meta.slug, room.meta.slug)" ng-src="{{room.images[0].uri | cloudinaryImage : 150 : 150 : 'fill'}}" alt="{{room.name}}">
            <img class="room-image mobile" ng-click="goToRoom(details.meta.slug, room.meta.slug)" ng-src="{{room.images[0].uri | cloudinaryImage : 768 : 384 : 'fill'}}" alt="{{room.name}}">

            <header class="item-header mobile">
              <h3>
                <a href ng-click="goToRoom(details.meta.slug, room.meta.slug)" ng-bind-html="room.name | mainHeaderStyle"></a>
              </h3>
            </header>

            <ul class="amenities">
              <li class="amenity" ng-repeat="amenity in room.amenities | limitTo:numberOfAmenities">
                <slug-img slug="amenity.slug" type="room" width="15"></slug-img>
                <span class="amenity-caption">{{amenity.name}}</span>
              </li>
            </ul>
            <!--<a href ng-click="goToRoom(details.meta.slug, room.meta.slug)">Read More About this Room</a>-->
          </div>

          <room-details>
            <div class="description" ng-bind-html="sanitize(room.description)"></div>

            <div class="pricing-info">
              <div ng-if="!availableRooms || availableRooms.indexOf(room.code) > -1 && room.priceFrom">
                <p class="price-form" ng-if="room.priceFrom" itemprop="priceRange">
                  From <span class="value">{{getValuePer(room.priceFrom) | i18nCurrency: currencyCode}}</span>
                </p>
              </div>

              <div class="not-available" ng-if="!availableRooms.indexOf(room.code) > -1 && !room.priceFrom">
                <p>Not Available on Selected Dates</p>
              </div>

              <button class="button" ng-click="displayRoomRates(room)" ng-if="!room._displayRates && availableRooms.indexOf(room.code) > -1 && room.priceFrom">{{viewRatesButtonText}}</button>
            </div>

            <p class="our-rates">Our Rates</p>
          </room-details>


          <room-products ng-if="details && room._displayRates">
          </room-products>
        </div>
        <!-- //list-item-container -->
      </list-item>

      <a href class="display-all-rooms" ng-if="numberOfRoomsDisplayed && numberOfRoomsDisplayed < rooms.length" ng-click="displayAllRooms()">View All Rooms</a>

      <a href class="display-more-rooms" ng-if="numberOfRoomsDisplayed && numberOfRoomsDisplayed < rooms.length" ng-click="displayMoreRooms()">View More Rooms</a>


    </list-items>
    <h2 ng-if="!rooms.length">_no_room_found_</h2>
  </div>
</section>
