<section grid-row id="jsAbout" class="hotel-overview">
    <div grid="{{(hasViewMore)? viewSettings.hotelInfo.descriptionGrid : 12}}">
      <p ng-bind-html="details.description | trustAsHtml" markdown-text-parser class="hotel-description markdown-content"></p>

      <div ng-if="config.displayAmenitiesInHotelInfo && filteredAmenities && filteredAmenities.length" class="hotel-info-amenities">
        <h2 ng-bind-html="'_amenities_title_' | mainHeaderStyle"></h2>
        <ul class="amenities-list" ng-if="details">
          <li class="amenity-item" ng-repeat="amenity in filteredAmenities" ng-init="amenity.chainCode = details.chainCode">
            <slug-img slug="amenity" type="hotel" width="15"></slug-img>
            <span class="amenity-caption">{{amenity.name}}</span>
          </li>
        </ul>
      </div>

    </div>

    <view-more-images grid="{{viewSettings.hotelInfo.sidebarGrid}}" ng-if="hasViewMore">
      <local-info ng-if="showLocalInfo && localInfo && localInfo.time" local-info="localInfo"></local-info>
      <a ng-if="details.images.length > 1" href class="gallery-link" ng-click="openGallery()">_view_more_images_</a>
      <hero-slider data-has-notification-bar="false" on-slide-click="openGallery" data-counter-type="counter" content="previewImages"></hero-slider>
      <div ng-if="details.content.length && details.content[0].title && (!isMobile || (isMobile && !config.findOutMoreLinksBottomMobile))" ng-include="'layouts/components/read-more.html'"></div>
    </view-more-images>
</section>
