<!-- this should be filled with actual data from API
     it should be presented in the following structure -->
<section class="hotel-detail__offers" grid-row ng-if="offersList.length">
  <hr />

  <header class="section-header" grid="12" id="jsOffers">
    <h2 ng-bind-html="'_offers_title_' | mainHeaderStyle"></h2>
  </header>


  <offers-list grid-row>
    <offer-item ng-repeat="offer in offersList track by $index" ng-click="advertClick({'type': config.offers.toState, 'code': offer.availability && offer.availability.slug && offer.availability.slug != '' ? offer.availability.slug : offer.meta.slug})">
      <img class="grid-img" ng-src="{{offer.image.uri | cloudinaryImage : 310 : 160 : 'fill'}}"  alt="{{offer.image.alt}}">

      <section>
        <h2 ng-bind-html="offer.availability && offer.availability.title && offer.availability.title != '' ? offer.availability.title : offer.title | wrapWordHtml : 'span' : 0 : config.offersThumbnailsTitlePattern : false"></h2>
        <div ng-bind-html="offer.availability && offer.availability.subtitle && offer.availability.subtitle != ''  ? offer.availability.subtitle : offer.subtitle"></div>
      </section>

      <span class="read-more">_read_more_</span>
    </offer-item>
  </offers-list>

  <p grid="12" class="more-btn">
    <a ng-click="goToOffers()">
      _see_more_
    </a>
  </p>
</section>
