<section grid-row>
    <div grid="8">
        <p ng-bind-html="sanitize(details.description)"></p>
        <!--
        <p ng-if="!isExpanded" ng-bind-html="sanitize(details.descriptionShort)"></p>
        <a href ng-hide="isExpanded" ng-click="isExpanded = true" class="read-more">Read more</a>
        <a href ng-show="isExpanded" ng-click="isExpanded = false" class="read-more">Read less</a>
        -->
    </div>

    <view-more-images grid="4">
        <a ng-if="details.images.length" href ng-click="openGallery()">View more images</a>
        <hero-slider data-has-notification-bar="false" ng-click="openGallery()" data-counter-type="counter" content="lightboxContent"></hero-slider>

        <!--<img ng-src="{{details.images[0].uri | cloudinaryImage : 293}}" alt="{{details.images[0].alt}}" />-->

        <!--<button ng-click="scrollToRooms()" class="button">Choose your room</button>-->
        <read-more>
          <p>Find out more:</p>
          <ul>
            <li ng-repeat="item in details.content"><a href="" ui-sref="hotelInfo({propertySlug: details.meta.slug, infoSlug: item.meta.slug})">{{item.title}}</a></li>
          </ul>
        </read-more>
    </view-more-images>
</section>