<!-- New layout - Delete old layout below when this is complete -->
<section class="hotel-detail__rooms-compare" ng-if="rooms.length" grid-row>
  <hr />
  <div grid="12" ng-attr-id="{{!viewSettings.scrollToCompare ? 'jsRooms' : undefined}}">
    <header class="section-header">

      <h2 ng-bind-html="'_rooms_title_' | mainHeaderStyle" ng-if="!(availableRooms && availableRooms.length === 0) || (altRoomDatesAvailable && altRoomDatesAvailable.length) || (altProperties && altProperties.length)"></h2>

      <!-- search details -->
      <div class="search-details" ng-if="roomsConfig.showRoomCount && !(availableRooms && availableRooms.length === 0) || (altRoomDatesAvailable && altRoomDatesAvailable.length) || (altProperties && altProperties.length)">
        <ng-pluralize class="room-counter" count="(rooms|filter:roomsDisplayFilter).length" when="{'1': '1 _room_found_', 'other': '{} _rooms_found_'}"></ng-pluralize>
      </div>

      <div class="products-not-available" ng-if="((!altRoomDatesAvailable || !altRoomDatesAvailable.length) && (!altProperties || !altProperties.length)) && availableRooms && availableRooms.length === 0">
        <h3>_rooms_not_available_on_dates_title_</h3>
        <!-- USER SPECIFIES DATES -->
        <button-submit ng-click="selectDates()">_select_new_dates_</button-submit>
      </div>

      <div class="filter-bar" ng-show="ratesLoaded && !(availableRooms && availableRooms.length === 0)">
        <div class="order-switch-container" ng-show="!roomsConfig.hideOrderSwitch && hasDates() && availableRooms && availableRooms.length">
          <span class="filter-label">_filter_sortby_label_:</span>
          <order-switch>
            <select name="sorting" ng-model="currentOrder" disable-search="true" chosen ng-options="option.name for option in sortingOptions"
              placeholder-text-single="_sorting_filter_placeholder_" ng-change="orderSwitchChange(currentOrder)" ng-init="initSortingOptions({
                'priceLowToHigh': '_price_low_to_high_',
                'priceHighToLow': '_price_high_to_low_',
                'recommended': '_recommended_'
              })">
            </select>
          </order-switch>
        </div>
        <div class="view-switch">
          <span class="filter-label">_filter_view_label_:</span>
          <ul>
            <li class="list-view" ng-class="{'is-active': roomsViewMode !== 'compare'}" ng-click="setRoomsViewMode('list')">
              <i class="fa fa-th-list fa-2x" title="Show as list" /> _filter_detail_label_
            </li>
            <li class="compare-view" ng-class="{'is-active': roomsViewMode === 'compare'}" ng-click="setRoomsViewMode('compare')">
              <i class="fa fa-th fa-2x" title="Show as compare" /> _filter_compare_label_
            </li>
          </ul>
        </div>
        <div class="pricing-switch-container" ng-show="hasDates() && !(availableRooms && availableRooms.length === 0)">
          <span class="filter-label">_filter_pricing_label_:</span>
          <pricing-switch>
            <a href ng-class="{'is-active': pricePer === PP_NIGHT}" ng-click="setPricePer(PP_NIGHT)">_per_night_</a> |
            <a href ng-class="{'is-active': pricePer === PP_STAY, 'is-disabled': !days}" ng-click="days && setPricePer(PP_STAY)" title="{{ days ? '': 'Please select dates to enable per stay pricing'}}">
              _per_stay_
            </a>
          </pricing-switch>
        </div>
        <div class="reset-container" ng-if="showCompareRoomsReset && roomsViewMode === 'compare'">
          <a href ng-click="resetCompareRooms()">_show_all_rooms_</a>
        </div>
      </div>
      <div class="flexible-dates-bar" ng-if="showFlexibleDates && ratesLoaded && !(availableRooms && availableRooms.length === 0)">
        <div class="overview-container">
          <span class="filter-label">Lowest Price:</span>
          <div class="overview">
            <div ng-repeat="room in rooms | orderBy : currentOrder.sort | filter: roomsDisplayFilter | limitTo: 1" ng-if="room.priceFrom">
              {{room.priceFrom | i18nCurrency: $root.currencyCode}}
            </div>
            <div>{{flexibleDate.shortName}}</div>
          </div>
        </div>
        <div class="dates-dropdown-container">
          <span class="filter-label">Dates:</span>
          <div class="dates-switch">
            <select name="flexibleDates" ng-model="flexibleDate" disable-search="true" chosen ng-change="flexibleDatesChange(flexibleDate)"
              ng-options="date.name for date in flexibleDates" options-disabled="date.disabled for date in flexibleDates">
            </select>
          </div>
        </div>
        <!--<div class="change-dates-container">
          <button-submit ng-click="selectDates()">
            <span>_new_search_</span>
          </button-submit>
        </div>-->
      </div>
      <alt-room-properties class="alt-room-display alt-room-properties" ng-if="(!availableRooms || availableRooms.length === 0) && altProperties && altProperties.length"
        properties="altProperties"></alt-room-properties>
      <alt-room-dates class="alt-room-display alt-room-dates" ng-if="(!availableRooms || availableRooms.length === 0) && (!altProperties || !altProperties.length) && altRoomDatesAvailable && altRoomDatesAvailable.length"
        dates="altRoomDates" length-of-stay="lengthOfStay" select-dates="selectDates"></alt-room-dates>
    </header>

    <ta-teaser ng-show="!ratesLoaded && isFromSearch && roomsConfig.includeTripAdvisorPreloader"></ta-teaser>

    <section-image ng-if="config.sectionImages && config.sectionImages[1]" section="config.sectionImages[1]" when="'enter'" from="1"
      to="0"></section-image>

    <div class="hotel-detail__rooms" ng-if="roomsViewMode !== 'compare'" ng-include="'layouts/components/hotel-list-section.html'"></div>
    
    <div class="preloader" ng-show="preloader.visible"></div>

    <header ng-if="!isMobile && viewSettings.compareView && viewSettings.compareView.displayHeader" class="compare-rooms-header" ng-attr-id="{{viewSettings.scrollToCompare ? 'jsRooms' : undefined}}">
      <h2 ng-bind-html="'_rooms_title_' | mainHeaderStyle"></h2>
      <button-submit ng-click="selectDates()">
        <span ng-if="!hasDates()">_select_dates_</span>
        <span ng-if="hasDates()">_change_dates_</span>
      </button-submit>
    </header>

    <div class="room-list-compare-container" ng-if="((viewSettings.compareView && viewSettings.compareView.hideOnMobile && !isMobile) || !viewSettings.compareView || !viewSettings.compareView.hideOnMobile) && roomsViewMode === 'compare' && !preloader.visible" ng-include="'layouts/components/hotel-compare-section.html'"></div>
  </div>
</section>