/////////////////////
//// BASE STYLES ////
/////////////////////

body{
  &.chain-sign{
    position: relative;
    &:before{
      content: '';
      position: absolute;
      top: 400px;
      left: 0;
      width: 741px;
      height: 834px;
      background: url("@{img-prefix}/watermark-signature-logo.png") no-repeat;
      z-index: -1;
    }
    &.viewport-mobile{
      &:before{
        top: 100px;
        transform: translate(-50%, 0);
        margin-left: 50px;
      }
    }
  }
}

main {
  margin-top: 120px;
  &.no-hero{
    margin: 173px auto 40px;
  }
  .viewport-mobile & {
    margin-top: @baseline!important;
  }
}

@media print {
  body {
    padding-top:0px !important;
    main {
      margin-top:0px !important;
    }
  }
}

//Page transition animations
#main-container[ui-view] {
  /* start 'enter' transition */
  &.ng-enter {
      /* transition on enter for .5s */
      transition: .75s;

      /* start with opacity 0 (invisible) */
      opacity: 0;
  }

  /* end 'enter' transition */
  &.ng-enter-active {
      /* end with opacity 1 (fade in) */
      opacity: 1;
  }
}
