@import "./variables";
@import "./mobile";

.CurrencyList__flag {
  width: @CurrencyList__flag-width;
  height: @CurrencyList__flag-height;
  vertical-align: middle;
  padding: @CurrencyList__flag-padding;
}

.CurrencyList {
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
  color: #000000;
  font-family: @ff-primary;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 18px;

  &::after {
    font-family: FontAwesome;
    content: "\f107";
    color: #C8C8C8;
    font-size: 16px;
    line-height: 16px;
  }
  & > .fa {
    margin-right: 5px;
    color: #6E562A;
    font-size: 20px;
    line-height: 20px;
  }
}

.CurrencyList__current {
  margin-right: 5px;
  min-width: 35px;
  color: @c-primary;
}
