[widget="best-hotels"]{
  .margin-bottom();

  a {
    text-decoration: none;
    color: @colorTextDefault;
  }

  h2 {
    .offers-heading();
  }

  h3 {
    .offers-title();
  }

  .img-wrap {
    .baselined-height(280);
    height: @baselinedHeight;
  }

  img {
    border-radius: 3px;
    transform: translateZ(0);
    filter: grayscale(0.5);
    transition: all 0.15s linear;
    box-shadow: 0 10px 10px -10px fade(@black, 0%);
  }

  p {
    margin: 0;
    &:extend(.open-sans-light);
    font-style: italic;
    .fs-18(true);
  }

  h3, p {
    transition: color 0.2s linear;
  }

  a:hover,
  a:focus {
    h3, p {
      color: @black;
    }
    img {
      transform: translateY(-3px);
      filter: grayscale(0);
      box-shadow: 0 10px 10px -10px fade(@black, 40%);
    }

  }

}
