[widget="best-offers"]{

  h2 {
    .offers-heading();
  }

  h3 {
    .offers-title();
  }

  p {
    color: @colorBestOffersText;
    .fs-14;
  }

  img {
    border-radius: 3px;
  }

  .best-offers__explore {
    margin: 2em 0;

    > div {
      border-radius: 5px;
      position: relative;
      overflow: hidden;
      font-size: 0; // Avoid space between bottom of image and overlay
    }

    .overlay {
      display: block;
      position: absolute;
      top: 0; bottom: 0;
      left: 0; right: 0;
      background-color: fadeout(@black, 60%);
      text-decoration: none;
      transition: background-color 0.25s linear;

      &:hover,
      &:focus {
        background-color: fadeout(@black, 90%);
      }
    }

    h3 {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      text-align: center;
      color: @white;
      &:extend(open-sans-bold);
      .fs-48;
      line-height: 1;
      font-style: italic;
      transform: translateY(-50%);
      text-shadow: 2px 2px 2px fadeout(@black, 25%);

      span {
        margin-left: -3em;
        .fs-36;
      }
      strong {
        margin-left: 3em;
        font-style: normal;
        text-transform: uppercase;
      }
    }

    p {
      position: absolute;
      top: 15px;
      right: 15px;
      .noSpaces;
      color: @white;
      &:extend(open-sans-bold);
      .fs-24;
      font-style: italic;
      text-shadow: 2px 2px 3px fadeout(@black, 50%);
    }
  }
}
