[widget="best-hotels"]{
  margin: 2em 0;

  h2 {
    .offers-heading();
  }

  h3 {
    .offers-title();
  }

  ul {
    .noSpaces;
    list-style-type: none;
  }

  p {
    margin: 0.25em 0;
    &:extend(.open-sans-light);
    font-style: italic;
    .fs-18;
  }

  img {
    border-radius: 3px;
  }

}
