booking-widget {
  border: 1px solid @colorLightGray;
  border-radius: 5px;
  display: block;
  background-color: @white;

  margin-top: -55px;
	position: relative;

  > ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    height: 100px;

    .heading {
      background-color: #eee;
    }

    > li {
      width: 16%;
      float: left;
      padding: 0 10px;
      .vertical-align;

      box-sizing: border-box;

      .more {
        position: absolute;
        margin: 5px 0;
        color: @colorLinkDefault;
        .fs-12;
      }

      &.small {
        width: 8%
      }

		  p {
		    color: @colorBestOffersText;
		    .fs-14;
		  }
    }
  }
}