booking-widget {
  position: relative;
  margin-top: -50px;
  border-radius: 5px;
  display: block;
  background-color: @white;
  box-shadow: 0 0 0 2px fadeout(@black, 90%);

  > ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    height: 100px;

    .heading {
      background-color: #eee;
    }

    > li {
      width: 16%;
      float: left;
      padding: 0 10px;

      .vertical-align;

      box-sizing: border-box;

      input {
        width: 100%;
      }

      .more {
        position: absolute;
        margin-top: 8px;
        border-bottom: 1px @colorBookingLinkBlue solid;
        color: @colorBookingLinkBlue;
        .fs-12;
        line-height: 14px;
        text-decoration: none;

        &:hover,
        &:focus {
          color: darken(@colorBookingLinkBlue, 20%)

        }
      }

      &.small {
        width: 8%
      }
    }
  }
}


