.dropdown-menu {
  .animated;

  display: none;

  width: 100%;
  min-width: 100%;

  list-style: none;

  &.submenu {

    li {
      display: block;
      float: none;
      line-height: 50px;
      white-space: nowrap;
    }
  }
}

.open > .dropdown-menu {
  display: block;
  .dropdownAnimation;
}

.dropdown-toggle {
  span {
    margin-left: 5px;
    min-width: 25px;
    display: inline-block;
  }
}

.dropdown.has-icons {
  position: relative;
  .icon {
    display: inline-block;
    width: 38px;
    height: 23px;
    vertical-align: text-bottom;
  }

  .submenu {

    li {
      text-align: center;
    }

    .icon {
      margin: 0 18px 0 15px;
    }
  }
}

@media only screen and @lessThenTabletPortrait {
  li[menu-content],
  li[currency-list],
  li[language-list] {

    .dropdown {

      > a:after {
        content: '›';
        float: right;
        margin-right: 1em;
        transition: transform 0.25s ease-out;
        font-weight: 700;
      }
    }

    .dropdown.open {
      > a {
        font-weight: 700;

        &:after {
          transform: rotate(90deg);
        }
      }
    }
  }
}

@media only screen and @moreThenTabletPortrait {
  .dropdown-menu {
    position: absolute;
    z-index: 1000;
    top: 100%;
    left: 0;
    float: left;

    &.submenu {
      left: auto;
      width: auto;
      min-width: 80px;
      margin-left: -15px;

      background-color: fadeout(@colorHeaderBackground, 15%);
    }
  }

  .dropdown.has-icons {

    .submenu {
      right: 0;

      li {
        text-align: right;
        border-bottom: 2px @borderColorSubmenu solid;
      }

      li:last-child {
        border-color: @borderColorSubmenuLast;
      }
    }
  }
}
