.dropdown-menu {
  .animated;

  position: absolute;
  z-index: 1000;
  top: 100%;
  left: 0;

  display: none;
  float: left;

  width: 100%;
  min-width: 100%;

  list-style: none;

  &.submenu {
    background-color: @colorHeaderBackground;
    background-color: fadeout(@colorHeaderBackground, 15%);

    left: auto;

    width: auto;
    min-width: 80px;
    margin-left: -15px !important;

    li {
      line-height: 40px !important;

      a {

      }
    }
  }
}

.open > .dropdown-menu {
  display: block;
  .dropdownAnimation;
}
