.dropdown-menu {
  .animated;

  position: absolute;
  z-index: 1000;
  top: 100%;
  left: 0;

  display: none;
  float: left;

  width: 100%;
  min-width: 100%;

  list-style: none;

  &.submenu {
    background-color: @colorHeaderBackground;
    background-color: fadeout(@colorHeaderBackground, 15%);

    left: auto;

    width: auto;
    min-width: 80px;
    margin-left: -15px !important;

    li {
      display: block;
      float: none;
      line-height: 50px;
      white-space: nowrap;
      a {

      }
    }
  }
}

.open > .dropdown-menu {
  display: block;
  .dropdownAnimation;
}

.dropdown-toggle {
  span {
    margin-left: 5px;
    min-width: 25px;
    display: inline-block;
  }
}

.dropdown.has-icons {
  position: relative;
  .icon {
    display: inline-block;
    width: 38px;
    height: 23px;
    vertical-align: text-bottom;
  }

  .submenu {
    right: 0;

    li {
      text-align: right;
      border-bottom: 2px rgba(255, 255, 255, 0.1) solid;
    }

    li:last-child {
      border-color: #1f70a5;
    }

    .icon {
      margin: 0 18px 0 15px;
    }
  }
}
