/*  ==========================================
    FOOTER styles
    ========================================== */

// GENERIC STYLES
#main-footer {
  .clearfix;
  color: @colorFooterTextDefault;
  background-color: @footerBackground;

  p {
    .fs-12(true);
    .noSpaces;
    &:extend(.open-sans);
  }

  .social-links {
    .noSpaces;
    height: 38px;
    padding: 3px 0;

    li {
      display: inline;
    }

    a {
      display: inline-block;
      margin: 2px;
      padding: 5px;
      text-decoration: none;
      color: @white;
      background-color: @colorFooterTextDefault;
      border-radius: 50%;
      font-size: 18px;
      transition: background-color 0.15s linear;
      span {
        .ir;
      }

      &:hover,
      &:focus {
        background-color: darken(@colorFooterTextDefault, 20%);
      }
    }
  }

  .footer-nav {
    .noSpaces;

    li {
      display: inline;
      line-height: @footerHeight;
      .fs-14;
      &:extend(.open-sans);
    }
    a {
      margin: 0 1em;
      color: @colorFooterTextDefault;
      text-decoration: none;
      box-shadow: 0 1px 0 0 fadeout(@colorFooterTextDefault, 100%);
      transition: box-shadow 0.15s linear,
                  color 0.15s linear;

      &:hover,
      &:focus {
        color: darken(@colorFooterTextDefault, 20%);
        box-shadow: 0 1px 0 0 fadeout(@colorFooterTextDefault, 0%);
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

// MOBILE SPECIFIC STYLES
@media only screen and @lessThenTablet {
  #main-footer {
    .wrapper > div {
      text-align: center;
    }
    .footer-nav {
      display: none;
    }
  }
}

// DESKTOP STYLES
@media only screen and @moreThenMobile {
  #main-footer {

    .main-footer__block--left { .block--left; }
    .main-footer__block--right { .block--right; }
    .main-footer__block--center { .block--center; }

    p {
      .fs-14;
      line-height: @footerHeight;
    }

    .social-links {
      padding: 15px 0;
    }
  }
}
