input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 1px 12px;
  font-size: 14px;
  line-height: 20px;
  color: #555;
  background-color: #fff;

  border: 1px solid #ccc;
  border-radius: 4px;

  box-sizing: border-box;

  .transition(border-color, .15s);
}

[datepicker-popup] {
  background: transparent url('../images/calendar.svg') no-repeat scroll 108px center;
  background-size: 18px 18px;
  padding-right: 30px;
}
