#main-header {
  &:extend(.clearfix);
  border-bottom: @headerBorderBottom @colorHeaderBackground solid;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 999;

  background-color: @colorHeaderBackground;
  background-color: fadeout(@colorHeaderBackground, 15%);
}

// MAIN NAVIGATION IN HEADER
@mobileHeaderHeight: floor(@headerHeight / 1.5);

// GENERIC STYLES
.main-nav {
  height: @mobileHeaderHeight;

  .menu-opener {
    float: left;
    .fs-36(false);
    .specific-line-height(36, @mobileHeaderHeight);
    color: @white;
    text-decoration: none;
  }

  ul {
    .noSpaces;

    li {
      padding: 0px floor(@paddingHeaderDefault / 2);
      line-height: @mobileHeaderHeight;

      background-color: @colorHeaderBackground;
      background-color: fadeout(@colorHeaderBackground, 15%);

      &:extend(.open-sans-light);
      &:extend(.font-size-18);
      text-align: center;


      a {
        display: block;
        color: @colorMenuTextDefault;
        text-decoration: none;
      }
    }

    li[currency-list],
    li[language-list]{
      padding-right: 0;

      a {
        &:hover,
        &:focus,
        &:active,
        &.is-active {
          box-shadow: none;
        }
      }
    }
  }

  .brand {
    display: block;
    float: right;
    margin: 4px;
  }

  .button-login {
    // TODO: button should be displayed
    position: absolute;
    top: @mobileHeaderHeight + @headerBorderBottom;
    right: 10px;
    height: 39px;
    padding: 0 30px;
    line-height: 39px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

    transition: opacity 0.2s linear,
                transform 0.2s ease-out 0.15s;
  }
}

// MOBILE SPECIFIC STYLES
@media only screen and @lessThenTabletPortrait {

  #main-header {
    background-color: @colorHeaderBackground;
    background-color: fadeout(@colorHeaderBackground, 5%);
  }

  .main-nav {

    ul {
      float: left;
      position: absolute;
      top: @mobileHeaderHeight;
      left: 0; right: 0;
      transform: translateX(-100%);
      opacity: 0;
      transition: transform 0.4s ease-out,
                  opacity 0.2s linear 0.2s;

      .open& {
        transform: translateX(0);
        opacity: 1;
      }

      li {
        background-color: @colorHeaderBackground;
        background-color: fadeout(@colorHeaderBackground, 5%);

        a.is-active {
          font-weight: 700;
          text-shadow: 0 2px 0 fade(@black, 50%);
        }
      }
    }

    &.open {
      .button-login {
        z-index: 0;
        opacity: 0;
        transform: translateX(110%);
      }
    }
  }
}

// Tablet styles
@media only screen and @lessThenDesktop and @moreThenMobile {

  .main-nav {
    ul {
      li {
        padding: 0px @paddingHeaderDefault / 2;
      }
    }
  }
}

// DESKTOP STYLES
@media only screen and @moreThenTabletPortrait {

  .main-nav {
    height: @headerHeight;

    .menu-opener {
      display: none;
    }

    ul {
      float: right;

      li {
        display: inline-block;
        float: left;
        padding: 0px @paddingHeaderDefault;
        line-height: @headerHeight;
        background-color: transparent;
        text-align: left;

        a {
          display: inline;
          color: @colorMenuTextDefault;
          .transition(box-shadow, 0.2s, linear);
          box-shadow: 0 2px 0 0 fadeout(@colorMenuTextDefault, 100%);

          &:hover,
          &:focus,
          &:active,
          &.is-active {
            box-shadow: 0 2px 0 0 @colorMenuTextDefault;
          }
        }
      }
    }

    .brand {
      display: block;
      float: left;
      margin: 19px 0;
    }

    .button-login {
      top: @headerHeight + @headerBorderBottom;
    }
  }
}

@media only screen and @moreThenTablet {

  .main-nav {

    .button-login {
      right: 0;
    }
  }
}

