/*  ==========================================
    HERO SLIDER
    ========================================== */

// GENERIC STYLES
hero-slider {
  > div {
    position: relative;
    width: 100%;
  }

  .slide {
    img {
      width: 100%;
      display: block;
    }
  }

  .slide-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
  }

  .slide-content {
    .wrapper;
    position: relative;
    margin-top: @headerHeight + @headerBorderBottom;
    padding-top: 22.5%;
  }

  .slide-content__inner {
    position: relative;
  }

  .slide-offer__title {
    position: absolute;
    left: 0;
    margin: 0;
    padding-right: 1em;
    color: @white;
    &:extend(.open-sans);
    font-size: 28px;
    line-height: 50px;
    text-transform: uppercase;
    background-color: @bgSliderTitle;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    &:before {
      content: '';
      position: absolute;
      left: -9999px;
      right: 100%;
      height: 100%;
      background-color: inherit;
    }
  }

  .slide-offer__subtitle {
    position: absolute;
    top: 58px;
    left: 0;
    margin: 0;
    padding-right: 1em;
    color: @white;
    &:extend(.open-sans-condensed);
    font-size: 20px;
    text-transform: uppercase;
    background-color: @bgSliderSubtitle;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    &:before {
      content: '';
      position: absolute;
      left: -9999px;
      right: 100%;
      height: 100%;
      background-color: inherit;
    }
  }
}

// MOBILE SPECIFIC STYLES
@media only screen and @lessThenTablet {
  hero-slider {
    .slide-offer__title,
    .slide-offer__subtitle {
      display: none;
    }
  }
}

@media only screen and @moreThenMobile and @lessThenDesktop{
  hero-slider {
    .slide-content {
      padding-top: 10%;
    }

    .slide-offer__title {
      padding-left: 20px;
      font-size: 21px;
      line-height: 42px;

    }

    .slide-offer__subtitle {
      top: 50px;
      padding-left: 20px;
      font-size: 16px;

    }
  }
}

// DESKTOP STYLES
@media only screen and @moreThenMobile {
  hero-slider {

  }
}
