/*  ==========================================
    HERO SLIDER
    ========================================== */

// GENERIC STYLES
hero-slider {
  position: relative;
  width: 100%;
  height: 600px;
  display: block;
  overflow: hidden;

  .slider-content {
    .hero-slide {
      width: 100%;
      background-color: #FFF;
      overflow: hidden;
      position: absolute;
      background-position: center;

      background-image: url('http://localhost:9000/static/images/hero.jpg');

      height: 100%;
      background-size: cover;
    }
  }
}
