/*  ==========================================
    HERO SLIDER
    ========================================== */

// GENERIC STYLES
hero-slider {
  position: relative;
  width: 100%;
  height: 600px;
  display: block;
  overflow: hidden;

  &:hover .slider-controls .slide-button {
    opacity: .3;
  }

  .slider-controls {
    top: 50%;
    position: relative;

    .slide-button {
      position: absolute;
      top: 50%;
      width: 40px;
      height: 40px;
      display: block;
      background-color: white;
      opacity: .1;

      .transition(all, .3s, ease-in-out);

      background-size: 40px 40px;

      &:hover {
        opacity: .5;
      }
    }

    .slide-left {
      background: url('../images/slider-left.png') no-repeat;
      left: 20px;

      &:hover{
        left: 17px;
      }
    }

    .slide-right {
      background: url('../images/slider-right.png') no-repeat;
      right: 20px;

      &:hover{
        right: 17px;
      }
    }
  }

  .slider-content {

    .hero-slide {
      width: 100%;
      background-color: #FFF;
      overflow: hidden;
      position: absolute;
      background-position: center;

      background-image: url('http://localhost:9000/static/images/hero.jpg');

      height: 100%;
      background-size: cover;

      .content-inner {
        max-width: 960px;
        margin: 0 auto;
        position: relative;
        top: 60%;

        h1 {
          position: absolute;
          left: 0;
          margin: 0;
          padding-right: 1em;
          color: @white;
          &:extend(.open-sans);
          font-size: 28px;
          line-height: 50px;
          text-transform: uppercase;
          background-color: @bgSliderTitle;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;

          &:before {
            content: '';
            position: absolute;
            left: -9999px;
            right: 100%;
            height: 100%;
            background-color: inherit;
          }
        }

        h2 {
          position: absolute;
          top: 58px;
          left: 0;
          margin: 0;
          padding-right: 1em;
          color: @white;
          &:extend(.open-sans-condensed);
          font-size: 20px;
          text-transform: uppercase;
          background-color: @bgSliderSubtitle;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;

          &:before {
            content: '';
            position: absolute;
            left: -9999px;
            right: 100%;
            height: 100%;
            background-color: inherit;
          }
        }
      }
    }
  }
}
