.modal {
  position: fixed;
  z-index: 1040;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;
  overflow: auto;
}

.ui-dialog {
  padding: 45px;
}

.modal-dialog .modal-body {
  overflow: hidden;
}

.modal-content {
  position: relative;
  width: 500px;
  height: auto;
  margin: 100px auto;
  background-color: @white;
  border-radius: @borderRadiusDefault;
  .box-shadow;
}

.modal-backdrop {
  position: fixed;
  z-index: 1030;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: @black;

  // Show/Hide effects
  &.in {
    opacity: .5;
    filter: alpha(opacity=50);
  }

  &.fade {
    opacity: 0;
  }
}

.modal.fade {
  top: -25%;
  .transition(all, .3s, ease-in-out);

  &.in {
    display: block;
    top: 0;
  }
}

.modal-backdrop, .modal-backdrop.fade.in {
  opacity: .8;
  filter: alpha(opacity=80);
}

.fade.in {
  opacity: 1;
}

.fade {
  opacity: 0;
  .transition(opacity, .15s, linear);
}