@import "variables";
@import "mobile";

@hgap: 30px;

questionnaire {
  display: block;
}

.questionnaire {

  padding: 0;
  overflow: visible;
  margin-bottom: 50px;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  & > article {
    background: #fff;
    border: 1px solid #464646;
    overflow: hidden;
    box-shadow: @questionnaire-box-shadow;

    &.questionnaire__reservation {
      background: none;
      border: none;
      border-radius: 0;
      box-shadow: none;

      .clear_fix {
        height: 1px;
        display: block;
        clear: both;
      }

      .reservation-overview {
        padding: 0;

        .available-upgrades {

          .available-upgrades-title {
            color: #000000;
            font-size: 20px;
            font-weight: 800;
            text-transform: uppercase;
            margin-left: 30px;
            margin-bottom: 20px;
          }

          .available-upgrades-item {
            background-color: #EEEDEA;
            height: 80px;
            display: none;
            margin: 30px 30px;
            margin-right: 0px;

            &:nth-child(-n+3) {
              display: flex;
            }

            .available-upgrades-item-image {
              width: 110px;
              height: 80px;
            }

            .available-upgrades-item-text {
              flex-grow: 1;
              padding-left: 34px;

              .available-upgrades-item-text-title {
                font-size: 21px;
                color: #000000;
                line-height: 31px;
                font-family: @ff-secondary;
                margin-top: 10px;
              }

              .available-upgrades-item-text-price {
                color: #6E562A;
                font-size: 16px;
                font-weight: 500;
                line-height: 28px;
                height: 28px;
              }
            }
            .available-upgrades-item-button {
              text-transform: uppercase;
              border-radius: 100px;
              background-color: #826837;
              color: white;
              font-size: 14px;
              width: 154px;
              font-weight: 800;
              text-align: center;
              height: 35px;
              margin-top: 16px;
              margin-right: 20px;
              padding-top: 16px;
              cursor: pointer;
            }
          }

          &.expanded-view {
            .available-upgrades-item {
              display: flex !important;
            }
          }

          .available-upgrades-view-all-button {
            width: 235px;
            height: 48px;
            line-height: 48px;
            border: 1px solid #826837;
            border-radius: 100px;
            background-color: #FFFFFF;
            font-size: 14px;
            color: #6E562A;
            font-weight: 800;
            text-align: center;
            text-transform: capitalize;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 30px;
            cursor: pointer;
          }
        }
      }

      .ReservationsNextStay__title h1, .ReservationsFutureStay__title h1{
        color: #6E562A;
        font-family: @ff-primary;
        font-size: 28px;
        line-height: 36px;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .ReservationsFutureStay__title {
        .carousel {
          .carousel-indicators {
            li {
              border: 2px solid black;
              background-color: black;
              height: 14px;
              width: 14px;

              &.active {
                background-color: white;
              }
            }
          }
        }
      }

      .future-stays .carousel .reservation-summary .room-types .reservation-details-container .ReservationsNextStay-social {
        display: none !important;
      }

      .ReservationsNextStay__container {
        position: relative;

        .members-only-rate {
          position: absolute;
          top: 130px;
          left: 15px;
          background-color: #826837;
          color: white;
          font-size: 16px;
          padding: 10px;
          z-index: 1;
        }

        .members-only-rate-rectangle {
          position: absolute;
          top: 172px;
          left: 15px;
          width: 0;
          height: 0;
          border-top: 15px solid #523F1D;
          border-left: 15px solid transparent;
        }
        .reservation-summary {
          .room-types {
            check-in-date {
              display: block;
            }
          }
        }
      }

      .reservation-summary {
        background-color: #EEEDEA;
        border: none;
        box-shadow: none;
        border-radius: 0;

        .room-types {

          .reservation-details-container {
            padding-right: 0;

            .ReservationsNextStay-social {
              display: flex !important;
              margin-top: 20px;
              .ReservationsNextStay-social-apple-wallet {
                background-image: url('@{img-prefix}/add-to-apple-wallet-logo.png');
                cursor: pointer;
                height: 50px;
                width: 160px;
                background-size: cover;
                margin-right: 10px;
              }

              .ReservationsNextStay-social-print {
                height: 50px;
                line-height: 50px;
                padding: 0 10px;
                width: 140px;
                background-color: black;
                color: white;
                border-radius: 10px;

                span {
                  font-size: 16px;
                  padding-left: 10px;
                }
              }

              .ReservationsNextStay-social-share {
                flex-grow: 1;
                text-align: right;
                line-height: 50px;
                font-size: 12px;
                color: #545454;
              }
            }
          }

          h1 {
            display: none;
          }

          figure {
            img {
              border-radius: 0;
              height: 310px;
            }
          }

          h3 {
            color: black;
          }

          .booking-arrival-checkout {
            font-size: 21px;
            color: #6E562A;
          }

          check-in-date {
            border: 1px solid #826837;
            border-radius: 0;
            display: none;
            bottom: 80px;

            .title {
              background-color: #826837;
            }

            .date {
              color: #826837;
            }
          }
        }
      }
    }
  }

  // Typography
  color: @c-alt-grey;
  font-family: @ff-primary;
  font-size: 22px;
  h1, h2 {
    color: @c-primary;
  }

  h1 {
    font-size: 16px;
    letter-spacing: @questionnaire-letter-spacing-wide;
    font-family: @ff-primary;
  }

  h2 {
    font-size: 12px;
    letter-spacing: @questionnaire-letter-spacing-avg;
    font-family: @ff-secondary;
  }

  .questionnaire__points {
    display: flex;
    flex-flow: column nowrap;
  }

  .questionnaire__title {
    font-family: @ff-secondary;
    text-transform: capitalize;
    background-color: black;
    color: #fff;
    height: 77px;
    line-height: 77px;
    font-size: 22px;
  }

  .questionnaire__footer {
    bottom: 0;
    padding: 10px;
    width: 50%;
    text-align: center;
    font-family: @ff-secondary;
    font-size: 15px;
    box-sizing: border-box;
  }

  .questionnaire__info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
    margin-top: @hgap;
    .name {
      color: #6E562A;
      font-family: @ff-primary;
      font-size: 28px;
      line-height: 36px;
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .profile-link {
      flex: none;
      width: 115px;
      height: 31px;
      line-height: 31px;
      padding-left: 10px;

      cursor: pointer;
      font-family: @ff-primary;
      color: #9B9B9B;
      font-size: 13px;
      font-weight: 300;
      text-decoration: underline;

      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;

      i.fa {
        display: none;
      }
    }
  }

  .tier-and-points {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: @hgap;
    margin-bottom: @hgap;

    .tier {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      margin-right: 20px;
      display: none;
    }
    .tier-text {
      margin: 0 10px;
      display: flex;
      flex-flow: column nowrap;
      .tier-label {
        color: #9B9B9B;
        font-size: 16px;
        line-height: normal;
        font-weight: 300;
      }
      .current-tier {
        &.bronze {
          color: #B98747;
        }
        &.silver {
          color: #9B9B9B;
        }
        &.gold {
          color: #FFAD25;
        }
        color: @c-primary;
        font-family: @ff-serif;
        font-size: 28px;
        line-height: normal;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
    .points-amount {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: flex-end;

      .points {
        color: black;
        font-size: 46px;
        line-height: 46px;
        font-weight: bold;
      }
      .points-label {
        margin-left: 5px;
        color: black;
        font-size: 20px;
        line-height: 46px;
        font-weight: 300;
      }
    }
  }

  .book-now-to-save {
    height: inherit;
    background-image:
      linear-gradient( rgba(130,104,55,0.84), rgba(130,104,55,0.84) ),
      url('@{img-prefix}/carousel/slider-3.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 0;
    .book-now-to-save-title {
      position: absolute;
      height: 48px;
      width: inherit;
      background-color: black;
      top: 30px;
      color: #FFFFFF;
      font-family: @ff-primary;
      font-size: 19px;
      line-height: 48px;
      margin-left: -35px;
      padding: 0 35px;
    }

    .book-now-to-save-text {
      padding-top: 100px;
      width: 90%;
      color: #FFFFFF;
      font-family: @ff-serif;
      font-size: 30px;
      line-height: 36px;
      padding-bottom: 35px;
      .emphasis {
        font-weight: 600;
      }
    }
  }

  .tier-medallion {
    height: 56px;
    width: 56px;
    flex: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    .fa {
      font-size: 28px;
    }

    &.bronze {
      border: 1px solid #CD9144;
      background: linear-gradient(56.7deg, #D29951 0%, #EBB46E 49.8%, #D29951 100%);
      .fa {
        color: #AC7B3C;
      }
    }
    &.silver {
      border: 1px solid #BDBBB7;
      background: linear-gradient(231.39deg, #D6D5D3 0%, #F7F7F7 49.8%, #D6D5D3 100%);
      .fa {
        color: #9F9F9F;
      }
    }
    &.gold {
      border: 1px solid #F7A41B;
      background: linear-gradient(56.7deg, #FFAD25 2.42%, #FFCB76 49.8%, #FFAD25 100%);
      .fa {
        color: #D98700;
      }
    }
  }

  .questionnaire__feature {
    height: 137px;
    object-fit: contain;
    background: url(@questionnaire-feature-reward-bg-image);
  }

  .questionnaire__subtitle {
    text-transform: uppercase;
    color: #6E562A;
    font-family: @ff-secondary;
    font-size: 28px;
    font-weight: bold;
    margin-top: @hgap;
    margin-bottom: 15px;
  }

  .questionnaire__reward {
    font-family: @ff-primary;
    color: #545454;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: @hgap;
  }

  .questionnaire__question {
    color: black;
    font-size: 22px;
    margin-bottom: @hgap;
  }

  .questionnaire__your-points {
    margin: 64px 0 0 66px;
    font-family: @ff-secondary;
    .points {
      color: @c-primary;
      font-size: 45px;
      letter-spacing: @questionnaire-letter-spacing-wide;
      display: block;
      padding-bottom: 20px;
    }
    .points-label {
      color: @c-text;
      font-size: 27px;
      letter-spacing: @questionnaire-letter-spacing-wide;
      text-transform: capitalize;
    }
  }

  .questionnaire__status {
    margin: 27px 0 0 37px;
    span {
      font-family: @ff-secondary;
      text-transform: uppercase;
      color: @c-white;
      font-size: 16px;
      &.subtitle {
        color: @c-text;
        font-weight: bold;
      }
    }
  }

  .button-positionner {
    margin-bottom: @hgap;
  }

  .questionnaire__points,
  .questionnaire__questions,
  .questionnaire__next-stay,
  .questionnaire__feature {
    flex: 1 1 0px;
    & > * {
      padding: @questionnaire-padding;
    }
  }

  .stop-gap {
    flex: 0 0 @hgap;
  }

  .questionnaire__questions,
  .questionnaire__next-stay {
    overflow: hidden;
    padding: 0;
    height: 100%;

    &.completed {
      padding-left: 90px;
    }

    .error {
      font-family: @ff-secondary;
      color: #ff0000;
      font-size: 12px;
    }

    .questionnaire__status {
      margin-left: 0;
    }
  }

  .questionnaire__options {
    label {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      color: #6E562A;
      font-family: @ff-secondary;
      font-size: 21px;
      font-weight: normal;
      line-height: 26px;
      margin-bottom: 12px;
      cursor: pointer;

      // Custom radio button
      input[type=radio] {
        display: none;
        & + div.styled-radio {
          width: 26px;
          height: 26px;
          box-sizing: border-box;
          border: 2px solid #E7E7E7;
          background-color: #fff;
          border-radius: 50%;
          margin-right: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          .styled-checked-indicator {
            height: 12px;
            width: 12px;
            border-radius: 50%;
            background-color: #6E562A;
            display: none;
          }
        }
        &:checked + div.styled-radio .styled-checked-indicator {
          display: block;
        }
      }
    }
  }

  .questionnaire__tier {
    width: @questionnaire-tier-circle-size;
    height: @questionnaire-tier-circle-size;
    border-radius: 50%;
    border: @questionnaire-tier-circle-border;
    position: relative;
    top: -120px;
    left: 350px;
    .tier-content {
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 100%;
    }
    span {
      display: block;
      font-family: @ff-secondary;
    }
    .tier {
      text-transform: uppercase;
      color: @c-text;
      font-size: 14px;
    }
    .tagline {
      color: @c-text;
    }
    .stays {
      font-size: 21px;
      line-height: 29px;
      color: @c-primary;
      letter-spacing: @questionnaire-letter-spacing-thin;
    }
  }

  .questionnaire__featureReward {
    width: 169px;
    height: 24px;
    margin-top: 8px;
    padding-left: 20px;
    background: @lbe-c-tertiary;
    span {
      font-size: 14px;
      color: @c-white;
      text-transform: uppercase;
    }
  }

  .questionnaire__submit {
    font-family: @ff-primary;
    text-align: center;
    color: white;
    height: 50px;
    line-height: 50px;
    width: 210px;
    font-size: 14px;
    font-weight: 800;
    border-radius: 100px;
    background-color: #826837;
    text-transform: uppercase;
    text-shadow: none;
  }

  .questionnaire__next-stay {
    margin-top: @hgap;
    flex: 0 0 100%;

    .next-stay-panel {
      display: flex;
      flex-flow: row nowrap;
      align-self: stretch;
    }
  }

  .questionnaire__nextStay--title,
  .questionnaire__nextStay--subtitle,
  .questionnaire__nextStay--details {
    text-transform: capitalize;
    font-family: @ff-primary;
  }

  .next-stay-details {
    flex: 1 1 0px;
    margin: @hgap @hgap @hgap 0;
    border: 1px solid #F2F2F2;
    border-radius: 8px;
    background-color: #FFFFFF;
    padding: 26px;
    cursor: pointer;
  }

  .questionnaire__nextStay--title {
    color: @c-alt-grey;
    font-family: @ff-serif;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .questionnaire__nextStay--subtitle {
    color: @c-primary;
    font-family: @ff-primary;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 6px;
  }

  .questionnaire__next-stay--date {
    color: #9B9B9B;
    font-family: @ff-serif;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .questionnaire__next-stay--reservation-code {
    color: #9B9B9B;
    font-family: @ff-primary;
    font-size: 14px;
    font-weight: 300;
  }

  .next-stay-addons {
    border-left: 1px dotted #F5EDED;
    flex: 1 1 auto;
    overflow: hidden;
    padding: 30px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }

  .addon-wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    &:not(:first-of-type) {
      margin-top: 10px;
    }
    &:not(:last-of-type) {
      border-bottom: 1px dashed #F5EDED;
      padding-bottom: 10px;
    }
  }

  .addon-image {
    @image-width: 120px;
    @image-height: 70px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    flex: none;
    width: @image-width;
    height: @image-height;
    img {
      overflow: hidden;
      border-radius: 6px;
      // Aspect-constrained resize
      max-width: @image-width;
      max-height: @image-height;
      width: auto;
      height: auto;
    }
  }

  .addon-text {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 20px;
    flex: 1 1 auto;
    .addon-name {
      color: @c-primary;
      font-family: @ff-serif;
      font-size: 18px;
      font-weight: bold;
    }
    .addon-cost {
      color: #4A4A4A;
      font-family: @ff-primary;
      font-size: 15px;
      font-weight: 300;
    }
  }

  .addon-add-button {
    flex: none;
    height: 40px;
    line-height: 40px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    white-space: nowrap;
    border: 1px solid #EEEDED;
    border-radius: 100px;
    background-color: #FDFDFD;
    text-transform: uppercase;
    padding: 0 15px;

    color: #898989;
    font-family: @ff-primary;
    text-shadow: none;
    font-size: 15px;
    font-weight: bold;

    cursor: pointer;

    .fa-plus-circle {
      margin-right: 10px;
      color: @c-primary;
      font-size: 23px;
    }
  }

}

