<div class="Footer__inner">

  <div class="Footer__signup">

    <h1 class="Footer__title">
      _footer_title_one_
    </h1>
    <small class="Footer__text">
      _footer_subtitle_one_
    </small>
    <button class="Footer__button">
      <a class="stylelessLink" href="http://www.excelsiorhotelny.com/email-offers-en.html" target="_blank">_sign_up_</a>
    </button>

  </div>

  <div class="Footer__social">
    <ul class="Footer__social--icons">

      <li ng-if="uiConfig.socialLinksNew.facebook">
        <a target="_blank" ng-href="{{ uiConfig.socialLinksNew.facebook }}">
          <span class="facebook"></span>
        </a>
      </li>
      <li ng-if="uiConfig.socialLinksNew.twitter">
        <a target="_blank" ng-href="{{ uiConfig.socialLinksNew.twitter }}">
          <span class="twitter"></span>
        </a>
      </li>
      <li ng-if="uiConfig.socialLinksNew.instagram">
        <a target="_blank" ng-href="{{ uiConfig.socialLinksNew.instagram }}">
          <span class="instagram"></span>
        </a>
      </li>
      <li ng-if="uiConfig.socialLinksNew.linkedIn">
        <a target="_blank" ng-href="{{ uiConfig.socialLinksNew.linkedIn }}">
          <span class="linkedin"></span>
        </a>
      </li>
      <li ng-if="uiConfig.socialLinksNew.youtube">
        <a target="_blank" ng-href="{{ uiConfig.socialLinksNew.youtube }}">
          <span class="youtube"></span>
        </a>
      </li>

    </ul>

  </div>

  <div class="Footer__nav">
    <ul class="Footer__nav--items">
      <li class="Footer__nav--item">
        <a target="_blank" href="_footer_nav_one_link_">_footer_nav_one_</a>
      </li>
    </ul>
  </div>

</div>
