<div class="Header__inner">

  <a ui-sref="home">
    <img class="Header__logo desktop"
         src="/static/images/v4/logo@3x.png"
         alt="Mobius logo">
  </a>

  <div class="Header__buttons">

    <div class="Header__buttons--auth">

      <button class="Header__button login"
              ng-if="!isUserLoggedIn()"
              ng-click="auth.login()">
        <i class="fa fa-sign-in"></i>
        _login_
      </button>

      <button class="Header__button register"
              ng-if="!auth.isLoggedIn()"
              ng-click="auth.register()">
        <i class="fa fa-user-plus"></i>
        _register_
      </button>

      <div class="Header__profile" ng-if="auth.isLoggedIn()">
        <img class="avatar" src="/static/images/lbe/avatar-placeholder.png">
        <div class="name">
          {{ user.firstName }} {{ user.lastName }}
        </div>
        <span class="pipe-splitter"></span>
        <div class="loyalty-points">
          <span class="emphasise">{{ user.loyalties.amount }}</span> _points_
        </div>
        <span class="pipe-splitter"></span>
        <div class="loyalty-tier">
          {{ user.loyalties.tier }} tier member
        </div>
      </div>

    <ul dropdown-group class="Header__buttons--preferences">

      <li has-dropdown="click"
          currency-list
          class="Header__buttons--currency Header__buttons--preference"
          ng-show="!$state.includes('reservation') &&
                   !$state.includes('reservationDetail') &&
                   !$state.includes('reservations')">
      </li>
      <li has-dropdown="click"
          class="Header__buttons--language Header__buttons--preference"
          ng-if="false"
          language-list>
      </li>

    </ul>

    <div class="Header__menu">

      <img src="/static/images/menu-icon@3x.png"
           ng-click="toggleMenuOverlay()"
           class="Header__menu--hamburger">

      <span ng-click="toggleMenuOverlay()" class="Header__menu--close"></span>

    </div>

  </div>

</div>

<!-- LOGIN DIALOG -->
<div class="login-dialog-overlay"
     ng-show="!(auth.getStrategy() === 'infiniti') && showLoginDialog"
     ng-include="'layouts/lbe/login-dialog.html'"
     ng-click="auth.clearErrors(); auth.login(); retentionClick()">
</div>

<!-- REGISTER DIALOG -->
<div class="login-dialog-overlay"
     ng-show="!(auth.getStrategy() === 'infiniti') && showRegisterDialog"
     ng-include="'layouts/lbe/register-dialog.html'"
     ng-click="auth.clearErrors(); auth.register(); retentionClick()">
</div>
