<ul class="Menu__items" dropdown-group>

  <li ng-click="$state.go('hotels', { scrollTo: 'jsAbout'})"
      ng-if="!isSingleProperty"
      class="Menu__items--item">
    _menu_hotels_
  </li>
  <li ng-click="$state.go('hotels', { scrollTo: 'jsAbout'})"
      ng-if="isSingleProperty"
      class="Menu__items--item">
    _menu_our_hotel_
  </li>
  <li ui-sref="offers" class="Menu__items--item">
    _menu_specials_
  </li>
  <li class="Menu__items--divider"></li>
  <li class="Menu__items--highlight">
    _menu_name_
  </li>
  <li ui-sref="reservations"
      ng-if="auth.isLoggedIn()"
      class="Menu__items--item">
    _menu_reservations_
  </li>
  <li ui-sref="rewards"
      ng-if="auth.isLoggedIn()"
      class="Menu__items--item">
    _menu_rewards_
  </li>
  <li ui-sref="prestige"
      ng-if="auth.isLoggedIn()"
      class="Menu__items--item">
    _menu_loyalty_
  </li>
  <li ui-sref="profile"
      ng-if="auth.isLoggedIn()"
      class="Menu__items--item">
    _menu_profile_
  </li>
  <li has-dropdown="click"
      class="Menu__items--item"
      currency-list
      ng-show="isMobile &&
                 !$state.includes('reservation') &&
                 !$state.includes('reservationDetail') &&
                 !$state.includes('reservations')">
  </li>
  <li ng-show="isMobile"
      has-dropdown="click"
      class="Menu__items--item"
      ng-if="false"
      language-list>
  </li>
  <li ng-click="toggleMenuOverlay(); auth.register(); retentionClick();"
      ng-if="!auth.isLoggedIn()"
      class="Menu__items--item">
    _register_
  </li>
  <li ng-click="auth.logout(); retentionClick();"
      ng-if="auth.isLoggedIn()"
      class="Menu__items--item">
    _logout_
  </li>
  <li ng-click="toggleMenuOverlay(); auth.login(); retentionClick();"
      ng-if="!auth.isLoggedIn()"
      class="Menu__items--item">
    _login_
  </li>

</ul>
