@import "./variables";

.viewport-mobile {

  .recommendation-carousel {
    padding: 0;
    margin-bottom: 0;

    .recommendation__text {
      text-align: center;
      font-size: 19px;
      line-height: 24px;
      min-height: 100px;
      width: 300px;
      padding: 10px;
    }

    .recommendation__avatar {
      margin: 35px auto 0 auto;
      width: 250px;
      img {
        height: 65px;
        width: 65px;
        border: 3px solid #fff;
      }
    }

    .recommendation__avatar-info {
      padding: 0px;
      color: rgba(255,255,255,0.7);
      h2 {
        font-size: 18px;
      }
      small {
        font-size: 14px
      }
    }

    .carousel-indicators {
      bottom: -60px;
      width: 100%;
      margin-left: 0px;
    }

  }

}
