hotel-location {

  contact-list,
  transportation-list {

    strong {
      color: @c-grey;
      font-weight: normal;
    }
  }

  i {
    top: 3px;
    left: 0;
    color: @c-primary;
    margin-right: 5px;
  }

  img {
    position: absolute;
    top: 0;
    left: 40px;
  }

  h3,
  h4 {
    font-size: @size-0;
    font-weight: bold;
  }

  h4 {
    color: @c-primary;
  }

  transportation-item,
  contact-item {
    position: relative;
    box-sizing: border-box;
    flex: 1 0 33%;
    display: block;
    width: 33%;

    .viewport-mobile &{
      flex: 1 0 100%;
      width: 100%;
      text-align: left;
      margin-bottom: 5px;
      div{
        padding-left: 0;
      }
    }

    div {
      position: relative;
      padding-left: 20px;
    }
  }

  contact-item{
    div{
      a{
        color: @c-grey;
      }
    }
  }

  // Address
  address {
    display: inline-block;
    vertical-align: top;
  }

}
