////////////////////
//// LIST ITEMS ////
////////////////////

@c-link-alt: darken(@c-link, 12%);
@c-highlight-bg: #e6dcce;
@c-disabled-bg: #ededed;
@list-item-min-height: 100px;

pricing-switch {

  a {
    color: @c-grey;

    &.is-active {
      font-weight: normal;
      color: @c-primary;
    }
  }
}


