@import "./variables";
@import "./mobile";

.CurrencyList__flag {
  width: @CurrencyList__flag-width;
  height: @CurrencyList__flag-height;
  vertical-align: middle;
  padding: @CurrencyList__flag-padding;
}

