
/*
 |=================================
 | Colours
 |=================================
 */
@lbe-c-primary: @c-secondary;
@lbe-c-secondary: #adb3b9;
@lbe-c-tertiary: #f6791c;
// I named this 4 as I found out after tertiary is quaternary which is just a ridiculous variable name
// @todo rename the lbe-c variables to use 1, 2, 3
@lbe-c-4: #902325;

/*
 |=================================
 | Fonts
 |=================================
 */
@lbe-ff-primary: "Open Sans";
@lbe-ff-secondary: Arial;

/*
 |=================================
 | Paths
 |=================================
 */
@lbe-img-prefix: "@{img-prefix}/lbe";

/*
 |=================================
 | Sizing
 |=================================
 */
@lbe-widget-bottom-margin: 40px;
