
/*
 |=================================
 | Colours
 |=================================
 */
@lbe-c-primary: #e3a314;
@lbe-c-secondary: #adb3b9;
@lbe-c-tertiary: #f6791c;

/*
 |=================================
 | Fonts
 |=================================
 */
@lbe-ff-primary: Raleway;
@lbe-ff-secondary: Lato;

/*
 |=================================
 | Paths
 |=================================
 */
@lbe-img-prefix: "@{img-prefix}/lbe";
