<div class="hero-slide">
  <div class="promotion-text-container desktop">
    <h1 ng-if="slideData.title" class="promotion-text-container-title"><span>{{ slideData.title }}</span></h1>
    <h2 ng-if="slideData.subtitle" class="promotion-text-container-text"><span>{{ slideData.subtitle }}</span></h2>
  </div>

  <div class="promotion-text-container mobile">
    <h1 class="promotion-text-container-title">Beacon Insider</h1>
    <h2 class="promotion-text-container-text">Members Receive <span class="emphasize">15% Off</span> Our Best Rates! Join now for free.</h2>

    <div class="promotion-text-container-signup"><button ng-click="auth.register()">Sign up</button></div>

    <div class="promotion-text-container-login">Already a member? <button ng-click="auth.login()">Login</button></div>
  </div>
</div>
