input[type="text"],
input[type="number"],
input[type="date"],
input[type="email"],
input[type="password"] {
  display: block;
  width: 100%;
  height: @inputHeight;
  padding: 1px 12px;
  font-size: 13px;
  line-height: 20px;
  color: #555;
  background-color: @white;
  outline: none;
  border: 1px solid @colorInputBorder;
  border-radius: 4px;
  box-sizing: border-box;
  .transition(border-color, .15s);

  &:focus {
    border: 1px solid @colorInputBorder;
    .inner-shadow();
  }
}

input[type="text"][datepicker-popup] {
  background: transparent url('../images/calendar.svg') no-repeat scroll right center;
  background-size: 25px 25px;
  padding-right: 25px;
}

.form-group {
  position: relative;

  input[type="text"]:focus,
  .chosen-with-drop {
    & ~ .info {
      display: block;
      .formInfoAnimation;
    }
  }

  // Short info text above input/select elements
  .info {
    .animated;
    display: none;
    position: absolute;
    margin-top: -55px;
    .fs-12;
    color: @colorLightGray;
  }
}

select {
  display: block;
  width: 100%;
  height: @inputHeight;
  padding: 1px 12px;
  font-size: 13px;
  line-height: 20px;
  color: #555;
  background-color: @white;
  outline: none;
  border: 1px solid @colorInputBorder;
  border-radius: 4px;
  box-sizing: border-box;
}

label {
  .clearfix;
  position: relative;
  display: block;
  clear: both;
  box-sizing: border-box;
  padding-bottom: 8px;
  .fs-14();
  .line-height(14, 2);
  font-weight: 700;

  &.is-oneline {
    padding-bottom: 0;
  }

  .help {
    float: right;
    color: #53a3da;
    cursor: help;

    &:after {
      content: '?';
    }
  }
}

.form-errors {
  color: red;
  font-weight: 400;
}

input,
select {
  &.ng-invalid {
    border-color: red;
  }
}
