#main-header {
  &:extend(.clearfix);
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 999;

  background: -moz-linear-gradient(top, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.01) 99%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.75)), color-stop(99%,rgba(0,0,0,0.01)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.01) 99%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.01) 99%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.01) 99%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.01) 99%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

  a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
}

// MAIN NAVIGATION IN HEADER
@mobileHeaderHeight: floor(@headerHeight / 1.5);

// GENERIC STYLES
.main-nav {
  height: @mobileHeaderHeight;

  .menu-opener {
    float: left;
    display: block;
    width: 36px;
    height: 100%;
    margin: 0 10px;
    color: @white;
    text-decoration: none;
    background: url("../images/menu-opener.png") no-repeat center center;
    background-size: 36px 36px;

    @media  only screen and (min--moz-device-pixel-ratio: 1.5),
            only screen and (-o-min-device-pixel-ratio: 1.5),
            only screen and (-webkit-min-device-pixel-ratio: 1.5),
            only screen and (min-device-pixel-ratio: 1.5) {
      background-image: url("../images/menu-opener@2x.png");
    }

    @media  only screen and (min--moz-device-pixel-ratio: 2.5),
            only screen and (-o-min-device-pixel-ratio: 2.5),
            only screen and (-webkit-min-device-pixel-ratio: 2.5),
            only screen and (min-device-pixel-ratio: 2.5) {
      background-image: url("../images/menu-opener@3x.png");
    }
  }

  ul {
    .noSpaces;

    li {
      padding: 0px floor(@paddingHeaderDefault / 2);
      line-height: @mobileHeaderHeight;

      background-color: @c-base;
      background-color: fadeout(@c-base, 15%);

      &:extend(.open-sans-light);
      &:extend(.font-size-18);
      text-align: center;

      a {
        display: block;
        color: @colorMenuTextDefault;
        text-decoration: none;
      }
    }

    li[currency-list],
    li[language-list]{
      padding-right: 0;

      a {
        &:hover,
        &:focus,
        &:active,
        &.is-active {
          box-shadow: none;
        }
      }
    }
  }

  .brand {
    display: block;
    float: right;
  }

  .button-login {
    height: 39px;
    padding: 10px 30px;
    line-height: 39px;
    border-radius: 8px;

    &:hover {
      box-shadow: none;
    }
  }
}

// MOBILE SPECIFIC STYLES
@media only screen and @lessThenTabletPortrait {

  #main-header {
    background-color: @c-base;
    background-color: fadeout(@c-base, 5%);
  }

  .main-nav {
    > .app-menu {
      position: fixed;
      top: @mobileHeaderHeight;
      bottom: 0px;
      left: 0px;
      right: 0px;
      overflow-y: auto;
      overflow-x: hidden;

      transform: translateX(-100%);
      transition: transform 0.4s ease-out,
                  opacity 0.2s linear 0.2s;
      opacity: 0;

      .open& {
        transform: translateX(0);
        opacity: 1;
      }

      ul {
        width: 100%;

        > li {
          border-top: 1px @borderColorSubmenu solid;
          background-color: @c-base;
          background-color: fadeout(@c-base, 5%);
          text-transform: uppercase;

          a.is-active {
            font-weight: 700;
            text-shadow: 0 2px 0 fade(@c-base, 50%);
          }

          li {
            background-color: transparent;
          }
        }

        > li + li {
        }
      }
    }

    &.open {
      .button-login {
        z-index: 0;
        opacity: 0;
        transform: translateX(110%);
      }
    }
  }
}

// Tablet styles
@media only screen and @lessThenDesktop and @moreThenMobile {

  .main-nav {
    ul {
      li {
        padding: 0px @paddingHeaderDefault / 2;
      }
    }
  }
}

// DESKTOP STYLES
@media only screen and @moreThenTabletPortrait {

  .main-nav {
    height: @headerHeight;

    .menu-opener {
      display: none;
    }

    ul {
      float: right;

      li {
        display: inline-block;
        float: left;
        padding: 0px @paddingHeaderDefault;
        line-height: @headerHeight;
        background-color: transparent;
        text-align: left;

        a {
          display: inline;
          color: @colorMenuTextDefault;
          .transition(box-shadow, 0.2s, linear);
          box-shadow: 0 2px 0 0 fadeout(@colorMenuTextDefault, 100%);

          &:hover,
          &:focus,
          &:active,
          &.is-active {
            box-shadow: 0 2px 0 0 @colorMenuTextDefault;
          }
        }

        .open > a {
            box-shadow: 0 2px 0 0 @colorMenuTextDefault;
        }

        .open.has-icons > a {
            box-shadow: none;
        }
      }
    }

    .brand {
      display: block;
      float: left;
      margin: @baseline 0;
    }

    .button-login {
      top: @headerHeight + @headerBorderBottom;
    }
  }
}

@media only screen and @moreThenTablet {

  .main-nav {

    .button-login {
      right: 0;
    }
  }
}
