<h2>{{hotelDetails.nameShort}} <strong>Location</strong></h2>
<map
        ng-if="position"
        zoom="18"
        max-zoom="18"
        min-zoom="8"
        scrollwheel="false"
        center="{{position}}">
  <marker
          position="{{position}}"
          title="{{hotelDetails.nameShort}}"></marker>
</map>

<p>{{hotelDetails.locationDescription}}</p>

<ul class="contact-information">
  <li>
    <i class="fa fa-phone"></i>
    <strong>Telephone:</strong>
    {{hotelDetails.tel1}}
    <div ng-if="hotelDetails.tel2">{{hotelDetails.tel2}}</div>
  </li>
  <li>
    <i class="fa fa-email"></i>
    <strong>Email:</strong> {{hotelDetails.email}}
  </li>
  <li>
    <i class="fa fa-phone"></i>
    <strong>Address:</strong>
    {{hotelDetails.address1}},<br />
    <span ng-if="hotelDetails.address2">{{hotelDetails.address2}},<br /></span>
    <span ng-if="hotelDetails.address3">{{hotelDetails.address3}},<br /></span>
    {{hotelDetails.city}}, {{hotelDetails.zip}}
  </li>
</ul>

<h3>How to get to us</h3>
<transportation-list>
  <transportation-item ng-repeat="direction in hotelDetails.directions">
    <h4>{{direction.name}}</h4>
    <img ng-src="{{direction.icon}}" err-source="http://lorempixel.com/20/20">
    <p>{{direction.description}}</p>
  </transportation-item>
</transportation-list>
