<h2>{{hotelDetails.nameShort}} <strong>Location</strong></h2>
<a
        target="_blank"
        ng-if="position"
        href="https://www.google.com/maps/place/{{hotelDetails.nameShort}}/@{{position[0]}},{{position[1]}},18z">
  View full screen
</a>
<map
  ng-if="position"
  zoom="18"
  max-zoom="18"
  min-zoom="8"
  scrollwheel="false"
  center="{{position}}">
  <marker
    position="{{position}}"
    title="{{hotelDetails.nameShort}}"></marker>
</map>

<p>{{hotelDetails.locationDescription}}</p>

<contact-list>
  <contact-item ng-if="hotelDetails.tel1 || hotelDetails.tel2 || hotelDetails.fax">
    <contact-item ng-if="hotelDetails.email">
      <div>
        <i class="fa fa-envelope"></i>
        <strong>Email:</strong>
        <a ng-href="mailto:{{hotelDetails.email}}">{{hotelDetails.email}}</a>
      </div>
    </contact-item>

    <div ng-if="hotelDetails.tel1 || hotelDetails.tel2">
      <i class="fa fa-phone"></i>
      <strong>Telephone:</strong>
      <span ng-if="hotelDetails.tel1">{{hotelDetails.tel1}}</span>
      <span ng-if="hotelDetails.tel2">{{hotelDetails.tel2}}</span>
    </div>

    <div ng-if="hotelDetails.fax">
      <i class="fa fa-fax"></i>
      <strong>Fax:</strong>
      {{hotelDetails.fax}}
    </div>
  </contact-item>

  <contact-item>
    <div>
      <i class="fa fa-phone"></i>
      <strong>Address:</strong>
      <span ng-if="hotelDetails.address1">{{hotelDetails.address1}},</span><br ng-if="hotelDetails.address1" />
      <span ng-if="hotelDetails.address2">{{hotelDetails.address2}},</span><br ng-if="hotelDetails.address2" />
      <span ng-if="hotelDetails.address3">{{hotelDetails.address3}},</span><br ng-if="hotelDetails.address3" />
      <span>{{hotelDetails.city}}, {{hotelDetails.zip}}</span>
    </div>
  </contact-item>

</contact-list>

<h3>How to get to us</h3>
<transportation-list>
  <transportation-item ng-repeat="direction in hotelDetails.directions">
    <img ng-src="{{direction.icon}}" err-source="http://lorempixel.com/20/20">
    <h4>{{direction.name}}</h4>
    <p>{{direction.description}}</p>
  </transportation-item>
</transportation-list>
