/////////////////////
//// BREADCRUMBS ////
/////////////////////

.breadcrumbs {
  background: @c-primary;
  font-size: @size-0;
  color: #fff;
  line-height: @size-3;
  text-align: center;
  padding: 7px 14px;
  p{
    color: #fff;
    a{
      color: #fff;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

breadcrumbs{
  &.sticky {
    top:150px !important;
    @media only screen and @large-mobile-max {
      top:0px !important;
      position:relative !important;
    }
  }
  // MOBILE SPECIFIC STYLES
  @media only screen and @large-mobile-max {
    margin-bottom: 20px;
    display: block;
  }

  &:first-child {
    .viewport-mobile & {
      display:none;
    }
  }

}
