///////////////////////
//// CONTACTS PAGE ////
///////////////////////

contacts-page {
  contact-list {
    contact-item {
      p:before {
        display:none !important;
      }
    }
  }
  h1 {
    color:@c-main-site-grey;
    font-size:34px;
    line-height:40px;
    text-transform:initial;
  }
}
