
///////////////////////////////
// Styles for 404 error page //
///////////////////////////////
.error-page {
  padding: 45px 0 120px 0;
  .error-wrapper{
    border: none;
    background: none;
    img{
      display: none;
    }
  }
}
