//////////////////////
//// FLOATING BAR ////
//////////////////////

floating-bar {
  background: @c-booking-widget;
  color: #fff;
  z-index: 999;

  .viewport-mobile &{
    &.active{
      > ul{
        background: @c-booking-widget;
      }
    }
  }

  //- Tabs
  > ul {
    top: -25px;

    li {
      background: @c-booking-widget-active;
      padding-right: 0px;
      line-height: 25px;
      a {
        color: #fff;
        &:focus,
        &:hover {
          color: #fff;
        }
      }

      &:first-of-type:before{
        position: absolute;
        right: @baseline * 1.5;
        height: @baseline * 1.5;
        width: 1000px;
        background: lighten(@c-booking-widget, 10%);
        content: '';
        outline: 1px solid @c-booking-widget;

        .viewport-mobile &{
          display: none;
        }
      }

      //- Filling
      &:first-of-type:before{
        background: @c-booking-widget-active;
        outline: 1px solid @c-booking-widget;

      }

      &.is-active:first-of-type:before {
        background: @c-booking-widget;
      }

      //- Skew effect
      &:after {
        top: -2px;
        border-bottom: @baseline*1.5 solid @c-booking-widget-active;
        border-right: @baseline solid transparent;
      }

      //- If tab is selected
      &.is-active {
        background: @c-booking-widget;
        &:after {
          border-bottom: @baseline*1.5 solid @c-booking-widget;
        }
        a{
          color: #fff;
          outline: 1px solid @c-booking-widget;
        }
      }

      &.floating-bar--tab-booking {

        font-weight: 600;

        .viewport-mobile &.main-mobile-toggle {

          &.mobile-is-open a{
            background: @c-booking-widget;
          }

          a{

            &.with-search-params {
              background: @c-booking-widget;
            }

            .mobile{

            }
          }
        }
      }
    }
  }
}
