#main-header {
  background: #fff;
  height: 150px;
  padding:15px 0;
  box-sizing:border-box;

  .viewport-mobile & {
    height: auto;
  }
}
// GENERIC STYLES
.main-nav {
  height: auto;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;

  .viewport-mobile & {
    height: 60px;
    padding: 0;
    margin: 0;
  }

  .brand {
    img.desktop-logo {
      height: 112px;
    }
    img.mobile-logo {
      height:60px
    }
    .viewport-mobile & {
      top:0;
    }
  }

  .menu-opener {
    background-size: 21px 16px;
  }
}
// MOBILE SPECIFIC STYLES
@media only screen and @large-mobile-max {
  #main-header {
    background-color: @c-white;
  }
  .main-nav {
    > .app-menu {
      background-color: @c-white;

      ul {
        width: 100%;
        > li[language-list] .dropdown-menu.submenu li:last-child {
          display:none;
        }
        > li {
          border-top: 1px @c-primary solid;
          background-color: @c-white;

          &.mobile-header {
            .close {
              &:after {
                .fa;
                color: @c-primary;
                content: @fa-var-close;
                top: 35px;
                right:18px;
              }
            }
          }

          a {
            color: @c-primary;
          }

          a.is-active {
            font-weight: 700;
            text-shadow: none;
          }

          &.mobile-header {
            border-top: 0;
            text-align:center;
            padding:4% 7px;
            height:60px;
            img {
              height:60px;
            }
          }

          &.mobile-profile {
            height: auto;
            line-height: 50px;
            text-transform: none;
            border-top: 0;

            a {
              text-transform: none;
            }

            .profile {
              margin-top: 0;
              height: 50px;

              .message {
                font-size: @size--1;
                color: @c-primary;
              }

              .user {
                color: @c-primary;
                font-size: @size-0;
                line-height: @size-0;

                span {
                  display: inline;
                  font-weight: normal;
                  // Surname
                  &:last-of-type {
                    display: inline;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
// Tablet styles
@media only screen and @tablet-portrait-max and @large-mobile-min {}
// DESKTOP STYLES
@media only screen and @tablet-portrait-min {
  .main-nav {
    ul {
      li {
        position: relative;
        line-height: 120px;

        a {
          color: @c-dark-grey;
          box-shadow: none;
          text-transform: uppercase;
          transition: all 0.3s ease-out;

          &.is-active,
          &:active,
          &:focus,
          &:hover {
            box-shadow: none;
          }

          &.button-login {
            background: #f3efe6;
            background: -moz-linear-gradient(top, #f3efe6 0%, #c2c1bd 100%);
            background: -webkit-linear-gradient(top, #f3efe6 0%,#c2c1bd 100%);
            background: linear-gradient(to bottom, #f3efe6 0%,#c2c1bd 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#f3efe6', endColorstr='#c2c1bd',GradientType=0 );
            border-bottom: 1px solid #959595;
            color: @c-dark-grey;
            -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
            -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
            border-radius: 2px;
            text-transform: uppercase;
            font-family: DINPro-Regular, Helvetica, Arial, sans-serif;

            &.is-active,
            &:active,
            &:focus,
            &:hover {
              -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
              -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
              box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
            }
          }
        }

        .open > a {
          box-shadow: none;
        }

        .open.has-icons > a {
          box-shadow: none;
        }

        &.desktop-profile {
          height: 120px;
          padding-right: 30px;
          line-height: 120px;
          text-transform: none;

          a {
            text-transform: none;
          }

          .profile {
            margin-top: 39px;
            min-width: 0;

            .message {
              color: @c-primary;
              font-weight: 400;
              font-size: @size--0;
              line-height: @size--0;
              padding-right: 13px;
              text-align: right;
            }

            .user {
              color: @c-grey;
              font-size: @size-0;
              line-height: 24px;
              font-family: @ff-heading;
              text-transform: uppercase;
              text-align: right;

              span {
                display: inline;
                font-weight: normal;
                font-size: @size-0;
                line-height: @size-0;
                // Surname
                &:last-of-type {
                  display: inline;
                }
              }

              &:after {
                height: 7px;
                margin-left: 0;
                top: -5px;
                position: relative;
                background: none;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 8px 4px 0 4px;
                border-color: @c-primary transparent transparent;
              }
            }
          }
        }
      }

      li[currency-list],
      li[language-list] {
        line-height: 120px;
        padding: 0 10px;
        //TEMPORARY HIDE LANGUAGE SELECTOR
        display:none;

        a {
          color: @c-light-grey;
          font-size: @size-0;

          &:hover {
            color: @c-dark-grey;
          }
        }
        //Temporarily hiding french option
        a[title="French"] {
          display: none;
        }

        ul {
          li {
            padding: 0 10px;
          }
        }
      }
    }

    .brand {
      display: block;
      float: left;
      margin: 0;
      position: absolute;
      left: 50%;
      margin-left:-63px;
    }
  }
}
@media only screen and @tablet-landscape-min {
  .main-nav {
    .button-login {
      right: 0;
    }
  }
}
