///////////////////////
//// HOTELS DETAIL ////
///////////////////////

hotel-detail {
  .back-to-top {
    background: rgba(133, 124, 114, 0.4);
  }

  > header {
    margin-bottom: @baseline;
  }
  // Page Heading
  h1 {
    color: @c-grey;
    text-transform: uppercase;
    font-weight: inherit;
  }

  h2 {
    color: @c-main-site-grey;
    text-transform: uppercase;
    font-weight: inherit;
    margin-bottom: 16px;
  }

  .hotel-detail__dates {
    margin-bottom: 70px;
    padding: 10px 0;

    .inner {
      color:@c-main-site-grey;
      position: relative;
    }

    .viewport-mobile & {
      position: relative;
      text-align: center;
      width: 200%;
      margin-left: -50%;
      background: @c-very-light-grey;
      -webkit-box-shadow: 0 2px 4px 0 rgba(167, 167, 167, 0.5);
      -moz-box-shadow: 0 2px 4px 0 rgba(167, 167, 167, 0.5);
      box-shadow: 0 2px 4px 0 rgba(167, 167, 167, 0.5);
      padding: 20px 0;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 100%;
        height: 24px;
        width: 100%;
        background: url("@{img-prefix}/background-pattern.gif") repeat-x left top;
        z-index: -1;
      }

      > .inner {
        width: 50%;
        margin-left: 25%;
      }
    }

    .background {
      width: 500%;
      height: 100%;
      position: absolute;
      z-index: -1;
      margin-left: -200%;
      margin-top: -10px;

      .color {
        height: 100%;
        padding: 10px 0;
        background: @c-very-light-grey;
        -webkit-box-shadow: 0 2px 4px 0 rgba(167, 167, 167, 0.5);
        -moz-box-shadow: 0 2px 4px 0 rgba(167, 167, 167, 0.5);
        box-shadow: 0 2px 4px 0 rgba(167, 167, 167, 0.5);
        z-index: 2;
        position: relative;
      }

      .pattern {
        height: 24px;
        width: 100%;
        background: url("@{img-prefix}/background-pattern.gif") repeat-x left top;
      }

      .viewport-mobile & {
        display: none;
      }
    }

    .dates-wrapper,
    .no-dates-wrapper,
    .title-wrapper,
    nav {
      float: left;
      width: 25%;

      .viewport-mobile & {
        width: 100%;
        float: none;
      }
    }

    .title-wrapper {
      .title {
        font-size: 18px;
        line-height: 40px;
        margin: 0;

        .viewport-mobile & {
          line-height: 19px;
        }
      }
    }

    .no-dates-wrapper {
      width: 50%;
      text-align: center;

      p {
        font-size: 18px;
        line-height: 40px;
        color: @c-dark-grey;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
      }

      .viewport-mobile & {
        margin: 14px 0 20px;

        p {
          font-size: 14px;
          line-height: 23px;
        }
      }
    }

    .dates-wrapper {
      width: 50%;
      text-align: center;

      .viewport-mobile & {
        margin: 16px 0 20px;
      }

      .inner {
        display: inline-block;

        .date-item {
          margin: 0 5px;
          display: inline-block;
          line-height: 40px;

          .viewport-mobile & {
            line-height: 19px;
            margin: 0 10px;
          }

          .title {
            display: inline;
            text-transform: uppercase;
          }

          .date {
            display: inline;
            font-family: @ff-bold;
            margin-left: 5px;
            color:@c-black;
          }
        }
      }
    }

    nav {
      text-align: center;

      button-submit {
        float: right;
        margin-right: 0px;

        .viewport-mobile & {
          float: none;
          margin-right: 0;
        }
      }
    }
  }

  .hotel-detail__rooms {
    margin-bottom: 70px;

    hr {
      display: none;
    }

    .section-header {
      h2 {
        display: none;
      }

      order-switch {
        float: right;

        .chosen-container {
          width: 150px !important;
        }

        .viewport-mobile & {
          width: 100%;
          margin: 10px 0;

          .chosen-container {
            width: 100% !important;
          }
        }
      }
    }

    .search-details {
      margin: 0;

      .room-counter {
        color: @c-mid-grey;
      }
    }

    list-items {
      .display-all-rooms,
      .display-more-rooms {
        color: @c-secondary;
        background: @c-light-grey;
        font-weight: 700;
      }

      list-item {
        .viewport-mobile & {
          border-bottom: 15px solid #dedede;
          padding-bottom: 10px;
          margin-bottom: 20px;
        }

        .item-header {
          margin-bottom: 16px;

          h3 {
            a {
              color: #000;
              text-transform: uppercase;
              font-weight: normal;

              &:after {
                display: none;
              }

              &.view-more {
                display: inline;
                color: @c-secondary;
                font-family: @ff-default;
                text-transform: initial;
                font-size: 14px;
                margin-left: 7px;
              }

              .viewport-mobile & {
                display: block;
              }
            }

            .viewport-mobile & {
              width: 100%;
              border: none;

              a {
                margin: 0;

                &:after {
                  color: @c-primary;
                  content: @fa-var-info-circle;
                  float: right;
                  margin-top: -5px;
                }
              }
            }
          }

          &.mobile {
            display: none;

            .viewport-mobile & {
              border-bottom: none;

              h3 {
                margin-bottom: 0;

                a {
                  margin: 0;
                }
              }
            }
          }
        }

        .list-item-container {
          display: inline-block;
          width: 100%;
          border-top: none;

          .viewport-mobile & {
            border-bottom: none;
            padding-top: 16px;

            &:fist-of-type {
              border-top: none;
              padding-top: 0;
            }
          }

          > div {
            &.list-item-info {
              box-sizing: border-box;
              width: 30%;
              padding: 0;

              .viewport-mobile & {
                width: 100%;
                padding: 0;
              }

              .room-image {
                width: 266px;
                max-width: 100%;
              }
            }
          }

          .viewport-mobile & {
            border-top: none;
            padding-top: 0;
            border-bottom: none;
          }

          hero-slider {
            overflow: visible;
            width: auto;
            height: 150px;
            margin-top: 0;

            .viewport-mobile & {
              margin-bottom: 20px;
            }

            .slider-content {
              overflow: hidden;
              height: 150px;
              position: relative;

              .hero-slide {
                overflow: visible;
                height: 150px;

                .content-inner {
                  top: 180px;

                  h1 {
                    font-size: @size--1;
                    color: @c-grey;
                    background: none;
                    line-height: initial;
                    text-align: center;
                    text-transform: none;
                    width: 100%;
                    padding: 0;

                    &:before {
                      display: none;
                    }
                  }

                  h2 {
                    display: none;
                  }
                }
              }
            }

            .slider-controls {
              position: relative;
              height: auto;

              &:before {
                content: '';
                display: block;
                position: absolute;
                right: 3px;
                bottom: 2px;
                z-index: 1;
                height: 150px;
                color: @c-white;
                width: 29px;
                height: 29px;
                text-align: center;
                cursor: pointer;
                background: url('@{img-prefix}/magnifier.png') no-repeat center;

                .viewport-mobile & {
                  display: none;
                }
              }

              &:hover {
                &:before {
                  opacity: 1;
                }
              }

              > div {
                background: none;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: -150px;
              }

              .pages {
                display: none;
              }

              .slide-button {
                background: none;
                width: 18px;
                height: 18px;
                opacity: 1;
                margin-top: -9px;
                padding: 0;

                &.slide-left {
                  background: url('@{img-prefix}/slider-left.png') no-repeat;
                  background-size: 18px;
                  left: 7px;

                  &:before {
                    content: none;
                  }
                }

                &.slide-right {
                  background: url('@{img-prefix}/slider-right.png') no-repeat;
                  background-size: 18px;
                  right: 7px;

                  &:before {
                    content: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
