///////////////////////////////
//// PROFILE/REGISTER PAGE ////
///////////////////////////////

profile-page,
register-page {
  //- Page Heading
  header {
    h1 {
      color: @c-primary;
      font-weight: inherit;
    }
  }

  .profile-summary {
    display: inline-block;
    margin-bottom: 40px;

    .viewport-mobile & {
      margin-bottom: 20px;
    }

    .summary-wrapper {
      border: 1px solid #979797;
      padding: 23px 45px 17px;
      margin-bottom: 20px;
      display: inline-block;
      width: 100%;
      box-sizing: border-box;

      .viewport-mobile & {
        padding: 36px 20px 10px;
      }

      .address,
      .contact,
      .name {
        float: left;
        box-sizing: border-box;

        .item {
          font-size: 18px;
          line-height: 24px;
          display: inline-block;
          width: 100%;
          margin-bottom: 14px;

          .label {
            box-sizing: border-box;
            font-family: @ff-bold;
          }

          .value {
            word-break: break-all;
          }
        }

        .viewport-mobile & {
          width: 100%;

          &.name {
            margin-bottom: 14px;
          }

          .item {
            margin-bottom: 14px;
            font-size: 16px;

            .label {
              width: 100%;
            }

            .value {
              padding-left: 0;
            }
          }
        }
      }

      .name {
        font-family: @ff-heading;
        font-size: 26px;
        line-height: 34px;
        width: 25%;

        span {
          display: block;
          font-size: 18px;
          line-height: 27px;
        }
      }

      .address {
        width: 40%;
      }

      .contact {
        width: 35%;
      }

      .footer {
        display: inline-block;
        width: 100%;
        margin-top: 20px;

        .viewport-mobile & {
          margin-top: 0;
        }

        .share {
          width: 24%;
          line-height: 26px;
        }

        label {
          clear: none;
          font-size: 18px;
          font-weight: 400;
          line-height: 26px;
          padding-bottom: 0;
          width: 76%;
          float: right;

          .viewport-mobile & {
            font-size: 16px;
            line-height: 24px;
            float: none;
          }
        }

        .viewport-mobile & {
          margin-top: 0;
          text-align: center;

          .share,
          label {
            width: 100%;
          }

          label {
            margin-bottom: 20px;
            text-align: left;
          }
        }
      }
    }

    button-submit {
      float: right;
    }
  }
  //- Form
  form {
    h2 {
      color: @c-primary;
    }

    fieldset {
      form-element {
        label {
          color: @c-grey;
        }

        .chosen-container {
          color: @c-mid-grey;

          .chosen-single {
            color: @c-mid-grey;
          }

          .chosen-results {
            li {
              color: @c-mid-grey;
            }
          }
        }

        input[type="email"],
        input[type="password"],
        input[type="tel"],
        input[type="text"],
        select,
        textarea {
          border-color: @c-form-border-grey;
          color: @c-mid-grey;
          font-size: @size--1;

          &:focus {
            box-shadow: none;
          }
        }
      }
    }
  }
}
