//////////////////////////
// List of FUTURE STAYS //
//////////////////////////
.reservations {
  h1 {
    color:@c-main-site-grey;
    font-size:34px;
    line-height:50px;
    text-align:center;
    text-transform:initial;
  }
  reservation-item {
    .clearfix;
  }
  reservation-data {
    .clearfix;
    > div {
      .clearfix;
    }
    .content {
      margin:0 135px;
      color:@c-black;
      .header {
        h2 {
          font-size:18px;
        }
      }
    }
    .details {
      > div .title {
        .viewport-mobile & {
          min-width:auto;
        }
      }
      .guests {
        padding-left:15px;
        padding-right:15px;
        box-sizing:border-box;
        .viewport-mobile & {
          width:100%;
          padding-left:0;
        }
        div + div {
          margin-top:5.5px;
        }
        .title {
          min-width:auto;
        }
      }
      .total {
        .viewport-mobile & {
          width:100%;
        }
        .title {
          min-width:auto;
        }
        .value {
          font-size:14px;
        }
        .reservation-number {
          color:@c-black;
          span {
            display:inline-block;
          }
        }
      }
      .desc {
        p + p {
          margin-top:5.5px;
          .viewport-mobile & {
            margin-top:5.5px;
          }
        }
      }
    }
  }
}
