
///////////////////////////////////////////////////////////////
// NEXT STAY                                                 //
//  - Most of used code is shared w/ RESERVATION DETAIL page //
//    and is placed in `src/styles/views/reservation.less`   //
///////////////////////////////////////////////////////////////
reservation-hotel-details {

  .reservation-summary {

    h1 {
      margin: 0;
    }
  }

  .room-types + .room-types {
    margin-top: @baseline;
  }
}

//////////////////////////
// List of FUTURE STAYS //
//////////////////////////
.reservations {

  reservation-data {

    .content {

      .header {
        h2 {
          font-size: @size-3;
          font-weight: normal;
          float: left;

          strong {
            font-weight: normal;
          }
        }
      }
    }

    .details {

      .total {
        width: 30%;
        float: left;
        .viewport-mobile & {
          width: 60%;
        }
        .value {
          color: @c-primary;
          font-size: @size-2;
        }

        .reservation-number {
          font-weight: normal;
        }
      }

      .guests {
        width: 25%;
        float: left;
        .viewport-mobile & {
          width: 40%;
          padding-left: 5px;
          box-sizing: border-box;
        }
      }

      .desc {
        width: 45%;
        float: right;
        .viewport-mobile & {
          width: auto;
          float: left;
          p + p{
            margin: 0;
          }
        }

      }
    }

    check-in-date {
      border: 1px solid @c-primary;

      .title {
        background-color: @c-primary;
      }
      .date {
        color: @c-primary;
        font-weight: normal;
      }
    }
  }
}
