//////////////////////////
// List of FUTURE STAYS //
//////////////////////////
.reservations {

  h1 {
    color:@c-main-site-grey;
    font-size:34px;
    line-height:40px;
    text-align:center;
    text-transform:initial;
  }
  reservation-data {
    .content {
      .header {
        h2 {
          font-size:18px;
        }
      }
    }
  }
}
