/////////////////////
//// ROOM DETAIL ////
/////////////////////

hotel-room {
  .header {
    h1 {
      margin-bottom: @baseline;
    }
  }

  .other-rooms-title {
    text-align: center;
    font-size: 36px;
    line-height: 48px;
    text-transform: initial;
    font-variant: small-caps;

    .viewport-mobile & {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 20px;
    }
  }

  list-items {
    margin: 0 0 36px;

    list-item {
      &.without-image {
        padding-left: 0;
      }

      h2,
      h3 {
        color: @c-very-dark-grey;
        font-family: @ff-bold;
        font-weight: normal;
      }

      &:first-of-type {
        border-top: 1px solid @c-border-grey;
      }

      &:last-of-type {
        border-bottom: 1px solid @c-border-grey;
      }

      pricing-info {
        border-left: none;

        p {
          .value {
            color: @c-dark-grey;
            font-weight: 700;
          }
        }
      }

      description-info {
        .action-links {
          a {
            color: @c-dark-grey;
            font-size: 11px;
          }
        }
      }
    }

    &.other-rooms {
      display: inline-block;
      width: 100%;

      list-item {
        width: auto;

        &:first-of-type {
          border: none;
        }

        figure {
          max-height: none;
        }

        h2 {
          width: 100%;
          font-family: @ff-heading;
          color: @c-dark-grey;
          font-size: @size-2;
        }

        pricing-info {
          button-submit {
            margin-top: 14px;
          }
        }
      }
    }
  }

  section.room-description {
    margin-top: @baseline*2;
  }
  //room gallery is the ul
  .room-gallery {
    margin: @baseline 0;
    .clearfix;

    li {
      float: left;
      display: block;
      padding: 0;
      width: 150px;
      cursor: pointer;
      //- Image
      figure {
        position: relative;
        max-height: @list-item-min-height;
        overflow: hidden;
        display: block;
        border: 1px solid #ccc;

        img {
          width: 100%;
          display: block;
        }
      }
      //- Appear eye icon on hover
      &.with-special-eye-hover {
        figure:after {
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          background: rgba(0, 0, 0, 0.7) url('@{img-prefix}/v4/eye.svg') center center no-repeat;
          background-size: 50px;
          opacity: 0;
          transition: 0.2s all;
          content: '';
        }

        &:hover figure:after {
          opacity: 1;
        }
      }
    }
  }
}
//- If there are no available products
.products-not-available,
.reservations-not-available {
  padding: @baseline * 2;
  background: #f6f3ee;
  text-align: center;
  margin-bottom: 36px;

  h3 {
    margin-bottom: @baseline;
    color: #555;
    font-size: @size-3;
  }

  p {
    color: #999;
  }

  button-submit {
    margin-top: 20px;
  }
}
