/////////////////////
//// ROOM DETAIL ////
/////////////////////

hotel-room {
  p {
    font-size:14px;
  }
  .header {
    h1 {
      margin-bottom: @baseline;
    }
  }

  .other-rooms-title {
    text-align: center;
    text-transform: initial;
    color: @c-main-site-grey;
    font-size: 34px;
    margin-bottom:22px;
    line-height:50px;

    .viewport-mobile & {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 20px;
    }
  }

  list-items {
    margin: 0 0 36px;
    .clearfix;

    list-item {
      &.without-image {
        padding-left: 0;
      }

      h2,
      h3 {
        color: @c-black;
        font-family: @ff-default;
        font-weight: normal;
        text-transform: initial;
      }

      &:first-of-type {
        border-top: 1px solid @c-border-grey;
      }

      &:last-of-type {
        border-bottom: 1px solid @c-border-grey;
      }

      pricing-info {
        border-left: none;
        right:0;
        p {
          .value {
            color: @c-black;
            font-family: @ff-bold;
            font-weight: normal;
            text-transform: initial;
          }
        }
      }

      description-info {
        .action-links {
          a {
            font-size: 13px;
          }
        }
      }
    }

    &.other-rooms {
      margin-left:-15px;
      margin-right:-15px;

      list-item {
        width: 33.33333333%;
        padding: 0 15px;
        box-sizing:border-box;
        margin-left: 0;
        margin-right: 0;

        .viewport-mobile & {
          width:100%;
          margin-bottom:15px;
        }

        &:first-of-type {
          border: none;
        }

        figure {
          max-height: none;
        }

        h2 {
          width: 100%;
          color: #000;
          font-size: 18px;
        }

        pricing-info {
          button-submit {
            margin-top: 14px;
          }
        }
      }
    }
  }

  section.room-description {
    margin-top: @baseline*2;
  }
  //room gallery is the ul
  .room-gallery {
    margin: @baseline 0;
    .clearfix;

    li {
      float: left;
      display: block;
      padding: 0;
      width: 150px;
      cursor: pointer;
      //- Image
      figure {
        position: relative;
        max-height: @list-item-min-height;
        overflow: hidden;
        display: block;
        border: 1px solid #ccc;

        img {
          width: 100%;
          display: block;
        }
      }
      //- Appear eye icon on hover
      &.with-special-eye-hover {
        figure:after {
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          background: rgba(0, 0, 0, 0.7) url('@{img-prefix}/v4/eye.svg') center center no-repeat;
          background-size: 50px;
          opacity: 0;
          transition: 0.2s all;
          content: '';
        }

        &:hover figure:after {
          opacity: 1;
        }
      }
    }
  }
  section.room-amenities {
    h2 {
      text-align:center;
      font-size: 18px;
      color: #000000;
      font-weight: normal;
      font-family: @ff-default;
    }
  }
  .room-details-right + hr {
    display:none;
  }
}
//- If there are no available products
.products-not-available,
.reservations-not-available {
  padding: @baseline * 2;
  background: #f6f3ee;
  text-align: center;
  margin-bottom: 36px;
  margin-top:36px;

  h3 {
    margin-bottom: @baseline;
    color: #555;
    font-size: @size-3;
  }

  p {
    color: #999;
  }

  button-submit {
    margin-top: 20px;
  }
}
