//// COLORS ////
////////////////

/*Main style*/
@c-primary:      #1a1919;
@c-secondary:    #3eb1c2;
@c-secondary-transparent: rgba(62, 177, 194, 0.24);
@c-secondary-transparent-dark: rgba(62, 177, 194, 0.3);
@c-brown:    #7d6f5e;
@c-light-brown: #ac7f49;
@c-green: #589441;

@c-light-grey: #eeeeee;
@c-grey: #606060;
@c-dark-grey: #1a1919;

@c-text: @c-grey;
@c-black: @c-dark-grey;

///// Components /////
//////////////////////
@c-booking-widget: @c-brown;
@c-booking-widget-active: @c-grey;
@c-booking-widget-my-account: @c-light-brown;

@c-datepicker: @c-dark-grey;

/*Signature chain style*/
@c-primary-sign: #7d6f5e;
@c-secondary-sign: #903938;


