<ul ng-if="products">
  <li ng-class="{'highlighted': product.highlighted, 'is-disabled': product.memberOnly && !isUserLoggedIn()}" ng-repeat="product in products">
    <div class="rate-description">
      <h4>
        <span ng-bind-html="product.name">
        </span>

        <earned-points ng-if="isUserLoggedIn() && product.price.pointsEarned">Earn
          <ng-pluralize count="getValuePer(product.price.pointsEarned, true)"
            when="{'1': '{} point', 'other': '{} points'}"></ng-pluralize>
        </earned-points>
      </h4>

      <p ng-bind-html="sanitize(product.descriptionShort || product.description)"></p>

      <ul class="action-links">
        <li><a href ng-click="openPriceBreakdownInfo(product)" ng-if="product.price.breakdowns.length">View Price Breakdown</a></li>
        <li><a href ng-click="openPoliciesInfo([product])" ng-if="product.policies">View Policies</a></li>
        <li><a href ng-click="openRoomDetailsDialog(product.description)" ng-if="openRoomDetailsDialog">Read More</a></li>
      </ul>
    </div>

    <pricing-info ng-switch="!availableRooms || availableRooms.indexOf(room.code) > -1">
      <div ng-switch-when="true">
        <p class="price-form" ng-if="room.priceFrom" itemprop="priceRange">
          from <span class="value">{{getValuePer(product.price.totalBase, true) | i18nCurrency: currencyCode}}</span>
        </p>

        <p class="price-form" ng-if="room.priceFrom" itemprop="priceRange">
          <span ng-if="pricePer === PP_NIGHT">per night</span><span ng-if="pricePer === PP_STAY">per stay</span>
        </p>

        <p class="unavailable" ng-if="!room.priceFrom">Please select dates to see the latest price</p>

        <a ng-if="!room.priceFrom" ng-click="goToRoom(details.meta.slug, room.meta.slug)" class="button">View Details</a>
        <a ng-if="room.priceFrom" ng-hide="product.memberOnly && !isUserLoggedIn()" ng-click="selectProduct(room.code, product.code)" class="button">Book Now</a>
      </div>

      <p class="unavailable error" ng-switch-when="false">
        <span ng-if="!isOverAdultsCapacity()">Not Available on Selected Dates</span>
        <span ng-if="isOverAdultsCapacity()">
          <span>Not available on these dates.<br></span>
          <span>Please call the hotel on <span itemprop="telephone"><a href="tel:{{details.tel1}}">{{details.tel1}}</a></span> for availability options or book using <a href ng-click="switchToMRBMode()">multiroom</a> booking.</span>
        </span>
      </p>
    </pricing-info>
  </li>

  <li ng-if="!products.length">
    <p class="unavailable error no-products" ng-if="availableRooms && availableRooms.indexOf(room.code) === -1">
      <span ng-if="!isOverAdultsCapacity()">Not Available on Selected Dates</span>
      <span ng-if="isOverAdultsCapacity()">
        <span>Not available on these dates.<br></span>
        <span>Please call the hotel on <span itemprop="telephone"><a href="tel:{{details.tel1}}">{{details.tel1}}</a></span> for availability options or book using <a href ng-click="switchToMRBMode()">multiroom</a> booking.</span>
      </span>
    </p>
  </li>
</ul>
