<div class="About__hero fullscreen">

  <div class="About__hero--info" ng-if="auth.isLoggedIn()">

    <h2 class="About__hero--tagline">
      _about_offer_title_
    </h2>
    <h1 class="About__hero--title"
         ng-click="gotoOffer(offers[0])">
      {{ offers[0].title }}
    </h1>
    <a ng-click="gotoOffer(offers[0])" class="button ghost">_view_more_</a>

  </div>

  <article class="HeroBenefits" ng-if="!auth.isLoggedIn()">

    <div class="HeroBenefits__benefit">
      <h2>_about_benefit_one_title_</h2>
      <p>_about_benefit_one_text_</p>
    </div>

    <div class="HeroBenefits__benefit">
      <h2>_about_benefit_two_title_</h2>
      <p>_about_benefit_two_text_</p>
    </div>

    <div class="HeroBenefits__benefit">
      <h2>_about_benefit_four_title_</h2>
      <p>_about_benefit_four_text_</p>
    </div>

    <div class="HeroBenefits__buttons">
      <button ng-click="auth.login()"
              class="HeroBenefits__button login">
        _login_
      </button>
      <button ng-click="auth.register()"
              class="HeroBenefits__button signup">
        _sign_up_
      </button>
    </div>

  </article>

  <booking-bar class="Home__booking-bar" size="small"></booking-bar>

</div>
