<div class="stars rating-trip-advisor img">
  <img class="logo" src="/static/images/v4/tripadvisor-logo.png">
  <img class="logo-symbol" src="/static/images/v4/tripadvisor-symbol.png">
  <span class="rating-description">
    #6 Best Value in New York City
  </span>
  <div class="spacer"></div>
  <div class="trip-advisor-ratings">
    <a ng-href="{{details.tripAdvisorUrl}}" target="_blank">
      <img ng-src="/static/images/v4/Stars.png" alt="tripadvisor rating">
    </a>
    <span class="number-of-reviews">2,121 Reviews</span>
  </div>
</div>