<div widget="best-offers">
  <div class="block--center">
    <h2>Our Hottest <strong>Offers</strong></h2>
  </div>

  <section class="best-offers__selection" grid-row >
    <article grid="4">
      <a ui-sref="hotel({propertyCode: 123})">
        <header>
          <img class="grid-img" src="//lorempixel.com/300/150/city/1" alt="Dummy alternative text">
        </header>
        <div>
          <h3>No Single Suppliment Deals!</h3>
          <p>Cliche cardigan fingerstache, chambray skateboard YOLO Cosby sweater tofu food truck jean shorts. Hoodie Vice beard, flannel butcher 90's flexitarian Bushwick semiotics Tumblr American Apparel. Disrupt Intelligentsia Helvetica fap.</p>
        </div>
      </a>
    </article>

    <article grid="4">
      <a ui-sref="hotel({propertyCode: 123})">
        <header>
          <img class="grid-img" src="//lorempixel.com/300/150/city/2" alt="Dummy alternative text">
        </header>
        <div>
          <h3>Fantastic City Breaks!</h3>
          <p>Pitchfork single-origin coffee gluten-free, deep v mixtape brunch artisan ennui fixie. Biodiesel quinoa aesthetic pop-up jean shorts.</p>
        </div>
      </a>
    </article>

    <article grid="4">
      <a ui-sref="hotel({propertyCode: 123})">
        <header>
          <img class="grid-img" src="//lorempixel.com/300/150/city/3" alt="Dummy alternative text">
        </header>
        <div>
          <h3>Getaway this summer from only $210</h3>
          <p>Chia authentic jean shorts typewriter, bitters quinoa wayfarers fingerstache gastropub bespoke fap trust fund. Vegan cray you probably haven't heard of them sriracha food truck. </p>
        </div>
      </a>
    </article>
  </section>

  <section class="best-offers__explore" grid-row >
    <div grid="12">
      <img src="//lorempixel.com/960/320/transport/3" alt="Dummy alternative text">
      <a ui-sref="hotel({propertyCode: 123})" class="overlay">
        <h3><span>Explore</span> <br>
          <strong>Malta</strong></h3>
        <p>43 hotels</p>
      </a>
    </div>
  </section>
</div>
