<h2 class="alt-room-title">_sorry_no_rooms_on_selected_dates_</h2>
<h3>_rooms_available_at_nearby_hotels_</h3>
<div class="alt-hotels">
  <div class="hotels__list">
    <ul class="entries entries--tiles" vertilize-container>
      <li class="item" ng-repeat="hotel in properties" ng-class="hotel.chainCode.toLowerCase()">
        <a class="item-image" ng-href="{{hotel.url}}" ng-click="navigateToHotel(hotel)">
          <div class="banner" ng-if="hotel.merchandisingBanner" ng-style="{'background-color': hotel.merchandisingBanner.bgColor, 'color': hotel.merchandisingBanner.textColor}">{{hotel.merchandisingBanner.text}}</div>
          <img ng-src="{{hotel.images[0].uri | cloudinaryImage : 700 : 630 : 'fill'}}" alt="Mobius hotel {{hotel.name}} photo"/>
        </a>
        <div class="ratings">
          <div class="brand" ng-if="displayPropertyChainBranding" ng-class="hotel.chainCode.toLowerCase()"></div>
          <div class="stars rating-trip-advisor img" ng-if="filterConfig.tripAdvisor.enable">
            <a ng-href="{{hotel.tripAdvisorUrl}}" target="_blank"><img ng-src="{{hotel.tripAdvisorRatingUrl}}" alt="tripadvisor rating"></a>
          </div>

          <div class="rating-default" ng-if="filterConfig.stars.enable && filterConfig.stars.displayStarsOnHotels">
            <ul class="star-rating">
              <li ng-repeat="i in [1,2,3,4,5]" ng-class="{'included': i <= hotel.rating}"></li>
            </ul>
          </div>
        </div>
        <div vertilize>
          <h2 ng-click="navigateToHotel(hotel)"><strong>{{hotel.nameLong}}</strong></h2>
          <h5 class="region-name" ng-if="config.displayHotelRegionName && hotel.regionName">{{hotel.regionName}}</h5>
        </div>
        <pricing-info>
          <button-submit role="button" tabindex="0" ng-click="navigateToHotel(hotel)">_price_from_ {{hotel.priceFrom | i18nCurrency: $root.currencyCode}}</button-submit>
        </pricing-info>
      </li>
    </ul>
  </div>
</div>
