
.viewport-mobile {

  .Header {
    padding: 5px 10px;
    height: @mobile-header-height;
  }

  .Header__logo {
    width: initial;
    height: 35px;
    padding-left: 10px;
  }

  .Header__profile {
    display: none;
  }

  .Header__buttons--preferences {
    display: none;
  }

  .Header__button.login,
  .Header__button.register {
    display: none;
  }

}
