
.viewport-mobile {

  .Header {
    padding: 20px 20px 25px 10px;
  }

  .Header__logo {
    width: initial;
    height: 35px;
    padding-left: 10px;
  }

  .Header__buttons--auth {
    display: none;
  }

  .Header__buttons--preferences {
    display: none;
  }

}
