<header grid-row ng-if="locationDetails">
  <h1 grid="6">{{locationDetails.nameShort}}</h1>
  <local-info ng-if="locationDetails.localInfo && locationDetails.localInfo.time" local-info="locationDetails.localInfo" grid="6"></local-info>
</header>

<section grid-row ng-if="locationDetails">
  <div grid="8">
    <p>{{locationDetails.description}}</p>
    <!--<a href ng-click="openLocationDetail(locationDetails)">_learn_more_about_ {{locationDetails.nameShort}}</a>-->
  </div>
  <view-more-images grid="4" class="has-no-link">
      <hero-slider data-has-notification-bar="false" on-slide-click="openGallery" data-counter-type="counter" content="previewImages"></hero-slider>

      <read-more ng-if="locationDetails.content.length && locationDetails.content[0].title">
        <p ng-bind-html="'_find_out_more_' | mainHeaderStyle"></p>
        <ul>
          <li ng-repeat="item in locationDetails.content | orderBy: 'order'"><a href="" ui-sref="locationInfo({regionSlug: regionSlug, locationSlug: locationDetails.meta.slug, infoSlug: item.slug})">{{item.title}}</a></li>
        </ul>
      </read-more>
    </view-more-images>
</section>

<header grid-row ng-if="regionDetails">
  <h1 grid="6">{{regionDetails.nameShort}}</h1>
</header>

<section grid-row ng-if="regionDetails">
  <div grid="8">
    <p>{{regionDetails.description}}</p>
  </div>
  <view-more-images grid="4">
    <a ng-if="regionDetails.images.length > 1" href class="gallery-link" ng-click="openGallery()">_view_more_images_</a>
    <hero-slider data-has-notification-bar="false" data-on-slide-click="openGallery" data-counter-type="counter" content="regionDetails.images"></hero-slider>
  </view-more-images>
  <hr>
</section>

  <section widget="hotels" id="hotels" ng-class="{'compare-enabled': compareEnabled}">
    <header class="hotels__header">
      <h1 ng-bind-html="'_hotels_page_title_' | mainHeaderStyle"></h1>
      <ng-pluralize ng-if="config.displayHotelsCount" class="hotels-counter" count="(hotels|filter:hotelFilter|filter:filterByTags).length" when="{'1': '1 _hotel_found_', 'other': '{} _hotels_found_'}"></ng-pluralize>
    </header>
    <div class="hotels__list">
      <section ng-show="hotels.length === 0">_no_hotels_found_</section>

      <div class="mobile-click-handler" ng-click="selectProduct(room.code, product.code, null, null, product.upSell, $event)">
    </div>

      <ul class="entries entries--{{hotelViewMode}}" vertilize-container>
        <li ng-if="(hotelViewMode === 'list' || hotelViewMode === 'tiles') || isMobile" class="item" ng-repeat="hotel in hotels | orderBy : currentOrder.sort" grid="{{hotelViewMode === 'list' ? 3 : 1}}" ng-class="hotel.chainCode.toLowerCase()">
            <div ng-if="isMobile" class="mobile-click-handler" ng-click="navigateToHotel(hotel)">
              </div>
          <div class="hotel-images"  ng-if="!isMobile">
            <a class="item-image" ng-href="{{hotel.url}}" ng-click="navigateToHotel(hotel)" ng-if="!isMobile">
              <div class="banner" ng-if="hotel.merchandisingBanner" ng-style="{'background-color': hotel.merchandisingBanner.bgColor, 'color': hotel.merchandisingBanner.textColor}">{{hotel.merchandisingBanner.text}}</div>
              <img ng-src="{{hotel.images[0].uri}}" alt="Mobius hotel {{hotel.name}} photo"/>
            </a>

            <div class="hotel-small-images-container">
              <a class="item-image-small" ng-href="{{hotel.url}}" ng-click="navigateToHotel(hotel)" ng-if="!isMobile">
                <img ng-src="{{hotel.images[1].uri}}" alt="Mobius hotel {{hotel.name}} photo"/>
              </a>
              <a class="item-image-small item-image-small-margin" ng-href="{{hotel.url}}" ng-click="navigateToHotel(hotel)" ng-if="!isMobile">
                <img ng-src="{{hotel.images[2].uri}}" alt="Mobius hotel {{hotel.name}} photo"/>
              </a>
              <a class="item-image-small item-image-small-margin" ng-href="{{hotel.url}}" ng-click="navigateToHotel(hotel)" ng-if="!isMobile">
                <img ng-src="{{hotel.images[3].uri}}" alt="Mobius hotel {{hotel.name}} photo"/>
              </a>
            </div>
          </div>
          <div class="hotel-details-wrapper">
            <img ng-if="!isMobile" src="/static/images/sandman-logo.png" alt="Sandman logo" class="sandman-logo">
            <div ng-if="!isMobile" class="sandman-logo"></div>
            <div class="hotel-details">
                <a class="item-image" ng-href="{{hotel.url}}" ng-click="navigateToHotel(hotel)" ng-if="isMobile">
                    <div class="banner" ng-if="hotel.merchandisingBanner" ng-style="{'background-color': hotel.merchandisingBanner.bgColor, 'color': hotel.merchandisingBanner.textColor}">{{hotel.merchandisingBanner.text}}</div>
                    <img ng-src="{{hotel.images[0].uri}}" alt="Mobius hotel {{hotel.name}} photo"/>
                  </a>
              <h2 ng-if="hotelViewMode === 'list'" ng-click="navigateToHotel(hotel)"><strong>{{hotel.nameLong}}</strong></h2>
              <h2 ng-if="hotelViewMode === 'tiles' && !isMobile" ng-click="navigateToHotel(hotel)"><strong>{{hotel.nameLong}}</strong></h2>
              <h5 class="region-name" ng-if="config.displayHotelRegionName && hotelViewMode === 'tiles' && hotel.regionName && !isMobile">{{hotel.regionName}}</h5>
              <p ng-if="!isMobile" class="description" ng-bind-html="hotel.descriptionShort"></p>
            </div>
            <div class="hotel-pricing">
              <pricing-info>
                <p class="price available left" ng-if="hotel.available">
                  _price_from_ <span class="value">{{hotel.priceFrom | i18nCurrency: $root.currencyCode}}</span> _per_night_
                  <span ng-if="hotel.available && isUserLoggedIn() && hotel.minPointsRequired">
                    <br />_or_ <span class="value">{{hotel.minPointsRequired}}</span> _points_
                  </span>
                </p>
                <p class="price unavailable" ng-class="{'not-available-hotel' : !hotel.available}">
                  <button-submit ng-click="navigateToHotel(hotel)">{{(isMobile) ? '>' : '_view_rooms_'}}</button-submit>
                </p>

                <p class="price unavailable" ng-if="!hotel.available && hasDates()">
                  _not_available_on_dates_title_
                </p>
                <button-submit role="button" tabindex="0" ng-click="navigateToHotel(hotel)">{{(isMobile) ? '>' : '_view_more_'}}</button-submit>
              </pricing-info>
            </div>
            <div class="clear"></div>
          </div>
        </li>
      </ul>
      <button class="compare-direction-btn" ng-click="shiftHotelCarousel(false)" ng-disabled="!(comparisonIndex > 0)" ng-if="hotelViewMode === 'compare' && !isMobile && (compareHotels|filter:{userHidden:false}| filter : hotelFilter | filter: filterByTags).length">Prev</button>
      <button class="compare-direction-btn" ng-click="shiftHotelCarousel(true)" ng-disabled="!(comparisonIndex < ((compareHotels|filter:{userHidden:false}| filter : hotelFilter | filter: filterByTags).length - compareHotelLimit))" ng-if="hotelViewMode === 'compare' && !isMobile && (compareHotels|filter:{userHidden:false}| filter : hotelFilter | filter: filterByTags).length">Next</button>
    </div>
  </section>


  <!-- Growl notifications -->
  <growl-alerts class="growl-alerts-dir" booking-message="'_statistics_booking_message_'" views-message="'_statistics_views_message_'" searches-message="'_statistics_searches_message_'" languages-message="'_languages_message_'" retention-message="'_retention_message_'" minute="'_minute_'" minutes="'_minutes_'" hour="'_hour_'" hours="'_hours_'" day="'_day_'" days="'_days_'" week="'_week_'" weeks="'_weeks_'" position-reference="config.bookingStatistics.positionReference" display-time="config.bookingStatistics.displayTime" display-delay="config.bookingStatistics.displayDelay"></growl-alerts>
