<div class="ui-info">
  <main>
    <image-carousel width="341" height="307" fill="'fill'" images="data.upsell.images"></image-carousel>
    <span class="price-difference">_only_value_more_{{user.firstName ? ', ' + user.firstName : ''}}</span>
    <div class="details">
      <h1>_would_you_like_to_upgrade_</h1>
      <div class="description" ng-bind-html="data.upsell.displayDescription"></div>
      <div class="button-strip">
        <a class="button ghost" href ng-click="goToReservationDetails()">_continue_without_upgrading_</a>
        <a class="button" href ng-click="goToReservationDetails(data.upsell.roomCode)">_upgrade_my_room_</a>
      </div>
    </div>
  </main>
</div>
