<breadcrumbs ng-if="config.displayBreadcrumbsOnReservationDetail"
             stickable="main-header">
</breadcrumbs>

<main class="reservation-page" ng-class="{'no-hero': !bookingConfig.displayHeroSlider}">
  <div class="grid-wrapper">
    <div class="preloader" ng-show="preloader.visible"></div>

    <reservation-widget grid-row class="reservation-assurance-active">
      <div>

        <!-- RESERVATION DETAILS -->
        <div class="ReservationDetails__sidebar-container">
          <aside
            ng-if="!isMobile"
            class="ReservationDetails__overview">
            <section class="room-data">
              <div class="section-padding">
                <h4>{{property.nameLong}}</h4>

                <h3>
                  {{roomDetails.name}}
                  <a href ng-click="openOtherRoomsDialog()" ng-if="reservation.rooms.length > 1">
                    + {{ reservation.rooms.length - 1 }} _more_
                    <ng-pluralize count="reservation.rooms.length" when="{'2': '_room_', 'other': '_rooms_'}"></ng-pluralize>
                  </a>
                </h3>

                <div class="room-data-details">
                  <span class="chain-logo"></span>
                  <p class="desc" ng-bind-html="reservation.rooms[0].productName"></p>
                  <!-- <p class="price" ng-if="formatting !== 'suppressRate'"><strong>{{getProductPricePerNight(getTotal('totalBaseAfterPricingRules')) | i18nCurrency: currencyCode}}</strong> <em>_per_night_</em></p> -->
                </div>
              </div>

              <div class="image-wrapper" ng-if="roomDetails.images[0].uri">
                <img ng-src="{{roomDetails.images[0].uri}}" alt="{{ roomDetails.name }}">
              </div>
              <div ng-if="!roomDetails.images[0].uri" class="room-image-placeholder"></div>
            </section>

            <section class="reservation-data section-padding">
              <div ng-if="!bookingConfig.dataOverviewSingleLine" class="data">
                <table>
                  <tbody>
                    <tr>
                      <th>_check_in_:</th>
                      <td>{{ reservation.arrivalDate | dateTime }}</td>
                    </tr>
                    <tr>
                      <th>_check_out_:</th>
                      <td>{{ reservation.departureDate | dateTime }}</td>
                    </tr>
                    <tr>
                      <th>_adults_:</th>
                      <td>{{ getCount('adults') }}</td>
                    </tr>
                    <tr>
                      <th>_children_:</th>
                      <td>{{ getCount('children') }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div ng-if="bookingConfig.dataOverviewSingleLine" class="data">
                <table>
                  <tbody>
                    <tr>
                      <th>_check_in_:</th>
                      <td>{{ reservation.arrivalDate | dateTime }}</td>
                    </tr>
                    <tr>
                      <th>_check_out_:</th>
                      <td>{{ reservation.departureDate | dateTime }}</td>
                    </tr>
                    <tr>
                      <th>_adults_:</th>
                      <td>{{ getCount('adults') }}</td>
                    </tr>
                    <tr>
                      <th>_children_:</th>
                      <td>{{ getCount('children') }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div
                class="charges"
                ng-class="{'extended': breakdown.extended}"
                ng-init="breakdown.extended = false">
                <table
                ng-if="reservation && reservation.rooms[0].priceDetail">
                  <thead >
                    <tr class="main">
                      <th>_room_charges_:</th>
                      <td>{{getBreakdownTotalBaseAfterPricingRules() | i18nCurrency: defaultCurrencyCode}}</td>
                    </tr>

                    <tr class="breakdown"
                        ng-repeat="breakdown in reservation.rooms[0].priceDetail.breakdowns | orderBy:'date'"
                        ng-class="{'last': $last}">
                      <th>{{formatDate(breakdown.date, 'DD MMM YYYY')}}:</th>
                      <td>{{getBreakdownTotalDate(breakdown.date) | i18nCurrency: defaultCurrencyCode}}</td>
                    </tr>

                    <tr class="main" ng-if="getBreakdownTotalTaxes(false) > 0">
                      <th>_taxes_:</th>
                      <td>{{getBreakdownTotalTaxes(false) | i18nCurrency: defaultCurrencyCode}}</td>
                    </tr>

                    <tr class="breakdown"
                        ng-repeat="taxItem in reservation.rooms[0].priceDetail.taxDetails.policyTaxItemDetails"
                        ng-class="{'last': $last}"
                        ng-if="!taxItem.policyTaxItemIsFee">
                      <th>
                        {{taxItem.policyTaxItem.policyTaxItemCode}}
                        <span class="info"
                              ng-if="taxItem.policyTaxItem.policyTaxItemDescription &&
                                     taxItem.policyTaxItem.policyTaxItemDescription !== ''"
                              tooltips
                              tooltip-side="top"
                              tooltip-template="{{taxItem.policyTaxItem.policyTaxItemDescription}}">
                          ?
                        </span>
                      </th>
                      <td>{{getBreakdownTotalTax(taxItem.policyTaxItem.policyTaxItemCode) | i18nCurrency: defaultCurrencyCode}}</td>
                    </tr>

                    <tr class="main" ng-if="getBreakdownTotalTaxes(true) > 0">
                      <th>_applicable_fees_:</th>
                      <td>{{getBreakdownTotalTaxes(true) | i18nCurrency: defaultCurrencyCode}}</td>
                    </tr>

                    <tr class="breakdown"
                        ng-repeat="taxItem in reservation.rooms[0].priceDetail.feeDetails.policyTaxItemDetails"
                        ng-class="{'last': $last}">
                      <th>
                        {{taxItem.policyTaxItem.policyTaxItemCode}}
                        <span class="info"
                              ng-if="taxItem.policyTaxItem.policyTaxItemDescription &&
                                     taxItem.policyTaxItem.policyTaxItemDescription !== ''"
                              tooltips
                              tooltip-side="top"
                              tooltip-template="{{taxItem.policyTaxItem.policyTaxItemDescription}}">
                          ?
                        </span>
                      </th>
                      <td>
                        {{getBreakdownTotalFee(taxItem.policyTaxItem.policyTaxItemCode) | i18nCurrency: defaultCurrencyCode}}
                      </td>
                    </tr>

                    <tr ng-if="getTotal('totalAfterTax')">
                      <th>_total_:</th>
                      <td>{{getTotal('totalAfterTax') | i18nCurrency: $root.currencyCode}}</td>
                    </tr>

                    <!-- Discount -->
                    <tr class="main" ng-if="getCountPriceDetail('totalDiscount') != 0">
                      <th>_gift_card_value_:</th>
                      <td>{{getCountPriceDetail('totalDiscount') | i18nCurrency: defaultCurrencyCode}}</td>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- Additional taxes
                            <tr ng-if="getTotal('totalAdditionalTaxes')">
                              <th>_taxes_:</th>
                              <td>{{getTotal('totalAfterTax') - getTotal('totalBaseAfterPricingRules') | i18nCurrency: $root.currencyCode}}</td>
                            </tr>
                            -->

                    <!-- Additional fees
                            <tr ng-if="getTotal('totalAdditionalFees')">
                              <th>_fees_:</th>
                              <td>{{getTotal('totalAdditionalFees') | i18nCurrency: $root.currencyCode}}</td>
                            </tr>
                            -->
                  </tbody>
                </table>
              </div>
            </section>

            <div
              class="total-price-container"
              ng-if="formatting !== 'suppressRate'">
              <table class="total-table">
                <tbody>
                  <tr>
                    <th>_your_price_:</th>
                    <td ng-if="reservation.pointValue && loyaltyProgramEnabled">{{reservation.pointValue}} _points_</td>
                    <td ng-if="!reservation.pointValue">{{getCountPriceDetail('totalAfterTaxAfterPricingRules') | i18nCurrency: defaultCurrencyCode}}</td>
                  </tr>
                </tbody>
              </table>
              <div class="links">
                <span ng-show="!noBreakdown" ng-if="formatting !== 'suppressRate'">
                  <a href ng-click="breakdown.extended = !breakdown.extended">
                    <span ng-if="!breakdown.extended">_view_price_breakdown_</span>
                    <span ng-if="breakdown.extended">_hide_price_breakdown_</span>
                  </a>
                  <span class="separator"> | </span>
                </span>
                <a href
                   ng-click="openPoliciesInfo()"
                   target="_blank">
                  _policies_
                </a>
              </div>
            </div>
          </aside>
        </div>

        <div class="ReservationDetails__container">
          <div class="side-shadow padding-top">
            <div class="booking-confirmation-container">
              <h4 ng-if="config.displayConfirmationNumberInDetails">
                <span>_booking_reference_:</span> {{ reservationCode }}
              </h4>
              <span ng-if="config.displayBookingDateInDetails"
                    class="booking-date">
                _booked_: <span>{{ reservation.bookingDate | dateTime }}</span>
              </span>
            </div>

            <section class="map-section">
              <div ng-class="{'grid-wrapper':viewSettings.fullWidthSections}">
                <hotel-location hotel-details="property" ng-if="property"></hotel-location>
              </div>
            </section>

            <div ng-if="config.displayActionsInDetails"
                 class="actions"
                 ng-include="'layouts/components/reservation-actions.html'">
            </div>
          </div>


        <!-- RESERVATION DETAILS MOBILE -->
        <div ng-if="isMobile">
          <aside
            class="ReservationDetails__overview">
            <section class="room-data">
              <div class="section-padding">
                <h4>{{property.nameLong}}</h4>

                <h3>
                  {{roomDetails.name}}
                  <a href ng-click="openOtherRoomsDialog()" ng-if="reservation.rooms.length > 1">
                    + {{ reservation.rooms.length - 1 }} _more_
                    <ng-pluralize count="reservation.rooms.length" when="{'2': '_room_', 'other': '_rooms_'}"></ng-pluralize>
                  </a>
                </h3>

                <div class="room-data-details">
                  <span class="chain-logo"></span>
                  <p class="desc" ng-bind-html="reservation.rooms[0].productName"></p>
                  <!-- <p class="price" ng-if="formatting !== 'suppressRate'"><strong>{{getProductPricePerNight(getTotal('totalBaseAfterPricingRules')) | i18nCurrency: currencyCode}}</strong> <em>_per_night_</em></p> -->
                </div>
              </div>

              <div class="image-wrapper" ng-if="roomDetails.images[0].uri">
                <img ng-src="{{roomDetails.images[0].uri}}" alt="{{ roomDetails.name }}">
              </div>
              <div ng-if="!roomDetails.images[0].uri" class="room-image-placeholder"></div>
            </section>

            <section class="reservation-data section-padding">
              <div ng-if="!bookingConfig.dataOverviewSingleLine" class="data">
                <table>
                  <tbody>
                    <tr>
                      <th>_check_in_:</th>
                      <td>{{ reservation.arrivalDate | dateTime }}</td>
                    </tr>
                    <tr>
                      <th>_check_out_:</th>
                      <td>{{ reservation.departureDate | dateTime }}</td>
                    </tr>
                    <tr>
                      <th>_adults_:</th>
                      <td>{{ getCount('adults') }}</td>
                    </tr>
                    <tr>
                      <th>_children_:</th>
                      <td>{{ getCount('children') }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div ng-if="bookingConfig.dataOverviewSingleLine" class="data">
                <table>
                  <tbody>
                    <tr>
                      <th>_check_in_:</th>
                      <td>{{ reservation.arrivalDate | dateTime }}</td>
                    </tr>
                    <tr>
                      <th>_check_out_:</th>
                      <td>{{ reservation.departureDate | dateTime }}</td>
                    </tr>
                    <tr>
                      <th>_adults_:</th>
                      <td>{{ getCount('adults') }}</td>
                    </tr>
                    <tr>
                      <th>_children_:</th>
                      <td>{{ getCount('children') }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div
                class="charges"
                ng-class="{'extended': breakdown.extended}"
                ng-init="breakdown.extended = false">
                <table
                ng-if="reservation && reservation.rooms[0].priceDetail">
                  <thead >
                    <tr class="main">
                      <th>_room_charges_:</th>
                      <td>{{getBreakdownTotalBaseAfterPricingRules() | i18nCurrency: defaultCurrencyCode}}</td>
                    </tr>

                    <tr class="breakdown"
                        ng-repeat="breakdown in reservation.rooms[0].priceDetail.breakdowns | orderBy:'date'"
                        ng-class="{'last': $last}">
                      <th>{{formatDate(breakdown.date, 'DD MMM YYYY')}}:</th>
                      <td>{{getBreakdownTotalDate(breakdown.date) | i18nCurrency: defaultCurrencyCode}}</td>
                    </tr>

                    <tr class="main" ng-if="getBreakdownTotalTaxes(false) > 0">
                      <th>_taxes_:</th>
                      <td>{{getBreakdownTotalTaxes(false) | i18nCurrency: defaultCurrencyCode}}</td>
                    </tr>

                    <tr class="breakdown"
                        ng-repeat="taxItem in reservation.rooms[0].priceDetail.taxDetails.policyTaxItemDetails"
                        ng-class="{'last': $last}"
                        ng-if="!taxItem.policyTaxItemIsFee">
                      <th>
                        {{taxItem.policyTaxItem.policyTaxItemCode}}
                        <span class="info"
                              ng-if="taxItem.policyTaxItem.policyTaxItemDescription &&
                                     taxItem.policyTaxItem.policyTaxItemDescription !== ''"
                              tooltips
                              tooltip-side="top"
                              tooltip-template="{{taxItem.policyTaxItem.policyTaxItemDescription}}">
                          ?
                        </span>
                      </th>
                      <td>{{getBreakdownTotalTax(taxItem.policyTaxItem.policyTaxItemCode) | i18nCurrency: defaultCurrencyCode}}</td>
                    </tr>

                    <tr class="main" ng-if="getBreakdownTotalTaxes(true) > 0">
                      <th>_applicable_fees_:</th>
                      <td>{{getBreakdownTotalTaxes(true) | i18nCurrency: defaultCurrencyCode}}</td>
                    </tr>

                    <tr class="breakdown"
                        ng-repeat="taxItem in reservation.rooms[0].priceDetail.feeDetails.policyTaxItemDetails"
                        ng-class="{'last': $last}">
                      <th>
                        {{taxItem.policyTaxItem.policyTaxItemCode}}
                        <span class="info"
                              ng-if="taxItem.policyTaxItem.policyTaxItemDescription &&
                                     taxItem.policyTaxItem.policyTaxItemDescription !== ''"
                              tooltips
                              tooltip-side="top"
                              tooltip-template="{{taxItem.policyTaxItem.policyTaxItemDescription}}">
                          ?
                        </span>
                      </th>
                      <td>
                        {{getBreakdownTotalFee(taxItem.policyTaxItem.policyTaxItemCode) | i18nCurrency: defaultCurrencyCode}}
                      </td>
                    </tr>

                    <tr ng-if="getTotal('totalAfterTax')">
                      <th>_total_:</th>
                      <td>{{getTotal('totalAfterTax') | i18nCurrency: $root.currencyCode}}</td>
                    </tr>

                    <!-- Discount -->
                    <tr class="main" ng-if="getCountPriceDetail('totalDiscount') != 0">
                      <th>_gift_card_value_:</th>
                      <td>{{getCountPriceDetail('totalDiscount') | i18nCurrency: defaultCurrencyCode}}</td>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- Additional taxes
                            <tr ng-if="getTotal('totalAdditionalTaxes')">
                              <th>_taxes_:</th>
                              <td>{{getTotal('totalAfterTax') - getTotal('totalBaseAfterPricingRules') | i18nCurrency: $root.currencyCode}}</td>
                            </tr>
                            -->

                    <!-- Additional fees
                            <tr ng-if="getTotal('totalAdditionalFees')">
                              <th>_fees_:</th>
                              <td>{{getTotal('totalAdditionalFees') | i18nCurrency: $root.currencyCode}}</td>
                            </tr>
                            -->
                  </tbody>
                </table>
              </div>
            </section>

            <div
              class="total-price-container"
              ng-if="formatting !== 'suppressRate'">
              <table class="total-table">
                <tbody>
                  <tr>
                    <th>_your_price_:</th>
                    <td ng-if="reservation.pointValue && loyaltyProgramEnabled">{{reservation.pointValue}} _points_</td>
                    <td ng-if="!reservation.pointValue">{{getCountPriceDetail('totalAfterTaxAfterPricingRules') | i18nCurrency: defaultCurrencyCode}}</td>
                  </tr>
                </tbody>
              </table>
              <div class="links">
                <span ng-show="!noBreakdown" ng-if="formatting !== 'suppressRate'">
                  <a href ng-click="breakdown.extended = !breakdown.extended">
                    <span ng-if="!breakdown.extended">_view_price_breakdown_</span>
                    <span ng-if="breakdown.extended">_hide_price_breakdown_</span>
                  </a>
                  <span class="separator"> | </span>
                </span>
                <a href
                   ng-click="openPoliciesInfo()"
                   target="_blank">
                  _policies_
                </a>
              </div>
            </div>
          </aside>
        </div>
      </div>

    </reservation-widget>
  </div>
</main>
