<div class="About__hero">

  <div class="About__hero--info">

    <h2 class="About__hero--tagline">
      _about_tagline_
    </h2>
    <h1 class="About__hero--title">
      _about_title_one_
    </h1>
    <h1 class="About__hero--title">
      _about_title_two_
    </h1>

  </div>

</div>

<div class="Home__hero--info">

  <h2 class="About__hero--tagline">
    _about_tagline_
  </h2>
  <h1 class="About__hero--title">
    _about_title_one_
  </h1>
  <h1 class="About__hero--title">
    _about_title_two_
  </h1>

  <button ng-click="openBookingBar()"
          class="Home__hero--button">
    _search_
  </button>

</div>

<booking-bar class="Home__booking-bar" size="small"></booking-bar>

<main class="grid-wrapper About">

  <div class="About__benefits">

    <div class="About__logo">
      <h1>_about_signup_title_</h1>
    </div>

    <div class="About__benefits--overview">

      <div class="About__benefit">
        <span class="lowest-rates"></span>
        <h2>_about_benefit_one_title_</h2>
        <p>_about_benefit_one_text_</p>
      </div>

      <div class="About__benefit">
        <span class="get-rewarded"></span>
        <h2>_about_benefit_two_title_</h2>
        <p>_about_benefit_two_text_</p>
      </div>

      <div class="About__benefit">
        <span class="privileges"></span>
        <h2>_about_benefit_three_title_</h2>
        <p>_about_benefit_three_text_</p>
      </div>

      <div class="About__benefit">
        <span class="points"></span>
        <h2>_about_benefit_four_title_</h2>
        <p>_about_benefit_four_text_</p>
      </div>

    </div>

    <div class="About__benefits--offer">
      <h2>_about_offer_title_</h2>
      <span>_about_offer_subtitle_</span>
      <img src="/static/images/offer-bg@3x.png">
    </div>

  </div>

  <div class="About__signup">
    <p>_about_signup_text_</p>
    <button ng-click="auth.register()">_sign_up_</button>
  </div>

  <div class="About__testimonial">
    <recommendation></recommendation>
  </div>

  <!-- Scroll to top button -->
  <scroll-to-top class="back-to-top"
                 ng-click="scrollToTop()"
                 scroll-position="scroll"
                 ng-class="{visible: scroll > scrollTopTrigger}">
    <span>_back_to_top_</span>
  </scroll-to-top>

  <!-- Growl notifications -->
  <growl-alerts class="growl-alerts-dir"
                languages-message="'_languages_message_'"
                retention-message="'_retention_message_'">
  </growl-alerts>
</main>
