@import "../../lbe/variables";

/*
 |======================================
 | General
 |======================================
 */
@highlight-border: solid 1px @lbe-c-primary;
@highlight-bg: rgba(227, 163, 20, 0.17);
@highlight-title-color: @lbe-c-4;

@highlight-title-size: 20px;
@highlight-title-height: 24px;
@highlight-subtitle-size: 15px;
@highlight-subtitle-height: 18px;

/*
 |======================================
 | Desktop
 |======================================
 */
@highlight-padding: 16px 38px 28px 25px;
@highlight-image-size: 76;
@highlight-image-size-px: @highlight-image-size * 1px;
@highlight-image-offset: @highlight-image-size / 2;
@highlight-image-offset-px: (@highlight-image-offset - (2 * @highlight-image-offset)) * 1px;

/*
 |======================================
 | Mobile
 |======================================
 */
@highlight-mobile-padding: 28px 5px 7px 5px;
@highlight-mobile-image-size: 50;
@highlight-mobile-image-size-px: @highlight-mobile-image-size * 1px;
@highlight-mobile-image-offset: @highlight-mobile-image-size / 2;
@highlight-mobile-image-offset-px: (@highlight-mobile-image-offset - (2 * @highlight-mobile-image-offset)) * 1px;
@highlight-mobile-title-padding: 0 0 0 9px;
