<div class="ui-info">
  <header>
    <h1 ng-bind-html="data.roomDetails.name | mainHeaderStyle"></h1>
    <button-close role="button" aria-label="Close" ng-click="cancel()"></button-close>
  </header>

  <main>
    <image-carousel width="400" height="400" fill="'fill'" images="data.roomDetails.image"></image-carousel>
    <div class="details">
      <div class="description" ng-bind-html="sanitize(data.roomDetails.description)"></div>
      <div class="extra">
        <span class="price" ng-if="data.roomDetails.priceFrom && data.roomDetails.config.otherRooms.displayPrice == 'text'">
          _price_from_ <span class="value">{{data.roomDetails.priceFrom | i18nCurrency: $root.currencyCode}}</span>
        </span>
        <a ng-click="cancel()" class="button" ui-sref="room({propertySlug: data.propertySlug, roomSlug: data.roomDetails.meta.slug})"><span ng-if="data.roomDetails.config.otherRooms.displayPrice == 'text' || !data.roomDetails.priceFrom">_view_room_</span><span ng-if="data.roomDetails.config.otherRooms.displayPrice == 'button' && data.roomDetails.priceFrom">_book_now_ _price_from_ <span class="value">{{data.roomDetails.priceFrom | i18nCurrency: $root.currencyCode}}</span></a>
      </div>
    </div>
  </main>
</div>
