<div class="ui-info" ng-style="{'background-color': campaign.campaignStyle.backgroundColor}">
  <main>
    <a ng-href="{{$root.campaign.uri}}" ng-click="cancel()">
      <img ng-if="campaign.interstitialAdvert.images.uri" ng-src="{{campaign.interstitialAdvert.images.uri}}" alt="{{campaign.interstitialAdvert.images.alt}}"/>
      <button class="campaign-cta" ng-if="campaign.callToAction" ng-style="{'background-image': 'linear-gradient(to bottom, '+ campaign.campaignStyle.secondaryColor +', '+campaign.campaignStyle.primaryColor+')'}">{{campaign.callToAction ? campaign.callToAction : '_book_now_'}}</button>
    </a>
  </main>
  <button-close role="button" aria-label="Close" ng-click="cancel()"></button-close>
</div>
