<div class="ui-info">
  <header>
    <h1>Please enter password</h1>
    <button-close role="button" aria-label="Close" ng-click="cancel()"></button-close>
  </header>

  <main>
    <div style="margin-top:20px;">
      <input type="password" ng-model="password" placeholder="Password" />
    </div>
    <div style="margin-top:10px;">
      <span ng-show="password && data.passwordInvalid">Sorry the password entered is incorrect please try again.</span>
    </div>
  </main>

  <footer>
    <button class="button" ng-click="ok()">_continue_</button>
  </footer>
</div>
