<div class="profile-page-background">

  <breadcrumbs ng-if="!config.hideBreadcrumbs" stickable="main-header"></breadcrumbs>

  <main class="grid-wrapper ProfilePage" id="jsProfile">

    <div class="preloader" ng-show="preloader.visible"></div>

    <profile-page grid-row>

      <header grid="12" ng-if="!config.headerPartial.display">
        <h1 ng-bind-html="'_profile_page_title_' | mainHeaderStyle" class="page-title"></h1>
      </header>

      <form name="form" ng-if="!config.displaySummary || config.displaySummary && !showSummary" ng-class="{'submitted': submitted}">

        <div grid="9">

          <h2 class="header">_profile_page_about_title_</h2>

          <fieldset>

            <form-element
              ng-if="profileTitles"
              class="input-left small">
              <select name="profileTitle"
                      required
                      chosen
                      disable-search="true"
                      class="ProfileForm__input"
                      placeholder-text-single="_title_label_"
                      ng-model="profileData.title"
                      ng-options="title.id as title.name for title in profileTitles">
              </select>
            </form-element>

            <form-element
              class="input-center medium">
              <input
                type="text"
                id="profileFname"
                name="profileFname"
                class="ProfileForm__input"
                ng-model="profileData.firstName"
                required
                ng-class="{'ng-submitted': form.$submitted && form.profileFname.$error.required}"
                ng-pattern="$root.generalValidationPattern"
                placeholder="_first_name_label_"/>
            </form-element>

            <form-element
              class="input-right medium">
              <input
                type="text"
                id="profileLname"
                name="profileLname"
                class="ProfileForm__input"
                ng-model="profileData.lastName"
                required
                ng-class="{'ng-submitted': form.$submitted && form.profileLname.$error.required}"
                ng-pattern="$root.generalValidationPattern"
                placeholder="_last_name_label_"/>
            </form-element>

          </fieldset>

          <h2 class="header">_profile_page_contact_title_</h2>

          <fieldset>

            <form-element
              class="input-left">
              <input
                type="text"
                id="profileEmail"
                name="profileEmail"
                class="ProfileForm__input"
                ng-model="profileData.email"
                ng-class="{'ng-submitted': form.$submitted && form.profileEmail.$error.required}"
                ng-pattern="$root.generalValidationPattern"
                placeholder="_email_label_"
                required/>
            </form-element>

            <form-element
              class="input-right">
              <input
                type="text"
                id="profileTel"
                name="profileTel"
                class="ProfileForm__input"
                ng-model="profileData.tel1"
                ng-class="{'ng-submitted': form.$submitted && form.profileTel.$error.required}"
                ng-pattern="$root.generalValidationPattern"
                placeholder="_phone_label_"/>
            </form-element>

            <form-element>
              <input
                type="text"
                id="profileAddress1"
                name="profileAddress1"
                class="ProfileForm__input"
                ng-model="profileData.address1"
                ng-class="{'ng-submitted': form.$submitted && form.profileAddress1.$error.required}"
                ng-pattern="$root.generalValidationPattern"
                placeholder="_address_one_label_"
                required/>
            </form-element>

            <form-element>
              <input
                type="text"
                id="profileAddress2"
                name="profileAddress2"
                class="ProfileForm__input"
                ng-model="profileData.address2"
                ng-class="{'ng-submitted': form.$submitted && form.profileAddress2.$error.required}"
                ng-pattern="$root.generalValidationPattern"
                placeholder="_address_two_label_"/>
            </form-element>

            <form-element
              class="input-left">
              <input
                type="text"
                id="profileCity"
                name="profileCity"
                class="ProfileForm__input"
                ng-model="profileData.city"
                ng-class="{'ng-submitted': form.$submitted && form.profileCity.$error.required}"
                ng-pattern="$root.generalValidationPattern"
                placeholder="_city_label_"
                required/>
            </form-element>

            <form-element
              class="input-right">
              <input
                type="text"
                id="profileStateProvince"
                name="profileStateProvince"
                class="ProfileForm__input"
                ng-model="profileData.stateProvince"
                ng-class="{'ng-submitted': form.$submitted && form.profileStateProvince.$error.required}"
                ng-pattern="$root.generalValidationPattern"
                placeholder="_state_label_"/>
            </form-element>

            <form-element
              class="input-left">
              <input
                type="text"
                id="profileZip"
                name="profileZip"
                class="ProfileForm__input"
                ng-model="profileData.zip"
                ng-class="{'ng-submitted': form.$submitted && form.profileZip.$error.required}"
                ng-pattern="$root.generalValidationPattern"
                placeholder="_postcode_label_"
                required/>
            </form-element>

            <form-element
              ng-if="profileCountries"
              class="input-right">
              <select name="profileCountry"
                      chosen
                      disable-search="true"
                      data-placeholder=""
                      class="ProfileForm__input"
                      ng-model="profileData.localeId"
                      ng-options="country.id as country.name for country in profileCountries | orderBy:'name'"
                      required>
              </select>
            </form-element>

            <form-element ng-if="profileContacts">
              <select name="profileContact"
                      required
                      chosen
                      disable-search="true"
                      class="ProfileForm__input"
                      placeholder-text-single="_prefered_contact_label_"
                      ng-model="profileData.preferredContactMethodCode"
                      ng-options="contact.id as contact.name for contact in profileContacts">
              </select>
            </form-element>

          </fieldset>

          <h2 class="header">_profile_page_newletter_title_</h2>

          <fieldset>

            <form-element>
              <label for="profileOptedIn" class="input-checkbox">
                <input type="checkbox" id="profileOptedIn" ng-model="profileData.optedIn"/>
                _subscribe_label_
              </label>
            </form-element>

          </fieldset>

          <p class="feedback-msg" ng-if="success">_profile_updated_success_message_</p>

          <p class="feedback-msg error" ng-if="error">
            <span ng-if="genericError">_generic_error_message_</span>
            <span ng-if="missingFieldsError">_missing_fields_message_</span>
          </p>

          <button-submit role="button" tabindex="0" ng-click="update(form, profileData)">_save_</button-submit>
        </div>


      </form>

      <div grid="12" ng-show="config.displayMap">
        <hr class="small">
        <hotel-location id="jsLocation" hotel-details="propertyDetails"></hotel-location>
      </div>

    </profile-page>

    <!--<scroll-to-top class="back-to-top" ng-click="scrollToTop()" scroll-position="scroll" ng-class="{visible: scroll > scrollTopTrigger}"><span>_back_to_top_</span></scroll-to-top>-->
  </main>
  <div ng-include="'layouts/siteMap.html'" class="site-map" ng-if="footerConfig.displaySitemap"></div>

</div>
