dialog.loyalty-upsell {
  padding: 20px;
  div.ui-info main {
    .details {
      max-height: 260px;
      overflow-x: auto;
      h1:after {
        content: none;
      }
    }
    .button-strip {
      a.button {
        margin-bottom: 0;
      }
    }
    span.price-difference {
      background: @c-primary;
    }
  }
}
