@import "./variables";
@import "./mobile";

.full-width() when (@instagram-feed-full-screen = true) {
  width: 100vw;
  margin-left: calc(~'-50vw + 50%');
}

.title-uppercase() when (@instagram-feed-title-uppercase = true) {
  text-transform: uppercase;
}

.title-uppercase() when (@instagram-feed-title-bold = true) {
  font-weight: bold;
}

.instagram-feed {

  text-align: center;
  margin-bottom: @lbe-widget-bottom-margin;
  .full-width();

  .instagram-feed__title {
    font-size: @instagram-feed-title-font-size;
    color: @c-black;
    font-family: Raleway;
    .title-uppercase();
    .title-uppercase();
  }

  .instagram-feed__thumbnail {
    border: @instagram-feed-thumbnail-border;
    width: @instagram-feed-thumbnail-size;
    height: @instagram-feed-thumbnail-size;
    &:not(:last-of-type) {
      margin-right: @instagram-feed-thumbnail-margin-right;
    }
  }

}
