@import "./variables";
@import "./mobile";

.full-width() when (@instagram-feed-full-screen = true) {
  width: 100vw;
  margin-left: calc(~'50% - 50vw');
}

.title-uppercase() when (@instagram-feed-title-uppercase = true) {
  text-transform: uppercase;
}

.title-uppercase() when (@instagram-feed-title-bold = true) {
  font-weight: bold;
}

.title-divider() when (@instagram-feed-title-divider = true) {
  &:after {
    content: url('@{lbe-img-prefix}/@{instagram-feed-title-divider-img}');
    display: block;
  }
}

.instagram-feed {

  text-align: center;
  margin-bottom: @lbe-widget-bottom-margin;
  .full-width();

  .instagram-feed__title {
    font-size: @instagram-feed-title-font-size;
    color: @c-primary;
    font-family: @ff-primary;
    font-weight: normal;
    position: relative;
    .title-uppercase();
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    span {
      background: #fff;
      padding: 0 15px;
    }
    &:before {
      border-top: 1px solid @c-primary;
      content:"";
      margin: 0 auto; /* this centers the line to the full width specified */
      position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
      top: 50%; left: 0; right: 0; bottom: 0;
      width: 95%;
      z-index: -1;
    }
  }

  .instagram-feed__thumbnail {
    border: @instagram-feed-thumbnail-border;
    width: @instagram-feed-thumbnail-size;
    height: @instagram-feed-thumbnail-size;
    &:not(:last-of-type) {
      margin-right: @instagram-feed-thumbnail-margin-right;
    }
  }

}

.instagram-feed__images {
  margin-top: 40px;
}
