@import "../../lbe/variables";
/*
 |=============================
 | General
 |=============================
 */
@instagram-feed-full-screen: true;
@instagram-feed-title-uppercase: true;
@instagram-feed-title-bold: true;
@instagram-feed-title-divider: true;
@instagram-feed-title-divider-img: 'divider-orange.png';

/*
 |=============================
 | Desktop
 |=============================
 */
@instagram-feed-title-font-size: 19px;
@instagram-feed-thumbnail-size: 221px;
@instagram-feed-thumbnail-margin-right: 16px;
@instagram-feed-thumbnail-border: solid 1px #969696;

/*
 |=============================
 | Mobile
 |=============================
 */
@instagram-feed-mobile-max-thumbnails: 2;
@instagram-feed-mobile-max-thumbnails-n: @instagram-feed-mobile-max-thumbnails + 1;
@instagram-feed-mobile-thumbnail-size: 175px;

@instagram-feed-mobile-thumbnail-margin-right: 5px;
@instagram-feed-mobile-thumbnail-width-offset: @instagram-feed-mobile-thumbnail-margin-right + @instagram-feed-mobile-thumbnail-margin-right;
