/////////////////////
//// BASE STYLES ////
/////////////////////

body {
  background: @cBackgroundBody;
  color: @cBase;
}

main {
  position: relative;
}

nav {

  ol, ul {
    list-style: none;
  }
}

a {
  color: @cLink;

  &:hover,
  &:focus {
    color: lighten(@cLink, 10%);
  }
}

hr {
  .no-spaces();
  height: 0px;
  margin-top: -1px;
  border: none;
  border-bottom: 1px dashed @hrColor;
}
