html {
  font-family: @fontDefault;
  font-size: @htmlFontSize;
}

body {
  .open-sans;
  background-color: @bodyBackground;
  color: @colorTextDefault;
}

nav {
  ol, ul {
    list-style: none;
  }
}

[typo-grid] {
  background: url('../images/baseline.png');
}

