// FONTS
@fontDefault: Verdana, Geneva, sans-serif;

// COLORS
// Buttons
@colorButtonDefault: #2aae49;
@colorButtonDefaultHover: #42c661;
@colorButtonTextDefault: #fff;

// HEADER
@colorHeaderBackground: #151e1c;
@colorMenuTextDefault: #fff;

// FOOTER
@colorFooterTextDefault: #aeaeae;

// BORDERS
@borderRadiusButtonDefault: 8px;

// PADDINGS
@paddingHeaderDefault: 10px;

.paddingButtonDefault {
  padding: 8px 30px;
}

// TRANSITIONS
@transitionDurationDefault: .2s;

// SHADOWS
.textShadowDark {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
