/////////////////////
//// MAIN CONFIG ////
/////////////////////

// When adding new widgets, or updating v2 to v4
// let's use the following variables.

// If some color / dimension repeat multiple times
// and it's not here, please add it.

// As the work progresses we'll slowly be getting
// rid of the old variables from v2.

//// COLORS ////
////////////////

// color values used mapped to color names
@c-black: #333;
@c-white: #fefefe;
@c-grey:  #888;

@c-green: #39b54a;
@c-brown: #b08f5e;
@c-blue: #237fbc;
@c-red: #e10f2e;

// color names mapped to meanings
// these should be used in the app
@c-base:            @c-black;
@c-background-body: @c-white;
@c-link:            @c-brown;
@c-button:          @c-green;
@c-hr:              @c-grey;
@c-text:            @c-black;
@c-error:           @c-red;

//// LAYOUT ////
////////////////

@baseline: 22px;

//// FONTS ////
///////////////

// font sizes
@size-base: 13px;

// This is maybe not optimal, but it
// corresponds the best to the PSDs,
// so let's use it for now.
// We can change the values in the future.
@size--2: round(.69*@size-base); // 9
@size--1: round(.92*@size-base); // 12
@size-0:  @size-base;
@size-1:  round(1.08*@size-base); // 14
@size-2:  round(1.15*@size-base); // 15
@size-3:  round(1.23*@size-base); // 16
@size-4:  round(1.38*@size-base); // 18
@size-5:  round(1.54*@size-base); // 20

// font families
@ff-default:   'Open Sans', Helvetica, Arial, sans-serif;
@ff-condensed: 'Open Sans Condensed', sans-serif;

//// BREAKPOINTS ////
/////////////////////

// these are different than the old ones
// let's use these please

@small-mobile-max:     ~"(max-width: 479px)";
@large-mobile-min:     ~"(min-width: 480px)";

@large-mobile-max:     ~"(max-width: 767px)";
@tablet-portrait-min:  ~"(min-width: 768px)";

@tablet-portrait-max:  ~"(max-width: 979px)";
@tablet-landscape-min: ~"(min-width: 980px)";


//// LIBRARIES ////
/////////////////////

@fa-font-path: '../font';
