/////////////////////
//// MAIN CONFIG ////
/////////////////////

//// COLORS ////
////////////////

@cBlack: #333;
@cWhite: #fefefe;
@cGrey:  #888;

@cGreen: #39b54a;
@cBrown: #b08f5e;

// colors to be applied in app
@cBase:           @cBlack;
@cBackgroundBody: @cWhite;
@cLink:           @cBrown;
@cButton:         @cGreen;
@hrColor:         @cGrey;

//// LAYOUT ////
////////////////

@baseline: 22px;

//// FONTS ////
///////////////

// font sizes
@fsBase: 13px;

@fs-2:   round(.69*@fsBase); // 9
@fs-1:   round(.92*@fsBase); // 12
@fs0:    @fsBase;
@fs1:    round(1.08*@fsBase); // 14
@fs2:    round(1.15*@fsBase); // 15
@fs3:    round(1.23*@fsBase); // 16
@fs4:    round(1.38*@fsBase); // 18
@fs5:    round(1.54*@fsBase); // 20

// font families
@ffDefault:   'Open Sans', Helvetica, Arial, sans-serif;
@ffCondensed: 'Open Sans Condensed', sans-serif;

//// TRANSITIONS ////
/////////////////////

@tdDefault: .2s;
@tdShort:   .05s;
@tdLong:    .6s;
@tdLonger:  .7s;

//// BREAKPOINTS ////
/////////////////////

@smallMobileMax:         ~"(max-width: 479px)";
@largeMobileMin:         ~"(min-width: 480px)";

@largeMobileMax:         ~"(max-width: 767px)";
@tabletPortraitMin:      ~"(min-width: 768px)";

@tabletLandscapeMax:     ~"(max-width: 979px)";
@tabletLandscapeMin:     ~"(min-width: 980px)";

//// GRID SETTINGS ////
///////////////////////

@gridWidth:       1000px;
@gridGap:         40px;
@gridColumnCount: 12;
