///////////////////////////////////////
//// CONTAINERS AND LAYOUT HELPERS ////
///////////////////////////////////////

.wrapper {
  position: relative;
  max-width: @gridWidth - @gridGap;
  margin: 0 auto;
  padding: 0 @baseline;
  .clearfix();

  @media only screen and @tablet-portrait-min {

  }

  @media only screen and @tablet-portrait-min {

  }
}
