header {
  background-color: @colorHeaderBackground;

  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 999;

  nav {
    ul {
      .noSpaces;

      width: 100%;

      float: left;

      li {
        float: left;

        a {
          color: @colorMenuDefault;
          text-decoration: none;
        }
      }
    }
  }
}
