header {
  background-color: @colorHeaderBackground;

  overflow: auto;

  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 999;

  nav {
    ul {
      .noSpaces;

      width: 100%;

      float: left;

      li {
        float: left;

        padding: 0px @paddingHeaderDefault;
        display: inline-block;

        a {
          color: @colorMenuTextDefault;
          text-decoration: none;
        }
      }
    }
  }

  .button-login {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

    float: right;
  }
}
