/*  ==========================================
    Currency symbols
    ========================================== */
[currency="pound"]:before {
  content: '£';
}


/*  ==========================================
    Others
    ========================================== */

.vertical-divider {
  display: block;
  position: absolute;
  top: unit((@baseline / @htmlFontSize) * 2, em);
  bottom: unit((@baseline / @htmlFontSize) * 2, em);
  width: 1px;
  background-color: @borderColorDefault;
}

/*  ==========================================
    Media Queries helpers
    ========================================== */

@media @lessThenTablet {
  [rwd="desktop"] {
    display: none !important;
  }
}

@media @moreThenMobile {
  [rwd="mobile"] {
    display: none !important;
  }
}

