/////////////////
//// HELPERS ////
/////////////////

// will only be displayed on desktop
@media only screen and @tabletLandscapeMax {
  [rwd="desktop"] {
    display: none !important;
  }
}

// will only be displayed on tablets and bigger
@media only screen and @largeMobileMax {
  [rwd="tablet"] {
    display: none !important;
  }
}

// will only be displayed on large mobiles and bigger
@media only screen and @smallMobileMax {
  [rwd="mobile-large"] {
    display: none !important;
  }
}
