////////////////
//// MIXINS ////
////////////////

// these are the mixins copied from v2 that can be used in v4
// add more if needed

// shadows - we can use mixin for shadow to make sure all shadows look same
.box-shadow(@x: 0, @y: 2px, @size: 4px, @color: rgba(0, 0, 0, 0.1)) {
  box-shadow: @arguments;
}

.inner-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
  box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
}

// layout
.no-spaces() {
  margin: 0px;
  padding: 0px;
}

.clearfix {
  *zoom: 1;
  &:before,
  &:after {
      content: " ";
      display: table;
  }

  &:after {
      clear: both;
  }
}

// image replacement
.ir() {
  font: ~"0/0" a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.vertical-align() {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
