
.offers-heading(){
  display: inline-block;
  margin: 1em 0;
  padding: 0 1em;
  border-bottom: 1px @colorBestOffersTitle solid;
  color: @colorBestOffersTitle;
  text-transform: uppercase;
  &:extend(.open-sans-light);
  .fs-24;
  line-height: 48px;
}

.offers-title(){
  margin: 0.25em 0;
  color: @colorBestOffersTitle;
  &:extend(.open-sans-light);
  .fs-21;
}
