////////////////////
//// TYPOGRAPHY ////
////////////////////

// typography defaults
body {
  font-family: @ffDefault;
  font-size: @fs0;
  line-height: @baseline;
  font-weight: 400;
}

// margins and paddings
p, ul, table, h1, h2, .h1(), .h2() {
  margin-bottom: @baseline;
}

h2, h3, h4, h5, h6, .h2(), .h3(), .h4(), .h5(), .h6() {
  margin-top: @baseline;
}

// font sizes and weights
h1, strong, th {
  font-weight: 700;
}

h2, .h2() {
  font-weight: 300;
}

h1, h2, .h1(), .h2() {
  font-size: @fs5;
}

h3, h4, .h3(), .h4() {
  font-size: @fs3;
  font-weight: 700;
}
