//- BACK TO TOP BUTTON -//
.back-to-top{
  bottom: 50px;
  background: rgba(172, 160, 152, 0.5);
  .viewport-mobile &{
    bottom: 80px;
  }
  .floating-bar-active &{
    bottom: 110px;
    .viewport-mobile &{
      bottom: 80px;
    }
  }
}