//- BUTTONS -//
@c-button: @c-secondary;


//- Button Submit
.typeform-share.button,
.button,
.button-gray,
button-submit {
  display: inline-block;
  padding: 0 @baseline;
  min-width: 6*@baseline;
  box-sizing: border-box;
  text-align: center;
  text-transform:uppercase;
  background: @c-button;
  color: #fff;
  cursor: pointer;
  font-weight: 400;
  font-size: @size-0;
  line-height: 40px;
  height: 38px;
  text-shadow:none;
  box-shadow: none;
  border-radius:0px;
  border-bottom:0px none;

  &:active,
  &:focus,
  &:hover {
    background: lighten(@c-button, 5%);
    box-shadow: none;
  }

  &.hide{
    display: none;
  }
}

//- Button Next -> used in Reservation
button-next,
button.next {
  padding:0 30px;
  font-size:14px;
  font-weight:bold;
  border-radius:0px;
  font-family:@ff-default;
  text-transform:uppercase;
  box-shadow:none;
  // Arrow in right part of button
  &:after {
    display:none;
  }
}
