//- DATEPICKER -//

//- Calendar Table
.ui-datepicker-calendar {
  height: 342px;

  .viewport-mobile &{
    height: 275px;
  }

  tbody {
    th, td {
      vertical-align:middle;
      text-align:center;
    }
    td.date-range-selected {
      background:#df253b;
    }
  }
}
