/////////////////////
//// HERO SLIDER ////
/////////////////////


// GENERIC STYLES
hero-slider {

  height: 550px;
  box-shadow: none;
  margin-top: 150px;

  .slider-controls {

    .pages {
      opacity: 1;
      bottom: 0px;
      span {
        height: 11px;
        width: 11px;
        background-color: #fff;
        opacity: 1;
        &.active {
          background-color: @c-secondary;
        }
        &:hover{
          background-color: @c-secondary;
        }
      }
    }
  }

  .slider-content {

    .hero-slide {

      .content-inner {
        position: absolute;
        width: 100%;
        max-width: none;
        top: auto;
        bottom: 0;
        background: rgba(255, 255, 255, 0.87);
        padding: 10px 0 30px;
        display: none;

        h1, h2 {
          position: relative;
          padding: 0;
          color: @c-primary;
          width: 960px;
          margin: 0 auto;
          left: 0;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          &:before {
            content: none;
          }
          span{
            padding: 0;
          }
        }

        h1 {
          background-color: transparent;
          line-height: 38px;
        }

        h2 {
          top: 0;
          font-size: @size-0;
          background-color: transparent;
        }
      }
    }
  }
}


// MOBILE SPECIFIC STYLES
@media only screen and @small-mobile-max {
  hero-slider {
    height: 158px;
    margin-top: 90px;
    .slider-controls {
      .pages {
        bottom: 0px;
        span {
          height: 7px;
          width: 7px;
        }
      }
    }
    .slider-content{
      .hero-slide {
        .content-inner {
          padding: 10px 10px 25px 20px;
          box-sizing: border-box;
          h1, h2 {
            display: inline;
          }
          h1 {
            .fs-18;
            line-height: 22px;
            margin-bottom: 5px;
          }

          h2 {
            .fs-16;
            margin-bottom: 10px;
            line-height: 18px;
          }
        }
      }
    }
  }
}

@media only screen and @large-mobile-min and @tablet-portrait-max{
  hero-slider {
    height: 158px;
    margin-top: 60px;
    .slider-controls {
      .pages {
        bottom: 0px;
        span {
          height: 7px;
          width: 7px;
        }
      }
    }
    .slider-content{
      .hero-slide {
        .content-inner {
          padding: 10px 10px 25px 20px;
          box-sizing: border-box;
          h1, h2 {
            display: inline;
          }
          h1 {
            .fs-18;
            line-height: 22px;
            margin-bottom: 5px;
          }

          h2 {
            .fs-16;
            margin-bottom: 10px;
            line-height: 18px;
          }
        }
      }
    }
  }
}
