hotel-location {
  margin-bottom: 70px;
  display: inline-block;
  width: 100%;

  .viewport-mobile & {
    margin-bottom: 30px;
  }

  header {
    text-align: center;
    margin-bottom: 30px;

    h1 {
      color: @c-main-site-grey;
      font-size: 34px;
      line-height:40px;
      text-transform: initial;
      margin-bottom: 0;
    }

    h2 {
      font-size: 18px;
      line-height: 32px;
      color: @c-main-site-grey;
    }
  }

  .map-wrapper {
    map {
      height: 200px;
    }
  }

  contact-list {
    margin-bottom: @baseline;
    // Address
    contact-item {
      div {
        padding-left: 20px !important;
        text-align: left !important;

        .viewport-mobile & {
          padding-left: 0 !important;
          text-align: left !important;
        }
      }

      &:nth-of-type(3) div {
        padding-left: 20px !important;
        text-align: left !important;

        .viewport-mobile & {
          padding-left: 0 !important;
        }
      }
    }
  }

  contact-list,
  transportation-list {
    strong {
      color: @c-very-dark-grey;
    }
  }

  i {
    top: 3px;
    left: 0;
    color: @c-secondary;
    margin-right: 5px;
  }

  img {
    position: absolute;
    top: 0;
    left: 40px;
  }

  h2 {
    font-size: @size-3;
  }

  h3,
  h4 {
    font-size: @size-0;
    font-weight: bold;
  }

  h4 {
    color: @c-primary;
  }

  contact-item,
  transportation-item {
    position: relative;
    box-sizing: border-box;
    flex: 1 0 25%;
    display: block;
    width: 25%;

    .viewport-mobile & {
      flex: 1 0 100%;
      width: 100%;
      text-align: left;
      margin-bottom: 5px;

      div {
        padding-left: 0 !important;
      }
    }

    div {
      position: relative;
      padding-left: 20px;
    }
  }

  contact-item {
    div {
      a {
        color: @c-grey;
      }
    }
  }
  // Address
  address {
    display: inline-block;
    vertical-align: top;
  }
}
