/////////////////////
/// HOTEL HEADER ////
/////////////////////
.hotel-detail__header {
  .logo {
    img {
      display:none;
    }
  }
  .title-wrapper {
    .title {
      color:@c-main-site-grey;
      font-size:34px;
      text-transform:initial;
      line-height:60px;
    }
  }
}
