/////////////////////
/// HOTEL HEADER ////
/////////////////////
.hotel-detail__header {
  .logo {
    img {
      display:none;
    }
  }
  .title-wrapper {
    .title {
      text-transform:initial;
      font-variant:small-caps;
    }
  }
}
