//////////////////////////
//// VIEW MORE IMAGES ////
//////////////////////////

//- About Us, Hotel Detail, Hotels (location)

view-more-images {
  margin: 0px 20px !important;

  hero-slider {
    box-shadow: none;
    height: 175px;

    .slider-content {

      .hero-slide {
        overflow: visible;
        height: 150px;

        .content-inner {
          display: none;
        }
      }
    }
  }
}
