///////////////////////
//// TARGET CONFIG ////
///////////////////////

// Override defaults vars with target specific

//// COLORS ////
////////////////
@c-primary:      #ACA097;
@c-secondary:    #cd1e32;
@c-grey:         #585858;
@c-gray:         @c-grey;
@c-very-dark-grey:    #333333;
@c-dark-grey:    #4a4a4a;
@c-mid-grey:     #747474;
@c-light-grey:   #b4b2b1;
@c-very-light-grey:   #f4f4f4;
@c-white: #fff;

@c-form-border-grey:   #979797;
@c-gray-reservation: @c-form-border-grey;
@c-border-grey:   #d9d9d9;

@c-link: @c-secondary;
@c-text: @c-dark-grey;

///// Components /////
//////////////////////
@c-booking-widget: @c-secondary;
@c-booking-widget-active: @c-secondary;

@c-datepicker: @c-secondary;

//fonts
@din-font-path: '../font/dinpro';
@goudytrajan-font-path: '../font/goudytrajan';
@ff-default: 'DINPro-Regular', Helvetica, Arial, sans-serif;
@ff-bold: 'DINPro-Bold', Helvetica, Arial, sans-serif;
@ff-light: 'DINPro-Light', Helvetica, Arial, sans-serif;
@ff-heading: 'GoudyTrajan-Regular', serif;
