@import "./mobile";

profile-page {

  .ProfileForm__input {
    color: #000 !important;
  }

  header {
    .viewport-mobile & {
      padding-top: 20px;
    }
  }

  form {
    font-family: @ff-primary;
    font-size: 16px;
    h2 {
      color: @c-primary;
      font-size: 18px;
      font-weight: bold;
      line-height: 24px;
    }
    fieldset {
      form-element {
        input,
        input[type="text"],
        input[type="email"] {
          background-color: #F7F7F7;
          box-shadow: none;
          border: none;
        }
        .chosen-container {
          padding-left: 20px;
          border-radius: 4px;
          height: 56px;
          font-weight: normal;
          background-color: #F7F7F7;

          .chosen-single {
            height: 56px;
            line-height: 56px;
            span {
              font-size: 14px;
            }
          }
        }
      }
    }
    button-submit {
      margin-right: 20px;
      width: auto;
    }
  }
}
