
.viewport-mobile {

  .Menu__close-icon-positionner {
    height: @mobile-header-height;
  }

  .Menu__items {
    width: calc(~'100% - 30px');
    top: -@mobile-header-height;
  }

  .Menu__items--item {
    font-size: 18px;
    line-height: 39px;
  }

  .Menu__items--highlight {
    font-size: 14px;
    line-height: 50px;
  }

  .Menu__sublinks-wrapper {
    .equal-split-box {
      flex-flow: column nowrap;
    }
    .Menu__items--subitem {
      line-height: 50px;
      font-size: 14px;
    }
  }

}
