@import "./mobile";

.mobile-search-button-wrapper {
  display: none;
}

.HeroBenefits {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('@{img-prefix}/carousel/slider-2.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  height: 610px;
  padding-top: 50px;
  .viewport-mobile & {
    padding-top: 22px;
    height: auto;
   }
}

.HeroBenefits__whitebox {
  margin: 0 auto 50px auto;
  border: 1px solid #fff;
  height: 560px;
  max-width: 1212px;
  .viewport-mobile & {
    width: 90%;
    margin: 0 auto 22px auto;
    height: auto;
   }
}

.HeroBenefits__subtitle {
    color: #FFFFFF;
    padding: 95px 0 0 90px;
    width: 60%;
    min-width: 600px;
    h1 {
      font-family: @ff-secondary;
      line-height: 70px;
      font-size: 66px;

      .viewport-mobile & {
        width: 45%;
        margin: 47px 30px 15px 30px;
        color: white;
        font-size: 26px;
        line-height: 30px;
        padding: 0;
       }
    }
    h2 {
      font-family: @ff-secondary;
      font-size: 35px;
      line-height: 56px;

      .viewport-mobile & {
        width: 45%;
        margin: 0 30px 0 30px;
        color: white;
        font-size: 18px;
        line-height: 22px;
        padding: 0;
       }
    }
}

.HeroBenefits__signup {
  margin-top: 40px;
  .viewport-mobile & {
    width: 57%;
    margin-top: 20px;
   }

  .HeroBenefits__button {
    width: 200px;
    margin-right: 20px;
    height: 45px;
    color: #fff;
    background-color: #000;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;

    letter-spacing: 2px;
    border-radius: 50px;
    transition: all 200ms;

    .viewport-mobile & {
      width: 125px;
     }

    &:hover {
      color: #000;
      background-color: #fff;
    }

  }
}
