.viewport-mobile {

  .HeroBenefits {
    padding-bottom: 15px;
    min-height: 30vh;
  }

  .HeroBenefits__benefits {
    display: none;
  }

  .HeroBenefits__subtitle {
    font-size: 18px;
    line-height: 24px;
    padding: 15px 0;
    height: auto;
    h1 {
     font-size: 18px;
     line-height: 24px;
     padding: 0px 30px;
    }
  }

  .HeroBenefits__signup {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    .HeroBenefits__button {
      min-width: 140px;
      margin: 0 5px;
      height: 50px;
      margin-bottom: 10px;

      &.book-now {
        color: #A97437;
        background-color: #fff;
        width: 90%;
      }
    }
  }
}
