////////////////
//// FOOTER ////
////////////////

.floating-bar-active footer {
  margin-bottom: 70px;
  .viewport-mobile & {
    margin-bottom: 0;
  }
}

/*
.floating-bar-active footer {
  margin-bottom: 170px;
  .viewport-mobile & {
    margin-bottom: 0;
  }
}
*/

footer {
  padding-top: @baseline;
  color: @c-dark-grey;
  font-size: @size-0;
  line-height: @baseline * 2;
  text-align: center;

  .viewport-mobile & {
    display: inline-block;
    margin-bottom: 0px;
    padding-top: 10px;
  }

  @media print {
   display: none;
  }

  //- Wrapper
  .wrapper {
    display: flex;
    margin-bottom: 0px;
    padding: 0;
    .viewport-mobile & {
      display: block;
      padding-left: 10px;
    }
    > div {
      display: block;
    }
  }

  //- Static text
  p {
    flex: none;
    color: @c-dark-grey;
    line-height: 21px;
    margin-bottom: 14px;
    font-size: 13px;
    font-weight: 300;
    a{
      color: @c-dark-grey;
      &:hover{
        color: @c-dark-grey;
        text-decoration: underline;
        opacity: 1;
      }
    }

    &.copyright{
      font-size: 10px;
      display: none;
    }
    .viewport-mobile & {
      margin-bottom: 20px;
      display: none;
      &.copyright{
        display: block;
        position: relative;
        top: -10px;
        margin-bottom: 0px;
      }
    }

  }

  //- Navigation
  nav {
    flex: none;
    text-align: center;
    margin-bottom: 14px;

    ul{
      line-height: 21px;

      li {
        display: inline-block;
        padding: 0 5px;

        &:first-of-type {
          padding-left: 0;
        }

        &:last-of-type {
          padding-right: 0;
        }

        a{
          font-size: @size--1;
          color: @c-dark-grey;
          text-transform: uppercase;
          font-weight: 300;
          &:hover{
            color: @c-dark-grey;
            text-decoration: underline;
          }

        }
      }
    }


  }

  social-links {

    .viewport-mobile &{
      margin: 0;
    }

    li {
      margin: 0 8px;
      .viewport-mobile &{
        margin: 0 6px;
      }
    }

    a {
      background: url(../../../images/sprite-social.png) no-repeat;
      border-radius: 0;
      height: 32px;
      line-height: 32px;
      width: 32px;

      &:hover,
      &:focus,
      &:visited {
        background: url(../../../images/sprite-social.png) no-repeat;
      }

      &.blog:hover,
      &.blog {
        background-position: 0 0;
      }

      &.facebook:hover,
      &.facebook {
        background-position: -32px 0;
      }

      &.twitter:hover,
      &.twitter{
        background-position: -64px 0;
      }

      &.instagram:hover,
      &.instagram{
        background-position: -96px 0;
      }

      &.google:hover,
      &.google{
        background-position: -128px 0;
      }

      &:before {
        display: none
      }

    }
  }

  // MOBILE SPECIFIC STYLES
  @media only screen and @large-mobile-max {

    //- Navigation
    nav{
      display: block;
    }

    //- Copyright
    p {
      line-height: 16px;
      padding-right: 16px;
    }

  }

  &.main,
  &.special-footer {
    background-color: #dedede;
    border-top: none;
    height: 161px;
    width: 100%;
    .viewport-mobile &{
      height: auto;
    }
  }
}
