.alt-products-dialog {
  .ui-info {
    main {
      h2 {
        font-size:18px;
        line-height:22px;
        font-weight:600;
        color:#606060;
        text-transform: uppercase;
        margin-bottom: 20px;
      }
    }
  }
}
