////////////////////////
//// MODAL - BADGES ////
////////////////////////

.dialog-badges {
  width: 700px;

  //- Main Content

  main {
    display: flex;
    padding: @baseline 0;
  }

  //- List of Badges
  badges-list {
    flex: 1;
    flex-flow: wrap;
    display: flex;
    justify-content: space-between;
    padding: 0 @baseline/2;

    border-right: 1px dashed #ddd;
  }
    //- Badge icon
    badge-icon {
      border-radius: 100%;
      flex: 0 0 71px; // width = 71px
      height: 71px;
      margin: @baseline / 2;

      img { border-radius: 100%; }
    }

  //- Selected Badge
  badge-selected {
    flex: 1;
    padding: 0 @baseline;

    text-align: center;

    //- Name
    h2 {
      color: @c-brown;

      font-size: @size-3;
      line-height: @baseline * 2;
    }

    //- Image
    img {
      border-radius: 100%;
      display: block;
      height: 140px;
      margin: 0 auto @baseline auto;
      width: 140px;
    }

    //- Description
    p {
      color: #999;
    }

  }
}
