.dialog-campaign {
  border:0px none;
  button-close {
    color:white;
    position: absolute;
    right: 0;
    top:0;
    font-size:20px;
  }
  .ui-info {
    main {
      padding:45px;
      img {
        max-width:445px;
      }
    }
  }
}
