// NOTE: Used for associated rooms atm. Can be extended to other modals
dialog.details {
  .modal-header {
    border-bottom: 1px solid #bbb;
    margin: 0 -20px;
    padding: 0 20px;

    h1 {
      font-size: @size-4;
      margin-bottom: 10px;
    }

    .button-close {
      top: 20px;
      right: 12px;
    }
  }

  .modal-body {
    @image-size: 400px;
    width: @image-size * 2;

    image-carousel {
      display: block;
      width: 50%;
      float: left;
      overflow: hidden;

      .image-wrapper {
        width: @image-size;
        height: @image-size;

        img {
          width: @image-size;
          height: auto;
          background-size: cover;
        }
      }

      @thumbnail-size: 50px;

      ul {
        float: left;
        width: @image-size;
        margin: 6px 0px;
        overflow: hidden;

        li {
          display: inline-block;
          float: left;
          width: @thumbnail-size;
          height: @thumbnail-size;
          margin: 0 3px;

          &:first-of-type {
            margin-left: 0px;
          }

          &:last-of-typ {
            margin-right: 0px;
          }

          img {
            width: @thumbnail-size;
            height: @thumbnail-size;
            position: absolute;
          }
        }
      }
    }

    .details {
      float: left;
      width: 50%;
      margin-bottom: 10px;

      .description,
      .extra {
        padding-left: 10px;
      }

      .description {
        height: @image-size;
        overflow-y: auto;
        padding: 10px;

        p,
        div {
          padding: 0 10px;
          color: @c-grey;
        }

        div + div,
        p + p {
          margin-top: 10px;
        }
      }

      .extra {
        margin: 20px 0 30px;

        .price {
          color: @c-grey;
          .value {
            font-size: @size-4 * 1.2;
            color: @c-link;
            padding-left: 10px;
          }
        }

        .view-more {
          float: right;

          i {
            .fa;
            padding: 0 10px;

            &:before {
              content: @fa-var-eye;
            }
          }
        }
      }
    }
  }

  &.addons {
    .ui-info {
      padding-top: 10px;
    }

    .modal-body {

      .description {
        padding: 20px 10px 10px 20px;
      }

      .extra {
        margin: 0 0 20px !important;
        padding-left: 20px;

        overflow: auto;

        .modal-body {
          .clearfix;
        }

        .add-extra {
          color: @c-link;
            margin: 10px 0px;
            font-size: @size-1;
            font-weight: 600;
        }

        .add-confirm,
        .add-confirm-points {
          min-width: 160px;
          height: 40px;
          line-height: 40px;
        }

        .add-confirm {
          float: left;
        }

        .add-confirm-points {
          float: right;
        }

        small {
          opacity: 0.75;
          font-size: 0.85em;
          font-style: italic;
        }
      }
    }
  }
}
