/////////////////////////
//// MODAL - DETAILS ////
/////////////////////////

// NOTE: Used for associated rooms atm. Can be extended to other modals

dialog {
  &.details {
    main {
      @image-size: 350px;
      width: 800px;

      image-carousel {
        display: block;
        width: 50%;
        float: left;
        overflow: hidden;

        .viewport-mobile &{
          width: 100%;
        }

        .image-wrapper {
          width: @image-size;
          margin-top: 10px;
          border: 2px solid @c-mid-grey;

          img {
            width: @image-size;
            height: auto;
            background-size: cover;
            display: inherit;
          }
        }

        @thumbnail-size: 50px;

        ul {
          float: left;
          width: @image-size;
          margin: 6px 0px;
          overflow: hidden;

          li {
            display: inline-block;
            float: left;
            width: @thumbnail-size;
            height: @thumbnail-size;
            margin: 10px 3px;
            border: 2px solid @c-mid-grey;

            &:first-of-type {
              margin-left: 0px;
            }

            &:last-of-typ {
              margin-right: 0px;
            }

            img {
              width: @thumbnail-size;
              height: @thumbnail-size;
              position: absolute;
            }
          }
        }
      }

      .details {
        float: left;
        width: 50%;
        margin-bottom: 10px;

        .viewport-mobile &{
          width: 100%;
          .description {
            padding: 10px 0;
            height: auto;
            p,
            div {
              padding: 0;
            }
          }
          .extra{
            padding: 0;
            .price{
              display: block;
              margin-bottom: 10px;
            }
            .view-more {
              float: none;
            }
          }
        }

        .description,
        .extra {
          padding-left: 10px;
        }

        .description {
          height: @image-size;
          overflow-y: auto;
          padding: 10px 5px 0 5px;

          em{
            font-weight: 700;
            font-style: italic;
          }

          p,
          div {
            //padding: 20px 10px 10px 10px;
            color: @c-grey;
          }

          div + div,
          p + p {
            margin-top: 10px;
          }
        }

        .extra {
          margin: 39px 0 30px;

          .price {
            color: @c-grey;
            .value {
              font-size: @size-4 * 1.2;
              color: @c-link;
              padding-left: 10px;
            }
          }

          .button {
            float: right;

            &.view-more{
              padding-left: 20px;
            }

            i {
              .fa;
              padding: 0 10px 0 0;

              &:before {
                content: @fa-var-eye;
              }
            }
          }
        }
      }
    }
  }

  // Addons
  &.addons {
    .ui-info {
      padding-top: 10px;
    }

    main {
      .details {
        .description {
          padding: 20px 10px 10px 20px;
        }

        .extra {
          margin: 0 0 20px !important;
          padding-left: 20px;

          overflow: auto;

          .add-extra {
            color: @c-link;
            margin: 10px 0px;
            font-size: @size-1;
            font-weight: 600;
          }

          .add-confirm,
          .add-confirm-points {
            min-width: 160px;
            height: 40px;
            line-height: 40px;
          }

          .add-confirm {
            float: left;
          }

          .add-confirm-points {
            float: right;
          }

          small {
            opacity: 0.75;
            font-size: 0.85em;
            font-style: italic;
          }
        }
      }
    }
  }
}

dialog.confirmation-dialog {
  max-width: 500px;

  .ui-dialog {
    padding: @baseline;
  }

  .modal-body {
    p {
      padding: @baseline 0;
    }
  }
}
