.modal-lightbox {
  opacity: .3 !important;
}

.lightbox {
  box-shadow: 0px 0px 30px 0px #000;

  border-radius: 10px;
  border: none;
  overflow: hidden;

  // Modal parts
  .ui-info {
    padding: 0px;

    .modal-header {
      position: relative;
      z-index: 99;
    }
  }

  hero-slider {
    width: 600px;
    height: 600px;
  }
}
