//////////////////////////
//// MODAL - LIGHTBOX ////
//////////////////////////

// backdrop not so dark as on other modals
.modal-lightbox {
  opacity: .3 !important;
}

.lightbox {
  box-shadow: 0px 0px 30px 0px #000;
  border-radius: 10px;
  border: none;
  overflow: hidden;

  hero-slider {
    width: 600px;
    height: 600px;
  }

  header {
    padding: 0;
    border: 0;
    min-height: 0;

    button-close {
      top: @baseline;
      border-radius: @baseline/2;
      opacity: .5;
      z-index: 1;
    }
  }

  main {
    padding: 0;
  }
}
