//////////////////////////
//// MODAL - LIGHTBOX ////
//////////////////////////

// backdrop not so dark as on other modals
.modal-lightbox {
  opacity: .8 !important;
}

.lightbox {
  border: none;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: transparent !important;

  .viewport-mobile & {
    overflow-y: initial;
  }

  .ui-info {
    height: 100%;
    width: 100%;
    background: transparent !important;
    padding: @baseline*3;
    box-sizing: border-box;

    .viewport-mobile & {
      padding: @baseline;
    }

    header {
      padding: 0;
      border: 0;
      position: relative;
      min-height: 0px;

      button-close {
        color: @c-white;
        z-index: 1;
        font-weight: normal;
        font-size: @size-0;
        top: -40px;
        right: -12px;

        .viewport-mobile & {
          top: -20px;
        }
      }
    }

    main {
      height: 100%;
      width: 100%;
      padding: 0px;
    }
  }

  hero-slider {
    height: 100%;
    width: 100%;

    border-radius: 10px;
    border: none;
    overflow: visible;

    .slider-content {
      overflow: hidden;
      height: 100%;
      position: relative;
      border-radius: 10px;

      .hero-slide {
        height: 90%;
        overflow: visible;
        border-radius: 10px;
        background-size: cover;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        .content-inner {
          background: none;
          height: 100%;
          top: 0;
          margin: 0;
          max-width: none;

          h1 {
            .open-sans-semi-bold;
            font-size: 18px;
            color: #fff;
            line-height: 24px;
            background-color: rgba(0, 0, 0, 0.8);
            padding: 10px;
            text-align: center;
            text-transform: none;
            width: 100%;
            display: block;
            bottom: 0;
            box-sizing: border-box;
            border-radius: 0;


            .viewport-mobile &{
              font-size: 13px;
              line-height: 21px;
              padding: 5px;
            }

            &:before {
              display: none;
            }
          }

          h2 {
            display: none;
          }
        }
      }
    }


    .slider-controls {
      position: initial;

      > div {
        background: none;
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        top: 0px;
      }

      .pages {
        transition: none;
        top: -25px;

        span {
          transition: none;
        }

        counter {
          color: @c-white;
          font-weight: bold;
          font-size: @size-1;
          opacity: 1;

          .viewport-mobile & {
            display: none;
          }
        }
      }

      .slide-button {
        background: none;
        width: 12px;
        height: 12px;
        font-size: @size-5;
        top: 50%;
        transform: translate(0, -50%);
        transition: none;

        color: @c-grey;
        width: auto;
        height: auto;

        .viewport-mobile & {
          display: block;
        }

        &:before {
          .fa;
        }

        &.slide-left {
          &:before {
            content: @fa-var-chevron-left;
          }

          left: -40px;
        }

        &.slide-right {
          &:before {
            content: @fa-var-chevron-right;
          }

          right: -40px;
        }
      }
    }
  }
}
// MOBILE SPECIFIC STYLES
@media only screen and @small-mobile-max {
  .lightbox {
    max-height:280px !important;
  }
  .lightbox hero-slider .slider-content .hero-slide {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: @c-primary;
  }
}
