.login-prompt {
  width: 400px;

  header {
    border: none;
  }

  main {
    margin: 0px 50px 35px 50px;
    text-align: center;

    h1 {
      font-size: @size-2;
      color: @c-link;
      margin: @baseline;
    }

    p {
      color: @c-gray;
      margin: @baseline 0px;
    }
  }
}