/////////////////////////////////
//// MODAL - PRICE BREAKDOWN ////
/////////////////////////////////

dialog .ui-info.price-breakdown {
  width: @grid-width / 2;

  .viewport-mobile &{
    width: 100%;
  }

  main {
    padding: @baseline/2 @baseline;

    table {
      margin: @baseline/2 0;
      width: 100%;

      .viewport-mobile &{
        font-size: 12px;
      }

      thead {
        border-top: 1px solid @c-light-grey;
        border-bottom: 1px solid @c-light-grey;
      }

      tfoot {
        border-top: 2px solid @c-light-grey;
      }
    }

    th, td {
      text-align: left;
    }

    .price-breakdown-content {
      th {
        padding: @baseline/2 0 @baseline/2 0;
      }

      th:last-child {
        text-align: right;
      }

      th:nth-child(1), th:nth-child(2) {
        width: 30%;
      }

      th:nth-child(2), th:nth-child(3) {
        padding-left: @baseline/2;
      }

      td {
        padding: @baseline @baseline/2 @baseline @baseline/2;
        .viewport-mobile &{
          padding: @baseline @baseline/10;
        }
      }

      td:last-child {
        text-align: right;
      }

      tbody {
        tr:nth-child(even) {
          background: #efefef;
        }

        tr:nth-child(odd) {
          background: #ffffff;
        }
      }
    }

    [colspan="3"] {
      text-align: right;
    }
  }
}
