.dialog-product-details {
  max-height: 80%;
  overflow-x: hidden;
  overflow-y: scroll;

  main {
    padding: 0px;

    section {
      border-bottom: 1px solid @c-light-grey;

      article {
        padding: @baseline;
      }
    }
  }
}