dialog.dialog-rewards {
  .modal-body {
    .preview {
      width: 50%;
      float: left;
      max-height: 200px;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
      }
    }

    .details {
      .description {
        height: 180px;
      }
    }
  }
}