////////////////////////
//// MODAL - TIRES ////
////////////////////////

.tiers-list {
  main {
    ul {
      li {
        padding: 10px 0px;
        border-bottom: 1px solid @c-light-grey;

        &:last-of-type {
          border-bottom: none;
        }

        img {
          float: left;
          width: 76px;
          height: 76px;
          border-radius: 76px;
          margin: 10px 0;
          border: 2px solid @c-grey;
        }

        div {
          overflow: auto;
          padding: 10px 0px 10px 20px;

          h3 {
            font-size: @size-2;
          }

          p {
            font-size: @size--1;
            color: @c-gray;
          }
        }
      }
    }
  }
}
