//////////////////////////
//// MODAL - LIGHTBOX ////
//////////////////////////

// backdrop not so dark as on other modals
.lightbox {

  .ui-info {
    header{
      button-close{
        font-size: 22px;
        top: -33px;
      }
    }
  }

  hero-slider {
    box-shadow: none;
    margin-top: 0;
    padding: 10px;
    background: @c-primary;
    box-sizing: border-box;
    .slider-content {
      overflow: hidden;
      height: 100%;
      position: relative;
      border-radius: 10px;

      .hero-slide {
        height: 95%;
        .content-inner {
          display: block;

          .viewport-tablet &{
            top: 32px;
          }

          .viewport-mobile &{
            top: 35px;
          }

          h1 {
            display: block;
            font-size: 24px;
            line-height: 26px;
            font-family: @ff-heading;
            background: none;
            top: 100%;
            padding: 0;
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
            .viewport-mobile &{
              padding: 0;
            }

            &:before {
              display: none;
            }
          }
        }
      }
    }
    .slider-controls {
      .pages {
        text-align: left;
        counter{
          text-align: left;
          font-size: 20px;
          text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
          font-weight: 700;
        }
      }
    }
  }
}
