<breadcrumbs ng-if="!config.hideBreadcrumbs" stickable="main-header"></breadcrumbs>

<main class="double-optin" id="jsDoubleOptin">

  <div class="grid-wrapper">
    <div class="preloader" ng-show="preloader.visible"></div>

    <div
      grid-row
      ng-hide="preloader.visible">
      <header
        grid="12"
        ng-if="success">
        <p class="success">_success_message_</p>
      </header>

      <header
        grid="12"
        ng-if="!success">
        <p class="error">_error_message_</p>
      </header>
    </div>
  </div>


</main>
