///////////////////////////////
//// PROFILE/REGISTER PAGE ////
///////////////////////////////

profile-page,
register-page {

  //- Page Heading
  header{
    h1 {
      color: @c-primary;
      font-weight: inherit;
    }
  }

  //- Form
  form {
    h2{
      color: @c-primary;
    }

    fieldset{

      form-element {

        label {
          color: @c-grey;
        }

        .chosen-container{
          color: @c-mid-grey;
          .chosen-single{
            color: @c-mid-grey;
          }
          .chosen-results{
            li{
              color: @c-mid-grey;
            }
          }
        }

        input[type="text"],
        input[type="email"],
        input[type="password"],
        input[type="tel"],
        select,
        textarea {
          border-color: @c-form-border-grey;
          color: @c-mid-grey;
          font-size: @size--1;

          &:focus {
            box-shadow: none;
          }
        }
      }
    }
  }
}

