<!-- New layout - Delete old layout below when this is complete -->
<section class="hotel-detail__rooms-compare"
         ng-if="rooms.length"
         grid-row>
  <hr />
  <div grid="12" ng-attr-id="{{!viewSettings.scrollToCompare ? 'jsRooms' : undefined}}">
    <ta-teaser ng-show="!ratesLoaded && isFromSearch && roomsConfig.includeTripAdvisorPreloader"></ta-teaser>

    <section-image ng-if="config.sectionImages && config.sectionImages[1]" section="config.sectionImages[1]" when="'enter'" from="1"
      to="0"></section-image>

    <div class="hotel-detail__rooms" ng-if="roomsViewMode !== 'compare'" ng-include="'layouts/components/hotel-list-section.html'"></div>

    <div class="preloader" ng-show="preloader.visible"></div>

    <header ng-if="!isMobile && viewSettings.compareView && viewSettings.compareView.displayHeader" class="compare-rooms-header" ng-attr-id="{{viewSettings.scrollToCompare ? 'jsRooms' : undefined}}">
      <h2 ng-bind-html="'_rooms_title_' | mainHeaderStyle"></h2>
      <button-submit ng-click="selectDates()">
        <span ng-if="!hasDates()">_select_dates_</span>
        <span ng-if="hasDates()">_change_dates_</span>
      </button-submit>
    </header>

    <div class="room-list-compare-container" ng-if="((viewSettings.compareView && viewSettings.compareView.hideOnMobile && !isMobile) || !viewSettings.compareView || !viewSettings.compareView.hideOnMobile) && roomsViewMode === 'compare' && !preloader.visible" ng-include="'layouts/components/hotel-compare-section.html'"></div>
  </div>
</section>
