<section class="hotel-detail__services" ng-if="filteredAmenities && filteredAmenities.length" grid="12">
  <hr />
  <h2 ng-bind-html="'_amenities_title_'" class="blue-header"></h2>
  <input ng-if="details && config.restrictAmenities" type="checkbox" class="amenities-reveal-state" id="hotel-amenities" />
  <ul ng-if="details" class="amenities-list" ng-class="{'restricted-amenities': config.restrictAmenities}">
    <li class="amenity-item" ng-repeat="amenity in filteredAmenities" ng-class="{'amenity-highlight': amenity.highlight}" ng-init="amenity.chainCode = details.chainCode">
      <span class="amenity-caption">{{amenity.name}}</span>
    </li>
  </ul>
  <label ng-if="details && config.restrictAmenities" for="hotel-amenities" class="amenities-reveal-trigger">_show_all_facilities_</label>
</section>
