<div class="Footer__inner">
  <div class="Footer__signup">
    <h1 class="Footer__title">_footer_title_one_</h1>
    <small class="Footer__text">_footer_subtitle_one_</small>
    <button class="Footer__button">_sign_up_</button>
  </div>

  <div class="Footer__apps">
    <h1 class="Footer__title">_footer_title_one_</h1>
    <small class="Footer__text">_footer_subtitle_two_</small>
    <small class="Footer__text">_footer_subtitle_three_</small>
    <div class="Footer__apps--downloads">
      <a target="_blank" href="_iphone_app_download_link_">
        <img class="apple" src="/static/images/apple-app-download.svg">
      </a>
      <a target="_blank" href="_android_app_download_link_">
        <img class="android" src="/static/images/android-app-download.png">
      </a>
    </div>
  </div>

  <div class="Footer__social">
    <ul class="Footer__social--icons">
      <li><span class="facebook"></span></li>
      <li><span class="twitter"></span></li>
      <li><span class="instagram"></span></li>
      <li><span class="linkedin"></span></li>
      <li><span class="youtube"></span></li>
    </ul>
    <div class="Footer__tagline">
      <h3>_footer_tagline_</h3>
    </div>
  </div>

  <div class="Footer__nav">
    <ul class="Footer__nav--items">
      <li class="Footer__nav--item">_footer_nav_one_</li>
      <li class="Footer__nav--item">_footer_nav_two_</li>
      <li class="Footer__nav--item">_footer_nav_three_</li>
      <li class="Footer__nav--item">_footer_nav_four_</li>
      <li class="Footer__nav--item">_footer_nav_five_</li>
      <li class="Footer__nav--item">_footer_nav_six_</li>
    </ul>
  </div>

  <div class="Footer__phone">
    <img src="/static/images/phone-footer@3x.png">
  </div>
</div>
