<div class="Header__inner">
  <a href="/">
    <img class="Header__logo desktop"
         src="/static/images/v4/logo@3x.png"
         alt="Mobius logo">
  </a>

  <div class="Header__buttons">

    <div class="Header__buttons--auth">
      <button class="Header__button login" ng-click="auth.login()">
        _log_in_
      </button>
      <button class="Header__button register" ng-click="auth.register()">
        _register_
      </button>
    </div>

    <ul dropdown-group class="Header__buttons--preferences">

      <li has-dropdown="click"
          currency-list
          class="Header__buttons--currency Header__buttons--preference"
          ng-show="!$state.includes('reservation') && !$state.includes('reservationDetail') && !$state.includes('reservations')">
      </li>
      <li has-dropdown="click"
          class="Header__buttons--language Header__buttons--preference"
          language-list>
      </li>

    </ul>

    <div class="Header__menu">

      <img src="/static/images/menu-icon@3x.png"
           ng-click="toggleMenuOverlay()"
           class="Header__menu--hamburger">

      <span ng-click="toggleMenuOverlay()" class="Header__menu--close"></span>

    </div>

  </div>

  <div class="login-dialog-overlay"
       ng-show="!(auth.getStrategy() === 'infiniti') && showLoginDialog"
       ng-click="auth.clearErrors(); auth.login(); retentionClick()">
    <div class="login-dialog"
         ng-click="$event.stopPropagation()"
         ng-class="'form-step' + loginFormStep">

      <header>
        <a href="" ng-click="loginFormStep = 1; auth.clearErrors(); retentionClick()" ng-show="loginFormStep == 2" class="back-btn">_back_</a>
        <a href="" ng-click="auth.clearErrors(); auth.login(); retentionClick()" class="close-btn"></a>
        <figure class="logo">
          <img src="/static/images/v4/logo-dark.png" alt="logo">
        </figure>
        <p class="error-msg" ng-if="loginDialogError">
          <span ng-if="genericError">_generic_error_message_</span>
          <span ng-if="missingFieldsError">_missing_fields_message_</span>
          <span ng-if="incorrectEmailPasswordError">_incorrect_email_password_error_</span>
          <span ng-if="notRegisteredEmailError">_email_not_registered_error_</span>
          <span ng-if="passwordResetSuccess">_reset_password_error_code_thirtyfour_</span>
        </p>
        <div class="title" ng-show="config.loginDialog.showLoginTitle">
          <h2>_log_in_</h2>
          <hr>
        </div>
      </header>

      <div class="form-wrapper">

        <form name="loginForm" class="login-form" novalidate>
          <fieldset>
            <form-element>
              <input
                type="email"
                id="loginEmail"
                name="loginEmail"
                ng-model="loginData.email"
                required
                email-check
                placeholder="_email_label_"
                ng-class="{'ng-submitted': loginForm.$submitted && (loginForm.loginEmail.$error.required || loginForm.loginEmail.$error.emailCheck)}"/>
            </form-element>

            <form-element>
              <input
                type="password"
                id="loginPassword"
                name="loginPassword"
                ng-model="loginData.password"
                required
                placeholder="_password_label_"
                ng-class="{'ng-submitted': loginForm.$submitted && loginForm.loginPassword.$error.required}"
                ng-pattern="$root.generalValidationPattern"/>
            </form-element>

          </fieldset>

          <button-submit role="button" tabindex="0" ng-click="doLogin(loginForm, loginData); retentionClick()">_login_</button-submit>

          <ul class="options">
            <li><a href="" ng-click="loginFormStep = 2; auth.clearErrors(); retentionClick()">_forgot_password_label_</a></li>
            <li><a href="" ui-sref="register" ng-click="auth.clearErrors(); auth.login(); retentionClick()">_register_now_</a></li>
          </ul>
        </form>

        <form name="resetForm" class="reset-form" novalidate>
          <fieldset>
            <form-element>
              <input
                type="email"
                id="resetEmail"
                name="resetEmail"
                ng-model="resetData.email"
                required
                email-check
                placeholder="_email_label_"
                ng-class="{'ng-submitted': resetForm.$submitted && resetForm.resetEmail.$error.required}"/>
            </form-element>

          </fieldset>

          <button-submit role="button" tabindex="0" ng-click="auth.reset(resetForm, resetData); retentionClick()">_reset_password_</button-submit>
        </form>

      </div>


    </div>
  </div>

  <div class="login-dialog-overlay"
       ng-show="!(auth.getStrategy() === 'infiniti') && showRegisterDialog"
       ng-click="auth.clearErrors(); auth.register(); retentionClick()">
    <div class="login-dialog register"
         ng-click="$event.stopPropagation()">

      <header>
        <a href=""
           ng-click="registerFormFilledEmail = !registerFormFilledEmail; retentionClick()"
           ng-show="registerFormFilledEmail"
           class="back-btn">
          _back_
        </a>
        <a href="" ng-click="auth.clearErrors(); auth.register(); retentionClick()" class="close-btn"></a>
        <figure class="logo">
          <img src="/static/images/v4/logo-dark.png" alt="logo">
        </figure>
        <p class="error-msg error" ng-if="error">
          <span ng-if="userRegisteredError">_user_already_registered_</span>
          <span ng-if="genericError">_generic_error_message_</span>
          <span ng-if="missingFieldsError">_missing_fields_message_</span>
          <span ng-if="missingFieldsError && form.registerPassword.$error.pattern">_password_pattern_error_</span>
        </p>
      </header>

      <div class="form-wrapper">

        <form name="registerForm" class="register-form" novalidate>
          <fieldset ng-show="!registerFormFilledEmail">
            <form-element>
              <input
                type="email"
                id="registerEmail"
                name="registerEmail"
                ng-model="registerData.email"
                required
                email-check
                placeholder="_email_label_"
                ng-class="{'ng-submitted': form.$submitted && (form.registerEmail.$error.required || form.registerEmail.$error.emailCheck)}"/>
              <span class="error" ng-if="form.$submitted && form.registerEmailConfirm.$error.emailCheck">_invalid_email_message_</span>
            </form-element>

            <form-element>
              <input
                type="email"
                id="registerEmailConfirm"
                name="registerEmailConfirm"
                ng-model="registerData.emailConf"
                required
                email-check
                equals="registerData.email"
                placeholder="_confirm_email_label_"
                ng-class="{'ng-submitted': form.$submitted && (form.registerEmailConfirm.$error.required || form.registerEmailConfirm.$error.emailCheck || form.registerEmailConfirm.$error.equals)}"/>
              <span class="error" ng-if="form.$submitted && form.registerEmailConfirm.$error.emailCheck">_invalid_email_message_</span>
              <span class="error" ng-if="form.$submitted && form.registerEmailConfirm.$error.equals">_email_match_error_message_</span>
            </form-element>

            <form-element>
              <input
                type="password"
                id="registerPassword"
                name="registerPassword"
                ng-model="registerData.password"
                ng-pattern="/^(?=.*[a-zA-Z\d].*)[a-zA-Z\d!@#$%&£^*_()+=-]{8,}$/"
                required
                placeholder="_password_label_"
                ng-class="{'ng-submitted': form.$submitted && (form.registerPassword.$error.required || form.registerPassword.$error.pattern)}"
                ng-pattern="$root.generalValidationPattern"/>
            </form-element>

            <form-element>
              <input
                type="password"
                id="registerPasswordConfirm"
                name="registerPasswordConfirm"
                ng-model="registerData.passwordConf"
                required
                equals="registerData.password"
                placeholder="_confirm_password_label_"
                ng-class="{'ng-submitted': form.$submitted && (form.registerPasswordConfirm.$error.required || form.registerPasswordConfirm.$error.equals)}"/>
              <span class="error" ng-if="form.$submitted && form.registerPasswordConfirm.$error.equals">_password_match_error_message_</span>
            </form-element>

          </fieldset>

          <fieldset ng-show="registerFormFilledEmail">
            <form-element ng-if="registerTitles">
              <select name="registerTitle"
                      required
                      chosen
                      disable-search="true"
                      placeholder-text-single="_title_label_"
                      ng-model="registerData.title"
                      ng-options="title.id as title.name for title in registerTitles">
              </select>
            </form-element>

            <form-element>
              <input
                type="text"
                id="registerFname"
                name="registerFname"
                ng-model="registerData.firstName"
                required
                placeholder="_first_name_label_"
                ng-class="{'ng-submitted': form.$submitted && form.registerFname.$error.required}"
                ng-pattern="$root.generalValidationPattern"/>
            </form-element>

            <form-element>
              <input
                type="text"
                id="registerLname"
                name="registerLname"
                ng-model="registerData.lastName"
                required
                placeholder="_last_name_label_"
                ng-class="{'ng-submitted': form.$submitted && form.registerLname.$error.required}"
                ng-pattern="$root.generalValidationPattern"/>
            </form-element>

            <form-element ng-if="registerCountries">
              <select type="text"
                      id="country"
                      required
                      placeholder="_country_label_"
                      placeholder-text-single="_country_label_"
                      ng-options="country.id as country.name for country in registerCountries"
                      ng-model="registerData.localeId"
                      name="country"
                      chosen>
                <option value="">_country_label_</option>
              </select>
            </form-element>
          </fieldset>

          <button-submit role="button"
                         tabindex="0"
                         ng-show="!registerFormFilledEmail"
                         ng-click="registerFormFilledEmail = !registerFormFilledEmail">
            _next_
          </button-submit>

          <button-submit role="button"
                         tabindex="0"
                         ng-show="registerFormFilledEmail"
                         ng-click="register(registerForm, registerData); retentionClick()">
            _register_
          </button-submit>

        </form>

      </div>

    </div>
  </div>
</div>
