<article class="HotelContactInfo">

  <div class="HotelContactInfo__item">
    <h3 class="title">The court</h3>
    <p class="info">130 East Street</p>
    <p class="info">New York City, NY 10016</p>
    <p class="info">(Between Park & Lexington Ave)</p>
    <p class="phone">+1 212-685-1100</p>
  </div>

  <div class="HotelContactInfo__item">
    <h3 class="title">Central Reservations</h3>
    <p class="phone">1-888-406-8588</p>
    <a class="email">Email Us</a>
  </div>

  <div class="HotelContactInfo__item">
    <h3 class="title">Guest Services / Concierge</h3>
    <p class="phone">1-212-685-1100 EXT 1308</p>
    <a class="email">Email Us</a>
  </div>

</article>
