<header id="title-header" class="Header" ng-include="uiConfig.partials.header"></header>

<div class="Menu" ng-include="uiConfig.partials.menu"></div>

<user-messages></user-messages>

<!-- MAIN CONTENT AREA -->
<div ui-view autoscroll="true"></div>

<!-- BOOKING WIDGET AREA-->
<floating-bar ng-if="isMobile"
              ng-class="{'hide': $state.includes('reservation') || $state.includes('error')}">
</floating-bar>

<!-- TODO Set a config called footerless pages, then we can loop through that instead of direct page refs -->
<footer class="main"
        ng-if="!hideFooter"
        ng-hide="$state.includes('reservation') ||
                 $state.includes('rewards') ||
                 $state.includes('prestige')"
        ng-include="uiConfig.partials.footer">
</footer>
