
<header class="Header" ng-include="'layouts/lbe/header.html'"></header>

<div class="Menu">
  <ul class="Menu__items" dropdown-group>

    <li ng-click="$state.go('hotels', { scrollTo: 'jsAbout'})" class="Menu__items--item">
      _menu_hotels_
    </li>
    <li ui-sref="offers" class="Menu__items--item">
      _menu_specials_
    </li>
    <li class="Menu__items--item">
      <img src="/static/images/lbe/divider-orange.png">
    </li>
    <li class="Menu__items--highlight">
      _menu_name_
    </li>
    <li ui-sref="reservations"
        ng-if="auth.isLoggedIn()"
        class="Menu__items--item">
      _menu_reservations_
    </li>
    <li ui-sref="rewards"
        ng-if="auth.isLoggedIn()"
        class="Menu__items--item">
      _menu_rewards_
    </li>
    <li ui-sref="prestige"
        ng-if="auth.isLoggedIn()"
        class="Menu__items--item">
      _menu_loyalty_
    </li>
    <li ui-sref="profile"
        ng-if="auth.isLoggedIn()"
        class="Menu__items--item">
      _menu_profile_
    </li>
    <li has-dropdown="click"
        class="Menu__items--item"
        currency-list
        ng-show="isMobile &&
                 !$state.includes('reservation') &&
                 !$state.includes('reservationDetail') &&
                 !$state.includes('reservations')">
    </li>
    <li ng-show="isMobile"
        has-dropdown="click"
        class="Menu__items--item"
        ng-if="false"
        language-list>
    </li>
    <li ng-click="toggleMenuOverlay(); auth.register(); retentionClick();"
        ng-if="!auth.isLoggedIn()"
        class="Menu__items--item">
      _register_
    </li>
    <li ng-click="auth.logout(); retentionClick();"
        ng-if="auth.isLoggedIn()"
        class="Menu__items--item">
      _logout_
    </li>
    <li ng-click="toggleMenuOverlay(); auth.login(); retentionClick();"
        ng-if="!auth.isLoggedIn()"
        class="Menu__items--item">
      _login_
    </li>

  </ul>
</div>

<user-messages></user-messages>

<!-- MAIN CONTENT AREA -->
<div ui-view autoscroll="true"></div>

<!-- BOOKING WIDGET AREA-->
<floating-bar ng-if="isMobile"
              ng-class="{'hide': $state.includes('reservation') || $state.includes('error')}">
</floating-bar>

<!-- TODO Set a config called footerless pages, then we can loop through that instead of direct page refs -->
<footer class="main"
        ng-if="!hideFooter"
        ng-hide="$state.includes('reservation') ||
                 $state.includes('rewards') ||
                 $state.includes('prestige')"
        ng-include="'layouts/lbe/footer.html'">
</footer>
