@import "./mobile";

profile-page {

  .ProfileForm__input {
    color: #000 !important;
  }

  header {
    .viewport-mobile & {
      padding-top: 20px;
    }
  }

  form {
    h2 {
      color: #B98747;
      font-size: 18px;
      font-weight: bold;
      line-height: 24px;
    }
    fieldset {
      form-element {
        input,
        input[type="text"],
        input[type="email"] {
          background-color: #F7F7F7;
          box-shadow: none;
          border: none;
        }
      }
    }
    button-submit {
      margin-right: 20px;
    }
  }

  .chosen-single {
    span {
      color: #000 !important;
    }
  }

}
