////////////////////
//// TYPOGRAPHY ////
////////////////////


/*  ==========================================
    Font Families
    ========================================== */

.questrial {
  font-family: 'Questrial', Helvetica, Arial, sans-serif;
  font-weight: normal;
}

// typography defaults
body {
  font-family: @ff-default;
  font-size: @size-0;
  line-height: @baseline;
  font-weight: normal;
}
