///////////////////////
//// TARGET CONFIG ////
///////////////////////

// Override defaults vars with target specific

//// COLORS ////
////////////////
@c-primary:      #6f0a0a;
@c-secondary:    #ffb837;
@c-grey:         #585858;
@c-gray:         @c-grey;
@c-mid-grey:     #747373;
@c-light-grey:   #bbb;

@c-form-border-grey:   #979797;

@c-link: @c-primary;
@c-text:         @c-grey;

// font families
@ff-default:   'Questrial', Helvetica, Arial, sans-serif;


///// Components /////
//////////////////////
@c-booking-widget: @c-primary;
@c-booking-widget-active: #e3cfae;

@c-datepicker: @c-primary;
