///////////////////////
//// TARGET CONFIG ////
///////////////////////

// Override defaults vars with target specific

//// COLORS ////
////////////////
@c-primary:      #6f0a0a;
@c-grey:       #585858;
@c-gray:       @c-grey;


//// DIMENSIONS ////
////////////////////

////// FONTS ///////
////////////////////
.questrial {
  font-family: 'Questrial', Helvetica, Arial, sans-serif;
  font-weight: normal;
}


///// Components /////
//////////////////////
