///////////////////////
//// TARGET CONFIG ////
///////////////////////

// Override defaults vars with target specific

//// COLORS ////
////////////////
@c-black: #000;
@c-white: #fff;
@c-blue: #3a65a3;
@c-brown:@c-blue;
@c-dark-brown:@c-blue;
@c-grey: #606060;
@c-light-grey: #898989;

@c-primary:@c-white;
@c-secondary:@c-black;
@c-tertiary:@c-blue;


// color names mapped to meanings
// these should be used in the app
@c-base:@c-white;
@c-link:@c-blue;
@c-background-body:@c-black;
@c-booking-widget: @c-white;
@c-booking-widget-active: @c-black;
@c-header-background: @c-black;

@c-datepicker: @c-secondary;
@c-datepicker-selected:@c-white;
@c-datepicker-unavailable: @c-black;
@c-datepicker-partially-available: #cf9a4d;


//// DIMENSIONS ////
////////////////////
@grid-width:1066px;
@header-height:53px;
@radius:0px;



//// FONT SIZES ////
////////////////////
@baseline:31px;
@size--4: 12px;
@size--3: 13px;
@size--2: 14px;
@size--1: 15px;
@size-0:21px;
@heading-1-size: 2.5em;
@heading-2-size: 34px;
@heading-1-size-mobile: 33px;
@heading-2-size-mobile: 33px;
@heading-3-size-mobile: 20px;



////// FONTS ///////
////////////////////
@veneer-font-path: '../font/Veneer';
@arial-narrow-font-path: '../font/ArialNarrow';
@meandall-font-path: '../font/meandall';
@ff-default: 'ArialNarrow', Arial, sans-serif;
@ff-bold: 'ArialNarrowBold', Arial, sans-serif;
@ff-light: 'ArialNarrow', Arial, sans-serif;
@ff-heading: 'Veneer', serif;
