///////////////////////
//// TARGET CONFIG ////
///////////////////////

// Override defaults vars with target specific

//// COLORS ////
////////////////
@c-black: #000;
@c-white: #fff;

@c-primary:@c-white;
@c-secondary:@c-black;
@c-blue: #3f729b;
@c-brown:@c-blue;
@c-dark-brown:@c-blue;

// color names mapped to meanings
// these should be used in the app
@c-base:@c-white;
@c-link:@c-blue;
@c-background-body:@c-black;
@c-booking-widget: @c-blue;
@c-booking-widget-active: @c-black;
@c-header-background: @c-black;

@c-datepicker: @c-secondary;
@c-datepicker: @c-dark-grey;
@c-datepicker-selected:@c-blue;
@c-datepicker-unavailable: #d0021b;
@c-datepicker-partially-available: #cf9a4d;


//// DIMENSIONS ////
////////////////////
@grid-width:1066px;
@header-height:53px;
@radius:0px;



//// FONT SIZES ////
////////////////////
@baseline:31px;
@size--2: 14px;
@size-0:21px;
@heading-1-size: 54px !important;
@heading-3-size: 34px !important;



////// FONTS ///////
////////////////////
@veneer-font-path: '../font/Veneer';
@arial-narrow-font-path: '../font/ArialNarrow';
@ff-default: 'ArialNarrow', Arial, sans-serif;
@ff-bold: 'ArialNarrowBold', Arial, sans-serif;
@ff-light: 'ArialNarrow', Arial, sans-serif;
@ff-heading: 'Veneer', serif;