///////////////////////
//// TARGET CONFIG ////
///////////////////////

// Override defaults vars with target specific

//// COLORS ////
////////////////
@c-black: #000;
@c-white: #fff;

@c-primary:@c-white;
@c-secondary:@c-black;
@c-blue: #3f729b;
@c-brown:@c-blue;
@c-dark-brown:@c-blue;


// color names mapped to meanings
// these should be used in the app
@c-base:              @c-white;
@c-background-body:   @c-black;
@c-booking-widget: @c-secondary;
@c-booking-widget-active: @c-blue;

@c-datepicker: @c-secondary;

//font
@veneer-font-path: '../font/Veneer';
@arial-narrow-font-path: '../font/ArialNarrow';
@ff-default: 'ArialNarrow', Arial, sans-serif;
@ff-bold: 'ArialNarrow', Arial, sans-serif;
@ff-light: 'ArialNarrow', Arial, sans-serif;
@ff-heading: 'Veneer', serif;