///////////////////
//// AMENITIES ////
///////////////////
//- List of Amenities
amenities-list,
.amenities-list {
  .viewport-mobile & {
    margin: 0;
  }
}

amenity-item,
.amenity-item {
  .viewport-mobile & {
    min-height: initial;
    padding: 0;
    margin-top: 20px;
    &:first-child {
      margin-top: 0;
    }
  }
}

.room-amenities {
  h2 {
    .viewport-mobile & {
      margin-bottom: 20px;
    }
  }
}