//- DATEPICKER -//

//- Calendar Table
.ui-datepicker-calendar {
  height: 342px;

  .viewport-mobile &{
    height: 275px;
  }

  tbody {
    th, td {
      vertical-align:middle;
      text-align:center;
    }
    td.date-range-selected {
      background:#b89b6f;
    }
  }
}
.ui-datepicker-header {
  .viewport-mobile & {
    padding: 5px 4px;
  }
}

.ui-datepicker-calendar {
  .viewport-mobile & {
    margin: @baseline/2 auto 2px;
  }
  @media screen and (max-height: 420px) {
    margin-top:0 !important;
    margin-bottom:0 !important;
    height:auto !important;
    tbody {
      tr {
        border:0px none;
        td {
          font-size:15px;
          line-height:30px;
        }
      }
    }
  }
}
