list-item {
  &.is-member-only {
    &.is-member-only-disabled{
      button-submit,
      .button{
        background-color:@c-button;
        border-bottom: 1px solid darken(@c-button, 10%);
        box-shadow: 0 1px 0 0 darken(@c-button, 5%);
      }
    }
  }
}