@import '../components/ribbons';

list-item {

  .use-ribbon();

  &.slashthrough {
    padding-bottom: 30px;
  }

  // Add padding to the top if a ribbon is present in the same container
  .member-ribbon ~ pricing-info {
    padding-top: 30px;
  }
  // @note Why can I not do .member-ribbon, .highlight-ribbon ~ pricing-info ??
  .highlight-ribbon ~ pricing-info {
    padding-top: 30px;
  }

  .member-ribbon + .list-item-header {
    margin-top: 30px;
  }

  .highlight-ribbon + .list-item-header {
    margin-top: 30px;
  }

  .viewport-mobile & {
    padding-right:25px
  }
  &.is-member-only {
    &.is-member-only-disabled{
      button-submit,
      .button{
        background-color:@c-button;
        border-bottom: 1px solid darken(@c-button, 10%);
        box-shadow: 0 1px 0 0 darken(@c-button, 5%);
      }
    }
  }
  description-info {
    .viewport-mobile & {
      width:100%;
    }
  }
  > pricing-info {
    .viewport-mobile & {
      display:none;
    }
  }
  .list-item-header {
    pricing-info {
      .viewport-mobile & {
        margin-top:10px;
      }
      p {
        .viewport-mobile & {
          margin-top:13px;
        }
      }
    }
  }
}


