<div class="Menu__close-icon-positionner">
  <div class="Menu__close-icon-inner-positionner">
    <img class="Menu__close-icon"
         src="/static/images/close-menu.svg"
         ng-click="toggleMenuOverlay()"/>
  </div>
</div>

<div class="Menu__items">
  <div ng-click="$state.go('home', $stateParams, { reload: true })"
      class="Menu__items--item">
    _home_
  </div>
  <div ng-click="$state.go('aboutUs', $stateParams, { reload: true })"
      class="Menu__items--item">
    _our_promotions_
  </div>
  <div ng-click="$state.go('allHotels', $stateParams, { reload: true })"
      class="Menu__items--item">
    _our_hotels_
  </div>

</div>
