
.viewport-mobile {

  .questionnaire {

    padding: 0;

    .questionnaire__points {
      float: initial;
      width: 100%;
      margin-right: initial;
    }

    .questionnaire__status {
      margin: 0;
      padding: 27px 0 0 44px;
    }

    .questionnaire__questions {
      padding: 25px 9px;
      border: solid 1px #d8d8d8;
    }

    .questionnaire__subtitle {
      margin-bottom: 10px;
    }

    .questionnaire__your-points {
      margin: 55px 0 0 36px;
    }

    .questionnaire__feature {
      width: 100%;
      margin-bottom: 10px;
    }

    .questionnaire__tier {
      width: 150px;
      height: 150px;
      border: solid 6.1px #f1f1f1;
      left: 176px;
      top: 81px;
    }

  }

}
