
.viewport-mobile {

  .questionnaire {

    padding: 0;
    height: 800px;
    margin-top: 15px;

    .questionnaire__points {
      float: initial;
      width: 100%;
      margin-right: initial;
    }

    .questionnaire__status {
      margin: 0;
      padding: 27px 0 0 37px;
    }

    .questionnaire__questions {
      padding: 25px 9px;
      border: solid 1px #d8d8d8;
      margin-left: 0;
      &.nextStay {
        margin-left: 0;
        height: auto;
      }
    }

    .questionnaire__subtitle {
      margin-bottom: 10px;
    }

    .questionnaire__your-points {
      margin: 55px 0 0 26px;
    }

    .questionnaire__feature {
      width: 100%;
      margin-bottom: 10px;
      float: initial;
    }

    .questionnaire__tier {
      width: 150px;
      height: 150px;
      border: solid 6.1px #f1f1f1;
      left: 146px;
      top: -120px;
    }

  }

}
