
// Probably should move these to seperate lbe/config.less
@lbe-c-primary: #e3a314;
@lbe-c-secondary: #adb3b9;
@lbe-c-tertiary: #f6791c;
@lbe-ff-primary: Raleway;
@lbe-ff-secondary: Lato;
@lbe-img-prefix: "@{img-prefix}/lbe";

// Sizing
@questionnaire-padding: 50px;

// Paths
@questionnaire-feature-reward-bg-image: "@{lbe-img-prefix}/featured-reward-bg.png";
@questionnaire-points-bg-image: "@{lbe-img-prefix}/status-bg.png";
@questionnaire-status-divider: "@{lbe-img-prefix}/divider@2x.png";
