
// Probably should move these to seperate lbe/config.less
@lbe-c-primary: #e3a314;
@lbe-c-secondary: #adb3b9;
@lbe-c-tertiary: #f6791c;
@lbe-ff-primary: Raleway;
@lbe-ff-secondary: Lato;
@lbe-img-prefix: "@{img-prefix}/lbe";

// Typography
@questionnaire-h1-size: 16px;
@questionnaire-h2-size: 12px;
@questionnaire-letter-spacing-wide: 1.4px;
@questionnaire-letter-spacing-avg: 1.1px;
@questionnaire-letter-spacing-thin: 0.9px;

// Sizing
@questionnaire-padding: 50px;
@questionnaire-tier-circle-size: 188px;
@questionnaire-tier-circle-border: solid 7.7px #f1f1f1;

@questionnaire-questions-padding: 51px 13px;
@questionnaire-questions-border: solid 2px #d8d8d8;

// Paths
@questionnaire-points-bg-image: "@{lbe-img-prefix}/status-bg.png";
@questionnaire-status-divider: "@{lbe-img-prefix}/divider.png";
@questionnaire-feature-reward-bg-image: "@{lbe-img-prefix}/featured-reward-bg.png";
