
.viewport-mobile {

  .Home__hero--info,
  .Home__hero--info.show-desktop {
    display: initial;
    left: 13px;
    top: calc(~'100vh - 300px');
    width: 100%;
    .Home__hero--button {
      display: initial;
    }
  }

  .home-page-questionnaire {
    main.grid-wrapper {
      padding: 0;
    }
  }


  .members-only-banner {
    margin-top: @mobile-header-height;
    height: 100px;
    &.logged-in {
      height: 150px;
    }

    .members-only-banner__label {
      font-size: 22px;
      line-height: 25px;
      font-weight: normal;
    }

    .members-only-banner__not-member {
      font-size: 12px;
    }

    .over-title {
      font-size: 15px;
    }
  }

  .Home__testimonial {
    padding-top: 30px;
    padding-bottom: 0px;

  }

  .hotel-description-container-content {
    .HotelInfo__details--title {
      display: block;
    }
    .hotel-info-amenities {
      span {
        width: 30px;
        &.amenity-caption {
          width: 100%;
        }
      }
    }
  }

  .Home__contacts {
    ng-map {
      width: 100%;
      height: 210px;
    }

    .Home__contacts-box {
      width: 100%;
      height: auto;
      padding-bottom: 10px;

      .title {
        margin-top: 30px;
      }

      .Home__contacts-buttons {
        .contacts-button {
          margin-bottom: 10px;
        }
      }
    }
  }

  .header-hero-content {

    .HeroBenefits__whitebox {
      margin-top: 70px;
      height: 560px;

      .HeroBenefits__subtitle {
        width: auto;
        min-width: unset;
        margin-top: 150px;
        h1 {
          font-size: 26px;
          line-height: 30px;
          text-align: center;
          width: auto;
        }

        h2 {
          font-size: 18px;
          line-height: 22px;
          text-align: center;
          width: auto;
          margin: 0 50px;
        }
      }

      .HeroBenefits__signup {
        display: none;
      }
    }
  }
}

