.dialog-product-details {
  main {
    max-height: initial;
    section {
      border: 0px none;
      article {
        padding: 0;
      }
      &.terms-and-conditions {
        li {
          h3 {
            border: none !important;
          }
          p > p {
            padding: 0;
          }
        }
      }
      &.price-breakdown table {
        font-size: 17px;
        color: #ccc;
        margin: 0;
        td {
          text-align: right;
        }
        th {
          font-weight: normal;
        }
        tr.main {
          td {
            color: @c-primary;
            font-family: @ff-bold;
          }
          th {
            color: @c-primary;
            font-size: 19px;
          }
        }
      }
    }
  }
  &.tabbed {
    .nav-tabs {
      font-size: 18px;
      padding: 15px 31px;
      li {
        padding: 15px 0;
        border: 0px none !important;
        width: 50%;
        text-transform: uppercase;
        &:nth-child(2) {
          display: none;
        }
        a {
          color: #636363;
          border-left: 1px solid @c-primary;
          padding: 0;
          line-height: 1em;
        }
        &:first-child {
          a {
            border-left: 0px none;
          }
        }
        &.active {
          a {
            color: #d7d7d7;
          }
        }
      }
    }
    .tab-pane {
      border-top: 0 none;
    }
    button-close {
      top: 20.5px;
      right: 7.65px;
      line-height: 38px;
      &:before {
        display: block;
      }
    }
  }
}

// This is a fix as the API returns random inline styling for some of the terms
.terms-and-conditions span {
  font-family: @ff-default !important;
}
