dialog.confirmation-dialog,
dialog.reservation-modification,
dialog.other-rooms {
  overflow-x: hidden;
}

dialog.cancellation-dialog {
  max-width: initial;
  width: 70%;
  top: 20%;
  p {
    color: #000;
    padding-top: 20px;
    font-size: 28px;
  }
  main {
    img {
      height: 86px;
      float: left;
      margin-right: 51px;
      margin-bottom: 20px;
    }
  }
  header {
    padding: 0;
    min-height: initial;
  }
  button-close {
    color: #000;
  }
  > div {
    background: #fff;
    color: #000;
  }
}
