<reservation-hotel-details ng-class="{'inactive': !reservation.active}">
  <section grid-row class="reservation-summary" ng-click="$state.go('reservationDetail', {reservationCode: reservation.reservationCode})">
    <header>
      <h1>{{property.nameLong}}</h1>

      <div class="reference" ng-class="{'reference-visible': displayConfirmationNumber}">
        <p ng-if="config.displayConfirmationNumberLabel">_booking_reference_:</p>
        <!-- TODO: reservation.IRI is string in format "/reservations/ABB-EF-01435",
        should we cut the reservation code from this field? -->
        <p><strong>{{reservation.reservationCode}}</strong></p>
      </div>

      <div class="booked">
        _booked_: {{reservation.bookingDate | dateTime: 'D MMM YYYY'}}
      </div>
    </header>

    <div class="tables">
      <figure>
        <img ng-src="{{property.images[0].uri | cloudinaryImage : 320 : 160 : 'fill'}}" err-source="/static/images/hotel.jpg" alt="{{property.nameShort}}">
      </figure>

      <div>
        <div class="room-types">
          <span class="chain-logo {{property.chainCode.toLowerCase()}}"></span>
          <h1 ng-if="config.displayPropertyNameInDetails">{{property.nameLong}}</h1>
          <h3>{{reservation.rooms[0].roomTypeName}}<a href ng-if="reservation.rooms.length > 1"> + {{reservation.rooms.length - 1}} other <ng-pluralize count="reservation.rooms.length" when="{'2': 'room', 'other': 'rooms'}"></ng-pluralize></a></h3>
          <h4 ng-bind-html="reservation.rooms[0].productName"></h4>
        </div>

        <table class="data">
          <tbody>
            <tr>
              <th>_check_in_:</th>
              <td>{{reservation.arrivalDate | dateTime}}</td>
              <th>_adults_:</th>
              <td>{{getAdultsCount()}}</td>
            </tr>
            <tr>
              <th>_check_out_:</th>
              <td>{{reservation.departureDate | dateTime}}</td>
              <th>_children_:</th>
              <td>{{getChildrenCount()}}</td>
            </tr>
          </tbody>
        </table>

        <table class="charges" ng-switch="!!reservation.pointValue">
          <tbody ng-switch-when="false">
            <tr>
              <!-- Do we know the payment method? -->
              <!-- <th>Room Charges: {{reservation.paymentMethod}}</th> -->
              <th>_room_charges_: </th>
              <td>{{getPrice() | i18nCurrency: currencyCode}}</td>
              <th rowspan="3" class="total">_total_:</th>

              <td rowspan="3" class="total-value">
                {{getPriceAfterTax() | i18nCurrency: currencyCode}}
              </td>
            </tr>

            <!-- Additional taxes -->
            <tr>
              <th>_taxes_:</th>
              <td>{{getTax() | i18nCurrency: currencyCode}}</td>
            </tr>

            <!-- Discount -->
            <tr ng-if="reservation.discount">
              <th>_discount_:</th>
              <td>{{reservation.discount | i18nCurrency: currencyCode}}</td>
            </tr>
          </tbody>

          <tbody ng-switch-when="true">
            <tr>
              <th rowspan="3" class="total">_total_:</th>
              <td rowspan="3" class="total-value">
                <ng-pluralize count="reservation.pointValue" when="{'1': '{} _point_', 'other': '{} _points_'}"> </ng-pluralize>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>

</reservation-hotel-details>
