<reservation-hotel-details ng-class="{'inactive': !reservation.active}">
  <section grid-row class="reservation-summary" ng-click="$state.go('reservationDetail', {reservationCode: reservation.reservationCode})">
    <header>
      <h1>{{property.nameLong}}</h1>

      <div class="reference" ng-class="{'reference-visible': displayConfirmationNumber}">
        <p>Your reference:</p>
        <!-- TODO: reservation.IRI is string in format "/reservations/ABB-EF-01435",
        should we cut the reservation code from this field? -->
        <p><strong>{{reservation.reservationCode}}</strong></p>
      </div>

      <div class="booked">
        Booked: {{reservation.bookingDate | dateTime: 'D MMM YYYY'}}
      </div>
    </header>

    <div class="tables">
      <figure>
        <img ng-src="{{property.images[0].uri | cloudinaryImage : 320 : 160 : 'fill'}}" err-source="/static/images/hotel.jpg" alt="{{property.nameShort}}">
      </figure>

      <div>
        <div class="room-types">
          <h3>{{reservation.rooms[0].roomTypeName}}<a href ng-if="reservation.rooms.length > 1"> + {{reservation.rooms.length - 1}} other <ng-pluralize count="reservation.rooms.length" when="{'2': 'room', 'other': 'rooms'}"></ng-pluralize></a></h3>
          <h4>{{reservation.rooms[0].packageName}}</h4>
        </div>

        <table class="data">
          <tbody>
            <tr>
              <th>Check in:</th>
              <td>{{reservation.arrivalDate | dateTime}}</td>
              <th>Adults:</th>
              <td>{{getAdultsCount()}}</td>
            </tr>
            <tr>
              <th>Check out:</th>
              <td>{{reservation.departureDate | dateTime}}</td>
              <th>Children:</th>
              <td>{{getChildrenCount()}}</td>
            </tr>
          </tbody>
        </table>

        <table class="charges" ng-switch="!!reservation.pointValue">
          <tbody ng-switch-when="false">
            <tr>
              <!-- Do we know the payment method? -->
              <!-- <th>Room Charges: {{reservation.paymentMethod}}</th> -->
              <th>Room Charges: </th>
              <td>{{getPrice() | i18nCurrency: $root.currencyCode}}</td>
              <th rowspan="3" class="total">Total:</th>

              <td rowspan="3" class="total-value">
                {{getPriceAfterTax() | i18nCurrency: $root.currencyCode}}
              </td>
            </tr>

            <!-- Additional taxes -->
            <tr>
              <th>Taxes:</th>
              <td>{{getTax() | i18nCurrency: $root.currencyCode}}</td>
            </tr>

            <!-- Discount -->
            <tr>
              <th>Discount:</th>
              <td>{{reservation.discount | i18nCurrency: $root.currencyCode}}</td>
            </tr>
          </tbody>

          <tbody ng-switch-when="true">
            <tr>
              <th rowspan="3" class="total">Total:</th>
              <td rowspan="3" class="total-value">
                <ng-pluralize count="reservation.pointValue" when="{'1': '{} point', 'other': '{} points'}"> </ng-pluralize>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>

</reservation-hotel-details>
