///////////////////////
//// HOTELS DETAIL ////
///////////////////////

hotel-detail {

  .back-to-top{
    background: rgba(172, 160, 152, 0.5);
  }

  > header {
    margin-bottom: @baseline;
  }

  // Page Heading
  h1{
    color: @c-grey;
    text-transform: uppercase;
    font-weight: inherit;
  }

  h2 {
    color: @c-grey;
    text-transform: uppercase;
    font-weight: inherit;
    margin-bottom: 16px;
  }

  .hotel-detail__header{

    .viewport-mobile &{
      text-align: center;
      margin-bottom: 20px;
      hr{
        display: none;
      }
    }

    .logo,
    .title-wrapper,
    .contact-info{
      float: left;
      width: 25%;
      .viewport-mobile &{
        width: 100%;
        float: none;
      }
    }

    .logo{
      margin-top: 15px;
      .viewport-mobile &{
        display: none;
      }
    }

    .title-wrapper{
      text-align: center;
      width: 50%;
      .title{
        color: @c-dark-grey;
        font-size: 36px;
        line-height: 50px;
        .viewport-mobile &{
          font-size: 24px;
          line-height: 26px;
          margin-bottom: 14px;
        }
      }
    }

    .contact-info{
      margin-top: 7px;
      .inner{
        float: right;
        .viewport-mobile &{
          float: none;
          display: inline-block;
        }
        .icon{
          float: left;
          width: 31px;
          height: 31px;
          background: @c-primary;
          text-align: center;
          line-height: 31px;
          margin: 7px 10px 0 0;
          .fa{
            color: #fff;
            font-size: 28px;
            top: 2px;
            position: relative;
          }
        }
        .details{
          float: left;
          text-align: right;
          .desc{
            font-family: @ff-bold;
          }
          .info{
            font-size: 18px;
            .viewport-mobile &{
              font-size: 16px;
            }
          }
        }
      }
    }

  }

  .hotel-detail__dates{

    margin-bottom: 70px;
    padding: 10px 0px;

    .background{
      width: 500%;
      height: 84px;
      position: absolute;
      z-index: -1;
      margin-left: -200%;
      margin-top: -10px;

      .color{
        height: 60px;
        background: @c-very-light-grey;
        -webkit-box-shadow: 0px 2px 4px 0px rgba(167, 167, 167, 0.5);
        -moz-box-shadow: 0px 2px 4px 0px rgba(167, 167, 167, 0.5);
        box-shadow: 0px 2px 4px 0px rgba(167, 167, 167, 0.5);
        z-index: 2;
        position: relative;
      }

      .pattern{
        height: 24px;
        width: 100%;
        background: url("@{img-prefix}/background-pattern.gif") repeat-x left top;
      }

    }

    .title-wrapper,
    .no-dates-wrapper,
    .dates-wrapper,
    nav{
      float: left;
      width: 25%;
    }

    .title-wrapper{
      .title{
        font-size: 18px;
        line-height: 40px;
        margin: 0;
      }
    }

    .no-dates-wrapper{
      width: 50%;
      text-align: center;
      p{
        font-size: 18px;
        line-height: 40px;
        color: @c-dark-grey;
      }
    }

    .dates-wrapper{
      width: 50%;
      text-align: center;
      .inner{
        display: inline-block;
        .date-item{
          float: left;
          margin-left: 5px;
          line-height: 40px;
          &:first-child{
            margin-left: 0;
          }
          .title{
            float: left;
            text-transform: uppercase;
          }
          .date{
            float: left;
            font-family: @ff-bold;
            margin-left: 5px;
          }
        }
      }
      
    }

    nav{
      text-align: center;
      button-submit{
        float: right;
        margin-right: 20px;
      }
    }

  }

  .hotel-detail__rooms {

    margin-bottom: 70px;

    hr{
      display: none;
    }

    .section-header{

      order-switch {
        float: right;

        .chosen-container {
          width: 150px !important;
        }

        .viewport-mobile & {
          width: 100%;
          margin: 10px 0px;

          .chosen-container {
            width: 100% !important;
          }
        }
      }
    }

    .search-details {
      margin: 0;
      .room-counter {
        color: @c-mid-grey;
      }
    }

    list-items{

      .display-all-rooms,
      .display-more-rooms {
        color: @c-secondary;
        background: @c-light-grey;
        font-weight: 700;
      }

      list-item {

        .viewport-mobile & {
          border-bottom: 0;
        }

        .item-header{
          margin-bottom: 16px;

          h3{
            a{
              font-family: @ff-heading;
              color: @c-grey;
              text-transform: uppercase;
              font-weight: normal;
              &:after {
                color: @c-primary;
                font-size: 28px;
                position: relative;
                top: 3px;
              }
            }

            .viewport-mobile & {
              width: 100%;

              a {
                &:after {
                  color: @c-grey;
                  content: @fa-var-chevron-right;
                  float: right;
                  margin-top: 2px;
                }
              }
            }
          }
        }

        .list-item-container {
          display: inline-block;
          width: 100%;
          border-top: none;

          .viewport-mobile &{
            border-bottom: none;
            padding-top: 16px;

            &:fist-of-type {
              border-top: none;
              padding-top: 0px;
            }
          }

          > div{

            &.list-item-info {
              box-sizing: border-box;
              width: 30%;
              padding: 0;

              .viewport-mobile &{
                width: 100%;
                padding: 0;
              }

              .room-image{
                width: 266px;
                max-width: 100%;
              }

            }
          }

          .viewport-mobile & {
            border-top: none;
            padding-top: 0px;
            border-bottom: none;
          }

          hero-slider {
            overflow: visible;
            width: auto;
            height: 150px;
            margin-top: 0;

            .slider-content {
              overflow: hidden;
              height: 150px;
              position: relative;

              .hero-slide {
                overflow: visible;
                height: 150px;

                .content-inner {
                  top: 180px;

                  h1 {
                    font-size: @size--1;
                    color: @c-grey;
                    background: none;
                    line-height: initial;
                    text-align: center;
                    text-transform: none;
                    width: 100%;
                    padding: 0px;

                    &:before {
                      display: none;
                    }

                  }

                  h2 {
                    display: none;
                  }
                }
              }
            }

            .slider-controls {
              position: relative;
              height: auto;


              &:before {
                content: '';
                display: block;
                position: absolute;
                right: 3px;
                bottom: 2px;
                z-index: 1;
                height: 150px;
                color: @c-white;
                width: 29px;
                height: 29px;
                text-align: center;
                cursor: pointer;
                background: url('@{img-prefix}/magnifier.png') no-repeat center;

                .viewport-mobile & {
                  display: none;
                }
              }

              &:hover {
                &:before {
                  opacity: 1;
                }
              }

              > div {
                background: none;
                position: absolute;
                left: 0px;
                right: 0px;
                bottom: 0px;
                top: -150px;
              }

              .pages {
                display: none;
              }

              .slide-button {
                background: none;
                width: 18px;
                height: 18px;
                opacity: 1;
                margin-top: -9px;
                padding: 0;


                &.slide-left {
                  background: url('@{img-prefix}/slider-left.png') no-repeat;
                  background-size: 18px;
                  left: 7px;
                  &:before {
                    content: none;
                  }
                }

                &.slide-right {
                  background: url('@{img-prefix}/slider-right.png') no-repeat;
                  background-size: 18px;
                  right: 7px;
                  &:before {
                    content: none;
                  }
                }



              }
            }
          }
        }

      }
    }
  }
}
