///////////////////////
//// HOTELS DETAIL ////
///////////////////////

hotel-detail {

  .back-to-top{
    background: rgba(172, 160, 152, 0.5);
  }

  > header {
    margin-bottom: @baseline;
  }

  // Page Heading
  h1{
    color: @c-mid-grey;
    text-transform: uppercase;
    font-weight: inherit;
  }

  h2 {
    color: @c-mid-grey;
    text-transform: uppercase;
    font-weight: inherit;
    margin-bottom: 16px;
  }

  .hotel-detail__header{

    .logo,
    .title-wrapper,
    .contact-info{
      float: left;
      width: 25%;
    }

    .logo{
      margin-top: 15px;
    }

    .title-wrapper{
      text-align: center;
      width: 50%;
      .title{
        color: @c-dark-grey;
        font-size: 36px;
        line-height: 50px;
      }
    }

    .contact-info{
      margin-top: 7px;
      .inner{
        float: right;
        .icon{
          float: left;
          width: 31px;
          height: 31px;
          background: @c-primary;
          text-align: center;
          line-height: 31px;
          margin: 7px 10px 0;
          .fa{
            color: #fff;
            font-size: 28px;
            top: 2px;
            position: relative;
          }
        }
        .details{
          float: left;
          text-align: right;
          .desc{
            font-family: @ff-bold;
          }
          .info{
            font-size: 18px;
          }
        }
      }
    }

  }

  .hotel-detail__rooms {

    hr{
      display: none;
    }

    .section-header{

      order-switch {
        float: right;

        .chosen-container {
          width: 150px !important;
        }

        .viewport-mobile & {
          width: 100%;
          margin: 10px 0px;

          .chosen-container {
            width: 100% !important;
          }
        }
      }
    }

    .search-details {
      margin: 0;
      .room-counter {
        color: @c-mid-grey;
      }
    }

    list-items{

      .display-all-rooms,
      .display-more-rooms {
        color: @c-secondary;
        background: @c-light-grey;
        font-weight: 700;
      }

      list-item {

        .viewport-mobile & {
          border-bottom: 0;
        }

        .item-header{

          h3{
            a{
              color: @c-primary;
              text-transform: uppercase;
              font-weight: 600;
            }

            .viewport-mobile & {
              width: 100%;

              a {
                &:after {
                  color: @c-grey;
                  content: @fa-var-chevron-right;
                  float: right;
                  margin-top: 2px;
                }
              }
            }
          }
        }
      }
    }
  }
}
