room-products {
	width: 65%;
	> ul {

		> li {
			border: 0;
			border-bottom: 1px solid @c-light-grey;

			&:first-child{
				border-top: 1px solid @c-light-grey;
			}

			&:last-of-type{
				border-radius: 0;
			}

			.no-products{
				padding: 37px 22px;
        &.with-dates{
          text-align: right;
          padding: 20px 22px;
          padding-right: 0px;
        }
				.desc{
					font-size: 18px;
					font-family: @ff-bold;
					margin-bottom: 3px;
				}
        .sub-desc{
          font-size: 12px;
          line-height: 16px;
          margin-bottom: 10px;
        }
			}

			.rate-description {
				border: none;
				h4{
					position: relative;
					top: 5px;
					> span{
						color: @c-very-dark-grey;
						font-weight: normal;
						font-family: @ff-bold;
						font-size: 18px;
					}
					a.info::after{
						color: @c-primary;
					}
          a.description-toggle {
            width: 25px;
            height: 25px;
            line-height: 25px;
            text-align: center;
            background: #dfdfdf;
            margin-right: 17px;
            display: block;
            float: left;
            border-radius: 4px;
            &:after {
              .fa;
              display: inline-block;
              content: @fa-var-plus;
              color: @c-very-dark-grey;
            }

            .viewport-mobile & {
              display: none;
            }
          }
				}
				> p{
          font-size: 12px;
          line-height: 18px;
          padding-left: 42px;
					max-height: 0;
          transition: max-height .3s ease-out;
					
				}

        &.open{
          > p{
            max-height: 999px;
            transition: max-height 1s ease-out;
          }

          h4{
            a.description-toggle {
              &:after {
                content: @fa-var-minus;
            }
            }
          }
          
        }
			}

			pricing-details {
        padding-top: 3px;

        .price-details {
          padding-top: 14px;

          .price-form {
            .value {
              font-size: @size-2;
              color: @c-very-dark-grey;
              font-weight: normal;
              font-style: normal;
              font-family: @ff-heading;
            }
          }

          .viewport-mobile & {
            width: 100%;
            text-align: right;
          }
        }

        .action-buttons {
          width: 50%;
          float: left;
          padding: 0px 5px;
          box-sizing: border-box;
          text-align: right;

          .button {
            min-width: 0;
            padding: 0px 10px;
            margin: 5px 0px;
          }

          .viewport-mobile & {
            width: 100%;
            padding: 0px;
          }
        }

        .viewport-mobile & {
          display: none;
        }
      }

		}
	}
}