@import "./mobile";

.profile-page-background {
  background-color: #EEEDEA;
}

profile-page {
  header {
    margin-bottom: 0;
  }
  form {
    fieldset {
      form-element {
        input[type="text"],
        input[type="email"],
        input[type="password"],
        input[type="tel"],
        select,
        textarea {
          width: 100%;
        }

        select,
        .chosen-container {
          // Using !important here because it is used in global styles
          width: 100% !important;
          height: 48px;
          border: 1px solid #9B9BA0;
          border-radius: 50px;
          background-color: #FFFFFF;
          padding: 0 20px;
          text-align: initial;
          &.with-icon {
            padding-left: 50px;
          }

          .chosen-single {
            span {
              font-size: 100%;
              color: lighten(@c-alt-grey, 10%);
              text-transform: uppercase;
            }
          }
        }

        .chosen-container-single .chosen-single,
        .chosen-single,
        .chosen-single.chosen-default {
          height: 46px;
          line-height: 46px;
          padding: 0;
        }

        label {
          line-height: normal;
        }
      }
    }

    button-submit {
      width: auto;
      float: left;
    }
  }
}
