.viewport-mobile {
  .ProfilePage  {
    background-color: #fbf8f4;
  }

  profile-page {
    header {
      margin-bottom: 20px;
    }
    input[type=text],
    select {
      height: 44px;
      border-radius: 4px;
      border: 1px solid #E6D4BD;
      background-color: #FFFFFF;
      color: @c-alt-grey !important;
      box-shadow: none;
    }
    form {
      fieldset {
        form-element {
          margin-bottom: 10px;
          label {
            color: #A97437;
            line-height: 19px;
            font-size: 14px;
          }
        }
      }
    }
  }
}
