/////////////////////
//// BREADCRUMBS ////
/////////////////////

breadcrumbs{
  margin-bottom: 0px;
}

.breadcrumbs {
  background: #fff;
  padding: 27px 0;
  font-size: @size--3;
  color: @c-secondary;
  line-height: 1;

  .crumbs {
    float: left;

    li {
      display: block;
      float: left;
      text-transform: capitalize;

      span, a {
        display: inline-block;
        margin-right: @baseline/4;
      }

      a {
        color: @c-secondary;

        &:hover {
          color: @c-secondary;
        }
      }

      span:after, a:after {
        color: @c-secondary;
      }

    }
  }

  .alt-nav {

    li {
      a {
        color: @c-secondary;
        &:after {
          border-bottom: 2px solid @c-secondary;
        }
      }

    }
  }
}
