///////////////////////
//// HOTELS DETAIL ////
///////////////////////

hotel-detail {

  .back-to-top{
    background: rgba(159, 147, 107, 0.5);
  }

  > header {
    margin-bottom: @baseline;
  }

  // Page Heading
  h1{
    color: @c-primary;
    text-transform: uppercase;
    font-weight: inherit;
  }

  h2 {
    color: @c-primary;
    text-transform: uppercase;
    font-weight: inherit;
    margin-bottom: 5px;
  }

  .hotel-detail__rooms {

    .section-header{

      order-switch {
        float: right;

        .chosen-container {
          width: 150px !important;
        }

        .viewport-mobile & {
          width: 100%;
          margin: 10px 0px;

          .chosen-container {
            width: 100% !important;
          }
        }
      }
    }

    .search-details {
      margin: 0;
      .room-counter {
        color: @c-mid-grey;
      }
    }

    list-items{

      .display-all-rooms,
      .display-more-rooms {
        color: @c-secondary;
        background: @c-light-grey;
        font-weight: 700;
      }

      list-item {

        .viewport-mobile & {
          border-bottom: 0;
        }

        .item-header{

          h3{
            a{
              color: @c-primary;
              text-transform: uppercase;
              font-weight: 600;
            }

            .viewport-mobile & {
              width: 100%;

              a {
                &:after {
                  color: @c-grey;
                  content: @fa-var-chevron-right;
                  float: right;
                  margin-top: 2px;
                }
              }
            }
          }
        }
      }
    }
  }
}
