///////////////////////
//// LOGIN DIALOG  ////
///////////////////////

//TODO: clean up

.login-dialog {

  border-top: 1px solid @c-grey;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);

  &:before, &:after {
    content: "";
    position: absolute;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@c-grey), to(transparent));
    background-image: -webkit-linear-gradient(@c-grey, transparent);
    background-image: -moz-linear-gradient(@c-grey, transparent);
    background-image: -o-linear-gradient(@c-grey, transparent);
    background-image: linear-gradient(@c-grey, transparent);
    top: -1px;
    bottom: -1px;
    width: 1px;
  }
  &:before {
    left: -1px;
  }
  &:after {
    right: -1px;
  }
}
