/////////////////////
//// ROOM DETAIL ////
/////////////////////

hotel-room {

  .header {
    h1 {
      margin-bottom: @baseline;
    }
  }

  list-items {
    margin: 0;
    list-item {

      &.without-image {
        padding-left: 0;
      }

      h2,
      h3 {
        color: @c-secondary;
        font-weight: normal;
      }

      &:first-of-type {
        border-top: 1px solid @c-border-grey;
      }

      &:last-of-type {
        border-bottom: 1px solid @c-border-grey;
      }

      pricing-info{
        p{
          .value{
            color: @c-dark-grey;
            font-weight: 700;
          }
          
        }
      }
    }
  }

  section.room-description {
    margin-top: @baseline*2;
  }

  //room gallery is the ul
  .room-gallery {
    margin: @baseline 0px;
    .clearfix;

    li {
      float: left;
      display: block;
      margin: @baseline/2 @baseline/2 0 @baseline/2;
      padding: 0;
      width: 150px;

      cursor: pointer;
      //- Image
      figure {
        position: relative;
        left: @baseline/2;
        top: @baseline/2;

        max-height: @list-item-min-height;
        overflow: hidden;
        display: block;
        border: 1px solid #ccc;

        img {
          width: 100%;
          display: block;
        }
      }

      //- Appear eye icon on hover
      &.with-special-eye-hover {
        figure:after {
          position: absolute;
          left: 0;
          top: 0;

          height: 100%;
          width: 100%;

          background: rgba(0, 0, 0, 0.7) url('@{img-prefix}/v4/eye.svg') center center no-repeat;
          background-size: 50px;
          opacity: 0;

          transition: 0.2s all;

          content: '';
        }

        &:hover figure:after {
          opacity: 1;
        }
      }
    }
  }
}

//- If there are no available products
.products-not-available,
.reservations-not-available {
  padding: @baseline * 2;

  background: #f6f3ee;

  text-align: center;

  h3 {
    margin-bottom: @baseline;

    color: #555;

    font-size: @size-3;
  }

  p {
    color: #999;
  }

  button-submit{
    margin-top: 20px;
  }
}
