<div class="ReservationsBackground" ng-if="config.reservations.useBackground"></div>

<section-image ng-if="config.reservations.sectionImages &&
                      config.reservations.sectionImages[0] &&
                      reservations.nextStay"
               id="room-header-image"
               section="config.reservations.sectionImages[0]"
               when="'enter'"
               from="1"
               to="1.5"
               show-logo="false"
               hide-header-logo="false">
</section-image>

<breadcrumbs stickable="main-header" ng-if="!config.reservations.hideBreadcrumbs"></breadcrumbs>

<main class="reservation-overview"
      id="jsReservations"
      ng-class="{'grid-wrapper':!viewSettings.fullWidthSections,
                 'no-future-stays': reservations.futureStays.length === 0,
                 'no-reservations':!reservations.nextStay &&
                                    reservations.futureStays.length === 0 &&
                                    reservations.pastStays.length === 0}">

  <div class="preloader" ng-show="preloader.visible"></div>

  <div ui-view>

    <div class="reservations">

      <div class="reservations-title">
        Reservations
      </div>

      <div ng-if="!reservations.nextStay &&
                  reservations.futureStays.length === 0 &&
                  reservations.pastStays.length === 0"
           class="reservations-not-available">

        <div>
          <h3>_reservation_list_empty_</h3>
          <p>_please_make_reservation_</p>
          <button-submit ng-if="!isLoyaltyEngine"
                         ng-click="selectDates()">
            _select_dates_
          </button-submit>
          <button-submit ng-if="isLoyaltyEngine"
                         ng-click="$state.go('hotels', { scrollTo: 'jsAbout'})">
            _select_hotel_
          </button-submit>
        </div>

      </div>

      <div class="ReservationsNextStay__container">
        <div class="members-only-rate">
            <i class="simple-star"></i>
            Members Only Rate
        </div>
        <div class="members-only-rate-rectangle"></div>
        <div ng-if="reservations.nextStay" class="ReservationsNextStay">
          <!-- TODO SAME AS BOOKING COMPLETE PREVIEW -->
          <div class="ReservationsNextStay__title">
            <h1 ng-bind-html="'_reservation_page_nextstay_title_' | mainHeaderStyle"></h1>
          </div>
          <reservation-item>
              <reservation-details currency-code="defaultCurrencyCode"
                                   reservation="reservations.nextStay"
                                   property="properties[reservations.nextStay.property.code]">
              </reservation-details>
          </reservation-item>
        </div>
        <div ng-if="!reservations.nextStay && futureStays.length"
             class="ReservationsNextStay empty">
          <h3 class="noNextStay">
            Looks like you don’t have any upcoming stays, {{ user.firstName }}
          </h3>
        </div>

        <div
          class="available-upgrades"
          ng-if="reservations.nextStay.availableAddons.length > 0"
          ng-class="{'expanded-view': reservations.nextStay.expandedView}">
          <div class="available-upgrades-title">Enchance your stay</div>
          <div class="available-upgrades-item" ng-repeat="addon in reservations.nextStay.availableAddons">
            <img ng-src="{{addon.image.uri}}" alt="{{ addon.image.uri }}" class="available-upgrades-item-image">
            <div class="available-upgrades-item-text">
              <div class="available-upgrades-item-text-title">Add {{ addon.name }}</div>
              <div class="available-upgrades-item-text-price">${{ addon.price.totalAfterTax }}</div>
            </div>
            <div class="available-upgrades-item-button" ng-click="openAddonDetailDialog($event, addon, false)">Add to stay</div>
          </div>
          <div
            class="available-upgrades-view-all-button"
            ng-click="reservations.nextStay.expandedView = true;">

            View all add ons
          </div>
        </div>
      </div>

      <section-image ng-if="isMobile &&
                            config.reservations.sectionImages &&
                            config.reservations.sectionImages[3] &&
                            reservations.nextStay"
                     section="config.reservations.sectionImages[3]"
                     when="'enter'"
                     from="1"
                     to="1.5"
                     show-logo="false">
      </section-image>

      <div ng-if="reservations.futureStays.length" class="future-stays">

        <div ng-class="{'grid-wrapper':viewSettings.fullWidthSections}">

          <div class="ReservationsFutureStay__title">
            <h1 ng-bind-html="'_reservation_page_futurestays_title_' | mainHeaderStyle"></h1>
          </div>

          <div class="carousel">
            <carousel>
              <slide ng-repeat="reservation in reservations.futureStays | orderBy:'bookingDate' : true" active="slide.active">
                <div class="table-wrap">
                  <reservation-details currency-code="defaultCurrencyCode"
                                    reservation="reservation"
                                    property="properties[reservation.property.code]">
                  </reservation-details>
                </div>
              </slide>
            </carousel>
          </div>

        </div>

      </div>

      <div class="clearfix"></div>

      <section-image ng-if="config.reservations.sectionImages &&
                            config.reservations.sectionImages[1] &&
                            reservations.nextStay"
                     section="config.reservations.sectionImages[1]"
                     when="'enter'"
                     from="1"
                     to="1.5"
                     show-logo="false">
      </section-image>

      <!-- No design for past reservations at this time -->
      <!-- <div ng-if="reservations.pastStays.length" class="past-stays">

        <div ng-class="{'grid-wrapper':viewSettings.fullWidthSections}">

          <h1 ng-bind-html="'_reservation_page_paststays_title_' | mainHeaderStyle"></h1>

          <reservation-item ng-repeat="reservation in reservations.pastStays | orderBy:'bookingDate' : true">

            <div class="table-wrap inactive">
              <reservation-data currency-code="defaultCurrencyCode"
                                reservation="reservation"
                                property="properties[reservation.property.code]"
                                class="inactive">
              </reservation-data>
            </div>

            <hr/>
          </reservation-item>

        </div>
      </div> -->

    </div>
  </div>

  <section-image ng-if="config.reservations.sectionImages &&
                        config.reservations.sectionImages[2] &&
                        reservations.nextStay"
                 section="config.reservations.sectionImages[2]"
                 when="'enter'"
                 from="1"
                 to="1.5"
                 show-logo="false">
  </section-image>

  <!--<scroll-to-top class="back-to-top" ng-click="scrollToTop()" scroll-position="scroll" ng-class="{visible: scroll > scrollTopTrigger}"><span>_back_to_top_</span></scroll-to-top>-->
</main>
