<div
  class="ReservationBackground"
  ng-if="config.useBackground">
</div>

<breadcrumbs
  ng-if="config.displayBreadcrumbsOnReservationDetail"
  stickable="main-header">
</breadcrumbs>


<main
  class="reservation-detail"
  ng-class="{ 'grid-wrapper': !viewSettings.fullWidthSections }">

  <div
    class="preloader"
    ng-show="preloader.visible">
  </div>

  <div
    class="reservation">
    <div class="reservations-title">
      <h1>Your Reservation</h1>
    </div>

    <div class="members-only-rate">
        <i class="simple-star"></i>
        Members Only Rate
    </div>
    <div class="members-only-rate-rectangle"></div>

    <div class="reservation-summary-container">
      <section class="border-right">
        <div class="tables">
          <div class="room-types">
            <figure>
              <img
                ng-if="roomDetails.images[0].uri"
                ng-src="{{ roomDetails.images[0].uri | cloudinaryImage : 400 : 210 : 'fill' }}"
                alt="{{ roomDetails.name }}">
            </figure>

            <check-in-date>
              <div class="title">ARRIVAL</div>
              <div class="date">
                  {{reservation.arrivalDate | checkInDate }}
              </div>
            </check-in-date>

            <div class="reservation-details-container">
              <h3>
                {{ roomDetails.name }}
                <a href ng-click="openOtherRoomsDialog()"
                   ng-if="reservation.rooms.length > 1">
                  + {{ reservation.rooms.length - 1 }} other
                  <ng-pluralize count="reservation.rooms.length"
                                when="{'2': 'room', 'other': 'rooms'}">
                  </ng-pluralize>
                </a>
              </h3>

              <h4 class="booking-arrival-checkout">
                {{ reservation.arrivalDate | dateTime }} &mdash; {{ reservation.departureDate | dateTime }}
              </h4>

              <h4
                ng-if="config.displayConfirmationNumberInDetails"
                class="booking-confirmation-number">
                Confirmation number: <span>{{ reservationCode }}</span>
              </h4>

            </div>
          </div>

          <div class="charges-data">
            <table class="reservation-data-table">
              <tbody>
                <tr ng-if="config.showGuestName" class="guest-name">
                  <th>_guest_name_:</th>
                  <td>{{ reservation.rooms[0].firstName }} {{ reservation.rooms[0].lastName }}</td>
                </tr>
                <tr>
                  <th>_check_in_:</th>
                  <td>{{ reservation.arrivalDate | dateTime }}</td>
                </tr>
                <tr>
                  <th class="check-out">_check_out_:</th>
                  <td class="check-out">{{ reservation.departureDate | dateTime }}</td>
                </tr>
                <tr>
                  <th class="adults">_adults_:</th>
                  <td class="adults">{{ getCount('adults') }}</td>
                </tr>
                <tr>
                  <th class="children">_children_:</th>
                  <td class="children">{{ getCount('children') }}</td>
                </tr>
                <tr ng-if="reservationAddons.length" ng-class="{'last': $last}" ng-show="!breakdown.extended">
                  <th>Addons:</th>
                  <td>{{ getAddonsTotalPrice() | i18nCurrency: defaultCurrencyCode}}</td>
                </tr>
              </tbody>
            </table>

            <div ng-init="breakdown.extended = false">
              <table
                class="reservation-data-table"
                ng-if="config.reservationDetailPriceBreakdownExtended &&
                            reservation &&
                            !config.useSidetable &&
                            reservation.rooms[0].priceDetail &&
                            !reservation.pointValue"
                ng-show="breakdown.extended">

                <thead>
                  <tr>
                    <th class="emphasis">_room_charges_:</th>
                    <td class="emphasis">{{getBreakdownTotalBaseAfterPricingRules() | i18nCurrency: defaultCurrencyCode}}</td>
                  </tr>

                  <tr ng-repeat="breakdown in reservation.rooms[0].priceDetail.breakdowns | orderBy:'date'"
                      ng-class="{'last': $last}">
                    <th>{{formatDate(breakdown.date, 'DD MMM YYYY')}}:</th>
                    <td>{{getBreakdownTotalDate(breakdown.date) | i18nCurrency: defaultCurrencyCode}}</td>
                  </tr>

                  <tr ng-if="reservationAddons.length" ng-class="{'last': $last}">
                    <th class="emphasis">Addons:</th>
                    <td class="emphasis">{{ getAddonsTotalPrice() | i18nCurrency: defaultCurrencyCode}}</td>
                  </tr>

                  <tr ng-repeat="addon in reservationAddons"
                      ng-class="{'last': $last}">
                    <th>{{ addon.name }}:</th>
                    <td>{{ addon.price.totalAfterTax | i18nCurrency: defaultCurrencyCode}}</td>
                  </tr>

                  <tr ng-if="getBreakdownTotalTaxes(false) > 0">
                    <th class="emphasis">_taxes_:</th>
                    <td class="emphasis">{{getBreakdownTotalTaxes(false) | i18nCurrency: defaultCurrencyCode}}</td>
                  </tr>

                  <tr ng-repeat="taxItem in reservation.rooms[0].priceDetail.taxDetails.policyTaxItemDetails"
                      ng-class="{'last': $last}"
                      ng-if="!taxItem.policyTaxItemIsFee">
                    <th>
                      {{taxItem.policyTaxItem.policyTaxItemCode}}
                      <span class="info"
                            ng-if="taxItem.policyTaxItem.policyTaxItemDescription &&
                                   taxItem.policyTaxItem.policyTaxItemDescription !== ''"
                            tooltips
                            tooltip-side="top"
                            tooltip-template="{{taxItem.policyTaxItem.policyTaxItemDescription}}">
                        ?
                      </span>
                    </th>
                    <td>{{getBreakdownTotalTax(taxItem.policyTaxItem.policyTaxItemCode) | i18nCurrency: defaultCurrencyCode}}</td>
                  </tr>

                  <tr ng-if="getBreakdownTotalTaxes(true) > 0">
                    <th>_applicable_fees_:</th>
                    <td>{{getBreakdownTotalTaxes(true) | i18nCurrency: defaultCurrencyCode}}</td>
                  </tr>

                  <tr ng-repeat="taxItem in reservation.rooms[0].priceDetail.feeDetails.policyTaxItemDetails"
                      ng-class="{'last': $last}">
                    <th>
                      {{taxItem.policyTaxItem.policyTaxItemCode}}
                      <span class="info"
                            ng-if="taxItem.policyTaxItem.policyTaxItemDescription &&
                                   taxItem.policyTaxItem.policyTaxItemDescription !== ''"
                            tooltips
                            tooltip-side="top"
                            tooltip-template="{{taxItem.policyTaxItem.policyTaxItemDescription}}">
                        ?
                      </span>
                    </th>
                    <td>
                      {{getBreakdownTotalFee(taxItem.policyTaxItem.policyTaxItemCode) | i18nCurrency: defaultCurrencyCode}}
                    </td>
                  </tr>

                  <!-- Discount -->
                  <tr class="main" ng-if="getCountPriceDetail('totalDiscount') != 0">
                    <th>_discount_:</th>
                    <td>{{getCountPriceDetail('totalDiscount') | i18nCurrency: defaultCurrencyCode}}</td>
                  </tr>
                </thead>
              </table>

              <a
                class="primary-link"
                href
                ng-click="breakdown.extended = !breakdown.extended"
                ng-show="config.reservationDetailPriceBreakdownExtended &&
                         reservation &&
                         hasPriceBreakdown()">
                <span class="price-breakdown" ng-if="!breakdown.extended">_view_price_breakdown_</span>
                <span class="price-breakdown" ng-if="breakdown.extended">_hide_price_breakdown_</span>
              </a>

              <div class="clear"></div>
            </div>
          </div>
        </div>

      </section>

      <div class="total-charges">
        <span class="total">_total_:</span>

        <span class="total-value"
              ng-if="!reservation.pointValue">
          {{getCountPriceDetail('totalAfterTaxAfterPricingRules', true) | i18nCurrency: defaultCurrencyCode}}
        </span>

        <span class="total-value"
              ng-if="reservation.pointValue"
              ng-if="loyaltyProgramEnabled">
          {{reservation.pointValue}} _points_
        </span>
      </div>

      <div class="view-policies">
        <a ng-if="config.displayPoliciesInDetails && !isMobile"
          href
          ng-click="openPoliciesInfo()">
        _view_policies_
        </a>
      </div>

      <div class="modify-buttons"
           ng-if="reservation.status !== 'Cancelled'">
        <div class="booking-date">Booking date: {{reservation.bookingDate | dateTime: 'D MMM YYYY'}}</div>
        <div class="reservation-code">Reservation Code: <span>{{ reservationCode }}</span></div>

        <button
                ng-click="reservation.pointValue ? modifyCancelPointsReservation() : modifyCurrentReservation()"
                ng-class="{disabled: reservation.canModify === false && !reservation.pointValue}"
                ng-if="reservation.canModify">
          modify booking
        </button>

        <button
                ng-click="reservation.pointValue ? modifyCancelPointsReservation() : openCancelReservationDialog()"
                ng-class="{disabled: reservation.canCancel === false && !reservation.pointValue}"
                ng-if="reservation.canCancel">
          cancel booking
        </button>
      </div>

    </div>

    <div class="hotel-details-container">
      <div class="section-padding">
        <section
          class="addon-section"
          ng-if="reservationAddons.length">
          <div class="hotel-details-title">Your Add On’s</div>

          <div
            class="available-upgrades">
            <div class="available-upgrades-item" ng-repeat="addon in reservationAddons">
              <img ng-src="{{addon.image.uri}}" alt="{{ addon.image.uri }}" class="available-upgrades-item-image">
              <div class="available-upgrades-item-text">
                <div class="available-upgrades-item-text-title">Add {{ addon.name }}</div>
                <div class="available-upgrades-item-text-price">{{ addon.price.totalAfterTax | i18nCurrency: defaultCurrencyCode }}
                  <span ng-if="addon.pointsRequired &&
                  loyaltyProgramEnabled &&
                  addon.allowPointsBooking"> _lowercase_or_ {{ addon.pointsRequired }} _points_</span>
                </div>
              </div>
              <div class="available-upgrades-item-checkmark"><i class="fa fa-check" aria-hidden="true"></i></div>
            </div>
          </div>

        </section>

      <section
        class="addon-section"
        ng-if="availableAddons.length">
        <div class="hotel-details-title">Enhance Your Stay with Add On’s</div>

        <div class="available-upgrades" ng-class="{'expanded-view': reservation.expandedView}">
          <div class="available-upgrades-item" ng-repeat="addon in availableAddons">
            <img ng-src="{{addon.image.uri}}" alt="{{ addon.image.uri }}" class="available-upgrades-item-image">
            <div class="available-upgrades-item-text">
              <div class="available-upgrades-item-text-title">Add {{ addon.name }}</div>
              <div class="available-upgrades-item-text-price">{{ addon.price.totalAfterTax | i18nCurrency: defaultCurrencyCode }}
                <span ng-if="addon.pointsRequired &&
                loyaltyProgramEnabled &&
                addon.allowPointsBooking"> _lowercase_or_ {{ addon.pointsRequired }} _points_</span>
              </div>
            </div>
            <div class="available-upgrades-item-button" ng-click="openAddonDetailDialog($event, addon)">More Info</div>
          </div>
          <div
            ng-if="!reservation.expandedView"
            class="available-upgrades-view-all-button"
            ng-click="reservation.expandedView = true;">

            View all add ons
          </div>
        </div>

      </section>

      <section class="reservation-contacts">
        <div class="hotel-details-title">Hotel Location</div>
        <ng-map
          zoom="17"
          scrollwheel="true"
          center="[40.7806869,-73.9810357]"
          styles="[{featureType:'poi.business',elementType:'all',stylers:[{visibility:'off'}]}]">
            <custom-marker position="[40.7806869,-73.9810357]">
            <div class="custom-marker"><img src="/static/images/v4/Logo White@2x.png" alt="Mobius logo"><i class="arrow-down"></i></div>
          </custom-marker>
        </ng-map>
        <div class="hotel-details-title">Contact Information</div>
        <table class="contact-information">
          <tr><td>Phone:</td><td class="right">(212) 787-1100</td></tr>
          <tr><td>Reservations:</td><td class="right">(800) 572-4969</td></tr>
          <tr><td>Address:</td><td class="right">Hotel Beacon NYC
              2130 Broadway
              New York, NY 10023</td></tr>
        </table>

        <div class="ReservationsNextStay-social" ng-click="$event.stopPropagation();">
          <div class="ReservationsNextStay-social-apple-wallet"></div>
          <div class="ReservationsNextStay-social-print" ng-click="printPage();">
            <i class="simple-printer"></i>
            <span>Print Info</span>
          </div>
          <div class="ReservationsNextStay-social-share share" ng-if="config.confirmationPageSharing.socialSharing">
              _share_via_:
              <a ng-if="shareConfig.facebook" href="" title="Share on Facebook" target="_blank" class="icon-fb" fb-like="facebookShare.url"></a>
              <a ng-if="shareConfig.twitter" href="" ng-href="https://twitter.com/intent/tweet?source={{shareURL}}&text={{shareURL}}&via={{shareConfig.twitterUsername}}"
                title="Tweet" target="_blank" class="icon-twitter"></a>
              <a ng-if="shareConfig.googleplus" href="" ng-href="https://plus.google.com/share?url={{shareURL}}" title="Share on Google+"
                target="_blank" class="icon-gplus"></a>
              <a ng-if="shareConfig.mail" href="" ng-href="mailto:?body={{shareURL}}" title="Email" target="_blank" class="icon-email"></a>
          </div>
        </div>
      </section>

      <article
        class="ReservationDetailDiscover">
        <div class="ReservationDetailDiscover__whitebox">
          <div class="ReservationDetailDiscover__subtitle">
            <h1>Discover New York</h1>
            <h2>Hotel Beacon is located in the heart of New York City’s most intriguing museums and cultural attractions.</h2>
            <a href="https://www.beaconhotel.com/location/">
              <button class="ReservationDetailDiscover__button">View Nearby Attractions</button>
            </a>
          </div>
        </div>
      </article>
      </div>
    </div>

    <div class="clear"></div>
  </div>
</main>
