<div class="Header__inner">

  <a ui-sref="home" class="Header__link">
    <img class="Header__logo desktop"
         src="/static/images/v4/logo-black@2x.png"
         alt="Mobius logo">
  </a>

  <div class="Header__buttons">

    <div class="Header__buttons--auth">

      <button class="Header__button login"
              ng-if="!isUserLoggedIn()"
              ng-click="auth.login()">
        _login_
      </button>

      <button class="Header__button register"
              ng-if="!auth.isLoggedIn()"
              ng-click="auth.register()">
        _signup_
      </button>

      <ul dropdown-group class="Header__buttons--preferences">
        <li has-dropdown="click"
            currency-list
            class="Header__buttons--currency Header__buttons--preference">
        </li>
      </ul>

      <div class="Header__profile" ng-if="auth.isLoggedIn()">
        <img class="avatar" src="/static/images/lbe/avatar-placeholder.png">
        <div class="name">
          {{ userObject.firstName }} {{ userObject.lastName }}
        </div>
        <span class="pipe-splitter"></span>
        <div class="loyalty-points">
          <span class="emphasise">{{ userObject.loyalties.amount }}</span> _points_
        </div>
      </div>

      <div class="Header__menu">
        <i class="icons icon-menu" ng-click="toggleMenuOverlay()"></i>
        <span ng-click="toggleMenuOverlay()" class="Header__menu--close"></span>
      </div>
    </div>

  </div>

  <button class="Header__search" ng-click="openBookingBar()">
    Find room
  </button>
</div>

<!-- LOGIN DIALOG -->
<div class="login-dialog-overlay"
     ng-show="!(auth.getStrategy() === 'infiniti') && showLoginDialog"
     ng-include="'layouts/lbe/login-dialog.html'"
     ng-click="auth.clearErrors(); auth.login(); retentionClick()">
</div>

<!-- REGISTER DIALOG -->
<div class="login-dialog-overlay"
     ng-show="!(auth.getStrategy() === 'infiniti') && showRegisterDialog"
     ng-include="'layouts/lbe/register-dialog.html'"
     ng-click="auth.clearErrors(); auth.register(); retentionClick()">
</div>
