<!doctype html>
<html ng-app="mobiusApp">
    <head>
        <base href="/">

        <title>Mobius Hotels</title>

        <meta charset="utf-8" />
        <meta name="version" CONTENT="<%= version %>">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Google webfonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,400,300,700,600|Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>

        <!-- FAVICON -->
        <link rel="shortcut icon" type="image/png" href="static/images/favicon.ico"/>

        <!-- vendor styles CSS --><% vendor_styles.forEach( function ( file ) { %>
        <link rel="stylesheet" type="text/css" href="/<%= file %>" /><% }); %>

        <!-- compiled APP CSS --><% styles.forEach( function ( file ) { %>
        <link rel="stylesheet" type="text/css" href="static/<%= file %>" /><% }); %>

        <!-- vendor JS --><% vendor_js.forEach( function ( file ) { %>
        <script type="text/javascript" src="static/<%= file %>"></script><% }); %>

        <!-- compiled APP JS --><% scripts.forEach( function ( file ) { %>
        <script type="text/javascript" src="static/<%= file %>"></script><% }); %>
    </head>

    <body>
        <!-- Add your site or application content here -->
        <div ui-view></div>

        <!-- Temporary script for show/hide typography grid -->
        <script>
          (function(){
            var handleKey = function(event){
              if (event.keyCode === 71 && event.type === 'keydown')
                document.querySelector('[typo-grid]').style.backgroundImage = 'url("/static/images/baseline.png")';
              if (event.keyCode === 71 && event.type === 'keyup')
                document.querySelector('[typo-grid]').style.backgroundImage = '';
            };
            window.addEventListener('keydown', handleKey, false);
            window.addEventListener('keyup', handleKey, false);
          })();
        </script>
    </body>

</html>
