<!doctype html>
<html ng-app="mobiusApp">
    <head>
        <base href="_base_href_">
        <title>_page_title_</title>

        <meta charset="utf-8" />
        <meta name="language" content="_language_">
        <meta http-equiv="Content-Language" content="_language_code_">

        <meta name="version" CONTENT="<%= version %>">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="initial-scale=1">

        <!-- Google webfonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,400,300,700,600|Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>

        <!-- FAVICON -->
        <link rel="shortcut icon" type="image/png" href="/static/images/favicon.ico"/>

        <!-- vendor styles CSS --><% vendor_styles.forEach( function ( file ) { %>
        <link rel="stylesheet" type="text/css" href="/<%= file %>" /><% }); %>

        <!-- compiled APP CSS --><% styles.forEach( function ( file ) { %>
        <link rel="stylesheet" type="text/css" href="/static/<%= file %>" /><% }); %>
        <!-- vendor JS --><% vendor_js.forEach( function ( file ) { %>
        <script type="text/javascript" src="/static/<%= file %>"></script><% }); %>

        <!-- compiled APP JS --><% scripts.forEach( function ( file ) { %>
        <script type="text/javascript" src="/static/<%= file %>"></script><% }); %>

        <!-- compiled APP TEMPLATES --><% templates.forEach( function ( file ) { %>
        <script type="text/javascript" src="/static/<%= file %>"></script><% }); %>

        <!-- Google maps -->
        <script src="http://maps.google.com/maps/api/js"></script>
    </head>

    <body resize-watcher>
        <!-- Add your site or application content here -->
        <div ui-view></div>

        <!-- Temporary script for show/hide typography grid -->
        <!-- TODO: Remove that before going to production -->
        <script>
          (function(){
            var handleKey = function(event){
              if (event.keyCode === 71 && event.type === 'keydown')
                document.querySelector('[typo-grid]').style.backgroundImage = 'url("/static/images/baseline.png")';
              if (event.keyCode === 71 && event.type === 'keyup')
                document.querySelector('[typo-grid]').style.backgroundImage = '';
            };
            window.addEventListener('keydown', handleKey, false);
            window.addEventListener('keyup', handleKey, false);
          })();
        </script>
    </body>

</html>
