<hero-slider content="heroContent"
             slide-width="uiConfig.heroSlider.slideWidth"
             slide-height="uiConfig.heroSlider.slideHeight">
</hero-slider>

<div class="Home__hero--info show-desktop" ng-if="isLoyalty">
  <h2 class="About__hero--tagline">_about_tagline_</h2>
  <h1 class="About__hero--title">{{ offersList[0].title }}</h1>
  <button ng-click="openBookingBar()" class="Home__hero--button">_search_</button>
</div>

<article class="HeroTitle" ng-if="isLoyalty && !showDetail">
  <div class="HeroTitle__inner">
    <img src="/static/images/v4/logo-icon@3x.png">
    <div class="HeroTitle__title">
      <h1>{{ offersList[0].meta.description }}</h1>
    </div>
    <a ng-href="{{offersList[0].url}}" class="HeroTitle__button">
      _find_out_more_
    </a>
  </div>
</article>

<booking-bar class="Home__booking-bar"
             size="small"
             ng-if="isLoyalty">
</booking-bar>

<breadcrumbs stickable="main-header"
             class="OffersBreadcrumbs">
</breadcrumbs>

<main class="grid-wrapper OffersPage">

  <div class="preloader" ng-show="preloader.visible"></div>

  <div grid="12" ng-if="isHotDeals && !showDetail">
    <p>_hot_deals_page_description_</p>
    <hr/>
  </div>

  <offers-list grid-row ng-if="!showDetail" class="OffersGrid">

    <div grid="12"
         ng-if="config.displayPageHeading"
         class="offers-heading">
      <h1 ng-if="isHotDeals"
          class="OffersGrid__title"
          ng-bind-html="'_hot_deals_' | mainHeaderStyle">
      </h1>
      <h1 ng-if="!isHotDeals"
          class="OffersGrid__title"
          ng-bind-html="'_offers_deals_' | mainHeaderStyle">
      </h1>
    </div>

    <offer-item ng-repeat="offer in offersList track by $index"
                ng-if="offersList.length > 0"
                class="OffersGrid__item">
      <a ng-href="{{offer.url}}">
        <div class="banner"
             ng-if="offer.merchandisingBanner"
             ng-style="{'background-color': offer.merchandisingBanner.bgColor, 'color': offer.merchandisingBanner.textColor}">
          {{offer.merchandisingBanner.text}}
        </div>
        <img class="OffersGrid__image"
             ng-src="{{offer.image.uri | cloudinaryImage : 310 : 160 : 'fill'}}"
             alt="{{offer.image.alt}}"/>

        <section class="OffersGrid__item--details">
          <span class="offer-property-name"
                ng-if="isHotDeals && offer.propertyName">
            {{offer.propertyName}}
          </span>
          <h2 ng-bind-html="offer.availability &&
                            offer.availability.title &&
                            offer.availability.title != ''  ?
                            offer.availability.title : offer.title |
                            wrapWordHtml : 'span' : 0 : config.offersThumbnailsTitlePattern : offer.propertyName">
          </h2>
          <div ng-bind-html="offer.availability &&
                             offer.availability.subtitle &&
                             offer.availability.subtitle != ''  ?
                             offer.availability.subtitle :
                             offer.subtitle">
          </div>
        </section>

        <span class="read-more">_read_more_</span>
      </a>
    </offer-item>

    <div ng-if="offersList.length === 0 && !property" class="products-not-available">
      <h3>_offers_page_no_offers_title_</h3>
      <p>_offers_page_no_offers_desc_</p>
      <a class="button" ui-sref="hotels({property: null})">_view_hotels_</a>
    </div>

    <div ng-if="offersList.length === 0 && property" class="products-not-available">
      <h3>_offers_page_no_property_offers_title_</h3>
      <p>_offers_page_no_offers_desc_</p>
    </div>


  </offers-list>

  <offer-detail id="offer-detail"
                grid-row
                ng-if="showDetail">
    <div grid="12">
      <h1 ng-bind-html="selectedOffer.availability &&
                        selectedOffer.availability.title !== '' ?
                        selectedOffer.availability.title :
                        selectedOffer.title | mainHeaderStyle">
      </h1>

      <highlight ng-if="isLoyalty">
        <div class="Offer__about">
          <h2 class="Highlight__title">
            _book_offer_to_receive_
          </h2>
          <span ng-bind-html="selectedOffer.subtitle | trustAsHtml"></span>
        </div>
        <div class="Offer__properties">
        </div>
      </highlight>

      <trip-adviser-quote ng-if="!isMobile"></trip-adviser-quote>

      <div class="offer-content">
        <img ng-if="!config.displayOfferImageInHeroSlider"
             ng-src="{{selectedOffer.image.uri | cloudinaryImage : 482 : 280 : 'fill'}}"
             alt="{{selectedOffer.image.uri}}"/>

        <span ng-bind-html="selectedOffer.availability &&
                            selectedOffer.availability.text !== '<div></div>' &&
                            selectedOffer.availability.text !== '' ?
                            selectedOffer.availability.text :
                            selectedOffer.text | trustAsHtml"
              markdown-text-parser
              ng-click="bindHtmlClick($event)"
              class="markdown-content">
        </span>

        <a class="button login hide" ng-click="login()">
          _login_register_
        </a>
      </div>

      <trip-adviser-quote ng-if="isMobile"></trip-adviser-quote>

      <members-rate rooms="memberRates" size="large"></members-rate>

      <div class="controls"
           ng-if="selectedOffer.availability ?
           selectedOffer.availability.includeBookingButton :
           selectedOffer.includeBookingButton">

        <div class="inner"
             ng-class="{'has-dropdown': config.includeOfferAvailabilityPropertyDropdown && offerAvailabilityProperties.length}">
          <div class="property-select"
               ng-if="config.includeOfferAvailabilityPropertyDropdown && offerAvailabilityProperties.length">
            <select
              name="propertySelect"
              ng-model="selectedOfferAvailabilityData.selectedOfferAvailabilityProperty"
              disable-search="true"
              chosen
              chosen-options-class="{ 'location': type === 'location'}"
              ng-options="option.slug as option.name for option in offerAvailabilityProperties"
              placeholder-text-single="Choose your hotel"
              ng-change="prefillBookingWidgetProperty(selectedOfferAvailabilityData.selectedOfferAvailabilityProperty)">
              <option value=""></option>
            </select>
          </div>

          <!-- DATES ARE SELECTED -->
          <button-submit ng-click="goToHotels(selectedOffer)"
                         ng-disabled="config.includeOfferAvailabilityPropertyDropdown &&
                                      offerAvailabilityProperties.length &&
                                      !selectedOfferAvailabilityData.selectedOfferAvailabilityProperty"
                         ng-show="hasDates">
            _book_now_
            <span ng-if="isHotDeals && selectedOffer.propertyName">
              at {{selectedOffer.propertyName}}
            </span>
          </button-submit>

          <!-- USER SPECIFIES DATES -->
          <button-submit ng-if="selectedOffer.availability ?
                                selectedOffer.availability.includeBookingButton :
                                selectedOffer.includeBookingButton"
                         ng-click="selectDates()"
                         ng-disabled="config.includeOfferAvailabilityPropertyDropdown &&
                                      offerAvailabilityProperties.length &&
                                      !selectedOfferAvailabilityData.selectedOfferAvailabilityProperty"
                         ng-hide="hasDates">
            _select_dates_
          </button-submit>
        </div>
      </div>

      <button-back role="button"
                   tabindex="0"
                   ng-click="goToOffersList()"
                   class="pull-left">
        _back_
      </button-back>

    </div>
    <div grid="12">
      <hr ng-if="offersList.length > 1">

      <h2 ng-if="offersList.length > 1"
          ng-bind-html="'_more_offers_title_' | mainHeaderStyle">
      </h2>
      <offers-list ng-if="offersList.length > 1">
        <offer-item ng-repeat="offer in offersList |
                               filter:{hideFromExtraOffers:false} |
                               filter:getRelevant track by $index">
          <a ng-href="{{offer.url}}">
            <div class="banner"
                 ng-if="offer.merchandisingBanner"
                 ng-style="{
                  'background-color': offer.merchandisingBanner.bgColor,
                  'color': offer.merchandisingBanner.textColor}">
              {{offer.merchandisingBanner.text}}
            </div>
            <img ng-src="{{offer.image.uri | cloudinaryImage : 310 : 160 : 'fill'}}" alt="{{offer.image.uri}}"/>

            <section>
              <span class="offer-property-name"
                    ng-if="isHotDeals && offer.propertyName">
                {{offer.propertyName}}
              </span>
              <h2 ng-bind-html="offer.availability &&
                                offer.availability.title &&
                                offer.availability.title != ''  ?
                                offer.availability.title : offer.title |
                                wrapWordHtml : 'span' : 0 : config.offersThumbnailsTitlePattern : offer.propertyName">
              </h2>
              <div ng-bind-html="offer.availability &&
                                 offer.availability.subtitle &&
                                 offer.availability.subtitle !== '' ?
                                 offer.availability.subtitle : offer.subtitle">
              </div>
            </section>

            <span class="read-more">_read_more_</span>
          </a>
        </offer-item>
      </offers-list>
    </div>

  </offer-detail>
  <scroll-to-top class="back-to-top" ng-click="scrollToTop()" scroll-position="scroll" ng-class="{visible: scroll > scrollTopTrigger}"><span>_back_to_top_</span></scroll-to-top>
</main>

<div ng-include="'layouts/siteMap.html'" class="site-map" ng-if="footerConfig.displaySitemap"></div>
