dialog.details {
  main {
    image-carousel {
      .image-wrapper {
        border-radius: 6px;
        overflow: hidden;
        border: none;
      }
      ul li {
        img {
          border-radius: 6px;
          overflow: hidden;
        }
        border: none;
      }
    }
    .extra .button {
      box-shadow: none;
      &:hover {
        box-shadow: none;
      }
      &:not(:last-of-type) {
        margin-bottom: 10px;
      }
    }
  }
}
