<article class="questionnaire">

  <article class="questionnaire__points">

    <div class="questionnaire__status">
      <span>Your Status</span>
    </div>

    <div class="questionnaire__your-points">
      <span class="points">{{ points }}</span>
      <span class="points-label">_points_</span>
    </div>

    <div class="questionnaire__tier">
      <div class="tier-content">
        <span class="tier">{{ tier }} tier</span>
        <span class="stays">{{ numPointsToNextTier }} points</span>
        <span class="tagline">Away from Next Tier</span>
      </div>
    </div>

  </article>

  <article ui-sref="rewards" class="questionnaire__feature">

    <div class="questionnaire__featureReward">
      <span>Featured reward</span>
    </div>

    <div class="questionnaire__reward">
      <span class="rewardName">{{ featuredReward }}</span>
      <span class="rewardPoints">{{ featuredRewardPoints }} Points</span>
    </div>

  </article>

  <article ng-if="!nextStay && !question"
           ui-sref="reservations"
           class="questionnaire__questions nextStay">

    <h1 class="questionnaire__nextStay--subtitle emptyMessage">You do not have any upcoming stays</h1>

  </article>

  <article ng-if="nextStay"
           ui-sref="reservations"
           class="questionnaire__questions nextStay">

    <div class="questionnaire__status">
      <span>Your next stay</span>
    </div>

    <h1 class="questionnaire__nextStay--title">
      {{ nextStay.property.nameShort }}
    </h1>

    <h2 class="questionnaire__nextStay--subtitle">
      {{ nextStay.rooms[0].roomTypeName }}
    </h2>

    <h3 class="questionnaire__nextStay--details">
      {{ nextStay.rooms[0].productName }}
    </h3>

    <h3 class="questionnaire__nextStay--details">
      Confirmation number : {{ nextStay.reservationCode }}
    </h3>

    <h3 class="questionnaire__nextStay--details">
      {{ nextStay.arrivalDate | dateTime }} - {{ nextStay.departureDate | dateTime }}
    </h3>

  </article>

  <article ng-if="! nextStay" class="questionnaire__questions">

    <span class="error" ng-if="errorMsg">{{ errorMsg }}</span>

    <h2 class="questionnaire__title">_questionnaire_title_</h2>

    <p class="questionnaire__subtitle">{{ reward }}</p>

    <h1 class="questionnaire__question">{{ question }}</h1>

    <ul class="questionnaire__options">
      <li ng-repeat="option in options">
        <label>
          <input type="radio"
                 name="choice"
                 ng-model="choiceId"
                 value="{{ option.value }}" />
          {{ option.name }}
        </label>

      </li>
    </ul>

    <button type="submit"
            ng-click="answer()"
            class="questionnaire__submit">
      _submit_
    </button>

  </article>

</article>
