@import "variables";
@import "mobile";

.questionnaire {

  padding: 0 @questionnaire-padding;
  overflow: hidden;
  margin-bottom: 115px;
  position: relative;

  // Typography
  h1, h2 {
    color: @c-primary;
  }

  h1 {
    font-size: 16px;
    letter-spacing: @questionnaire-letter-spacing-wide;
    font-family: @ff-primary;
  }

  h2 {
    font-size: 12px;
    letter-spacing: @questionnaire-letter-spacing-avg;
    font-family: @ff-secondary;
  }

  .questionnaire__points {
    height: 300px;
    margin-bottom: 13px;
    object-fit: contain;
    background: url(@questionnaire-points-bg-image);
  }

  .questionnaire__feature {
    height: 137px;
    object-fit: contain;
    background: url(@questionnaire-feature-reward-bg-image);
  }

  .questionnaire__subtitle {
    color: @lbe-c-secondary;
    font-size: 15.2px;
    letter-spacing: @questionnaire-letter-spacing-wide;
    margin-bottom: 48px;
  }

  .questionnaire__your-points {
    margin: 64px 0 0 66px;
    font-family: @ff-secondary;
    .points {
      color: @c-primary;
      font-size: 45px;
      letter-spacing: @questionnaire-letter-spacing-wide;
      display: block;
      padding-bottom: 20px;
    }
    .points-label {
      color: @c-text;
      font-size: 27px;
      letter-spacing: @questionnaire-letter-spacing-wide;
      text-transform: capitalize;
    }
  }

  .questionnaire__status {
    margin: 27px 0 0 37px;
    span {
      font-family: @ff-secondary;
      text-transform: uppercase;
      color: @c-white;
      font-size: 16px;
      &.subtitle {
        color: @c-text;
        font-weight: bold;
      }
    }
  }

  .questionnaire__points,
  .questionnaire__feature {
    float: left;
    width: 54%;
    margin-right: 15px;
  }

  .questionnaire__questions {
    overflow: hidden;
    padding: @questionnaire-questions-padding;
    border: @questionnaire-questions-border;
    box-sizing: border-box;
    height: 100%;
    position: absolute;
    margin-left: 50%;
    width: 50%;

    &.completed {
      padding-left: 90px;
    }

    .error {
      font-family: Raleway;
      color: #ff0000;
      font-size: 12px;
    }

    &.nextStay {
      background: url('@{lbe-img-prefix}/next-stay-bg.png');
      padding: 0 32px 20px 32px;
    }

    .questionnaire__status {
      margin-left: 0;
    }

  }

  .questionnaire__options {
    label {
      font-size: 18.2px;
      font-family: @ff-primary;
      line-height: 2.3;
      color: @c-black;
    }
    // @todo create custom checkboxes
    /*input {
      //appearance: none;
      width: 18px;
      height: 18px;
      border: solid 1px #adb3b9;
    }*/
  }

  .questionnaire__tier {
    width: @questionnaire-tier-circle-size;
    height: @questionnaire-tier-circle-size;
    border-radius: 50%;
    border: @questionnaire-tier-circle-border;
    position: relative;
    top: -120px;
    left: 350px;
    .tier-content {
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 100%;
    }
    span {
      display: block;
      font-family: @ff-secondary;
    }
    .tier {
      text-transform: uppercase;
      color: @c-text;
      font-size: 14px;
    }
    .tagline {
      color: @c-text;
    }
    .stays {
      font-size: 21px;
      line-height: 29px;
      color: @c-primary;
      letter-spacing: @questionnaire-letter-spacing-thin;
    }
  }

  .questionnaire__featureReward {
    width: 169px;
    height: 24px;
    margin-top: 8px;
    padding-left: 20px;
    background: @lbe-c-tertiary;
    span {
      font-size: 14px;
      color: @c-white;
      text-transform: uppercase;
    }
  }

  .questionnaire__reward {
    width: 491px;
    height: 70px;
    margin-top: 9px;
    backdrop-filter: blur(1.6px);
    background-color: rgba(26, 26, 26, 0.8);
    padding: 11px 0 0 17px;
    span {
      font-family: @ff-secondary;
      display: block;
      color: @c-white;
    }
    .rewardName {
      text-transform: uppercase;
    }
    .rewardPoints {
      font-size: 18px;
    }
  }

  .questionnaire__submit {
    width: 246px;
    height: 40px;
    background-color: @c-primary;
    font-size: 16px;
    font-family: @ff-primary;
    text-align: center;
    border-radius: 0;
    color: @c-white;
  }

  .questionnaire__nextStay--title,
  .questionnaire__nextStay--subtitle,
  .questionnaire__nextStay--details {
    text-transform: uppercase;
    font-family: @ff-secondary;
    color: #fff;
  }

  .questionnaire__nextStay--title {
    font-size: 34px;
    line-height: 41px;
    padding-bottom: 23px;
  }

  .questionnaire__nextStay--subtitle {
    font-size: 21px;
    line-height: 29px;
    padding-bottom: 11px;

    &.emptyMessage {
      text-align: center;
      padding-top: 40%;
      padding-right: 50px;
    }
  }

  .questionnaire__nextStay--details {
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 17px;
  }

}

