@import "../../../../../styles/lbe/variables";

/*
 |=================================
 | General
 |=================================
 */

// Paths
@questionnaire-points-bg-image: "@{lbe-img-prefix}/status-bg.png";
@questionnaire-status-divider: "@{lbe-img-prefix}/divider.png";
@questionnaire-feature-reward-bg-image: "@{lbe-img-prefix}/featured-reward-bg.png";

/*
 |=================================
 | Desktop
 |=================================
 */

// Typography
@questionnaire-h1-size: 16px;
@questionnaire-h2-size: 12px;
@questionnaire-letter-spacing-wide: 1.4px;
@questionnaire-letter-spacing-avg: 1.1px;
@questionnaire-letter-spacing-thin: 0.9px;

// Sizing
@questionnaire-padding: 0 30px 0 35px;
@questionnaire-tier-circle-size: 188px;
@questionnaire-tier-circle-border: solid 7.7px #f1f1f1;

@questionnaire-questions-padding: 51px 13px;
@questionnaire-questions-border: solid 2px #fff;
@questionnaire-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.075);

/*
 |=================================
 | Mobile
 |=================================
 */
@questionnaire-mobile-padding: 0 20px 0 20px;
@questionnaire-mobile-questions-border: solid 1px #d8d8d8;
@questionnaire-tier-circle-size: 150px;
@questionnaire-tier-circle-border: solid 6.1px #f1f1f1;
