////////////////////
//// LIST ITEMS ////
////////////////////

@c-link-alt: darken(@c-link, 12%);
@c-highlight-bg: #e6dcce;
@c-disabled-bg: #ededed;
@list-item-min-height: 100px;

pricing-switch {

  a {
    color: @c-grey;

    &.is-active {
      font-weight: normal;
      color: @c-primary;
    }
  }
}


//- List Items - Grid
list-items.grid-view {

  list-item {

  	&:last-of-type{
  		border: none;
  	}

  	//- Image
    figure {
      margin-bottom: 0;
    }

    //- Heading
    h2 {
      color: @c-primary;
      font-size: @size-1;
      font-weight: normal;
    }

  }
}


