@import "./mobile";

.Offers {
  width: 100vw;
  left: calc(~'50% - 25px');
  margin-left: -50vw;
  position: relative;
  padding-left: 15px;
}

.Offers__title {
  font-family: Raleway;
  font-size: 31px;
  text-align: center;
  color: #000;
  line-height: 36px;
  margin-bottom: 60px;
  &:after {
    content: url('@{img-prefix}/lbe/divider-orange.png');
    display: block;
  }
}

.Offers__offer--title {
  line-height: 72px;
  background-color: rgba(26, 26, 26, 0.8);
  .backdrop-filter-blur(20px);
  font-size: 21px;
  color: #fff;
  letter-spacing: 0;
  font-family: Raleway;
  position: absolute;
  margin-top: 22px;
  padding: 0 18px;
  text-transform: uppercase;
}

.Offers__offer {
  display: inline;
  padding: 0 7px 7px 0;
  cursor: pointer;
  img {
    width: 32%;
    height: 263px;
  }
}

.Offers__panel {
  margin-bottom: 50px;
  text-align: center;
}

.Offers__button {
  width: 192px;
  height: 60px;
  border: solid 2.4px @c-secondary;
  background: transparent;
  color: @c-secondary;
  font-family: Raleway;
  font-size: 20px;
  line-height: 24px;
  border-radius: 0;
}

.Offers__see-more {
  text-align: center;
  margin-bottom: 96px;
}
