<div class="ui-dialog">
  <div class="modal-header">
    <h3 class="modal-title">Advanced options</h3>
    <button class="button-close" ng-click="cancel()">X</button>
  </div>

  <div class="modal-body">
    <form name="advancedOptionsForm" class="advanced-options">
      <label for="advanced-rates">
        Rates
        <select name="advancedRates" id="advanced-rates" chosen disable-search="true" ng-model="data.selectedRate" ng-options="rate.code as rate.name for rate in rates"/>
      </label>
      <div class="room-count">
        <label for="advanced-single-room" ng-class="{'is-selected': data.multiRoom == '0'}">
          <input type="radio" name="advancedRoomCounts" id="advanced-single-room" value="0" ng-model="data.multiRoom" >
          Single room Booking
        </label>
        <label for="advanced-multiple-room" ng-class="{'is-selected': data.multiRoom == '1'}">
          <input type="radio" name="advancedRoomCounts" id="advanced-multiple-room" value="1" ng-model="data.multiRoom">
          Multiple room Booking
        </label>
      </div>
      <div class="additional-rooms" ng-show="data.multiRoom == 1">
        <div class="room-item select-group" ng-repeat="room in data.rooms">
          <label for="advanced-room" class="label-inline">Room {{$index + 1}}</label>
          <div class="form-group">
            <select name="adults" required ng-model="room.adults" disable-search="true" chosen ng-options="number for number in numbers" />
            <span class="info">Adults:</span>
          </div>
          <div class="form-group">
            <select name="children" required ng-model="room.children" disable-search="true" chosen ng-options="number for number in numbers" />
            <span class="info">Children:</span>
          </div>
          <button class="button-red" ng-if="isRemoveVisible($index)" ng-click="removeRoom()">Remove</button>
        </div>
        <button class="button button-add" ng-click="addRoom()" ng-show="canAddRoom">Add Room</button>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button class="button button-blue" ng-click="clickOk()">OK</button>
  </div>
</div>
