<div class="ui-info">
  <header>
    <h1 ng-if="data.product.partialAvailability.code === 'mi'">Extend your stay by {{stayExtension}} nights and you could book</h1>
    <h1 ng-if="data.product.partialAvailability.code === 'ma'">Reduce your stay by {{stayReduction}} nights and you could book</h1>
    <button-close role="button" aria-label="Close" ng-click="cancel()"></button-close>
  </header>

  <main>
    <img ng-src="{{data.product.image.uri | cloudinaryImage : 320 : 220 : 'fill'}}" alt="{{data.product.image.alt}}"/>
    <span class="price-difference">Save
      <span class="value">{{getValuePer(priceDifference, true) | i18nCurrency:currencyCode:undefined:true}}</span>
      <span class="pricing-filter-label" ng-if="pricePer === PP_NIGHT">_per_night_</span>
      <span ng-if="pricePer === PP_STAY">_per_stay_</span>
    </span>
    <div class="details">
      <h2>{{data.product.name}}</h2>
      <div class="description" ng-bind-html="data.product.description"></div>
      <div ng-if="data.product.inclusions" class="product-inclusions">
        <ul>
          <li ng-repeat="inclusion in data.product.inclusions">
            <img ng-src="{{inclusion.image.uri | cloudinaryImage : 20 : 20 : 'fill'}}" alt="inclusion.image.alt" ng-if="inclusion.image && inclusion.image.uri"/>
            <i class="fa {{inclusion.icon}}" ng-if="!inclusion.image && inclusion.icon"></i>
            <span class="inclusion-letter" ng-if="!inclusion.image && !inclusion.icon">{{inclusion.inclusionName | limitTo:1}}</span>
            <span class="tooltiptext">{{inclusion.inclusionName}}</span>
          </li>
        </ul>
      </div>
      <div class="button-strip">
        <a class="button" href ng-click="reloadPageProducts()">_change_my_dates_</a>
      </div>
    </div>
  </main>
</div>
