<div class="ui-info">
  <header>
    <h1>{{data.roomDetails.name}}</h1>
    <button-close role="button" aria-label="Close" ng-click="cancel()"></button-close>
  </header>

  <main>
    <image-carousel width="400" height="400" fill="'fill'" images="data.roomDetails.images"></image-carousel>
    <div class="details">
      <div class="description" ng-bind-html="sanitize(data.roomDetails.description)"></div>
      <div class="extra">
        <span class="price">
          From <span class="value">{{data.roomDetails.priceFrom | i18nCurrency: $root.currencyCode}}</span>
        </span>
        <a ng-click="cancel()" class="button view-more" ui-sref="room({propertyCode: data.propertyCode, roomID: data.roomDetails.code})"><i></i>_view_room_</a>
      </div>
    </div>
  </main>
</div>
