<div class="ui-info">
  <div class="modal-header">
    <h3 class="modal-title">{{roomDetails.name}} - <strong>{{roomDetails.bedTypeName}}</strong></h3>
    <button class="button-close" ng-click="cancel()">X</button>
  </div>
  <div class="modal-body">
    <image-carousel images="roomDetails.images"></image-carousel>
    <div class="associated-room-description">{{roomDetails.description}}</div>
    <span class="associated-room-price">{{roomDetails.priceFrom | i18nCurrency: currencyCode}}</span>
    <a ui-sref="room({propertyCode: propertyCode, roomID: roomDetails.code})" class="more" ng-click="onClickViewMore()">_view_more_</a>
  </div>
</div>
