<div class="ui-info">
  <div class="modal-header">
    <button class="button-close" ng-click="cancel()"><i class="fa fa-times"></i></button>
  </div>
  <div class="modal-body">
    <p>The CVV Number ("Card Verification Value") on your credit card or debit card is a 3 digit number on VISA®, MasterCard® and Discover® branded credit and debit cards. On your American Express® branded credit or debit card it is a 4 digit numeric code.</p>

    <p>It is found on the signature strip on the back of the card for  VISA®, MasterCard® and Discover® branded credit and debit cards. and the 4 digits above the card number on the front of American Express® branded credit or debit card.</p>
  </div>
</div>
