<div class="ui-dialog">
  <div class="modal-header">
    <h3 class="modal-title">{{setup.header}}</h3>
    <button class="button-close" ng-click="cancel()">X</button>
  </div>

  <div class="modal-body">
    <reservation-item>
      <p>{{setup.question}}</p>
    </reservation-item>
  </div>

  <div class="modal-footer">
    <button class="button button-blue" ng-click="yesCallback()">{{setup.yes}}</button>
  </div>
  <div class="modal-footer" ng-if="setup.no">
    <button class="button button-gray" ng-click="noCallback()">{{setup.no}}</button>
  </div>
</div>
