<div class="ui-info">
  <div class="modal-header">
    <h1 class="modal-title">{{setup.header}}</h1>
    <button class="button-close" ng-click="cancel()"><i class="fa fa-times"></i></button>
  </div>
  <div class="modal-body">
    <p>{{setup.question}}</p>
  </div>

  <div class="modal-footer">
    <button class="button button-blue" ng-click="yesCallback()">{{setup.yes}}</button>
    <button class="button button-gray" ng-click="noCallback()" ng-hide="!setup.no">{{setup.no}}</button>
  </div>
</div>
