<div class="ui-dialog">
  <div class="modal-header">
    <h3 class="modal-title">Enter Your Code</h3>
    <button class="button-close" ng-click="cancel()">X</button>
  </div>

  <div class="modal-body">
    <form name="resetForm" ng-submit="resetForm.$valid && changePassword()">

      <label for="code">
        Code
        <input type="text" name="code" ng-model="formData.code" ng-model-options="{ updateOn: 'blur'}" ng-pattern="codePattern" ng-trim="true" required />
      </label>

      <label for="password">
        New Password
        <input type="password" name="password" ng-model="formData.password" ng-model-options="{ updateOn: 'blur'}" required />
      </label>

      <label for="confirmPassword">
        Confirm Password
        <input type="password" name="confirmPassword" ng-model="formData.passwordConfirm" equals="formData.password" required />
      </label>
      <div class="form-errors" ng-show="resetForm.$invalid || password != passwordConfirm">
        <span ng-show="resetForm.code.$invalid">Invalid code format. </span>
        <span ng-show="resetForm.confirmPassword.$error.equals">Passwords difffers.</span>
        <span ng-show="resetForm.password.$error.required">Please fill your password.</span>
        <span ng-show="resetForm.confirmPassword.$error.required">Please confirm your password.</span>
      </div>

      <div class="modal-footer">
        <button class="button button-full" type="submit" ng-disabled="resetForm.code.$invalid || !formData.password || !formData.passwordConfirm" ng-hide="passwordChanged">Change Password</button>
        <button class="button button-full" ng-if="passwordChanged" ng-click="ok()">Continue</button>
      </div>
    </form>
  </div>

  <div class="info-box-success" ng-show="passwordChanged" ng-class="{'modal-info-success': passwordChanged}">
    <p><strong>Success!</strong></p>
    <p>Your password was successfully changed</p>
  </div>
</div>
