<div class="ui-dialog">
  <div class="modal-header">
    <h3 class="modal-title">Enter Your Code</h3>
    <button class="button-close" ng-click="cancel()">X</button>
  </div>

  <div class="modal-body">
    <form name="resetForm">

      <label for="reset-code">
        Code
        <input type="text" id="reset-code" name="resetCode" ng-model="code" ng-model-options="{ updateOn: 'blur'}" ng-pattern="codePattern" ng-trim="true" required />
      </label>

      <label for="reset-new-password">
        New Password
        <input type="password" id="reset-new-password" name="resetNewPassword" ng-model="password" ng-model-options="{ updateOn: 'blur'}" required />
      </label>

      <label for="reset-confirm-password">
        Confirm Password
        <input type="password" id="reset-confirm-password" name="resetConfirmPassword" ng-model="passwordConfirm" required />
      </label>
      <div class="form-errors" ng-show="resetForm.$invalid || password != passwordConfirm">
          <span ng-show="resetForm.resetCode.$invalid">Invalid code format. </span>
          <span ng-show="password != passwordConfirm">Passwords difffers.</span>
          <span ng-show="!password">Please fill your password.</span>
          <span ng-show="!passwordConfirm">Please confirm your password.</span>
        </div>
    </form>
  </div>

  <div class="modal-footer">
    <button class="button button-full" ng-disabled="resetForm.resetCode.$invalid || password != passwordConfirm || !password || !passwordConfirm" ng-hide="passwordChanged" ng-click="changePassword()">Change Password</button>
    <button class="button button-full" ng-if="passwordChanged" ng-click="ok()">Continue</button>
  </div>
  <div class="info-box-success" ng-show="passwordChanged" ng-class="{'modal-info-success': passwordChanged}">
    <p><strong>Success!</strong></p>
    <p>Your password was successfully changed</p>
  </div>
</div>
