<div class="ui-info">
  <header>
    <button-close role="button" aria-label="Close" ng-click="cancel()"></button-close>
  </header>

  <main>
    <p><strong>Sign up with us To Claim Your Points and join</strong></p>

    <h1>SUTTON <strong>PRESTIGE</strong></h1>

    <p>Create an account to join Sutton Prestige. Accumulate points for each dollar spent. Redeem them for unique gifts &amp; rewards</p>

    <button class="button" ng-click="sso.login()">Log In / Register</button>
    <span>OR</span>
    <button-cancel role="button" ng-click="cancel()">Contunue as Guest</button-cancel>
  </main>
</div>
