<div class="ui-info">
  <header>
    <button-close role="button" aria-label="Close" ng-click="cancel()"></button-close>
  </header>

  <main>

    <h1 ng-bind-html="'_login_prompt_modal_title_' | mainHeaderStyle"></h1>

    <p><strong>_login_prompt_modal_subtitle_</strong></p>

    <p>_login_prompt_modal_desc_</p>

    <button class="button" ng-click="data.login()">_login_register_</button>
    <p>_or_</p>
    <button-cancel role="button" ng-click="cancel()">_continue_as_guest_</button-cancel>
  </main>
</div>
