<div class="ui-dialog">
  <div class="modal-header has-form">
    <h3 class="modal-title">Log in</h3>
    <button class="button-close" ng-click="cancel()">X</button>
  </div>

  <div class="modal-body">
    <div class="form-wrap">
      <form action="">
        <label for="login-email">
          Email Address
          <input type="email" id="login-email">
        </label>
        <label for="login-password">
          Password
          <input type="password" id="login-password">
        </label>
      </form>
      <p>
        <a href="" ng-click="openPasswordResetDialog()">Forgotten your password?</a><br/>
        <a href="" ng-click="openEnterCodeDialog()">Have a password reset code?</a>
      </p>
    </div>
  </div>

  <div class="modal-footer">
    <button class="button" ng-click="ok()">Continue</button>
    <!-- <button class="button" ng-click="cancel()">Cancel</button> -->
  </div>
</div>
