<div class="ui-dialog">
  <div class="modal-header">
    <h3 class="modal-title">Enter Your Email Address</h3>
    <button class="button-close" ng-click="cancel()">X</button>
  </div>

  <div class="modal-body">
    <p>Enter your email address to recieve a code to reset your password. Enter the code on the left hand side of this modal.</p>
    <form name="resetForm">
      <label for="login-email">
        Email Address
        <input type="email" id="login-email" name="loginEmail" ng-model="email" required>
        <div ng-show="resetForm.loginEmail.$dirty &amp;&amp; resetForm.loginEmail.$invalid">
          <span ng-show="resetForm.loginEmail.$error.required">We need your email to send you reset code</span>
          <span ng-show="resetForm.loginEmail.$error.email">Please enter valid email</span>
        </div>
      </label>
    </form>
  </div>

  <div class="modal-footer">
    <button class="button button-full" ng-disabled="resetForm.loginEmail.$invalid" ng-click="openEnterCodeDialog()">Continue</button>
  </div>
  <div class="info-box-success" ng-show="success" ng-class="{'modal-info-success': succes}">
    <p><strong>Success!</strong></p>
    <p>Your code has been sent on email: <strong>{{email}}</strong>, when you recieve it then enter it and your new password on the left</p>
  </div>
</div>
