<div class="ui-dialog">
  <div class="modal-header">
    <h3 class="modal-title">Enter Your Email Address</h3>
    <button class="button-close" ng-click="cancel()">X</button>
  </div>

  <div class="modal-body">
    <p>Enter your email address to recieve a code to reset your password. Enter the code on the left hand side of this modal.</p>
    <form action="">
      <label for="login-email">
        Email Address
        <input type="email" id="login-email">
      </label>
    </form>
  </div>

  <div class="modal-footer">
    <button class="button button-full" ng-click="ok()">Continue</button>
  </div>
  <div ng-show="success" ng-class="{'modal-info-success': succes}">
    <strong>Success!</strong>
    <p>Your code has been sent, when you recieve it then enter it and your new password on the left</p>
  </div>
</div>
