<div class="ui-info">
  <header class="modal-header">
    <h3 class="modal-title">Policies and <strong>Conditions</strong></h3>
    <button class="button-close" ng-click="cancel()">X</button>
  </header>
  <div class="modal-body">
    <h4>Cancellation</h4>
    <p>Must cancel 24 hours prior to local hotel check-in time or the credit card provided will be charged one night's room rate, taxes and applicable fees. Important Note: Bitcoin bookings are not confirmed until payment has been received. Once confirmed, Bitcoin bookings are non-refundable.</p>
    <h4>Check In / Out</h4>
    <p>Check-in begins at 4:00PM. Check-out is before 11:00AM.</p>
    <h4>Extra Guests</h4>
    <p>Additional guest charge of $20.00 per adult.</p>
    <h4>Family</h4>
    <p>All children must be accompainied by an adult. Children must not be left alone in the room.</p>
    <h4>Guarantee</h4>
    <p>Valid credit card is required for guarantee at the time of reservation. Upon check-in, guests are required to have their own valid credit card and ID, for security deposit and incidentals.</p>
    <h4>No Shows</h4>
    <p>Any no-show reservations will be charged one night's room rate, taxes and applicable fees.</p>
    <h4>Pets</h4>
    <p>Small pets are allowed in specific room types only at an additional charge of CAD $20.00 per pet, per night, plus tax. Maximum 2 pets per room.</p>
  </div>
</div>
