<!-- TODO: ui-info wrapper class should be removed from all modals
           and price-breakdown modifier should be moved up to the
           dialog element just like it is on some of other modals -->
<div class="ui-info price-breakdown">
  <header>
    <h1 ng-bind-html="'_price_breakdown_modal_title_' | mainHeaderStyle"></h1>
    <button-close role="button" aria-label="Close" ng-click="cancel()"></button-close>
  </header>

  <main>
    <ul>
      <li ng-repeat="room in data.rooms track by $index">
        <table>
          <tr>
            <th>_room_type_</th>
            <td>{{room.name}}</td>
          </tr>
          <tr>
            <th>_rate_type_</th>
            <td ng-bind-html="room._selectedProduct.name"></td>
          </tr>
        </table>

        <table class="price-breakdown-content" ng-if="room._selectedProduct.price.breakdowns.length">
          <thead>
            <tr>
              <th>_night_</th>
              <th>_rooms_</th>
              <th>_tax_</th>
              <th>_fees_</th>
              <th>_total_rate_</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in room._selectedProduct.price.breakdowns">
              <td>{{item.date}}</td>
              <td>{{item.totalBase | i18nCurrency: currencyCode}}</td>
              <td>{{item.totalTax | i18nCurrency: currencyCode}}</td>
              <td>{{item.totalFees | i18nCurrency: currencyCode}}</td>
              <td>{{item.totalAfterTax | i18nCurrency: currencyCode}}</td>
            </tr>
          </tbody>
          <tfoot ng-if="$last">
            <tr>
              <th colspan="4">_total_</th>
              <th>{{data.totalAfterTax | i18nCurrency: currencyCode}}</th>
            </tr>
          </tfoot>
        </table>
      </li>
    </ul>
  </main>
</div>
