<div class="ui-info" ng-if="!data.isTabbed">
  <header>
    <h3>_description_</h3>
    <button-close role="button" aria-label="Close" ng-click="cancel()"></button-close>
  </header>

  <main>
    <section>
      <article>
        <p ng-bind-html="sanitize(data.product.description)"></p>
      </article>
    </section>

    <section class="price-breakdown">
      <header>
        <h3 ng-bind-html="'_price_breakdown_' | mainHeaderStyle"></h3>
      </header>

      <article>
        <table>
          <tr>
            <th>_room_type_</th>
            <td>{{data.room.name}}</td>
          </tr>
          <tr>
            <th>_rate_type_</th>
            <td>{{data.product.name}}</td>
          </tr>
        </table>

        <table class="price-breakdown-content" ng-if="data.product.price.breakdowns.length">
          <thead>
            <tr>
              <th>_night_</th>
              <th>_rooms_</th>
              <th>_tax_</th>
              <th ng-if="data.totalDailyFees > 0">_fees_</th>
              <th>_total_rate_</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in data.product.price.breakdowns | orderBy: 'date'">
              <td>{{formatDate(item.date, 'DD MMM YYYY')}}</td>
              <td>{{item.totalBaseAfterPricingRules | i18nCurrency: currencyCode}}</td>
              <td>{{item.totalTax | i18nCurrency: currencyCode}}</td>
              <td ng-if="item.totalFees > 0">{{item.totalFees | i18nCurrency: currencyCode}}</td>
              <td>{{item.totalAfterTaxAfterPricingRules | i18nCurrency: currencyCode}}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr ng-if="data.product.price.totalAdditionalTaxes > 0">
              <th colspan="{{data.totalDailyFees > 0 ? 4 : 3}}">_additional_taxes_</th>
              <th>{{data.product.price.totalAdditionalTaxes | i18nCurrency: currencyCode}}</th>
            </tr>
            <tr ng-if="data.product.price.totalAdditionalFees > 0">
              <th colspan="{{data.totalDailyFees > 0 ? 4 : 3}}">_additional_fees_</th>
              <th>{{data.product.price.totalAdditionalFees | i18nCurrency: currencyCode}}</th>
            </tr>
            <tr>
              <th colspan="{{data.totalDailyFees > 0 ? 4 : 3}}">_total_</th>
              <th>{{data.product.price.totalAfterTaxAfterPricingRules | i18nCurrency: currencyCode}}</th>
            </tr>
          </tfoot>
        </table>
      </article>
    </section>

    <section class="terms-and-conditions">
      <header>
        <h3 ng-bind-html="'_terms_conditions_' | mainHeaderStyle"></h3>
      </header>

      <article>
        <accordion close-others="false">
          <accordion-group is-open="true">
            <ul>
              <li ng-repeat="policy in data.product.policies">
                <h3>{{getPolicyTitle(policy.type)}}:</h3>
                <p ng-bind-html="sanitize(policy.description)"></p>
              </li>
            </ul>
          </accordion-group>
        </accordion>
      </article>
    </section>
  </main>
</div>

<div class="ui-info" ng-if="data.isTabbed">
  <main>
  <button-close role="button" aria-label="Close" ng-click="cancel()"></button-close>
  <tabset>
    <tab heading="_rate_details_">
      <section>
        <article>
          <p ng-bind-html="sanitize(data.product.description)"></p>
        </article>
      </section>
    </tab>

    <tab heading="_price_breakdown_">
      <section class="price-breakdown">
        <article>
          <table class="price-breakdown-content" ng-if="data.product.price.breakdowns.length">
            <tbody>
              <tr class="main">
                <th>_room_charges_:</th>
                <td>{{data.product.price.totalBaseAfterPricingRules | i18nCurrency: currencyCode}}</td>
              </tr>

              <tr class="breakdown" ng-repeat="breakdown in data.product.price.breakdowns | orderBy:'date'" ng-class="{'last': $last}">
                <th>{{formatDate(breakdown.date, 'DD MMM YYYY')}}:</th>
                <td>{{breakdown.totalBaseAfterPricingRules | i18nCurrency: $root.currencyCode}}</td>
              </tr>

              <tr class="main" ng-if="data.product.price.taxDetails.totalTax > 0">
                <th>_taxes_:</th>
                <!-- old tax number
                <td>{{getBreakdown('totalTax') | i18nCurrency: $root.currencyCode}}</td>
                -->
                <td>{{data.product.price.taxDetails.totalTax | i18nCurrency: $root.currencyCode}}</td>
              </tr>

              <tr class="breakdown" ng-repeat="taxItem in data.product.price.taxDetails.policyTaxItemDetails" ng-class="{'last': $last}" ng-if="!taxItem.policyTaxItemIsFee">
                <th>{{taxItem.policyTaxItem.policyTaxItemCode}}<span class="info" ng-if="taxItem.policyTaxItem.policyTaxItemDescription && taxItem.policyTaxItem.policyTaxItemDescription !== ''" tooltips tooltip-side="right" tooltip-template="{{taxItem.policyTaxItem.policyTaxItemDescription}}">?</span></th>
                <td>{{taxItem.taxAmount | i18nCurrency: $root.currencyCode}}</td>
              </tr>

              <tr class="main" ng-if="data.product.price.feeDetails.totalTax > 0">
                <th>_applicable_fees_:</th>
                <td>{{data.product.price.feeDetails.totalTax | i18nCurrency: $root.currencyCode}}</td>
              </tr>

              <tr class="breakdown" ng-repeat="taxItem in data.product.price.feeDetails.policyTaxItemDetails" ng-class="{'last': $last}">
                <th>{{taxItem.policyTaxItem.policyTaxItemCode}}<span class="info" ng-if="taxItem.policyTaxItem.policyTaxItemDescription && taxItem.policyTaxItem.policyTaxItemDescription !== ''" tooltips tooltip-side="right" tooltip-template="{{taxItem.policyTaxItem.policyTaxItemDescription}}">?</span></th>
                <td>{{taxItem.taxAmount | i18nCurrency: $root.currencyCode}}</td>
              </tr>

            </tbody>
            <tfoot>
              <tr class="main">
                <th>_total_</th>
                <td>{{data.product.price.totalAfterTaxAfterPricingRules | i18nCurrency: currencyCode}}</td>
              </tr>
            </tfoot>
          </table>
        <!--
          <table class="price-breakdown-content" ng-if="data.product.price.breakdowns.length">
            <thead>
              <tr>
                <th>_night_</th>
                <th>_rooms_</th>
                <th>_tax_</th>
                <th>_fees_</th>
                <th>_total_rate_</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in data.product.price.breakdowns | orderBy: 'date'">
                <td>{{formatDate(item.date, 'DD MMM YYYY')}}</td>
                <td>{{item.totalBaseAfterPricingRules | i18nCurrency: currencyCode}}</td>
                <td>{{item.totalTax | i18nCurrency: currencyCode}}</td>
                <td>{{item.totalFees | i18nCurrency: currencyCode}}</td>
                <td>{{item.totalAfterTax | i18nCurrency: currencyCode}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th colspan="4">_total_</th>
                <th>{{data.product.price.totalAfterTax | i18nCurrency: currencyCode}}</th>
              </tr>
            </tfoot>
          </table>
        -->
        </article>
      </section>
    </tab>

    <tab heading="_policies_">
      <section class="terms-and-conditions">
        <article>
          <accordion close-others="false">
            <accordion-group is-open="true">
              <ul>
                <li ng-repeat="policy in data.product.policies" ng-if="policy.type !== 'guarantee'">
                  <h3>{{getPolicyTitle(policy.type)}}:</h3>
                  <p ng-bind-html="sanitize(policy.description)"></p>
                </li>
              </ul>
            </accordion-group>
          </accordion>
        </article>
      </section>
    </tab>

  </tabset>
</div>
