<div class="ui-dialog">
  <div class="modal-header has-form">
    <h3 class="modal-title">Register</h3>
    <button class="button-close" ng-click="cancel()">X</button>
  </div>

  <div class="modal-body">
    <div class="form-wrap">
      <form name="stepOneForm" ng-submit="stepOneForm.$valid">
        <label for="login-email">
          Email
          <input id="login-email" type="email" ng-class="{'is-invalid': stepOneForm.email.$error.email || stepOneForm.email.$error.pattern || stepOneForm.password.$error.required}" name="email" ng-model="formData.email" required ng-pattern="emailPattern">
        </label>
        <span ng-show="stepOneForm.submitted && (stepOneForm.email.$error.email || stepOneForm.email.$error.pattern)">Please enter valid email</span>
        <span ng-show="stepOneForm.submitted && stepOneForm.email.$error.required">Email is required</span>

        <label for="login-email-confirm">
          Confirm Email
          <input id="login-email-confirm" type="text" ng-class="{'is-invalid': stepOneForm.emailConfirm.$error.match}" name="emailConfirm" ng-model="formData.emailConfirm" match="formData.email">
        </label>
        <span ng-show="stepOneForm.submitted && stepOneForm.emailConfirm.$error.match && stepOneForm.emailConfirm.$pristine">Email fields do not match</span>

        <label for="login-password">
          Password
          <input type="password" id="login-password">
        </label>
        <label for="login-password-confirm">
          Confirm Password
          <input type="password" id="login-password-confirm">
        </label>
      </form>
    </div>
  </div>

  <div class="modal-footer">
    <button class="button" ng-click="register(stepOneForm, formData)">Continue</button>
  </div>
</div>
