<div class="ui-info">
  <header>
    <h1>_would_you_like_to_upgrade_</h1>
    <button-close role="button" aria-label="Close" ng-click="cancel()"></button-close>
  </header>

  <main>
    <image-carousel width="320" height="220" fill="'fill'" images="data.upsell.images"></image-carousel>
    <span class="price-difference">_only_value_more_</span>
    <div class="details">
      <div class="description" ng-bind-html="data.upsell.displayDescription"></div>
      <div class="button-strip">
        <a class="button" href ng-click="goToReservationDetails(data.upsell.roomCode)">_upgrade_my_room_</a>
        <a class="button ghost" href ng-click="goToReservationDetails()">_continue_without_upgrading_</a>
      </div>
    </div>
  </main>
</div>
