<div class="ui-info">
  <header>
    <h1>Would you like to upgrade?</h1>
    <button-close role="button" aria-label="Close" ng-click="cancel()"></button-close>
  </header>

  <main>
    <image-carousel width="400" height="400" fill="'fill'" images="data.upsell.images"></image-carousel>
    <div class="details">
      <div class="description">
        <p>{{data.upsell.description}}</p>
      </div>

      <div class="extra">
        <p class="add-extra">_addon_modal_tagline_</p>
        <a class="button add-confirm" href ng-click="selectPaymentMethod(false)">{{addon.price | i18nCurrency: defaultCurrencyCode}}</a>
      </div>
    </div>
  </main>
</div>
