
.viewport-mobile {
  .Header {
    padding: 5px 20px;
    height: @mobile-header-height;

    .Header__link {
      order: 1;
    }

    .Header__inner {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    .Header__buttons {
      display: block;
      flex: 0;
      align-items: left;
    }

    .Header__buttons--auth {
      display: block;
    }

    .Header__search {
      display: block;
      text-transform: uppercase;
      height: 30px;
      border: 1px solid #79AF41;
      background-color: #87C34A;
      border-radius: 4px;
      font-family: @ff-primary;
      color: #fff;
      font-size: 13px;
      font-weight: bold;
      line-height: 18px;
      text-align: center;
      padding: 0 10px;
      order: 2;

    }

    .Header__logo {
      width: initial;
      height: 35px;
      padding-left: 10px;
    }

    .Header__profile {
      display: none;
    }

    .Header__buttons--preferences {
      display: none;
    }

    .Header__button.login,
    .Header__button.register {
      display: none;
    }
  }
}
