
.viewport-mobile {
  .Header {
    padding: 5px 20px;
    height: @mobile-header-height;

    .Header__link {
      order: 1;
    }

    .Header__inner {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    .Header__buttons {
      display: block;
      flex: 0;
      align-items: left;
    }

    .Header__buttons--auth {
      display: block;
    }

    .Header__search {
      height: 32px;
      width: 82px;
      border-radius: 18.5px;
      background-color: #1DB53A;
      display: block;
      color: #fff;
      font-family: @ff-secondary;
      font-size: 12px;
      font-weight: bold;
      line-height: 14px;
      text-align: center;
      padding: 0 10px;
      order: 2;
      text-shadow: none;
    }

    .Header__logo {
      width: initial;
      height: 35px;
      padding-left: 10px;
    }

    .Header__profile {
      display: none;
    }

    .Header__buttons--preferences {
      display: none;
    }

    .Header__button.login,
    .Header__button.register {
      display: none;
    }

    .Header__menu {
      background: transparent;
      padding-top: 0;
      width: auto;
      height: auto;
      i {
        color: #000;
        margin-left: 0;
      }

      .Header__menu--hamburger {
        display: none;
      }
    }
  }
}
