
.recommendation {

  padding: 0 130px;

  .recommendation__text {
    padding: 0 50px;
    margin: -50px 0;
    color: @c-black;
    font-size: 36px;
    line-height: 42px;
    font-family: Raleway;
    font-style: italic;
    text-transform: none;
  }

  .recommendation__avatar {
    margin-top: 80px;
    text-align: center;
    img, h2 {
      display: inline;
    }
    img {
      height: 80px;
      width: 80px;
      border-radius: 50%;
    }
  }

  .opening-quote {
    background: url('@{img-prefix}/lbe/quote-left.png');
    width: 111px;
    height: 106px;
    position: relative;
  }

  .closing-quote {
    background: url('@{img-prefix}/lbe/quote-right.png');
    width: 111px;
    height: 106px;
    float: right;
    position: relative;
  }

}
