@import "./variables";

.viewport-mobile {

  .recommendation {

    padding: 0 0 40px 0;

    .opening-quote, .closing-quote {
      width: 50px;
      height: 58px;
      background-size: contain;
    }

    .recommendation__text {
      padding: 0 20px;
      font-size: 22px;
      line-height: 28px;
    }

    .recommendation__avatar {
      margin: 60px auto 0 auto;
    }

    .recommendation__avatar-info {
      padding: 10px 0 0 70px;
      width: 70%;
      h2 {
        font-size: 16px;
      }
      small {
        font-size: 12px;
        line-height: 16px;
      }
    }

  }

}
