
/*
 |======================================
 | General
 |======================================
 */
@testimonial-left-quote-url: '@{img-prefix}/lbe/quote-left.png';
@testimonial-right-quote-url: '@{img-prefix}/lbe/quote-right.png';

/*
 |======================================
 | Desktop
 |======================================
 */
@testimonial-quote-width: 111px;
@testimonial-quote-height: 106px;

@testimonial-avatar-size: 60px;

@testimonial-name-size: 24px;
@testimonial-city-size: 14px;
@testimonial-city-line-height: 16px;

@testimonial-text-size: 42px;
@testimonial-line-height: 48px;

/*
 |======================================
 | Mobile
 |======================================
 */
@testimonial-mobile-quote-width: 111px;
@testimonial-mobile-quote-height: 106px;

@testimonial-mobile-text-size: 34px;
@testimonial-mobile-line-height: 40px;

@testimonial-mobile-name-size: 16px;
@testimonial-mobile-city-size: 12px;

