<div ng-click="$state.go('reservationDetail', {reservationCode: reservation.reservationCode})">
  <div class="property-preview">
    <img ng-src="{{property.images[0].uri | cloudinaryImage : 115 : 80 : 'fill'}}" err-source="/static/images/hotel.jpg" alt="{{property.nameShort}}">
  </div>

  <check-in-date>
    <span class="title">Check In</span>
    <span class="date">
       {{reservation.arrivalDate | checkInDate }}
    </span>
  </check-in-date>

  <div class="content">
    <div class="header">
      <h2>{{property.nameLong}} <!-- TODO: hotel name already in property.nameLong so duplicates, flag needs to be added to config file<strong>{{property.city}}</strong>--></h2>
      <span>Booked: {{reservation.bookingDate | dateTime:'DD MMM YYYY' }}</span>
    </div>

  <div class="rating">
    <ul class="stars">
      <li ng-repeat="rating in [1,2,3,4,5]"  ng-class="{included: rating <= property.rating}"></li>
    </ul>
  </div>

    <div class="details">
      <div class="total" ng-switch="!!reservation.pointValue">
        <span class="title">Total:</span>
        <span class="value" ng-switch-when="false">{{reservation.priceAfterDiscount | i18nCurrency: $root.currencyCode}}</span>
        <span class="value" ng-switch-when="true">
          <ng-pluralize count="reservation.pointValue" when="{'1': '{} point', 'other': '{} points'}"></ng-pluralize>
        </span>
      </div>

      <div class="guests">
        <div>
          <span class="title">Adults:</span>
          <span class="value">{{getAdultsCount()}}</span>
        </div>
        <div>
          <span class="title">Children:</span>
          <span class="value">{{getChildrenCount()}}</span>
        </div>
      </div>

      <div class="desc">
        <p class="value">{{reservation.rooms[0].roomTypeName}}</p>
        <p class="value">{{reservation.rooms[0].packageName}}</p>
      </div>
    </div>
  </div>
</div>
