
main.reservation-page {

  background: url('@{img-prefix}/reservation-bg.png');
  background-size: cover;
  min-height: calc(~'100vh - 70px');

  .grid-wrapper {
    max-width: 1080px !important;
    border-radius: @c-border-radius;
    background-color: #fff;
    margin-top: 30px;
    .viewport-mobile & {
      border-radius: 0;
    }
  }

}
