
main.reservation-page {

  background: url('@{img-prefix}/reservation-bg.png');
  background-size: cover;
  min-height: calc(~'100vh - 70px');

  .grid-wrapper {
    max-width: 1080px !important;
    border-radius: 6px;
    overflow: hidden;
    background-color: #fff;
    margin-top: 30px;
    margin-bottom: 0;
  }

}
