<ul>
  <li class="floating-bar--tab-booking main-mobile-toggle" ng-class="{'is-active': active === BOOKING, 'mobile-is-open': !isCollapsed}" ng-hide="mobileMenuOpen">
    <a href="" ng-click="setActive(BOOKING, true);" ng-class="{'with-search-params' : hasSearchParams() && hasDates()}">
      <div class="desktop" ng-bind-html="'_make_your_booking_' | mainHeaderStyle"></div>
      <div class="mobile">
        <div ng-show="hasSearchParams() && !hasDates()" class="book-now-button" ng-bind-html="'_select_dates_' | mainHeaderStyle" ng-click="openDatePicker()"></div>
        <div ng-show="!hasSearchParams() && !hasDates() || hasSearchParams() && hasDates() && !isCollapsed" class="book-now-button" ng-bind-html="'_book_now_' | mainHeaderStyle"></div>
        <div ng-show="hasSearchParams() && hasDates() && isCollapsed" ng-class="{'in-line' : inLine()}" class="search-params-bar">
          <div class="cell dates">
            <div class="date-cell" ng-bind-html="getCheckIn()"></div>
            <div class="date-cell">{{getCheckOut()}}</div>
          </div>
          <div class="cell separator-cell"> | </div>
          <div class="cell people">
            <div class="adult" ng-show="adults == 1">1 _adult_</div>
            <div class="adult" ng-show="adults > 1">{{adults}} _adults_</div>
            <div ng-show="children == 1">1 _child_</div>
            <div ng-show="children > 1">{{children}} _children_</div>
          </div>
        </div>
        <span class="mobile-close" ng-click="isCollapsed === true" ng-show="!isCollapsed"></span></div>
    </a>
  </li>
  <li class="floating-bar--tab-booking mobile-single-booking" ng-class="{'is-active': active === BOOKING}">
    <a href="" ng-click="setActive(BOOKING)">
      <span class="desktop" ng-bind-html="'_single_booking_' | mainHeaderStyle"></span>
    </a>
  </li>
  <li class="floating-bar--tab-advanced-booking" ng-if="hasMutiroomTab" ng-class="{'is-active': active === ADVANCED_BOOKING}">
    <a href="" ng-click="setActive(ADVANCED_BOOKING)" ng-bind-html="'_multiroom_booking_' | mainHeaderStyle"></a>
  </li>
  <li class="floating-bar--tab-my-accounts" ng-show="loyaltyProgramEnabled" ng-class="{'is-active': active === MY_ACCOUNT}">
    <a href="" ng-click="setActive(MY_ACCOUNT)" ng-bind-html="'_loyalty_progam_title_' | mainHeaderStyle">
    </a>
  </li>
  <li class="floating-bar--tab-campaign" ng-show="$root.campaign && $root.campaign.bookingBar.display" ng-class="{'is-active': active === CAMPAIGN}" ng-style="{'background-color': $root.campaign.bookingBar.tabColor}">
    <a href="" ng-click="setActive(CAMPAIGN)" ng-bind-html="$root.campaign.name | mainHeaderStyle">
    </a>
    <span class="campaign-end-piece" ng-style="{'border-bottom-color':$root.campaign.bookingBar.tabColor}"></span>
  </li>
</ul>
<div>
  <booking-widget
    ng-init="initialShow()"
    ng-class="{'multiroom-mode': showAfterLoad && active === ADVANCED_BOOKING, 'is-open': !isCollapsed && showAfterLoad && (active === BOOKING || active === ADVANCED_BOOKING)}"
    open-booking-tab="openBookingTab"
    hide-bar="setActive(active)"
    advanced="active === ADVANCED_BOOKING"
    all-properties="_booking_widget_all_properties_">
  </booking-widget>

  <my-account
    ng-show="loyaltyProgramEnabled"
    ng-class="{'is-open': !isCollapsed && active === MY_ACCOUNT}">
  </my-account>

  <campaign-bar
    ng-show="$root.campaign && $root.campaign.bookingBar.display"
    ng-style="{'background-color': $root.campaign.bookingBar.tabColor}"
    ng-class="{'is-open': !isCollapsed && active === CAMPAIGN}"
    ng-click="goToCampaign()">
    <div class="campaign-bar">
      <div class="text-content">
        <h2>{{$root.campaign.bookingBar.tabTitle}}</h2>
        <p>{{$root.campaign.bookingBar.tabText}}</p>
      </div>
      <button class="campaign-cta" ng-style="{'background-image': 'linear-gradient(to bottom, '+ $root.campaign.campaignStyle.secondaryColor +', '+$root.campaign.campaignStyle.primaryColor+')'}">{{$root.campaign.bookingBar.callToAction ? $root.campaign.bookingBar.callToAction : '_book_now_'}}</button>
    </div>
  </campaign-bar>
</div>
