<ul>
  <li class="floating-bar--tab-booking" ng-class="{'is-active': active === BOOKING}">
    <a href="" ng-click="setActive(BOOKING)">
      Make Your <strong>Booking</strong>
    </a>
  </li>
  <li class="floating-bar--tab-advanced-booking" ng-if="hasAdvancedTab" ng-class="{'is-active': active === ADVANCED_BOOKING}">
    <a href="" ng-click="setActive(ADVANCED_BOOKING)">
      Advanced <strong>Booking</strong>
    </a>
  </li>
  <li class="floating-bar--tab-my-accounts" ng-class="{'is-active': active === MY_ACCOUNT}">
    <a href="" ng-click="setActive(MY_ACCOUNT)">
      Sutton <strong>Prestige</strong>
    </a>
  </li>
</ul>
<div ng-if="active">
  <booking-widget
    hide-bar="setActive(active)"
    ng-if="!isCollapsed && (active === BOOKING || active === ADVANCED_BOOKING)"
    advanced="active === ADVANCED_BOOKING">
  </booking-widget>

  <my-account
    ng-if="!isCollapsed && active === MY_ACCOUNT">
  </my-account>
</div>
