@import "./mobile";

.TripAdviserQuote {

  .opening-quote, .closing-quote {
    width: @testimonial-quote-width;
    height: @testimonial-quote-height;
    position: relative;
  }

  .opening-quote {
    background: url(@testimonial-left-quote-url);
  }

  .closing-quote {
    background: url(@testimonial-right-quote-url);
    float: right;
  }

}
