
.viewport-mobile {

  .TripAdviserQuote {

    width: 100%;
    margin-bottom: 40px;

    .TripAdviserQuote__author {
      left: 11px;
    }

    .TripAdviserQuote__review {
      font-size: 19px;
      letter-spacing: 0;
      font-family: @lbe-ff-primary;
      padding-left: 10px;
      padding-right: 10px;
    }

    .author-details {
      width: 58px;
      font-size: 11px;
      letter-spacing: 0;
    }

    .thumbnail {
      width: 58px;
      height: 58px;
    }

    .opening-quote, .closing-quote {
      height: 46px;
      width: 59px;
      background-size: cover;
    }

    .closing-quote {
      left: 220px;
    }

  }

}
