<hero-slider content="heroContent"></hero-slider>

<breadcrumbs stickable="main-header"></breadcrumbs>

<main class="grid-wrapper">

  <div class="preloader" ng-show="preloader.visible"></div>

  <profile-page grid-row>

    <header grid="12">
      <h1>Create <strong>your Profile</strong></h1>
    </header>

    <form name="form" grid="8">

      <fieldset>

        <form-element>
          <label for="registerTitle">Title</label>
          <select name="registerTitle" required chosen
                  disable-search="true"
                  data-placeholder="Title"
                  ng-model="registerData.title"
                  ng-options="title.name as title.code for title in registerTitles">
            <option></option> <!-- workaround for a bug in angular-chosen  -->
          </select>
        </form-element>

        <form-element>
          <label for="registerFname">First Name</label>
          <input 
            type="text" 
            id="registerFname"
            name="registerFname"
            ng-model="registerData.firstName" 
            required
            ng-class="{'ng-submitted': form.$submitted && form.registerFname.$error.required}"/>
        </form-element>

        <form-element>
          <label for="registerLname">Last Name</label>
          <input 
            type="text" 
            id="registerLname"
            name="registerLname"
            ng-model="registerData.lastName" 
            required
            ng-class="{'ng-submitted': form.$submitted && form.registerLname.$error.required}"/>
        </form-element>

        <form-element>
          <label for="registerEmail">Email Address</label>
          <input 
            type="email" 
            id="registerEmail"
            name="registerEmail"
            ng-model="registerData.email" 
            required
            email-check
            ng-class="{'ng-submitted': form.$submitted && (form.registerEmail.$error.required || form.registerEmail.$error.emailCheck)}"/>
            <span class="error" ng-if="form.$submitted && form.registerEmailConfirm.$error.emailCheck">This email is not valid</span>
        </form-element>

        <form-element>
          <label for="registerEmailConfirm">Confirm Email</label>
          <input 
            type="email" 
            id="registerEmailConfirm"
            name="registerEmailConfirm"
            ng-model="registerData.emailConf" 
            required
            email-check
            equals="registerData.email"
            ng-class="{'ng-submitted': form.$submitted && (form.registerEmailConfirm.$error.required || form.registerEmailConfirm.$error.emailCheck || form.registerEmailConfirm.$error.equals)}"/>
            <span class="error" ng-if="form.$submitted && form.registerEmailConfirm.$error.emailCheck">This email is not valid</span>
            <span class="error" ng-if="form.$submitted && form.registerEmailConfirm.$error.equals">The emails do not match</span>
        </form-element>

        <form-element>
          <label for="registerPassword">Password</label>
          <input 
            type="password" 
            id="registerPassword"
            name="registerPassword"
            ng-model="registerData.password" 
            required
            ng-class="{'ng-submitted': form.$submitted && form.registerPassword.$error.required}"/>
        </form-element>

        <form-element>
          <label for="registerPasswordConfirm">Confirm Password</label>
          <input 
            type="password" 
            id="registerPasswordConfirm"
            name="registerPasswordConfirm"
            ng-model="registerData.passwordConf" 
            required
            equals="registerData.password"
            ng-class="{'ng-submitted': form.$submitted && (form.registerPasswordConfirm.$error.required || form.registerPasswordConfirm.$error.equals)}"/>
            <span class="error" ng-if="form.$submitted && form.registerPasswordConfirm.$error.equals">The passwords do not match</span>
        </form-element>

        <form-element>
          <label for="registerPhone">Phone Number</label>
          <input 
            type="tel" 
            id="registerPhone"
            name="registerPhone"
            ng-model="registerData.tel1" 
            required
            ng-class="{'ng-submitted': form.$submitted && form.registerPhone.$error.required}"/>
        </form-element>

        <form-element>
          <label for="registerContact">Prefered Contact</label>
          <select name="registerContact" required chosen
                  disable-search="true"
                  data-placeholder="Prefered Contact"
                  ng-model="registerData.preferredContactMethodCode"
                  ng-options="contact.name as contact.code for contact in registerContacts">
            <option></option> <!-- workaround for a bug in angular-chosen  -->
          </select>
        </form-element>

      </fieldset>

      <p class="feedback-msg error" ng-if="errorMsg">{{errorMsg}}</p>
      <p class="feedback-msg" ng-if="successMsg">{{successMsg}}</p>

      <button-submit role="button" ng-click="register(form, registerData)">Create Account</button-submit>

    </form>

  </profile-page>

</main>
<div ng-include="'layouts/siteMap.html'" class="site-map"></div>
