@media only screen and @tablet-portrait-min {
  .dropdown-menu {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    top: 40px;
    li[currency-list] &,
    li[currency-list] & {
      top: 80px;
    }
    .desktop-profile & {
      top: 80px;
    }
    &.submenu {
      background-color: @c-primary;
      .chain-sign & {
        background: @c-primary-sign;
      }
      .chain-sand & {
        background: @c-primary-sand;
      }
      min-width: 150px;
      margin-left: 0;
      a {
        color: #fff;
      }
      li {

        a {
          height: 22px;
          color: #FFFFFF;
          font-family: "Open Sans";
          font-size: 14px !important;
          font-weight: 200;
          line-height: 22px;
          text-transform: capitalize !important;

          span {
            line-height: 20px;
            font-size:12px;
            margin-top: 0;
          }
        }

        .dropdown {
          padding:0;
          a {
            font-size:13px !important;
          }
        }
      }
    }
    li{
      border-top: 1px solid #343434 !important;
      padding: 9px 15px !important;
      margin: 0;

      &:hover {
        background-color: #272727;
      }

      .chain-sign &, .chain-sand & {
        border-top:1px solid rgba(255, 255, 255, 0.2)!important;
      }
      &:first-child {
      }
      a{
        text-transform:capitalize !important;
        font-size: 15px !important;
        line-height:22px;
        span {
          font-weight:300;
        }
      }
      .divider {
        display:none;
      }
    }
  }
}
