////////////////////////
//// LIST OF OFFERS AND REWARDS////
////////////////////////
offers-list,
rewards-list {
  offer-item,
  reward-item {
    height: 470px;
    width: 300px;

    // if it's clickable
    &[ng-click] {
      cursor: pointer;
      &:hover {
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
        background: #faf8f6;
        img {
          opacity: 0.8;
        }
        section:after {
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,faf8f6+99&0+0,1+100 */
          background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(250,248,246,0.99) 99%, rgba(250,248,246,1) 100%);
          /* FF3.6-15 */
          background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(250,248,246,0.99) 99%,rgba(250,248,246,1) 100%);
          /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(250,248,246,0.99) 99%,rgba(250,248,246,1) 100%);
          /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#00000000', endColorstr='#faf8f6',GradientType=0 );
          /* IE6-9 */
        }
      }
    }
    //- Image
    img {
      height: 200px;
      max-height: 184px;
      min-height: 0;
    }
    //- Content - Title + Description
    section {
      max-height: 150px;
      h2 {
        margin-bottom: 10px;
        height: 50px;
        color: #313131;
        font-size: 22px;
        font-family: Georgia;
        line-height: 25px;
        text-align: center;
        text-shadow: 0 1px 1px 0 rgba(0,0,0,0.4);
        font-weight: normal !important;
        text-transform: none;
      }
      div {
        color: #838383;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        text-shadow: 0 1px 1px 0 rgba(0,0,0,0.4);
      }
    }
    //- Title
    h2,
    h3 {
      color: @c-dark-grey;
      font-weight: 700 !important;
      .chain-sand & {
        color: @c-dark-grey;
      }
    }
    /*
    h2{
      span{
        font-size: 14px;
        font-weight: 300;
        color: @c-secondary;
        display: block;
        line-height: 12px;
        .chain-sign & {
          font-size:18px;
          line-height:20px;
          color: @c-menu-active-sign;
          font-family: @ff-heading-it-sign;
          text-transform:initial;
        }
      }
    }
    */
    //- Description
    div {
      color: @c-grey;
      line-height: 17px;
    }
    //- Read More

    .background {
      height: 45px;
      width: 260px;
      border-radius: 3px;
      background-color: #3EB1C2;
      box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    }

    .read-more {
      background: @c-secondary;
      color: #fff;
      font-weight: 700;
      font-size: 15px;
      line-height: 45px;
      text-shadow: none;
      height: 45px;
      width: 260px;
      border-radius: 3px;
      box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
      bottom: 23px;
      left: 50%;
      transform: translate(-50%, 0);
      &:hover {
        background: darken(@c-secondary, 10%);
        .chain-sign & {
          background: darken(@c-secondary-sign, 10%);
        }
      }
      .chain-sign & {
        background: @c-secondary-sign;
        font-family: @ff-heading-bold-sign;
      }
    }
    //- Advert Offer
    &.advert {
      height: 470px;
      width: 300px;
      position: relative;
    }
  }
}
