.viewport-mobile {

  .HotelContactInfo {
    margin-bottom: 50px;
    height: initial;

    .HotelContactInfo__item {
      width: 100%;
      float: initial;
      padding-bottom: 15px;
    }

  }

}
