<a class="mega-menu-trigger" ng-href="{{getMenuUrl()}}" ng-class="{'is-active': isActive()}" ng-click="goToMenuUrl($event)" ng-mouseover="showMenu()">{{title}}</a>
<div class="mega-menu {{type}}-mega-menu">

  <div class="regions">
    <div class="preloader" ng-show="regionsLoading"></div>
    <ul>
      <li ng-repeat="region in regions | orderBy: 'nameShort'"><a ng-mouseover="regionSelect(region)" ui-sref="regions({regionSlug: region.meta.slug, property: null, location: null})" ng-class="{'active': region.code === activeRegion.code}" ng-click="closeMenu(); retentionClick()">{{region.nameShort}}</a></li>
    </ul>
    <ul ng-if="externalRegionLinks.length && isHotels" class="external-region-links">
      <li ng-repeat="link in externalRegionLinks | orderBy: 'title'"><a ng-href="{{link.url}}" ng-click="retentionClick()">{{link.title}}</a></li>
    </ul>
  </div>

  <div class="locations">
    <div class="placeholder" ng-if="showLocationsPlaceholder">
      <h4 class="title">_megamenu_placeholder_text_</h4>
    </div>

    <div class="preloader" ng-show="locationsLoading"></div>

    <ul ng-repeat="region in regions" ng-if="region.locations" ng-show="region.code === activeRegion.code">
      <li ng-repeat="location in region.locations | orderBy: 'nameShort'" ng-show="filteredProperties.length" ng-class="{'has-filtered-properties': filteredProperties.length}">
        <a ng-click="locationClick(location); retentionClick()" ng-href="{{location.url}}">{{location.nameShort}}</a>
        <ul class="properties">
          <li ng-repeat="property in location.properties | byNameOrZip:propertySearch:false | orderBy:'chainCode':true as filteredProperties"><a ng-href="{{type === 'hot-deals' ? property.hotDealsUrl : property.url}}" ng-class="property.chainCode.toLowerCase()" ng-click="propertyClick($event,property); retentionClick()">{{property.nameShort}}</a></li>
        </ul>
      </li>
      <div ng-repeat="location in region.locations | orderBy: 'nameShort'" ng-show="filteredNoProperties.length === 0" class="placeholder" ng-class="{'no-filtered-properties': filteredNoProperties.length === 0}">
        <h4 class="title">No properties available matching your selection</h4>
        <span ng-repeat="property in location.properties | byNameOrZip:propertySearch:false | orderBy:'chainCode':true as filteredNoProperties"></span>
      </div>
    </ul>
  </div>

  <footer ng-show="isBookingWidget">
    <a href="" class="label" ng-click="selectAllHotelsClick(); retentionClick()">_select_all_hotels_</a>
    <input type="text" placeholder="_search_" ng-model="propertySearch" ng-show="activeRegion.code">
    <remove-text role="button" class="remove" ng-click="propertySearch = ''" ng-show="propertySearch"/>
  </footer>

</div>
