<a class="mega-menu-trigger" href="" ng-class="{'is-active': $state.includes('regions') || $state.includes('hotels')}" ng-click="closeMenu(); menuClick();" ng-mouseover="showMenu()" ng-if="type = 'hotels'">{{title}}</a>
<!--<a class="mega-menu-trigger" href="" ui-sref="hotDeals({locationSlug: null, code: null})" ng-class="{'is-active': $state.includes('hotDeals')}" ng-click="closeMenu()" ng-mouseover="showMenu()" ng-if="type = 'hot-deals'">{{title}}</a>-->
<div class="mega-menu">

  <div class="regions">
    <div class="preloader" ng-show="regionsLoading"></div>
    <ul>
      <li ng-repeat="region in regions"><a href="" ng-click="getLocations($index)" ng-class="{'active': region.code === activeRegion.code}">{{region.nameShort}}</a></li>
    </ul>
  </div>

  <div class="locations">

    <div class="placeholder" ng-if="!locations">
      <img src="/static/images/v4/logo.png" alt="Mobius logo">
      <h4 class="title">_megamenu_placeholder_text_</h4>
    </div>

    <div class="preloader" ng-show="locationsLoading"></div>

    <ul ng-if="locations">
      <li ng-repeat="location in locations | filter: {properties: {nameShort: propertySearch}}"" ng-show="location.properties.length">
        <a href="" ng-click="locationClick(activeRegion, location)">{{location.nameShort}}</a>
        <ul class="properties">
          <li ng-repeat="property in location.properties | filter:propertySearch"><a href="" ng-class="property.chainCode.toLowerCase()" ng-click="propertyClick(property)">{{property.nameShort}}</a></li>
        </ul>
      </li>
    </ul>



  </div>

  <footer ng-show="isBookingWidget">
    <div class="label">_select_hotel_</div>
    <input type="text" placeholder="_search_" ng-model="propertySearch">
  </footer>
  
</div>
