<a class="mega-menu-trigger" href="" ui-sref="regions({regionSlug: null})" ng-class="{'is-active': $state.includes('regions') || $state.includes('hotels')}">{{title}}</a>
<div class="mega-menu">

  <div class="regions">
    <ul>
      <li ng-repeat="region in regions"><a href="" ng-click="getLocations($index)" ng-class="{'active': region.code === activeRegionCode}">{{region.nameShort}}</a></li>
    </ul>
  </div>

  <div class="locations">

    <div class="placeholder" ng-if="!locations">
      <img src="/static/images/v4/logo.png" alt="Mobius logo">
      <h4 class="title">_megamenu_placeholder_text_</h4>
    </div>

    <ul ng-if="locations">
      <li ng-repeat="location in locations">
        <a href="">{{location.nameShort}}</a>
        <ul class="properties" ng-if="location.properties.length">
          <li ng-repeat="property in location.properties"><a href="" ui-sref="hotel({propertySlug: property.meta.slug})" ng-class="property.chainCode.toLowerCase()">{{property.nameShort}}</a></li>
        </ul>
      </li>
    </ul>

  </div>
  
</div>
