
main.reservation-page {

  background: url('@{img-prefix}/reservation-bg.png');
  background-size: cover;
  min-height: calc(~'100vh - 70px');

  .grid-wrapper {
    max-width: 1080px !important;
  }

}
