.chosen-container,
.chosen-container-single .chosen-single,
select {
  height: 36px;
  line-height: 34px;
  font-size: @size--5 !important;
  color: @c-black !important;
  font-family: @ff-default;
  text-indent: 0px !important;
  span {
    color: @c-black;
  }
}

.chosen-container,
.chosen-container-single {
  border: 2px solid @c-black;
}

.chosen-container,
.chosen-container-single .chosen-single {
  div b {
    background: none;
    width: 0;
    height: 0;
    border-top: 6px solid rgb(0, 0, 0);
    border-right: 6px solid transparent;
    border-left: 6px solid rgba(0, 0, 0, 0);
    top: 13px;
    right: 5px;
    left: auto !important;
  }
}
