select {
  border: 2px solid @c-black;
}

.chosen-container,
input[type="text"],
input-value,
.chosen-container-single .chosen-single,
select {
  font-size: @size--2 !important;
  font-family:@ff-default;
  text-indent:0px !important;
  color:@c-black;
}