.main-menu-overlay {
  position: fixed;
  left: 0;
  top: @header-height;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: @c-white;
  opacity: 0;
  overflow-y: auto; // fix issue on small screens not able to see all items
  .transition(all, .85s, ease);
  nav {
    margin: 50px 0 110px 0; // 110px to compensate for floating bar at the bottom
    @media screen and (max-height: 875px) {
      margin-top: 25px;
    }
    @media screen and (max-height: 750px) and @small-mobile-max {
      margin-top: 50px;
    }
    @media screen and (max-height: 750px) and (max-width: 375px) {
      margin-top: 25px;
    }
    h2 {
      position: relative;
      margin: 0;
      list-style: none;
      text-align: center;
      font-size: 60px;
      line-height: 1.5em;
      .viewport-mobile & {
        font-size: 36px;
      }
      a {
        color: @c-black;
        display: inline-block;
        cursor:pointer;
        &:hover {
          color: #555;
          text-decoration: underline;
        }
      }
    }
    h2,
    li {
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      top: -6em;
      .transition(all, .85s, ease);
      opacity: 0;
      filter: alpha(opacity=0);
    }
    social-links {
      display: block;
      text-align: center;
      margin: 0;
      padding: 0 20px;
      li {
        @media screen and (max-height: 750px) {
          margin: 0 2px;
        }
        a {
          background: transparent;
          color: @c-black;
          font-size: 30px;
          padding: 10px;
          .transition(all, .3s, ease);
          &:hover {
            background: @c-black;
            color: @c-white;
          }
          @media screen and (max-height: 875px) {
            font-size: 25px;
            padding: 3px;
          }
          @media screen and (max-height: 750px) {
            font-size: 20px;
            padding: 0;
          }
          @media screen and (max-height: 750px) and @small-mobile-max {
            height: 20px;
            width: 20px;
            line-height: 20px;
            font-size: 25px;
            padding: 11px;
          }
        }
      }
    }
  }
}

.main-menu-active {
  .main-menu-overlay {
    z-index: 50;
    opacity: 1;
    nav {
      h2,
      li {
        opacity: 1;
        top: 0;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
      }
    }
  }
}
