.modal-backdrop {
  background: @c-primary;
}

dialog {
  border:0px none;
  border-radius:0px;
  .ui-info {
    border-radius:0px;
    background: @c-secondary;
    header {
      border: 0px none;
      h1 {
        color: @c-primary;
      }
    }
    main {
      padding-top: 0 !important;
    }
  }
}