.modal-backdrop {
  background: @c-primary;
}

dialog {
  border: 0px none;
  border-radius: 0px;
  header button-close {
    color: @c-primary;
  }
  .ui-info,
  .ui-dialog {
    border-radius: 0px;
    background: @c-secondary;
    color: @c-primary;
    header {
      border: 0px none;
      h1 {
        color: @c-primary;
      }
    }
    main {
      padding-top: 0 !important;
    }
  }
}

dialog.confirmation-dialog .ui-dialog {
  padding: 0;
}

dialog .ui-info.modal-policies {
  header h1 {
    font-family:@ff-bold;
    color:@c-primary;
    font-size:@size-0;
  }
  main ul {
    border: 0px none;
    li {
      p,
      h3 {
        color: @c-primary !important;
      }
    }
  }
}

.dialog-product-details main section.terms-and-conditions li,
dialog .ui-info.modal-policies main li {
  border-bottom: 0px none;
  &:first-child {
    padding-top: 0;
  }
  p {
    color: @c-primary;
    padding: 0 5px;
  }
  h3 {
    border: 1px solid @c-primary;
    padding: 5px;
    font-family: @ff-bold;
    margin-bottom: 15px;
    text-transform: capitalize;
  }
}