.modal-backdrop {
  background: @c-primary;
}

dialog {
  border: 0px none;
  border-radius: 0px;
  header button-close {
    color: @c-primary;
  }
  .ui-info,
  .ui-dialog {
    border-radius: 0px;
    background: @c-secondary;
    color: @c-primary;
    header {
      border: 0px none;
      h1 {
        color: @c-primary;
      }
    }
    main {
      padding-top: 0 !important;
    }
  }
}

dialog.confirmation-dialog .ui-dialog {
  padding: 0;
}

dialog .ui-info.modal-policies main li {
  p,
  h3 {
    color: @c-primary;
  }
}