notification-bar {
  position:relative;
  bottom:initial;

  .multiroom-notification {
    width: 600px;
    .rooms,
    .details,
    .dates {
      width: 33%;
      p {
        text-align: left;
        color: @c-black;
      }
      &:before {
        margin: 20px 10px 10px 10px;
      }
    }
    .rooms {
      border-right: 1px solid @c-black;
    }
    .details {
      padding: 5px 30px 5px 30px;
      border-right: 1px solid @c-black;
      .viewport-mobile & {
        padding: 5px 10px 5px 10px;
      }
    }
    .dates {
      display: block;
      padding: 5px 0 5px 30px;
      .viewport-mobile & {
        padding: 5px 0 5px 10px;
      }
      &:before {
        content: @fa-var-calendar;
      }
    }
  }

  &:before {
    opacity: 1;
  }

  > div {
    background: @c-white;
    > p {
      color: @c-black;
      padding:20px;
    }
  }

  > div .close {
    top:0px;
    right:10px;
    // Cross icon
    font-family:@ff-bold;
  }
}
