.parallax-image {
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat:no-repeat;
  background-attachment: fixed;
}

#header-image {
  height: 530px;
  background-image: url('//duesseldorf.meandallhotels.com/fileadmin/_processed_/csm_P1134913_0c41ebe4d0.jpg');
}