user-messages {
  background: transparent;
  box-shadow:none;
  position:relative;
  top:initial;
  &.reservation-confirmation {
    // @note The image that this matches is set in a config file, if that image is updated this file was also need to reflect the change
    background: url("@{img-prefix}/section-images/RS12959_DUSIMM_Zimmer_STANDARD_05-scr.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    ul {
      width: 80%;
      margin-right: auto;
      margin-left: auto;
      padding-bottom: 60px;
      padding-top: 30px;
    }
  }

  ul li {
    display:inline-block;
    width:100%;
    box-sizing:border-box;
    text-align:center;
    background:@c-black;
    padding:30px;
    .viewport-mobile & {
      width:100%;
      box-sizing:border-box;
      background:@c-primary;
      color:@c-secondary;
      box-sizing: border-box;
      font-size: 18px;
      background:@c-primary;
      color: @c-secondary;
      padding: 30px 0px 15px 0;
    }
    span.title {
      margin-bottom: 19px;
      font-size: 28px;
      .viewport-mobile & {
        font-size:18px;
        line-height:1.3em;
        margin-bottom:10px;
      }
    }
    span.desc {
      font-size:@heading-2-size;
      .viewport-mobile & {
        font-size:23px;
      }
    }
    .user-message__img {
      float: left;
      height: 123px;
      padding-left: 31px;
      margin-right: 32px;
      .viewport-mobile & {
        display: none;
      }
    }
  }
  .message-close {
    // Cross icon
    text-indent:-9999px;
    width: 23px;
    padding: 0;
    &:before {
      .fa;
      content: @fa-var-close;
      text-indent:initial;
      display:block;
      position:absolute;
      font-size: 18px;
    }
  }
  .message-content {
    text-align: left;
  }
  .info-multiple-reservation-confirmation {
    display: none;
    &:nth-child(1) {
      display: block;
    }
  }
}
