<header>
  <h1 ng-if="config.displayMainTitle">_location_</h1>
  <h2>
    <span ng-bind-html="'_mapLocationHeader_' | stringLocaleReplace: hotelDetails.nameShort : hotelDetails.nameLong | mainHeaderStyle"></span>
  </h2>
  <p class="view-map-link" ng-if="config.displayGoogleMapsLink">
    <a target="_blank"
       ng-if="position"
       href="http://maps.google.com/maps?q={{position[0]}}+{{position[1]}}&z=15&t=m">
      _hotel_map_external_link_
    </a>
  </p>
</header>

<div class="map-wrapper">
  <div class="map-overlay">
    <a target="_blank" ng-if="position" href="http://maps.google.com/maps?q={{position[0]}}+{{position[1]}}&z=15&t=m"></a>
  </div>
  <ng-map
    ng-if="position"
    zoom="15"
    max-zoom="18"
    min-zoom="4"
    scrollwheel="true"
    center="{{ position }}"
    styles="[{featureType:'poi.business',elementType:'all',stylers:[{visibility:'off'}]}]"
  >
    <marker
      position="{{ position }}"
      title="{{ hotelDetails.nameShort }}"></marker>

  </ng-map>
</div>

<span class="additional-info" ng-if="config.displayMainTitle">

  <p>{{hotelDetails.locationDescription}}</p>

  <contact-list ng-if="!config.hideContactDetails">

    <contact-item ng-if="hotelDetails.email">
      <div>
        <i class="fa fa-envelope" ng-if="config.displayIcons"></i>
        <strong>_hotel_map_email_label_:</strong>
        <a ng-href="mailto:{{hotelDetails.email}}">{{hotelDetails.email}}</a>
      </div>
    </contact-item>

    <contact-item ng-if="hotelDetails.tel1 || hotelDetails.tel2 || hotelDetails.fax">
      <div ng-if="hotelDetails.tel1 || hotelDetails.tel2">
        <i class="fa fa-phone" ng-if="config.displayIcons"></i>
        <strong>_hotel_map_phone_label_:</strong>
        <span ng-if="hotelDetails.tel1"><a href="tel:{{hotelDetails.tel1}}">{{hotelDetails.tel1}}</a></span>
        <span ng-if="hotelDetails.tel2"><a href="tel:{{hotelDetails.tel2}}">{{hotelDetails.tel2}}</a></span>
      </div>
    </contact-item>

    <contact-item>
      <div>
        <i class="fa fa-home" ng-if="config.displayIcons"></i>
        <strong>_hotel_map_address_label_:</strong>
        <address>
          <span ng-if="hotelDetails.address1">{{hotelDetails.address1}},</span><br ng-if="hotelDetails.address1" />
          <span ng-if="hotelDetails.address2">{{hotelDetails.address2}},</span><br ng-if="hotelDetails.address2" />
          <span ng-if="hotelDetails.address3">{{hotelDetails.address3}},</span><br ng-if="hotelDetails.address3" />
          <span>{{hotelDetails.city}}, {{hotelDetails.zip}}</span>
        </address>
      </div>
    </contact-item>

    <contact-item ng-if="config.directionsLink.display">
      <div>
        <i class="fa fa-location-arrow" ng-if="config.displayIcons"></i>
        <strong>_hotel_map_directions_label_:</strong>
        <a ng-href="{{config.directionsLink.link}}" target="_blank">_hotel_map_directions_value_</a>
      </div>
    </contact-item>

  </contact-list>
</span>
