<div class="image-wrapper">
	<img ng-src="images[selected].uri" alt="{{images[selected].alt}}" err-source="http://lorempixel.com/600/600/">
</div>

<a ng-if="images.length > settings.minImages" ng-click="moveLeft()">&lt;</a>

<ul>
  <li ng-repeat="image in getCarousel(images)" ng-click="setSelected($index)" ng-class="{selected: $index === selected}"><img ng-src="{{image.uri}}" alt="{{image.alt}}" err-source="http://lorempixel.com/50/50/"></li>
</ul>

<a ng-if="images.length > settings.minImages" ng-click="moveRight()">&gt;</a>
