<div class="slider-content">
</div>

<div class="slider-controls" ng-swipe-left="slide(false, $event)" ng-swipe-right="slide(true, $event)" ng-click="onContentClick()">
  <div ng-show="content.length > 1">
    <a href class="slide-button slide-left" ng-click="slide(true, $event)"/>
    <a href class="slide-button slide-right" ng-click="slide(false, $event)"/>

    <div class="pages" ng-click="preventClick($event)">
      <span ng-repeat="page in content" ng-class="{active:slideIndex==$index}" ng-click="slideToIndex($index, $event)"/>
    </div>
  </div>
</div>
