<ul ng-if="messages.length" id="user-messages">
  <li ng-repeat="message in messages" class="{{message.type}}" ng-if="message.type === 'info-message'">
    <div class="grid-wrapper">
      <span class="message-content" ng-bind-html="sanitize(message.html)"></span>
      <span class="message-close" ng-click="closeMessage($index)">x</span>
    </div>
  </li>
  <li ng-repeat="message in messages" class="{{message.type}}" ng-if="message.type === 'info-reservation-confirmation'">
    <div class="grid-wrapper">
      <span class="message-content" ng-bind-html="sanitize(message.html)">
        <span class="title">_reservation_confirmation_message_title_</span>
        <span class="desc">_reservation_confirmation_message_desc_</span>
      </span>
      <span class="message-close" ng-click="closeMessage($index)">x</span>
    </div>
  </li>
</ul>
