<ul class="" ng-show="languages.length > 1 && !config.dropdown && !isMobile && $root.showLanguages">
  <li ng-repeat="language in languages" ng-class="{'selected': language.code === currentLanguage}">
    <a class="language" ng-class="{'selected': language.code === currentLanguage}" href title="{{language.name}}" ng-click="changeLanguage(language)">{{getShortName(language.code)}}</a>
  </li>
</ul>

<div ng-class="{'dropdown': languages.length > 1}" ng-show="languages.length > 1 && (config.dropdown || isMobile)  && $root.showLanguages">
  <a href title="Language">
    <span ng-if="!isMobile">{{getShortName(currentLanguage)}}</span>
    <span ng-if="isMobile"><span>_select_language_ - </span><span>{{getFullName(currentLanguage)}}</span></span>
  </a>
  <ul class="dropdown-menu submenu" ng-show="languages.length > 1">
    <li ng-repeat="language in languages" title="{{language.name}}">
      <a class="language" class="icon-{{language.code}}" href title="{{language.name}}" ng-click="changeLanguage(language)">{{getFullName(language.code)}}<!--<img ng-src="/static/images/lang-{{language.code}}.jpg" class="icon" alt="{{language.code}}">--></a>
    </li>
  </ul>
</div>
