<main class="grid-wrapper About">
  <booking-bar class="roombar" size="full-width" stickable="main-header"></booking-bar>

  <breadcrumbs></breadcrumbs>
  <hr />

  <div class="About__content">

      <div class="About__text">

          <p>BOOK YOUR STAY NOW AND RECEIVE AN AMEX PREPAID GIFT CARD OF $75 AT CHECK IN & AN EXTRA $50 FOR EACH EXTRA NIGHT!</p>
          
          <p>SPEND IT AS YOU WISH, EVEN <br \>
            TOWARDS THE HOTEL!</p>
          
          <p>LIMITED TIME OFFER</p>
          
      </div>


  </div>

</main>
