//- BUTTONS -//
@c-button: @c-green;


//- Button Submit
.typeform-share.button,
.button,
button-submit {

  background: @lbe-c-primary;

  &:active,
  &:focus,
  &:hover {
    background: darken(@lbe-c-primary, 10%);
  }

  border-radius: 0;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: 300;
  font-size: 16px;
  line-height: 40px;
  height: 40px;
  text-shadow: none;
  box-shadow: none;
  text-transform: uppercase;

  &.hide{
    display: none;
  }

  &.alt,
  &.alt:active,
  &.alt:focus,
  &.alt:hover,
  &[disabled="disabled"] {
    background: #f3efe6;
    background: -moz-linear-gradient(top,  #f3efe6 0%, #c2c1bd 100%);
    background: -webkit-linear-gradient(top,  #f3efe6 0%,#c2c1bd 100%);
    background: linear-gradient(to bottom,  #f3efe6 0%,#c2c1bd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3efe6', endColorstr='#c2c1bd',GradientType=0 );
    border-bottom: 1px solid #959595;
    color: @c-dark-grey;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);

  }
}
