hotel-location {
  h2{
    font-size: 18px;
    color: @c-grey;
    text-transform: uppercase;
  }
  i{
    color: @c-secondary;
  }
  contact-list,
  transportation-list {
    strong {
      color: @c-dark-grey;
    }
  }
  contact-list {
    .viewport-mobile & {
      display:block;
    }
    contact-item {
      text-align:center;
      &:nth-of-type(4) div {
        text-align:left !important;
      }
    }
  }
  header p a {
    color:#3eb1c2;
    width:140px;
    height:18px;
    font-size:13px;
    font-weight:600;
    .chain-sign & {
      color:#e6781e;
    }
  }
}
