
.viewport-mobile {

  footer.main {
    height: initial;
    padding: 30px 26px;
    width: 100%;
    box-sizing: border-box;
  }

  .Footer__title {
    font-size: 23px;
  }

  .Footer__phone {
    display: none;
  }

  .Footer__nav {
    display: none;
  }

  .Footer__tagline {
    display: none;
  }

  .Footer__signup {
    width: 100%;
    float: initial;
    margin-top: 0;
    .Footer__text {
      font-size: 16px;
      margin-bottom: 13px;
    }
  }

  .Footer__button {
    width: 160px;
    height: 50px;
    padding: 0;
    margin: 20px 0 0 0;
  }

  .Footer__apps {
    display: none;
  }

  .Footer__apps--downloads {
    img:not(:last-child) {
      margin-right: 15px;
    }
  }

  .Footer__social {
    margin-top: 48px;
    float: initial;
  }

  .Footer__social--icons {
    width: 100%;
    float: initial;
  }

}
