/////////////////////
//// BREADCRUMBS ////
/////////////////////
breadcrumbs {
  margin-bottom: 0;
}

.breadcrumbs {
  margin-top: 10px;
  margin-bottom: 10px;
  background: #fff;
  padding: 10px 15px;
  padding-left: 0; 

  .crumbs{
    li:last-of-type {
      span {
        line-height: 14px;
        font-size: 14px;
        color: @c-mid-grey;
      }
    }
    li {
      a {
        font-size: 14px;
        line-height: 14px;
        color: @c-dark-grey;
        font-weight: 300;
        &:after{
          color: #000;
          font-size: 22px;
        }
        &:hover {
          color: @c-mid-grey;
        }
      }
      > span, a {
        margin-right: 10px;
      }
      > span:after, a:after {
        vertical-align: top;
        content: ">";
        font-weight: 500;
        margin-left: 10px;
        color: @c-primary;
      }
    }
  }

}