/////////////////////
//// HOTELS LIST ////
/////////////////////
.no-margin {
  margin-top: 0;
}

hotels, .alt-hotels {
  .chosen-container-single {
    .chosen-single {
      border-radius: 4px;
      background: #f2f2f2;
      background: -moz-linear-gradient(top, #f2f2f2 0%, #d4d4d4 100%);
      background: -webkit-linear-gradient(top, #f2f2f2 0%,#d4d4d4 100%);
      background: linear-gradient(to bottom, #f2f2f2 0%,#d4d4d4 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#f2f2f2', endColorstr='#d4d4d4',GradientType=0 );
      border: 1px solid @c-light-grey;
      line-height: 29px;

      span {
        color: @c-grey;
      }
    }
  }

  .hotels-counter {
    color: @c-dark-grey;
    font-style: normal;
    font-size: 16px;
    line-height: 32px;
  }

  //icon
  .chosen-container-single .chosen-single div b {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 26px;
    height: 100%;
    background: none;

    &:after {
      .fa;
      position: absolute;
      color: @c-grey;
      font-size: 14px;
      content: @fa-var-sort;
      right: 10px;
      top: 8px;
    }
  }

  header + section {
    margin: @baseline 0;
  }

  .hotels__header {
    margin-bottom: 20px;
  }
  //- Page Heading
  h1 {
    .h1;
    margin: 0;
    font-size: 24px;
    margin-top: 20px;
  }

  p {
    color: @c-black;
    margin-bottom: @baseline;
  }

  .hotels__controls {
    .clearfix;
    margin-bottom: @baseline;

    .order-switch {
      float: left;

      .viewport-mobile & {
        width: 100%;
      }

      .chosen-container {
        width: 200px !important;
      }
    }
  }

  .hotels__list {
    ul {
      margin: 0 -1%;

      .grid,
      [grid-container],
      [grid] {
        margin: 0;
        width: 100%;
      }
      @media only screen and @tablet-portrait-min {
        .generate-fluid-grid(3);
      }

      .item {
        margin-bottom: @baseline/2;
        position: relative;
        box-sizing: border-box;
        // MOBILE SPECIFIC STYLES
        @media only screen and @large-mobile-max {
          border-top: 1px dashed @c-light-grey;
          margin-bottom: 20px;
          padding-top: 30px;
          padding-bottom: 70px;

          &:first-child {
            border-top: none;
          }
          &:last-child {
            border-bottom: none;
          }
        }
        // image container
        .hotel-images {
          float: left;
          width: 32%;

          .hotel-small-images-container {
            margin-top: 10px;
            .item-image-small {
              img {
                display: inline-block;
                width: 32%;
                border-radius: 10px;
              }

              &.item-image-small-margin {
                img {
                  margin-left: 1%;
                }
              }
            }
          }

          .item-image {
            border-radius: @radius/2;
            background: lighten(@c-light-grey, 10%);
            position: relative;
            cursor: pointer;

            img {
              display: block;
              width: 100%;
              color: @c-base;
              border-radius: @c-border-radius;
            }

            .star-rating {
              position: absolute;
              bottom: @baseline/6;
              right: @baseline/3;
            }
          }
        }

        h2 {
          font-size: 18px;
          font-weight: 600;
          color: @c-primary;
          text-transform: uppercase;

          strong {
            font-weight: 600;
          }
        }

        pricing-info {
          display: inline-block;
          width: 100%;
          /*
          .viewport-mobile &{
            position: absolute;
            bottom: 0;
          }
          */
          @media only screen and @large-mobile-max {
            position: absolute;
            bottom: 0;
          }

          p {
            color: @c-dark-grey;

            .value {
              font-size: 13px;
              color: @c-secondary;
            }
          }

          p.price.available {
            .viewport-mobile & {
              text-align: left;
            }
          }

          p.price.unavailable {
            .not-available();
            margin-top: 0;
            float: none;
            max-width: none;
            font-weight: 500;

            .viewport-mobile & {
              text-align: left;
            }

            button-submit {
              display: block;
            }
          }

          button-submit {
            display: none;
            @media only screen and @large-mobile-max {
              display: inline-block;
              float: left;
              padding: 10px;
              min-width: 0;
              width: 100%;
              line-height: 1;
              height: auto;
              margin-bottom: 10px;
            }
          }
        }

        &.sign {
          background: url('@{img-prefix}/watermark-signature-logo-small.png') no-repeat 0 180%;
          background-size: 120%;

          pricing-info {
            p {
              .value {
                color: @c-menu-active-sign;
              }
            }
          }

          h2 {
            font-family: @ff-heading-bold-sign;
            font-weight: normal;
            color: @c-dark-grey;
            line-height: 24px;

            strong {
              font-weight: normal;
            }
          }

          .region-name {
            font-family: @ff-heading-it-sign;
            font-weight: normal;
          }
        }
      }

      .filter-no-matches {
        display: block;
      }

      .item ~ .filter-no-matches {
        display: none;
      }
    }

    .item {
      .description {
        position: relative;
        overflow: hidden;
      }
    }

    .entries--tiles .item {
      .hotel-images {

        .item-image {
          width: 200px;
        }
      }

      &:nth-child(3n + 1) {
        clear: left;
      }
    }

    .entries--list .item {
      border-bottom: 1px dashed @c-light-grey;
      margin-bottom: 25px;
      padding-right: 0 !important;
      padding-left: 0 !important;
      min-height: 217px !important;
      padding-bottom: 25px;

      &:last-child {
        border-bottom: none;
      }

      .viewport-mobile & {
        padding-left: 0 !important;
        padding-bottom: 0px;
        min-height: 100px !important;
        padding-top: 0px;
        position: relative;
      }

      .mobile-click-handler {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        z-index: 1;
      }

      pricing-info {
        position: relative;
        width: 200px;

      }

      .viewport-mobile & {
        border: none;
      }

      .hotel-details-wrapper {
        border: 2px solid @c-grey;
        border-radius: 10px;
        float: left;
        width: 66%;
        margin-left: 10px;
        position: relative;

        .sandman-logo {
          position: absolute;
          top: 25px;
          right: 30px;
          width: 100px;
        }

        .viewport-mobile & {
          height: 90px;
          width: 96%;
        }

        .clear {
          clear: both;
        }

        .viewport-mobile & {
          width: 100%;
          margin-right: 20px;
        }
      }

      .hotel-details {
        width: 94%;
        padding: 25px;
        min-height: 167px;
        border-bottom: 2px solid #e5e5e5;

        .viewport-mobile & {
          padding: 0;
          min-height: 80px;
          width: 55% !important;
          border-bottom: 0px;
          float: left;
        }

        .item-image {
          width: 110px !important;
          float: left;
          padding-right: 10px;
          img {
            width: 110px;
            border-radius: 10px;
            margin: 8px 0 0 5px;
          }
        }

        h2 {
          .viewport-mobile & {
            font-size: 10px;
            color: black;
          }
        }

        h5 {
          color: @c-black;
          font-size: 16px;
          font-weight: bold;
        }

      }

      .hotel-pricing {
        float: left;
        width: 94%;
        padding: 25px;
        position: relative;

        .viewport-mobile & {
          width: 35%;
          padding-left: 10px;
          padding-top: 10px;
        }
        pricing-info {
          width: 100%;
        }
        pricing-info p {
          font-size: 17px;
          float: left;
          margin-top: 20px;

          &.unavailable {
            float: right;
            margin-top: 0px;
          }

          .viewport-mobile & {
            margin-top: 0;
          }

          &.not-available-hotel {
            .viewport-mobile & {
              margin-top: 16px;
            }
          }

          .value {
            font-size: 23px;
            .viewport-mobile & {
              font-size: 16px;
              display: block;
            }
          }
        }

        button-submit {
          background-color: red;
          .viewport-mobile & {
            position: absolute;
            top: -11px;
            left: 127px;
            width: 30px;
            border-radius: 0 11px 11px 0 !important;
            height: 92px !important;
          }
        }
      }

      .item-image {
        width: 24% !important;
      }
    }
  }

  .hotels__filter {
    padding: 0 0 45px;
    @media only screen and @tablet-portrait-max {
      margin-top: @baseline;
      padding-top: 3.5*@baseline;
      background: url('@{img-prefix}/v4/dividing-line.png') 50% 0 no-repeat;
    }

    .viewport-mobile & {
      background-position: 50% 100%;
      margin: 0 0 @baseline;
    }

    .view-switch {
      margin-bottom: @baseline;
      border-top: 2px solid @c-light-grey;
      padding-top: 16px;
      .clearfix;

      .viewport-mobile & {
        display: none;
      }

      li {
        display: block;
        float: left;
        width: 50%;
        font-size: @size--1;
        color: @c-grey;
        cursor: pointer;
        .fa {
          font-size: @size-4;
          margin-right: @baseline/2;
          position: relative;
          top: 5px;
        }
        &.is-active .fa {
          color: @c-primary;
        }
      }

    }

    .filters-bar {
      padding: @baseline 0 5px;
      border-width: 2px 0;
      border-style: solid;
      border-color: @c-light-grey;

      .viewport-mobile & {
        border: none;
      }
    }

    hr {
      border-bottom: 1px solid @c-light-grey;
      margin: 22px 0 5px;
      background: transparent;
      height: 0;
      width: 100%;
      left: 0;

      &:after,
      &:before {
        display: none;
      }
    }

    .star-filter {
      hr {
        display: none;
      }
    }

    h2,
    h3 {
      font-weight: 400;
      font-size: 15px;
      margin-bottom: @baseline/2;
      color: @c-dark-grey;
    }

    .logo-trip-advisor {
      display: inline-block;
      background: transparent url('@{img-prefix}/v4/icon-tripadvisor.png') no-repeat center 2px;
      width: 100px;
      height: 20px;
    }
  }

  .ratings {
    min-height: 30px;

    .rating-default {
      float: right;
    }

    .brand {
      &.sand {
        width: 98px;
        height: 17px;
        background: url('@{img-prefix}/sandman-logo-medium.png') no-repeat center;
      }

      &.sign {
        width: 40px;
        height: 26px;
        background: url('@{img-prefix}/signature-logo-medium.png') no-repeat center;
      }
    }

    .rating-trip-advisor {
      float: right;
      max-width: 50%;

      .viewport-mobile & {
        max-width: none;
      }

      img {
        max-width: 100%;
      }
    }
    // MOBILE SPECIFIC STYLES
    @media only screen and @large-mobile-max {
      margin-top: 0;
      z-index: 10;
      position: relative;
      padding-right: 10px;
      margin-bottom: 10px;
    }
  }

  .reset-filters {
    padding: 25px 0 0;
    font-size: @size--0;
  }

  .stars {
    text-align: center;
    position: relative;
    margin-bottom: 10px;

    .stars-left {
      position: absolute;
      top: 0;
      left: 0;
    }

    .stars-right {
      position: absolute;
      top: 0;
      right: 0;
    }

    li {
      display: inline-block;
      margin: 0 1px;
      cursor: pointer;

      &:after {
        content: "\f005";
        font-family: FontAwesome;
        display: inline-block;
        color: @c-light-grey;
      }

      &.included:after {
        color: @c-secondary;
      }
    }

    &.rating-trip-advisor {
      &.img {
        display: inline;
        // MOBILE SPECIFIC STYLES
        @media only screen and @large-mobile-max {
          margin: 0 1%;
        }
      }

      li {
        @rating-size: 12px;
        @trip-advisor-color: #4a863f;
        width: @rating-size;
        margin-top: 2px;
        height: @rating-size;
        border-radius: @rating-size;
        border: 2px solid @trip-advisor-color;

        &:after {
          content: '';
          display: block;
          margin: 2px;
        }

        &.included:after {
          @rating-active-size: 8px;
          width: @rating-active-size;
          height: @rating-active-size;
          background: @trip-advisor-color;
          border-radius: @rating-active-size;
        }
      }
    }
  }

  .Hotels__text {
    margin: 50px 0;
    font-family: @ff-primary;
    display: inline-block;
    float:left;
    width: 60%;
    @media only screen and @large-mobile-max {
      width: 100%;
    }
    h1 {
      margin-bottom: 25px;
      font-size: 28px;
      font-weight: 900;
      text-transform: uppercase;
    }
    p {
      font-size: 18px;
      line-height: 26px;
      color: @c-mid-grey;
    }
  }

  .Hotels__picture {
    margin-top: 50px;
    margin-left: 50px;
    display: inline-block;
    text-align: center;
    vertical-align: center;
    width: 30%;
    img {
      max-width: 400px;
      border-radius: @c-border-radius;
      @media only screen and @large-mobile-max {
        width: 0;
      }
    }
  }
}

.extend-background {
  background-color: #0065c9;
  margin-left: -20px;
  padding-left: 40px;
  width: 100%;

  button {
    margin-left: -20px !important;
  }
}

.preloader.Hotels__preloader {
  position: relative;
}
