<hero-slider ng-if="!config.hideHeroSlider"
             content="heroContent"
             slide-width="uiConfig.heroSlider.slideWidth"
             slide-height="uiConfig.heroSlider.slideHeight">
</hero-slider>

<breadcrumbs ng-if="!config.hideBreadcrumbs" stickable="main-header"></breadcrumbs>

<main class="grid-wrapper" id="jsProfile">

  <div class="preloader" ng-show="preloader.visible"></div>

  <!-- This is where the keystone profile will be injected -->
  <div id="keystone-profile"></div>

  <scroll-to-top class="back-to-top"
                 ng-click="scrollToTop()"
                 scroll-position="scroll"
                 ng-class="{visible: scroll > scrollTopTrigger}">
    <span>_back_to_top_</span>
  </scroll-to-top>

  <!-- Growl notifications -->
  <growl-alerts class="growl-alerts-dir"
                languages-message="'_languages_message_'"
                retention-message="'_retention_message_'">
  </growl-alerts>

</main>
