
.HomePage {

  margin-top: 80px;

}

.HeroBenefits__benefits {
  hero-slider {
    height: 441px !important;
    .slider-controls {
      .slide-button {
        display: none;
      }
      .pages {
        bottom: 20px;
      }
    }
  }
}
