about-hotel {

  header{
    hr{
      display: inline-block;
      margin: 40px auto;
    }
  }

  //- Page Heading
  h1{
    position: relative;
    text-align: center;
    font-size: 36px;
    line-height: 42px;

    > span{
      display: inline-block;
      position: relative;
      span{
        font-size: 16px;
        line-height: 21px;
        font-weight: 400;
        display: block;
        color: @c-brown;
      }
    }

    .viewport-mobile &{
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 0;
      > span{
        padding-left: 0;
        span{
          font-size: 12px;
        }
        &:before{
          content: none;
        }
      }

    }

  }

  h2{
    font-weight: 400;
    color: @c-dark-grey;
    text-transform: uppercase;
  }

  .benefits {

    article {
      min-height: 100px;
      h2 {
        position: relative;
        display: inline-block;
        font-size: @size-2;
        color: @c-grey;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 16px;

        &:after{
          content: '';
          position: absolute;
          left: 0;
          bottom: -6px;
          height: 1px;
          width: 115%;
          background: @c-light-grey;
        }
      }

      p {
        color: @c-grey;
        font-size: @size--0;
        margin-bottom: 0;
        font-weight: 300;
      }
    }
  }

  .about-offers-heading {
    text-size: 100px;
    h2 {

      &::after, &::before {
        border-top: 1px solid #eaeaea;
        border-bottom: 1px solid #eaeaea;
        height: 5px;
      }
    }
  }

}
