<div class="members-only-banner">
  <div class="members-only-banner__labels-positionner">
    <div class="members-only-banner__label">
      _menu_hotels_
    </div>
  </div>
</div>

<main class="grid-wrapper no-margin">

  <booking-bar ng-if="!isMobile" class="roombar" size="full-width" stickable="main-header"></booking-bar>

  <div ng-if="isMobile" class="extend-background">
    <button class="HotelDetails__search" ng-click="openBookingBar()">
      _find_your_room_
    </button>
  </div>

  <breadcrumbs stickable="main-header"></breadcrumbs>
  <hr />

  <div class="preloader" ng-show="preloader.visible"></div>

  <hotels></hotels>
</main>
