<hero-slider ng-if="!viewSettings.hideHeroSlider"
             content="heroContent"
             slide-width="uiConfig.heroSlider.slideWidth"
             slide-height="uiConfig.heroSlider.slideHeight">
</hero-slider>

<section-image ng-if="config.sectionImages && config.sectionImages[0] && property"
               id="room-header-image"
               section="config.sectionImages[0]"
               when="'enter'"
               from="1"
               to="1.5"
               show-logo="true"
               room-overview="roomDetails"
               property="property"
               hide-header-logo="true">
</section-image>

<notification-bar ng-if="config.sectionImages && config.sectionImages[0] && property"
                  sticky-header="true"
                  currently-editing="_you_are_currently_editing_">
</notification-bar>

<booking-bar class="roombar" size="full-width" stickable="main-header" ng-if="!isMobile"></booking-bar>

<div class="Home__hero--info show-desktop" ng-if="loyaltyEngine">
  <h1 class="About__hero--title">{{ roomDetails.name }}</h1>
  <h1 class="About__hero--title">_about_title_one_</h1>
  <h2 class="About__hero--tagline">_about_tagline_</h2>
</div>

<breadcrumbs ng-if="!viewSettings.hideBreadcrumbs" stickable="main-header"></breadcrumbs>

<main class="room-detail"
      ng-class="{'grid-wrapper':!viewSettings.fullWidthSections}">

  <div class="preloader"
       ng-show="preloader.visible && !isFromSearch">
  </div>

  <ta-teaser ng-show="!ratesLoaded && isFromSearch && config.includeTripAdvisorPreloader"></ta-teaser>

  <room></room>

  <!--<scroll-to-top class="back-to-top"
                 ng-click="scrollToTop()"
                 scroll-position="scroll"
                 ng-class="{visible: scroll > scrollTopTrigger}">
    <span>_back_to_top_</span>
  </scroll-to-top>-->

</main>
