<hero-slider content="heroContent" slide-width="uiConfig.heroSlider.slideWidth" slide-height="uiConfig.heroSlider.slideHeight"></hero-slider>

<breadcrumbs stickable="main-header"></breadcrumbs>

<main class="grid-wrapper">

  <div class="preloader" ng-show="preloader.visible"></div>

  <profile-page grid-row>

    <header grid="12">
      <h1 ng-bind-html="'_reset_password_page_title_'| mainHeaderStyle"></h1>
      <p>_reset_password_page_sub_title_</p>
    </header>

    <form name="form" grid="8">

      <fieldset>
        <form-element>
          <label for="resetCode">Reset password code</label>
          <input
            type="text"
            id="resetCode"
            name="resetCode"
            ng-model="resetData.code"
            required
            ng-class="{'ng-submitted': form.$submitted && form.resetCode.$error.required}"/>
        </form-element>

        <form-element>
          <label for="resetPassword">_new_password_label_</label>
          <input
            type="password"
            id="resetPassword"
            name="resetPassword"
            ng-model="resetData.password"
            required
            ng-class="{'ng-submitted': form.$submitted && form.resetPassword.$error.required}"
            ng-pattern="$root.generalValidationPattern"/>
        </form-element>

        <form-element>
          <label for="resetPasswordConfirm">_confirm_password_label_</label>
          <input
            type="password"
            id="resetPasswordConfirm"
            name="resetPasswordConfirm"
            ng-model="resetData.passwordConf"
            required
            equals="resetData.password"
            ng-class="{'ng-submitted': form.$submitted && (form.resetPasswordConfirm.$error.required || form.resetPasswordConfirm.$error.equals)}"/>
            <span class="error" ng-if="form.$submitted && form.resetPasswordConfirm.$error.equals">_password_match_error_message_</span>
        </form-element>

      </fieldset>

      <p class="feedback-msg error" ng-if="error">
        <span ng-if="errorCode === 0">_generic_error_message_</span>
        <span ng-if="errorCode === 10">_reset_password_error_code_ten_</span>
        <span ng-if="errorCode === 11">_reset_password_error_code_eleven_</span>
        <span ng-if="errorCode === 12">_reset_password_error_code_twelve_</span>
        <span ng-if="errorCode === 13">_reset_password_error_code_thirteen_</span>
        <span ng-if="errorCode === 34">_reset_password_error_code_thirtyfour_</span>
        <span ng-if="formError">_missing_fields_message_</span>
      </p>
      <p class="feedback-msg" ng-if="success">_reset_password_success_</p>

      <button-submit role="button" ng-click="reset(form, resetData)">_reset_password_button_</button-submit>

    </form>


  </profile-page>

  <!--<scroll-to-top class="back-to-top" ng-click="scrollToTop()" scroll-position="scroll" ng-class="{visible: scroll > scrollTopTrigger}"><span>_back_to_top_</span></scroll-to-top>-->
</main>
<div ng-include="'layouts/siteMap.html'" class="site-map" ng-if="footerConfig.displaySitemap"></div>
