<div class="grid-wrapper">
<div grid-container="9">
  <section widget="hotels">
    <header class="hotels__header">
      <h1>Our <strong>Hotels</strong></h1>
      <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at nibh varius odio sollicitudin blandit nec eu elit. Suspendisse ac risus nunc, quis elementum lorem. Pellentesque vehicula egestas eros nec commodo. Phasellus adipiscing pretium sem, id congue erat fermentum at. Fusce dapibus felis non ante gravida convallis. Nullam vulputate convallis lectus in ultrices.</p>
      <hr/>
    </header>
    <div class="hotels__controls">
      <div class="order-switch">
        <select name="sorting" ng-model="currentOrder" chosen ng-options="option.name for option in sortingOptions" data-placeholder="Sorting" ng-change="onSortingChange()">
        </select>
      </div>
    </div>
    <div class="hotels__list">
      <section ng-show="hotels.length === 0">_no_hotels_found_</section>
      <ul class="entries entries--{{view}}">
        <li class="item" ng-repeat="hotel in hotels | filter : hotelFilter | orderBy : currentOrder.prop: currentOrder.value" ng-class="{'grid': view == 'list'}" ng-click="navigateToHotel(hotel.code)">
          <img ng-src="{{hotel.images[0].URI}}" alt="Mobius hotel {{hotel.name}} photo"/>
          <div>
            <h3 class="title"><strong>{{hotel.nameShort}}</strong></h3>
            <span class="price" ng-if="hotel.available">
              from <span class="value">{{hotel.priceFrom | i18nCurrency: $root.currencyCode}}</span> <small>per night</small>
            </span>
            <span class="price unavailable" ng-if="!hotel.available">
              Not Available
            </span>
            <p ng-if="view = 'list'">{{hotel.description}}</p>
            <span class="rating">
              <i class="star" ng-repeat="i in [1,2,3,4,5]" ng-class="{'icon-star': i <= hotel.rating, 'icon-star-empty': i > hotel.rating}"></i>
            </span>
          </div>
        </li>
      </ul>
    </div>
  </section>
</div>

<aside grid-container="3">
    <div>
      <h3>View</h3>
      <div class="view-switch">
        <i class="icon icon-th-list" ng-class="{'is-active': view == 'list'}" title="Show as list" ng-click="view = 'list'"/>
        <i class="icon icon-th-thumb" ng-class="{'is-active': view == 'tiles'}" title="Show as tiles" ng-click="view = 'tiles'"/>
      </div>
    </div>
    <hr>
    <search>
      <h3>Filter</h3>
      <h4>Price per night</h4>
      <!--<div range-slider min="{{minPrice}}" max="{{maxPrice}}" model-min="minSelectedPrice" model-max="maxSelectedPrice"></div>-->
      <div range-slider min="minPrice" max="maxPrice" model-min="minSelectedPrice" model-max="maxSelectedPrice"></div>
      <hr>
      <h4>Star Rating</h4>
      <ul>
        <li ng-repeat="stars in [1,2,3,4,5]" ng-click="setMinStars(stars)" ng-class="{included: stars <= minStars}">{{stars}}</li>
      </ul>
      to
      <ul>
        <li ng-repeat="stars in [1,2,3,4,5]" ng-click="setMaxStars(stars)" ng-class="{included: stars <= maxStars}">{{stars}}</li>
      </ul>
      <hr>
      <h4>TripAdvisor rating</h4>
      <hr>
      <h4>Amenities</h4>
      <hr>
      <h4>Location</h4>
      <hr>

    </search>
</aside>
</div>
