<!-- New layout - Delete old layout below when this is complete -->
<section class="hotel-detail__rooms-compare" ng-if="rooms.length" grid-row>
  <hr />
  <div grid="12" id="jsRooms">
    <header class="section-header">

      <div class="products-not-available" ng-if="availableRooms && availableRooms.length === 0">
        <h3>_rooms_not_available_on_dates_title_</h3>
        <!-- USER SPECIFIES DATES -->
        <button-submit ng-click="selectDates()">_select_new_dates_</button-submit>
      </div>

      <h2 ng-bind-html="'_rooms_title_' | mainHeaderStyle"></h2>
      <!-- search details -->
      <div class="search-details" ng-if="roomsConfig.showRoomCount">
        <ng-pluralize class="room-counter" count="(rooms|filter:roomsDisplayFilter).length" when="{'1': '1 _room_found_', 'other': '{} _rooms_found_'}"></ng-pluralize>
      </div>

      <div class="filter-bar">
        <div class="order-switch-container" ng-show="hasDates() && availableRooms && availableRooms.length">
          <span class="filter-label">_filter_sortby_label_:</span>
          <order-switch>
            <select
              name="sorting"
              ng-model="currentOrder"
              disable-search="true"
              chosen
              ng-options="option.name for option in sortingOptions"
              placeholder-text-single="_sorting_filter_placeholder_"
              ng-change="orderSwitchChange(currentOrder)"
              ng-init="initSortingOptions({
                'priceLowToHigh': '_price_low_to_high_',
                'priceHighToLow': '_price_high_to_low_',
                'recommended': '_recommended_'
              })">
            </select>
          </order-switch>
        </div>
        <div class="view-switch">
          <span class="filter-label">_filter_view_label_:</span>
          <ul>
            <li class="list-view" ng-class="{'is-active': roomsViewMode !== 'compare'}" ng-click="setRoomsViewMode('list')">
              <i class="fa fa-th-list fa-2x"  title="Show as list" /> _filter_detail_label_
            </li>
            <li class="compare-view" ng-class="{'is-active': roomsViewMode === 'compare'}" ng-click="setRoomsViewMode('compare')">
              <i class="fa fa-th-large fa-2x" title="Show as compare" /> _filter_compare_label_
            </li>
          </ul>
        </div>
        <div class="pricing-switch-container">
          <span class="filter-label">_filter_pricing_label_:</span>
          <pricing-switch>
            <a href ng-class="{'is-active': pricePer === PP_NIGHT}" ng-click="setPricePer(PP_NIGHT)">_per_night_</a>
            |
            <a href
               ng-class="{'is-active': pricePer === PP_STAY, 'is-disabled': !days}"
               ng-click="days && setPricePer(PP_STAY)"
               title="{{ days ? '': 'Please select dates to enable per stay pricing'}}">
              _per_stay_
            </a>
          </pricing-switch>
        </div>
        <div class="reset-container" ng-if="showCompareRoomsReset && roomsViewMode === 'compare'">
          <a href ng-click="resetCompareRooms()">_show_all_rooms_</a>
        </div>
      </div>

    </header>

    <ta-teaser ng-show="!ratesLoaded && isFromSearch && roomsConfig.includeTripAdvisorPreloader"></ta-teaser>

    <div class="hotel-detail__rooms" ng-if="roomsViewMode !== 'compare'">
      <list-items class="rooms-list" ng-if="ratesLoaded || !isFromSearch">
        <list-item ng-repeat="room in rooms | orderBy : currentOrder.sort | filter: roomsDisplayFilter | limitTo: numberOfRoomsDisplayed" data-hover-trigger="displayRoomRates(room)" data-trigger-delay="hoverTriggerDelay">
          <header class="item-header desktop">
            <h3>
              <a ng-href="{{getRoomUrl(details.meta.slug, room.meta.slug)}}" ng-bind-html="room.name | mainHeaderStyle" ng-class="{'hide-info-icon' : roomsConfig.hideShowInfoIcon}"></a>
              <span class="sub-title" ng-if="roomsConfig.displayRoomSubtitle && room.subTitle">{{room.subTitle}}</span>
            </h3>
          </header>

          <div class="list-item-container">
            <!-- Room info -->
            <div class="list-item-info">

              <hero-slider data-has-notification-bar="false" data-auto-play="false" on-room-click="openRoomGallery" data-room="{{room}}" data-counter-type="none" content="room.images" ng-if="roomsConfig.includeSlider && room.images && room.images.length > 0" data-has-thumbnails="{{roomsConfig.sliderHasThumbnails}}" slide-width="400" slide-height="400"></hero-slider>

              <div class="room-image-placeholder" ng-if="room.images.length == 0"></div>

              <img class="room-image desktop" ng-click="goToRoom(details.meta.slug, room.meta.slug)" ng-src="{{room.images[0].uri | cloudinaryImage : roomsConfig.roomDetailThumbnailSize.width : roomsConfig.roomDetailThumbnailSize.height : 'fill'}}" alt="{{room.name}}" ng-if="!roomsConfig.includeSlider">
              <img class="room-image mobile" ng-click="goToRoom(details.meta.slug, room.meta.slug)" ng-src="{{room.images[0].uri | cloudinaryImage : 768 : 384 : 'fill'}}" alt="{{room.name}}" ng-if="!roomsConfig.includeSlider">

              <a class="room-see-more" ng-href="{{getRoomUrl(details.meta.slug, room.meta.slug)}}" ng-if="roomsConfig.hideShowInfoIcon">_see_more_information_</a>

              <header class="item-header mobile">
                <h3>
                  <a ng-href="{{getRoomUrl(details.meta.slug, room.meta.slug)}}" ng-bind-html="room.name | mainHeaderStyle"></a>
                  <span class="sub-title" ng-if="roomsConfig.displayRoomSubtitle && room.subTitle">{{room.subTitle}}</span>
                </h3>
              </header>

              <div class="pricing-info">
                <div ng-if="!availableRooms || availableRooms.indexOf(room.code) > -1 && room.priceFrom">
                  <p class="price-form" ng-if="room.priceFrom" itemprop="priceRange">
                    _price_from_ <span class="value">{{getValuePer(room.priceFrom) | i18nCurrency: $root.currencyCode}}</span>
                  </p>
                </div>


                <div class="not-available" ng-if="availableRooms.indexOf(room.code) === -1 && hasDates() && ratesLoaded">
                  <p>_not_available_on_dates_title_</p>
                </div>

                <div class="not-available" ng-if="!hasDates()">
                  <button-submit ng-click="selectDates()">_select_dates_</button-submit>
                </div>

                <button class="button" ng-click="displayRoomRates(room, 'rates'+$index)" ng-if="!room._displayRates && availableRooms.indexOf(room.code) > -1 && room.priceFrom">_view_rates_</button>

                <!--<button class="button" ng-click="displayRoomRates(room)" ng-if="!room._displayRates">_view_rates_</button>-->
              </div>

              <ul class="amenities" ng-if="roomsConfig.displayAmenities && details">
                <li class="amenity" ng-repeat="amenity in room.amenities | limitTo:numberOfAmenities" ng-init="amenity.chainCode = details.chainCode">
                  <slug-img slug="amenity" type="room" width="15"></slug-img>
                  <span class="amenity-caption">{{amenity.name}}</span>
                </li>
              </ul>
              <!--<a href ng-click="goToRoom(details.meta.slug, room.meta.slug)">Read More About this Room</a>-->
            </div>

            <room-details ng-if="roomsConfig.displayRoomDetails" ng-class="{'rates-displayed': room._displayRates}">

              <div class="description" ng-bind-html="sanitize(roomsConfig.showRoomHighlight ? (room.roomHighlight && room.roomHighlight !== '' ? room.roomHighlight : room.description) : room.description)"></div>

              <div class="pricing-info">
                <div ng-if="!availableRooms || availableRooms.indexOf(room.code) > -1 && room.priceFrom">
                  <p class="price-form" ng-if="room.priceFrom" itemprop="priceRange">
                    _price_from_ <span class="value">{{getValuePer(room.priceFrom) | i18nCurrency: $root.currencyCode}}</span>
                  </p>
                </div>


                <div class="not-available" ng-if="availableRooms.indexOf(room.code) === -1 && hasDates() && ratesLoaded">
                  <p>_not_available_on_dates_title_</p>
                </div>

                <div class="not-available" ng-if="!hasDates()">
                  <button-submit ng-click="selectDates()">_select_dates_</button-submit>
                </div>

                <button class="button" ng-click="displayRoomRates(room, 'rates'+$index)" ng-if="!room._displayRates && availableRooms.indexOf(room.code) > -1 && room.priceFrom">_view_rates_</button>

                <!--<button class="button" ng-click="displayRoomRates(room)" ng-if="!room._displayRates">_view_rates_</button>-->
              </div>

              <p class="our-rates">_our_rates_</p>
            </room-details>
            <room-products ng-if="details && room._displayRates" ng-class="{'has-ota-products':roomsConfig.rates.displayOtaRates && otaProducts && otaProducts.length > 0}" id="{{'rates'+$index}}"></room-products>
          </div>
          <!-- //list-item-container -->
        </list-item>

        <a href class="display-all-rooms" ng-if="numberOfRoomsDisplayed && numberOfRoomsDisplayed < (rooms|filter:roomsDisplayFilter).length" ng-click="displayAllRooms()">_view_all_rooms_</a>

        <a href class="display-more-rooms" ng-if="numberOfRoomsDisplayed && numberOfRoomsDisplayed < (rooms|filter:roomsDisplayFilter).length" ng-click="displayMoreRooms()">_view_more_rooms_</a>


      </list-items>
      <h2 ng-if="!rooms.length">_no_room_found_</h2>
    </div>

    <div class="room-list-compare-container" ng-if="roomsViewMode === 'compare'">
      <list-items class="rooms-list" ng-if="ratesLoaded || !isFromSearch" vertilize-container>
        <list-item ng-repeat="room in compareRooms | filter:{userHidden:false} | filter: roomsDisplayFilter | orderBy : currentOrder.sort | limitTo:(comparisonIndex - ((compareRooms|filter:{userHidden:false}|filter: roomsDisplayFilter).length)) | limitTo:compareRoomLimit">
          <div class="list-item-container">
            <!-- Room info -->
            <div class="list-item-info">
              <hero-slider data-has-notification-bar="false" data-auto-play="false" on-room-click="openRoomGallery" data-room="{{room}}" data-counter-type="none" content="room.images" ng-if="roomsConfig.includeSlider && room.images && room.images.length > 0" data-has-thumbnails="{{roomsConfig.sliderHasThumbnails}}" thumb-width="68" thumb-height="46" slide-width="262" slide-height="150"></hero-slider>

              <div class="room-image-placeholder" ng-if="room.images.length == 0"></div>

              <img class="room-image desktop" ng-click="goToRoom(details.meta.slug, room.meta.slug)" ng-src="{{room.images[0].uri | cloudinaryImage : roomsConfig.roomDetailThumbnailSize.width : roomsConfig.roomDetailThumbnailSize.height : 'fill'}}" alt="{{room.name}}" ng-if="!roomsConfig.includeSlider">
              <img class="room-image mobile" ng-click="goToRoom(details.meta.slug, room.meta.slug)" ng-src="{{room.images[0].uri | cloudinaryImage : 768 : 384 : 'fill'}}" alt="{{room.name}}" ng-if="!roomsConfig.includeSlider">
              <div class="room-content" vertilize>
                <header class="item-header">
                  <h3>
                    <a ng-href="{{getRoomUrl(details.meta.slug, room.meta.slug)}}" ng-bind-html="room.name | mainHeaderStyle"></a>
                    <span class="sub-title" ng-if="roomsConfig.displayRoomSubtitle && room.subTitle">{{room.subTitle}}</span>
                  </h3>
                </header>

                <div class="description" ng-bind-html="sanitize(roomsConfig.showRoomHighlight ? (room.roomHighlight && room.roomHighlight !== '' ? room.roomHighlight : room.description) : room.description)"></div>
              </div>

              <a ng-href="{{getRoomUrl(details.meta.slug, room.meta.slug)}}" class="read-more">_read_more_</a>

              <ul class="amenities" ng-if="roomsConfig.displayAmenities && details && room.amenities.length > 0">
                <li class="amenity" ng-repeat="amenity in room.amenities | limitTo:numberOfAmenities" ng-init="amenity.chainCode = details.chainCode">
                  <slug-img slug="amenity" type="room" width="19"></slug-img>
                  <span class="amenity-caption">{{amenity.name}}</span>
                </li>
              </ul>
              <!--<a href ng-click="goToRoom(details.meta.slug, room.meta.slug)">Read More About this Room</a>-->
            </div>

            <div class="pricing-info">
              <div ng-if="!availableRooms || availableRooms.indexOf(room.code) > -1 && room.priceFrom">
                <p class="price-form" ng-if="room.priceFrom" itemprop="priceRange">
                  <a class="button" ng-href="{{getRoomUrl(details.meta.slug, room.meta.slug)}}" ng-if="!availableRooms || availableRooms.indexOf(room.code) > -1 && room.priceFrom">_price_from_ {{getValuePer(room.priceFrom) | i18nCurrency: $root.currencyCode}}</a>
                </p>
              </div>
              <div class="not-available" ng-if="availableRooms.indexOf(room.code) === -1 && hasDates() && ratesLoaded">
                <p>_not_available_on_dates_title_</p>
              </div>
              <div class="not-available" ng-if="!hasDates()">
                <button-submit ng-click="selectDates()">_select_dates_</button-submit>
              </div>
            </div>
            <room-products ng-if="details && room._displayRates" ng-class="{'has-ota-products':roomsConfig.rates.displayOtaRates && otaProducts && otaProducts.length > 0}" id="{{'rates'+$index}}"></room-products>
            <button class="room-hide-btn" ng-click="hideRoom(room)">Hide</button>
          </div>
          <!-- //list-item-container -->
        </list-item>
      </list-items>
      <button class="compare-direction-btn" ng-click="comparisonIndex = comparisonIndex - 1" ng-disabled="!(comparisonIndex > 0)">Prev</button>
      <button class="compare-direction-btn" ng-click="comparisonIndex = comparisonIndex + 1" ng-disabled="!(comparisonIndex < ((compareRooms|filter:{userHidden:false}|filter: roomsDisplayFilter).length - compareRoomLimit))">Next</button>
      <div ng-if="!(compareRooms|filter:{userHidden:false}|filter: roomsDisplayFilter).length">
        <h2>_no_room_found_</h2>
        <a href ng-click="resetCompareRooms()">_show_all_rooms_</a>
      </div>
    </div>
  </div>
</section>
