///////////////////////
//// LOGIN DIALOG  ////
///////////////////////

//TODO: clean up

.login-dialog {

  color: #fff;

  .back-btn,
  .close-btn{
    color: #fff;
  }

  header{
    background: @c-primary;
  }

  .options{
    li{
      a{
        color: #fff;
      }
    }
  }

  .form-wrapper{
    form {
      background: @c-primary;
    }
  }

}
