///////////////////////
//// TARGET CONFIG ////
///////////////////////

// Override defaults vars with target specific

//// COLORS ////
////////////////
@c-primary:      #585858;
@c-secondary:    #9f936b;
@c-grey:         #585858;
@c-gray:         @c-grey;
@c-dark-grey:     #333;
@c-mid-grey:     #747373;
@c-light-grey:   #d9d9d9;
@c-white: #fff;

@c-form-border-grey:   #979797;
@c-gray-reservation: @c-form-border-grey;
@c-border-grey:   #d9d9d9;

@c-link: @c-secondary;
@c-text:         @c-grey;

///// Components /////
//////////////////////
@c-booking-widget: #a99a6f;
@c-booking-widget-active: #8b7f5c;

@c-datepicker: @c-secondary;
