<div class="About__hero fullscreen">
  <article class="HeroBenefits">
    <div class="HeroBenefits__subtitle">
      <h1>_about_benefits_subtitle_ <a ui-sref="staticOffer" ng-click="retentionClick()">Find out more.</a></h1>
    </div>
    <div class="HeroBenefits__benefits">
      <hero-slider
        content="heroContent">
      </hero-slider>
    </div>
    <div class="HeroBenefits__signup">
      <div class="signup-title">
        <h1><span class="emphasis">_find_your_room_</span></h1>
      </div>
      <booking-bar
        class="Home__booking-bar"
        stickable="main-header"
        size="small">
      </booking-bar>
    </div>

  </article>

  <!--Desktop search bar-->
  <!-- <booking-bar class="Home__booking-bar drop-up" size="full-width-bottom"></booking-bar> -->
  <!--Mobile search button-->
  <button class="HotelDetails__search position-bottom" ng-click="openBookingBar()">
    _find_your_room_
  </button>
</div>
