<h1>{{property.nameLong}}</h1>

<div>
  <p>Your reference:</p>

  <p>{{reservation.reservationCode}}</p>
</div>

<div>
  Booked: {{reservation.bookDate | dateTime: 'D MMM YYYY'}}
</div>

<div>
  <p>Add to Passbook</p>
  <p>Print</p>
</div>

<img ng-src="{{roomDetails.images[0].URI}}" alt="{{roomDetails.name}}">
<h4>{{roomDetails.name}}</h4>
<p class="desc">{{selectedProduct.name}}</p>

<div class="reservation-data">
  <table class="data">
    <tbody>
      <tr>
        <th>Check in:</th>
        <td>{{bookingDetails.from | dateTime}}</td>
        <th>Adults:</th>
        <td>{{bookingDetails.adults || 0}}</td>
      </tr>
      <tr>
        <th>Check out:</th>
        <td>{{bookingDetails.to | dateTime}}</td>
        <th>Children:</th>
        <td>{{bookingDetails.children || 0}}</td>
      </tr>
    </tbody>
  </table>

  <table class="charges">
    <tbody>
      <tr ng-switch="billingDetails.paymentMethod">
        <th>Room Charges:</th>
        <td>{{selectedProduct.price.totalBase | i18nCurrency: currencyCode}}</td>
        <th rowspan="4">Total:</th>
        <td ng-switch-when="cc"><a href ng-click="openPriceBreakdownInfo(selectedProduct)">{{selectedProduct.price.totalAfterTax | i18nCurrency: $root.currencyCode}}</a></td>
        <td ng-switch-when="point"><a href ng-click="openPriceBreakdownInfo(selectedProduct)">{{selectedProduct.price.pointsRequired}} points</a></td>
      </tr>

      <!-- Additional taxes -->
      <tr ng-if="selectedProduct.price.totalAdditionalTaxes">
        <th>Taxes:</th>
        <td>{{selectedProduct.price.totalAdditionalTaxes | i18nCurrency: $root.currencyCode}}</td>
      </tr>

      <!-- Additional fees -->
      <tr ng-if="selectedProduct.price.totalAdditionalFees">
        <th>Fees:</th>
        <td>{{selectedProduct.price.totalAdditionalFees | i18nCurrency: $root.currencyCode}}</td>
      </tr>

      <!-- Discount -->
      <tr ng-if="selectedProduct.price.totalDiscount">
        <th>Discount:</th>
        <td>{{selectedProduct.price.totalDiscount | i18nCurrency: $root.currencyCode}}</td>
      </tr>

    </tbody>
  </table>

  <p><a href ng-click="readPolicies()">View Policies</a></p>
</div>

<hr />

<h3>Enhance Your Stay With</h3>

<ul>
  <li ng-repeat="addon in addons" ng-if="reservation.packages.indexOf(addon.code) === -1">
    <a href ng-click="openAddonDetailDialog(addon)">
      <img src="addon.images[0].uri" err-source="http://lorempixel.com/390/110/" />
    </a>
    <h4>{{addon.name}}</h4>
    <div ng-if="addon._expanded">
      <p>{{addon.description}}</p>
      <a href ng-click="addon._expanded = false">[-]</a>
    </div>
    <div ng-if="!addon._expanded">
      <p>{{addon.descriptionShort}}</p>
      <a href ng-click="addon._expanded = true">[+]</a>
    </div>
    <p>Add to your booking with one click:</p>
    <a class="button" href ng-click="openAddonDetailDialog(addon)">{{addon.price | i18nCurrency: currencyCode}}</a>
    <a class="button" href ng-click="openAddonDetailDialog(addon)" ng-if="addon.pointsRequired">{{addon.pointsRequired}}</a>
  </li>
</ul>

<hr />

<hotel-location hotel-details="property"></hotel-location>

<hr />

<h3>Your Enhancements</h3>

<ul ng-if="reservation.packages.length">
  <li ng-repeat="addonCode in reservation.packages">
    <img src="addons[addonCode].images[0].uri" err-source="http://lorempixel.com/390/110/" />
    <h4>{{addons[addonCode].name}}</h4>
    <div ng-if="addons[addonCode]._expanded">
      <p>{{addons[addonCode].description}}</p>
      <a href ng-click="addons[addonCode]._expanded = false">View Less</a>
    </div>
    <div ng-if="!addons[addonCode]._expanded">
      <p>{{addons[addonCode].descriptionShort}}</p>
      <a ng-if="addon.hasViewMore" href ng-click="addons[addonCode]._expanded = true">View More</a>
    </div>
    <p>{{addon.price | i18nCurrency: currencyCode}}</p>
  </li>
  <li>
    <p>Total: {{getPackagesPrice() | i18nCurrency: currencyCode}}</p>
  </li>
</ul>
<p ng-if="!reservation.packages.length">No enhancements chosen</p>
