<reservation-billing  ng-switch="billingDetails.paymentMethod">
  <ul class="cards" ng-click="selectPaymentMethod('cc')">
    <li ng-repeat="cardIcon in creditCardsIcons">
      <i ng-class="{selected: getCreditCardDetails(billingDetails.card.number).icon === cardIcon}" class="{{cardIcon}}"></i>
    </li>
  </ul>
  <a ng-click="selectPaymentMethod('point')" href>points</a>
  <div ng-switch-when="point">
    Current points: {{pointsData.currentPoints}}<br>
    Points required for booking: {{selectedProduct.price.pointsRequired}}<br>
    Points earned for booking:  {{pointsData.pointsEarned}}<br>
    Your balance after this booking: {{pointsData.pointsAfterBooking}} <br>
  </div>
  <div ng-switch-default>
    <h3>Card Details</h3>
    <form name="forms.billing" novalidate ng-submit="forms.billing.$valid && continue()">

      <label for="form-card-number" class="card-type">
        <input type="text" id="form-card-number" credit-card-check required
          ng-model="billingDetails.card.number" />
        <span>Card number</span>
      </label>

      <div class="input-left">
        <label for="form-expires" class="input-left">
          <input type="text" id="form-expires" month-picker required
            ng-min="expirationMinDate"
            ng-model="billingDetails.card.expirationDate" />
          <span>Expires</span>
        </label>

        <label for="form-cvv" class="input-right">
          <input type="number" id="form-cvv" required
            ng-min="100"
            ng-max="999"
            ng-model="billingDetails.card.securityCode" />
          <span>CVV <span class="help" ng-click="openCCVInfo()"/></span>
        </label>
      </div>

      <label for="form-name-on-card" class="input-right">
        <input type="text" id="form-name-on-card" required
          ng-model="billingDetails.card.holderName" />
        <span>Name on Card</span>
      </label>

      <label for="form-guest-address" class="is-oneline">
        <input type="checkbox" id="form-guest-address"
          ng-model="billingDetails.useGuestAddress" />
        <span>Use Guest Address</span>
      </label>

      <div ng-if="!billingDetails.useGuestAddress">
        <label for="address">
          <span>Address</span>
          <input type="text" id="address" required
            ng-model="billingDetails.address" />
        </label>

        <label for="city" class="input-left">
          <input type="text" id="city" required
            ng-model="billingDetails.city" />
          <span>City</span>
        </label>

        <label for="state" class="input-right">
          <input type="text" id="state" placeholder="State/Province" required
            ng-model="billingDetails.stateProvince" />
          <span>State/Province</span>
        </label>

        <label for="country">
          <input type="text" id="country" required
            ng-model="billingDetails.country" />
          <span>Country</span>
        </label>

        <label for="postal-code" class="input-left">
          <input type="text" id="postal-code" required
            ng-model="billingDetails.zip" />
          <span>Zip/Postal Code</span>
        </label>

        <label for="telephone" class="input-right">
          <input type="text" id="telephone" required
            ng-model="billingDetails.phone" />
          <span>Primary Telephone</span>
        </label>
      </div>

      <label class="form-errors centered" ng-if="forms.billing.$invalid">
        Please fill out all the fields indicated
      </label>

    </form>
  </div>
</reservation-billing>
