<h3>Fill out <strong>your billing information</strong></h3>
<reservation-billing>
  <div ng-switch="billingDetails.paymentMethod">
    <ul class="payment-methods">
      <li ng-repeat="cardIcon in creditCardsIcons" ng-click="selectPaymentMethod('cc')">
        <i class="{{cardIcon}}" ng-class="{selected: getCreditCardDetails(billingDetails.card.number).icon === cardIcon}"></i>
      </li>
      <li class="divider"></li>
      <li ng-click="selectPaymentMethod('point')">
        <i class="points" ng-class="{selected: billingDetails.paymentMethod == 'point'}"></i>
      </li>
    </ul>
    <section class="payment-points" ng-switch-when="point">
      <!-- Points details only for logged in user -->
      <table ng-if="user.isLoggedIn()">
        <tr>
          <th>Current points:</th>
          <td>{{pointsData.currentPoints}}</td>
        </tr>
        <tr>
          <th>Points required for booking:</th>
          <td>-{{selectedProduct.price.pointsRequired}}</td>
        </tr>
        <tr>
          <th>Points earned for booking:</th>
          <td class="earned">+{{pointsData.pointsEarned}}</td>
        </tr>
        <tr class="balance">
          <th>Your balance after this booking:</th>
          <td ng-class="{'not-enough': pointsData.pointsAfterBooking < 0}">{{pointsData.pointsAfterBooking}}</td>
        </tr>
      </table>

      <div ng-if="!user.isLoggedIn()">
        <registration-call>
          <h4>This feature only available to registered users.</h4>
          <p>Click here to <a href ng-click="sso.login()">log in or register</a>.</p>
        </registration-call>
      </div>

      <div class="error" ng-show="pointsData.pointsAfterBooking < 0">Sorry, you don't have enough points to perform this purchase.</div>

    </section>
    <section class="payment-card" ng-switch-default>
      <form name="forms.billing" novalidate ng-submit="forms.billing.$valid && continue()" ng-click="selectPaymentMethod('cc')" ng-class="{'ng-submitted': forms.billing.$submitted}">

        <label for="form-card-number">
          <input type="text" id="form-card-number" credit-card-check required
            placeholder="xxxx-xxxx-xxxx-xxxx"
            ng-model="billingDetails.card.number"
            name="creditcard"/>
          <span>
            <span ng-hide="forms.billing.$submitted && forms.billing.creditcard.$error.creditCardCheck">Card number</span>
            <span ng-show="forms.billing.$submitted && forms.billing.creditcard.$error.creditCardCheck">Please enter a valid card number</span>
          </span>
        </label>

        <label for="form-name-on-card">
          <input type="text" id="form-name-on-card" required
            placeholder="John Doe"
            ng-model="billingDetails.card.holderName" />
          <span>Name on Card</span>
        </label>

        <div class="card-details" ng-class="{invalid: forms.billing.$submitted && !getCardExpirationDate()}">
          <div class="expiry-title">
            <label>EXPIRY DATE </label>
          </div>

          <div class="card-expiry">
            <!-- EXP MONTH -->
            <label for="form-expires-month" class="input-left">
              <select id="form-expires-month" name="form-expires-month"
                required ng-model="cardExpiration.selectedMonth"
                disable-search="true"
                chosen ng-options="month.name for month in cardExpiration.months"
                data-placeholder="Month">
                <option></option>
              </select>
            </label>

            <!-- EXP YEAR -->
            <label for="form-expires-year" class="input-left">
              <select id="form-expires-year" name="form-expires-year"
                required ng-model="cardExpiration.selectedYear"
                disable-search="true" ng-change="onExpirationYearChange()"
                chosen ng-options="year for year in cardExpiration.years"
                data-placeholder="Year">
                <option></option>
              </select>
            </label>
          </div>

          <div class="card-cvv">
            <label for="form-cvv">
              <input type="text" id="form-cvv" required
                placeholder="CVV"
                ng-min="100"
                ng-max="999"
                ng-model="billingDetails.card.securityCode"
                ng-pattern="/^[0-9]{3,4}$/"
                name="cvv"/>
              <span>CVV</span>
            </label>
            <span class="help" ng-click="openCCVInfo()">?</span>
          </div>
        </div>

        <label for="form-guest-address" class="input-checkbox">
          <input type="checkbox" id="form-guest-address"
            ng-model="billingDetails.useGuestAddress" />
          Use Guest Address
        </label>

        <div ng-if="!billingDetails.useGuestAddress">
          <label for="address">
            <input type="text" id="address" required
              placeholder="Address"
              ng-model="billingDetails.address" />
            <span>Address</span>
          </label>

          <label for="city" class="input-left">
            <input type="text" id="city" required
              placeholder="City"
              ng-model="billingDetails.city" />
            <span>City</span>
          </label>

          <label for="state" class="input-right">
            <input type="text" id="state" required
              placeholder="State / Province"
              ng-model="billingDetails.stateProvince" />
            <span>State / Province</span>
          </label>

          <label for="country">
            <select type="text" id="country" required
              placeholder="Country"
              data-placeholder="Country"
              ng-model="billingDetails.country"
              iso-country-options
              chosen>
            </select>
            <span>Country</span>
          </label>

          <label for="postal-code" class="input-left">
            <input type="text" id="postal-code" required
              placeholder="Zip / Postal Code"
              ng-model="billingDetails.zip" />
            <span>Zip / Postal Code</span>
          </label>

          <label for="telephone" class="input-right">
            <input type="text" international-phone-number id="telephone" required
              placeholder="Telephone"
              ng-model="billingDetails.phone"
              placeholder="Phone"/>
            <span>Telephone</span>
          </label>
        </div>

        <label class="form-errors" ng-if="forms.billing.$invalid  && forms.billing.$submitted">
          <div>Please fill out all the fields indicated</div>
          <div ng-if="!forms.billing.creditcard.$valid">Sorry, your card number is not valid, please check it</div>
          <div ng-if="forms.billing.$submitted && !getCardExpirationDate()">Sorry, your card expiry date is not valid, please check it</div>
          <div ng-if="!forms.billing.cvv.$valid || forms.billing.cvv.$error.pattern">Sorry, your cvv number is not valid, please check it</div>
        </label>

        <input type="submit" id="submit" value="Submit" ng-hide="true" />
      </form>
    </section>
  </div>
</reservation-billing>
