<reservation-billing>
  <h3>Card Details</h3>
  <form name="billingForm" novalidate ng-submit="makeReservation()">
    <label for="form-card-number" class="card-type" ng-class="{'has-icon': getCreditCardDetails(billingDetails.card.number).icon}">
      Card number
      <input type="text" id="form-card-number" name="cardNumber" luhn-check ng-model="billingDetails.card.number" required/>
      <i ng-class="getCreditCardDetails(billingDetails.card.number).icon"></i>
    </label>

    <div class="input-left">
      <label for="form-expires" class="input-left">
        Expires
        <input type="month" id="form-expires" ng-min="expirationMinDate" ng-model="billingDetails.card.expirationDate" required/>
      </label>

      <label for="form-cvv" class="input-right">
        CVV <span class="help" ng-click="openCCVInfo()"/>
        <input type="number" id="form-cvv" ng-min="100" ng-max="999" ng-model="billingDetails.card.securityCode" required/>
      </label>
    </div>

    <label for="form-name-on-card" class="input-right">
      Name on Card
      <input type="text" id="form-name-on-card" ng-model="billingDetails.card.holderName" required/>
    </label>

    <label for="form-guest-address" class="is-oneline">
      <input type="checkbox" id="form-guest-address" ng-model="billingDetails.useGuestAddress"/>
      Use Guest Address
    </label>

    <div ng-if="!billingDetails.useGuestAddress">
      <label for="address">
        Address
        <input type="text" name="address" ng-model="billingDetails.address" required/>
      </label>

      <label for="city" class="input-left">
        City
        <input type="text" name="city" ng-model="billingDetails.city" required/>
      </label>

      <label for="state" class="input-right">
        State/Province
        <input type="text" name="state" placeholder="State/Province" ng-model="billingDetails.stateProvince" required/>
      </label>

      <label for="country">
        Country
        <input type="text" name="country" ng-model="billingDetails.country" required/>
      </label>

      <label for="postal-code" class="input-left">
        Zip/Postal Code
        <input type="text" name="postal-code" ng-model="billingDetails.zip" required/>
      </label>

      <label for="telephone" class="input-right">
        Primary Telephone
        <input type="text" name="telephone" ng-model="billingDetails.phone" required/>
      </label>
    </div>

    <label class="form-errors centered" ng-if="billingForm.$invalid">
      Please fill out all the fields indicated
    </label>

    <hr/>

    <reservation-buttons>
      <a href ng-click="goBack()" class="button button-gray back">_back_</a>
      <button type="submit" ng-disabled="billingForm.$invalid" class="button next">_continue_</a>
    </reservation-buttons>
  </form>
</reservation-billing>
