<reservation-details-form>
  <div ng-init="prefillUserData()">
    <h3>Fill out <strong>your details</strong></h3>

    <form name="forms.details" novalidate ng-submit="forms.details.$valid && continue()">
      <label for="first-name" class="input-left">
        <input type="text" id="first-name" required
          placeholder="First Name"
          ng-model="userDetails.firstName" />
        <span>First Name</span>
      </label>

      <label for="last-name" class="input-right">
        <input type="text" id="last-name" required
          placeholder="Last Name"
          ng-model="userDetails.lastName" />
        <span>Last name</span>
      </label>

      <label for="email" class="input-left">
        <input type="email" id="email" required
          placeholder="Email"
          ng-model="userDetails.email" />
        <span>Email</span>
      </label>

      <label for="telephone" class="input-right">
        <input type="text" id="telephone" required
          placeholder="Phone"
          ng-model="userDetails.phone" />
        <span>Phone</span>
      </label>

      <label for="address">
        <input type="text" id="address" required
          placeholder="Address"
          ng-model="userDetails.address" />
        <span>Address</span>
      </label>

      <label for="city" class="input-left">
        <input type="text" id="city" required
          placeholder="City"
          ng-model="userDetails.city" />
        <span>City</span>
      </label>

      <label for="country" class="input-right">
        <input type="text" id="country" required
         placeholder="Country"
         ng-model="userDetails.country" />
        <span>Country</span>
      </label>

      <label for="state" class="input-left wide">
        <input type="text" id="state" required
          placeholder="State / Region / Province"
          ng-model="userDetails.stateProvince" />
        <span>State / Province</span>
      </label>

      <label for="postal-code" class="input-right narrow ">
        <input type="text" id="postal-code" required
          placeholder="Zip Code"
          ng-model="userDetails.zip" />
        <span>Zip/Postal Code</span>
      </label>

      <label class="form-errors" ng-if="forms.details.$invalid">
        Please fill out all the fields indicated
      </label>

      <input type="submit" id="submit" value="Submit" ng-hide="true" />
    </form>
  </div>
</reservation-details-form>
