<div class="ui-info">
  <header>
    <h1>_rooms_modal_title_</h1>
    <button-close role="button" aria-label="Close" ng-click="cancel()"></button-close>
  </header>

  <main>
    <ul>
      <li ng-repeat="room in data.rooms track by $index">
        <img ng-src="{{room.images[0].uri | cloudinaryImage : 180 : 110: 'fill'}}" alt="{{room.name}}"/>
        <div class="details">
          <p class="desc" ng-bind-html="room._selectedProduct.name"></p>
          <p class="price"><strong>{{room._selectedProduct.price.totalBaseAfterPricingRules | i18nCurrency: defaultCurrencyCode}}</strong> <em>_per_stay_</em></p>

          <h3>{{room.name}}</h3>

          <span class="guests">
            <ng-pluralize count="room._adults" when="{'0': '{} _adults_', '1': '{} _adult_', 'other': '{} _adults_'}"></ng-pluralize>,
            <ng-pluralize count="room._children" when="{'0': '{} _no_children_', '1': '{} _child_', 'other': '{} _children_'}"></ng-pluralize> </span>
        </div>
      </li>
    </ul>
  </main>
</div>
