about-us {
  h1{
    font-size: 24px;
    font-weight: 700;
    color: @c-grey;
    text-transform: uppercase;
  }
  .description{
    p{
      font-size: 14px;
      font-weight: 300;
    }
  }
  view-more-images{
    a{
      color: @c-menu-active-sand;
    }
  }
  contact-item {
    color: @c-grey;
    p{
      &:before {
        color: @c-grey;
        padding-right: 10px;
      }
    }
    a{
      color: @c-grey;
    }
  }
}

about-detail{
  margin-bottom: 70px;
  h1{
    font-size: 24px;
    font-weight: 700;
    color: #606060;
    text-transform: uppercase;
  }
}