/////////////////////
// Local Variables //
/////////////////////

@c-gray-reservation:  #d7d7d7;
@c-form-text:         #fff;
@c-brown-light:       #d7c6ae;
@spacing:             20px;


////////////////////////////////////////////////////
// Global namespace for whole reservation process //
////////////////////////////////////////////////////
reservation-widget {

  margin-bottom: 70px;
  padding: 24px 47px 24px 34px;
  box-sizing: border-box;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  .backdrop-filter-blur(20px);
  box-shadow: none;
  border-radius: 0;

  a {
    cursor: pointer;
  }

  .viewport-mobile & {
    padding: 20px;
  }

  // Override chosen styling for select boxes
  .chosen-container-active.chosen-with-drop .chosen-single {
    box-shadow: none;
  }
  .chosen-container,
  input[type="tel"],
  input[type="text"],
  input[type="email"],
  select {
    border-radius: 0;
    border: none;
    background: #000;
    color: @c-white;
    height: 45px;
    line-height: 16px;
    font-size: 13px;
    text-transform: none;
    font-family: Lato;
    a, div {
      padding-top: 6px;
    }
    .chosen-drop {
      background: #000;
      border-radius: 0;
    }
    .chosen-results {
      border: none;
      border-radius: 0;
      li.highlighted {
        background-image: none;
        background: @lbe-c-primary;
      }
    }
  }

  &.reservation-assurance-active {
    margin-bottom:40px;
    .viewport-mobile & {
      margin-bottom:40px;
    }
  }
  form {
    margin-top:10px !important;
  }
  reservation-details-form{
    form{
      padding: 0;
      margin-top: 25px;
      box-sizing: border-box;
    }
  }

  .continue-btn {
    width: 246px;
    .viewport-mobile & {
      display: none;
    }
  }

  button.next {
    background: @lbe-c-primary;

    &:active,
    &:focus,
    &:hover {
      background: darken(@lbe-c-primary, 10%);
    }

    // Remove arrow side part
    &:after {
      content: none;
    }

    span {
      padding-left: 40px;
    }

    .viewport-mobile & {
      width: 100%;
    }

    width: 245px;
    border-radius: 0;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: 300;
    font-size: 16px;
    line-height: 40px;
    height: 40px;
    text-shadow: none;
    box-shadow: none;
    text-transform: uppercase;
  }

  h3 {
    margin-top: 30px;
    font-size: 24px;
    color: #fff;
    line-height: 29px;
    font-weight: 300;
    font-family: @lbe-ff-secondary;
    text-transform: uppercase;
    .viewport-mobile & {
      margin-top:20px;
    }
    strong {
      font-weight: normal;
    }
  }

  label {
    color: @c-form-border-grey;
    a{
      color: @c-form-border-grey;
      text-decoration: underline;
      &:hover{
        text-decoration: none;
      }
    }
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select,
  .chosen-container,
  .chosen-container .chosen-single,
  textarea {
    height: 45px;
    line-height: 45px;
    padding: 0 15px;
    border-radius: 0;
    border: none;
    background: #000;
    color: @c-form-text;
    font-size: @size-0;
    font-weight: normal;
    transition: border-color 0.15s linear;

    &:focus {
      box-shadow: inset 0 1px 3px fade(@c-form-text, 20%);
    }
  }

  .chosen-container {
    padding: 0 7px 0 15px;

    .chosen-drop {
      border: 1px solid @c-gray-reservation;
    }

    .chosen-results {
      padding: 2px 0;
    }

    .chosen-single, .chosen-single span {
      padding: 0;
    }

  }

  textarea {
    min-height: 3 * 45px;
  }

  .input-checkbox {
    font-weight: normal;
  }

  .detail-links,
  .detail-links a {
    font-size: 12px;
    .chain-sand &{
      color: @c-menu-active-sand;
    }
    .chain-sign &{
      color: @c-menu-active-sign;
    }
  }

  aside {
    section + section {
      margin: 0;
    }
    &:before {
      .grid-width(7);
      position: absolute;
      content: '';
      display: block;
      width: 0;
      left: @width;
      top: 45px;
      bottom: 20px;
      border-left: none;
      @media only screen and @tablet-portrait-max {
        content: none;
      }
    }

  }

  .room-data {

    h3, h4, p {
      line-height: 1.6em;
    }

    h3 {
      margin-top: 0;
      color: #000;
      font-size: 16px;
      line-height: 19px;
      text-transform: uppercase;
      font-family: @lbe-ff-secondary;
    }

    h4{
      font-size: 22px;
      line-height: 32px;
      color: #000;
      text-transform: uppercase;
      font-weight: 300;
      font-family: @lbe-ff-primary;
    }

    .room-data-details{
      display: block;
      width: 100%;
      position: relative;
      .clearfix;
    }

    .desc {
      color: #000;
      font-size: 16px;
      letter-spacing: 0;
      line-height: 19px;
      text-transform: uppercase;
      font-weight: 300;
    }

    .desc,
    .price{
      display: inline;
      float: left;
      max-width: 75%;
      &.price{
        clear: left;
        margin-top: 0;
      }
    }

    .price{
      color: #000;
      font-family: @lbe-ff-secondary;
      strong {
        font-size: 29px;
        line-height: 35px;
        font-weight: bold;
        .viewport-mobile & {
          font-size: 23px;
          line-height: 28px;
        }
      }
      em {
        font-size: 14px;
        letter-spacing: 0;
        line-height: 17px;
      }
    }

    .chain-logo{
      display: none;
    }

    .image-wrapper {
      overflow: hidden;
      // Make width of parent's container by adding the padding to width
      width: calc(~'100% + 28px');
      margin-left: -14px; // This needs to be parent's padding

      img {
        border-radius: 0;
        margin: @baseline/2 0;
        max-height: 117px;
        width: 100%;
        border: none;
        .viewport-mobile & {
          max-height:initial;
        }
      }
    }
    .room-image-placeholder {
      width: 100%;
      height:210px;
      margin-bottom: 14px;
      border-radius: 0;
      margin: 11px 0;
      max-height: 117px;
      width: 100%;
      border: 2px solid #dedede;
      .chain-sand & {
        background:url('@{img-prefix}/sandman-placeholder-large.jpg') no-repeat;
        background-size: cover;
        background-position: center;
      }
      .chain-sign & {
        background:url('@{img-prefix}/signature-placeholder-large.jpg') no-repeat;
        background-size: cover;
        background-position: center;
      }
    }
  }

  .reservation-data {
    color: #242424;

    table {
      width: 100%;
    }

    th {
      font-weight: normal;
      text-align: left;
      padding: 0 5px;
    }

    td {
      font-weight: 700;
      padding: 0 5px;
    }

    .data {
      margin: @spacing 0;
      border: solid 1px #d1d1d1;
      border-bottom: none;
    }

    .charges {
      padding: 0;
      border: none;
      border-radius: 0;
      th {
        text-align: left;
        font-weight: 400;
      }
      td {
        font-weight: 700;
      }
      .breakdown-toggle{
        td {
          padding-top:10px;
          .separator {
            display: none;
          }
          span {
            display: block;
          }
        }
        a{
          color: @c-menu-active-sand;
        }
      }
    }

  }

  label[for="agreement2"] {
    display: none;
  }

  label[for="agreement3"] {
    margin: 10px 0 20px 0;
    padding: 0px;
    line-height: 20px;
    text-align: left;
    display: block !important;
    .viewport-mobile &{
      margin-left: 0;
    }
  }

  .reservation-controls {
    text-align: center;
    registration-call {
      display: none;
      .viewport-mobile &{
        display: none;
      }
    }

    .viewport-mobile &{
      width: 100%;
    }

    h4 {
      font-size: @size-4;
      color: @c-link;
      margin-bottom: @baseline/4;
      font-weight: 100;
    }

    .next {
      float: right;
      margin: 0 @spacing;
      .viewport-mobile &{
        margin: 0 0 0 @spacing/2;
      }
    }

    .back {
      float: left;
      margin: 0 @spacing 0 0;
      text-shadow: none;
      .viewport-mobile &{
        padding: 0;
        margin: 0 @spacing/2 0 0;
      }
    }
  }


  @media screen and @large-mobile-min and @large-mobile-max {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  @media screen and @tablet-portrait-min {
    margin-left: auto;
    margin-right: auto;
  }
}



@media only screen and @large-mobile-min {

}

// DESKTOPS and TABLETS in LANDSCAPE orientation
@media only screen and @tablet-portrait-min {

  reservation-widget {

    // Fix for chrome not to change bg colour when auto filling
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px #000 inset !important;
      -webkit-text-fill-color: #fff !important;
    }

    .input-left,
    .input-right {
      box-sizing: border-box;
      clear: none;
      width: 50%;

      &.wide {    width: 75%; }
      &.narrow {  width: 25%; }
    }

    .input-left {
      float: left;
      padding-right: 10px;
    }

    .input-right {
      float: right;
      padding-left: 10px;
    }
  }

  reservation-buttons {

    .button {
      &.back,
      &.next {
        .grid-width(2);
        width: @width;
      }
    }
  }
}

.ReservationDetails__overview {
  background: #fff;
  padding: 14px;
  box-sizing: border-box;
}

////////////////////////////////////////////////
// Billing details form and payment w/ points //
////////////////////////////////////////////////
reservation-billing {

  // Wrapper
  > div {
    margin: 30px 0 20px 0;
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
    .viewport-mobile &{
      padding: 0;
    }
  }

  .payment-methods {
    cursor: pointer;

    li {
      display: inline-block;
      vertical-align: middle;
      &.points{
        float: right;
      }
    }

    li + li {
      margin-left: 10px;
    }

    .divider {
      display: none;
    }

    i {
      display: block;
      opacity: 1;
      width: 61px;
      height: 61px;
      background-repeat: no-repeat;
      background-position: center center;

      &.selected {
        opacity: 1;
      }

      &.visa {
        background-image: url('@{img-prefix}/card-icons/visa.png');
      }

      &.master {
        background-image: url('@{img-prefix}/card-icons/mastercard.png');
      }

      &.amex {
        background-image: url('@{img-prefix}/card-icons/amex.png');
      }

      &.discover {
        background-image: url('@{img-prefix}/card-icons/discover.png');
      }

      &.points {
        width: 80px;
        background-image: url('@{img-prefix}/card-icons/points.png');
      }
    }
  }

  // Payment with users points
  .payment-points {
    margin-top: @spacing;

    th, td {
      padding: 10px 0;
      font-size: @size-1;
    }

    th {
      width: 75%;
      text-align: left;
      font-weight: normal;
    }

    td {
      color: @c-brown;
      font-weight: bold;
      font-size: @size-2;
      text-align: right;
    }

    .earned {
      color: @c-green;
    }

    .balance {

      th, td {
        font-size: @size-3;
      }
    }

    // Negative value
    .not-enough {
      color: @c-red;
    }

    // "Not enough points..."
    .error {
      margin-top: @spacing;
      color: @c-red;
    }

    registration-call {
      text-align: center;
      display: block;
      margin: 87px 0px;
    }
  }

  .chosen-container {
    line-height: 45px;
    height: 45px;
    border-radius: 0;
    border-color: #d7d7d7;

    a {
      font-size: 14px;
      font-weight: normal;
      padding-left: 10px;
    }
  }

  .payment-card {
    form {
      width: 100%;

      .card-details {
        .expiry-title {
          width: 70%;
          position: relative;
          text-align: center;
          .viewport-mobile &{
            width: 100%;
          }

          label {
            padding: 5px;
            line-height: 20px;
            font-weight: normal;
            display: inline-block;
            background-color: transparent;
          }

          &:before {
            content: '';
            display: block;
            border-left: 1px solid @c-light-grey;
            border-right: 1px solid @c-light-grey;
            border-top: 1px solid @c-light-grey;
            height: 10px;
            position: absolute;
            left: 0px;
            right: 10px;
            top: 25px;
          }
        }

        .card-expiry {
          float: left;
          width: 70%;

          .viewport-mobile &{
            width: 100%;
          }

          > label {
            padding-top: 5px;
          }
        }

        .card-cvv {
          float: left;
          width: 30%;
          position: relative;

          .viewport-mobile &{
            width: 100%;
          }

          > label {
            padding-top: 5px;

            span {
              top: -10px;
            }
          }

          .help {
            cursor: pointer;
            position: absolute;
            border-radius: 30px;
            border: 1px solid @c-light-grey;
            right: -28px;
            top: 18px;
            width: 20px;
            height: 20px;
            text-align: center;
            .viewport-mobile &{
              right: 5px;
            }
          }
        }

        &.invalid {
          .expiry-title {
            label {
              color: @c-red;
            }

            &:before {
              border-color: @c-red;
            }
          }

          .chosen-container {
            border-color: @c-red;
          }
        }
      }
    }
  }
}

//////////////////////////////////////////////
// Confirmation step of reservation process //
//////////////////////////////////////////////
reservation-confirmation {

  > div {
    border-radius: 0;
    border: solid 2px #ffffff;
    border-top: none;

    .viewport-mobile &{
      margin-top: 20px;
    }
  }

  .tab-pane {
    border-top: none;
  }

  .tab-pane.active,
  .tab-pane.active {
    background: transparent;
  }

  // Tab headers (links)
  .nav-tabs {

    li:first-of-type {
      background: transparent;
      border-top: solid 2px #ffffff;
    }

    li:nth-of-type(2) {
      background: url('@{img-prefix}/yellow-bg.png');
      background-size: contain;
      border-bottom: solid 1px #ffffff;
    }

    li:last-of-type {
      background: url('@{img-prefix}/blue-bg.png');
      background-size: contain;
      border-bottom: solid 1px #ffffff;
    }

    a {
      color: grey;
      font-weight: normal;
      text-transform: uppercase;
      font-family: @lbe-ff-primary;
    }

    li.active {
      a {
        color: #fff;
        font-weight: bold;
      }
    }

    li{
      .viewport-mobile &{
        min-height: 90px;
      }
    }
  }

  table{
    color: #fff;
    font-family: @lbe-ff-secondary;
    letter-spacing: -0px;
    font-weight: 300;
    tr {
      th {
        text-transform: uppercase;
        font-size: 15px;
      }
      td {
        font-size: 16px;
        line-height: 19px;
      }
    }
  }
}


////////////////////////////////
// Reservation Finished page  //
//  - after succesful payment //
////////////////////////////////
reservation-finished {

  margin-top: 260px;

  .viewport-mobile &{
    margin-top: 130px;
    .RoomImage {
      display: none;
    }
    .reservation-summary {
      padding: 0 20px;
      width: 100%;
      padding-bottom: 40px !important;
    }
    .booking-details {
      width: 100%;
    }
    .table-container {
      width: 100%;
    }
  }

  hr {
    display: none;
  }

  hotel-location {
    .map-wrapper {
      width: 100vw;
      margin-left: calc(~'-50vw + 50% - 10px');
      height: 376px;
      .viewport-mobile & {
        height: 326px;
        margin-top: 120px;
        margin-left: calc(~'-50vw + 50%');
      }
    }
  }

  .video-section {
    width: 100vw;
    margin-left: calc(~'50% - 50vw');
    margin-bottom: 50px;
    height: 500px;
    .viewport-mobile & {
      height: 172px;
    }
  }

  .map-section {
    hotel-location {
      > header {
        margin: 154px 0 72px 0;
        .viewport-mobile & {
          display: none;
        }
      }
      .view-map-link {
        display: none;
      }
      h2 {
        text-transform: uppercase;
        text-align: center;
        color: #000;
        font-family: @lbe-ff-primary;
        font-size: 31px;
        font-weight: bold;
        line-height: 36px;
        &:after {
          content: url('@{img-prefix}/lbe/divider-orange.png');
          display: block;
        }
      }
    }
  }


  // This part is specific for RESERVATION DETAIL page only
  .reservation-summary {

    width: 100vw;
    margin-left: calc(~'50% - 50vw');
    padding: 70px 0;
    padding-top: 70px !important;
    background-color: rgba(26, 26, 26, 0.8);
    .backdrop-filter-blur(20px);

    .summary-container {
      max-width: 1212px;
      margin-left: auto;
      margin-right: auto;
    }

    // Block w/ PRINT and ADD TO PASSBOOK and SHARE buttons
    .actions {
      position: relative;
      display: inline-block;
      width: 100%;
      margin-bottom: 20px;

      @media print {
       display: none;
      }

      .share {
        float: initial;
        display: block;
        width: 100%;
        color: #fff;
        margin: 20px 0;

        a {
          &.icon-fb {
            &:before {
              content: @fa-var-facebook-square;
              color: #fff;
            }
          }
          &.icon-twitter {
            &:before {
              content: @fa-var-twitter;
              color: #fff;
            }
          }
          &.icon-gplus {
            &:before {
              content: @fa-var-google-plus;
              color: #fff;
            }
          }
          &.icon-email {
            &:before {
              content: @fa-var-envelope;
              color: #fff;
            }
          }
        }
      }

      .passbook{
        float: left;
        a {
          display: block;
          margin-left: @spacing / 2;
        }
        .button-passbook {
          background: url('@{img-prefix}/v4/btn-passbook.png');
          width: 108px;
          height: 36px;
          float: right;
          margin-left: 0;
        }

        .button-print {
          background: url('@{img-prefix}/v4/btn-print.png');
          width: 37px;
          height: 36px;
          float: right;
        }

        .viewport-mobile &{
          clear: both;
          float: left;
          .button-print {
            margin-left: 0;
            margin-right: @spacing / 2;
          }
          .button-passbook {
            margin-left: 0;
            margin-right: @spacing / 2;
          }
        }
      }

      span {
        visibility: hidden;
      }
    }


    footer {
      text-align: right;
      float: right;
      padding: 0;
      line-height: 20px;
      a{
        font-size: 12px;
        color: @c-secondary;
        &:hover{
          color: @c-secondary;
        }
      }
    }
  }

  // List of possible enhancements for users reservation
  .reservation-enhance {
    ul {
      .clearfix;
      margin: @spacing 0;
      padding: @spacing @spacing / 2;
      border: 2px solid rgba(214, 185, 185, 0.4);
      border-radius: 4px;
      background-color: rgba(215, 198, 174, 0.2);
    }

    li {
      display: inline-block;
      box-sizing: border-box;
      padding: 0 @spacing / 2;

      &.half {
        width: 50%;
        .viewport-mobile &{
          width: 100%;
        }
      }
      &.third {
        width: 33.3333%;
        .viewport-mobile &{
          width: 100%;
        }
      }

      > div {
        cursor: pointer;
        padding-bottom: 5px;
        border-radius: 4px;
        background: #fff;
        box-shadow: 0 2px 1px 0 fade(@c-black, 50%);
        text-align: center;
        overflow: hidden;

        a.eye-icon{
          position : relative;
          display: block;

          img{
            display: block;
          }

          &:before {
            content: '';
            display: block;
            background: @c-black;
            opacity: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            .transition(opacity, .3s, ease-in-out);
          }

          &:after {
            .fa;
            content: @fa-var-eye;
            background: transparent;
            color: #fff;
            font-size: 48px;
            line-height: 27px;
            position: absolute;
            width: 48px;
            height: 30px;
            left: 50%;
            top: 50%;
            margin-left: -24px;
            margin-top: -18px;
            opacity: 0;
            .transition(opacity, .3s, ease-in-out);
          }

          &:hover {
            &:after{
              opacity: 1;
            }
            &:before{
              opacity: .3;
            }
          }

          &.disabled{
            cursor: default;
            pointer-events: none;
          }
        }

        h4 {
          color: @c-primary;
        }
      }
    }

    h4, p, i {
      padding: 0 @spacing / 2;
    }

    img {
      width: 100%;
    }

    h4 {
      margin: @baseline 0;
      font-size: @size-2;
      text-transform: uppercase;
      font-weight: normal;
      span{
        font-weight: normal;
      }
    }

    i {
      display: block;
      color: @c-primary;
      font-size: @size--1;
      line-height: @baseline;
      text-align: left;
      font-weight: 700;
      padding: 0 14px;
    }

    p {
      margin: @baseline 0;

      a {
        font-weight: 600;
      }
    }

    .button {
      margin: @spacing / 2 0;
      padding: 0 @spacing / 2;
      width: 45%;

      small {
        font-size: 0.75em;
        font-style: italic;
        font-weight: normal;
        opacity: 0.75;
      }
    }

    .button + .button {
      margin-left: @spacing / 2;
    }
  }

  .newsletter-cta{
    a{
      display: block;
      img{
        width: 100%;
        max-width: 100%;
        height: auto;
        display: inline-block;
      }
    }
  }

  .reservation-enhancements {

    margin-bottom: 2*@baseline;

    .total {
      font-size: @size-2;
      font-weight: 600;
      text-align: right;
      color: @c-link;
    }

    list-item {
      border-top: 0;
    }
  }

  .button.disabled {
    .button-colors(gray, @colorButtonGray, @colorButtonGrayHover);
  }

  @media print {
    margin-top:0;
  }
}


///////////////////////////////////////////////
// Common code for:                          //
//  - RESERVATIONS page                      //
//  - RESERVATION DETAIL page                //
//                                           //
//  Code specific only for RESERVATIONS page //
//  is placed in file                        //
//  `src/styles/views/reservations.less`     //
///////////////////////////////////////////////
///
reservation-finished,
reservation-hotel-details {

  .booking-details {
    padding-top: 20px;
    width: 50%;
    float: left;
  }

  .reservation-summary {

    padding-top: 0;

    header {
      .clearfix;
      margin: 0 0 2 * @spacing 0;
      float: left;
      width: 100%;

      h1,
      div > div {
        float: left;
        width: 33.3333%;
        .viewport-mobile & {
          width: 100%;
          float: none;
        }
      }
    }

    h1 {
      color: @c-grey;
      font-size: 18px;
      line-height:26px;
      font-weight: 600;
      text-transform: uppercase;
    }

    .reference {
      font-size: 18px;
      padding-left:100px;
      text-align:left;
      p{
        color: @c-grey;
        font-weight: 700;
        line-height:26px;
        margin-top:0;
      }

      p + p{
        color: @c-grey;
        font-weight: 300;
      }

      strong {
        font-size: 18px;
        font-weight: 400;
      }

      &.reference-visible {
        visibility: visible;
      }

      .viewport-mobile & {
        text-align: left;
        padding: 0;
        p{
          display: inline;
        }
      }
    }

    .booked {
      color: @c-grey;
      font-size: 18px;
      line-height:26px;
      font-weight: 600;
    }
  }

  // Reservation data in tables
  .tables {

    .table-container {
      border: solid 1px white;
      padding: 20px 10px;
      box-sizing: border-box;
      width: 50%;
      float: right;
      .viewport-mobile & {
        width: 100%;
      }
    }

    table {
      margin-top: 0 !important;
      float: right;
      border: none;
      display: table;
      .price-breakdown {
        color: @lbe-c-primary;
      }
      td {
        font-weight: 300 !important;
        padding-bottom: 10px;
      }
      tr {
        padding-bottom: 6px !important;
      }
    }

    figure {
      width: 33.3333%;
      float: left;

      .viewport-mobile & {
        width: 100%;
        margin-bottom: 20px;
      }

      img {
        width: 100%;
        margin-bottom: 14px;
        height: 348px;
      }

      .room-image-placeholder {
        width: 100%;
        height:210px;
        margin-bottom: 14px;
      }

      button,
      button.disabled {
        height: 39px;
        line-height: 39px;
        width: 48%;
        font-size: 14px;
        text-transform: uppercase;

        @media print {
         display: none;
        }
      }

      button.disabled {
        background: @lbe-c-primary;
        &:active,
        &:focus,
        &:hover {
          background: @lbe-c-primary;
        }
      }

      button:first-of-type{
        border-radius: 0;
        background: @lbe-ff-primary;
        &:active,
        &:focus,
        &:hover {
          background: @lbe-ff-primary;
        }
      }

      button + button {
        float: right;
        background: transparent;
        background-color: transparent;
        border: solid 2px @lbe-c-primary;
        border-radius: 0;
        box-shadow: none;
        &:hover {
          background: transparent;
          background-color: transparent;
          box-shadow: none;
        }
      }
    }

    > div {
      padding-left: 50px;
    }

    .chain-logo {
      display: none;
    }

    h1, h3, h4, .booking-date {
      font-family: @lbe-ff-secondary;
      color: #fff;
      text-transform: uppercase;
      font-weight: 300;
    }

    span, tr, td {
      font-family: @lbe-ff-secondary;
      color: #fff;
      font-weight: 300;
    }

    h1 {
      font-size: 34px;
      line-height: 41px;
      margin-bottom: 18px;
      max-width: 75%;
    }

    h3 {
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 14px;
      max-width: 75%;
    }

    h4, .booking-date {
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 14px;
    }

    .booking-policies {
      display: block;
      margin-top: 20px;
      .booking-policies {
        color: @lbe-c-primary;
      }
    }

    table {
      margin-top: @baseline;
      width: 100%;
      color: @c-grey;
      font-size: 14px;
    }

    th, td {
      width: 25%;

      &[rowspan] {
        vertical-align: bottom;
      }
    }

    th {
      font-weight: 300;
      text-align: left;
    }

    td {
      font-weight: 700;
      text-align: right;
    }

    th:not(:first-child) {
      padding-left: 2 * @spacing;
    }

    .total {
      font-weight: 300;
    }

    .total-value {
      font-size: 14px;
      font-weight: 700;
    }

    .extended-total {
      text-align: right;
    }

    .extended-charges{
      border: none;

      table {
        width: 100%;
        td {
          .viewport-mobile & {
            text-align: right;
          }
        }
      }

      .past-booking-message {
        background:#daf3f6;
        border:1px solid @c-menu-active;
        padding:10px 5px;
        text-align:center;
        p {
          color:@c-secondary;
        }
      }

      .extended-total{
        position: initial;
        width: 100%;
        text-align: right;
        a{
          font-size: 12px;
          line-height: 14px;
          color: @c-secondary;
          &:hover{
            color: @c-secondary;
          }
        }
      }
    }
  }
}

.reservation-summary {
  &[ng-click] {
    cursor: pointer;
  }
}

.ConfirmationBackground {
  background: url('@{img-prefix}/confirmation-bg.png');
  position: absolute;
  height: 900px;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: -999;
  .viewport-mobile & {
    height: 1150px;
    background-size: cover;
  }
}

dialog.confirmation-dialog .ui-dialog {
  overflow-x: hidden;
}
