<article class="HotelContactInfo">

  <div class="HotelContactInfo__item">
    <h3 class="title">{{ address.name }}</h3>
    <p class="info">{{ address.line1 }}</p>
    <p ng-if="address.line2" class="info">{{ address.line2 }}</p>
    <p ng-if="address.line3" class="info">{{ address.line3 }}</p>
    <p class="phone">{{ address.phone }}</p>
  </div>

  <div class="HotelContactInfo__item">
    <h3 class="title">_reservation_services_</h3>
    <p class="phone">{{ contact.phone }}</p>
    <a ng-href="mailto:{{contact.email}}" class="email">_email_us_</a>
  </div>

  <div class="HotelContactInfo__item">
    <h3 class="title">_guest_services_</h3>
    <p class="phone">{{ other.phone }}</p>
    <a ng-href="mailto:{{contact.email}}" class="email">_email_us_</a>
  </div>

</article>
