/////////////////////
//// STAR RATING ////
/////////////////////

.star-rating {
  margin: 0;

  li {
    display: inline-block;
    margin: 0 1px;

    &:after {
      content: @fa-var-star;
      font-family: FontAwesome;
      display: inline-block;
      color: @c-light-grey;
      cursor: pointer;
    }

    &.included:after {
      color: @c-link;
    }
  }
}
