<hero-slider content="heroContent"></hero-slider>

<breadcrumbs stickable="main-header"></breadcrumbs>

<main class="grid-wrapper">

  <div class="preloader" ng-show="preloader.visible"></div>

  <prestige-account id="prestige-account" grid-row>

    <div grid="12">

      <header>
        <div class="bg"></div>
        <h1 ng-bind-html="'_your_balance_:&nbsp;' | mainHeaderStyle"></h1>
        <p class="points">560 points</p>
      </header>

      <div class="transactions">

        <nav>
          <h2 class="title">
            <span ng-if="viewMode === 'recent'"><span ng-bind-html="'_recent_transactions_' | mainHeaderStyle"></span></span>
            <span ng-if="viewMode === 'pending'"><span ng-bind-html="'_pending_transactions_' | mainHeaderStyle"></span><em>_prestige_account_pending_desc_</em></span>
          </h2>
          <ul>
            <li><a href="" ng-click="viewMode = 'recent'" ng-class="{'active': viewMode === 'recent'}"><span ng-if="!isMobile()">_recent_</span><span ng-if="isMobile()">_recent_transactions_</span></a></li>
            <li><a href="" ng-click="viewMode = 'pending'" ng-class="{'active': viewMode === 'pending'}"><span ng-if="!isMobile()">_pending_</span><span ng-if="isMobile()">_pending_transactions_</span></a></li>
          </ul>
        </nav>

        <ul class="transaction-items" ng-if="viewMode === 'recent'">

          <li dir-paginate="item in fakeRecent | itemsPerPage: 10" pagination-id="recent" ng-init="item.showComments = false">

            <div class="date">
              <div class="label">_date_added_</div>
              <div class="value">{{item.date}}</div>
            </div>

            <div class="description">
              <div class="label">_manual_entry_</div>
              <h4 class="value">Manually Added Points</h4>
              <p class="detail" ng-class="{'open': item.showComments}">Points added for previous stays at The Sutton Place Hotel Revelstoke Mountain Resort on 14 August 2015 to stay on the 30th of September 2015</p>
              <a href="" class="comments-toggle" ng-click="item.showComments = !item.showComments"><span ng-if="!item.showComments">_show_comments_</span><span ng-if="item.showComments">_hide_comments_</span></a>
            </div>

            <div class="transaction-value">
              <div class="label">_transaction_</div>
              <h4 class="value positive">+10,873</h4>
            </div>

            <div class="balance">
              <div class="label">_balance_</div>
              <h4 class="value">11,688</h4>
            </div>

          </li>

          <!--
          <li>

            <div class="date">
              <div class="label">_date_added_</div>
              <div class="value">21 Sep 2015</div>
            </div>

            <div class="description">
              <div class="label">_manual_reduction_</div>
              <h4 class="value">Manually Removed Points</h4>
            </div>

            <div class="transaction-value">
              <div class="label">_transaction_</div>
              <h4 class="value negative">-200</h4>
            </div>

            <div class="balance">
              <div class="label">_balance_</div>
              <h4 class="value">11,488</h4>
            </div>

          </li>

          <li>

            <div class="date">
              <div class="label">_date_added_</div>
              <div class="value">13 Sep 2015</div>
            </div>

            <div class="description booking">
              <div class="booking-item">
                <div class="label">_booking_reference_</div>
                <h4 class="value">EDM-EE-03213</h4>
              </div>
              <div class="booking-item">
                <div class="label">_check_in_</div>
                <h4 class="value">13 Nov 2015</h4>
              </div>
              <div class="booking-item">
                <div class="label">_check_out_</div>
                <h4 class="value">13 Nov 2015</h4>
              </div>
            </div>

            <div class="transaction-value">
              <div class="label">_transaction_</div>
              <h4 class="value negative">+435</h4>
            </div>

            <div class="balance">
              <div class="label">_balance_</div>
              <h4 class="value">1015</h4>
            </div>

          </li>

          <li>

            <div class="date">
              <div class="label">_date_opened_</div>
              <div class="value">12 Aug 2015</div>
            </div>

            <div class="description">
              <div class="label"></div>
              <h4 class="value">_prestige_account_opened_desc_</h4>
            </div>

            <div class="transaction-value">
            </div>

            <div class="balance">
              <div class="label">_balance_</div>
              <h4 class="value">0</h4>
            </div>

          </li>
          -->

        </ul>

        <dir-pagination-controls pagination-id="recent" ng-if="viewMode === 'recent'" on-page-change="onPageChange()"></dir-pagination-controls>

        <ul class="transaction-items pending" ng-if="viewMode === 'pending'">

          <li dir-paginate="item in fakeRecent | itemsPerPage: 10" pagination-id="pending">

            <div class="date">
              <div class="label">_date_booked_</div>
              <div class="value">{{item.date}}</div>
            </div>

            <div class="booking-ref">
              <div class="label">_booking_reference_</div>
              <h4 class="value">EDM-EE-03213</h4>
            </div>

            <div class="booking-ref desktop">
              <div class="label">_check_in_</div>
              <h4 class="value">13 Nov 2015</h4>
            </div>

            <div class="booking-ref desktop">
              <div class="label">_check_out_</div>
              <h4 class="value">13 Nov 2015</h4>
            </div>

            <div class="transaction-value">
              <div class="label">_transaction_</div>
              <h4 class="value">435</h4>
            </div>

          </li>

          <!--
          <li>

            <div class="date">
              <div class="label">_date_booked_</div>
              <div class="value">10 Sep 2015</div>
            </div>

            <div class="booking-ref">
              <div class="label">_booking_reference_</div>
              <h4 class="value">EDM-EE-03213</h4>
            </div>

            <div class="booking-ref">
              <div class="label">_check_in_</div>
              <h4 class="value">13 Nov 2015</h4>
            </div>

            <div class="booking-ref">
              <div class="label">_check_out_</div>
              <h4 class="value">13 Nov 2015</h4>
            </div>

            <div class="transaction-value">
              <div class="label">_transaction_</div>
              <h4 class="value">435</h4>
            </div>

          </li>
          -->

        </ul>

        <dir-pagination-controls pagination-id="pending" ng-if="viewMode === 'pending'" on-page-change="onPageChange()"></dir-pagination-controls>

      </div>
      

    </div>

  </prestige-account>

  <scroll-to-top class="back-to-top" ng-click="scrollToTop()" scroll-position="scroll" ng-class="{visible: scroll > scrollTopTrigger}"><span>_back_to_top_</span></scroll-to-top>

</main>
