@import "./variables";
@import "./mobile";

.recommendation-carousel {

  position: relative;
  margin-left: 0;
  width: 100vw;
  height: auto;

  .recommendation-background {
    position: absolute;
    top: 0;
    left: 0;
    background: url('@{img-prefix}/lobby.jpg') center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .recommendation-logo {
    display: inline-block;
    vertical-align: top;
    img {
      width: 180px;
    }
  }
  .recommendation-content {
    display: inline-block;
    max-width: 990px;
    margin-left: 30px;
  }

  .recommendation-content-wrapper {
    display: block;
    width: auto;
    height: auto;
    max-width: 1212px;
    margin: 0 auto;
  }

  .recommendation__rating {
    margin-bottom: 20px;
    i {
      color: #fff;
      display: inline-block;
      font-size: 20px;
      margin-right: 7px;
    }
  }

  .recommendation__title {
    color: #FFFFFF;
    font-family: @ff-primary;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 24px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  .recommendation__text {
    position: relative;
    font-weight: normal;
    background-color: transparent;
    width: auto;
    border-radius: 0;
    padding: 0;
    box-shadow: none;
    display: block;
    color: #FFFFFF;
    font-family: @ff-secondary;
    font-size: 21px;
    letter-spacing: 1px;
    line-height: 31px;
    min-height: 110px;
  }


  .recommendation__avatar {
    margin: 20px 0 0 0;
    width: auto;
    display: block;

    .recommendation__name-prefix {
      display: inline-block;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      box-sizing: border-box;
      border: 0;
      background-color: #fff;
      color: #6E562A;
      text-align: center;
      line-height: 48px;
      font-family: @ff-secondary;
      font-size: 32px;
      font-weight: bold;
    }
  }

  .recommendation__avatar-info {
    display: inline-block;
    margin-left: 15px;
    height: 50px;
    h2 {
      color: #FFFFFF;
      font-family: @ff-primary;
      font-size: 16px;
      font-weight: 500;
      line-height: 50px;
    }
  }



  // Left/right controls for nav
  // ---------------------------

  .carousel-control {
    display: inline-block;
    position: absolute;
    top: auto;
    left: calc(~'(50% + 1212px / 2) - 65px');
    bottom: 50px;
    text-align: right;
    // We can't have this transition here because WebKit cancels the carousel
    // animation if you trip this while in the middle of another animation.

    // Set gradients for backgrounds
    &.left {
    }
    &.right {
      left: calc(~'(50% + 1212px / 2) - 15px');
      right: unset;
    }

    // Hover/focus state
    &:hover,
    &:focus {
      outline: 0;
      text-decoration: none;
    }

    // Toggles
    .icon-prev,
    .icon-next,
    .glyphicon-chevron-left,
    .glyphicon-chevron-right {
      background: url('@{img-prefix}/lbe/Circle Arrow - Left(white)@2x.png') center no-repeat;
      background-size: 30px 30px;
      position: absolute;
      z-index: 5;
      display: inline-block;
      font-size: 30px;
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
    .icon-next,
    .glyphicon-chevron-right {
      background: url('@{img-prefix}/lbe/Circle Arrow - Right (white)@2x.png') center no-repeat;
      background-size: 30px 30px;
    }
    .icon-prev,
    .icon-next {
      width:  20px;
      height: 20px;
      margin-top: -10px;
    }
  }

  .carousel-indicators {
    display: none;
  }

}
