/*
 |======================================
 | Desktop
 |======================================
 */
@testimonial-quote-width: 984px;
@testimonial-quote-height: 106px;

@testimonial-avatar-size: 76px;

@testimonial-name-size: 24px;
@testimonial-city-size: 18px;

@testimonial-text-size: 32px;
@testimonial-line-height: 45px;
