<ul class="ota-products">
  <li ng-repeat="otaProduct in otaProducts">
    <span class="ota-rate" ng-hide="otaLoading">
      <h4>{{otaProduct.description}}</h4>
      <a href="{{otaProduct.link}}" class="ota-rate-text" target="_blank" ng-if="otaProduct.link">
        <img ng-src="{{otaProduct.logo}}" class="rate-logo" alt="{{otaProduct.type}} logo" />
        <span class="value">{{otaProduct.price | i18nCurrency: currencyCode }}</span>
      </a>
      <span class="ota-rate-text" ng-if="!otaProduct.link">
        <img ng-src="{{otaProduct.logo}}" class="rate-logo" alt="{{otaProduct.type}} logo" />
        <span class="value">{{otaProduct.price | i18nCurrency: currencyCode }}</span>
      </span>
    </span>
    <span class="ota-preloader" ng-hide="!otaLoading">
      <span class="ota-loader"></span>
      <span class="ota-loader-text">_ota_loading_</span>
    </span>
  </li>
</ul>
