<article ng-if="testimonial.review"
         class="TripAdviserQuote">

  <div ng-if="testimonial.reviewer"
       class="TripAdviserQuote__author">

    <div class="thumbnail">
      <img ng-src="{{ testimonial.reviewer.avatar }}" alt="review avatar">
    </div>

    <div class="author-details">
      <div class="name">{{ testimonial.reviewer.name }}</div>
      <div class="city">{{ testimonial.reviewer.location }}</div>
    </div>

  </div>

  <div class="opening-quote"></div>

  <h2 class="TripAdviserQuote__review">
    {{ testimonial.review }}
  </h2>

  <div class="closing-quote"></div>

</article>
