<!-- this should be filled with actual data from API
     it should be presented in the following structure -->
<section class="hotel-detail__offers"
         grid-row
         ng-if="offersList.length && !$root.thirdparty"
         ng-class="{'single-offer-mobile': singleOfferMobile}">

  <hr />

  <header class="section-header"
          grid="12"
          id="jsOffers">
    <h2 ng-if="!singleOfferMobile || !isMobile"
        ng-bind-html="'_offers_title_' | mainHeaderStyle"
        class="offer-title">
    </h2>
    <h2 ng-if="singleOfferMobile && isMobile"
        class="single-offer-title">
      _selected_offer_for_you_
    </h2>
  </header>


  <offers-list grid-row>
    <offer-item ng-repeat="offer in offersList track by $index">
      <a href="{{offer.url}}">
        <img class="grid-img"
             ng-src="{{offer.image.uri | cloudinaryImage : 310 : 160 : 'fill'}}"
             alt="{{offer.image.alt}}">
        <section>
          <h2 ng-bind-html="offer.availability && offer.availability.title && offer.availability.title != '' ? offer.availability.title : offer.title | wrapWordHtml : 'span' : 0 : config.offersThumbnailsTitlePattern : false"></h2>
          <div ng-bind-html="offer.availability && offer.availability.subtitle && offer.availability.subtitle != ''  ? offer.availability.subtitle : offer.subtitle"></div>
        </section>
        <span class="read-more">
          _read_more_
        </span>
      </a>
    </offer-item>
  </offers-list>

  <p grid="12" class="more-btn">
    <a ng-href="{{propertyOffersHref}}">
      <span ng-if="!singleOfferMobile || !isMobile">
        _see_more_
      </span>
      <span ng-if="singleOfferMobile && isMobile">
        _show_all_offers_
      </span>
    </a>
  </p>
</section>
