<div class="ui-info">
  <div class="modal-header">
    <h1>My <strong>Badges</strong></h1>
    <button class="button-close" ng-click="cancel()">X</button>
  </div>
  <div class="modal-body">
    Badges list goes here

    <div>
      <ul>
        <a href ng-repeat="badge in items">
          <img ng-src="{{badge.icon}}" alt="{{badge.name}}" ng-click="selectItem(badge)"/>
        </a>
      </ul>
    </div>

    <div ng-show="selectedItem">
      <h2>{{selectedItem.name}}</h2>
      <img ng-src="{{selectedItem.icon}}" alt="{{selectedItem.name}}"/>
      <p>{{selectedItem.description}}</p>
    </div>
  </div>
</div>
