<header>
  <h1>My <strong>Badges</strong></h1>
  <button-close role="button" aria-label="Close" ng-click="cancel()"></button-close>
</header>

<main>
  <div class="preloader" ng-show="preloader.visible"></div>

  <badges-list>
    <badge-icon ng-repeat="badge in badges" ng-click="showBadgeDetail(badge)">
      <img ng-src="{{badge.icon}}" alt="{{badge.name}}" err-source="http://lorempixel.com/71/71"/>
    </badge-icon>
  </badges-list>

  <badge-selected>
    <h2>{{selectedBadge.name}}</h2>
    <img ng-src="{{selectedBadge.icon}}" alt="{{selectedBadge.name}}" err-source="http://lorempixel.com/140/140"/>
    <p>{{selectedBadge.description}}</p>
  </badge-selected>
</main>
