<header>
  <h1>{{data.name}}</h1>
  <button-close role="button" aria-label="Close" ng-click="cancel()"></button-close>
</header>

<main>
  <div class="preloader" ng-show="preloader.visible"></div>

  <loyalty-cards-list>
    <loyalty-card ng-repeat="stamp in data.stamps track by $index" ng-class="{'is-earned': stamp.earned}">
      <img ng-src="{{stamp.image}}" ng-if="stamp.image" />
    </loyalty-card>
  </loyalty-cards-list>

  <loyalty-card-selected>
    <p>{{data.description}}</p>
  </loyalty-card-selected>
</main>
