<div class="ui-info">
  <header>
    <h1 ng-bind-html="data.nameFormatted"></h1>
    <button-close role="button" aria-label="Close" ng-click="cancel()"></button-close>
  </header>

  <main>
    <div class="preview">
      <img ng-src="{{data.images[0].uri}}" alt="{{data.images[0].alt}}" ng-if="data.images && data.images.length && data.images[0].uri"/>
    </div>

    <div class="details">
      <div class="description">
        <p ng-bind-html="sanitize(data.description)"></p>
      </div>
    </div>
  </main>

  <footer>
    <p class="alert-points" ng-if="data._isAffordable === false">_rewards_modal_points_required_ <strong><ng-pluralize count="data.pointCost" when="{'1': '{} _point_', 'other': '{} _points_'}"></ng-pluralize></strong> _rewards_modal_points_balance_ <strong>{{data._customerTotalPoints}}</strong></p>

    <button class="button" ng-if="!data.earned" ng-click="ok()" ng-disabled="data._isAffordable === false">_buy_for_ <ng-pluralize count="data.pointCost" when="{'1': '{} _point_', 'other': '{} _points_'}"></ng-pluralize></button>
  </footer>
</div>
