<div class="ui-info">
  <div class="modal-header">
    <h1 class="modal-title">{{data.name}}</h1>
    <button class="button-close" ng-click="cancel()">X</button>
  </div>

  <div class="modal-body">
      <div class="preview">
        <img ng-src="{{data.images[0].uri}}" alt="{{data.images[0].alt}}" err-source="http://lorempixel.com/300/160/"/>
      </div>

      <div class="details">
        <div class="description">
          <p ng-bind-html="sanitize(data.description)"></p>
        </div>
      </div>
  </div>

  <div class="modal-footer">
     <button class="button" ng-if="!data.consumed" ng-click="ok()" ng-disabled="!data._isAffordable">Buy for <ng-pluralize count="data.pointCost" when="{'1': '{} point', 'other': '{} points'}"></ng-pluralize></button>
  </div>
</div>
