<div class="ui-info">
  <header>
    <h1 ng-bind-html="'_tiers_modal_title_' | mainHeaderStyle"></h1>
    <button-close role="button" aria-label="Close" ng-click="cancel()"></button-close>
  </header>

  <main>
    <ul>
      <li>
        <img ng-src="/static/images/v4/tier-gold.png">
        <div>
          <h3 ng-bind-html="'_tiers_modal_gold_title_' | mainHeaderStyle"></h3>
          <p>
            When you enroll, you will instantly become a <strong>Sutton Gold Member</strong> and receive the following benefits: maintain your personal profile online and be recognized as a preferred guest, personalized, fast, and efficient check-in, access to special member only rates at <a href="http://www.suttonplace.com" target="_blank">www.suttonplace.com</a>, choice of daily newspaper, priority room preferences, direct access to Guest Services Manager for program related inquiries, earn one point for every dollar spent on (<a href="https://www.suttonplace.com/about/sutton-prestige-guest-rewards-program-prestige" target="_blank">eligible charges</a>), earn additional bonus points based on our specific promotions, redeem your points for free air travel, redeem your points for meals and accommodations at any of our Sutton Place Hotels, redeem your points for merchandise and gift certificates, and redeem your points for free trips to exotic international destinations.
          </p>
        </div>
      </li>

      <li>
        <img ng-src="/static/images/v4/tier-platinum.png">
        <div>
          <h3 ng-bind-html="'_tiers_modal_platinum_title_' | mainHeaderStyle"></h3>
          <p>
            After your 15th stay (from enrollment), your membership will be automatically upgraded to <strong>Sutton Platinum</strong>, and you will receive VIP status with the following additional benefits: 72-hour last room availability, 4:00pm extended check-out upon availability, express CHECK-IN and CHECK-OUT, cheque cashing privileges up to $500, free upgrade to next room category upon availability, welcome call from our Guest Services Manager, and a welcome amenity on arrival day. After your membership has been upgraded to <strong>Sutton Platinum</strong>, you must maintain a total of 5 stays per calendar year at any of our hotels to maintain your Platinum Status.
          </p>
        </div>
      </li>
    </ul>
  </main>
</div>
