<div class="ui-info">
  <header>
    <h1 ng-bind-html="'_tiers_modal_title_' | mainHeaderStyle"></h1>
    <button-close role="button" aria-label="Close" ng-click="cancel()"></button-close>
  </header>

  <main>
    <ul>
      <li>
        <img ng-src="/static/images/v4/tier-gold.png">
        <div>
          <h3 ng-bind-html="'_tiers_modal_gold_title_' | mainHeaderStyle"></h3>
          <p ng-bind-html="'_gold_tier_description_'"></p>
        </div>
      </li>

      <li>
        <img ng-src="/static/images/v4/tier-platinum.png">
        <div>
          <h3 ng-bind-html="'_tiers_modal_platinum_title_' | mainHeaderStyle"></h3>
          <p ng-bind-html="'_platinum_tier_description_'"></p>
        </div>
      </li>
    </ul>
  </main>
</div>
