@media only screen and @tablet-portrait-min {
  .dropdown-menu {
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.15);
    top: 30px;
    border-radius: 6px;
    li[currency-list] &,
    li[currency-list] & {
      top: 60px;
    }
    .desktop-profile & {
      top: 60px;
    }
    &.submenu {
      background-color: #fff;
      .chain-sign & {
        background: @c-primary-sign;
      }
      .chain-sand & {
        background: @c-primary-sand;
      }
      min-width: 150px;
      margin-left: 0;
      a {
        color: #9B9B9B;
        font-family: @ff-primary;
        font-size: 14px;
        font-weight: 300;
      }
      li {
        padding: 0;
        margin: 0;
        border: none;
        &:hover {
          background-color: #F0F0F0;
        }
        a span {
          line-height: 20px;
          font-size:12px;
        }
        .dropdown {
          padding:0;
          a {
            font-size:13px !important;
          }
        }
      }
    }
    li {
      //border-top: 1px solid #343434 !important;
      //padding: 15px 0 0 0 !important;
      //margin: 15px;
      .chain-sign &, .chain-sand & {
        border-top:1px solid rgba(255, 255, 255, 0.2)!important;
      }
      &:first-child {
        padding-top:0 !important;
        border-top:0px none !important;
      }
      a{
        text-transform:initial !important;
        font-size: 15px !important;
        line-height:22px;
        font-weight: 700;
        span {
          font-weight:300;
        }
      }
      .divider {
        display:none;
      }
    }
  }
  .triangle-with-shadow {
    position: absolute;
    top: -20px;
    left: 47px;
    width: 50px;
    height: 20px;
    overflow: hidden;
    box-shadow: none;
  }
  .triangle-with-shadow:after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background: #fff;
    transform: rotate(45deg);
    top: 8px;
    left: 12px;
    box-shadow: -2px -2px 2px 0px rgba(0, 0, 0, 0.15);
  }
}
