/////////////////////////
//// HORIZONTAL LINE ////
/////////////////////////

hr {

	height: 20px;

  &,
  &.dividerWithoutImage{
    background: url('@{img-prefix}/lbe/divider-orange.png') center center no-repeat;
  }

  &:after ,
  &:before {
    border-top: 1px solid #eaeaea;
    z-index: -1;
    .chain-sand &,
    .chain-sign &{
      width: 50%;
    }
  }

}
