/////////////////////
//// MESSAGE BOX ////
/////////////////////

.msg-box {
  background: rgba(62, 177, 194, 0.18);
  color: @c-secondary;
  border-radius: 3px;
  font-weight: 700;
  width: 100%;
  padding: @baseline/2;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: @baseline;

  a {
    text-decoration: underline;
    color: @c-secondary;
    &:hover {
      color: @c-secondary;
    }
  }

  cursor: pointer;
}
