
.use-ribbon {
  .highlight-ribbon, .member-ribbon {
    width: 155px !important;
    position: absolute;
    top: 5px;
    right: -9px;
    padding: 10px 15px 12px 22px !important;
    line-height: 14px;
    border-right: 0px none !important;
    text-align: right;
    color: white !important;
    text-transform: uppercase !important;
    font-weight: 400 !important;
    text-shadow: 1px 1px 1px rgba(55, 53, 53, 0.65);
    font-size: 11px;
    .chain-sign & {
      font-family:@ff-heading-it-sign;
      font-size:12px;
    }
    .viewport-mobile & {
      box-sizing: border-box;
      width: 160px !important;
      max-width: initial;
      padding-left: 27px;
    }
  }
  .highlight-ribbon {
    width: 40% !important;
    background: url("@{img-prefix}/lbe/members-only-rate-bg@2x.png") no-repeat center right;
    background-size:100% 100%;
    .chain-sign & {
      background: url("@{img-prefix}/red-ribbon.svg") no-repeat center right;
      background-size:100% 100%;
    }
  }
  .member-ribbon {
    background: url("@{img-prefix}/blue-ribbon.png") no-repeat center right;
    background-size:100% 100%;
    width: 150px !important;
    right: -6px;
    top: 28px;
    padding: 10px 15px 12px 20px !important;
  }
}
