<article class="questionnaire">

  <article class="questionnaire__points" ng-if="!isMobile">
    <div class="questionnaire__title">
      _your_status_
    </div>
    <div class="questionnaire__info">
      <div class="name">{{ name }}</div>
      <div ui-sref="profile"
           class="profile-link">
        _view_profile_
        <i class="fa fa-angle-right"></i>
      </div>
    </div>

    <div class="tier-and-points">
      <div class="tier">
        <div class="tier-medallion" ng-class="tier ? tier.toLowerCase() : ''">
          <i class="fa fa-user"></i>
        </div>
        <div class="tier-text">
            <span class="tier-label">_current_tier_</span>
            <span class="current-tier" ng-class="tier ? tier.toLowerCase() : ''">{{ tier }}</span>
        </div>
      </div>

      <div class="points-amount">
        <span class="points">{{ points }}</span>
        <span class="points-label">_points_</span>
      </div>
    </div>


    <!-- TODO: need more information where to get pendingPoints, currently pendingPoints always equals false -->
    <div class="book-now-to-save" ng-if="pendingPoints">
     <div class="book-now-to-save-title">Pending Points</div>
     <div class="book-now-to-save-text">You are due to earn <span class="emphasis">{{ pendingPoints }} points</span>
      over your next <span class="emphasis">{{ pendingStays }} stays</span>.</div>
    </div>

    <div class="book-now-to-save" ng-if="question && !pendingPoints">
      <div class="book-now-to-save-title">Earn More Points</div>
      <div class="book-now-to-save-text">Answer your Questionnaire to earn <span class="emphasis">{{ rewardPoints }} points</span>.</div>
     </div>

    <div class="book-now-to-save" ng-if="!question && !pendingPoints">
      <div class="book-now-to-save-title">Book now to save</div>
      <div class="book-now-to-save-text"><span class="emphasis">Book now</span> and <span class="emphasis">earn points</span> to spend towards your next stay.</div>
     </div>
  </article>

  <div class="questionnaire__exclusive-offer" ng-if="isMobile && offers.length">
    <button ng-click="gotoOffer(offers[0])">View your offers</button>
  </div>

  <div class="questionnaire__title streched" ng-if="isMobile">
    <div class="name">{{ name }}</div>
    <div class="points">{{ points }} <span class="points-title">_points_</span></div>
  </div>

  <div ng-if="question" class="stop-gap"></div>

  <article ng-if="question" class="questionnaire__questions">
    <span class="error" ng-if="errorMsg">{{ errorMsg }}</span>

    <div class="questionnaire__title">
      _questionnaire_title_
    </div>

    <p class="questionnaire__subtitle">_questionnaire_subtitle_</p>

    <p class="questionnaire__reward">{{ reward }}</p>

    <h1 class="questionnaire__question">{{ question }}</h1>

    <ul class="questionnaire__options">
      <li ng-repeat="option in options">
        <label>
          <input type="radio"
                 name="choice"
                 ng-model="poll.choiceId"
                 ng-value="option.id" />
          <div class="styled-radio">
            <div class="styled-checked-indicator"></div>
          </div>
          {{ option.name }}
        </label>

      </li>
    </ul>

    <div class="button-positionner">
      <button type="submit"
              ng-click="answer()"
              class="questionnaire__submit">
        _submit_answer_
      </button>
    </div>
  </article>

  <article ng-if="nextStay"
           class="questionnaire__next-stay questionnaire__reservation reservation-detail">
              <div class="reservation-overview">

                <div ui-view>

                  <div class="reservations">

                    <div class="reservations-title">
                      Reservations
                    </div>

                    <div ng-if="!nextStay &&
                                futureStays.length === 0"
                         class="reservations-not-available">

                      <div>
                        <h3>_reservation_list_empty_</h3>
                        <p>_please_make_reservation_</p>
                        <button-submit ng-if="!isLoyaltyEngine"
                                       ng-click="selectDates()">
                          _select_dates_
                        </button-submit>
                        <button-submit ng-if="isLoyaltyEngine"
                                       ng-click="$state.go('hotels', { scrollTo: 'jsAbout'})">
                          _select_hotel_
                        </button-submit>
                      </div>

                    </div>

                    <div class="ReservationsNextStay__container">
                        <div class="members-only-rate">
                            <i class="simple-star"></i>
                            Members Only Rate
                          </div>
                          <div class="members-only-rate-rectangle"></div>
                      <div ng-if="nextStay" class="ReservationsNextStay">
                        <!-- TODO SAME AS BOOKING COMPLETE PREVIEW -->
                        <div class="ReservationsNextStay__title">
                          <h1 ng-bind-html="'_reservation_page_nextstay_title_' | mainHeaderStyle"></h1>
                        </div>
                        <reservation-item>
                            <reservation-details currency-code="defaultCurrencyCode"
                                                 reservation="nextStay"
                                                 property="properties[nextStay.property.code]">
                            </reservation-details>
                        </reservation-item>
                      </div>
                      <div ng-if="!nextStay && futureStays.length"
                           class="ReservationsNextStay empty">
                        <h3 class="noNextStay">
                          Looks like you don’t have any upcoming stays, {{ user.firstName }}
                        </h3>
                      </div>

                      <div
                        class="available-upgrades"
                        ng-if="nextStay.availableAddons.length > 0"
                        ng-class="{'expanded-view': nextStay.expandedView}">

                        <div class="available-upgrades-title">Enchance your stay</div>
                        <div class="available-upgrades-item" ng-repeat="addon in nextStay.availableAddons">
                          <img ng-src="{{addon.image.uri}}" alt="{{ addon.image.uri }}" class="available-upgrades-item-image">
                          <div class="available-upgrades-item-text">
                            <div class="available-upgrades-item-text-title">Add {{ addon.name }}</div>
                            <div class="available-upgrades-item-text-price">${{ addon.price.totalAfterTax }}</div>
                          </div>
                          <div class="available-upgrades-item-button" ng-click="openAddonDetailDialog($event, addon, false)">Add to stay</div>
                        </div>
                        <div
                          ng-if="!nextStay.expandedView"
                          class="available-upgrades-view-all-button"
                          ng-click="nextStay.expandedView = true;">

                          View all add ons
                        </div>
                      </div>
                    </div>


                    <div ng-if="futureStays.length" class="future-stays">

                      <div ng-class="{'grid-wrapper':viewSettings.fullWidthSections}">

                        <div class="ReservationsFutureStay__title">
                          <h1 ng-bind-html="'_reservation_page_futurestays_title_' | mainHeaderStyle"></h1>
                        </div>

                        <div class="carousel">
                          <carousel>
                            <slide ng-repeat="reservation in futureStays | orderBy:'bookingDate' : true" active="slide.active">
                              <div class="table-wrap">
                                <reservation-details currency-code="defaultCurrencyCode"
                                                  reservation="reservation"
                                                  property="properties[reservation.property.code]">
                                </reservation-details>
                              </div>
                            </slide>
                          </carousel>
                        </div>

                      </div>

                    </div>

                    <div class="clear_fix"></div>
                  </div>

                </div>
              </div>

  </article>



</article>
