///////////////////////
//// TARGET CONFIG ////
///////////////////////

// Override defaults vars with target specific

//// COLORS ////
////////////////

// color names mapped to meanings
// these should be used in the app
@c-text:       	#262626;
@c-brand:		#69a91d;
@colorHeaderBackground: #fff;


//// DIMENSIONS ////
////////////////////

@radius:          2px;

@headerHeight:    95px;


///// Components /////
//////////////////////
@c-booking-widget: @c-brand;

@c-datepicker: @c-brand;