<header id="main-header" ng-include="'layouts/header.html'">
</header>

<user-messages></user-messages>

<!-- MAIN CONTENT AREA -->
<div ui-view autoscroll="true"></div>

<!-- Growl alerts, as this is the template for the abstract BaseCtrl, events calling the growl alerts should propagate to the growl alert event listeners -->
<growl-alerts
  class="growl-alerts-dir"
  languages-message="'_languages_message_'"
  retention-message="'_retention_message_'"

  booking-message="'_statistics_booking_message_'"
  views-message="'_statistics_views_message_'"
  searches-message="'_statistics_searches_message_'"
  minute="'_minute_'"
  minutes="'_minutes_'"
  hour="'_hour_'" hours="'_hours_'"
  day="'_day_'" days="'_days_'"
  week="'_week_'" weeks="'_weeks_'"
  position-reference="regionConfig.bookingStatistics.positionReference"
  display-time="regionConfig.bookingStatistics.displayTime"
  display-delay="regionConfig.bookingStatistics.displayDelay"
>

</growl-alerts>

<!-- BOOKING WIDGET AREA-->
<floating-bar ng-class="{'hide': $state.includes('reservation') || $state.includes('error'), 'bar-top-right':floatingBarMobileTopRight}"></floating-bar>

<footer class="main" ng-if="!hideFooter" ng-class="{'special-footer': $state.includes('hotel') || $state.includes('reservationDetail') || $state.includes('reservation') || $state.includes('reservations'), 'no-booking-bar': $state.includes('reservation') || $state.includes('error')}" ng-include="'layouts/footer.html'">
</footer>

<!--Full Screen busy indicator with optional message-->
<fullscreen-spinner></fullscreen-spinner>
