<nav class="breadcrumbs" ng-if="breadcrumbs.length > 0">
  <div class="wrapper">
    <ul ng-if="breadcrumbs.length > 0">
      <li><a ui-sref="home">Home</a></li>
      <li ng-repeat="link in breadcrumbs">
        <a ng-if="link.state" ng-href="{{$state.href(link.state, link.params)}}">{{link.name}}</a>
        <span ng-if="!link.state">{{link.name}}</span>
      </li>
    </ul>
    <ul ng-if="hrefs.length > 0">
      <li ng-repeat="href in hrefs" ng-class="{selected: activeHref === href.name}">
        <a ng-if="href.id" ng-click="scrollTo(href.id)">{{href.name}}</a>
        <span ng-if="!href.id">{{href.name}}</span>
      </li>
    </ul>
  </div>
</nav>
