<nav class="breadcrumbs">
  <!-- Start breadcrumbs -->
  <div class="wrapper" ng-show="config.displayBreadcrumbs">
    <div class="inner">
      <h1 ng-if="isProperty && config.displayPropertyTitle">{{breadcrumbHeader}}</h1>
      <ul class="crumbs">
        <li ng-if="showHomeBreadCrumb"><a ui-sref="home" ui-sref-opts="{reload:true}">_home_</a></li>
        <li ng-repeat="link in breadcrumbs">
          <a ng-if="link.state" ng-href="{{$state.href(link.state, link.params) + (link.hash ? '#' + link.hash : '')}}">
            <span ng-switch="link.name.toLowerCase()">
              <span ng-switch-when="offers">_offers_deals_</span>
              <span ng-switch-when="hot deals">_hot_deals_</span>
              <span ng-switch-when="about us">_about_us_</span>
              <span ng-switch-when="hotels">_hotels_</span>
              <span ng-switch-when="rewards">_rewards_</span>
              <span ng-switch-when="profile">_profile_</span>
              <span ng-switch-when="news">_news_</span>
              <span ng-switch-when="contact">_contact_</span>
              <span ng-switch-when="reservations">_reservations_</span>
              <span ng-switch-when="register">_register_</span>
              <span ng-switch-when="hotel search">_hotel_search_</span>
              <span ng-switch-when="rooms">_rooms_</span>
              <span ng-switch-when="my stays">_my_stays_</span>
              <span ng-switch-when="prestige">_loyalty_progam_title_</span>
              <span ng-switch-default>{{link.name}}</span>
            </span>
          </a>
          <span ng-switch="link.name.toLowerCase()" ng-if="!link.state">
            <span ng-switch-when="offers">_offers_deals_</span>
            <span ng-switch-when="hot deals">_hot_deals_</span>
            <span ng-switch-when="about us">_about_us_</span>
            <span ng-switch-when="hotels">_hotels_</span>
            <span ng-switch-when="rewards">_rewards_</span>
            <span ng-switch-when="profile">_profile_</span>
            <span ng-switch-when="news">_news_</span>
            <span ng-switch-when="contact">_contact_</span>
            <span ng-switch-when="reservations">_reservations_</span>
            <span ng-switch-when="register">_register_</span>
            <span ng-switch-when="hotel search">_hotel_search_</span>
            <span ng-switch-when="rooms">_rooms_</span>
            <span ng-switch-when="my stays">_my_stays_</span>
            <span ng-switch-when="prestige">_loyalty_progam_title_</span>
            <span ng-switch-default>{{link.name}}</span>
          </span>
        </li>
      </ul>
      <ul ng-if="hrefs.length > 0 && showAltNav" class="alt-nav">
        <li ng-repeat="href in hrefs" ng-class="{selected: scrollActiveHref.id === href.id}" ng-if="!$root.thirdparty || ($root.thirdparty && href.id && href.name.toLowerCase() !== 'offers')">
          <a href ng-if="href.id && href.name.toLowerCase() === 'about'" ng-click="scrollTo(href.id)">_about_</a>
          <a href ng-if="href.id && href.name.toLowerCase() === 'rates'" ng-click="scrollTo(href.id)">_rates_</a>
          <a href ng-if="href.id && href.name.toLowerCase() === 'rooms'" ng-click="scrollTo(href.id)">_rooms_</a>
          <a href ng-if="href.id && href.name.toLowerCase() === 'location'" ng-click="scrollTo(href.id)">_location_</a>
          <a href ng-if="href.id && href.name.toLowerCase() === 'offers'" ng-click="scrollTo(href.id)">_offers_</a>
          <a href ng-if="href.id && href.name.toLowerCase() === 'the-property'" ng-click="scrollTo(href.id)">_the_property_</a>
          <a href ng-if="href.id && href.name.toLowerCase() === 'gallery'" ng-click="scrollTo(href.id)">_gallery_</a>

          <span ng-if="!href.id && href.name.toLowerCase() === 'about'">_about_</span>
          <span ng-if="!href.id && href.name.toLowerCase() === 'about'">_rates_</span>
          <span ng-if="!href.id && href.name.toLowerCase() === 'rooms'">_rooms_</span>
          <span ng-if="!href.id && href.name.toLowerCase() === 'location'">_location_</span>
          <span ng-if="!href.id && href.name.toLowerCase() === 'offers'">_offers_</span>
          <span ng-if="!href.id && href.name.toLowerCase() === 'the-property'">_the_property_</span>
          <span ng-if="!href.id && href.name.toLowerCase() === 'gallery'">_gallery_</span>
        </li>
      </ul>
      <ul ng-if="absHrefs.length && showAltNav" class="alt-nav">
        <li ng-repeat="link in absHrefs" ng-if="!$root.thirdparty || ($root.thirdparty && href.id && href.name.toLowerCase() !== 'offers')">

          <a ng-if="link.state && link.name.toLowerCase() === 'about'" ng-href="{{$state.href(link.state, link.params)}}">_about_</a>
          <a ng-if="link.state && link.name.toLowerCase() === 'rooms'" ng-href="{{$state.href(link.state, link.params)}}">_rooms_</a>
          <a ng-if="link.state && link.name.toLowerCase() === 'location'" ng-href="{{$state.href(link.state, link.params)}}">_location_</a>
          <a ng-if="link.state && link.name.toLowerCase() === 'offers'" ng-href="{{$state.href(link.state, link.params)}}">_offers_</a>
          <a ng-if="link.state && link.name.toLowerCase() === 'gallery'" ng-href="{{$state.href(link.state, link.params)}}">_gallery_</a>

          <span ng-if="!link.state && link.name.toLowerCase() === 'about'">_about_</span>
          <span ng-if="!link.state && link.name.toLowerCase() === 'rooms'">_rooms_</span>
          <span ng-if="!link.state && link.name.toLowerCase() === 'location'">_location_</span>
          <span ng-if="!link.state && link.name.toLowerCase() === 'offers'">_offers_</span>
          <span ng-if="!link.state && link.name.toLowerCase() === 'gallery'">_gallery_</span>
        </li>
      </ul>
    </div>
  </div>
  <!-- End breadcrumbs -->
  <!-- Start static content -->
  <p ng-show="config.displayStaticContent">_breadcrumbs_static_content_</p>
  <!-- End static content -->
</nav>
