//// COLORS ////
////////////////

/*Main style*/
@c-primary: #1a1919;
@c-secondary: #e3a314;
@c-secondary-transparent: rgba(62, 177, 194, 0.24);
@c-secondary-transparent-dark: rgba(62, 177, 194, 0.3);
@c-brown:    #7d6f5e;
@c-light-brown: #ac7f49;
@c-green: #37a744;
@c-red: #cc0c39;

@c-light-grey: #dedede;
@c-grey: #606060;
@c-mid-grey: #979797;
@c-dark-grey: #1a1919;
@c-dark-grey-transparent: rgba(26, 25, 25, 0.8);

@c-text: @c-grey;
@c-black: @c-dark-grey;

@c-menu-active: #0d375c;

// Fonts
@ff-primary: Raleway;
@ff-secondary: Lato;

///// Components /////
//////////////////////
@c-booking-widget: #1a1a1a;
@c-booking-widget-active: #1a1a1a;
@c-booking-widget-my-account: @c-light-brown;

@c-datepicker: @c-dark-grey;
@c-datepicker-unavailable: #d0021b;
@c-datepicker-partially-available: #cf9a4d;

/*Signature chain style*/
@c-primary-sign: #7d6f5e;
@c-secondary-sign: #903938;
@c-menu-active-sign: #e6781e;

@ff-heading-sign: 'MinionPro-Regular', serif;
@ff-heading-it-sign: 'MinionPro-It', serif;
@ff-heading-bold-sign: 'MinionPro-Bold', serif;

/*Sandman chain style*/
@c-primary-sand: #ac7f49;
@c-menu-active-sand: #3eb1c2;


.backdrop-filter-blur(@amount) {
  // Work around for backdrop-filter blur, due ot its poor browser support
  &::before {
    content: '';
    position: absolute;
    top: 20px;
    right: 0;
    bottom: 0;
    left: 0;
    filter: blur(@amount);
    z-index: -1;
  }
}
