.ui-datepicker{
	.ui-datepicker-buttonpane {
		background: lighten(@c-datepicker, 10%);
		padding: @baseline/2;
		.ui-datepicker-close {
			min-width: 100px
		}
	}
}

.ui-datepicker:after {
	color: lighten(@c-datepicker, 10%);
}
.ui-datepicker-header {
	line-height: @baseline/2;
}
//- Calendar Table
.ui-datepicker-calendar {
	margin: @baseline/3 @baseline/2;
  tbody {
  	td, th {
  		line-height: @baseline/3;
  		vertical-align: middle;
    }
    td.date-range-selected {
    	background: lighten(@c-datepicker, 10%);
    	a {
    		background: none
    	}
    }
	}
}