/////////////////////////
//// HORIZONTAL LINE ////
/////////////////////////

hr {
  background: #979797;
  height: 2px;
  left: 0;
  width: 100%;

  .grid-wrapper & {
  	display: block;
  	max-width: 960px;
  	margin-left: auto;
  	margin-right: auto;
  }

  //- Dashed lines on right and left
  &:after ,
  &:before {
    border: 0
  }
}
