/////////////////////////
//// HORIZONTAL LINE ////
/////////////////////////

hr {
  background: #979797;
  height: 2px;
  left: 0;
  width: 100%;

  //- Dashed lines on right and left
  &:after ,
  &:before {
    border: 0
  }
}
