
hotel-location {
	contact-list,
	transportation-list{
		strong {
	    	color: #a49335;
	    	hotel-detail & {
				color: @c-grey;
			}
		}
	}
	i{
		color: #a49335;

		hotel-detail & {
			color: #9D8E64;
			font-size: @size-1
		}
	}
}