////////////////////
//// LIST ITEMS ////
////////////////////

list-items {
	&.grid-view.other-rooms {
		list-item {
			figure {
				margin-top: 30px
			}

			h2 {
				position: absolute;
				padding: 0;
				top: 0;
				left: 0
			}
		}
	}
}