////////////////////////
//// LIST OF OFFERS AND REWARDS////
////////////////////////

offers-list,
rewards-list {


  offer-item,
  reward-item {
    width: 265px;
    border-radius: 0;
    height: 290px;
    margin: auto auto @baseline;

    border: 0;
    box-shadow: none;

    .viewport-mobile & {
      box-shadow: 0 0px 2px 1px #bbb inset;
    }

    //- Image
    img {
      margin-bottom: @baseline/2;
      max-height: 148px;
    }

    //- Title
    h2, h3 {
      margin-bottom: @baseline/2;
      color: #a49335;
      font-size: @size-1;
    }

    //- Description
    div {
      color: @c-grey;
    }

    //- Read More
    span {
      color: #a49335;
      font-family: @ff-bold;
    }

    //- Advert Offer
    &.advert {
      height: 290px;
    }

  }
}
