////////////////////
//// TYPOGRAPHY ////
////////////////////


/*  ==========================================
    Font Families
    ========================================== */

@font-face {
  font-family: 'MinionPro-It';
  src: url('../font/minion/MinionPro-It.eot?#iefix') format('embedded-opentype'),
    url('../font/minion/MinionPro-It.otf')  format('opentype'),
    url('../font/minion/MinionPro-It.woff') format('woff'),
    url('../font/minion/MinionPro-It.ttf')  format('truetype'),
    url('../font/minion/MinionPro-It.svg#MinionPro-It') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MinionPro-Bold';
  src: url('../font/minion/MinionPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../font/minion/MinionPro-Bold.otf')  format('opentype'),
    url('../font/minion/MinionPro-Bold.woff') format('woff'),
    url('../font/minion/MinionPro-Bold.ttf')  format('truetype'),
    url('../font/minion/MinionPro-Bold.svg#MinionPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MinionPro-Regular';
  src: url('../font/minion/MinionPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../font/minion/MinionPro-Regular.otf')  format('opentype'),
    url('../font/minion/MinionPro-Regular.woff') format('woff'),
    url('../font/minion/MinionPro-Regular.ttf')  format('truetype'),
    url('../font/minion/MinionPro-Regular.svg#MinionPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}




// typography defaults
body {
  font-family: @ff-primary;
  font-size: @size--0;
  line-height: @baseline;
  font-weight: normal;
}

h1,
h2{
  font-family: @ff-primary;
}

.h1, .h2 {
  text-transform: uppercase;
  font-weight: 600;
}

.markdown-content {
  ul, ol {
    margin-top: 1em;
    list-style: disc;
    margin-bottom: 20px;
    position: initial;
    left: 0;
  }
}

//Default styling for ul's has been overridden due to a chrome rendering issue
//list bullets were displaying left of an adjacent image floated left
.markdown-content {
  ul {
    margin-top: 1em;
    margin-bottom: 20px;
    list-style:none;
    overflow:hidden;
    padding-left:15px;
    left:0;
    li {
      position:relative;
      &:before{
        content:'';
        position:absolute;
        display:block;
        background:black;
        width:5px;
        height:5px;
        border-radius:10px;
        left:-15px;
        top:9px;
      }
    }
  }
}

.page-title {
  margin: 50px 0 15px 0;
  font-family: @ff-secondary;
  color: #826837;
  font-size: 35px;
  line-height: 38px;
  font-weight: 300;
  text-transform: none;

  .viewport-mobile & {
    margin: 15px 0 0 0;
    text-transform: uppercase;
    line-height: 22px;
    font-size: 18px;
  }
}

.header {
  margin: 15px 0;
  color: #000000;
  font-family: @ff-primary;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 24px;
  text-transform: uppercase;

  .viewport-mobile & {
    font-size: 16px;
    line-height: 19px;
  }
}
