<booking-widget-search>
  <h3 ng-if="!advanced">_booking_widget_title_</h3>

  <!-- FIND YOUR HOTEL -->
  <form-element class="hotel" ng-show="hasPropertySelection && !singleProperty">
    <select name="regionHotels" required chosen
            disable-search="false"
            data-placeholder="_region_hotel_"
            ng-model="regionPropertySelected"
            chosen-options-class="{ 'region': type === 'region', 'property': type === 'property' }"
            ng-options="option.name for option in propertyRegionList"
            ng-change="propertyRegionChanged(); checkAvailability()">
      <option></option> <!-- workaround for a bug in angular-chosen  -->
    </select>
    <form-label>_find_your_hotel_</form-label>
  </form-element>

  <form-element class="hotel disabled-hotel" ng-show="!hasPropertySelection && !singleProperty">
    <div class="chosen-container chosen-container-single disabled">
      <a class="chosen-single" tabindex="-1">
        <span>{{regionPropertySelected.name}}</span>
        <div><b></b></div>
      </a>
    </div>
  </form-element>

  <!-- ENTER YOUR DATES -->
  <form-element class="dates">
    <input type="text"
            id="booking-widget-date-range"
            placeholder="_dates_"
            range-datepicker
            ng-model="selected.dates"
            data-range-selection="1"
            data-close-button-text="_continue_"
            ng-required="true"
            readonly="true"
            show-button-bar="false"
            highlights="availability"
            data-include-counter="1"
            pane-title="getCurrentRate()"
            data-counter-pluralization="{'0': '_no_dates_selected_short_', '1': '{} _night_', 'plural': '{} _nights_'}"
            input-text="inputDateText"
            ng-change="checkAvailability()">
    <form-label>_enter_your_dates_</form-label>
    <input-value>{{inputDateText || '_dates_'}}</input-value>
  </form-element>

  <!-- NUMBER OF ADULTS -->
  <form-element class="persons" ng-if="!advanced">
    <select name="adults"
            required ng-model="selected.adults"
            disable-search="true"
            chosen ng-options="option.title for option in guestsOptions.adults"
            data-placeholder="_adults_"
            ng-change="checkAvailability()">
    <option></option> <!-- workaround for a bug in angular-chosen -->
    </select>
    <form-label>_number_of_adults_</form-label>
  </form-element>

  <!-- NUMBER OF CHILDREN -->
  <form-element class="persons" ng-if="!advanced">
    <select name="children"
            required ng-model="selected.children"
            disable-search="true"
            chosen ng-options="option.title for option in guestsOptions.children"
            data-placeholder="_children_"
            ng-change="checkAvailability()">
    <option></option> <!-- tworkaround for a bug in angular-chosen -->
    </select>
    <form-label>_number_of_children_</form-label>
  </form-element>

  <!-- ENTER YOUR CODE -->
  <form-element ng-if="!advanced" class="code" ng-class="{'code-input': selected.codeType}">
    <select name="code"
        required ng-model="selected.codeType"
        disable-search="true"
        chosen ng-options="code as code.title for code in codeTypes"
        ng-change="onCodeTypeChanged()"
        data-placeholder="_apply_code_">
      <option></option>
    </select>

    <input type="text" class="booking-widget-promo-code" ng-show="selected.codeType.param === 'promoCode'" placeholder="_promo_code_" ng-model="selected.promoCode">

    <input type="text" class="booking-widget-promo-code" ng-show="selected.codeType.param === 'corpCode'" placeholder="_corp_code_" ng-model="selected.corpCode">

    <input type="text" class="booking-widget-promo-code" ng-show="selected.codeType.param === 'groupCode'" placeholder="_group_code_" ng-model="selected.groupCode">
    <form-label>{{selected.codeType.title}}</form-label>

    <remove-code role="button" class="remove" ng-click="removeCode()"></remove-code>
  </form-element>
</booking-widget-search>

<booking-widget-add-room ng-if="advanced">
  <booking-widget-room ng-repeat="room in selected.rooms">
    <h3>_room_ {{$index + 1}}</h3>

    <form-element class="persons">
      <select name="adults"
              required ng-model="room.adults"
              data-placeholder="_adults_"
              disable-search="true"
              chosen ng-options="option.title for option in guestsOptions.adults">
        <option></option> <!-- workaround for a bug in angular-chosen -->
      </select>
      <form-label>_number_of_adults_</form-label>
    </form-element>

    <form-element class="persons">
      <select name="children"
              required ng-model="room.children"
              data-placeholder="_children_"
              disable-search="true"
              chosen ng-options="option.title for option in guestsOptions.children">
        <option></option> <!-- workaround for a bug in angular-chosen -->
      </select>
      <form-label>_number_of_children_</form-label>
    </form-element>

    <button-text ng-if="$index > 1" role="button" tabindex="0" ng-click="removeRoom($index)" aria-label="Remove Room">_remove_room_</button-text>
  </booking-widget-room>

  <div>
    <button-text role="button" tabindex="0" ng-click="addRoom()" ng-show="canAddRoom">+ _add_room_</button-text>
  </div>

</booking-widget-add-room>

<!-- SUBMIT BUTTON -->
<button-submit
  role="button" tabindex="0"
  ng-click="isSearchable() && onSearch()"
  ng-disabled="!isSearchable()">
  {{hasMultiroomTab? '_search_now_':'_go_'}}
</button-submit>
