
<booking-widget-search>
  <h3>Make <br> Your <strong>Booking</strong></h3>

  <!-- FIND YOUR HOTEL -->
  <form-element class="hotel" ng-show="hasPropertySelection">
    <select name="regionHotels" required chosen
            disable-search="false"
            data-placeholder="Region / Location / Hotel"
            ng-model="regionPropertySelected"
            chosen-options-class="{ 'region': type === 'region', 'location': type === 'location', 'property': type === 'property' }"
            ng-options="option.name for option in propertyRegionList"
            ng-change="propertyRegionChanged(); checkAvailability()">
      <option></option> <!-- workaround for a bug in angular-chosen  -->
    </select>
    <form-label>Find Your Hotel</form-label>
  </form-element>

  <form-element class="hotel" ng-show="!hasPropertySelection">
    <div class="chosen-container chosen-container-single disabled">
      <a class="chosen-single" tabindex="-1">
        <span>{{regionPropertySelected.name}}</span>
        <div><b></b></div>
      </a>
    </div>
  </form-element>

  <!-- ENTER YOUR DATES -->
  <form-element class="dates">
    <input type="text"
           placeholder="Dates"
           range-datepicker
           ng-model="selected.dates"
           data-range-selection="1"
           ng-required="true"
           show-button-bar="false"
           highlights="availability"
           data-include-counter="1"
           data-counter-pluralization="{'0': 'No dates selected', '1': '{} night', 'plural': '{} nights'}"
           input-text="inputDateText"
           ng-change="checkAvailability()">
    <form-label>Enter Your Dates</form-label>
    <input-value>{{inputDateText || 'Dates'}}</input-value>
  </form-element>
  <!-- NUMBER OF ADULTS -->
  <form-element class="persons">
    <select name="adults"
            required ng-model="selected.adults"
            disable-search="true"
            chosen ng-options="option.title for option in guestsOptions.adults"
            data-placeholder="Adults"
            ng-change="checkAvailability()">
    <option></option> <!-- workaround for a bug in angular-chosen -->
    </select>
    <form-label>Number of Adult(s)</form-label>
  </form-element>

  <!-- NUMBER OF CHILDREN -->
  <form-element class="persons">
    <select name="children"
            required ng-model="selected.children"
            disable-search="true"
            chosen ng-options="option.title for option in guestsOptions.children"
            data-placeholder="Children"
            ng-change="checkAvailability()">
    <option></option> <!-- tworkaround for a bug in angular-chosen -->
    </select>
    <form-label>Number of Children</form-label>
  </form-element>

  <!-- ENTER YOUR CODE -->
  <form-element ng-if="advanced" class="code">
    <input type="text" placeholder="Your Code" ng-model="selected.promoCode">
    <form-label>Enter Your Code</form-label>
  </form-element>

  <!-- SELECT RATE -->
  <form-element ng-if="advanced" class="rate">
    <select name="rate"
            required ng-model="selected.rate"
            disable-search="true"
            chosen ng-options="rate.id as rate.name for rate in rates"
            data-placeholder="Rate">
      <option></option> <!-- workaround for a bug in angular-chosen -->
    </select>
    <form-label>Select Rate</form-label>
  </form-element>

  <!-- SUBMIT BUTTON -->
  <button-submit
    role="button" tabindex="0"
    ng-click="isSearchable() && onSearch()"
    ng-disabled="!isSearchable()">
    Search Now
  </button-submit>
</booking-widget-search>

<booking-widget-add-room ng-if="advanced">

  <booking-widget-room ng-repeat="room in selected.rooms">
    <h3>Room {{$index + 1}}</h3>

    <form-element class="persons">
      <select name="adults"
              required ng-model="room.adults"
              data-placeholder="Adults"
              disable-search="true"
              chosen ng-options="option.title for option in guestsOptions.adults">
        <option></option> <!-- workaround for a bug in angular-chosen -->
      </select>
      <form-label>Number of Adult(s)</form-label>
    </form-element>

    <form-element class="persons">
      <select name="children"
              required ng-model="room.children"
              data-placeholder="Children"
              disable-search="true"
              chosen ng-options="option.title for option in guestsOptions.children">
        <option></option> <!-- workaround for a bug in angular-chosen -->
      </select>
      <form-label>Number of Children</form-label>
    </form-element>

    <button-remove role="button" tabindex="0" ng-click="removeRoom($index)" aria-label="Remove"></button-remove>
  </booking-widget-room>

  <div>
    <button-text role="button" tabindex="0" ng-click="addRoom()" ng-show="canAddRoom">+ Add a room</button-text>
  </div>

</booking-widget-add-room>
