<article
  class="HeroBenefits"
  ng-if="!auth.isLoggedIn()">
  <div class="HeroBenefits__whitebox">
    <div class="HeroBenefits__subtitle">
      <h1>_about_benefits_title_</h1>
      <h2>_about_benefits_subtitle_</h2>
      <div class="HeroBenefits__signup">
        <button class="HeroBenefits__button signup" ng-click="auth.register()">_about_benefit_sign_up_</button>
        <button class="HeroBenefits__button" ng-click="auth.login()">_log_in_</button>
      </div>
    </div>
  </div>
</article>
<article
  class="HeroBenefits"
  ng-if="isMobile && auth.isLoggedIn()">
  <div class="HeroBenefits__subtitle">
    <h1>_about_benefits_subtitle_logged_in_</h1>
  </div>
  <div class="HeroBenefits__signup">
    <button class="HeroBenefits__button book-now" ng-click="openBookingBar()">_book_now_logged_in_</button>
  </div>
</article>