<div class="About__hero">

  <div class="register_space" ng-class="{'logged-in': auth.isLoggedIn()}">
    <main
      class="grid-wrapper header-hero-content"
      ng-class="{'mobile': isMobile}"
      ng-if="auth.isLoggedIn()">

      <div class="HeroBenefits__whitebox">
        <div class="HeroBenefits__subtitle">
          <h1>_welcome_main_page_text_, {{ userObject.firstName }}</h1>
          <h2>Members Recieve Exclusive Offers & Rewards</h2>
          <div class="HeroBenefits__signup">
            <button class="HeroBenefits__button signup" ng-click="gotoOffer(offers[0])">View Your Offers</button>
          </div>
        </div>
      </div>
    </main>
    <hero-slider
      ng-if="!auth.isLoggedIn()"
      class="main-slider main-page-slider"
      ng-class="{'user-not-authenticated': !auth.isLoggedIn()}"
      content="heroContent">
    </hero-slider>
  </div>

  <!--Desktop search bar-->
  <booking-bar class="Home__booking-bar drop-up" size="full-width-bottom" ng-if="!isMobile"></booking-bar>
  <div
    class="home-page-questionnaire"
    ng-if="auth.isLoggedIn()">
    <main class="grid-wrapper">
      <questionnaire></questionnaire>
    </main>
  </div>

  <div class="hotel-description-container"
       ng-class="{'user-not-authenticated': !auth.isLoggedIn()}">
      <main class="grid-wrapper main-content-container">
        <div
          class="register_container"
          ng-if="!auth.isLoggedIn() && !isMobile">
            <div class="signup-title">
              <h1 ng-show="!registerFormSteps.filledEmail">_sign_up_home_</h1>
              <h1 ng-show="registerFormSteps.filledEmail">_guest_details_</h1>
              <div ng-show="registerFormSteps.filledEmail"
                    ng-click="registerFormSteps.filledEmail = false"
                    class="back-btn">
                <i class="fa fa-angle-left"></i>
                _back_
              </div>
            </div>
            <div class="error-message">
              {{ getRegisterValidationMessage(registerForm) }}
            </div>
            <form name="registerForm" class="register-form" novalidate ng-submit="gatedRegisterNext(registerForm, registerData)">
                <fieldset ng-show="!registerFormSteps.filledEmail">
                  <form-element>
                    <input
                      type="email"
                      id="registerEmail"
                      name="registerEmail"
                      ng-model="registerData.email"
                      required
                      email-check
                      placeholder="_email_label_"
                      class="with-icon"
                      ng-class="{'ng-submitted': form.$submitted &&
                                                  (form.registerEmail.$error.required ||
                                                  form.registerEmail.$error.emailCheck)}"/>
                    <div class="input-icon-wrapper">
                      <i class="input-icon fa fa-envelope-o"></i>
                    </div>
                  </form-element>

                  <form-element>
                    <input
                      type="email"
                      id="registerEmailConfirm"
                      name="registerEmailConfirm"
                      ng-model="registerData.emailConf"
                      required
                      email-check
                      equals="registerData.email"
                      placeholder="_confirm_email_label_"
                      class="with-icon"
                      ng-class="{'ng-submitted': form.$submitted &&
                                              (form.registerEmailConfirm.$error.required ||
                                              form.registerEmailConfirm.$error.emailCheck ||
                                              form.registerEmailConfirm.$error.equals)}"/>
                    <div class="input-icon-wrapper">
                      <i class="input-icon fa fa-envelope-o"></i>
                    </div>
                  </form-element>

                  <form-element>
                    <input
                      type="password"
                      id="registerPassword"
                      name="registerPassword"
                      ng-model="registerData.password"
                      ng-pattern="/^(?=.*[a-zA-Z\d].*)[a-zA-Z\d!@#$%&£^*_()+=-]{8,}$/"
                      required
                      placeholder="_password_label_"
                      class="with-icon"
                      ng-class="{'ng-submitted': form.$submitted &&
                                              (form.registerPassword.$error.required ||
                                              form.registerPassword.$error.pattern)}"
                      ng-pattern="$root.generalValidationPattern"/>
                    <div class="input-icon-wrapper">
                      <i class="input-icon simple-lock"></i>
                    </div>
                  </form-element>

                  <form-element>
                    <input
                      type="password"
                      id="registerPasswordConfirm"
                      name="registerPasswordConfirm"
                      ng-model="registerData.passwordConf"
                      required
                      equals="registerData.password"
                      placeholder="_confirm_password_label_"
                      class="with-icon"
                      ng-class="{'ng-submitted': form.$submitted &&
                                              (form.registerPasswordConfirm.$error.required ||
                                              form.registerPasswordConfirm.$error.equals)}"/>
                    <div class="input-icon-wrapper">
                      <i class="input-icon simple-lock"></i>
                    </div>
                  </form-element>

                </fieldset>

                <fieldset ng-show="registerFormSteps.filledEmail">
                  <form-element ng-if="registerTitles">
                    <select name="registerTitle"
                            required
                            chosen
                            disable-search="true"
                            placeholder-text-single="_title_label_"
                            ng-model="registerData.title"
                            ng-options="title.id as title.name for title in registerTitles">
                    </select>
                  </form-element>

                  <form-element>
                    <input
                      type="text"
                      id="registerFname"
                      name="registerFname"
                      ng-model="registerData.firstName"
                      required
                      placeholder="_first_name_label_"
                      ng-class="{'ng-submitted': form.$submitted && form.registerFname.$error.required}"
                      ng-pattern="$root.generalValidationPattern"/>
                  </form-element>

                  <form-element>
                    <input
                      type="text"
                      id="registerLname"
                      name="registerLname"
                      ng-model="registerData.lastName"
                      required
                      placeholder="_last_name_label_"
                      ng-class="{'ng-submitted': form.$submitted && form.registerLname.$error.required}"
                      ng-pattern="$root.generalValidationPattern"/>
                  </form-element>

                  <form-element ng-if="registerCountries">
                    <select type="text"
                            id="country"
                            class="with-icon"
                            required
                            placeholder="_country_label_"
                            placeholder-text-single="_country_label_"
                            ng-options="country.id as country.name for country in registerCountries"
                            ng-model="registerData.localeId"
                            name="country"
                            chosen>
                    </select>
                    <i class="country-icon fa fa-globe"></i>
                  </form-element>

                  <div class="agreements-container">
                    <label
                      for="termsAndConditionsAgreement"
                      class="input-checkbox">
                      <input
                        type="checkbox"
                        id="termsAndConditionsAgreement"
                        ng-model="registerData.termsAndConditionsAccepted"
                        required/>
                      _i_agree_to_
                      <span class="underline">_terms_conditions_</span>
                    </label>
                    <label
                      for="privacyPolicyAgreement"
                      class="input-checkbox">
                      <input
                        type="checkbox"
                        id="privacyPolicyAgreement"
                        ng-model="registerData.privacyPolicyAccepted"
                        required/>
                      _i_agree_with_
                      <span class="underline">_privacy_policy_label_</span>
                    </label>

                  </div>
                  <input type="submit" ng-show="false"/>
                </fieldset>

                <button-submit role="button"
                                tabindex="0"
                                ng-show="!registerFormSteps.filledEmail"
                                ng-click="gatedRegisterNext(registerForm)">
                  _next_
                </button-submit>

                <button-submit role="button"
                                tabindex="0"
                                ng-show="registerFormSteps.filledEmail"
                                ng-click="gatedRegisterNext(registerForm, registerData)">
                  _register_
                </button-submit>



              </form>
        </div>
        <div class="hotel-description-container-content" ng-include="'layouts/lbe/home/hotelInfo.html'"></div>
      </main>
      <section class="hotel-facilities"  ng-include="'layouts/lbe/home/hotelFacilities.html'"></section>

  </div>
  <div ng-include="'layouts/lbe/home/heroBenefits.html'"></div>

  <div class="Home__testimonial">
    <recommendation-carousel></recommendation-carousel>
  </div>

  <div class="Home__contacts">
    <ng-map
      zoom="17"
      max-zoom="18"
      min-zoom="4"
      scrollwheel="true"
      center="[40.7806869,-73.9810357]"
      styles="[{featureType:'poi.business',elementType:'all',stylers:[{visibility:'off'}]}]">
        <custom-marker position="[40.7806869,-73.9810357]">
        <div class="custom-marker"><img src="/static/images/v4/Logo White@2x.png" alt="Mobius logo"><i class="arrow-down"></i></div>
      </custom-marker>
    </ng-map>
    <div class="Home__contacts-box">
      <div class="title">Contact</div>
      <div class="address">Hotel Beacon NYC
          2130 Broadway
          New York, NY 10023</div>
      <div class="phone"><span class="emphasis">Phone:</span> (212) 787-1100</div>
      <div class="Home__contacts-buttons">
        <a class="link-button" href="https://www.beaconhotel.com/contact/">_contact_</a>
        <a class="link-button" href="http://www.google.com/maps/place/40.7806869,-73.9810357" target="_blank">_get_directions_</a>
      </div>
    </div>
    <div class="clear"></div>
  </div>

</div>
