<section grid-row id="jsAbout" class="hotel-overview">
  <div class="hotel-info-details">
    <div class="first-panel">
      <h2 id="welcome-to-the-excelsior-hotel" class="HotelInfo__details--title">The Hotel Beacon NYC</h2>

      <hero-slider ng-if="isMobile"
                   data-has-notification-bar="false"
                   on-slide-click="openGallery"
                   slide-width="hotelViewSettings.hotelInfo.images.width"
                   slide-height="hotelViewSettings.hotelInfo.images.height"
                   content="previewImages">
      </hero-slider>

      <p class="HotelInfo__details--description">
          Located at the corner of Broadway and W 75th, Hotel Beacon is the jewel of the Upper West Side - and a rare
          find in New York City. lt’s one of the few remaining residential hotels, and one of the few places in Manhattan
          where you can flnd spacious rooms and numerous two- bedroom suites.
      </p>
      <p class="HotelInfo__details--description">
          We cater to the traveler who likes to feel at home while in the city - and one who wants to feel like a true New
          Yorker. For that reason our rooms come furnished with fully-equipped kitchenettes, complete with stoves,
          refrigerators, and coffee makers, allowing our guests to enjoy the plethora of family-owned grocery stores
          and bustling delis that are so emblematic of the Upper West Side.
      </p>
    </div>
    <div class="second-panel">
      <hero-slider ng-if="!isMobile"
                   data-has-notification-bar="false"
                   on-slide-click="openGallery"
                   slide-width="hotelViewSettings.hotelInfo.images.width"
                   slide-height="hotelViewSettings.hotelInfo.images.height"
                   content="previewImages">
      </hero-slider>

      <div ng-if="isMobile && filteredAmenities && filteredAmenities.length"
           ng-click="amenitiesSection.show = !amenitiesSection.show"
           class="hotel-info-amenities"
           ng-include="'layouts/components/amenities-expandable.html'">
      </div>
      <div ng-if="!isMobile && filteredAmenities && filteredAmenities.length"
           class="hotel-info-amenities"
           ng-include="'layouts/components/amenities-block.html'">
      </div>
    </div>
  </div>
</section>
