
.viewport-mobile {

  .booking-bar {

    padding: 29px 14px 19px 14px;

    &.booking-bar__size-large {
      height: initial;
      .booking-bar__form {
        form-element {
          display: inline-block;
          padding: 0 0 10px 0;
        }
        .booking-bar__form--room,
        .booking-bar__form--code {
          width: 100%;
        }
        .booking-bar__form--dates,
        .booking-bar__form--guests {
          width: calc(~'50% - 2px'); // @todo find out whats causing the need to offset by 4px
        }
        .booking-bar__submit {
          float: right;
        }
      }
    }

    &.booking-bar__size-small {
      display: none;
    }

  }

}
