* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding-top: @header-height;
}

#main-container {
  background: @c-black;
}

main {
  margin-top: 0px !important;
  padding-top: 70px !important;
}