<div ng-style="{'height': section.height}">
  <div class="parallax-image scrollme animateme" 
    data-when="{{when}}" data-from="{{from}}" data-to="{{to}}" data-crop="false" data-decolor="100" data-easing="easein"
    ng-style="{'height': section.height, 'background-image': 'url(' + section.url + ')', 'background-position': section.position}">
    <a ng-if="showLogo && section.logoLink" href="{{logoLink}}" class="header-logo"><img src="/static/images/logo.png"></a>
    <div ng-if="description" class="description" ng-bind-html="description | trustAsHtml"></div>
    <div class="room-heading-overview" ng-if="roomOverview">
      <div class="grid-wrapper">
        <div grid="12">
          <div class="left-content">
            <h1 ng-bind-html="roomOverview.name | mainHeaderStyle"></h1>
            <span class="sub-title" ng-if="config.displayRoomSubtitle && roomOverview.subTitle">{{roomOverview.subTitle}}</span>
            <div class="description" ng-bind-html="isMobile ? roomOverview.descriptionShort : roomOverview.description | trustAsHtml"></div>
          </div>
          <div ng-if="roomOverview.amenities.length" class="room-amenities">
            <h2 ng-bind-html="'_room_amenities_title_' | mainHeaderStyle"></h2>
            <amenities-list>
              <amenity-item ng-repeat="amenity in roomOverview.amenities" ng-init="amenity.chainCode = property.chainCode">
                <slug-img slug="amenity" type="room" width="15"></slug-img>
                <span class="amenity-caption">{{amenity.name}}</span>
              </amenity-item>
            </amenities-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>